XsltProcessor/xsd/5.24.0/AdditionGuaranteeContract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:agc="urn:customs.ru:Information:CommercialFinanceDocuments:AdditionGuaranteeContract:5.24.0" targetNamespace="urn:customs.ru:Information:CommercialFinanceDocuments:AdditionGuaranteeContract:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Дополнение к договору поручительства (для реестровой деятельности)</xs:documentation>
  </xs:annotation>
  <xs:element name="AdditionGuaranteeContract" type="agc:AdditionGuaranteeContractType">
    <xs:annotation>
      <xs:documentation>Дополнение к договору поручительства (для реестровой деятельности)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AdditionGuaranteeContractType">
    <xs:annotation>
      <xs:documentation>Дополнение к договору поручительства (для реестровой деятельности)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="GuaranteeContractKind" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
              <xs:documentation>Вид договора: 1 -договор поручительства, обеспечивающий в отношении нескольких лиц исполнение обязанностей юридического лица, осуществляющего деятельность в сфере таможенного дела, и (или) исполнение обязанностей уполномоченного экономического оператора, согласно приложению № 3,
2 - договор поручительства, обеспечивающий в отношении нескольких лиц исполнение обязанности по уплате таможенных пошлин, налогов, таможенных сборов, специальных, антидемпинговых, компенсационных пошлин, согласно приложению № 4</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StatusDetails" type="agc:StatusDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Статус договора</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AdditionGuaranteeContractDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата подписания дополнения к договору поручительства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RelatedContract" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Связанный договор</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Guarantor" type="agc:GuarantorType">
            <xs:annotation>
              <xs:documentation>Сведения о поручителе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Creditor" type="agc:CreditorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о кредиторе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Debtor" type="agc:DebtorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о должнике</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ObligationAmount" type="clt_ru:AmountType">
            <xs:annotation>
              <xs:documentation>Сумма обязанности</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ObligationAmountText" type="clt_ru:Text150Type">
            <xs:annotation>
              <xs:documentation>Сумма обязанности прописью</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateBegin" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата вступления в силу Дополнения к договору поручительства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateEnd" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата окончания действия Дополнения к договору поручительства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Contents" type="clt_ru:Text3MB" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Содержание Дополнения к договора поруч ительства (заполняется в зависимости от выбранной формы договора поручительства) </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1002062E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CreditorType">
    <xs:annotation>
      <xs:documentation>Сведения о кредиторе</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationType">
        <xs:sequence>
          <xs:element name="CustomsDetails" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Таможенный орган</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AuthorizedPerson" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>ФИО лица, уполномоченного на подписание Дополнения к договору поручительства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConfirmingDocument" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Документ, подтверждающий полномочия лица</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DebtorType">
    <xs:annotation>
      <xs:documentation>Сведения о должнике</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsBankType">
        <xs:sequence>
          <xs:element name="AddressDetailsActivitiesKind" type="RUScat_ru:RUAddressType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Адрес в зависимости от вида осуществляемой (планируемой к осуществлению) деятельности</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocKind" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Вид документа, по которому может возникнуть обязанность по уплате: 1 - транзитная декларация, 2 - декларация на товары</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegNumberDT" type="cat_ru:GTDIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер таможенной декларации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ActivitiesKind" type="clt_ru:CodeVariable2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Вид осуществляемой (планируемой к осуществлению) деятельности: 
1 - обязанности юридического лица, осуществляющего деятельность в качестве таможенного представителя; 
2 - обязанности юридического лица, осуществляющего деятельность в качестве таможенного перевозчика;
3 - обязанности юридического лица, осуществляющего деятельность в качестве таможенного представителя и таможенного перевозчика;
4 - обязанности уполномоченного экономического оператора;
5 - обязанности юридического лица, осуществляющего деятельность
в качестве таможенного представителя, и обязанности уполномоченного экономического оператора; 
6 - обязанности юридического лица, осуществляющего деятельность в качестве таможенного перевозчика,и обязанности уполномоченного экономического оператора;
7 - обязанности юридического лица, осуществляющего деятельность в качестве таможенного представителя, таможенного перевозчика,и обязанности уполномоченного экономического оператора; 
8 - обязанности юридического лица, осуществляющего деятельность в качестве владельца свободного склада; 
9 - обязанности юридического лица, осуществляющего деятельность в качестве владельца склада временного хранения;
10 - обязанности юридического лица, осуществляющего деятельность в качестве владельца таможенного склада;
11 - обязанности юридического лица, осуществляющего деятельность в качестве владельца
</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ActivitiesKindDetails" type="clt_ru:CodeVariable2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уточнение вида осуществляемой (планируемой к осуществлению) деятельности (если вид договора=2): 1 - обязанности юридического лица, осуществляющего деятельность в качестве таможенного представителя; 
2 - обязанности юридического лица, осуществляющего деятельность в качестве таможенного перевозчика; 
3 - обязанности юридического лица, осуществляющего деятельность в качестве таможенного представителя и таможенного перевозчика; 
4 - обязанности уполномоченного экономического оператора; 
5 - обязанности юридического лица, осуществляющего деятельность в качестве таможенного представителя, и обязанности уполномоченного экономического оператора; 
6 - обязанности юридического лица, осуществляющего деятельность в качестве таможенного перевозчика, и обязанности уполномоченного экономического оператора; 
7 - обязанности юридического лица, осуществляющего деятельность в качестве таможенного представителя, таможенного перевозчика, и обязанности уполномоченного экономического оператора;
8 - обязанности юридического лица, осуществляющего деятельность в качестве владельца свободного склада;
9 - обязанности юридического лица, осуществляющего деятельность в качестве владельца склада временного хранения;
10 - обязанности юридического лица, осуществляющего деятельность в качестве владельца таможенного склада;
11 - обязанности юридического лица, осуществляющего деятельность в качестве владельца магазина беспошлинной торговли)
</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GuarantorType">
    <xs:annotation>
      <xs:documentation>Сведения о поручителе</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsBankType">
        <xs:sequence>
          <xs:element name="AuthorizedPerson" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>ФИО лица, уполномоченного на подписание договора поручительства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConfirmingDocument" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Документ, подтверждающий полномочия лица</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StatusDetailsType">
    <xs:annotation>
      <xs:documentation>Статус договора</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Status" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Статус договора: 0 - новый, 1 - заключен</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Date" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentCode" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Связанный договор</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>