XsltProcessor/xsd/5.24.0/CustomsMonitoringConclusion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приказ ФТС России от 23 марта 2023 г. № 224 "Об утверждении форм документов, используемых при проведении мониторинга таможенными органами сведений, имеющихся в их распоряжении и полученных от лиц, участвующих в эксперименте по мониторингу таких сведений, из систем учета товаров" -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:cmc="urn:customs.ru:Information:CustomsAuditDocuments:CustomsMonitoringConclusion:5.24.0" targetNamespace="urn:customs.ru:Information:CustomsAuditDocuments:CustomsMonitoringConclusion:5.24.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.24.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:annotation>
		<xs:documentation>Заключение по результатам проведения таможенного мониторинга</xs:documentation>
	</xs:annotation>
	<xs:element name="CustomsMonitoringConclusion" type="cmc:CustomsMonitoringConclusionType">
		<xs:annotation>
			<xs:documentation>Заключение по результатам проведения таможенного мониторинга</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CustomsMonitoringConclusionType">
		<xs:annotation>
			<xs:documentation>Заключение по результатам проведения таможенного мониторинга</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="Customs" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Таможенный орган, принявший Решение о проведении таможенного мониторинга</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocNumber" type="cmc:DocNumberType">
						<xs:annotation>
							<xs:documentation>Номер документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsMonitoringPerson" type="cat_ru:PersonBaseType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о лицах, проводивших таможенный мониторинг</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DecisionNumber" type="cmc:DocNumberType">
						<xs:annotation>
							<xs:documentation>Номер Решения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Term" type="cmc:TermType">
						<xs:annotation>
							<xs:documentation>Период, за который проведен таможенный мониторинг</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FEAPerson" type="cmc:FEAPersonType">
						<xs:annotation>
							<xs:documentation>Сведения об участнике эксперимента, в отношении внешнеэкономической деятельности которого необходимо провести мониторинг</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ViolationSigns" type="clt_ru:IndicatorType">
						<xs:annotation>
							<xs:documentation>Отметка о выявлении/не выявлении признаков нарушения таможенного законодательства: 0 - не выявлены признаки нарушения таможенного законодательства; 1 - выявлены признаки нарушения таможенного законодательства</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Goods" type="cmc:GoodsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о товарах, по которым выявлены признаки нарушения таможенного законодательства</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AppSheetsNumber" type="clt_ru:Count3Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество листов приложений</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsConclusionPerson" type="cat_ru:PersonSignatureType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о лицах, подписавших Заключение о проведении таможенного мониторинга </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PossibleViolations" type="cmc:ViolationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Список возможных нарушений</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006948E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы.</xs:documentation>
	</xs:annotation>
	<xs:complexType name="DocNumberType">
		<xs:annotation>
			<xs:documentation>Номер документа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Part_2" type="clt_ru:Code3Type">
				<xs:annotation>
					<xs:documentation>Вторая часть номера документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата регистрации документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GTDNumber" type="clt_ru:GTDIDType">
				<xs:annotation>
					<xs:documentation>Порядковый номер документа по журналу регистрации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Part_5" type="clt_ru:Code2Type">
				<xs:annotation>
					<xs:documentation>Пятая часть номера документа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FEAPersonType">
		<xs:annotation>
			<xs:documentation>Сведения о лице, в отношении внешнеэкономической деятельности которого необходимо провести таможенный мониторинг</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:RUOrganizationBaseType">
				<xs:sequence>
					<xs:element name="Place" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Место нахождения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Address" type="RUScat_ru:RUAddressType">
						<xs:annotation>
							<xs:documentation>Адрес в пределах его места нахождения</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GoodsDTType">
		<xs:annotation>
			<xs:documentation>Сведения о товарах ДТ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsName" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTNumber" type="cat_ru:GTDIDType">
				<xs:annotation>
					<xs:documentation>Номер ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsNumber" type="clt_ru:Count3Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Номер товара в ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentifiedDiscrepancies" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Содержание выявленных в отношении товара расхождений сведений из системы учета товаров и находящихся в распоряжении таможенного органа, проводящего таможенный мониторинг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherSigns" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Иные признаки нарушения международных договоров и актов, составляющих право Евразийского экономического союза, регулирующих таможенные правоотношения, и (или) законодательства Российской Федерации о таможенном регулировании</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AppendixIndicator" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак наличия приложения</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsType">
		<xs:annotation>
			<xs:documentation>Сведения о товарах, по которым выявлены признаки нарушения таможенного законодательства</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsDT" type="cmc:GoodsDTType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о товарах ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Notes" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Примечание</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherInfo" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Иные сведения об объекте таможенного мониторинга</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TermType">
		<xs:annotation>
			<xs:documentation>Период, за который проведен таможенный мониторинг</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BeginDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата начала периода</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата окончания периода</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ViolationType">
		<xs:annotation>
			<xs:documentation>Возможное нарушение</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="clt_ru:Count5Type">
				<xs:annotation>
					<xs:documentation>Номер по порядку</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTNumber" type="cat_ru:GTDIDType">
				<xs:annotation>
					<xs:documentation>Номер ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDT" type="cmc:GoodsDTType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о товарах ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
