XsltProcessor/xsd/5.24.0/ExcisePaymentApplication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приказ ФТС России от 27 января 2011 г. N 150 "Об утверждении формы заявления об уплате акциза по маркированным товарам Таможенного союза, ввозимым на территорию Российской Федерации с территории государства - члена Таможенного союза"  -->
<xs:schema xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:epa="urn:customs.ru:Information:ELSDocuments:ExcisePaymentApplication:5.24.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.24.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:ELSDocuments:ExcisePaymentApplication:5.24.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.24.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Заявление об уплате акциза по маркированным товарам Таможенного союза, ввозимым на территорию Российской Федерации с остальной части таможенной территории  Таможенного союза</xs:documentation>
  </xs:annotation>
  <xs:element name="ExcisePaymentApplication" type="epa:ExcisePaymentApplicationType">
    <xs:annotation>
      <xs:documentation>Заявление об уплате акциза по маркированным товарам Таможенного союза, ввозимым на территорию Российской Федерации с остальной части таможенной территории  Таможенного союза</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ExcisePaymentApplicationType">
    <xs:annotation>
      <xs:documentation>Заявление об уплате акциза по маркированным товарам Таможенного союза, ввозимым на территорию Российской Федерации с остальной части таможенной территории  Таможенного союза</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="AppExcisePaymentStampsCode" type="epa:AppExcisePaymentStampsCodeType">
            <xs:annotation>
              <xs:documentation>Вид заявления об уплате акциза. Русские "A" (алгоголь) или "T" (табачная продукция)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AppExcisePaymentDocument" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Реквизиты заявления об уплате акциза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AppExcisePaymentDocReg" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер заявления об уплате акциза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Таможенный орган, в который направлено заявление</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Supplier" type="cat_ru:OrganizationType">
            <xs:annotation>
              <xs:documentation>Продавец</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Buyer" type="epa:BuyerType">
            <xs:annotation>
              <xs:documentation>Покупатель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ContractDocument" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Внешнеторговый договор</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Producer" type="epa:GoodsProducerType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о производителе товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AppBuyExciseStampsDocument" type="cat_ru:DocumentBaseType" minOccurs="1" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Реквизиты заявления о приобретении акцизных марок</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsInfo" type="epa:GoodsExtType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о товарах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AttachedDocuments" type="epa:AttachedDocumentsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Перечень прилагаемых документов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DirSignature" type="cat_ru:PersonSignatureType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Подпись руководителя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MainAcnSignature" type="cat_ru:PersonSignatureType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Подпись главного бухгалтера</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InspectorSignature" type="cat_ru:PersonSignatureType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Подпись инспектора</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustHeadSignature" type="cat_ru:PersonSignatureType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Подпись начальника ТО</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PaymentDocument" type="epa:ExcisePaymentApplicationPaymentDocumentType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Документ об уплате акциза</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1040037E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AttachedDocumentsType">
    <xs:annotation>
      <xs:documentation>Перечень прилагаемых документов</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="EDocCode" type="clt_ru:CodeVariable10Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код вида электронного документа (сведений)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocArchIdDetails" type="catESAD_cu:RFBasePresentedDocIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификаторы, присвоенные документу (сведениям) при размещении в хранилище электронных документов</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BuyerType">
    <xs:annotation>
      <xs:documentation>Покупатель</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationType">
        <xs:sequence>
          <xs:element name="BankAccInfo" type="cat_ru:BankInformationType">
            <xs:annotation>
              <xs:documentation>Банковские реквизиты</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExciseRateType">
    <xs:annotation>
      <xs:documentation>Ставка акциза</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DutyTaxFeeRateValue" type="cltESAD_cu:RateType">
        <xs:annotation>
          <xs:documentation>Значение ставки (Rate1)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RateTypeCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид ставки (адвалорная -«%», специфическая - «*»)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RateCurrencyCode" type="clt_ru:CurrencyN3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Цифровой код валюты ставки (специфическая ставка)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RateTNVEDQualifierCode" type="clt_ru:MeasureUnitQualifierCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код единицы измерения ставки (специфическая ставка)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WeightingFactor" type="cltESAD_cu:WeightingFactorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Весовой коэффициент единицы измерения (специфическая ставка)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComparisonOperationsSign" type="clt_ru:Numeric1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Знак операции сравнения (1 - меньше, 2 - больше)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Rate2" type="cltESAD_cu:RateType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ставка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RateTypeCode2" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид ставки (адвалорная -«%», специфическая - «*»)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RateCurrencyCode2" type="clt_ru:CurrencyN3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Цифровой код валюты ставки (специфическая ставка)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RateTNVEDQualifierCode2" type="clt_ru:MeasureUnitQualifierCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код единицы измерения ставки (специфическая ставка)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WeightingFactor2" type="cltESAD_cu:WeightingFactorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Весовой коэффициент единицы измерения (специфическая ставка)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OperationsSign" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Знак операции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Rate3" type="cltESAD_cu:RateType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ставка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RateTypeCode3" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид ставки (адвалорная -«%», специфическая - «*»)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RateCurrencyCode3" type="clt_ru:CurrencyN3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Цифровой код валюты ставки (специфическая ставка)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RateTNVEDQualifierCode3" type="clt_ru:MeasureUnitQualifierCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код единицы измерения ставки (специфическая ставка)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WeightingFactor3" type="cltESAD_cu:WeightingFactorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Весовой коэффициент единицы измерения (специфическая ставка)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComparisonResult" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Результат выполнения операции сравнения: 1 - истина; 0 - ложь</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RateUseDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата применения ставки таможенного платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsExtType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порядковый номер товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Описание товара, включая торговое, коммерческое или иное традиционное наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UnifiedNetMassMeasure" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес товара, нетто</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsMeasureDetails" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Количество товара с указанием дополнительной единицы измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InvoicedCost" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Цена/стоимость товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InvoicedCostCur" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Цена/стоимость товара в валюте договора</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurCode" type="clt_ru:CurrencyA3CodeType">
        <xs:annotation>
          <xs:documentation>Код валюты</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurRate" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Курс валюты</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="IssueStampInfo" type="catESAD_cu:ESADExciseType" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Сведения об акцизных марках</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="PermissiveDocument" type="cat_ru:DocumentBaseType">
          <xs:annotation>
            <xs:documentation>Реквизиты разрешительных документов</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="IdentificationMeansDetails" type="epa:IdentificationMeansDetailsType" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Коды маркировки</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="TransDocument" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Транспортный(товаросопроводительный) документ.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InvoiceDocument" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Счет-фактура. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsAccDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата принятия товара на учет</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaxBase" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Налоговая база</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExciseRate" type="epa:ExciseRateType">
        <xs:annotation>
          <xs:documentation>Ставка акциза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SeasonalMultiplier" type="epa:ProcentNumericType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Повышающий коэффициент (для товаров группы 24)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExciseSum" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма акциза к уплате</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsProducerType">
    <xs:annotation>
      <xs:documentation>Сведения о производителе товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ProducerName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Наименование производителя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType">
        <xs:annotation>
          <xs:documentation>Код страны происхождения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="cat_ru:AddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Местонахождение производителя</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExcisePaymentApplicationPaymentDocumentType">
    <xs:annotation>
      <xs:documentation>Информация о платёжном документе</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="AmountDeposited" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сумма, внесённая на счёт Федерального Казначейства</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IdentificationMeansItemDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения, размещенные на средстве идентификации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IdentificationMeansKindCode" type="clt_ru:Code3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код вида средства идентификации, содержащего код идентификации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentificationMeansDataUnitDetails" type="epa:IdentificationMeansDataUnitDetailsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Символьное представление блока информации, содержащейся в коде идентификации</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IdentificationMeansDataUnitDetailsType">
    <xs:annotation>
      <xs:documentation>Символьное представление блока информации, содержащейся в коде идентификации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AIId" type="cltESAD_cu:AIIdType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Цифровой идентификатор применения блока информации, содержащейся в коде идентификации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentifacationMeansUnitCharacterValueId" type="cltESAD_cu:CodeVariable100Type">
        <xs:annotation>
          <xs:documentation>Значение блока информации, содержащейся в коде идентификации, представленное в виде последовательности символов</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IdentificationMeansDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о средствах идентификации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AggregationKindCode" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Код уровня маркировки в соответствии со справочником уровней маркировки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentificationMeansItemDetails" type="epa:IdentificationMeansItemDetailsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о коде идентификации</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные простые прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="AppExcisePaymentStampsCodeType">
    <xs:annotation>
      <xs:documentation>Код типа заявления. Русская "А" (алкоголь) или русская "Т" (табак)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:CodeCategoriesCust">
      <xs:enumeration value="А" />
      <xs:enumeration value="Т" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ProcentNumericType">
    <xs:annotation>
      <xs:documentation>Процент от 0 до 100. До 4 знаков после запятой. Числовой</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:NumericCategoriesCust">
      <xs:minInclusive value="0" />
      <xs:fractionDigits value="4" />
      <xs:maxInclusive value="100" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>