XsltProcessor/xsd/5.24.0/ReqDataDecl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:rdd="urn:customs.ru:Information:ExchangeDocuments:ReqDataDecl:5.24.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:ExchangeDocuments:ReqDataDecl:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Запрос документов и сведений для подтверждения сведений, заявленных в таможенной декларации</xs:documentation>
  </xs:annotation>
  <xs:element name="ReqDataDecl" type="rdd:ReqDataDeclType">
    <xs:annotation>
      <xs:documentation>Запрос документов и сведений для подтверждения сведений, заявленных в таможенной декларации</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ReqDataDeclType">
    <xs:annotation>
      <xs:documentation>Запрос документов и сведений для подтверждения сведений, заявленных в таможенной декларации</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DocKind" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Тип запроса: 1 - запрос документов и сведений в соответстии с пунктом 4 статьи 325 ТК ЕАЭС,  2 - запрос документов и сведений в соответстии с пунктом 15 статьи 325 ТК ЕАЭС  </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResolDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OfficeName" type="clt_ru:CustomsOfficeNameType">
            <xs:annotation>
              <xs:documentation>Наименование таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateLimit" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Срок представления дополнительных документов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PreReleaseSign" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак возможности произвести выпуск товаров в соответствии со статьёй 121 Таможенного кодекса Евразийского экономического союза (до завершения проверки таможенных, иных документов и (или) сведений)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GuaranteeSign" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак возможности предоставить обеспечение
исполнения обязанности по уплате таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин.
</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateGuarantee" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Срок представления обеспечения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReleaseSign" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Признак возможности предоставить  запрошенные  документы после выпуска товаров </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateRelease" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Срок представления документов после выпуска под обеспечение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Violations" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Признаки, указывающие на то, что сведения  могут являться недостоверными либо заявленные сведения должным образом не подтверждены</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeclName" type="clt_ru:NameType">
            <xs:annotation>
              <xs:documentation>Наименование декларанта (таможенного представителя)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GTDID" type="cat_ru:GTDIDType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер  ДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsCostInf" type="rdd:CustomsCostInfType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения, требующие подтверждения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPerson" type="cat_ru:CustomsPersonType">
            <xs:annotation>
              <xs:documentation>Должностное лицо таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1004135E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CustomsCostInfType">
    <xs:annotation>
      <xs:documentation>Сведения, требующие подтверждения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Position" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocSign" type="clt_ru:CodeVariable2Type" maxOccurs="20">
        <xs:annotation>
          <xs:documentation>Направление таможенного контроля: 1 - таможенная стоимость товаров;
2 - классификация товара в соответствии с ТН ВЭД ЕАЭС;
3 - происхождение товаров и (или) тарифных преференциях;
4 - соблюдение мер технического регулирования;
5 - соблюдение санитарных мер;
6- соблюдение ветеринарно-санитарных мер;
7 - соблюдение карантинных фитосанитарных мер;
8 - соблюдение мер нетарифного регулирования;
9 - соблюдение специальных экономических мер;
10- соблюдение мер экспортного контроля, в том числе мер в отношении продукции военного назначения;
11 - соблюдение прав на объекты интеллектуальной собственности.
12 - применение льгот по уплате таможенных платежей;
13 - применение ставки НДС в размере 10%;
14 - контроль правильности исчисления таможенных пошлин, специальных, антидемпинговых, компенсационных пошлин, таможенных сборов за таможенные операции;
15 - контроль правильности исчисления акциза;
16 - проверка количественных (весовых) характеристик товара, а также признаков, указывающих на недостоверность или неполноту заявленных в ДТ сведений
</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustCostInf" type="clt_ru:FreeText250Type" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Перечень сведений, требующих подтверждения/уточнения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Comment" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Примечание</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodNum" type="clt_ru:Count3Type" maxOccurs="999">
        <xs:annotation>
          <xs:documentation>Номера товаров, к которым запрашиваются документы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReqDocuments" type="rdd:ReqDocumentType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Запрашиваемые документы</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReqDocumentType">
    <xs:annotation>
      <xs:documentation>Запрашиваемый документ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PrDocumentName" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Описание документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrDocumentNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrDocumentDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RequestPositionID" type="clt_ru:DocumentIDType">
        <xs:annotation>
          <xs:documentation>Идентификатор позиции в запросе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocCode" type="clt_ru:CustomsDocumentCodeType">
        <xs:annotation>
          <xs:documentation>Код вида запрашиваемого документа (заполняется в соответствии с классификатором видов документов, используемых при заявлении сведений в графе 44)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CommKind" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Способ представления документа : 0 - документ из архива декларанта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Comment" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Примечание</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>