XsltProcessor/xsd/5.24.0/STZ_ReportingNotif.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приказ ФТС России от 28.06.2023 № 557   -->
<!-- Приказ ФТС России от 06.12.2023 № 1155 -->
<!-- Приказ ФТС России от 11.12.2023 № 1183 -->
<!-- Приказ ФТС России от 13.12.2023 № 1195 -->
<!-- Приказ ФТС России от 13.12.2023 № 1196 -->
<!-- Приказ ФТС России от 13.12.2023 № 1197 -->
<!-- Приказ ФТС России от 13.12.2023 № 1198 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:stz_rn="urn:customs.ru:Information:CustomsDocuments:STZ_ReportingNotif:5.24.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:STZ_ReportingNotif:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Сообщения о результате проверки Отчетности/ Сообщение об отказе в приеме Отчетности</xs:documentation>
	</xs:annotation>
	<xs:element name="STZ_ReportingNotif" type="stz_rn:STZ_ReportingNotifType">
		<xs:annotation>
			<xs:documentation>Сообщения о результате проверки Отчетности/ Сообщение об отказе в приеме Отчетности</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="STZ_ReportingNotifType">
		<xs:annotation>
			<xs:documentation>Сообщения о результате проверки Отчетности/ Сообщение об отказе в приеме Отчетности</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="DocKind" type="clt_ru:LetterIndicatorType">
						<xs:annotation>
							<xs:documentation>Вид документа: 1 - Сообщения о результате проверки Отчетности, 2 - Сообщение об отказе в приеме Отчетности</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Customs" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Сведения о таможенном органе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата сообщения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReportingAuditResults" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Результаты проверки отчётности: 0 - несоответсвия не выявлены; 1 - выявлены несоответствия</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InconsistenciesDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Описание выявленных несоответствий</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MotiveProhibition" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Причины отказа в приеме Отчетности</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NecessityActivity" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Действия, которые необходимо предпринять участнику ВЭД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsPerson" type="cat_ru:PersonSignatureType">
						<xs:annotation>
							<xs:documentation>Должностное лицо уполномоченного таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1060039E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы.</xs:documentation>
	</xs:annotation>
</xs:schema>
