XsltProcessor/xsd/5.24.0/STZ_AccSystemRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приказ ФТС России от 28.06.2023 № 557   -->
<!-- Приказ ФТС России от 06.12.2023 № 1155 -->
<!-- Приказ ФТС России от 11.12.2023 № 1183 -->
<!-- Приказ ФТС России от 13.12.2023 № 1195 -->
<!-- Приказ ФТС России от 13.12.2023 № 1196 -->
<!-- Приказ ФТС России от 13.12.2023 № 1197 -->
<!-- Приказ ФТС России от 13.12.2023 № 1198 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:stz_asr="urn:customs.ru:Information:CustomsDocuments:STZ_AccSystemRequest:5.24.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:STZ_AccSystemRequest:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Сообщение о запросе информации из АСУ</xs:documentation>
	</xs:annotation>
	<xs:element name="STZ_AccSystemRequest" type="stz_asr:STZ_AccSystemRequestType">
		<xs:annotation>
			<xs:documentation>Сообщение о запросе информации из АСУ</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="STZ_AccSystemRequestType">
		<xs:annotation>
			<xs:documentation>Сообщение о запросе информации из АСУ</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="Customs" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Сведения о таможенном органе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата сообщения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Term" type="stz_asr:TermType">
						<xs:annotation>
							<xs:documentation>Период времени, за который запрашивается ЭУД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DTNumbers" type="cat_ru:GTDIDType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Номера таможенных деклараций, по которым необходимо представить ЭУД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AddSign" type="clt_ru:Numeric1Type">
						<xs:annotation>
							<xs:documentation>0 - без предоставления дополнительных ЭУД; 1 - включая дополнительные ЭУД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsPerson" type="cat_ru:PersonSignatureType">
						<xs:annotation>
							<xs:documentation>Должностное лицо уполномоченного таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1060040E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы.</xs:documentation>
	</xs:annotation>
	<xs:complexType name="TermType">
		<xs:annotation>
			<xs:documentation>Период времени, за который представляется Отчетность</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BeginDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата начала периода</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата окончания периода</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
