XsltProcessor/xsd/5.13.4/ClassDecisionChange.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.10.0" xmlns:cdc="urn:customs.ru:Information:CustomsDocuments:ClassDecisionChange:5.13.1" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:ClassDecisionChange:5.13.1" elementFormDefault="qualified" version="5.13.1.0">
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.10.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Решение об изменении решения по классификации товара</xs:documentation>
	</xs:annotation>
	<xs:element name="ClassDecisionChange" type="cdc:ClassDecisionChangeType"/>
	<xs:complexType name="ClassDecisionChangeType">
		<xs:annotation>
			<xs:documentation>Решение об изменении решения по классификации товара</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="Date" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата регистрации решения об изменении решения по классификации товара</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RegistrationNumber" type="cdc:RegistrationNumberType">
						<xs:annotation>
							<xs:documentation>Регистрационный номер</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Declarant" type="cat_ru:CUOrganizationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Декларант</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Customs" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Наименование таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Goods" type="cdc:GoodsType">
						<xs:annotation>
							<xs:documentation>Сведения о товарах</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RegNumberDT" type="cat_ru:GTDIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер ДТ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProcedureID" type="clt_ru:DocumentIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор  процедуры декларирования</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsPerson" type="cat_ru:PersonSignatureType">
						<xs:annotation>
							<xs:documentation>Подпись должностного лица</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006206E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="ChangesDescriptionType">
		<xs:annotation>
			<xs:documentation>Описание изменений</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GRNumber" type="clt_ru:Text10Type">
				<xs:annotation>
					<xs:documentation>Номер графы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PreviousValue" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Старое значение</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NewValue" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Новое значение</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsType">
		<xs:annotation>
			<xs:documentation>Сведения о товарах</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChangesDescription" type="cdc:ChangesDescriptionType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Описание изменений</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegistrationNumberType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SerialNumber" type="clt_ru:Code6Type">
				<xs:annotation>
					<xs:documentation>Порядковый исходящий номер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Date" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата принятия решения</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
