XsltProcessor/xsd/5.13.4/DocumentRegNumberNotif.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:ExchangeDocuments:DocumentRegNumberNotif:5.10.0" version="5.10.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.10.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:drnn="urn:customs.ru:Information:ExchangeDocuments:DocumentRegNumberNotif:5.10.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.10.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Уведомление о регистрации документа (пакета документов)</xs:documentation>
  </xs:annotation>
  <xs:element name="DocumentRegNumberNotif" type="drnn:DocumentRegNumberNotifType" />
  <xs:complexType name="DocumentRegNumberNotifType">
    <xs:annotation>
      <xs:documentation>Уведомление о регистрации документа (пакета документов)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DocumentRegNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Уникальный номер документа (пакета документов)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute fixed="1004111E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>