XsltProcessor/xsd/5.13.4/GoodsOperationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:TransportDocuments:Air:GoodsOperationRequest:5.12.0" version="5.12.0.0" xmlns:catTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.12.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.10.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:gor="urn:customs.ru:Information:TransportDocuments:Air:GoodsOperationRequest:5.12.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.10.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.12.0" schemaLocation="TransportCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Запрос перевозчика в таможенный орган на совершение операций с грузом</xs:documentation>
  </xs:annotation>
  <xs:element name="GoodsOperationRequest" type="gor:GoodsOperationRequestType" />
  <xs:complexType name="GoodsOperationRequestType">
    <xs:annotation>
      <xs:documentation>Запрос перевозчика в таможенный орган на совершение операций с грузом</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="WayBillOperation" type="gor:WayBillOperationType">
            <xs:annotation>
              <xs:documentation>Сведения об операциях с грузом по накладной</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsOffice" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Таможенный орган, в регионе деятельности которого находится воздушный пункт пропуска</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Carrier" type="cat_ru:CUOrganizationType">
            <xs:annotation>
              <xs:documentation>Перевозчик</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute fixed="1003311E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="WayBillOperationType">
    <xs:annotation>
      <xs:documentation>Сведения об операциях с грузом по накладной</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Operation" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Операция с грузом: 1 - выгрузка; 2 - перегрузка (перевалка); 3 - погрузка; 4 - отсутствие операций с грузом</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Reasons" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Основание</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="NewFlightInfo" type="catTrans_ru:FlightInfoType">
        <xs:annotation>
          <xs:documentation>Сведения о новом рейсе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WayBillNumber" type="catTrans_ru:AWBNumberType">
        <xs:annotation>
          <xs:documentation>Номер накладной</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>