XsltProcessor/xsd/5.13.4/PaymentRequirements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- до версии 5.13.4 ГУФТДиТР 2018 № 00415 ФТ на ЛК и Задолженность по формам (пошлины) (приложение).tif (Приложения №№ 1, 9, 10, 11, 12, 13, 14) 
с версии 5.13.4 проекты Приказов ФТС в письме ГУФТДиТР 56307.pdf 
(примечания: ТГП в проектах нет, оставлен, т.к. есть в п.26 ст.76 289-ФЗ; РДЗ разделён на два - РДЗ и РПЗ) 
-->
<xs:schema xmlns:prs="urn:customs.ru:Information:CommercialFinanceDocuments:PaymentRequirements:5.13.4" xmlns:catComFin_ru="urn:customs.ru:Information:CommercialFinanceDocuments:CommercialFinanceCommonAgregateTypesCust:5.10.0" xmlns:RUDECLcat="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.13.3" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.13.3" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.10.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CommercialFinanceDocuments:PaymentRequirements:5.13.4" elementFormDefault="qualified" version="5.13.4.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.10.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:Information:CommercialFinanceDocuments:CommercialFinanceCommonAgregateTypesCust:5.10.0" schemaLocation="CommercialFinanceCommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.13.3" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.13.3" schemaLocation="RUDeclCommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Решение, требование или уведомление о взыскании денежных средств</xs:documentation>
	</xs:annotation>
	<xs:element name="PaymentRequirements" type="prs:PaymentRequirementsType"/>
	<xs:complexType name="PaymentRequirementsType">
		<xs:annotation>
			<xs:documentation>Решение, требование или уведомление о взыскании денежных средств</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="DocType" type="clt_ru:CodeVariable3Type">
						<xs:annotation>
							<xs:documentation>Тип документа: РБП - Решение таможенного органа о взыскании денежных средств в бесспорном порядке; ТГП - Требование об уплате денежных средств по банковской гарантии/договору поручительства; ТА - Требование об уплате денежных средств гарантирующим объединением (ассоциацией); РДЗ - Решение таможенного органа об обращении взыскания на денежный залог, внесенный для обеспечения обязанностей уполномоченного экономического оператора и (или) обязанностей юридического лица, осуществляющего деятельность в сфере таможенного дела; РПЗ - Решение таможенного органа об обращении взыскания на предмет залога; УДЗ - Уведомление о взыскании таможенных платежей, специальных, антидемпинговых, компенсационных пошлин, процентов и пени за счет денежного залога; РА - Решение таможенного органа о взыскании таможенных платежей, специальных, антидемпинговых,компенсационных пошлин, процентов и пеней за счет авансовых платежей; УАИ - Уведомление о взыскании таможенных платежей, специальных, антидемпинговых, компенсационных пошлин, процентов и пени за счет авансовых платежей и пени. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PRSRegNumber" type="prs:DocRegNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PRSCustoms" type="prs:PRSCustomsType">
						<xs:annotation>
							<xs:documentation>Таможенные орган</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PrincipalInfo" type="RUScat_ru:OrganizationType">
						<xs:annotation>
							<xs:documentation>Сведения о принципале</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Guarantor" type="cat_ru:OrganizationBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о гаранте или лице, несущем солидарную ответственность</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GuaranteeInfo" type="cat_ru:DocumentBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Реквизиты банковской гарантии (договора поручительства, договора залога)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GuaranteePledgeObject" type="clt_ru:FreeText500Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Предмет залога</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="clt_ru:AmountType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сумма денежных средств, авансовых платежей или за счет залога, рубли</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PrePaydAmount" type="clt_ru:AmountType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сумма излишне уплаченных (взысканных) таможенных платежей, специальных, антидемпинговых, компенсационных пошлин, процентов, рубли</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FineAmount" type="clt_ru:AmountType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сумма пени и(или) процентов, рубли</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ChargesRecover" type="prs:ChargesRecoverType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о начислениях на день принятия решения, подлежащих взысканию</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentRequisitions" type="catComFin_ru:PaymentRequisitionsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Счет Федерального казначейcтва</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NoticePayment" type="prs:NoticePaymentType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Уведомление (уточнение к уведомлению) о не уплаченных в установленный срок суммах таможенных платежей, специальных, антидемпинговых, компенсационных пошлин, процентов и пеней</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CPCID" type="RUDECLcat:CustomDocIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер расчета таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocUsed" type="prs:DocUsedType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата и номер книжки МДП (карнета АТА) </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="KDTorCPCID" type="prs:KDTorCPCIDType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Реквизиты корректировки декларации на товары или расчета таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин, расчета таможенных пошлин, налогов, взимаемых по единым ставкам, либо таможенных пошлин, налогов, взимаемых в виде совокупного таможенного платежа, корректировки таможенного приходного ордера, заявления, предусмотренного пунктом 4 статьи 277 ТК ЕАЭС, либо иного таможенного документа, определенного Евразийской эеономической комиссией в соответствии с пунктом 24 статьи 266 ТК ЕАЭС</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="KDTorCPCID_PModeInfo" type="prs:KDTorCPCID_PModeInfoType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о реквизитах документов исполнения обязанности по уплате таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocExcessiveAmount" type="prs:DocExcessiveAmountType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Реквизиты документов излишне уплаченных (взысканных) таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsReceiptInfo" type="prs:CustomsReceiptInfoType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о таможенных расписках</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsChief" type="cat_ru:CustomsPersonType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Подпись начальника (заместителя начальника) таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Executor" type="prs:ExecutorType">
						<xs:annotation>
							<xs:documentation>Исполнитель</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1002030E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы.</xs:documentation>
	</xs:annotation>
	<xs:complexType name="ChargesRecoverType">
		<xs:annotation>
			<xs:documentation>Сведения о начислениях на день принятия решения, подлежащих взысканию</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PaymentModeCode" type="clt_ru:CUCustomsPaymentCodeType">
				<xs:annotation>
					<xs:documentation>Код вида платежа  по классификатору видов налогов, сборов и иных платежей, взимание которых возложено на таможенные органы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompAmount" type="clt_ru:AmountType">
				<xs:annotation>
					<xs:documentation>Сумма начисления, рубли</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomsReceiptRegNumberType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер таможенной расписки</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:GTDIDType">
				<xs:sequence>
					<xs:element name="DocNumberPrefix" type="clt_ru:CodeVariable3Type">
						<xs:annotation>
							<xs:documentation>Префикс порядкового номера таможенной расписки</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CustomsReceiptInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о таможенных расписках</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsReceipt" type="prs:CustomsReceiptType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Реквизиты таможенной расписки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalCompAmount" type="clt_ru:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Итого взыскиваемая сумма, рубли</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomsReceiptType">
		<xs:annotation>
			<xs:documentation>Реквизиты таможенной расписки</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsReceiptID" type="prs:CustomsReceiptRegNumberType">
				<xs:annotation>
					<xs:documentation>Реквизиты таможенной расписки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CRAmount" type="clt_ru:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сумма по таможенной расписке, рубли</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompAmount" type="clt_ru:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Взыскиваемая сумма, рубли</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocExcessiveAmountType">
		<xs:annotation>
			<xs:documentation>Реквизиты документов излишне уплаченных (взысканных) таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prs:KDTorCPCIDType">
				<xs:sequence>
					<xs:element name="CompAmount" type="clt_ru:AmountType">
						<xs:annotation>
							<xs:documentation>Взыскиваемая сумма, рубли</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExcessiveAmount" type="clt_ru:AmountType">
						<xs:annotation>
							<xs:documentation>Сумма излишней уплаты (взыскания), рубли</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DocRegNumberType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер поручения таможенного органа на продажу иностранной валюты</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, сформировавшего документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateYearCustType">
				<xs:annotation>
					<xs:documentation>Год принятия документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegNumber" type="clt_ru:GTDIDType">
				<xs:annotation>
					<xs:documentation>Порядковый номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocUsedType">
		<xs:annotation>
			<xs:documentation>Реквизиты книжки МДП или карнета АТА</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocUsedDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="TIRIdDetails" type="RUDECLcat:TIRIdDetailsType">
					<xs:annotation>
						<xs:documentation>Номер книжки МДП</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CarnetNumber" type="clt_ru:CodeVariable20Type">
					<xs:annotation>
						<xs:documentation>Номер карнета АТА</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExecutorType">
		<xs:annotation>
			<xs:documentation>Исполнитель</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:PersonBaseType">
				<xs:sequence>
					<xs:element name="ExecutivePhone" type="clt_ru:PhoneNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Контактный телефон</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="KDTorCPCID_PModeInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о реквизитах документов исполнения обязанности по уплате таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин с указанием кода платежа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KDTorCPCID_PMode" type="prs:KDTorCPCID_PModeType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Реквизиты документов исполнения обязанности по уплате таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин с указанием кода платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalCompAmount" type="clt_ru:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Итого сумма взыскания, рубли</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KDTorCPCID_PModeType">
		<xs:annotation>
			<xs:documentation>Реквизиты корректировки декларации на товары или расчета таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин с указанием кода платежа</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="prs:KDTorCPCIDType">
				<xs:sequence>
					<xs:element name="PaymentModeCode" type="clt_ru:CUCustomsPaymentCodeType">
						<xs:annotation>
							<xs:documentation>Код вида платежа  по классификатору видов налогов, сборов и иных платежей, взимание которых возложено на таможенные органы</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CompAmount" type="clt_ru:AmountType">
						<xs:annotation>
							<xs:documentation>Сумма взыскания, рубли</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="KDTorCPCIDType">
		<xs:annotation>
			<xs:documentation>Реквизиты корректировки декларации на товары или расчета таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocType" type="clt_ru:LetterIndicatorType">
				<xs:annotation>
					<xs:documentation>Тип документа:1 - Корректировки декларации на товары 2 - Расчет таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="KDTID" type="cat_ru:GTDIDType">
					<xs:annotation>
						<xs:documentation>Регистрационный номер корректировки декларации на товары</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CPCID" type="RUDECLcat:CustomDocIDType">
					<xs:annotation>
						<xs:documentation>Регистрационный номер расчета таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoticePaymentType">
		<xs:annotation>
			<xs:documentation>Уведомление (уточнение к уведомлению) об уплате таможенных платежей, специальных, антидемпинговых, коипенсационных пошлин, процентов и пени</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="PeriodExecution" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Срок исполнения</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PRSCustomsType">
		<xs:annotation>
			<xs:documentation>Код и наименование таможенного органа</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:CustomsType">
				<xs:sequence>
					<xs:element name="FullOfficeName" type="clt_ru:FreeText250Type">
						<xs:annotation>
							<xs:documentation>Полное наименование таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
