XsltProcessor/xsd/5.13.4/ResolutionDestinationExamination.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:CustomsDocuments:ResolutionDestinationExamination:5.12.0" version="5.12.0.0" xmlns:catESAD_ru="urn:customs.ru:RUCommonAggregateTypes:5.12.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.10.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:rde="urn:customs.ru:Information:CustomsDocuments:ResolutionDestinationExamination:5.12.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.10.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUCommonAggregateTypes:5.12.0" schemaLocation="RUESADCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Решение о назначении таможенной экспертизы</xs:documentation>
  </xs:annotation>
  <xs:element name="ResolutionDestinationExamination" type="rde:ResolutionDestinationExaminationType" />
  <xs:complexType name="ResolutionDestinationExaminationType">
    <xs:annotation>
      <xs:documentation>Решение о назначении таможенной экспертизы</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="NameExamination" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Наименование экспертизы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Country" type="clt_ru:CountryNameType">
            <xs:annotation>
              <xs:documentation>Наименование города</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Date" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата постановления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" name="Reason" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Основание для назначения экспертизы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" name="Question" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Вопросы, поставленные перед экспертом</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="KindExamination" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Вид экспертизы. "1" - дополнительная, "2" - повторная, "3" - комиссионная, "4" - комплексная.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateDuties" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата разъяснений прав и обязанностей, предусмотренные статьей 140 Таможенного кодекса Таможенного союза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateRights" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата разъяснения прав декларанта, иного лица, обладающего полномочиями в отношении товаров и (или) транспортных средств, и их представителей при назначении и проведении таможенной экспертизы, предусмотренные статьей 141 Таможенного кодекса Таможенного союза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Changes" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Признак того, что разрешено видоизменение, частичное или полное уничтожение, разрушение материалов, документов проб и образцов исследования</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CommissionExamination" type="rde:CommissionExaminationType">
            <xs:annotation>
              <xs:documentation>Поручение на экспертизу</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="TermRealizationExamination" type="rde:TermRealizationExaminationType">
            <xs:annotation>
              <xs:documentation>Срок проведения экспертизы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" name="GoodsAccordanceExhert" type="rde:GoodsAccordanceExhertType">
            <xs:annotation>
              <xs:documentation>Материалы, предоставленные эксперту</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Person" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>Лицо, которому поручено разъяснить эксперту его права и ответственность</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InfoCustomsPerson" type="rde:InfoCustomsPersonType">
            <xs:annotation>
              <xs:documentation>Сведения о должностном лице, назначившего экспертизу.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExpertSignature" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Подпись эксперта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="DeclarantSignature" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Подпись декларанта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="RepresentativeSignature" type="rde:PersonType">
            <xs:annotation>
              <xs:documentation>Подпись представителей</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="PersonSignature" type="rde:PersonType">
            <xs:annotation>
              <xs:documentation>Подпись лица, обладающего полномочиями в отношении товара и (или) транспортных средств</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="GoodsLocation" type="rde:GoodsLocationType">
            <xs:annotation>
              <xs:documentation>Местонахождение товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsChief" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Начальник таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Код и наименование таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InfoCustomsPersonDetermineAim" type="cat_ru:CustomsPersonType">
            <xs:annotation>
              <xs:documentation>Сведения о должностном лице таможенного органа, установившего цель проведения экспертизы.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="GTDID" type="cat_ru:GTDIDType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер таможенного документа. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="OtherDocument" type="cat_ru:DocumentBaseType">
            <xs:annotation>
              <xs:documentation>Реквизиты иных документов</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute fixed="1006023E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CommissionExaminationType">
    <xs:annotation>
      <xs:documentation>Поручение на экспертизу</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Organization" type="cat_ru:OrganizationBaseType">
        <xs:annotation>
          <xs:documentation>Экспертное учреждение</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Customs" type="cat_ru:CustomsType">
        <xs:annotation>
          <xs:documentation>Сведения о таможенном органе</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsAccordanceExhertType">
    <xs:annotation>
      <xs:documentation>Материалы, предоставленные эксперту</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ListSample" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Перечень проб и образцов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="Documents" type="cat_ru:DocumentBaseType">
        <xs:annotation>
          <xs:documentation>Документы, приложенные к пробам и образцам</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsLocationType">
    <xs:annotation>
      <xs:documentation>Местонахождение товаров.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="InformationTypeCode" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Код информации.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsLocationPlace" type="catESAD_ru:GoodsLocationPlaceType">
        <xs:annotation>
          <xs:documentation>Сведения о местонахождении товара. (склад получателя, иное место).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WarehousePlace" type="catESAD_ru:WarehousePlaceType">
        <xs:annotation>
          <xs:documentation>Место погрузки/разгрузки. Сведения о лицензии/ свидетельстве склада.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InfoCustomsPersonType">
    <xs:annotation>
      <xs:documentation>Сведения о должностном лице, назначившего экспертизу.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="OfficialTelephone" type="clt_ru:PhoneNumberType">
        <xs:annotation>
          <xs:documentation>Служебный номер телефона должностного лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsPerson" type="cat_ru:CustomsPersonType">
        <xs:annotation>
          <xs:documentation>Должностное лицо таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Address" type="cat_ru:AddressType">
        <xs:annotation>
          <xs:documentation>Адрес таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>Сведения о физ. лице</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonSignatureType">
        <xs:sequence>
          <xs:element minOccurs="0" name="AuthoritesDocument" type="cat_ru:AuthoritesDocumentType">
            <xs:annotation>
              <xs:documentation>Сведения о документе, удостоверяющем полномочия.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TermRealizationExaminationType">
    <xs:annotation>
      <xs:documentation>Срок проведения экспертизы</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="TermDay" type="clt_ru:CodeVariable3Type">
        <xs:annotation>
          <xs:documentation>Срок проведения экспертизы в днях</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="BeginDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата начала проведения экспертизы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="EndDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дача окончания проведения экспертизы</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>