XsltProcessor/xsd/5.13.4/WHDocReject.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:WarehouseDocuments:WHDocReject:5.10.0" version="5.10.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.10.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:whdrj="urn:customs.ru:Information:WarehouseDocuments:WHDocReject:5.10.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.10.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Отказ в предоставлении электронных документов владельцу СВХ</xs:documentation>
  </xs:annotation>
  <xs:element name="WHDocReject" type="whdrj:WHDocRejectType" />
  <xs:complexType name="WHDocRejectType">
    <xs:annotation>
      <xs:documentation>Отказ в предоставлении электронных документов владельцу СВХ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="SendDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата направления отказа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="SendTime" type="clt_ru:TimeCustType">
            <xs:annotation>
              <xs:documentation>Время направления отказа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" name="ReasonReject" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Причина отказа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Comments" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Комментарии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPerson" type="cat_ru:CustomsPersonType">
            <xs:annotation>
              <xs:documentation>Должностное лицо таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute fixed="1008017E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>