XsltProcessor/xsd/5.22.0/CustOpinion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:CustomsDocuments:CustOpinion:5.22.0" version="5.22.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cuop="urn:customs.ru:Information:CustomsDocuments:CustOpinion:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Заключение таможенного эксперта</xs:documentation>
  </xs:annotation>
  <xs:element name="CustOpinion" type="cuop:CustOpinionType" />
  <xs:complexType name="CustOpinionType">
    <xs:annotation>
      <xs:documentation>Заключение таможенного эксперта</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="RegNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Номер заключения таможенного эксперта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CityName" type="clt_ru:CityNameType">
            <xs:annotation>
              <xs:documentation>Наименование города</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateTimeStart" type="clt_ru:DateTimeCustType">
            <xs:annotation>
              <xs:documentation>Начало экспертизы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateTimeEnd" type="clt_ru:DateTimeCustType">
            <xs:annotation>
              <xs:documentation>Окончание экспертизы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FIOExpert" type="clt_ru:NameType">
            <xs:annotation>
              <xs:documentation>ФИО эксперта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Qualification" type="clt_ru:Text50Type">
            <xs:annotation>
              <xs:documentation>Квалификация эксперта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExpertExperience" type="clt_ru:Count2Type">
            <xs:annotation>
              <xs:documentation>Экспертный стаж. (лет)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Questions" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Вопросы, поставленные на разрешение таможенного эксперта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Presentation" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Сведения о предоставление необходимого для таможенной экспертизы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="InspectionAccount" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Внешний осмотр и оценка исходных данных</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Examination" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Исследование (с указанием примененных методов, материалов и документов, иллюстрирующих заключение таможенного эксперта, оценка результатов исследований)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="SynthesizingPortion" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Синтезирующая часть (в комплексных экспертизах при необходимости)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Conclusions" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Выводы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ExpertCertificate" type="cat_ru:DocumentBaseType">
            <xs:annotation>
              <xs:documentation>Экспертное свидетельство</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Commission" type="cat_ru:DocumentBaseType">
            <xs:annotation>
              <xs:documentation>Поручение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" name="ExpertSignature" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Подпись таможенного эксперта</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute fixed="1006114E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>