XsltProcessor/xsd/5.22.0/CUTIR_Carnet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cutirc="urn:customs.ru:Information:TransportDocuments:Car:CUTIR_Carnet:5.22.0" xmlns:catTrans_cu="urn:customs.ru:Information:TransportDocuments:CUTransportCommonAgregateTypesCust:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" targetNamespace="urn:customs.ru:Information:TransportDocuments:Car:CUTIR_Carnet:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:Information:TransportDocuments:CUTransportCommonAgregateTypesCust:5.22.0" schemaLocation="CUTransportCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Электронная копия транзитной декларации, в качестве которой используется книжка МДП с прилагаемыми к ней транспортными (перевозочными) и коммерческими документами</xs:documentation>
  </xs:annotation>
  <xs:element name="CUTIR_Carnet" type="cutirc:CUTIR_CarnetType" />
  <xs:complexType name="CUTIR_CarnetType">
    <xs:annotation>
      <xs:documentation>«Электронная копия транзитной декларации, в качестве которой используется книжка МДП с прилагаемыми к ней транспортными (перевозочными) и коммерческими документами»</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="TransitDirectionCode" type="clt_ru:TransitDirectionCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation> ИМ, ЭК, ТР, ВТ, ТС. Гр. 1 ТД. Третий подраздел</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsProcedure" type="clt_ru:Code3Type">
            <xs:annotation>
              <xs:documentation>МДП. Первый подраздел гр.1 ТД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsQuantity" type="clt_ru:Count3Type">
            <xs:annotation>
              <xs:documentation>Общее число товаров по книжке МДП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SpecificationNumber" type="clt_ru:SheetNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Общее количество отгрузочных спецификаций</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ShipSpecifGoodsQuantity" type="clt_ru:Quantity3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество товаров по отгрузочным спецификациям</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DispatchCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Страна отправления. Буквенный код страны в соответствии с классификатором стран мира</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DestinationCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Страна назначения. Буквенный код страны в соответствии с классификатором стран мира</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TotalInvoicedCost" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Общая фактурная стоимость</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InvoicedCostCurrencyCode" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Буквенный код валюты фактурной стоимости в соответствии с классификатором валют</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TotalPageQuantity" type="clt_ru:Count3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество листов всех документов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DestinationCountryName" type="clt_ru:CountryNameType">
            <xs:annotation>
              <xs:documentation>Страна назначения. Краткое название страны в соответствии с классификатором стран мира</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DispatchCountryName" type="clt_ru:CountryNameType">
            <xs:annotation>
              <xs:documentation>Страна отправления. Краткое название страны в соответствии с классификатором стран мира</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TotalPackageNumber" type="clt_ru:PakageNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Общее количество грузовых мест</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Language" type="clt_ru:LanguageCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код языка заполнения документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateExpectedArrival" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата ожидаемого прибытия товаров и транспортных средств в пограничный пункт пропуска</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TimeExpectedArrival" type="clt_ru:TimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Время ожидаемого прибытия товаров и транспортных средств в пограничный пункт пропуска</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TIRIdentifier" type="catTrans_cu:TIRIdentifierType">
            <xs:annotation>
              <xs:documentation>Идентификатор книжки МДП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Carrier" type="cutirc:TIRCarrierType">
            <xs:annotation>
              <xs:documentation>Перевозчик / Держатель книжки МДП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Forwarder" type="catTrans_cu:TIRForwarderType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Экспедитор</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CUTransport" type="cutirc:CUDepartureArrivalTransportType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Транспортные средства </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PrecedingDocument" type="cutirc:PrecedingDocumentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Предшествующий документ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CUPresentedDocuments" type="cutirc:PresentedDocumentsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Представленные документы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TIRDeclarant" type="cutirc:TIRDeclarantType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Информация о декларанте</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TIRShipment" type="cutirc:TIRShipmentType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о товарной партии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BorderCustoms" type="cat_ru:CUCustomsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Таможенный орган (пограничный пункт пропуска), в который ожидается прибытие товаров и транспортных средств</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1003106E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CUDepartureArrivalTransportType">
    <xs:annotation>
      <xs:documentation>Транспортные средства при прибытии/убытии</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:CUTransportMeansType">
        <xs:sequence>
          <xs:element name="TransportMeansQuantity" type="clt_ru:Count5Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество транспортных средств</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransportMeans" type="cat_ru:TransportMeansBaseType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Описание транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PrecedingDocumentType">
    <xs:annotation>
      <xs:documentation>Предшествующие документы</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PrecedingDocumentID" type="clt_ru:Numeric1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дополнительный идентификатор предшествующего документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrecedingDocumentCustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код таможенного органа предшествующего документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrecedingDocumentDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Предшествующий документ - дата </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrecedingDocumentNumber" type="clt_ru:PrecedingDocumentNumberType">
        <xs:annotation>
          <xs:documentation>Предшествующий документ - регистрационный номер документа / номер документа при транзите</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrecedingDocumentGoodsNumeric" type="clt_ru:Code3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер товара в предшествующем документе </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrecedingDocumentName" type="clt_ru:DocumentNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование предшествующего документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrecedingDocumentModeCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код вида предшествующего документа в соответствии с классификатором видов документов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LineNumber" type="clt_ru:SheetNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порядковый номер строки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NetWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес товара, нетто (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код страны таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplementaryGoodsQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товара в дополнительной единице измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PresentedDocumentsType">
    <xs:annotation>
      <xs:documentation>Представленные документы</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PresentedDocumentModeCode" type="clt_ru:CustomsDocumentCodeType">
            <xs:annotation>
              <xs:documentation>Код вида представляемого документа. Заполняется в соответствии с классификатором видов документов, используемых при заявлении сведений в графе 44</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentBeginActionsDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата начала действия документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentEndActionsDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата окончания действия документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код страны в соответствии с классификатором стран мира, в которой выдан сертификат</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TIRCarrierType">
    <xs:annotation>
      <xs:documentation>Перевозчик / Держатель книжки МДП</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType">
        <xs:sequence>
          <xs:element name="TIRHolderID" type="clt_ru:TIRHolderIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификационный номер держателя книжки МДП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CUDriverInformation" type="catESAD_cu:CUDriverInformationType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Информация о водителе транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TIRConsigneeType">
    <xs:annotation>
      <xs:documentation>Сведения о получателе</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TIRConsignorType">
    <xs:annotation>
      <xs:documentation>Сведения об отправителе</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TIRDeclarantType">
    <xs:annotation>
      <xs:documentation>Информация о декларанте</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TIRGoodsType">
    <xs:annotation>
      <xs:documentation>Товары в книжке МДП</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count5Type">
        <xs:annotation>
          <xs:documentation>Номер товара по списку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Наименование груза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplementaryGoodsQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кол-во товара (в дополнительной единице измерения)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrossWeightQuantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Вес товара, брутто (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NetWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес товара, нетто (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplementaryMeasureUnitCode" type="clt_ru:Code3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код дополнительной единицы измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InvoicedCost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Фактурная стоимость</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InvoicedCostCurrencyCode" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Буквенный код валюты фактурной стоимости в соответствии с классификатором валют</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Language" type="clt_ru:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код языка описания товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PlacesInfo" type="catTrans_cu:TRPackingInfoType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о грузовых местах</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PackingInfo" type="catTrans_cu:TRPackingInfoType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения об упаковке товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrecedingDocument" type="cutirc:PrecedingDocumentType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Предшествующий документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CUPresentedDocuments" type="cutirc:PresentedDocumentsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Представленные документы</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TIRShipmentType">
    <xs:annotation>
      <xs:documentation>Сведения о товарной партии</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ContainerIndicator" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак контейнерных перевозок</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContainerID" type="clt_ru:ContainerIdentityType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Номер контейнера</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalPlacesQuantity" type="clt_ru:Quantity11Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общее число грузовых мест</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TIRConsignor" type="cutirc:TIRConsignorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения об отправителе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TIRConsignee" type="cutirc:TIRConsigneeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о получателе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Destination" type="catTrans_cu:TIRDestinationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Место назначения/доставки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TIRGoods" type="cutirc:TIRGoodsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Товары в книжке МДП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentityMark" type="catTrans_cu:IdentityMarkType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Пломбы или опознавательные знаки (число, идентификация)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>