XsltProcessor/xsd/5.22.0/DebtIncashANDCommission.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Приказ ФТС России от 08.02.2019 г. № 211:
Приложение 1 (OrderType=0, DocumentType=0) - Поручение таможенного органа на бесспорное взыскание
Приложение 2 (OrderType=2, DocumentType=0) - Поручение таможенного органа на перевод электронных денежных средств
Приложение 3 (OrderType=1, DocumentType=0) - Поручение таможенного органа на продажу иностранной валюты
Приложение 4 (OrderType=0, DocumentType=2) - Решение таможенного органа об отзыве поручения таможенного органа на бесспорное взыскание
Приложение 5 (OrderType=2, DocumentType=2) - Решение таможенного органа об отзыве инкассового поручения (поручения таможенного органа на перевод электронных денежных средств)
Письмо ФТС России от 12.09.2018 № 05-62/57789, Федеральный закон от 03.08.2018 г. № 289-ФЗ ст.75 п.13 (без НПА для формы):
(OrderType=3, DocumentType=0) - Поручение на перечисление денежных средств с депозитного счета на расчетный (текущий) счет плательщика (лица, несущего солидарную обязанность)
Письмо ГУИТ ФТС России от 10.10.2018 № 09-126/64177, Федеральный закон от 03.08.2018 г. № 289-ФЗ ст.75 п.13 (без НПА для формы):
(OrderType=4, DocumentType=0) - Поручение на продажу драгоценных металлов и перечисление денежных средств от продажи драгоценных металлов на расчетный (текущий) счет плательщика (лица, несущего солидарную обязанность))
-->
<xs:schema xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:diac="urn:customs.ru:Information:CommercialFinanceDocuments:DebtIncashANDCommission:5.22.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CommercialFinanceDocuments:DebtIncashANDCommission:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Поручение на продажу иностранной валюты; Поручение на перевод электронных денежных средств; Поручение на бесспорное взыскание; Решение об отзыве поручения на бесспорное взыскание; Решение об отзыве инкассового поручения (Поручения на перевод электронных денежных средств); Поручение на перечисление денежных средств с депозитного счета на расчетный (текущий) счет плательщика; Поручение на продажу драгоценных металлов и перечисление денежных средств от продажи драгоценных металлов на расчетный (текущий) счет плательщика)</xs:documentation>
  </xs:annotation>
  <xs:element name="DebtIncashANDCommission" type="diac:DebtIncashANDCommissionType">
    <xs:annotation>
      <xs:documentation>Поручение на продажу иностранной валюты; Поручение на перевод электронных денежных средств; Поручение на бесспорное взыскание; Решение об отзыве поручения на бесспорное взыскание; Решение об отзыве инкассового поручения (Поручения на перевод электронных денежных средств); Поручение на перечисление денежных средств с депозитного счета на расчетный (текущий) счет плательщика; Поручение на продажу драгоценных металлов и перечисление денежных средств от продажи драгоценных металлов на расчетный (текущий) счет плательщика)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DebtIncashANDCommissionType">
    <xs:annotation>
      <xs:documentation>Поручение на продажу иностранной валюты; Поручение на перевод электронных денежных средств; Поручение на бесспорное взыскание; Решение об отзыве поручения на бесспорное взыскание; Решение об отзыве инкассового поручения (Поручения на перевод электронных денежных средств); Поручение на перечисление денежных средств с депозитного счета на расчетный (текущий) счет плательщика; Поручение на продажу драгоценных металлов и перечисление денежных средств от продажи драгоценных металлов на расчетный (текущий) счет плательщика)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="InfoDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата формирования сведений</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InfoTime" type="clt_ru:TimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Время формирования сведений</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentInfo" type="diac:DocumentInfoType">
            <xs:annotation>
              <xs:documentation>Сведения о документе</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1002047E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="CodeVariable15Type">
    <xs:annotation>
      <xs:documentation>Код. Символьная строка (буквы, цифры, знаки) используемая для краткого (и (или) независимого от языка) представления или замены определенных значений или текстовых свойств. От 1 до 15 символов. Указывается номер документа, на основании которого делается платеж.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:CodeCategoriesCust">
      <xs:minLength value="1" />
      <xs:maxLength value="15" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Id25Type">
    <xs:annotation>
      <xs:documentation>Строка символов, идентифицирующая объект, содержащая не более 25 символов</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:IdentifierCategoriesCust">
      <xs:minLength value="1" />
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Id2025Type">
    <xs:annotation>
      <xs:documentation>Идентификатор. Не более 25 символов. Числовой</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:IdentifierCategoriesCust">
      <xs:pattern value="\d{25}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Text210Type">
    <xs:annotation>
      <xs:documentation>Текст. Строка от 1 до 210 символов</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:minLength value="1" />
      <xs:maxLength value="210" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Text35Type">
    <xs:annotation>
      <xs:documentation>Текст. Строка от 1 до 35 символов</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AmountType">
    <xs:annotation>
      <xs:documentation>Сумма</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PaymentAmountText" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Сумма платежа прописью</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentKBK" type="clt_ru:CodeVariable20Type">
        <xs:annotation>
          <xs:documentation>Реквизит 104 (КБК)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentAmount" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма платежа цифрами</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CodeCurrency" type="clt_ru:Code3Type">
        <xs:annotation>
          <xs:documentation>Код валюты</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BankInfoPayerType">
    <xs:annotation>
      <xs:documentation>Сведения о банке и счете плательщика</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OrganizationName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Полное наименование организации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShortName" type="clt_ru:ShortNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Краткое наименование организации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INN" type="clt_ru:INNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИНН банка плательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KPP" type="clt_ru:KPPCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>КПП банка плательшика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OGRN" type="clt_ru:OGRNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ОГРН/ОГРНИП банка плательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OKPOID" type="clt_ru:OKPOIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код организации по ОКПО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OKATOCode" type="clt_ru:OKATOCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код ОКАТО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BICBankPayer" type="clt_ru:BICIDType">
        <xs:annotation>
          <xs:documentation>БИК банка плательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AccountPayer" type="clt_ru:AccountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер счета плательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AccountTypePayer" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид счета плательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CodeAccountCurrencyPayer" type="clt_ru:Code3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код валюты счета плательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CorporatePayer" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор корпоративного электронного средства платежа плательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BaseDocumentType">
    <xs:annotation>
      <xs:documentation>Документ основание</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DecisInconGR" type="diac:DecisInconGRType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Реквизиты Поручения на бесспорное взыскание / неисполненного Поручения на бесспорное взыскание </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Indocrn" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Реквизиты входного документа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustChiefSignatureSupplemented">
    <xs:annotation>
      <xs:documentation>Подпись, фамилия, имя, отчество начальника таможенного органа (лица, им уполномоченного).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonSurname" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Фамилия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Имя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonMiddleName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonPost" type="clt_ru:PostType">
        <xs:annotation>
          <xs:documentation>Должность</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IssueDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата подписания</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DecisInconGRType">
    <xs:annotation>
      <xs:documentation>Реквизиты Поручения на бесспорное взыскание или неисполненного Поручения на бесспорное взыскание. Указывается для документов: Поручение на продажу иностранной валюты, Поручение на перечисление денежных средств с депозитного счета на расчетный (текущий) счет плательщика, Решение об отзыве поручения на бесспорное взыскание, Поручение на продажу драгоценных металлов и перечисление денежных средств от продажи драгоценных металлов на расчетный (текущий) счет плательщика</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PrDocumentName" type="clt_ru:DocumentNameType">
        <xs:annotation>
          <xs:documentation>Наименование документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrDocumentNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер поручения таможенного органа на бесспорное взыскание</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrDocumentDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата поручения таможенного органа на бесспорное взыскание</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AccountPayer" type="clt_ru:AccountType">
        <xs:annotation>
          <xs:documentation>Номер счета плательщика, указанный в поручении таможенного органа на бесспорное взыскание</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о документе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsOffice" type="cat_ru:CustomsType">
        <xs:annotation>
          <xs:documentation>Код и наименование таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentType" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Тип сведений: 0 - документ, 2 - отзыв документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrderType" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Вид документа: 0 - поручение на бесспорное взыскание, 1 - поручение на продажу иностранной валюты, 2 - поручение на перевод электронных денежных средств, 3 - поручение на перечисление денежных средств с депозитного счета на расчетный (текущий) счет плательщика, 4 - поручение на продажу драгоценных металлов и перечисление денежных средств от продажи драгоценных металлов на расчетный (текущий) счет плательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RequisitesDocument" type="cat_ru:DocumentBaseType">
        <xs:annotation>
          <xs:documentation>Реквизиты документа (поручения / решения)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PayerInfo" type="diac:OrganizationMeasType">
        <xs:annotation>
          <xs:documentation>Сведения о плательщике (организации/индивидуальном предпринимателе)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PayerBankInfo" type="diac:BankInfoPayerType">
        <xs:annotation>
          <xs:documentation>Сведения о банке и счете плательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransFerfunds" type="diac:TransFerfundsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Реквизиты для перевода денежных средств</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BaseDocument" type="diac:BaseDocumentType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Документ основание</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentSignature" type="diac:DocumentSignatureType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Подпись документов</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentSignatureType">
    <xs:annotation>
      <xs:documentation>Типы подписи документов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustChiefSignature" type="diac:CustChiefSignatureSupplemented">
        <xs:annotation>
          <xs:documentation>Подпись начальника таможенного органа (лица, им уполномоченного)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExecutiveSignature" type="diac:ExecutiveSignatureSupplemented">
        <xs:annotation>
          <xs:documentation>Подпись исполнителя</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExecutiveSignatureSupplemented">
    <xs:annotation>
      <xs:documentation>Подпись, фамилия, имя, отчество исполнителя</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonSurname" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Фамилия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Имя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonMiddleName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonPost" type="clt_ru:PostType">
        <xs:annotation>
          <xs:documentation>Должность</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IssueDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата подписания</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Phone" type="clt_ru:PhoneNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер телефона исполнителя</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganizationMeasType">
    <xs:annotation>
      <xs:documentation>Сведения о плательщике</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OrganizationName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Полное наименование организации </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShortName" type="clt_ru:ShortNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Краткое наименование организации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrganizationLanguage" type="clt_ru:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код языка для заполнения наименования </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FIO" type="diac:FIOType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ФИО плательщика - ИП </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INN" type="clt_ru:INNIDType">
        <xs:annotation>
          <xs:documentation>ИНН плательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KPP" type="clt_ru:KPPCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>КПП плательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OGRN" type="clt_ru:OGRNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ОГРН/ОГРНИП плательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OKPOID" type="clt_ru:OKPOIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код организации по ОКПО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OKATOCode" type="clt_ru:OKATOCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код ОКАТО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ITN" type="clt_ru:ITNType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИТН</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransFerfundsType">
    <xs:annotation>
      <xs:documentation>Реквизиты перевода денежных средств. Заполняется для документов: Поручение на бесспорное взыскание, Поручение на перевод электронных денежных средств.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TransFerReqs" type="diac:TransFerReqsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Реквизиты</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Amount" type="diac:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма / Сумма платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransFerReqsType">
    <xs:annotation>
      <xs:documentation>Реквизиты</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AccountRecipient" type="clt_ru:AccountType">
        <xs:annotation>
          <xs:documentation>Номер счета получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CodeAccountCurrency" type="clt_ru:Code3Type">
        <xs:annotation>
          <xs:documentation>Код валюты счета получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sKorAccountBankPayer" type="clt_ru:AccountType">
        <xs:annotation>
          <xs:documentation>Номер корреспондентского счета кредитной организации – банка плательщика, открытый в подразделении Банка России </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sKorAccountBankRecipient" type="clt_ru:AccountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер корреспондентского счета кредитной организации – банка получателя, открытый в подразделении Банка России. Номер единого казначейского счета территориального органа Федерального Казначейства, открытый в подразделении Банка России</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BankInfoRecipient" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование банка получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BICBankRecipient" type="clt_ru:BICIDType">
        <xs:annotation>
          <xs:documentation>БИК банка получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecipientName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование получателя платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecipientINN" type="clt_ru:INNIDType">
        <xs:annotation>
          <xs:documentation>ИНН получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecipientKPP" type="clt_ru:KPPCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>КПП получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TypeOfOperation" type="clt_ru:Count2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид операции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentCode" type="diac:Id2025Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Реквизит 22 (Уникальный идентификатор начисления)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PriorityPayment" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Очередность платежа (от 1 до 5)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PurposePayment" type="diac:Text210Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Назначение платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReserveField" type="diac:Text35Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Резервное поле</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TypePayment" type="clt_ru:Numeric1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Реквизит 5 (Вид платежа)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Order101" type="clt_ru:Count10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Реквизит 101 (Статус)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Order105" type="clt_ru:CodeVariable11Type">
        <xs:annotation>
          <xs:documentation>Реквизит 105 (Код ОКТМО)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Order106" type="clt_ru:CodeVariable2Type">
        <xs:annotation>
          <xs:documentation>Реквизит 106 (Основание платежа)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Order108" type="diac:CodeVariable15Type">
        <xs:annotation>
          <xs:documentation>Реквизит 108 (Номер документа, на основании которого делается платеж)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Order109" type="clt_ru:CodeVariable10Type">
        <xs:annotation>
          <xs:documentation>Реквизит 109 (Дата документа, на основании которого делается платеж)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Order110" type="clt_ru:Numeric1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Реквизит 110 (Код выплат)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FIOType">
    <xs:annotation>
      <xs:documentation>Фамилия, имя, отчество</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonSurname" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Фамилия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Имя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonMiddleName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>