XsltProcessor/xsd/5.22.0/DecisionPreliminaryOrigin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приказ ФТС России от 05.02.2019 № 181 
IDDoc = 'ОЗ' - Приложение 4 - Решение об отказе в рассмотрении заявления о принятии предварительного решения о происхождении товара
IDDoc = 'ОП' - Приложение 6 - Решение об отказе в принятии предварительного решения о происхождении товара
IDDoc = 'РО' - Приложение 8 - Решение об отзыве предварительного решения о происхождении товара
IDDoc = 'РП' - Приложение 10 - Решение о прекращении действия предварительного решения о происхождении товара
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:dpo="urn:customs.ru:Information:CustomsDocuments:DecisionPreliminaryOrigin:5.22.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:DecisionPreliminaryOrigin:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Решение, связанное с отказом в рассмотрении/отказом в принятии/отзывом/прекращением действия предварительного решения о происхождении товара</xs:documentation>
  </xs:annotation>
  <xs:element name="DecisionPreliminaryOrigin" type="dpo:DecisionPreliminaryOriginType">
    <xs:annotation>
      <xs:documentation>Решение, связанное с отказом в рассмотрении/отказом в принятии/отзывом/прекращением действия предварительного решения о происхождении товара</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DecisionPreliminaryOriginType">
    <xs:annotation>
      <xs:documentation>Решение, связанное с отказом в рассмотрении/отказом в принятии/отзывом/прекращением действия предварительного решения о происхождении товара</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Код и наименование таможенного органа, принявшего решение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistryNumber" type="dpo:RegistryNumberType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер  решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Declarant" type="RUScat_ru:OrganizationType">
            <xs:annotation>
              <xs:documentation>Сведения о заявителе </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApplicationRegistration" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Исходящий номер и дата заявления </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Goods" type="dpo:GoodsType">
            <xs:annotation>
              <xs:documentation>Сведения о товаре</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PreliminaryDecisionNum" type="dpo:PreliminaryDecisionNumType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер отзываемого предварительного решения / действие которого прекращается</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReasonsForDecision" type="clt_ru:LetterIndicatorType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Основание принятия решения  (для "ОЗ" - пункт(ы) ч.9 ст.22 ФЗ-289; для "ОП" - пункт(ы) ч.15 ст.22 ФЗ-289; для "РО" - пункт 6 ст.36 ТК ЕАЭС ; для "РП" - подпункт(ы) п.3 ст.36 ТК ЕАЭС)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InterpretationRules" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Причины принятия решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPerson" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Подпись должностного лица таможенного органа, принявшего решение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateEntryIntoForce" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата вступления в силу (для "РО" и "РП")</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006282E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CountryType">
    <xs:annotation>
      <xs:documentation>Сведения о  стране</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CountryName" type="clt_ru:CountryNameType">
        <xs:annotation>
          <xs:documentation>Наименование  страны</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType">
        <xs:annotation>
          <xs:documentation>Код  страны</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товаре</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsName" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsFirmName" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Фирменное наименование товара (товарный знак)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Purpose" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Назначение товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Kind" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сорт товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Mark" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Марка товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Model" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Модель товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Article" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Артикул товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OtherInformation" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Другие сведения о товаре, позволяющие его идентифицировать</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TNVEDCode" type="clt_ru:GoodsNomenclatureCodeType">
        <xs:annotation>
          <xs:documentation>Код ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PackageDescription" type="clt_ru:FreeText500Type" maxOccurs="8">
        <xs:annotation>
          <xs:documentation>Описание упаковки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CommercialPurpose" type="clt_ru:FreeText500Type" maxOccurs="8">
        <xs:annotation>
          <xs:documentation>Коммерческое назначение и другая дополнительная информация</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MakingProcessDescription" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="8">
        <xs:annotation>
          <xs:documentation>Описание технологического процесса изготовления товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Amount" type="RUScat_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Стоимость товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsMaterials" type="dpo:MaterialType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Материалы, из которых изготовлен товар</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MaterialType">
    <xs:annotation>
      <xs:documentation>Сведения о материалах, из которых изготовлен товар</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Name" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Наименование материала</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HarmonizedCode" type="clt_ru:GoodsNomenclatureCodeType">
        <xs:annotation>
          <xs:documentation>Код материала по ГС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Price" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Стоимость</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyCode" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код валюты</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Country" type="dpo:CountryType">
        <xs:annotation>
          <xs:documentation>Страна происхождения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PreliminaryDecisionNumType">
    <xs:annotation>
      <xs:documentation>Номер предварительного решения о происхождении товара</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType">
        <xs:annotation>
          <xs:documentation>Код государства-члена</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Date" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата принятия предварительного решения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SerialNumber" type="clt_ru:Count4Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер предварительного решения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IndexElement" type="clt_ru:Count2Type">
        <xs:annotation>
          <xs:documentation>Элемент «01» по умолчанию</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistryNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер и дата документа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType">
        <xs:annotation>
          <xs:documentation>Буквенный код государства-члена Евразийского экономического союза  </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IDDoc" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Идентификатор вида документа:  "ОЗ" - Решение об отказе в рассмотрении заявления; "ОП" -  Решение об отказе в принятии предварительного решения; "РО" - Решение об отзыве предварительного решения; "РП" - Решение о прекращении действия предварительного решения </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Date" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата принятия документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SerialNumber" type="clt_ru:Code4Type">
        <xs:annotation>
          <xs:documentation>Порядковый исходящий номер</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>