XsltProcessor/xsd/5.22.0/DecisionPreliminaryClassification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приказ ФТС России от 07.02.2019 № 205
IDDoc = 'ОЗ' - Приложение 4 - Решение об отказе в рассмотрении заявления о принятии предварительного решения о классификации товара
IDDoc = 'ОП' - Приложение 6 - Решение об отказе в принятии предварительного решения о классификации товара
IDDoc = 'РО' - Приложение 8 - Решение об отзыве предварительного решения о классификации товара
IDDoc = 'РП' - Приложение 10 - Решение о прекращении действия предварительного решения о классификации товара
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:dpc="urn:customs.ru:Information:CustomsDocuments:DecisionPreliminaryClassification:5.22.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:DecisionPreliminaryClassification:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Решение, связанное с отказом в рассмотрении/отказом в принятии/отзывом/прекращением действия предварительного решения о классификации товара</xs:documentation>
  </xs:annotation>
  <xs:element name="DecisionPreliminaryClassification" type="dpc:DecisionPreliminaryClassificationType">
    <xs:annotation>
      <xs:documentation>Решение, связанное с отказом в рассмотрении/отказом в принятии/отзывом/прекращением действия предварительного решения о классификации товара</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DecisionPreliminaryClassificationType">
    <xs:annotation>
      <xs:documentation>Решение, связанное с отказом в рассмотрении/отказом в принятии/отзывом/прекращением действия предварительного решения о классификации товара</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Код и наименование таможенного органа, принявшего решение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistryNumber" type="dpc:RegistryNumberType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер  решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Declarant" type="RUScat_ru:OrganizationType">
            <xs:annotation>
              <xs:documentation>Сведения о заявителе </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApplicationRegistration" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Исходящий номер и дата заявления </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Goods" type="dpc:GoodsType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о товаре</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PreliminaryDecisionNum" type="dpc:PreliminaryDecisionNumType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Регистрационный номер отзываемого предварительного решения / действие которого прекращается</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReasonsForDecision" type="clt_ru:LetterIndicatorType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Основание принятия решения  (для "ОЗ" - пункт(ы) ч.9 ст.18 ФЗ-289; для "ОП" - пункт(ы) ч.15 ст.18 ФЗ-289; для "РО" - подпункт(ы) п. 6 ст. 26 ТК ЕАЭС; для "РП" - подпункт(ы) п. 3 ст. 26 ТК ЕАЭС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InterpretationRules" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Причины принятия решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPerson" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Подпись должностного лица таможенного органа, принявшего решение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateEntryIntoForce" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата вступления в силу (для "РО" и "РП")</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006283E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товаре</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование товара/Полное коммерческое наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CorporateDescription" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Фирменное наименование товара (товарный знак)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Purpose" type="clt_ru:Text3MB" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Назначение</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Standard" type="clt_ru:ShortNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Стандарт</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Kind" type="clt_ru:ShortNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сорт</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Mark" type="clt_ru:ShortNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Марка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Model" type="clt_ru:ShortNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Модель</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Art" type="clt_ru:ShortNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Артикул</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MaterialsName" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Материал, из которого изготовлен товар</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Technology" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Технология обработки/переработки товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Features" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Выполняемые товаром функции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Container" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Индивидуальная и транспортная тара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Other" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Иное</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PresumedTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PreliminaryDecisionNumType">
    <xs:annotation>
      <xs:documentation>Номер предварительного решения о классификации товара</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType">
        <xs:annotation>
          <xs:documentation>Код государства-члена</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Date" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата принятия предварительного решения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SerialNumber" type="clt_ru:Count4Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер предварительного решения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IndexElement" type="clt_ru:Count2Type">
        <xs:annotation>
          <xs:documentation>Элемент «01» по умолчанию</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistryNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер и дата документа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType">
        <xs:annotation>
          <xs:documentation>Буквенный код государства-члена Евразийского экономического союза  </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IDDoc" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Идентификатор вида документа:  "ОЗ" - Решение об отказе в рассмотрении заявления; "ОП" -  Решение об отказе в принятии предварительного решения; "РО" - Решение об отзыве предварительного решения; "РП" - Решение о прекращении действия предварительного решения </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Date" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата принятия документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SerialNumber" type="clt_ru:Code4Type">
        <xs:annotation>
          <xs:documentation>Порядковый исходящий номер</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>