XsltProcessor/xsd/5.22.0/DeclarationConformity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:catSert_ru="urn:customs.ru:Information:SertifDocuments:SertifCommonAggregateTypesCust:5.22.0" xmlns:declc="urn:customs.ru:Information:SertifDocuments:DeclarationConformity:5.22.0" targetNamespace="urn:customs.ru:Information:SertifDocuments:DeclarationConformity:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:Information:SertifDocuments:SertifCommonAggregateTypesCust:5.22.0" schemaLocation="SertifCommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Декларация о соответствии</xs:documentation>
	</xs:annotation>
	<xs:element name="DeclarationConformity" type="declc:DeclarationConformityType">
		<xs:annotation>
			<xs:documentation>Декларация о соответствии</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="DeclarationConformityType">
		<xs:annotation>
			<xs:documentation>Декларация о соответствии</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="BDRDID" type="clt_ru:DocumentIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор документа по БД РД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SchemaDeclaration" type="clt_ru:Code2Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Схема декларирования соответствия</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OtherInfo" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Иные сведения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StartDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата начала действия декларации соответствия</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EndDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата окончания действия декларации соответствия</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DeclNormDocInfo" type="declc:DeclNormDocInfoType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Информация о нормативных документах, на основании которых принимается декларация о соответствии </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DeclarationSign" type="clt_ru:Numeric1Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Декларация соответствия: 0 - Таможенный союз; 1 - Росстандарт</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DeclarationKind" type="clt_ru:Numeric1Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Тип реестра, содержащего декларацию: 0 - Реестр деклараций о соответствии продукции требованиям технических регламентов Таможенного Союза; 1 - Реестр деклараций о соответствии продукции требованиям технических регламентов Российской Федереации; 2 - Реестр деклараций о соответствии продукции требованиям Единого перечня Таможенного Союза</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RegistrationNumber" type="declc:RegistrationNumberType">
						<xs:annotation>
							<xs:documentation>Регистрационный номер</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Declarant" type="declc:DeclarantType">
						<xs:annotation>
							<xs:documentation>Сведения о заявителе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Goods" type="declc:GoodsType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о продукции</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Document" type="declc:GroundDocsType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Документы, послужившие основанием для подтверждения соответствия</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DeclarantSignature" type="cat_ru:PersonSignatureType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Подпись заявителя</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Register" type="declc:RegisterType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения об органе, зарегистрировавшем декларацию о соответствии</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RegisterSignature" type="cat_ru:PersonSignatureType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Подпись Руководителя органа, регистрирующего  декларацию о соответствии</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AppendInfo" type="declc:AppendInfoType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о приложениях</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SuspendedInfo" type="declc:SuspendedInfoType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о приостановлении действия декларации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RevivedInfo" type="declc:RevivedInfoType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о возобновлении действия декларации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DiscontinuedInfo" type="declc:DiscontinuedInfoType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о прекращении действия декларации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Status" type="clt_ru:Count2Type">
						<xs:annotation>
							<xs:documentation>Сведения о статусе декларации (1 - ACTIVE - Действует; 2 - SUSPENDED - Действие приостановлено; 3 - PARTIALSUSPENSION - Действие временно приостановлено; 4 - REVIVED - Действие возобновлено; 5 - DISCONTINUED - Действие прекращено; 6 - EXTENDED - Продлено; 7 - CANCELED - Аннулировано; 8 - ARCHIVED - Архивно; 9 - NOTPUBLISHED - Не опубликован; 10 - EXCLUDEDREG - Исключен из реестра)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExpertSignature" type="cat_ru:PersonSignatureType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Подпись эксперта</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Section" type="clt_ru:Numeric1Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Раздел: 1 - ДС продукции требованиям тех. рег. ТС, 2 - ДС продукции, включенной в Единый перечень продукции в рамках ТС, 3 - Декларации РФ, 4 - ДС продукции, включенной в Единый перечень продукции РФ
</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009009E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="AppendInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о приложениях</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="declc:AppendsType">
				<xs:sequence>
					<xs:element name="Append" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о приложениях</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CertInfo" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Прочие сведения о декларации о соответствии</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AppendsType">
		<xs:annotation>
			<xs:documentation>Приложения</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AppendNumber" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Порядковый номер приложения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AppendFormNumber" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер бланка приложения (заполняется в случае наличия приложения)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChiefType">
		<xs:annotation>
			<xs:documentation>Сведения о руководителе организации</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:PersonBaseType">
				<xs:sequence>
					<xs:element name="ChiefText" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Указание ФИО руководителя и должности в родительном падеже</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeclarantType">
		<xs:annotation>
			<xs:documentation>Сведения о заявителе</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catSert_ru:SertifOrgBaseType">
				<xs:sequence>
					<xs:element name="OrgRegistryDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата регистрации организации или ИП</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Chief" type="declc:ChiefType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Руководитель организации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrgRegAuthority" type="cat_ru:OrganizationBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Орган регистрации юридического лица или индивидуального предпринимателя</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OPF" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Организационно-правовая форма</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Egr" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о государственной регистрации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DeclarantModeCode" type="clt_ru:Code2Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Тип лица ("Ul" - Юридическое лицо, "Fl" - Физическое лицо, "Al" - Иностранное ЮЛ, "Fp" - Индивидуальный предприниматель, "Aa" - Уполномоченное иностр. изг. лицо)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ApplicantType" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Тип заявителя (1 - Изготовитель, 2 - Поставщик, 3 - Продавец, 4 - Уполномоченное изготовителем лицо, 5 - Исполнитель)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ContractWithFM" type="cat_ru:DocumentBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Данные о договоре с иностранным изготовителем</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeclNormDocInfoType">
		<xs:annotation>
			<xs:documentation>Нормативные документы, на соответствие которым производится сертификация</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DeclNormDoc" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Обозначение национального стандарта или свода правил</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocsDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование национального стандарта или свода правил</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentInfo" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Подтверждение требованиям национального стандарта или свода правил</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Appends" type="declc:AppendsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Информация о приложении к СС для таблицы стандартов</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DiscontinuedInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о прекращении действия декларации</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Регистрационный номер уведомления (предписания) о прекращении действия декларации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateNumber" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата уведомления (предписания) о прекращении действия декларации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Date" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата прекращения действия декларации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReasonCode" type="clt_ru:Numeric1Type">
				<xs:annotation>
					<xs:documentation>Код причины прекращения действия декларации (1 - OnApplication (по заявлению), 2 - ByOrder (по предписанию))</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReasonDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Описание причины прекращениия действия декларации (по решению заявителя/по предписанию)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocManufacturedInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о документах, на основании которых изготовлена продукция</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NormDocs" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Обозначение документов, на основании которых произведена продукция</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TechReg" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Технический регламент</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TechRegOtherInfo" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Дополнительные сведения о технических регламентах</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsInformationType">
		<xs:annotation>
			<xs:documentation>Характеристика товара</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TradeMark" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тов. знак, место происхождения, объект авторского права, смежных прав, патент и т.д.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsMark" type="clt_ru:Text10Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Марка (модель) товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsMarking" type="clt_ru:Text10Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Артикул товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsStandard" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Стандарт (ГОСТ, ОСТ, СПП, СТО, ТУ)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsSort" type="clt_ru:Text10Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сорт / Сорт или группа сортов (для лесо- и пиломатериалов)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Dimensions" type="clt_ru:Text10Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Размеры</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsKind" type="clt_ru:Text10Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вид товара</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsType">
		<xs:annotation>
			<xs:documentation>Сведения о продукции</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="declc:AppendsType">
				<xs:sequence>
					<xs:element name="ProductCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Код продукции по ОК005 - Общероссийскому классификатору продукции</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Описание товара текстовое (наименование, тип, вид, марка продукции, обозначение стандарта, технических условий или иного документа, по которому она выпускается (для импортной продукции ссылка на документ необязательна. Для партии и единичного изделия приводят номер и размер партии или номер изделия, номер и дату выдачи накладной, договора (контракта), документа о качестве и т.п.)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeriesSign" type="clt_ru:LetterIndicatorType">
						<xs:annotation>
							<xs:documentation>Признак: 1 - "единичное изделие", 2 - "партия", 3 - "серийный выпуск"</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocManufacturedInfo" type="declc:DocManufacturedInfoType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о документах, на основании которых изготовлена продукция</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Manufacturer" type="declc:ManufacturerType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о изготовителе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsInformation" type="declc:GoodsInformationType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Характеристика товара</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TypeDeclaration" type="declc:TypeDeclarationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о типе объекта декларирования</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Contract" type="cat_ru:DocumentBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о контракте</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocsInfo" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о документах, соответствие которым подтверждено декларацией</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OtherInfo" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Дополнительная информация</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsOKPD2" type="clt_ru:CodeVariable14Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Код продукции по ОКПД2</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GroundDocsType">
		<xs:annotation>
			<xs:documentation>Описание  документов на основании которых выдана декларация</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="DocumentsFullName" type="clt_ru:FreeText500Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Перечень представленных документов одной строкой</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Shema" type="clt_ru:FreeText500Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Схема декларирования</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BasisProduce" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Основание выдачи декларации (сведения о протоколах испытаний)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrganizationName" type="clt_ru:NameType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Кем выдан документ (наименование органа производившего испытания)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrganizationNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер органа, производившего испытания</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BeginDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата регистрации аттестата</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EndDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата окончания действия аттестата</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrganizationAddress" type="cat_ru:AddressType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Адрес организации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Documents" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Прочие документы, послужившие основанием выдачи сертификата</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OtherInfo" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Дополнительная информация</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ManufacturerType">
		<xs:annotation>
			<xs:documentation>Сведения об изготовителе</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catSert_ru:SertifOrgBaseType">
				<xs:sequence>
					<xs:element name="Branch" type="declc:SubdivisionInfoType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Филиал</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ManufacturerOrgModeCode" type="clt_ru:Code2Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Тип лица ("Ul" - Юридическое лицо,  , "Fl" - Физическое лицо, "Al" - Иностранное ЮЛ)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OPF" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Организационно-правовая форма</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Organ" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Наименование органа, зарегистрировавшего организацию в качестве юридического лица</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DateOGRN" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата регистрации</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RegisterType">
		<xs:annotation>
			<xs:documentation>Сведения об органе, зарегистрировавшем декларацию о соответствии</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catSert_ru:SertifOrgBaseType">
				<xs:sequence>
					<xs:element name="RegistrationAuthority" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Наименование органа по аккредитации, выдавшего аттестат аккредитации.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RegistrationDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата аттестата аккредитации регистрации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RegistrationNumber" type="clt_ru:CodeVariable20Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер аттестата аккредитации органа по сертификации</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RegistrationNumberType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SerialNumber" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Номер декларации о соответствии</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код государства члена Евразийского экономического союза</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RevivedInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о возобновлении действия декларации</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Номер решения о возобновлении действия декларации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateNumber" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата решения о возобновлении действия декларации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Date" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата возобновления действия декларации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReasonDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Основание возобновления действия</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubdivisionInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о подразделениях предприятия</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:OrganizationType">
				<xs:sequence>
					<xs:element name="AppendFormNumber" type="clt_ru:Count10Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер бланка приложения</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SuspendedInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о приостановлении действия декларации</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Номер решения о приостановлении действия декларации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateNumber" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата решения о приостановлении действия декларации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReasonDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Основание приостановлении действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateBegin" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата начала периода приостановлении действия декларации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateEnd" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата окончания периода приостановлении действия декларации</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TypeDeclarationType">
		<xs:annotation>
			<xs:documentation>Сведения о типе объекта декларирования</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер партии/изделия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Size" type="clt_ru:Count5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Размер партии</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Quantity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество товара в партии</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShippingDocuments" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товаросопроводительные документы</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
