XsltProcessor/xsd/5.22.0/ExpertSummary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:exs="urn:customs.ru:Information:CustomsDocuments:ExpertSummary:5.22.0" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:ExpertSummary:5.22.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Заключение эксперта</xs:documentation>
  </xs:annotation>
  <xs:element name="ExpertSummary" type="exs:ExpertSummaryType">
    <xs:annotation>
      <xs:documentation>Заключение эксперта</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ExpertSummaryType">
    <xs:annotation>
      <xs:documentation>Заключение эксперта</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="EKSName" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Наименование экспертно-криминалистической службы - регионального филиала ЦЭКТУ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CEKTUDivision" type="exs:CEKTUDivisionInformationType">
            <xs:annotation>
              <xs:documentation>Информация о подразделении ЦЭКТУ проводившем экспертизу</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPerson" type="exs:CustomsPersonType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Должностное лицо, проводившее экспертизу</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExpertSummaryNumber" type="clt_ru:Text40Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер заключения эксперта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExpertSummaryDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата заключения эксперта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExpertSummaryCity" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Город составления заключения эксперта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:choice>
            <xs:element name="CustomsControl" type="exs:CustomsControlType">
              <xs:annotation>
                <xs:documentation>Данные к заключению эксперта по ЭИР, назначенной при таможенном контроле</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="AdministrativeOffence" type="exs:AdministrativeOffenceType">
              <xs:annotation>
                <xs:documentation>Данные к заключению эксперта по ЭИР, назначенной по делу об административном правонарушении</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="CriminalCase" type="exs:CriminalCaseType">
              <xs:annotation>
                <xs:documentation>Данные к заключению эксперта по ЭИР, назначенной по уголовному делу</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="OperationalSearchActivities" type="exs:OperationalSearchActivitiesType">
              <xs:annotation>
                <xs:documentation>Данные к заключению специалиста по исследованию в интересах таможенных органов /в интересах ФОИВ /в рамках ОРД</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="ContinuousExpertSupport" type="exs:ContinuousExpertSupportType">
              <xs:annotation>
                <xs:documentation>Данные к заключению специалиста по исследованию в рамках непрерывного экспертного обеспечения</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element name="PresentedDocuments" type="exs:PresentedDocumentsType">
            <xs:annotation>
              <xs:documentation>Документ, предоставленный для проведения экспертизы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StudyStartDateTime" type="clt_ru:DateTimeCustType">
            <xs:annotation>
              <xs:documentation>Дата и время начала экспертизы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StudyStopDateTime" type="clt_ru:DateTimeCustType">
            <xs:annotation>
              <xs:documentation>Дата и время окончания экспертизы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PresentedObject" type="exs:PresentedObjectsType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Пробы и материалы с прилагаемыми документами</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Question" type="exs:QuestionType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Вопрос, поставленный перед экспертом</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Synthesis" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Синтезирующая часть</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Conclusion" type="exs:ConclusionType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Вывод</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LinkToElQueue" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Ссылка на электронную очередь приема/выдачи образцов</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentIDType" use="required" fixed="1051003E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AdministrativeOffenceType">
    <xs:annotation>
      <xs:documentation>Данные к заключению эксперта по ЭИР, назначенной по делу об административном правонарушении</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DecisionDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата определения о назнаении экспертизы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecisionNumber" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер определения о назначении экспертизы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArcticleNumberRigth" type="clt_ru:Text5Type">
        <xs:annotation>
          <xs:documentation>Номер статьи разъясняющей права и обязанности специалиста</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArcticleNumber" type="clt_ru:Text5Type">
        <xs:annotation>
          <xs:documentation>Номер статьи об ответственности специалиста</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="APNumber" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Номер дела об административном правонарушении</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Customs" type="cat_ru:CustomsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Таможенный орган, принявший решение о проведении экспертизы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InitiatorPerson" type="cat_ru:PersonBaseType">
        <xs:annotation>
          <xs:documentation>Должностное лицо, принявшее решение о проведении экспертизы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomExpertiseKind" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Вид таможенной экспертизы</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CEKTUDivisionInformationType">
    <xs:annotation>
      <xs:documentation>Сведения о подразделении ЦЭКТУ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код подразделения ЦЭКТУ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование подразделения ЦЭКТУ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Адрес подразделения ЦЭКТУ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BranchNotEKSSign" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак обособленного подразделения (не в составе ЭКС): 0 - нет (не обособленное или в составе ЭКС); 1 - да (обособленное, не в составе ЭКС)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConclusionType">
    <xs:annotation>
      <xs:documentation>Вывод</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ConclusionNumber" type="clt_ru:Quantity3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер вывода</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConclusionText" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Текст вывода</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsPersonType">
    <xs:annotation>
      <xs:documentation>Информация об эксперте</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonBaseType">
        <xs:sequence>
          <xs:element name="Qualification" type="exs:QualificationType">
            <xs:annotation>
              <xs:documentation>Квалификация эксперта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="QuestionTextExpertInfo" type="exs:QuestionTextExpertInfoType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Вопрос, сформулированный экспертом</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ListAppliedMethods" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Перечень применённых методов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DevicesEquipmentUsed" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Данные об использованных приборах и оборудовании</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ListReferences" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Перечень использованных справочных материалов (литературы)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Inspection" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Внешний осмотр</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Study" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Заключение эксперта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateSignWarning" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата подписания предупреждения об ответственности за дачу заведомо ложного заключения</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DecisionNumberType">
    <xs:annotation>
      <xs:documentation>Номер решения</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDID6Type">
        <xs:sequence>
          <xs:element name="ExpertisePoint" type="clt_ru:Code2Type">
            <xs:annotation>
              <xs:documentation>Момент назначения экспертизы (ДВ - до выпуска ДТ, ПВ - после выпуска ДТ) </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContinuousExpertSupportType">
    <xs:annotation>
      <xs:documentation>Данные к заключению специалиста по исследованию в рамках непрерывного экспертного обеспечения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Initiator" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Инициатор запроса</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OperationalSearchActivitiesType">
    <xs:annotation>
      <xs:documentation>Данные к заключению специалиста по исследованию в рамках оперативно-розыскных мероприятий</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Initiator" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Инициатор запроса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecisionDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата запроса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecisionNumber" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Номер запроса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumberCheck" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Номер материала проверки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LetterDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата входящего письма ЦЭКТУ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LetterNumber" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Номер входящего письма ЦЭКТУ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomExpertiseKind" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Вид исследования</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PresentedDocumentsType">
    <xs:annotation>
      <xs:documentation>Документ, предоставленный для проведения экспертизы</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GTDNumber" type="cat_ru:GTDIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер ДТ.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentName" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Наименование документа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PresentedObjectsType">
    <xs:annotation>
      <xs:documentation>Пробы и материалы с прилагаемыми документами</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ObjectNumber" type="clt_ru:Quantity3Type">
        <xs:annotation>
          <xs:documentation>Номер по порядку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ObjectNote" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QualificationType">
    <xs:annotation>
      <xs:documentation>Сведения о квалификации эксперта</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Education" type="RUSclt_ru:FreeText1000Type">
        <xs:annotation>
          <xs:documentation>Образование</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Specialization" type="clt_ru:FreeText250Type" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Специальность, указанная в документе об образовании</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExpertSertificateNumber" type="clt_ru:Text40Type">
        <xs:annotation>
          <xs:documentation>Номер экспертного свидетельства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StartDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата начала действия экспертного свидетельства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WorkExperience" type="clt_ru:Quantity3Type">
        <xs:annotation>
          <xs:documentation>Стаж экспертной работы(лет)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuestionType">
    <xs:annotation>
      <xs:documentation>Вопрос, поставленный перед экспертом</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="QuestionNumber" type="clt_ru:Quantity3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер вопроса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuestionText" type="RUSclt_ru:FreeText1000Type">
        <xs:annotation>
          <xs:documentation>Текст вопроса</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="QuestionTextExpertType">
    <xs:annotation>
      <xs:documentation>Текст вопроса, сформулированный экспертом. До 2000 символов</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:TextCategoriesCust">
      <xs:minLength value="1" />
      <xs:maxLength value="2000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="QuestionTextExpertInfoType">
    <xs:annotation>
      <xs:documentation>Вопрос, сформулированный экспертом</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="QuestionNumber" type="clt_ru:Quantity3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер вопроса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuestionTextExpert" type="exs:QuestionTextExpertType">
        <xs:annotation>
          <xs:documentation>Текст вопроса, сформулированный экспертом</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsControlType">
    <xs:annotation>
      <xs:documentation>Данные к заключению эксперта по ЭИР, назначенной при таможенном контроле</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DecisionDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата Решения о проведении таможенной экспертизы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecisionNumber" type="exs:DecisionNumberType">
        <xs:annotation>
          <xs:documentation>Номер Решения о проведении таможенной экспертизы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArcticleNumberRigth" type="clt_ru:Text5Type">
        <xs:annotation>
          <xs:documentation>Номер статьи разъясняющей права и обязанности специалиста</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArcticleNumber" type="clt_ru:Text5Type">
        <xs:annotation>
          <xs:documentation>Номер статьи об ответственности специалиста</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DestructionResolution" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Разрешение на видоизменение, уничтожение проб и образцов. True/False</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProlongationDaysCount" type="clt_ru:Quantity3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество рабочих дней, на которое продлевалось производство ЭИР</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Customs" type="cat_ru:CustomsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Таможенный орган, принявший решение о проведении экспертизы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InitiatorPerson" type="cat_ru:PersonBaseType">
        <xs:annotation>
          <xs:documentation>Должностное лицо, принявшее решение о проведении экспертизы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MethodExp" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Способ  проведения  ЭИР (1  - единоличная; 2 - комиссионная; 3 - комплексная)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomExpertiseKind" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Вид таможенной экспертизы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PlaceExp" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Место проведения таможенной экспертизы</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CriminalCaseType">
    <xs:annotation>
      <xs:documentation>Данные к заключению эксперта по ЭИР, назначенной по уголовному делу</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DecisionDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата постановления о назнаении экспертизы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecisionNumber" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер постановления о назнчаении экспертизы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArcticleNumberRigth" type="clt_ru:Text5Type">
        <xs:annotation>
          <xs:documentation>Номер статьи разъясняющей права и обязанности специалиста</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArcticleNumber" type="clt_ru:Text5Type">
        <xs:annotation>
          <xs:documentation>Номер статьи об ответственности специалиста</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UDNumber" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Номер по уголовному делу</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Customs" type="cat_ru:CustomsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Таможенный орган, принявший решение о проведении экспертизы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InitiatorPerson" type="cat_ru:PersonBaseType">
        <xs:annotation>
          <xs:documentation>Должностное лицо, принявшее решение о проведении экспертизы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomExpertiseKind" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Вид таможенной экспертизы</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>