XsltProcessor/xsd/5.22.0/ExportDiamondsCertificate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:SertifDocuments:ExportDiamondsCertificate:5.22.0" version="5.22.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:ediac="urn:customs.ru:Information:SertifDocuments:ExportDiamondsCertificate:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Сертификат вывоза необработанных природных алмазов</xs:documentation>
  </xs:annotation>
  <xs:element name="ExportDiamondsCertificate" type="ediac:ExportDiamondsCertificateType" />
  <xs:complexType name="ExportDiamondsCertificateType">
    <xs:annotation>
      <xs:documentation>Сертификат вывоза необработанных природных алмазов</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element minOccurs="0" name="BDRDID" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Идентификатор документа по БД РД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IssueDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата выдачи сертификата</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Note" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Дополнительные отметки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExpiryDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Срок действия сертификата</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExporterInfo" type="ediac:OrganizationInfoType">
            <xs:annotation>
              <xs:documentation>Сведения о предприятии-экспортере</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Recipient" type="ediac:OrganizationInfoType">
            <xs:annotation>
              <xs:documentation>Сведения о получателе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ContractInfo" type="cat_ru:DocumentBaseType">
            <xs:annotation>
              <xs:documentation>Контракт</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsControler" type="cat_ru:CustomsPersonType">
            <xs:annotation>
              <xs:documentation>Государственный контролер</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DiamondsInfo" type="ediac:DiamondsInfoType">
            <xs:annotation>
              <xs:documentation>Сведения об экспортируемых алмазах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CertificateNumber" type="ediac:CertificateNumberType">
            <xs:annotation>
              <xs:documentation>Уникальный номер сертификата</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute fixed="1009015E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CertificateNumberType">
    <xs:annotation>
      <xs:documentation>Уникальный номер сертификата</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType">
        <xs:annotation>
          <xs:documentation>Код страны</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:Count8Type">
        <xs:annotation>
          <xs:documentation>Номер сертификата</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiamondsInfoType">
    <xs:annotation>
      <xs:documentation>Сведения об экспортируемых алмазах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalDiamodsCost" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Стоимость алмазов </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalDiamondsWeight" type="clt_ru:WeighQuantityType">
        <xs:annotation>
          <xs:documentation>Общая масса алмазов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PlaceNumber" type="clt_ru:Count5Type">
        <xs:annotation>
          <xs:documentation>Количество грузовых мест, входящих в состав вывозимой партии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Numeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Номер позиции</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganizationInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о предприятии</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationBaseType">
        <xs:sequence>
          <xs:element name="CountryName" type="clt_ru:CountryNameType">
            <xs:annotation>
              <xs:documentation>Наименование страны</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountryCodeN" type="xs:string">
            <xs:annotation>
              <xs:documentation>Цифровой код страны</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountryCodeA" type="clt_ru:CountryA3CodeType">
            <xs:annotation>
              <xs:documentation>Буквенный код страны</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>