XsltProcessor/xsd/5.22.0/ExportNoticeFreeWHGoods.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Приказ Министерства финансов Российской Федерации от 23 октября 2020 г. N 245н "Об установлении случая, при котором товары, помещенные под таможенную процедуру свободного склада, могут размещаться и находиться на территориях нескольких свободных складов, владельцем которых является юридическое лицо, являющееся декларантом товаров, помещенных под таможенную процедуру свободного склада, перемещения таких товаров и товаров, изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободного склада, между такими складами, а также об установлении особенностей совершения таможенных операций и проведения таможенного контроля в отношении таких товаров"
Приложение N 4  - Уведомление о вывозе товаров-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:enfwhg="urn:customs.ru:Information:CustomsDocuments:ExportNoticeFreeWHGoods:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:ExportNoticeFreeWHGoods:5.22.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Уведомление о вывозе товаров, помещенных под таможенную процедуру свободного склада, и товаров, изготовленных (полученных)  из товаров, помещенных под таможенную процедуру свободного склада, в целях их перемещения на территорию свободного склада назначения</xs:documentation>
  </xs:annotation>
  <xs:element name="ExportNoticeFreeWHGoods" type="enfwhg:ExportNoticeFreeWHGoodsType">
    <xs:annotation>
      <xs:documentation>Уведомление о вывозе товаров, помещенных под таможенную процедуру свободного склада, и товаров, изготовленных (полученных)  из товаров, помещенных под таможенную процедуру свободного склада, в целях их перемещения на территорию свободного склада назначения
</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ExportNoticeFreeWHGoodsType">
    <xs:annotation>
      <xs:documentation>Уведомление о вывозе товаров, помещенных под таможенную процедуру свободного склада, и товаров, изготовленных (полученных)  из товаров, помещенных под таможенную процедуру свободного склада, в целях их перемещения на территорию свободного склада назначения 
</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Customs" type="cat_ru:CustomsType" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Таможенный орган</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OwnerFreeWH" type="RUScat_ru:SubjectDetailsType">
            <xs:annotation>
              <xs:documentation>Владелец свободного склада</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PermitRegNum" type="enfwhg:PermitRegNumType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер Разрешения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:choice>
            <xs:element name="ExportDate" type="clt_ru:DateCustType">
              <xs:annotation>
                <xs:documentation>Дата вывоза</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="ExportPeriod" type="enfwhg:PeriodType">
              <xs:annotation>
                <xs:documentation>Период вывоза</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element name="PlacedGoods" type="enfwhg:PlacedGoodsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Товары, помещенные под таможенную процедуру свободного склада</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ProducedGoods" type="enfwhg:ProducedGoodsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Товары, изготовленные из помещенных под таможенную процедуру свободного склада</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MovementReason" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Обоснование необходимости перемещения товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransportInfo" type="enfwhg:TransportInfoType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о транспортном средстве </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Carrier" type="RUScat_ru:SubjectDetailsType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Перевозчик</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Notifier" type="RUScat_ru:RUOrganizationBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Лицо, уполномоченное владельцем свободного склада, подающее уведомление</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApproverPerson" type="enfwhg:PersonSignatureType" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Подпись представителя лица, подающего Уведомление</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006318E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа. Код документа в Альбоме форматов</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="FreeWHType">
    <xs:annotation>
      <xs:documentation>Сведения о свободных складах, между которыми предполагается перемещение товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CertifFreeWH" type="enfwhg:CertifFreeWHType">
        <xs:annotation>
          <xs:documentation>Свидетельство о включении в реестр владельцев  свободных складов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FreeWHAddress" type="RUScat_ru:RUAddressType" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Адрес свободного склада</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FreeWHName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование свободного склада</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeclnfoType">
    <xs:annotation>
      <xs:documentation>Сведения о ДТ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="GoodsDeclnfo" type="enfwhg:GoodsDeclnfoType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Товары ДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GoodsDeclnfoType">
    <xs:annotation>
      <xs:documentation>Товар ДТ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumber" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Номер товара в ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsQuantity" type="catESAD_cu:SupplementaryQuantityType" maxOccurs="3">
        <xs:annotation>
          <xs:documentation>Количество товара из ДТ, вошедшее в позицию</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TechID" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Технические идентификаторы</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CertifFreeWHType">
    <xs:annotation>
      <xs:documentation>Свидетельство о включении в реестр владельцев свободных складов </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AddNumber" type="clt_ru:Code4Type">
        <xs:annotation>
          <xs:documentation>1-ая часть номера "СВСС"</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CertiDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата выдачи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CertiNumber" type="clt_ru:Code3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер Свидетельства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OwnerID" type="clt_ru:Code10Type">
        <xs:annotation>
          <xs:documentation>Идентификационный номер владельца</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SerialNumber" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер экземпляра</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CertifChangeYear" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Год внесения изменений в Свидетельство (последние 2 цифры)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProducedGoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах, изготовленных (полученные) с использованием товаров, помещенных под таможенную процедуру свободного склада </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Номер товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType">
        <xs:annotation>
          <xs:documentation>Код ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsGroupInformation" type="catESAD_cu:GoodsGroupInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Идентификационные признаки товара </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AccountDoc" type="cat_ru:DocumentBaseType" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Документы, согласно которым учтены товары</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplementaryQuantity" type="catESAD_cu:SupplementaryQuantityType" minOccurs="1" maxOccurs="3">
        <xs:annotation>
          <xs:documentation>Количество товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DepartureFreeWH" type="enfwhg:FreeWHType">
        <xs:annotation>
          <xs:documentation>Свободный склад отправления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DestinationFreeWH" type="enfwhg:FreeWHType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Свободный склад назначения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Comment" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Примечание</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TechID" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Технические идентификаторы</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PermitRegNumType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер Разрешения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AddNumber" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>1-ая часть номера "РП"</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата выдачи Разрешения </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:Code9Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер Разрешения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlacedGoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах, помещенных под таможенную процедуру свободного склада, использованных для производства готовой продукции</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count3Type" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Номер товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsGroupInformation" type="catESAD_cu:GoodsGroupInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Идентификационные признаки товара </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDeclaration" type="enfwhg:DeclnfoType" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplementaryQuantity" type="catESAD_cu:SupplementaryQuantityType" minOccurs="1" maxOccurs="3">
        <xs:annotation>
          <xs:documentation>Количество товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AccountDoc" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Документы, согласно которым учтены товары</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DepartureFreeWH" type="enfwhg:FreeWHType">
        <xs:annotation>
          <xs:documentation>Свободный склад отправления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DestinationFreeWH" type="enfwhg:FreeWHType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Свободный склад назначения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TechID" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Технические идентификаторы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Comment" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Примечание</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о виде транспортного средства и маршруте следования</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catESAD_cu:TransportMeansRegistrationIdDetailsType">
        <xs:sequence>
          <xs:element name="Model" type="clt_ru:TransportNameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование модели транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransportOwner" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Владелец транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PeriodType">
    <xs:annotation>
      <xs:documentation>Сведения о периоде вывоза</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StartDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата начала периода</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EndtDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата окончания периода</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonSignatureType">
    <xs:annotation>
      <xs:documentation>Подпись лица</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonSignatureType">
        <xs:sequence>
          <xs:element name="AuthoritesDocument" type="cat_ru:AuthoritesDocumentType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Документ, подтверждающий полномочия</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>