XsltProcessor/xsd/5.22.0/FitoSanitaryCertificate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:SertifDocuments:FitoSanitaryCertificate:5.22.0" version="5.22.0.0" xmlns:catSert_ru="urn:customs.ru:Information:SertifDocuments:SertifCommonAggregateTypesCust:5.22.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:fsc="urn:customs.ru:Information:SertifDocuments:FitoSanitaryCertificate:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:SertifDocuments:SertifCommonAggregateTypesCust:5.22.0" schemaLocation="SertifCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Фитосанитарный сертификат</xs:documentation>
  </xs:annotation>
  <xs:element name="FitoSanitaryCertificate" type="fsc:FitoSanitaryCertificateType" />
  <xs:complexType name="FitoSanitaryCertificateType">
    <xs:annotation>
      <xs:documentation>Фитосанитарный сертификат</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="CertNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Номер сертификата</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" name="AddDeclaration" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Дополнительная декларация</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" name="OrganizationQuarantine" type="fsc:OrganizationQuarantineType">
            <xs:annotation>
              <xs:documentation>Организации(ям) по карантину и защите растений (страны)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DescriptionConsignment" type="fsc:DescriptionConsignmentType">
            <xs:annotation>
              <xs:documentation>Описание груза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Desinfestation" type="fsc:DesinfestationType">
            <xs:annotation>
              <xs:documentation>Обеззараживание</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PlaceIssue" type="cat_ru:AddressType">
            <xs:annotation>
              <xs:documentation>Место выдачи</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonSignature" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Подпись уполномоченного должностного лица Федеральной службы по ветеринарному и фитосанитарному надзору</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute fixed="1009005E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="DescriptionConsignmentType">
    <xs:annotation>
      <xs:documentation>Описание груза</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="OriginCountryName" type="clt_ru:CountryNameType">
        <xs:annotation>
          <xs:documentation>Место происхождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransMeans" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Заявленный способ транспортировки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="GoodsName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование продукции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsQuantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Количество продукции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PlantName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Ботаническое название растений</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="DeclaredPoint" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Заявленный пункт ввоза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="MeasureUnitQualifierName" type="clt_ru:MeasureUnitQualifierNameType">
        <xs:annotation>
          <xs:documentation>Наименование единицы измерения. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Consignee" type="catSert_ru:SertifOrgBaseType">
        <xs:annotation>
          <xs:documentation>Получатель</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Exporter" type="catSert_ru:SertifOrgBaseType">
        <xs:annotation>
          <xs:documentation>Отправитель</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Packaging" type="fsc:PackagingType">
        <xs:annotation>
          <xs:documentation>Сведения о количестве мест и описание упаковки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Excise" type="fsc:ExciseType">
        <xs:annotation>
          <xs:documentation>Отличительные знаки (маркировка)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DesinfestationType">
    <xs:annotation>
      <xs:documentation>Обеззараживание</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DateDesinfestation" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата обеззараживания</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TreatmentMethod" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Способ обработки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Chemical" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Химикат (действующее вещество)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Duration" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Экспозиция</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Temperature" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Температура</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Concentration" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Концентрация</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="AddInfo" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Дополнительная информация</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExciseType">
    <xs:annotation>
      <xs:documentation>Отличительные знаки (маркировка)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ExciseSerieses" type="clt_ru:CodeVariable5Type">
        <xs:annotation>
          <xs:documentation>Номер марки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="ExciseDescription" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Описание отличительных знаков</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganizationQuarantineType">
    <xs:annotation>
      <xs:documentation>Организации(ям) по карантину и защите растений (страны)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CounryName" type="clt_ru:CountryNameType">
        <xs:annotation>
          <xs:documentation>Краткое наименование страны.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Organization" type="catSert_ru:SertifOrgBaseType">
        <xs:annotation>
          <xs:documentation>Сведения об организации </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PackagingType">
    <xs:annotation>
      <xs:documentation>Сведения о количестве мест и описание упаковки</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PlacesQiantity" type="clt_ru:PackagesQuantityType">
        <xs:annotation>
          <xs:documentation>Количество мест</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PackingCode" type="clt_ru:PackageCodeType">
        <xs:annotation>
          <xs:documentation>Код вида упаковки товаров в соответствии с  классификатором видов груза, упаковки и упаковочных материалов.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PakingQuantity" type="clt_ru:PackagesQuantityType">
        <xs:annotation>
          <xs:documentation>Количество упаковок.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>