XsltProcessor/xsd/5.22.0/FreeBinaryDoc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:CustomsDocuments:FreeBinaryDoc:5.22.0" version="5.22.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:fbd="urn:customs.ru:Information:CustomsDocuments:FreeBinaryDoc:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Бинарные данные</xs:documentation>
  </xs:annotation>
  <xs:element name="FreeBinaryDoc" type="fbd:FreeBinaryDocType" />
  <xs:complexType name="FreeBinaryDocType">
    <xs:annotation>
      <xs:documentation>Бинарные данные</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DocumentInfo" type="cat_ru:DocumentBaseType">
            <xs:annotation>
              <xs:documentation>Информация о документе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="MainDocumentInfo" type="cat_ru:DocumentBaseType">
            <xs:annotation>
              <xs:documentation>Информация об основном документе (заполняется в случае, если данные являются приложением к другому документу)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentBody" type="fbd:DocBodyType">
            <xs:annotation>
              <xs:documentation>Тело  документа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute fixed="1006110E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="DocBodyType">
    <xs:annotation>
      <xs:documentation>Тело документа с бинарными данными</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FileName" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Имя файла</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FileData" type="clt_ru:Text3MB">
        <xs:annotation>
          <xs:documentation>Данные файла  в кодировке BASE64</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>