XsltProcessor/xsd/5.22.0/FsVtsTekLicense.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--  KindLicense = 1 - код вида документа: 01161 - Лицензия ФСТЭК ( Указ Президента РФ от 10.09.2005 № 1062 Приложение №1 )
 KindLicense = 2 - код вида документа: 01151 - Лицензия ФСВТС  ( Постановление Правительства РФ от 15.09.2008 №691 Приложение 2 )   -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:vtstek="urn:customs.ru:Information:SQDocuments:FsVtsTekLicense:5.22.0" targetNamespace="urn:customs.ru:Information:SQDocuments:FsVtsTekLicense:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Лицензия ФСТЭК России на ввоз/вывоз товаров, в отношении которых установлен экспортный контроль/ Лицензия ФСВТС на ввоз/вывоз продукции военного назначения</xs:documentation>
  </xs:annotation>
  <xs:element name="FsVtsTekLicense" type="vtstek:FsVtsTekLicenseType" />
  <xs:complexType name="FsVtsTekLicenseType">
    <xs:annotation>
      <xs:documentation>Лицензия ФСТЭК России на ввоз/вывоз товаров, в отношении которых установлен экспортный контроль/ Лицензия ФСВТС на ввоз/вывоз продукции военного назначения</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="BDRDID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор документа по БД РД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="KindLicense" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Вид лицензии:1 - Лицензия ФСВТС, 2 - Лицензия ФСТЭК</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountryDeparture" type="clt_ru:CountryA3CodeType">
            <xs:annotation>
              <xs:documentation>Страна отправления/назначения (продавца/покупателя)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ImpExp" type="RUScat_ru:RUOrganizationNameAddrType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Продавец / Покупатель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountryOrigin" type="clt_ru:CountryA3CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Страна происхождения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountryEndUse" type="clt_ru:CountryA3CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Страна конечного использования</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EndUser" type="RUScat_ru:RUOrganizationNameAddrType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Конечный пользователь товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LisenceIssue" type="clt_ru:FreeText500Type">
            <xs:annotation>
              <xs:documentation>Основание для выдачи лицензии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AdditionalInfo" type="clt_ru:FreeText500Type">
            <xs:annotation>
              <xs:documentation>Дополнительная информация</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ContractCurrency" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Валюта контракта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="License" type="vtstek:LicenseType">
            <xs:annotation>
              <xs:documentation>Сведения о лицензии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AppLicense" type="vtstek:DocumentWithoutEndDateType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о заявлении на выдачу лицензии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LicenseOwner" type="vtstek:LicenseOwnerType">
            <xs:annotation>
              <xs:documentation>Сведения о владельце лицензии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ContractDetails" type="vtstek:DocumentType">
            <xs:annotation>
              <xs:documentation>Реквизиты контракта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsDescription" type="vtstek:GoodsDescriptionType">
            <xs:annotation>
              <xs:documentation>Сведения о товарах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Expertise" type="vtstek:DocumentWithoutEndDateType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о государственной экспертизе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AuthorizedPerson" type="vtstek:AuthorizedPersonType">
            <xs:annotation>
              <xs:documentation>Уполномоченное лицо, подписавшее лицензию</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NoticeOfCancellation" type="vtstek:DocumentWithoutEndDateType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уведомление об аннулировании</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NoticeOfSuspension" type="vtstek:DocumentType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уведомление о приостановлении</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NoticeOfResume" type="vtstek:DocumentWithoutEndDateType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уведомление о возобновлении</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConslusionsDocument" type="vtstek:ConslusionsDocumentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Электронные документы, прикрепленные к Лицензии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsReturnPeriod" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Срок возврата продукции</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009044E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AuthorizedPersonType">
    <xs:annotation>
      <xs:documentation>Подпись уполномоченного должностного лица</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FIO" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>ФИО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonPost" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Должность</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа Российской Федерации</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConslusionsDocumentType">
    <xs:annotation>
      <xs:documentation>Сведения о прикрепленных эл. документах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocumentName" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Наименование документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата добавления документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentNameBD" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Оригинальное наименование файла в БД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FileName" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Наименование файла в выгрузке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FileData" type="clt_ru:Text3MB" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Данные файла  в кодировке BASE64</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentType">
    <xs:annotation>
      <xs:documentation>Реквизиты документа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Number" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Номер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Date" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExpirationDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Срок действия</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentWithoutEndDateType">
    <xs:annotation>
      <xs:documentation>Реквизиты документа без указания срока действия</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Number" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Номер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Date" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsDescriptionType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Описание товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductDetail" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Характеристика продукции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Стоимость товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StatisticalCost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Статистическая стоимость товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="RUScat_ru:SupplementaryQuantity24point8Type">
        <xs:annotation>
          <xs:documentation>Количество товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplementaryQuantity" type="RUScat_ru:SupplementaryQuantity24point8Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товара в дополнительной единице измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LicenseOwnerType">
    <xs:annotation>
      <xs:documentation>Сведения о владельце лицензии</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:RUOrganizationNameAddrType">
        <xs:sequence>
          <xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Contact" type="cat_ru:ContactType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Контактная информация</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Status" type="clt_ru:DigitalIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Статус: 0 - физическое лицо, 1 - юридическое лицо</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OKPOID" type="clt_ru:OKPOIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код организации по ОКПО.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LicenseType">
    <xs:annotation>
      <xs:documentation>Сведения о лицензии</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="BeginDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Начальная дата периода действия лицензии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EndDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Конечная дата периода действия лицензии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Status" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Информация о текущем статусе лицензии: 1 - действует, 2 - аннулирована, 3 - действие приостановлено, 4 - действие возобновлено, 5 - действие завершено)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LastDateChange" type="clt_ru:DateTimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Информация о дате и времени последнего изменения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LicenseTypeKod" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Код типа лицензии: 0 - разовая экспорт; 1 - разовая импорт; 2 - генеральная</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>