XsltProcessor/xsd/5.22.0/FsVtsConclGoodsNotMilitary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Приказ ФСВТС России от 13 марта 2015 г. № 20-од «Об утверждении Порядка отнесения товаров, а также информации, работ, услуг, результатов интеллектуальной деятельности к продукции военного назначения и выдачи Федеральной службой по военно-техническому сотрудничеству соответствующих заключений»,
Приказ ФТС России № 1218 от 25 июля 2017 года "Об утверждении Временного порядка получения, хранения и использования информации, поступающей из Федеральной службы по военно-техническому сотрудничеству",
приложение № 7 из "УТОВиЭК 2016 № 46547 Бланки ФСТЭК.tif" (Письмо УТОВиЭК №14-153/46547 от 14.09.2016)
код вида документа 01163
Пункт 4.1 технических условий информационного взаимодействия в рамках Соглашения о взаимодействии ФСВТС и ФТС России (август 2020), СЗ ГУИТ от 04.08.2020 № 09-11/3363-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:fscgnm="urn:customs.ru:Information:SQDocuments:FsVtsConclGoodsNotMilitary:5.22.0" targetNamespace="urn:customs.ru:Information:SQDocuments:FsVtsConclGoodsNotMilitary:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Заключение (идентификационное) уполномоченного государственного органа государств - членов Евразийского экономического союза о непринадлежности товаров к продукции военного назначения</xs:documentation>
  </xs:annotation>
  <xs:element name="FsVtsConclGoodsNotMilitary" type="fscgnm:FsVtsConclGoodsNotMilitaryType">
    <xs:annotation>
      <xs:documentation>Заключение (идентификационное) уполномоченного государственного органа государств - членов Евразийского экономического союза о непринадлежности товаров к продукции военного назначения</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FsVtsConclGoodsNotMilitaryType">
    <xs:annotation>
      <xs:documentation>Заключение (идентификационное) уполномоченного государственного органа государств - членов Евразийского экономического союза о непринадлежности товаров к продукции военного назначения</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="BDRDID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор документа по БД РД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Zakl_Key" type="fscgnm:Nsi_Key19point5Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Ключ в НСИ VTS_ZAKL</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConclNum" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Номер заключения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConclDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата выдачи заключения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Status" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Статус заключения: 1 - действует, 2 - действие прекращено</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ChangeStatusDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата изменения статуса заключения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsProcedure" type="clt_ru:CUCustomsProcedureType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Направление перемещения ИМ, ЭК.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Organization" type="RUScat_ru:RUOrganizationNameAddrType">
            <xs:annotation>
              <xs:documentation>Организация, получившая разрешение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Contract" type="fscgnm:ContractType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата и номер контракта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Наименование и описание товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExpiryDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Срок действия заключения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Goods" type="fscgnm:GoodsType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Товары Заключения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AuthorizedPerson" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Уполномоченное лицо, подписавшее заключение</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009253E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="Nsi_Key19point5Type">
    <xs:annotation>
      <xs:documentation>Ключ в НСИ . От 0. 5 знаков после запятой. 19 цифр</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:NumericCategoriesCust">
      <xs:totalDigits value="19" />
      <xs:minInclusive value="0" />
      <xs:fractionDigits value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ContractType">
    <xs:annotation>
      <xs:documentation>Реквизиты контракта</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Number" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Date" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Товары Заключения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Key_Specif" type="fscgnm:Nsi_Key19point5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ключ в НСИ VTS_TOV</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование продукции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDesignation" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Обозначение продукции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SerialNumbers" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Серийные номера</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocRequisites" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Реквизиты документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsQuantity" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество продукции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Comment" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Примечание</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BlockSign" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак блокирования продукции: 0/1 (1-блокировать продукцию для ввоза-вывоза)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MilitarySign" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак ПВН/не ПВН: 1 - относится к продукции военного назначения, 0 - не относится к продукции военного назначения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecommendationSign" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак рекомендации обращения в ФСТЭК России: 1 - рекомендовано обратиться во ФСТЭК России, 0 - нет рекомендации обратиться во ФСТЭК России</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>