XsltProcessor/xsd/5.22.0/GoodsTranshipment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Решение коллегии ЕЭК от 13.12.2017 г. N 170 О НЕКОТОРЫХ ВОПРОСАХ ПРИМЕНЕНИЯ ТАМОЖЕННОЙ ПРОЦЕДУРЫ ТАМОЖЕННОГО ТРАНЗИТА
"Порядок совершения таможенных операций, связанных с получением разрешения таможенного органа на разгрузку, перегрузку (перевалку) и иные грузовые операции с товарами, перевозимыми (транспортируемыми) в соответствии с таможенной процедурой таможенного транзита по таможенной территории Евразийского экономического союза, а также на замену транспортных средств, перевозящих (транспортирующих) такие товары, или с уведомлением таможенного органа о совершении таких операций"
"Порядок совершения таможенных операций, связанных с получением разрешения таможенного органа на осуществление разгрузки, перегрузки (перевалки) и иных грузовых операций с товарами Евразийского экономического союза, перевозимыми (транспортируемыми) с одной части таможенной территории Союза на другую часть таможенной территории Союза через территории государств, не являющихся членами Союза, и (или) морем, а также на замену транспортных средств, перевозящих (транспортирующих) такие товары, на территориях государств, не являющихся членами Союза, или с уведомлением таможенного органа о совершении таких операций"
"Порядок совершения таможенных операций при аварии, действии непреодолимой силы или иных обстоятельствах, возникших при перевозке (транспортировке) товаров в соответствии с таможенной процедурой таможенного транзита"
-->
<xs:schema xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:gtsh="urn:customs.ru:Information:CustomsDocuments:GoodsTranshipment:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:GoodsTranshipment:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Заявление (уведомление) на совершение грузовых операций и (или) замены транспортных средств / Уведомление об обстоятельствах, препятствующих исполнению обязанностей перевозчика</xs:documentation>
  </xs:annotation>
  <xs:element name="GoodsTranshipment" type="gtsh:GoodsTranshipmentType">
    <xs:annotation>
      <xs:documentation>Заявление (уведомление) на совершение грузовых операций и (или) замены транспортных средств / Уведомление об обстоятельствах, препятствующих исполнению обязанностей перевозчика</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GoodsTranshipmentType">
    <xs:annotation>
      <xs:documentation>Заявление (уведомление) на совершение грузовых операций и (или) замены транспортных средств / Уведомление об обстоятельствах, препятствующих исполнению обязанностей перевозчика</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DocType" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Тип документа: 0 - Заявление на совершение грузовых операций и (или) замены транспортных средств; 1 - Уведомление о совершение грузовых операций и (или) замены транспортных средств; 2 - Уведомление об обстоятельствах, препятствующих исполнению обязанностей перевозчика.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата направления документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocTime" type="clt_ru:TimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Время направления документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistrationNumber" type="cat_ru:GTDIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер Заявления / Уведомления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Applicant" type="RUScat_ru:SubjectDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о лице, направившем Заявление / Уведомление</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CarrierEqualFlag" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак совпадения сведений о лице, направившем Заявление / Уведомление, со сведениями о лице, осуществляющем перевозку (транспортировку) товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Carrier" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о лице, осуществляющем перевозку (транспортировку) товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NextCarrier" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о лице, которое будет перевозить (транспортировать) товары после осуществления перегрузки (перевалки) товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransportDoc" type="gtsh:TransportDocType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер транзитной декларации / номер книжкии МДП или карнета АТА</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IncidentInfo" type="gtsh:IncidentInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Информация о происшествии (об аварии или действии непреодолимой силы во время перевозки)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DetailsCargoOperation" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Cведения о планируемых грузовых операциях и (или) замене транспортных средств с удалением наложенных таможенных пломб и печатей</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DetailsCargoOperationIfIncident" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о необходимости (об отсутствии необходимости) разгрузки, перегрузки (перевалки) или совершения иных грузовых операций с товарами, перевозимыми (транспортируемыми) в соответствии с таможенной процедурой таможенного транзита, в случае аварии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReloadPlace" type="gtsh:ReloadPlaceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Место проведения грузовых и иных операций.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Transport" type="gtsh:TransportInfoType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о новом составе транспортных средств после проведения грузовых операций</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Seal" type="gtsh:SealType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Информация о вновь наложенных пломбах, печатях и иных средствах идентификации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsReg" type="cat_ru:CustomsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код и наименование таможенного органа, зарегистрировавшего Заявление / Уведомление</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ChiefReg" type="cat_ru:CustomsPersonType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Начальник (заместитель начальника) таможенного органа, зарегистрировавшего Заявление / Уведомление</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPersonReg" type="cat_ru:CustomsPersonType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о должностном лице таможенного органа, зарегистрировавшего Заявление / Уведомление</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UIN" type="cat_ru:GTDIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>УИН описи</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ProvidedDocuments" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Перечень документов, предоставленных вместе с обращением</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InformingWay" type="cat_ru:ContactType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Предпочтительный способ информирования о результатах рассмотрения Заявления / Уведомления</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006172E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="DamageIndicatorsType">
    <xs:annotation>
      <xs:documentation>Признаки наличия повреждений</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IsCargoApartmentDamaged" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак повреждения грузового отделения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsSealsDamaged" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак повреждения пломб</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IncidentInfoType">
    <xs:annotation>
      <xs:documentation>Информация о происшествии (об аварии или действии непреодолимой силы во время перевозки)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IncidentDescription" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание обстоятельства, препятствующего перевозке товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Date" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата происшествия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Measures" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Меры, принятые для продолжения перевозки товаров под таможенным контролем.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AccidentPlace" type="RUScat_ru:RUAddressType">
        <xs:annotation>
          <xs:documentation>Место происшествия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsPerson" type="cat_ru:CustomsPersonType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о должностном лице таможенного органа, составившем акт об аварии.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DamageIndicators" type="gtsh:DamageIndicatorsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признаки наличия повреждений</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LostGoodsInfo" type="gtsh:LostGoodsInfoType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Информация об утрате (отсутствии/уничтожении) части товара</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LostGoodsInfoType">
    <xs:annotation>
      <xs:documentation>Информация об утрате (отсутствии/уничтожении) части товара</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumber" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер товара по ТД/МДП.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PackageKindSequence" type="clt_ru:CodeVariable2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порядковый номер вида упаковки, утраченной части товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AbsenceKind" type="clt_ru:Numeric1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид утраты товара или его части: 1 - Утерян; 2 - Уничтожен; 3 - Частично утерян, частично уничтожен</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrossMass" type="clt_ru:WeighQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес брутто утраченной части товара.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LostPackages" type="catESAD_cu:PackagePalleteInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения об утраченных упаковках</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LostGoodsQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество утраченной части товара.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RWStationType">
    <xs:annotation>
      <xs:documentation>ЖД станция на которой предполагаются грузовые операции</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StationCode" type="clt_ru:RailwayStationCodeType">
        <xs:annotation>
          <xs:documentation>Код станции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StationName" type="clt_ru:PlaceNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование станции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RailwayCode" type="clt_ru:CodeVariable4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код железнодорожной дороги </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReloadPlaceType">
    <xs:annotation>
      <xs:documentation>Место проведения грузовых и иных операций.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:CustomsType">
        <xs:sequence>
          <xs:element name="Address" type="RUScat_ru:RUAddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Адрес проведения грузовых и иных операций</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BorderPointCode" type="clt_ru:Code6Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код пункта пропуска</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TranshipmentKind" type="clt_ru:DigitalIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Вид грузовых операций : 0 - Разгрузка,1 - Перегрузка, 2- Замена ТС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RWStation" type="gtsh:RWStationType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ЖД станция на которой предполагаются грузовые операции</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SealType">
    <xs:annotation>
      <xs:documentation>Информация о вновь наложенных пломбах.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IdentNumber" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Номер наложенного средства идентификации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentKind" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Вид средств идентификации: 1 - пломба, 2 - печать, 3 - иное</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Identprevious" type="clt_ru:DigitalIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак снятия ранее наложенных средств идентификации: 0 - без снятия, 1 - со снятием</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentDesc" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Примечание по средству идентификации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TIRIDType">
    <xs:annotation>
      <xs:documentation>Номер книжи МДП</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TIRID" type="clt_ru:Code8Type">
        <xs:annotation>
          <xs:documentation>Номер книжки МДП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TIRSeries" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Серия книжки МДП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TIRPageNumber" type="clt_ru:Code5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер листа книжки МДП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата регистрации документа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportDocType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер транзитной декларации / номер книжкии МДП или карнета АТА</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TD" type="cat_ru:GTDIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер транзитной декларации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice minOccurs="0">
        <xs:element name="MDPNumber" type="gtsh:TIRIDType">
          <xs:annotation>
            <xs:documentation>Номер книжки МДП</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="CarnetNumber" type="clt_ru:CodeVariable20Type">
          <xs:annotation>
            <xs:documentation>Номер карнета АТА</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportInfoType">
    <xs:annotation>
      <xs:documentation>Новое транспортное средство при отправлении</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:TransportMeansBaseType">
        <xs:sequence>
          <xs:element name="Mode" type="clt_ru:TransportModeCodeType">
            <xs:annotation>
              <xs:documentation>Код вида транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>