XsltProcessor/xsd/5.22.0/IntellectualPropertyDecision.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:IntPD="urn:customs.ru:IntellectualPropertyDecision:5.22.0" targetNamespace="urn:customs.ru:IntellectualPropertyDecision:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Уведомление о проведении проверки информации, содержащейся в обращении об изменении сведений, указанных в заявлении о включении объекта интеллектуальной собственности в реестр, либо прилагаемых к нему документах/уведомление о вынесенном решении о включении объекта интеллектуальной собственности в таможенный реестр объектов интеллектуальной собственности/уведомление о вынесенном предварительном решении о включении объекта интеллектуальной собственности в таможенный реестр объектов интеллектуальной собственности/уведомление о вынесенном решении о продлении срока включения объекта интеллектуальной собственности в таможенный реестр объектов интеллектуальной собственности/уведомление о вынесенном решении о внесении изменений в таможенный реестр объектов интеллектуальной собственности/уведомление о вынесенном решении об отказе во внесении изменений в таможенный реестр объектов интеллектуальной собственности/уведомление о вынесенном решении об отказе во включении объекта интеллектуальной собственности в таможенный реестр объектов интеллектуальной собственности/уведомление о вынесенном решении об исключении объекта интеллектуальной собственности из таможенного реестра объектов интеллектуальной собственности</xs:documentation>
  </xs:annotation>
  <xs:element name="IntellectualPropertyDecision" type="IntPD:IntellectualPropertyDecisionType">
    <xs:annotation>
      <xs:documentation>Уведомление о проведении проверки информации, содержащейся в обращении об изменении сведений, указанных в заявлении о включении объекта интеллектуальной собственности в реестр, либо прилагаемых к нему документах/уведомление о вынесенном решении о включении объекта интеллектуальной собственности в таможенный реестр объектов интеллектуальной собственности/уведомление о вынесенном предварительном решении о включении объекта интеллектуальной собственности в таможенный реестр объектов интеллектуальной собственности/уведомление о вынесенном решении о продлении срока включения объекта интеллектуальной собственности в таможенный реестр объектов интеллектуальной собственности/уведомление о вынесенном решении о внесении изменений в таможенный реестр объектов интеллектуальной собственности/уведомление о вынесенном решении об отказе во внесении изменений в таможенный реестр объектов интеллектуальной собственности/уведомление о вынесенном решении об отказе во включении объекта интеллектуальной собственности в таможенный реестр объектов интеллектуальной собственности/уведомление о вынесенном решении об исключении объекта интеллектуальной собственности из таможенного реестра объектов интеллектуальной собственности</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="IntellectualPropertyDecisionType">
    <xs:annotation>
      <xs:documentation>Уведомление о проведении проверки информации, содержащейся в обращении об изменении сведений, указанных в заявлении о включении объекта интеллектуальной собственности в реестр, либо прилагаемых к нему документах/уведомление о вынесенном решении о включении объекта интеллектуальной собственности в таможенный реестр объектов интеллектуальной собственности/уведомление о вынесенном предварительном решении о включении объекта интеллектуальной собственности в таможенный реестр объектов интеллектуальной собственности/уведомление о вынесенном решении о продлении срока включения объекта интеллектуальной собственности в таможенный реестр объектов интеллектуальной собственности/уведомление о вынесенном решении о внесении изменений в таможенный реестр объектов интеллектуальной собственности/уведомление о вынесенном решении об отказе во внесении изменений в таможенный реестр объектов интеллектуальной собственности/уведомление о вынесенном решении об отказе во включении объекта интеллектуальной собственности в таможенный реестр объектов интеллектуальной собственности/уведомление о вынесенном решении об исключении объекта интеллектуальной собственности из таможенного реестра объектов интеллектуальной собственности</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ApplicationInfo" type="IntPD:ApplicationInfoType">
            <xs:annotation>
              <xs:documentation>Сведения о заявке</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Applicant" type="IntPD:ApplicantType">
            <xs:annotation>
              <xs:documentation>Сведения о заявителе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Decision" type="IntPD:DecisionType">
            <xs:annotation>
              <xs:documentation>Решение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AppliedDocument" type="IntPD:AppliedDocumentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Вложение</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentIDType" use="required" fixed="1006290E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ApplicantType">
    <xs:annotation>
      <xs:documentation>Сведения о заявителе/правообладателях</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType">
        <xs:sequence>
          <xs:element name="PersonType" type="clt_ru:CodeVariable2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Тип заявителя/правообладателя. 01 -ФЛ, 02 - ЮЛ, 03-ТП, 04-ИГ, 05- ИЮЛ
                            </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор Заявителя/правообладателя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OIS" type="IntPD:OISType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Реквизиты ОИС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BirthDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата рождения. Указывается для ФЛ/ИП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BirthPlace" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Место рождения. Указывается для ФЛ/ИП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonPostalAddress" type="cat_ru:AddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Почтовый адрес. Указывается для ФЛ/ИП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PlaceWork" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Место работы (наименование организации)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonPost" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Должность</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConfidenceInfo" type="IntPD:DocumentType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Документ, подтверждающий полномочия законного представителя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:choice minOccurs="0">
            <xs:element name="RightHolderLegal" type="IntPD:RightHolderLegalType">
              <xs:annotation>
                <xs:documentation>Сведения о юридическом лице</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="RightHolderForeignLegal" type="IntPD:RightHolderLegalType">
              <xs:annotation>
                <xs:documentation>Сведения о иностранном юридическом лице</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OISType">
    <xs:annotation>
      <xs:documentation>Реквизиты ОИС</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RegNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер объекта ОИС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecisionDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата принятия мер (в случае меньшей, чем общая дата в решении)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CertificateNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер (индивидуального) свидетельства на ОИС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CertificateDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата свидетельства на ОИС</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DecisionType">
    <xs:annotation>
      <xs:documentation>Решение</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DecisionCode" type="clt_ru:CodeVariable2Type">
        <xs:annotation>
          <xs:documentation>Тип решения. 01 - включение в реестр (Уведомление о вынесенном решении о включении объекта интеллектуальной собственности в таможенный реестр объектов интеллектуальной собственности); 02 - внесение изменений (Уведомление о вынесенном решении о внесении изменений в таможенный реестр объектов интеллектуальной собственности); 03 - исключение (Уведомление о вынесенном решении об исключении объекта интеллектуальной собственности из таможенного реестра объектов интеллектуальной собственности); 05 - продлить действие Уведомление о вынесенном решении о продлении срока включения объекта интеллектуальной собственности в таможенный реестр объектов интеллектуальной собственности); 06 - отказать в принятии мер (Уведомление о вынесенном решении об отказе во внесении изменений в таможенный реестр объектов интеллектуальной собственности); 07 - Уведомление о вынесенном решении об отказе во включении объекта интеллектуальной собственности в таможенный реестр объектов интеллектуальной собственности; 08 - Уведомление о проведении проверки информации, содержащейся в обращении об изменении сведений, указанных в заявлении о включении ОИС в реестр, либо прилагаемых к нему документах; 09 - Уведомление о вынесенном предварительном решении о включении объекта интеллектуальной собственности в таможенный реестр объектов интеллектуальной собственности; </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecisionNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер решения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecisionDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата решения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecisionText" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Заголовок решения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProlongDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Продление срока включения объекта  в реестр ОИС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InclusionPeriod" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Срок включения объекта в реестр ОИС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumReestr" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер объекта интеллектуальной собственности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Base" type="clt_ru:Text3MB" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Суть обращения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PeriodTill" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о сроке принятия мер, связанных с приостановлением выпуска товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PeriodStartDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Срок принятия мер, связанных с приостановлением выпуска товаров. С</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PeriodEndDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Срок принятия мер, связанных с приостановлением выпуска товаров. По</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OwnerInfo" type="IntPD:ApplicantType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о правообладателях</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChangeOwnerInfo" type="IntPD:ApplicantType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о правообладателях, подлежащие изменению</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChangeAgentInfo" type="IntPD:ApplicantType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о представителе правообладателя, подлежащие изменению</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsAuthorizedPerson" type="IntPD:CustomsAuthorizedPersonType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Должностное лицо таможенного органа, принявшее решение</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IntellectualPropertyObjectsInfo" type="IntPD:IntellectualPropertyObjectsInfoType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения об объектах интеллектуальной собственности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ApplicationPagesNum" type="clt_ru:CodeVariable3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество листов приложения к решению</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CopyNum" type="clt_ru:CodeVariable3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество экземпляров</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsAuthorizedPersonType">
    <xs:annotation>
      <xs:documentation>Должностное лицо таможенного органа, принявшее решение</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsPerson" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>ФИО, принявшее решение</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsPersonPost" type="clt_ru:PostType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Должность лица, принявшее решение</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsPersonRank" type="clt_ru:PostType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Звание лица, принявшее решение</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsAuthority" type="cat_ru:CustomsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Подразделение таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationInfoType">
    <xs:annotation>
      <xs:documentation>Информация о заявке</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="ApplicationSourceSystemID" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Идентификатор заявления на ЕПГУ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApplicationID" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Идентификатор заявки в АПС "Электронные Госуслуги"</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DepartmentCode" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Код подразделения, в которое предоставляется заявка</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPerson" type="RUScat_ru:CustomsPersonDetails" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Должностное лицо ФТС России, подписавшее уведомление</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AppliedDocumentType">
    <xs:annotation>
      <xs:documentation>Вложение</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Name" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Имя файла документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:Quantity5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер файла документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Expansion" type="clt_ru:Text4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Расширение файла</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Base" type="clt_ru:Text3MB" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Файл в формате base64</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="8">
        <xs:annotation>
          <xs:documentation>Примечание</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CopyrightType">
    <xs:annotation>
      <xs:documentation>Сведения об объектах интеллектуальной собственности – объект авторского и смежного права</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ProductName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование объекта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductForm" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Форма произведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductType" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид произведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ObjectDescription" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Описание объекта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InfoDocument" type="IntPD:DocumentType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о документах, подтверждающих наличие прав</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InfoDocRightsTransmission" type="IntPD:DocumentType" minOccurs="0" maxOccurs="10">
        <xs:annotation>
          <xs:documentation>Сведения о документах на передачу прав</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InfoAgreementDoc" type="IntPD:DocumentType" minOccurs="0" maxOccurs="10">
        <xs:annotation>
          <xs:documentation>Сведения о документах, подтверждающих введение товаров, содержащих объекты
                        авторского права, в гражданский оборот на территории РФ
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Goods" type="IntPD:MeasuredGoodsList" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Перечень товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentType">
    <xs:annotation>
      <xs:documentation>Сведения о документах</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="InsuranceContract" type="clt_ru:Text50Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о договоре страхования</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TypeSecuringSum" type="clt_ru:CodeVariable20Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сумма</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TypeSecuringCurrency" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Валюта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PrDocumentNameCode" type="clt_ru:Code2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentRegNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер документа (Номер государственной регистрации договора, Номер
                                документа, подтверждающего предоставление права пользования наименованием места
                                происхождения товара. Указывается для документов , подтверждающих регистрацию и
                                предоставление права пользования наименованием места происхождения в соответствии с
                                законодательством Российской Федерации и международными договорами)
                            </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentRegDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ObjectRegNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер объекта. Указывается для решения о принятии мер
                                связанных с приостановкой выпуска объекта
                            </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ComplationAuthorityDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата окончания полномочий.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IssuedAgent" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Кем выдан документ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LisenceeName" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Лицензиат (сублицензиат)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotaryName" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ФИО нотариуса</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Описание товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsClass" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Класс по МКТУ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BogusProductCodes" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Коды товаров, в соответствии с ТН ВЭД</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IntellectualPropertyObjectsInfoType">
    <xs:annotation>
      <xs:documentation>Сведения об объектах интеллектуальной собственности</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IntellectualPropertyObjectsID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор объекта интелектаульной собственности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ObjectRegNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер ОИС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CertificateNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер (индивидуального) свидетельства на ОИС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CertificateDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата свидетельства на ОИС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ColorScheme" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Цветовое сочетание</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UnsavedElements" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Неохраняемые элементы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="Copyright" type="IntPD:CopyrightType">
          <xs:annotation>
            <xs:documentation>Объект авторского и смежного права</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Mark" type="IntPD:MarkType">
          <xs:annotation>
            <xs:documentation>Товарный знак</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="OriginPlace" type="IntPD:OriginPlaceType">
          <xs:annotation>
            <xs:documentation>Место происхождения</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MeasuredGoodsList">
    <xs:annotation>
      <xs:documentation>Перечень товаров, в отношении которых принимаются меры</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ObjType" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид объекта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasuredGoods" type="IntPD:GoodsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MarkType">
    <xs:annotation>
      <xs:documentation>Сведения об объектах интеллектуальной собственности – товарный знак</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BrandMarkName" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование товарного знака (знака обслуживания)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BrandMarkDescription" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание товарного знака (знака обслуживания)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LapseOfRightDocumentsDescription" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание документов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Goods" type="IntPD:MeasuredGoodsList" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Перечень товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentInfo" type="IntPD:DocumentType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о документе, подтверждающем регистрацию товарного знака (знака
                        обслуживания) в соответствии с законодательством Российской Федерации и международными
                        договорами, договоре об отчуждении исключительного права на товарный знак или об уступке
                        товарного знака (при наличии), договоре коммерческой концессии (субконцессии)
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TrademarkWithoutContract" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="10">
        <xs:annotation>
          <xs:documentation>Сведения о переходе исключительного права на товарный знак без договора</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsFlag" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Имеются сведения о товарах с нарушениями прав правообладателя и требуется защита таможенными органами</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginPlaceType">
    <xs:annotation>
      <xs:documentation>Сведения об объектах интеллектуальной собственности - место происхождения товара</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OriginName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование места происхождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LapseOfRightDocumentsDescription" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание документов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Goods" type="IntPD:MeasuredGoodsList" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InfoReg" type="IntPD:DocumentType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о документах, подтверждающих регистрацию и предоставление права
                        пользования наименованием места происхождения в соответствии с законодательством Российской
                        Федерации и международными договорами
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsFlag" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Имеются сведения о товарах с нарушениями прав правообладателя и требуется защита таможенными органами</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RightHolderLegalType">
    <xs:annotation>
      <xs:documentation>Сведения о юридическом лице</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FNSDocumentSeries" type="clt_ru:CodeVariable10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Серия свидетельства о постановке на налоговый учет</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FNSDocumentNumber" type="clt_ru:CodeVariable20Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер свидетельства о постановке на налоговый учет</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INNCertificateDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата постановки на учет</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OGRNDocumentNumber" type="clt_ru:CodeVariable20Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер свидетельства о постановке на налоговый учет</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OGRNDocumentDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата постановки на учет</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер государственной регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LegalLocation" type="cat_ru:AddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Юридический адрес</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PostalLocation" type="cat_ru:AddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Почтовый адрес</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FullNameRus" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Полное наименование на на русском языке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FullNameForeign" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Полное наименование на иностранном языке (в латинской транскрипции)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShortNameRus" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сокращенное наименование на русском языке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShortNameForeign" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сокращенное наименование на иностранном языке (в латинской транскрипции)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OPFRus" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Организационно-правовая форма на русском языке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OPFForeign" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Организационно-правовая форма (в латинской транскрипции)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocRegistration" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Документ о регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationOrganName" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование органа, зарегистрировавшего организацию</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDocumentNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер документа регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationPlace" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Место регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FullAddressRus" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Полный адрес организации на русском языке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FullAddressForeign" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Полный адрес организации (на иностранном языке)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrganizationHead" type="cat_ru:PersonBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о руководителе</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>