XsltProcessor/xsd/5.22.0/KTSOutCustomsMark.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:CustomsDocuments:KTSOutCustomsMark:5.22.0" version="5.22.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:ktscm="urn:customs.ru:Information:CustomsDocuments:KTSOutCustomsMark:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Служебные отметки КТС</xs:documentation>
  </xs:annotation>
  <xs:element name="KTSOutCustomsMark" type="ktscm:KTSOutCustomsMarkType" />
  <xs:complexType name="KTSOutCustomsMarkType">
    <xs:annotation>
      <xs:documentation>Служебные отметки КТС</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="KTSDocumentID" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор КТС, к которой относятся служебные отметки.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="KTSOutCustomsMarkGoods" type="ktscm:KTSOutCustomsMarkGoodsType">
            <xs:annotation>
              <xs:documentation>КТС-служебные отметки по товарам</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" name="KTSOutCustomsMarkGeneral" type="ktscm:KTSOutCustomsMarkGeneralType">
            <xs:annotation>
              <xs:documentation>Служебные отметки общие</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GTDID" type="cat_ru:GTDIDType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер таможенного документа.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute fixed="1006095E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="KTSOutCustomsMarkGeneralType">
    <xs:annotation>
      <xs:documentation>КТС-служебные отметки общие</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="KTS1FormNumber" type="cltESAD_cu:FormNumberType">
        <xs:annotation>
          <xs:documentation>Номер бланка формы КТС-1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GRNumber" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Обозначение графы (подраздела графы) (C,D)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PaymentEnsuringModeCodeType" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Код вида обеспечения уплаты</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="DocumentNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="DocumentDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MarkDescription" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Служебная запись</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsPerson" type="ktscm:SubscriptionType">
        <xs:annotation>
          <xs:documentation>Должностное лицо таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KTSOutCustomsMarkGoodsType">
    <xs:annotation>
      <xs:documentation>КТС-служебные отметки по товарам</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="GoodsNumeric" type="clt_ru:Count5Type">
        <xs:annotation>
          <xs:documentation>Номер товара по документу / списку / номер товара по ДТ ( для КТС, ДТС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="KTS1FormNumber" type="cltESAD_cu:FormNumberType">
        <xs:annotation>
          <xs:documentation>Номер бланка формы КТС-1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PaymentEnsuringModeCodeType" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Код вида обеспечения уплаты</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="DocumentNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="DocumentDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MarkDescription" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Служебная запись</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="KTSFormNumber" type="cltESAD_cu:FormNumberType">
        <xs:annotation>
          <xs:documentation>Номер бланка основного листа предшествующей формы КТС, содержащей (на основном либо дополнительных листах) сведения по товару</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsPerson" type="ktscm:SubscriptionType">
        <xs:annotation>
          <xs:documentation>Должностное лицо</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubscriptionType">
    <xs:annotation>
      <xs:documentation>Сведения о подписи/внесении служебной отметки</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:CustomsPersonType">
        <xs:sequence>
          <xs:element minOccurs="0" name="MarkDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата подписи/ внесения служебной отметки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="MarkTime" type="clt_ru:TimeCustType">
            <xs:annotation>
              <xs:documentation>Время подписи/ внесения служебной отметки</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>