XsltProcessor/xsd/5.22.0/KTSout_CU.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:CustomsDocuments:KTSout_CU:5.22.0" version="5.22.0.0" xmlns:KTSout_CU="urn:customs.ru:Information:CustomsDocuments:KTSout_CU:5.22.0" xmlns:catEKTS_cu="urn:customs.ru:CUEKTSCommonAggregateTypes:5.22.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUEKTSCommonAggregateTypes:5.22.0" schemaLocation="CUESADKTSCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Электронная копия формы корректировки таможенной стоимости и таможенных платежей </xs:documentation>
  </xs:annotation>
  <xs:element name="KTSout_CU" type="KTSout_CU:KTSout_CUType" />
  <xs:complexType name="KTSout_CUType">
    <xs:annotation>
      <xs:documentation>Электронная копия формы корректировки таможенной стоимости и таможенных платежей</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element minOccurs="0" name="DTDocumentID" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор ДТ.  Используется для привязки к ДТ при представлении КТС отдельно от ДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="DeclarationKind" type="cltESAD_cu:CustomsDeclarationKindType">
            <xs:annotation>
              <xs:documentation>Код особенности декларирования товаров по классификатору особенностей таможенного декларирования товаров. Гр.7 </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="SubsoilSign" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
              <xs:documentation>Признак недропользователя. для РК</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="KTSNumber" type="clt_ru:Count2Type">
            <xs:annotation>
              <xs:documentation>Номер КТС по порядку</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CurrencyCode" type="clt_ru:CurrencyA3CodeType">
            <xs:annotation>
              <xs:documentation>Буквенный код национальной валюты в соответствии с классификатором валют</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ElectronicDocumentSign" type="clt_ru:Code2Type">
            <xs:annotation>
              <xs:documentation>Признак использования КТС в форме электронного документа. ЭД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Adjustment" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Тип корректировки. 1- тип корректировки совпадает для всех товаров, 0 - не совпадает</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="RegNumberDoc" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Исходящий номер регистрации документов в соответствии с системой (регламентом) учета исходящих документов декларанта или таможенного представителя  в Республике Беларусь</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutionDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата составления (представления)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="SecurityLabelCode" type="clt_ru:Code6Type">
            <xs:annotation>
              <xs:documentation>Код защитной наклейки для РК</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="KTSout_CUGoodsShipment" type="KTSout_CU:KTSout_CUGoodsShipmentType">
            <xs:annotation>
              <xs:documentation>Сведения о товарной партии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="DTNumber" type="cat_ru:GTDIDType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер ДТ. Используется для привязки к ДТ при представлении КТС отдельно от ДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="KTSoutPaymentsReCalc" type="catEKTS_cu:KTSPaymentsReCalcType">
            <xs:annotation>
              <xs:documentation>Перерасчет платежей гр В</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="KTSCUConsignor" type="KTSout_CU:KTSCUConsignorType">
            <xs:annotation>
              <xs:documentation>Сведения об отправителе товаров.(за исключением РФ) гр 2</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="KTSCUConsignee" type="KTSout_CU:KTSCUConsigneeType">
            <xs:annotation>
              <xs:documentation>Сведения о получателе товаров.(за исключением РФ) гр 8</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="KTSCUDeclarant" type="KTSout_CU:KTSCUDeclarantType">
            <xs:annotation>
              <xs:documentation>Сведения о декларанте товаров.(за исключением РФ) гр 14</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FilledPerson" type="catESAD_cu:ESADFilledPersonType">
            <xs:annotation>
              <xs:documentation>Сведения о лице, заполнившем документ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="CustomsRepresentative" type="catESAD_cu:CUESADCustomsRepresentativeType">
            <xs:annotation>
              <xs:documentation>Таможенный представитель</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute fixed="1006113E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа (код документа по Альбому форматов)</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="KTSCUConsigneeType">
    <xs:annotation>
      <xs:documentation>Сведения о получателе товаров</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContractorIndicator" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
              <xs:documentation>Особенность указанных сведений:1-КОНТРАГЕНТ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="BranchDescription" type="cat_ru:CUBranchDescriptionType">
            <xs:annotation>
              <xs:documentation>Сведения об обособленном подразделении.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="KTSCUConsignorType">
    <xs:annotation>
      <xs:documentation>Сведения об отправителе товаров</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContractorIndicator" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
              <xs:documentation>Особенность указанных сведений:1-КОНТРАГЕНТ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="BranchDescription" type="cat_ru:CUBranchDescriptionType">
            <xs:annotation>
              <xs:documentation>Сведения об обособленном подразделении.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="KTSCUDeclarantType">
    <xs:annotation>
      <xs:documentation>Сведения о декларанте товаров</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType">
        <xs:sequence>
          <xs:element minOccurs="0" name="BranchDescription" type="cat_ru:CUBranchDescriptionType">
            <xs:annotation>
              <xs:documentation>Сведения об обособленном подразделении</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="KTSoutPresentedDocumentsType">
    <xs:annotation>
      <xs:documentation>КТС. Представленные документы</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catESAD_cu:CUESADPresentedDocumentsType">
        <xs:sequence>
          <xs:element minOccurs="0" name="RegNumberDocument" type="clt_ru:Text50Type">
            <xs:annotation>
              <xs:documentation>Регистрационный номер таможенного документа, с которым он был первоначально предоставлен. Для РБ  </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="KTSout_CUGoodsItemType">
    <xs:annotation>
      <xs:documentation>КТС. Сведения о корректируемых товарах</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catEKTS_cu:KTSGoodsItemType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="KTSoutPresentedDocuments" type="KTSout_CU:KTSoutPresentedDocumentsType">
            <xs:annotation>
              <xs:documentation>КТС. Представленные документы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="KTSCustomsPaymentCalculation" type="catEKTS_cu:CUKTSCustomsPaymentCalculationType">
            <xs:annotation>
              <xs:documentation>КТС. Исчисление платежей</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="CustomsProcedure" type="catESAD_cu:ESADCustomsProcedureType">
            <xs:annotation>
              <xs:documentation>Процедура. гр 37</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="GoodsAutomobile" type="catESAD_cu:AutomobileType">
            <xs:annotation>
              <xs:documentation>Сведения об автомобилях. Гр. 31</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="KTSout_CUGoodsShipmentType">
    <xs:annotation>
      <xs:documentation>КТС. Внешний формат. Сведения о товарной партии</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catEKTS_cu:KTSGoodsShipmentType">
        <xs:sequence>
          <xs:element name="KTSContractTerms" type="catEKTS_cu:KTSContractTermsType">
            <xs:annotation>
              <xs:documentation>КТС - Сведения об  условиях поставки, валюте и общей стоимости. (гр. 20, 22, 23, 24)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" name="KTSoutGoodsItem" type="KTSout_CU:KTSout_CUGoodsItemType">
            <xs:annotation>
              <xs:documentation>КТС. Сведения о корректируемом товаре</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>