XsltProcessor/xsd/5.22.0/MPOCustomsMark.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:mpocm="urn:customs.ru:Information:CustomsDocuments:MPOCustomsMark:5.22.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:MPOCustomsMark:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Решение по МПО</xs:documentation>
  </xs:annotation>
  <xs:element name="MPOCustomsMark" type="mpocm:MPOCustomsMarkType" />
  <xs:complexType name="MPOCustomsMarkType">
    <xs:annotation>
      <xs:documentation>Решение по МПО</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DecisionDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата решения </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionTime" type="clt_ru:TimeCustType">
            <xs:annotation>
              <xs:documentation>Время решения </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Decision" type="clt_ru:CodeVariable2Type">
            <xs:annotation>
              <xs:documentation>Решение: 1 - отказ в выпуске товаров; 2 - выпуск товаров без уплаты таможенных платежей; 3 - требуется уплата таможенных платежей; 4 - подлежит таможенному контролю в рамках СУР; 5 - резерв;  6 - выпуск товаров приостановлен в соответствии со ст. 124 ТК ЕАЭС; 7 - cрок выпуска товаров продлен; 8 - выпуск разрешен товаров (таможенные платежи уплачены); 9 - автоматический выпуск возвращаемых товаров; 10 -  выпуск возвращаемых товаров; 11 - отказе в
автоматичсеком выпуске, проводится проверка ОИС; 12 - убытие разрешено; 13 - в убытии отказано; 14 - отказано в автовыпуске</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionCode" type="clt_ru:CodeVariable3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код причины принятого решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionDescription" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Описание принятого решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RecommendationCode" type="clt_ru:CodeVariable2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код рекомендации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RecomDescription" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Описание рекомендации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Comments" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Комментарии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ProlongDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Срок продления/приостановки выпуска товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MPO_Registration" type="mpocm:MPO_RegistrationType">
            <xs:annotation>
              <xs:documentation>Сведения о регистрационном номере МПО</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MPOReg" type="mpocm:MPORegType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер ЭД МПО</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTReg" type="cat_ru:GTDIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер ЭДТ (декларации на товары)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPerson" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Должностное лицо таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Сведения о таможенном органе</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006198E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="MPORegType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер ЭД МПО </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MPO_Number" type="clt_ru:CodeVariable14Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер по сквозной нумерации</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MPO_RegistrationType">
    <xs:annotation>
      <xs:documentation>Сведения о регистрационном номере МПО</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата регистрации документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MPO_Number" type="clt_ru:Code13Type">
        <xs:annotation>
          <xs:documentation>Уникальный номер МПО</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>