XsltProcessor/xsd/5.22.0/MPOPayerReceipt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:catComFin_ru="urn:customs.ru:Information:CommercialFinanceDocuments:CommercialFinanceCommonAgregateTypesCust:5.22.0" xmlns:cltComFin_ru="urn:customs.ru:Information:CommercialFinanceDocuments:CommercialFinanceCommonLeafTypesCust:5.8.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:mpco="urn:customs.ru:Information:CustomsDocuments:MPOCommon:5.22.0" xmlns:mrec="urn:customs.ru:Information:ExchangeDocuments:MPOPayerReceipt:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:ExchangeDocuments:MPOPayerReceipt:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:CommercialFinanceDocuments:CommercialFinanceCommonAgregateTypesCust:5.22.0" schemaLocation="CommercialFinanceCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:CommercialFinanceDocuments:CommercialFinanceCommonLeafTypesCust:5.8.0" schemaLocation="CommercialFinanceCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:CustomsDocuments:MPOCommon:5.22.0" schemaLocation="MPOCommon.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Квитанция плательщика по МПО</xs:documentation>
  </xs:annotation>
  <xs:element name="MPOPayerReceipt" type="mrec:MPOPayerReceiptType">
    <xs:annotation>
      <xs:documentation>Квитанция плательщика по МПО</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="MPOPayerReceiptType">
    <xs:annotation>
      <xs:documentation>Квитанция плательщика по МПО</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Customs" type="cat_ru:CustomsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Таможня оформления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPost" type="cat_ru:CustomsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Таможенный пост оформления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MPO_Registration" type="mpco:MPO_RegistrationType">
            <xs:annotation>
              <xs:documentation>Справочный номер квитанции</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MPO_ID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ID МПО / уникальный номер записи в реестре МПО</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Amount" type="clt_ru:AmountType">
            <xs:annotation>
              <xs:documentation>Общая сумма подлежащих к уплате платежей</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CurrencyRate" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код валюты платежа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReservationID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор резервирования денежных средств для целей уплаты таможенных платежей</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Payer" type="mrec:PayerType">
            <xs:annotation>
              <xs:documentation>Реквизиты плательщика</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Payee" type="mrec:PayeeType">
            <xs:annotation>
              <xs:documentation>Реквизиты получателя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AuthorizedOperator" type="mpco:AuthorizedOperatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уполномоченный оператор</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Goods" type="mrec:GoodsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Товары МПО</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Paying" type="mrec:PayingType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Расчет платежей по нормам</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PayTNVED" type="mrec:PayTNVEDType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Расчет совокупного платежа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1004133E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="PayeeType">
    <xs:annotation>
      <xs:documentation>Реквизиты получателя</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catComFin_ru:PayCustomerType">
        <xs:sequence>
          <xs:element name="Address" type="RUScat_ru:RUAddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Адрес</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PayerType">
    <xs:annotation>
      <xs:documentation>Реквизиты плательщика</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType">
        <xs:sequence>
          <xs:element name="ExPostalCode" type="clt_ru:CodeVariable18Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Почтовый индекс до 18 знаков</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CardNumber" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер универсальной электронной карты</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PayingType">
    <xs:annotation>
      <xs:documentation>Платеж по нормам</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PaymentModeCode" type="clt_ru:Count4Type">
        <xs:annotation>
          <xs:documentation>Код вида таможенного платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CBC" type="cltComFin_ru:CBCType">
        <xs:annotation>
          <xs:documentation>Код бюджетной классификации (КБК)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentName" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Наименование платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaxBase" type="mpco:TaxBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Основа начисления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Amount" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма, подлежащая уплате</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyRate" type="clt_ru:CurrencyN3CodeType">
        <xs:annotation>
          <xs:documentation>Код валюты платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ListNumeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Номер товара по порядку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Наименование товара (на русском языке)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodDescriptionForeign" type="clt_ru:FreeText250Type" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Наименование товара (на иностранном языке)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NetWeight" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Вес товара,  (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CostRUS" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Стоимость товара в рублях</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CostEURO" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Стоимость товара в Евро</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товара</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayTNVEDType">
    <xs:annotation>
      <xs:documentation>Расчет совокупного платежа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ListNumeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Номер товара по порядку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Calculation" type="mpco:CalculationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Совокупный платеж</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>