XsltProcessor/xsd/5.22.0/NotifUnPaidRecyclingDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Проект Приказа ФТС России «Об утверждении формы уведомления о сумме неуплаченного утилизационного сбора»-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:nuprd="urn:customs.ru:Information:CommercialFinanceDocuments:NotifUnPaidRecyclingDetails:5.22.0" targetNamespace="urn:customs.ru:Information:CommercialFinanceDocuments:NotifUnPaidRecyclingDetails:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:annotation>
		<xs:documentation>Уведомление о сумме неуплаченного утилизационного сбора</xs:documentation>
	</xs:annotation>
	<xs:element name="NotifUnPaidRecyclingDetails" type="nuprd:NotifUnPaidRecyclingDetailsType">
		<xs:annotation>
			<xs:documentation>Уведомление о сумме неуплаченного утилизационного сбора</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="NotifUnPaidRecyclingDetailsType">
		<xs:annotation>
			<xs:documentation>Уведомление о сумме неуплаченного утилизационного сбора</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="DocSign" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак документа: 1 - отзыв Уведомления, 0 - Уведомление</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NotifRegDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата регистрации Уведомления</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NotifRegNum" type="nuprd:DocNumberType">
						<xs:annotation>
							<xs:documentation>Регистрационный номер Уведомления</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Customs" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Таможенный орган сформировавший Уведомление</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Payer" type="cat_ru:OrganizationBaseType">
						<xs:annotation>
							<xs:documentation>Сведения о плательщике</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VINID" type="clt_ru:VINIDType">
						<xs:annotation>
							<xs:documentation>Идентификационный номер или заводской номер самоходной машины или прицепа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TPORegNumber" type="nuprd:TPORegNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Справочный номер ТПО</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RegUtil" type="RUScat_ru:DocNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер Расчета утилизационного сбора</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RegUtilDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата Расчета утилизационного сбора</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UtilCollDetails" type="nuprd:UtilCollDetailsType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о подлежащем уплате утилизационном сборе и пени</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalPaymentAmount" type="clt_ru:AmountType">
						<xs:annotation>
							<xs:documentation>Общая сумма, подлежащая утлате</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RequisitesForTransferring" type="nuprd:RequisitesForTransferringType">
						<xs:annotation>
							<xs:documentation>Реквизиты для перечисления денежных средств на счет Федерального казначейства</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsPersonName" type="cat_ru:PersonBaseType">
						<xs:annotation>
							<xs:documentation>Сведения об уполномоченном должностном лице, подписавшем Уведомление</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ApproverPerson" type="cat_ru:PersonSignatureType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Подпись руководителя (полномочного представителя) организации получившего Уведомление под расписку</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1050039E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="DocNumberType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер Уведомления</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationYear" type="clt_ru:DateYearCustType">
				<xs:annotation>
					<xs:documentation>Год регистрации документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GTDNumber" type="clt_ru:GTDIDType">
				<xs:annotation>
					<xs:documentation>Порядковый номер документа по журналу регистрации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddNumber" type="clt_ru:CodeVariable2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дополнительная составляющая номера </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequisitesForTransferringType">
		<xs:annotation>
			<xs:documentation>Реквизиты для перечисления денежных средств на счет Федерального казначейства</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:OrganizationBaseType">
				<xs:sequence>
					<xs:element name="UFKAccount" type="clt_ru:AccountType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер лицевого счета в УФК</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BankName" type="clt_ru:NameType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Название банка получателя</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BICID" type="clt_ru:BICIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>БИК банка получателя</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BCC" type="clt_ru:CodeVariable20Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код бюджетной классификации (КБК)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OKTMO" type="clt_ru:CodeVariable11Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ОКТМО</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BankAccount" type="clt_ru:AccountType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер счета получателя в банке</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TPORegNumberType">
		<xs:annotation>
			<xs:documentation>Справочный номер ТПО</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата регистрации документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocNumber" type="clt_ru:Code10Type">
				<xs:annotation>
					<xs:documentation>Номер документа по журналу регистрации/типографский номер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumPP" type="clt_ru:Code2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Порядковый номер вносимых изменений</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UtilCollDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о подлежащем уплате утилизационном сборе и пени</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LineNumber" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Номер строки </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentModeCode" type="clt_ru:CustomsPaymentCodeType">
				<xs:annotation>
					<xs:documentation>Код вида платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentModeName" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentAmount" type="clt_ru:AmountType">
				<xs:annotation>
					<xs:documentation>Сумма платежа в рублях</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
