XsltProcessor/xsd/5.22.0/NotifReturnOverpaidTax.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приказ ФТС России от 22 января 2019 г. № 87 "Об утверждении формы уведомления о возврате (зачете) излишне уплаченных или излишне взысканных сумм таможенных пошлин, налогов и иных платежей,
взимание которых возложено на таможенные органы, а также порядка направления такого уведомления
  Приказ ФТС России от 31 декабря 2020 г. "1183 "Об утверждении Инструкции по оперативному учету доходов федерального бюджета от внешнеэкономической деятельности"-->
<xs:schema xmlns:nrot="urn:customs.ru:Information:CommercialFinanceDocuments:NotifReturnOverpaidTax:5.22.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CommercialFinanceDocuments:NotifReturnOverpaidTax:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Уведомление о возврате (зачете) излишне уплаченных или излишне взысканных сумм таможенных пошлин, налогов и иных платежей, взимание которых возложено на таможенные органы</xs:documentation>
  </xs:annotation>
  <xs:element name="NotifReturnOverpaidTax" type="nrot:NotifReturnOverpaidTaxType">
    <xs:annotation>
      <xs:documentation>Уведомление о возврате (зачете) излишне уплаченных или излишне взысканных сумм таможенных пошлин, налогов и иных платежей, взимание которых возложено на таможенные органы</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="NotifReturnOverpaidTaxType">
    <xs:annotation>
      <xs:documentation>Уведомление о возврате (зачете) излишне уплаченных или излишне взысканных сумм таможенных пошлин, налогов и иных платежей, взимание которых возложено на таможенные органы</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="RegNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер Уведомления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Date" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата Уведомления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Таможенный орган, выпустивший Уведомление</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Organization" type="nrot:OrganizationInfoType">
            <xs:annotation>
              <xs:documentation>Уведомляемое лицо</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocCalcPayment" type="nrot:OverPaidDocType">
            <xs:annotation>
              <xs:documentation>Документ, подтверждающий факт излишне уплаченных/взысканных платежей</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CalcPaymentKind" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Вид уведомления: 1 - излишняя уплата, 2 - излишнее взыскание</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OffsetDetails" type="nrot:OffsetDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о зачете денежных средств</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RefundOrganization" type="nrot:RefundOrganizationType">
            <xs:annotation>
              <xs:documentation>Лицо, на лицевой счет которого был произведен зачет денежных средств</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Amount" type="clt_ru:AmountType">
            <xs:annotation>
              <xs:documentation>Возвращаемая сумма, рубли</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PercentAmount" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сумма подлежащих выплате процентов, рубли</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Executor" type="cat_ru:PersonSignatureType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Исполнитель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsChief" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Подпись начальника/заместителя начальника таможенного оргнана</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifComments" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Комментарии</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1002043E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="OffsetDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о зачете денежных средств</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OffsetIndicator" type="clt_ru:DigitalIndicatorType" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Решение по заявлению (0 - на лицевой счет, 1 - в счет авансовых платежей)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OffsetDate" type="clt_ru:DateCustType" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Дата зачета</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OffsetComments" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Комментарии</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OverPaidDocType">
    <xs:annotation>
      <xs:documentation>Сведения о документах, подтверждающих факт излишне уплаченных/взысканных платежей</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="DocKind" type="clt_ru:CodeVariable4Type">
            <xs:annotation>
              <xs:documentation>Кодовое обозначение вида документа: ДТ - декларация на товары; ВТД - временная таможенная декларация; ПТДЗ -	заявление о зачете авансовых платежей в счет исполнения обязанности по уплате таможенных пошлин, налогов, специальных, антидемпинговых и компенсационных пошлин в отношении товаров, перемещаемых трубопроводным транспортом; ПВД - полная таможенная декларация; ТПО - таможенный приходный ордер; РТП - расчет таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин; РЕС - расчет таможенных пошлин, налогов, взимаемых по единым ставкам; РСТП - 	расчет таможенных пошлин, налогов, взимаемых в виде совокупного таможенного платежа; КДТ - корректировка декларации на товары; КТПО - корректировка таможенного приходного ордера</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArchID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор архива</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArchDocID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Архивный идентификатор документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArchDocumentID" type="clt_ru:ArchiveDocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArchDocStatus" type="clt_ru:ArchStatusCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Статус документа в архиве</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentCode" type="clt_ru:DocumentModeIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор вида документа по альбому форматов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PresentedDocumentModeCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код вида представляемого документа в соответствии с классификатором видов документов и сведений, используемых при таможенном декларировании</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveBodyID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор исполнительного органа, выдавшего разрешительный документ (для РФ)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocBeginDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата начала действия документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocEndDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата окончания действия документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArchDocDate" type="clt_ru:DateTimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата/время помещения документа в архив ( последнего изменения документа)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PresentIndicator" type="clt_ru:DigitalIndicatorType" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Признак предоставления документа (0 - новый документ, 1 - документ предоставлялся ранее)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganizationInfoType">
    <xs:annotation>
      <xs:documentation>Сведения об организации</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationType">
        <xs:sequence>
          <xs:element name="InsuranceNumber" type="clt_ru:CodeVariable11Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Страховой номер индивидуального лицевого счёта (СНИЛС)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RefundOrganizationType">
    <xs:annotation>
      <xs:documentation>Сведения о Лице, на лицевой счет которого был произведен зачет денежных средств</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationType">
        <xs:sequence>
          <xs:element name="InsuranceNumber" type="clt_ru:CodeVariable11Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Страховой номер индивидуального лицевого счёта (СНИЛС)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeclarantEqualFlag" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Признак совпадения сведений со сведениями об уведомляемом лице. 1 - сведения совпадают</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>