XsltProcessor/xsd/5.22.0/NotifGoodsAcceptTime.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:ngact="urn:customs.ru:Information:CustomsDocuments:NotifGoodsAcceptTime:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:NotifGoodsAcceptTime:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Уведомление о дате и времени принятия товаров от перевозчика</xs:documentation>
  </xs:annotation>
  <xs:element name="NotifGoodsAcceptTime" type="ngact:NotifGoodsAcceptTimeType" />
  <xs:complexType name="NotifGoodsAcceptTimeType">
    <xs:annotation>
      <xs:documentation>Уведомление о дате и времени принятия товаров от перевозчика </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Date" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата принятия товаров от перевозчика </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Time" type="clt_ru:TimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Время принятия товаров от перевозчика </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PrecedingNotifNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер исходного уведомления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EconomicOperator" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уполномоченный экономический оператор</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Carrier" type="RUScat_ru:SubjectDetailsType">
            <xs:annotation>
              <xs:documentation>Перевозчик</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Transport" type="ngact:TransportType">
            <xs:annotation>
              <xs:documentation>Транспортное средство</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Document" type="cat_ru:DocumentBaseType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Документы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifPerson" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>ФИО лица,  составившего  уведомление о принятии товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006169E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="TransportType">
    <xs:annotation>
      <xs:documentation>Транспортное средство</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:CUTransportMeansType">
        <xs:sequence>
          <xs:element name="TransportMeans" type="cat_ru:TransportMeansBaseType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Описание транспортного средства.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>