XsltProcessor/xsd/5.22.0/ObservationEnd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приказ ФТС России № 196 от 6 февраля 2019 года-->
<xs:schema xmlns:oe="urn:customs.ru:Information:CustomsDocuments:ObservationEnd:5.22.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:ObservationEnd:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Уведомление о завершении таможенного наблюдения</xs:documentation>
  </xs:annotation>
  <xs:element name="ObservationEnd" type="oe:ObservationEndType">
    <xs:annotation>
      <xs:documentation>Уведомление о завершении таможенного наблюдения</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ObservationEndType">
    <xs:annotation>
      <xs:documentation>Уведомление о завершении таможенного наблюдения</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ActDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата завершения таможенного наблюдения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BeginTime" type="clt_ru:TimeCustType">
            <xs:annotation>
              <xs:documentation>Время  завершения таможенного наблюдения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Comment" type="clt_ru:FreeText500Type">
            <xs:annotation>
              <xs:documentation>Комментарии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPerson" type="oe:CustomsPersonType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Должностное лицо таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006321E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CustomsPersonType">
    <xs:annotation>
      <xs:documentation>Должностное лицо таможенного органа</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonBaseType">
        <xs:sequence>
          <xs:element name="LNP" type="clt_ru:LNPIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ЛНП инспектора</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>