XsltProcessor/xsd/5.22.0/OEZ_ExportNotif.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:exnot="urn:customs.ru:Information:CustomsDocuments:OEZ_ExportNotif:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:OEZ_ExportNotif:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:annotation>
		<xs:documentation>Предварительное уведомление о вывозе товаров с территории особой экономической зоны/портовой особой экономической зоны</xs:documentation>
	</xs:annotation>
	<xs:element name="OEZ_ExportNotif" type="exnot:OEZ_ExportNotifType">
		<xs:annotation>
			<xs:documentation>Предварительное уведомление о вывозе товаров с территории особой экономической зоны/портовой особой экономической зоны</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OEZ_ExportNotifType">
		<xs:annotation>
			<xs:documentation>Предварительное уведомление о вывозе товаров с территории особой экономической зоны/портовой особой экономической зоны</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="ExportDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Планируемая дата вывоза товаров для разовых разрешений</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PassKind" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Тип документа: 0 - уведомление о разовом вывозе, 1 - запрос на многоразовый пропуск</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AddInformation" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Дополнительная информация</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProvisionalDateBegin" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Предварительная дата вывоза с / Начало действия запрашиваемого многоразового пропуска</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProvisionalDateEnd" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Предварительная дата вывоза по / Конец действия запрашиваемого многоразового пропуска</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocSign" type="clt_ru:Numeric1Type">
						<xs:annotation>
							<xs:documentation>Признак уведомления о вывозе товаров с территории: 0 - ОЭЗ; 1 - ПОЭЗ; 2 - ТОСЭР; 3 - Арктика ПОЭЗ; 4 - Арктика ОЭЗ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IncidentNotif" type="exnot:IncidentNotifType">
						<xs:annotation>
							<xs:documentation>Лицо, подающее уведомление (Резидент/нерезидент)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Customs" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Сведения о таможенном органе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Consignor" type="exnot:ConsignorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Отправитель</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Consignee" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Получатель</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RegistrationNumber" type="exnot:RegistrationNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер предварительного уведомления</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PurposeOfExport" type="clt_ru:FreeText500Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Цель вывоза (подачи уведомления)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Resident" type="exnot:ResidentType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Резидент портового, логистического участка Арктической зоны, на участок которого будет осуществляться ввоз товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AddressZone" type="RUScat_ru:RUAddressType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Местонахождение (адрес) участка резидента Арктической зоны</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ServiceOrganization" type="RUScat_ru:RUOrganizationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Лицо, заключившее договор на оказание услуг по хранению товаров </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransportMeans" type="exnot:TransportMeansType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Описания транспортного средства </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalWeight" type="clt_ru:QuantityBasis0Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Общий вес транспортных средств и вывозимых товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsInfo" type="exnot:GoodsInfoType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о товаре</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocList" type="exnot:DocListType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Список документов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocPages" type="clt_ru:Numeric1Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество листов уведомления</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PersonSignature" type="cat_ru:PersonBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Подпись заявителя</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006144E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="ConsignorType">
		<xs:annotation>
			<xs:documentation>Отправитель</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:OrganizationBaseType">
				<xs:sequence>
					<xs:element name="Address" type="RUScat_ru:RUAddressType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Адрес организации / физического лица</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CertificateNumber" type="cat_ru:DocumentBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Реквизиты свидетельства о включении в реестр резидентов Арктической зоны</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DocListType">
		<xs:annotation>
			<xs:documentation>Список документов</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="Pages" type="clt_ru:Numeric1Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество листов документа</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DTGoodsGroupType">
		<xs:annotation>
			<xs:documentation>Сведения об артикульной позиции товара ДТ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsMarking" type="cltESAD_cu:GoodsArticulType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор вида продукта (товара) или артикул товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество товара в дополнительной единице измерения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecordId" type="clt_ru:DocumentIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор записи в ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DTGoodsType">
		<xs:annotation>
			<xs:documentation>Сведения о товаре  ДТ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsNumeric" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара гр 32</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Масса товара, нетто (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество товара в дополнительной единице измерения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTGoodsGroup" type="exnot:DTGoodsGroupType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения об артикульной позиции товара ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DTInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о ДТ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GTDID" type="cat_ru:GTDIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTGoods" type="exnot:DTGoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товар ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о товаре</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Описание товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PackagesQuantity" type="clt_ru:PackagesQuantityType">
				<xs:annotation>
					<xs:documentation>Количество грузовых мест.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PackagingKind" type="clt_ru:Text40Type">
				<xs:annotation>
					<xs:documentation>Вид упаковки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WeighQuantity" type="clt_ru:QuantityBasisType">
				<xs:annotation>
					<xs:documentation>Вес товара в кг. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Note" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Примечание</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsStatus" type="exnot:GoodsStatusType">
				<xs:annotation>
					<xs:documentation>Статус товара гр 7</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TechID" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Технические идентификаторы</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsStatusType">
		<xs:annotation>
			<xs:documentation>Статус товара</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StatusSymbolicValue" type="clt_ru:CodeVariable7Type">
				<xs:annotation>
					<xs:documentation>Символьное значение статуса товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsModeCode" type="cltESAD_cu:CustomsModeCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код таможенной процедуры</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTInfo" type="exnot:DTInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о ДТ, определившей статус</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PreviousDoc" type="exnot:PreviousDocType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Ввезенные товары в неизменном виде</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Transit" type="cat_ru:GTDIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер ТД</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PermitExportGoodsInfo" type="exnot:PermitExportGoodsInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о разрешении на вывоз товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IncidentNotifType">
		<xs:annotation>
			<xs:documentation>Лицо подающее предварительное уведомление</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:OrganizationBaseType">
				<xs:sequence>
					<xs:element name="Address" type="RUScat_ru:RUAddressType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Адрес организации / физического лица</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CertificateNumber" type="cat_ru:DocumentBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Реквизиты свидетельства о включении в реестр резидентов Арктической зоны</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PermitExportGoodsInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о ДТ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PermitRegistrationNumber" type="exnot:RegistrationNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер разрешения на вывоз</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExportGoodsQuantity" type="clt_ru:QuantityBasis0Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество вывозимого товара (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PreviousDocType">
		<xs:annotation>
			<xs:documentation>Предшествующие документы</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RegistrationNumberImp" type="exnot:RegistrationNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уведомление о ввозе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ImpGoodsNumeric" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер товара в уведомлении о ввозе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrevTechID" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Технические идентификаторы</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegistrationNumberType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер предварительного уведомления</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата регистрации документа.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="clt_ru:CodeVariable10Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddNumber" type="clt_ru:CodeVariable5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>4-ая часть номера</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResidentType">
		<xs:annotation>
			<xs:documentation>Отправитель</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:SubjectDetailsType">
				<xs:sequence>
					<xs:element name="CertificateNumber" type="cat_ru:DocumentBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Реквизиты свидетельства о включении в реестр резидентов Арктической зоны</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TransportMeansType">
		<xs:annotation>
			<xs:documentation>Описания транспортного средства </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EmptyIndicator" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак порожнего ТС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportKind" type="clt_ru:Numeric1Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ПризнакТС: 1-  Транспортное средство; 2 - без транспортного средства/; 3 - порожнее транспортное средство</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportMode" type="clt_ru:Numeric1Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип транспортного средства: 1 - а/м; 2 - ж/д; 3 - авиа; 4 - в/т; 5 - спецтехника; 6 - ручная кладь</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportMark" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Марки транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportRegNumber" type="clt_ru:CodeVariable20Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Регистрационный номер прицепа/полуприцепа </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmptyTransportRegNumber" type="clt_ru:CodeVariable20Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Регистрационный номер порожнего прицепа/полуприцепа </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActiveTransportIdentifier" type="clt_ru:TransportMeansIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор активного транспортного средства для прицепов, полуприцепов и др,</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlightNumber" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер рейса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlightDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата рейса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonDetails" type="cat_ru:PersonBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Фамилия, имя, отчество (при наличии) физического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonID" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Паспортные данные физического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
