XsltProcessor/xsd/5.22.0/PermissionExtraction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:CustomsDocuments:PermissionExtraction:5.22.0" version="5.22.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:pex="urn:customs.ru:Information:CustomsDocuments:PermissionExtraction:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Разрешение на добычу (вылов) водных биологических ресурсов</xs:documentation>
  </xs:annotation>
  <xs:element name="PermissionExtraction" type="pex:PermissionExtractionType" />
  <xs:complexType name="PermissionExtractionType">
    <xs:annotation>
      <xs:documentation>Разрешение на добычу (вылов) водных биологических ресурсов</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="RegNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер разрешения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GroundsIssuing" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Основание для выдачи разрешения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateIssued" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата выдачи разрешения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NameManagement" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Наименование управления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="KindFishing" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Вид рыболовства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UserInfo" type="pex:UserInfoType">
            <xs:annotation>
              <xs:documentation>Сведения о пользователе, осуществляющем организацию любительского и спортивного рыболовства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" name="ConditionsExtraction" type="pex:ConditionsExtractionType">
            <xs:annotation>
              <xs:documentation>Условия добычи (вылова) водных биологических ресурсов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonResponsibleProduction" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>Лицо, ответственное за добычу (вылов) водных биоресурсов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="PersonResponsiblePerforming" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>Лицо, ответственное за выполнение программы (плана) работы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonSignature" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Подпись лицо выдавшего разрешение</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute fixed="1006106E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ConditionsExtractionType">
    <xs:annotation>
      <xs:documentation>Условия добычи (вылова) водных биологических ресурсов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MiningRegion" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Район добычи (вылова) водных биоресурсов и (или) рыбопромысловый участок</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TypeResources" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Виды водных биоресурсов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductionQuota" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Квоты (объемы) добычи (вылова) водных биоресурсов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductionMethod" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Орудия, способы добычи (вылова) водных биоресурсов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TermExtraction" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Сроки добычи (вылова) водных биоресурсов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="MeasurementUnitTime" type="clt_ru:MeasureUnitQualifierNameType">
        <xs:annotation>
          <xs:documentation>Единица измерения времени</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о пользователе, осуществляющем организацию любительского и спортивного рыболовства</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationType">
        <xs:sequence>
          <xs:element minOccurs="0" name="IdentityCard" type="RUScat_ru:RUIdentityCardType">
            <xs:annotation>
              <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>