XsltProcessor/xsd/5.22.0/PI_ConfirmDocs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:PriorInformation:PI_ConfirmDocs:5.22.0" version="5.22.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:rwcd="urn:customs.ru:Information:PriorInformation:PI_ConfirmDocs:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Подтверждение получения документа</xs:documentation>
  </xs:annotation>
  <xs:element name="PI_ConfirmDocs" type="rwcd:PI_ConfirmDocsType" />
  <xs:complexType name="PI_ConfirmDocsType">
    <xs:annotation>
      <xs:documentation>Подтверждение получения документа</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="SendDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата создания подтверждения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SendTime" type="clt_ru:TimeCustType">
            <xs:annotation>
              <xs:documentation>Время создания подтверждения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" name="RecipDocument" type="rwcd:RecipDocumentType">
            <xs:annotation>
              <xs:documentation>Информация о полученных документах.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeclPerson" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>Сведения о лице, создавшем подтверждение</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute fixed="1006818E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="RecipDocumentType">
    <xs:annotation>
      <xs:documentation>Информация о полученных документах.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="RecipDocumentID" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор полученного документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="RecipDocDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата создания полученного документа.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="RecipDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата получения документа.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="RecipTime" type="clt_ru:TimeCustType">
            <xs:annotation>
              <xs:documentation>Время получения документа.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>