XsltProcessor/xsd/5.22.0/RecDecisionRevokePayments.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Письмо ГУИТ от 19.09.2018 № 09-126 № 59561 пункт 4.2.3, Письмо ГУИТ ФТС России от 10.10.2018 № 09-126/64177, Федеральный закон от 03.08.2018 г. № 289-ФЗ ст.75 п.13 (без НПА для формы) продажа металла-->
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:rdrp="urn:customs.ru:Information:CommercialFinanceDocuments:RecDecisionRevokePayments:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CommercialFinanceDocuments:RecDecisionRevokePayments:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Квитанция об исполнении поручения таможенного органа на бесспорное взыскание/Квитанция об исполнении поручения таможенного органа на продажу иностранной валюты/Квитанция об исполнении поручения таможенного органа на перевод электронных денежных средств/Квитанция об исполнении поручения таможенного органа на перечисление денежных средств с депозитного счета на расчетный (текущий) счет плательщика (лица, несущего солидарную обязанность) /Квитанция об исполнении решения таможенного органа о приостановлении операций по счетам плательщика (лица, несущего солидарную обязанность) в банке и переводов его электронных денежных средств/Квитанция об исполнении  решения таможенного органа об отмене  приостановления операций по счетам плательщика (лица, несущего солидарную обязанность) в банке и переводов его электронных денежных средств / Квитанция об исполнении поручения на продажу драгоценных металлов и перечисление денежных средств от продажи драгоценных металлов на расчетный (текущий) счет плательщика (лица, несущего солидарную обязанность)</xs:documentation>
  </xs:annotation>
  <xs:element name="RecDecisionRevokePayments" type="rdrp:RecDecisionRevokePaymentsType">
    <xs:annotation>
      <xs:documentation>Квитанция об исполнении поручения таможенного органа на бесспорное взыскание/Квитанция об исполнении поручения таможенного органа на продажу иностранной валюты/Квитанция об исполнении поручения таможенного органа на перевод электронных денежных средств/Квитанция об исполнении поручения таможенного органа на перечисление денежных средств с депозитного счета на расчетный (текущий) счет плательщика (лица, несущего солидарную обязанность) /Квитанция об исполнении решения таможенного органа о приостановлении операций по счетам плательщика (лица, несущего солидарную обязанность) в банке и переводов его электронных денежных средств/Квитанция об исполнении  решения таможенного органа об отмене  приостановления операций по счетам плательщика (лица, несущего солидарную обязанность) в банке и переводов его электронных денежных средств / Квитанция об исполнении поручения на продажу драгоценных металлов и перечисление денежных средств от продажи драгоценных металлов на расчетный (текущий) счет плательщика (лица, несущего солидарную обязанность)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RecDecisionRevokePaymentsType">
    <xs:annotation>
      <xs:documentation>Квитанция об исполнении поручения таможенного органа на бесспорное взыскание/Квитанция об исполнении поручения таможенного органа на продажу иностранной валюты/Квитанция об исполнении поручения таможенного органа на перевод электронных денежных средств/Квитанция об исполнении поручения таможенного органа на перечисление денежных средств с депозитного счета на расчетный (текущий) счет плательщика (лица, несущего солидарную обязанность) /Квитанция об исполнении решения таможенного органа о приостановлении операций по счетам плательщика (лица, несущего солидарную обязанность) в банке и переводов его электронных денежных средств/Квитанция об исполнении  решения таможенного органа об отмене  приостановления операций по счетам плательщика (лица, несущего солидарную обязанность) в банке и переводов его электронных денежных средств / Квитанция об исполнении поручения на продажу драгоценных металлов и перечисление денежных средств от продажи драгоценных металлов на расчетный (текущий) счет плательщика (лица, несущего солидарную обязанность)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DocType" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Тип сведений: 0 - документ, 1 - отзыв/отмена документа.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrderType" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Тип документа, об исполнении которого сформирована квитанция: 0 - поручение таможенного органа на бесспорное взыскание, 1 - поручение таможенного органа на продажу иностранной валюты, 2 - поручение таможенного органа на перевод электронных денежных средств, 3 - поручение таможенного органа на перечисление денежных средств с депозитного счета на расчетный (текущий) счет плательщика (лица, несущего солидарную обязанность),4 - решение таможенного органа о приостановлении операций по счетам плательщика (лица, несущего солидарную обязанность) в банке и переводов его электронных денежных средств, 5 - поручение на продажу драгоценных металлов и перечисление денежных средств от продажи драгоценных металлов на расчетный (текущий) счет плательщика (лица, несущего солидарную обязанность).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsOffice" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Код и наименование таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentReference" type="rdrp:DRP_DocumentReferenceType">
            <xs:annotation>
              <xs:documentation>Реквизиты Решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NumberRecDecision" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Номер Квитанции</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateRecDecision" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата Квитанции</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BankAndAccountInfo" type="rdrp:BankInformationType">
            <xs:annotation>
              <xs:documentation>Информация о банке и счёте</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PayerInfo" type="cat_ru:OrganizationBaseType">
            <xs:annotation>
              <xs:documentation>Сведения о плательщике-держателе счета</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Executor" type="rdrp:ExecutorType">
            <xs:annotation>
              <xs:documentation>Исполнитель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResultCode" type="clt_ru:CodeVariable2Type">
            <xs:annotation>
              <xs:documentation>Код результата: 01 - исполнено; 02 - в банке отсутствует плательщик с указанным ИНН; 03 - в банке отсутствует номер счета; 04 - счет плательщика закрыт; 05 - наименование плательщика не соответствует номеру счета плательщика; 06 - блокировка по данному решению уже установлена; 07 - очередь не исполненных в срок документов; 08 - частично исполнено; 99 - иное</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResultText" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Дополнительная информация о результате исполнения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PaymentInfo" type="rdrp:PaymentInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о платежном поручении</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1002037E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="BankInformationType">
    <xs:annotation>
      <xs:documentation>Информация о банке и счёте плательщика</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BankAccount" type="clt_ru:AccountType" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Номер банковского счета</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BankAccountDescription" type="clt_ru:FreeText250Type" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание типа счета: рублевый, валютный</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BankName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Наименование банка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BICID" type="clt_ru:BICIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>БИК банка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CorrAccount" type="clt_ru:AccountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер корреспондентского счета банка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CodeBank" type="clt_ru:CodeVariable20Type">
        <xs:annotation>
          <xs:documentation>Код банка по КГРКО</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DRP_DocumentReferenceType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер решения об отзыве инкассового поручения/ поручения на перевод денежных средств/ приостановлении операций по счетам/ отмене приостановления операций по счетам </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PrDocumentName" type="clt_ru:DocumentNameType">
        <xs:annotation>
          <xs:documentation>Наименование исходного документа (или тип)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrDocumentNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер исходного документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrDocumentDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата исходного документа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExecutorType">
    <xs:annotation>
      <xs:documentation>Исполнитель</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonBaseType">
        <xs:sequence>
          <xs:element name="ExecutivePhone" type="clt_ru:PhoneNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер телефона исполнителя</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PaymentInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о платежном поручении</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PaymentOrder" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Реквизиты платежного поручения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentAmount" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма платежного поручения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RemainingPaymentAmount" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма остатка платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>