XsltProcessor/xsd/5.22.0/RegisterMPO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:rmpo="urn:customs.ru:Information:CustomsDocuments:RegisterMPO:5.22.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:RegisterMPO:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Реестр экспортируемых международных почтовых отправлений</xs:documentation>
  </xs:annotation>
  <xs:element name="RegisterMPO" type="rmpo:RegisterMPOType">
    <xs:annotation>
      <xs:documentation> Реестр экспортируемых международных почтовых отправлений</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RegisterMPOType">
    <xs:annotation>
      <xs:documentation>Реестр экспортируемых международных почтовых отправлений</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Representative" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Декларант / Таможенный представитель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignment" type="rmpo:ConsignmentType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о партии</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006233E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ConsigneeType">
    <xs:annotation>
      <xs:documentation>Получатель</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="Person" type="cat_ru:PersonBaseType">
          <xs:annotation>
            <xs:documentation>Физическое лицо</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="JuridicalPerson" type="rmpo:JuridicalPersonType">
          <xs:annotation>
            <xs:documentation>Юридическое лицо</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="OrganizationLanguage" type="clt_ru:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код языка для заполнения наименования </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="RUScat_ru:RUAddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsignorType">
    <xs:annotation>
      <xs:documentation>Отправитель</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="Person" type="cat_ru:PersonBaseType">
          <xs:annotation>
            <xs:documentation>Физическое лицо</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="JuridicalPerson" type="rmpo:JuridicalPersonType">
          <xs:annotation>
            <xs:documentation>Юридическое лицо</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="OrganizationLanguage" type="clt_ru:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код языка для заполнения наименования </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RFOrganizationFeatures" type="cat_ru:RFOrganizationFeaturesType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения об организации. Особенности Российской Федерации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="RUScat_ru:RUAddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Contact" type="cat_ru:ContactType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Контактная информация</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsignmentType">
    <xs:annotation>
      <xs:documentation>Сведения о партии</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ListNumeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Номер партии товаров по порядку в текущем реестре</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WayBillID" type="clt_ru:DocumentIDType">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор партии товаров в текущем реестре</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MPO" type="rmpo:MPO_RegistrationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер МПО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Currency" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код валюты счета (сделки)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrossWeight" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес товаров, брутто, кг</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsCost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Стоимость товаров в валюте счета (сделки)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsCostEuro" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Стоимость товаров в евро</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsCostRuble" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Стоимость товаров в рублях</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReservationID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор резервирования денежных средств для целей уплаты таможенных платежей</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Consignor" type="rmpo:ConsignorType">
        <xs:annotation>
          <xs:documentation>Отправитель</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Consignee" type="rmpo:ConsigneeType">
        <xs:annotation>
          <xs:documentation>Получатель</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Goods" type="rmpo:GoodsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товарах</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WayBill" type="rmpo:WayBillType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения об общих накладных</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsCost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Стоимость товара в валюте счета (сделки)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrossWeight" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Вес товара, брутто, кг</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsCostEuro" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Стоимость товара в евро</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsCostRuble" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Стоимость товара в рублях</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Количество товара в основной (дополнительной) единице измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PresentedDocuments" type="rmpo:PresentedDocumentsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о представляемых документах</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PresentedDocumentsType">
    <xs:annotation>
      <xs:documentation>Сведения о представляемых документах</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="DocumentModeCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код вида документа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WayBillType">
    <xs:annotation>
      <xs:documentation>Сведения о накладной</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="WayBillKind" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Тип: 2 - общая авианакладная; 3 - транспортная накладная; 4 - депеша</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="JuridicalPersonType">
    <xs:annotation>
      <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OrganizationName" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование юридического лица / организации </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShortName" type="clt_ru:ShortNameType">
        <xs:annotation>
          <xs:documentation>Краткое наименование организации</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MPO_RegistrationType">
    <xs:annotation>
      <xs:documentation>Сведения о регистрационном номере МПО</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MPO_Number" type="clt_ru:Code13Type">
        <xs:annotation>
          <xs:documentation>Уникальный номер МПО</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>