XsltProcessor/xsd/5.22.0/RegTDNumberInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:ExchangeDocuments:RegTDNumberInfo:5.22.0" version="5.22.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:cltExch_ru="urn:customs.ru:Information:ExchangeDocuments:ExchangeCommonLeafTypes:5.0.8" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:rtdni="urn:customs.ru:Information:ExchangeDocuments:RegTDNumberInfo:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:ExchangeDocuments:ExchangeCommonLeafTypes:5.0.8" schemaLocation="ExchangeCommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Сведения о номере зарегистрированной транзитной декларации.</xs:documentation>
  </xs:annotation>
  <xs:element name="RegTDNumberInfo" type="rtdni:RegTDNumberInfoType" />
  <xs:complexType name="RegTDNumberInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о номере зарегистрированной транзитной декларации.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element minOccurs="0" name="Comments" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Комментарии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="GRN" type="cltExch_ru:GuaranteeNumType">
            <xs:annotation>
              <xs:documentation>Cсылочный номер гарантии в транзите </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="CustomsPerson" type="cat_ru:CustomsPersonType">
            <xs:annotation>
              <xs:documentation>Должностное лицо таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AdditionalNumber" type="cat_ru:GTDIDType">
            <xs:annotation>
              <xs:documentation>Присвоенный номер дополнения к договору поручительства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:choice>
            <xs:element name="TDNumber" type="cat_ru:GTDIDType">
              <xs:annotation>
                <xs:documentation>Номер транзитной декларации</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="TIRID" type="rtdni:TIRIDType">
              <xs:annotation>
                <xs:documentation>Номер книжки МДП</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
        <xs:attribute fixed="1004097E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="TIRIDType">
    <xs:annotation>
      <xs:documentation>Номер книжки МДП</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TIRID" type="clt_ru:Code8Type">
        <xs:annotation>
          <xs:documentation>Номер книжки МДП.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TIRSeries" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Серия книжки МДП.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TIRPageNumber" type="clt_ru:Count5Type">
        <xs:annotation>
          <xs:documentation>Номер листа книжки МДП.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>