XsltProcessor/xsd/5.22.0/ReportFreeWH.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Приказ ФТС России Министерства финансов Российской Федерации от 12 марта 2019 г. N 380 "Об установлении порядка ведения учета товаров, помещенных под таможенную процедуру свободного склада, и товаров, изготовленных (полученных) с использованием товаров, помещенных под таможенную процедуру свободного склада, форм отчетности о таких товарах, порядка заполнения таких форм и порядка и сроков представления в таможенный орган такой отчетности"
-->
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" xmlns:rfwh="urn:customs.ru:Information:CustomsDocuments:ReportFreeWH:5.22.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:ReportFreeWH:5.22.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Отчет о товарах, помещенных под таможенную процедуру свободного склада, и товарах, изготовленных (полученных) с использованием товаров, помещенных под таможенную процедуру свободного склада</xs:documentation>
  </xs:annotation>
  <xs:element name="ReportFreeWH" type="rfwh:ReportFreeWHType">
    <xs:annotation>
      <xs:documentation>Отчет о товарах, помещенных под таможенную процедуру свободного склада, и товарах, изготовленных (полученных) с использованием товаров, помещенных под таможенную процедуру свободного склада</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ReportFreeWHType">
    <xs:annotation>
      <xs:documentation>Отчет о товарах, помещенных под таможенную процедуру свободного склада, и товарах, изготовленных (полученных) с использованием товаров, помещенных под таможенную процедуру свободного склада</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Customs" type="cat_ru:CustomsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о таможенном органе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReportDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата составления отчета</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReportingPeriod" type="rfwh:ReportingPeriodType">
            <xs:annotation>
              <xs:documentation>Отчётный период</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Organization" type="rfwh:OrganizationType">
            <xs:annotation>
              <xs:documentation>Лицо, предоставляющее отчет</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PlacedGoodsWH" type="rfwh:PlacedGoodsWHType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Товары, помещенные под таможенную процедуру свободного склада (Форма №1)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ManufacturedGoods" type="rfwh:ManufacturedGoodsType">
            <xs:annotation>
              <xs:documentation>Товары, изготовленные с использованием товаров, помещенных под таможенную процедуру свободного склада (Форма №2)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonWHSignature" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Подпись уполномоченного лица</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006312E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ConstructionPropertyType">
    <xs:annotation>
      <xs:documentation>Сведения о количестве товара, использованном при строительстве объектов недвижимости на территории свободного склада </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PropertyName" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Наименование объекта недвижимости</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsQuantityEnd" type="RUSclt_ru:Quantity24point8Type">
        <xs:annotation>
          <xs:documentation>Количество товара</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsProcedureType">
    <xs:annotation>
      <xs:documentation>Сведения о помещении товаров под таможенную процедуру</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsProcedureCode" type="clt_ru:CUCustomsProcedureType">
        <xs:annotation>
          <xs:documentation>Код таможенной процедуры</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Status" type="clt_ru:CodeVariable5Type">
        <xs:annotation>
          <xs:documentation>Статус товара ("ИТ" или "ТЕАЭС"</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsConclusion" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Заключение о признании изготовленного товара иностранным/ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DeclInfo" type="rfwh:GoodsQuantityDecl" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DestroyedGoodsType">
    <xs:annotation>
      <xs:documentation>Сведения об уничтоженном товаре</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="LostedGoods" type="RUSclt_ru:Quantity24point8Type">
          <xs:annotation>
            <xs:documentation>Безвозвратно утраченный товар</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="RuinedGoods" type="RUSclt_ru:Quantity24point8Type">
          <xs:annotation>
            <xs:documentation>Уничтоженный товар</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="CustomsPermit" type="cat_ru:DocumentBaseType">
        <xs:annotation>
          <xs:documentation>Разрешение таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EndProcedureWHType">
    <xs:annotation>
      <xs:documentation>Сведения о завершении таможенной процедуры свободного склада</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsProcedureCode" type="clt_ru:CUCustomsProcedureType">
        <xs:annotation>
          <xs:documentation>Код таможенной процедуры</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DeclInfo" type="rfwh:GoodsQuantityDecl" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeWHGoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о вывозе на другой свободный склад товаров, являющихся частями оборудования или частями иных товаров, являющихся основными производственными средствами</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="RUSclt_ru:Quantity24point8Type">
        <xs:annotation>
          <xs:documentation>Количество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsPermit" type="cat_ru:DocumentBaseType">
        <xs:annotation>
          <xs:documentation>Разрешение таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsEEUType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах ЕАЭС, не помещенных под таможенную процедуру свободного склада, потребленных при изготовлении товара</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Position" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер позиции </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Наименование товара </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Status" type="clt_ru:Code5Type">
        <xs:annotation>
          <xs:documentation>Статус товара "ТЕАЭС"</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OutputRates" type="rfwh:OutputRatesType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Нормы выхода/нормы расхода </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsQuantityDecl">
    <xs:annotation>
      <xs:documentation>Сведения о ДТ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="GoodsQuantity" type="catESAD_cu:SupplementaryQuantityType" maxOccurs="3">
            <xs:annotation>
              <xs:documentation>Количество</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GoodsWHType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах, помещенных под таможенную процедуру свободного склада, потребленных при изготовлении товара</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Position" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер позиции </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Наименование товара </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Status" type="clt_ru:CodeVariable5Type">
        <xs:annotation>
          <xs:documentation>Статус товара ("ИТ" или "ТЕАЭС"</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OutputRates" type="rfwh:OutputRatesType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Нормы выхода/нормы расхода </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ManufacturedGoodsDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения об изготовленных и использованных товарах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Position" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер позиции </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Наименование товара </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Status" type="clt_ru:CodeVariable5Type">
        <xs:annotation>
          <xs:documentation>Статус товара ("ИТ" или "ТЕАЭС"</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OutputRates" type="rfwh:OutputRatesType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Нормы выхода/нормы расхода </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsWH" type="rfwh:GoodsWHType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Товары, помещенные под процедуру свободного склада, потребленные при изготовлениии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsEEU" type="rfwh:GoodsEEUType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Товары ЕАЭС, не помещенные под процедуру свободного склада, потребленные при изготовлениии</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ManufacturedGoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах, изготовленных (полученных)  с использованием товаров, помещенных под таможенную
 процедуру свободного склада, и товаров ЕЭК, не помещенных под таможенную процедуру свободного склада</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ManufacturedGoodsDetails" type="rfwh:ManufacturedGoodsDetailsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Изготовленные товары (Таблица 1)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UsedGoods" type="rfwh:UsedGoodsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Использование товаров (Таблица 2)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OtherUseGoods">
    <xs:annotation>
      <xs:documentation>Сведения об иных вариантах использования</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Quantity" type="RUSclt_ru:Quantity24point8Type">
        <xs:annotation>
          <xs:documentation>Количество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WayUse" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание способа использования</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OtherUseManufacturedGoodsType">
    <xs:annotation>
      <xs:documentation>Сведения об ином использовании изготовленных товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsQuantity" type="catESAD_cu:SupplementaryQuantityType" maxOccurs="3">
        <xs:annotation>
          <xs:documentation>Количество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsPermit" type="cat_ru:DocumentBaseType">
        <xs:annotation>
          <xs:documentation>Разрешение таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Comment" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Примечание</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OutputRatesType">
    <xs:annotation>
      <xs:documentation>Сведения о нормах выхода\расходов товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsQuantity" type="catESAD_cu:SupplementaryQuantityType" maxOccurs="3">
        <xs:annotation>
          <xs:documentation>Количество </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CalculateDoc" type="cat_ru:DocumentBaseType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Документ, содержащий расчеты норм выхода/расхода товара и норм образования отходов</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PermitGoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах, вывозимых с разрешения таможенного органа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Quantity" type="RUSclt_ru:Quantity24point8Type">
        <xs:annotation>
          <xs:documentation>Количество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsPermit" type="cat_ru:DocumentBaseType">
        <xs:annotation>
          <xs:documentation>Разрешение таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlacedGoodsWHType">
    <xs:annotation>
      <xs:documentation>Сведения о оварах, помещенных под таможенную процедуру свободного склада</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Status" type="clt_ru:CodeVariable5Type">
        <xs:annotation>
          <xs:documentation>Статус товара ("ИТ" или "ТЕАЭС"</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Position" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер позиции </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasureUnitQualifierName" type="cltESAD_cu:MeasureUnitQualifierNameType">
        <xs:annotation>
          <xs:documentation>Условное обозначение единицы измерения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsQuantityStart" type="RUSclt_ru:Quantity24point8Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количестве товара на начало отчетного периода</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsQuantityReportPeriod" type="RUSclt_ru:Quantity24point8Type">
        <xs:annotation>
          <xs:documentation>Количестве товара, помещенного под таможенную процедуру свободного склада за отчетный период</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsQuantityEnd" type="RUSclt_ru:Quantity24point8Type">
        <xs:annotation>
          <xs:documentation>Количестве товара на конец отчетного периода</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductUseInfo" type="rfwh:ProductUseInfoType">
        <xs:annotation>
          <xs:documentation>Сведения о количестве использованых товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EndProcedureWH" type="rfwh:EndProcedureWHType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Завершение таможенной процедуры свободного склада</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductUseInfoType">
    <xs:annotation>
      <xs:documentation>Сведения об использовании товара</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="ConstructionPropertyGoods" type="rfwh:ConstructionPropertyType">
        <xs:annotation>
          <xs:documentation>Товары, использованное при строительстве объекта недвижимости</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EquipmentGoods" type="RUSclt_ru:Quantity24point8Type">
        <xs:annotation>
          <xs:documentation>Оборудование (машины, агрегаты)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupportProductionGoods" type="RUSclt_ru:Quantity24point8Type">
        <xs:annotation>
          <xs:documentation>Товары, использованные для обеспечения производственных процессов и оборудования</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProcessingGoods" type="RUSclt_ru:Quantity24point8Type">
        <xs:annotation>
          <xs:documentation>Товары, использованные при переработке </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SamplesGoods" type="RUSclt_ru:Quantity24point8Type">
        <xs:annotation>
          <xs:documentation>Товары, использованные при отборе проб и образцов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NotPartGoods" type="RUSclt_ru:Quantity24point8Type">
        <xs:annotation>
          <xs:documentation>Товары, содействующие процессу изготовления товаров, не входящие в состав изготовленных товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DestroyedGoods" type="rfwh:DestroyedGoodsType" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Уничтоженные товары</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RaisingGoods" type="RUSclt_ru:Quantity24point8Type">
        <xs:annotation>
          <xs:documentation>Товары, используемые для получения приплода, выращивания и откорма</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UnchangedGoods" type="RUSclt_ru:Quantity24point8Type">
        <xs:annotation>
          <xs:documentation>Товары, находящиеся в  неизменном состоянии, кроме изменений вследствие естественного износа\убыли</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OtherUseGoods" type="rfwh:OtherUseGoods">
        <xs:annotation>
          <xs:documentation>Иные варианты использования</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RepairGoods" type="rfwh:PermitGoodsType">
        <xs:annotation>
          <xs:documentation>Товары, вывозимых для целей ремонта, технического обслуживания</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TestGoods" type="rfwh:PermitGoodsType">
        <xs:annotation>
          <xs:documentation>Товары, вывозимые для  целей технического испытания, исследования</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FreeWHGoods" type="rfwh:FreeWHGoodsType">
        <xs:annotation>
          <xs:documentation>Товары, вывозимые на другой свободный склад</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CloseProcedureGoods" type="rfwh:PermitGoodsType">
        <xs:annotation>
          <xs:documentation>Товары, вывозимые для завершения таможенной процедуры в иной таможенный орган</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ReportingPeriodType">
    <xs:annotation>
      <xs:documentation>Отчетный период</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StartDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата начала отчётного периода</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EndDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата окончания отчётного периода</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganizationType">
    <xs:annotation>
      <xs:documentation>Сведения о резиденте</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType">
        <xs:sequence>
          <xs:element name="OwnerWHRegNum" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер в реестре владельцев свободных складов</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UsedGoodsInfoType">
    <xs:annotation>
      <xs:documentation>Сведения об использовании товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsProcedure" type="rfwh:CustomsProcedureType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о помещении товара под таможенные процедуры</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OtherUse" type="rfwh:OtherUseManufacturedGoodsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Иное использование</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UsedGoodsType">
    <xs:annotation>
      <xs:documentation>Сведения об использовании товаров, изготовленных (полученных) на территории свободного склада с использованием товаров, помещенных под таможенную процедуру свободного склада</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Position" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер позиции </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Наименование товара </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasureUnitQualifierName" type="cltESAD_cu:MeasureUnitQualifierNameType">
        <xs:annotation>
          <xs:documentation>Условное обозначение единицы измерения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsQuantityStart" type="RUSclt_ru:Quantity24point8Type">
        <xs:annotation>
          <xs:documentation>Количестве товара на начало отчетного периода</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsQuantityReportPeriod" type="RUSclt_ru:Quantity24point8Type">
        <xs:annotation>
          <xs:documentation>Количестве товара, помещенного под таможенную процедуру свободного склада за отчетный период</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsQuantityEnd" type="RUSclt_ru:Quantity24point8Type">
        <xs:annotation>
          <xs:documentation>Количестве товара на конец отчетного периода</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UsedGoodsInfo" type="rfwh:UsedGoodsInfoType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения об использовании товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>