XsltProcessor/xsd/5.22.0/ReportBenefitUserForeignGood.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:rbufg="urn:customs.ru:Information:CustomsAuditDocuments:ReportBenefitUserForeignGood:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" targetNamespace="urn:customs.ru:Information:CustomsAuditDocuments:ReportBenefitUserForeignGood:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Отчет, представляемый лицами, владеющими и (или) пользующимися условно выпущенными товарами, помещенными под таможенную процедуру выпуска для внутреннего потребления с предоставлением льгот по уплате таможенных платежей, сопряженных с ограничениями по пользованию и (или) распоряжению этими товарами</xs:documentation>
  </xs:annotation>
  <xs:element name="ReportBenefitUserForeignGood" type="rbufg:ReportBenefitUserForeignGoodType">
    <xs:annotation>
      <xs:documentation>Отчет, представляемый лицами, владеющими и (или) пользующимися условно выпущенными товарами, помещенными под таможенную процедуру выпуска для внутреннего потребления с предоставлением льгот по уплате таможенных платежей, сопряженных с ограничениями по пользованию и (или) распоряжению этими товарами</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ReportBenefitUserForeignGoodType">
    <xs:annotation>
      <xs:documentation>Отчет, представляемый лицами, владеющими и (или) пользующимися условно выпущенными товарами, помещенными под таможенную процедуру выпуска для внутреннего потребления с предоставлением льгот по уплате таможенных платежей, сопряженных с ограничениями по пользованию и (или) распоряжению этими товарами</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="BeginPeriodDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата начала отчетного периода</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EndPeriodDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата окончания отчетного периода</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReportDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата регистрации отчета</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Таможенный орган</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Organization" type="RUScat_ru:SubjectDetailsType">
            <xs:annotation>
              <xs:documentation>Наименование лица, представляющего отчет, ИНН, КПП, местонахождение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TableGoods" type="rbufg:TableGoodsType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Товары, представленные в отчете</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonSignature" type="rbufg:PersonType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Подпись руководителя организации и (или) уполномоченного в установленном порядке работника</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006921E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AccountingType">
    <xs:annotation>
      <xs:documentation>Сведения о принятии товаров к бухгалтерскому учету</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AccountingDocument" type="cat_ru:DocumentBaseType">
        <xs:annotation>
          <xs:documentation>Бухгалтерский документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="cat_ru:SupplementaryQuantityType">
        <xs:annotation>
          <xs:documentation>Количество</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BusinessTransactionsType">
    <xs:annotation>
      <xs:documentation>Хозяйственные операции с товарами</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Description" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование (краткое содержание операции: товары реализованы, сданы в аренду, унитожены, на складе и т.д.)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="cat_ru:SupplementaryQuantityType">
        <xs:annotation>
          <xs:documentation>Количество товара, единица измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DTGoodsType">
    <xs:annotation>
      <xs:documentation>Товары по ДТ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StringNumber" type="clt_ru:SheetNumberType">
        <xs:annotation>
          <xs:documentation>Порядковый номер строки отчета</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер товара (гр. 32 ДТ)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС  </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsGroupInformation" type="catESAD_cu:GoodsGroupInformationType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Характеристики товара </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PartyUnitNumber" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Партийный номер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товара в дополнительной единице измерения (гр. 41 ДТ)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OtherMeasureUnit" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Количество товара в единице измерения, отличной от основной или дополнительной единицы измерения (гр. 31 ДТ)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NetWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес нетто, кг (гр. 38 ДТ)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Таможенная стоимость (руб.)  (гр. 45 ДТ)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Preferencii" type="catESAD_cu:CUPreferenciiType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код предоставленных льгот по уплате таможенных пошлин, налогов (гр.36 ДТ)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AcceptanceAccounting" type="rbufg:AccountingType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о принятии товаров к бухгалтерскому учету</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BusinessTransactions" type="rbufg:BusinessTransactionsType">
        <xs:annotation>
          <xs:documentation>Хозяйственные операции с товарами (Последняя на дату отчета хоз. операция)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WriteOffAccounting" type="rbufg:WriteOffAccountingType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о списании (выбытии) товаров с бухгалтерского учета</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsLocation" type="rbufg:GoodsLocationType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Место нахождения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LossGods" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения об отсутствии товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Comment" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Примечание</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsLocationType">
    <xs:annotation>
      <xs:documentation>Адрес фактического местонахождения товаров</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="FactAddress" type="RUScat_ru:RUAddressType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Адрес фактического места нахождения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreviousAddressInfo" type="rbufg:PreviousAddressInfoType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения об адресе предшествующего места нахождения товара (указываются в случае отсутствия информации о фактическом месте нахождения по объективным причинам (товар утрачен при выполнении работ или в результате действия непреодолимой силы, похищен, реализован, помещен под иную таможенную процедуру и т.д. )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AirRegNumber" type="clt_ru:CodeVariable11Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о номере борта воздушного судна, на которое товар фактически были установлены (для категорий товаров "Авиационные двигатели, запасные части и оборудование, необходимые для ремонта и (или) технического обслуживания гражданских пассажирских самолетов и (или) авиационных двигателей к ним")</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>Подпись руководителя организации и (или) уполномоченного в установленном порядке работника</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonSignature" type="cat_ru:PersonSignatureType">
        <xs:annotation>
          <xs:documentation>Сведения о лице, подписавшем документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AuthoritesDocument" type="cat_ru:AuthoritesDocumentType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о документе, удостоверяющем полномочия </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PreviousAddressInfoType">
    <xs:annotation>
      <xs:documentation>Сведения об адресе предшествующего местонахождения товаров (указываются в случае отсутствия информации о фактическом местонахождении по объективным причинам (товары утрачены при выполнении работ или в результате действия непреодолимой силы, похищены, реализованы, помещены под иную таможенную процедуру и т.д. )</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PreviousAddress" type="RUScat_ru:RUAddressType">
        <xs:annotation>
          <xs:documentation>Адрес предшествующего места нахождения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateAct" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>На какую дату (срок) место нахождения товара являлось актуальным</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TableGoodsType">
    <xs:annotation>
      <xs:documentation>Представленные в отчете товары</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DTNumber" type="cat_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsList" type="rbufg:DTGoodsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Перечень товаров по ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WriteOffAccountingType">
    <xs:annotation>
      <xs:documentation>Сведения о списании (выбытии) товаров с бухгалтерского учета</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="WriteOffAccounting" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о документе бухгалтерского учета (форма, номер и дата первичного документа)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Counterparty" type="cat_ru:OrganizationBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о контрагенте (договаривающейся стороне) при заключении каких-либо сделок с товарами</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>