XsltProcessor/xsd/5.22.0/RepresApplicStatInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:rasi="urn:customs.ru:Information:CustomsDocuments:RepresApplicStatInfo:5.22.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:RepresApplicStatInfo:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Сведения о поставках в адрес физического лица</xs:documentation>
  </xs:annotation>
  <xs:element name="RepresApplicStatInfo" type="rasi:RepresApplicStatInfoType" />
  <xs:complexType name="RepresApplicStatInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о поставках в адрес физического лица</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Consignment" type="rasi:ConsignmentType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о товарах, ранее поступивших получателю</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocID" type="rasi:DocIDType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Month" type="clt_ru:Count2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество месяцев, за которое приведена статистика</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006191E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ConsignmentType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах, ранее поступивших получателю</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OverWeightSign" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак наличия превышения по весу для данной посылки / багажа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OverCostSign" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак наличия превышения по стоимости для данной посылки / багажа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreviousGoodsCost" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Стоимость товаров за период, ранее поступивших в адрес получателя, евро</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreviousGoodsGrossWeight" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Вес товаров брутто за период, ранее поступивших в адрес получателя, кг</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsFrequency" type="clt_ru:Quantity5Type">
        <xs:annotation>
          <xs:documentation>Частота перемещения товаров в адрес получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Consignee" type="rasi:ConsigneeType">
        <xs:annotation>
          <xs:documentation>Получатель</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Goods" type="rasi:GoodsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Перечень ранее поставленных получателю товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WayBill" type="rasi:WayBillType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о накладной</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsigneeType">
    <xs:annotation>
      <xs:documentation>Получатель</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="Person" type="cat_ru:PersonBaseType">
          <xs:annotation>
            <xs:documentation>Физическое лицо</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="JuridicalPerson" type="rasi:JuridicalPersonType">
          <xs:annotation>
            <xs:documentation>Юридическое лицо</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="OrganizationLanguage" type="clt_ru:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код языка для заполнения наименования </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RFOrganizationFeatures" type="cat_ru:RFOrganizationFeaturesType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения об организации. Особенности Российской Федерации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="cat_ru:AddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Contact" type="cat_ru:ContactType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Контактная информация</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConsigneeSign" type="clt_ru:DigitalIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак получателя: 0 - по товаросопроводительным документам; 1 - по доверенности</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrossWeight" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Вес товара, брутто, кг</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsCostEuro" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Стоимость товара в евро</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата поставки товара</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="JuridicalPersonType">
    <xs:annotation>
      <xs:documentation>Юридическое лицо</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OrganizationName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование юридического лица / организации </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShortName" type="clt_ru:ShortNameType">
        <xs:annotation>
          <xs:documentation>Краткое наименование организации</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WayBillType">
    <xs:annotation>
      <xs:documentation>Сведения о накладной</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="WayBillID" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор партии товаров в реестре</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExpressNum" type="cat_ru:GTDIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер реестра экспресс-грузов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionCode" type="clt_ru:CodeVariable2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Принятое решение: 10 – выпуск товаров без уплаты таможенных платежей; 30 - выпуск возвращаемых товаров разрешен;
31 – требуется уплата таможенных платежей;
32 – выпуск товаров разрешен, таможенные платежи уплачены; 40 - разрешение на отзыв; 70 - продление срока выпуска;
90 – отказ в выпуске товаров (с указанием кода причины отказа)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionDate" type="clt_ru:DateTimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата и время принятия решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReasonCode" type="clt_ru:CodeVariable3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код причины отказа в выпуске</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Reason" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Описание причины отказа в выпуске</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MPORegNumType">
    <xs:annotation>
      <xs:documentation>Номер МПО</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата регистрации документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MPO_Number" type="clt_ru:Code13Type">
        <xs:annotation>
          <xs:documentation>Уникальный номер МПО</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocIDType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер документа</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="DTRegNum" type="cat_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер реестра товаров / номер пассажирской декларации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MPORegNum" type="rasi:MPORegNumType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер МПО</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:schema>