XsltProcessor/xsd/5.22.0/RepresApplicCustomsMark.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:racm="urn:customs.ru:Information:CustomsDocuments:RepresApplicCustomsMark:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:RepresApplicCustomsMark:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Таможенные отметки Заявления таможенного представителя</xs:documentation>
  </xs:annotation>
  <xs:element name="RepresApplicCustomsMark" type="racm:RepresApplicCustomsMarkType" />
  <xs:complexType name="RepresApplicCustomsMarkType">
    <xs:annotation>
      <xs:documentation>Таможенные отметки Заявления таможенного представителя</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ApplicationRegNumber" type="cat_ru:GTDIDType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер заявления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPerson" type="cat_ru:CustomsPersonType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Должностное лицо таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignment" type="racm:ConsignmentType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Принятые решения</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006182E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ConsignmentType">
    <xs:annotation>
      <xs:documentation>Сведения о товарных партиях</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Decision" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Принятое решение: 1 - требуется уплата таможенных платежей, 2 - выпуск товаров без уплаты таможенных платежей, 3 - выпуск товаров (таможенные платежи уплачены), 4 - отказ в выпуске товаров, 5 - выпуск возвращаемых товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecisionDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата принятия решения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReasonCode" type="clt_ru:CodeVariable2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код причины отказа в выпуске</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Reason" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание причины отказа в выпуске</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Consignee" type="racm:ConsigneeType">
        <xs:annotation>
          <xs:documentation>Получатель</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InvalidPassport" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак недействительности паспорта получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TypeDuties" type="clt_ru:DigitalIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип начисления платежей: 0 -  исчисление платежей от нормы ввоза, 1 - совокупный платеж</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TPOInfo" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о ТПО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConsignmentGroup" type="racm:ConsignmentGroupType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товарных партиях получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsignmentGroupType">
    <xs:annotation>
      <xs:documentation>Сведения о товарных партиях одного получателя</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ListNumeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Номер партии товаров по порядку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WayBillID" type="clt_ru:DocumentIDType">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор партии товаров реестре</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IndividualWayBill" type="racm:IndividualWayBillType">
        <xs:annotation>
          <xs:documentation>Сведения об индивидуальной накладной</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Goods" type="racm:GoodsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товарах</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaxBase" type="racm:TaxBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Основа начисления платежей </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsDuties" type="racm:CustomsDutiesType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Таможенные платежи, подлежащие уплате </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер декларируемого товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Comments" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Примечание</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsDutiesType">
    <xs:annotation>
      <xs:documentation>Таможенные платежи, подлежащие уплате</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PaymentModeCode" type="clt_ru:CUCustomsPaymentCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код вида платежа  по классификатору видов налогов, сборов и иных платежей, взимание которых возложено на таможенные органы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Duties" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Таможенные пошлины, налоги в рублях</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DutiesCurrency" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Таможенные пошлины, налоги в валюте</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyCode" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код валюты таможенного платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IndividualWayBillType">
    <xs:annotation>
      <xs:documentation>Сведения об индивидуальной накладной</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ConsigneeType">
    <xs:annotation>
      <xs:documentation>Получатель</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType">
        <xs:sequence>
          <xs:element name="ConsigneeSign" type="clt_ru:DigitalIndicatorType">
            <xs:annotation>
              <xs:documentation>Признак получателя: 0 - по товаросопроводительным документам; 1 - по доверенности</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TaxBaseType">
    <xs:annotation>
      <xs:documentation>Основа начисления платежей</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="LimitEuro" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Норма ввоза товаров по стоимости</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaxBaseEuro" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Основа начисления платежей по стоимости в евро </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LimitWeight" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Норма ввоза товаров по весу</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaxBaseWeight" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Основа начисления платежей по весу</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaxBaseKind" type="clt_ru:DigitalIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип использованной основы начисления (0 - по стоимости, 1-по весу)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>