XsltProcessor/xsd/5.22.0/RequestDocumentsToBank.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приказ ФТС России от 11 июня 2019 г. № 948 "Об утверждении формы и порядка направления (вручения) запроса (требования) таможенного органа в банк или иную кредитную организацию о представлении документов и сведений"-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:rdb="urn:customs.ru:Information:CommercialFinanceDocuments:RequestDocumentsToBank:5.22.0" targetNamespace="urn:customs.ru:Information:CommercialFinanceDocuments:RequestDocumentsToBank:5.22.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Запрос (требование) таможенного органа в банк или иную кредитную организацию о представлении документов и сведений</xs:documentation>
  </xs:annotation>
  <xs:element name="RequestDocumentsToBank" type="rdb:RequestDocumentsToBankType">
    <xs:annotation>
      <xs:documentation>Запрос (требование) таможенного органа в банк или иную кредитную организацию о представлении документов и сведений</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RequestDocumentsToBankType">
    <xs:annotation>
      <xs:documentation>Запрос (требование) таможенного органа в банк или иную кредитную организацию о представлении документов и сведений</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="CustomsDetails" type="rdb:CustomsDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о таможенном органе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BankInfo" type="rdb:BankInfoType">
            <xs:annotation>
              <xs:documentation>Сведения о банке или кредитной организации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReasonForRequest" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
              <xs:documentation>Основание для запроса документов (сведений): 1 - в связи с проведением таможенной проверки; 2 - в связи с проведением проверки таможенных, иных документов и (или) сведений после выпуска товаров </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="VerifiedPerson" type="rdb:VerifiedPersonType">
            <xs:annotation>
              <xs:documentation>Сведения о проверяемом  лице</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RequestedDocuments" type="rdb:RequestedDocumentsType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Запрашиваемые документы (сведения)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPersons" type="rdb:CustomsPersonType">
            <xs:annotation>
              <xs:documentation>Должностное лицо таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsHeadPersons" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Начальник (заместитель начальника таможенного органа)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReceivedRequestPersons" type="cat_ru:PersonBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Представитель банка или иной кредитной организации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReceivedRequestDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата получения Запроса</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1002057E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="BankInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о банке или кредитной организации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OrganizationName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Наименование банка/ кредитной организации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShortName" type="clt_ru:ShortNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Краткое наименование банка/ кредитнойорганизации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INN" type="clt_ru:INNIDType">
        <xs:annotation>
          <xs:documentation>ИНН</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KPP" type="clt_ru:KPPCodeType">
        <xs:annotation>
          <xs:documentation>КПП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BIC" type="clt_ru:BICIDType">
        <xs:annotation>
          <xs:documentation>БИК</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="cat_ru:AddressType">
        <xs:annotation>
          <xs:documentation>Адрес</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о таможенном органе</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:CustomsType">
        <xs:sequence>
          <xs:element name="Address" type="cat_ru:AddressType">
            <xs:annotation>
              <xs:documentation>Адрес таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CustomsPersonType">
    <xs:annotation>
      <xs:documentation>Должностное лицо таможенного оргнана</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonBaseType">
        <xs:sequence>
          <xs:element name="Phone" type="clt_ru:PhoneNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер телефона</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RequestedDocumentsType">
    <xs:annotation>
      <xs:documentation>Запрашиваемые документы (сведения)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocumentKind" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Вид документа (сведений): 1 - справка о наличии счетов; 2 - выписка по операциям на счетах; 3 -  ведомость банковского контроля; 4 - копии паспортов сделок; 5 - копии контрактов; 6 - копии подтверждающих документов; 7 - копии карточек с образцами подписей и оттисками печати</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReferenceDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата, на которую требуется справка о наличии счетов/ ведомость банковского контроля (DocumentKind=1 или 3)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Terms" type="rdb:TermType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Периоды, за которые требуются выписки (DocumentKind=2)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AllAccounts" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Запрос по всем счетам: 0- нет, 1- да (DocumentKind=2)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BankAccount" type="clt_ru:AccountType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Номера банковских счетов, по которым требуется выписка по операциям на счете (DocumentKind=2)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CopiesOfDocuments" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Заверенные копии паспортов сделок (DocumentKind=4)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupportingDocuments" type="rdb:SupportingDocumentsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Заверенные копии контрактов и/или подтверждающих документов к контракту (DocumentKind=5 или 6)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SupportingDocumentsType">
    <xs:annotation>
      <xs:documentation>Заверенные копии подтверждающих документов к контракту</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="SupportingDocument" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Заверенные копии подтверждающих документов к указанному контракту</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TermType">
    <xs:annotation>
      <xs:documentation>Период, за который требуются выпискм </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PeriodNumber" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер периода по порядку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BeginDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата начала периода</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EndDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата окончания периода</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VerifiedPersonFLType">
    <xs:annotation>
      <xs:documentation>Сведения о проверяемом физическом лице</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonSurname" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Фамилия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Имя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonMiddleName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VerifiedPersonType">
    <xs:annotation>
      <xs:documentation>Сведения о проверяемом лице</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="VerifiedPersonYUL" type="rdb:VerifiedPersonYULType">
          <xs:annotation>
            <xs:documentation>Наименование юридического лица</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="VerifiedPersonFL" type="rdb:VerifiedPersonFLType">
          <xs:annotation>
            <xs:documentation>ФИО физического лица (ИП)</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="INN" type="clt_ru:INNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИНН</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KPP" type="clt_ru:KPPCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>КПП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ForeignOrgCode_Kind" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид идентификатора иностранной организации (иностранного предпринимателя):1 - КИО, 2 - TIN, 3 - LEI, 4 - SWIFT, 5 - NUM</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ForeignOrganizationCode" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Значение идентификатора иностранной организации (иностранного предпринимателя)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VerifiedPersonYULType">
    <xs:annotation>
      <xs:documentation>Сведения о проверяемом юридическом лице</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OrganizationName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Наименование организации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShortName" type="clt_ru:ShortNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Краткое наименование организации</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>