XsltProcessor/xsd/5.22.0/ResProlongTempImpExp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Проект Приказа ФТС "Об утверждении формы заявления о продлении срока действия таможенной процедуры временного вывоза и формы решения таможенного органа по результатам рассмотрения указанного заявления"
Приложение № 2 - Решение таможенного органа о продлении (отказе в продлении) срока действия таможенной процедуры временного вывоза
Проект Приказа ФТС "Об утверждении формы заявления о продлении срока действия таможенной процедуры временного ввоза (допуска) и формы решения таможенного органа о продлении (отказе в продлении) срока действия таможенной процедуры временного ввоза (допуска)"
Приложение № 2 - Решение таможенного органа о продлении (отказе в продлении) срока действия таможенной процедуры временного ввоза (допуска)
-->
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:rpte="urn:customs.ru:Information:TransportDocuments:ResProlongTempImpExp:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:TransportDocuments:ResProlongTempImpExp:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Решение таможенного органа о продлении (отказе в продлении) срока действия таможенной процедуры временного вывоза/решение таможенного органа о продлении (отказе в продлении) срока действия таможенной процедуры временного ввоза (допуска)</xs:documentation>
  </xs:annotation>
  <xs:element name="ResProlongTempImpExp" type="rpte:ResProlongTempImpExpType">
    <xs:annotation>
      <xs:documentation>Решение таможенного органа о продлении (отказе в продлении) срока действия таможенной процедуры временного вывоза/решение таможенного органа о продлении (отказе в продлении) срока действия таможенной процедуры временного ввоза (допуска)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ResProlongTempImpExpType">
    <xs:annotation>
      <xs:documentation>Решение таможенного органа о продлении (отказе в продлении) срока действия таможенной процедуры временного вывоза/решение таможенного органа о продлении (отказе в продлении) срока действия таможенной процедуры временного ввоза (допуска)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DocKind" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Тип документа: 0 - Решение таможенного органа о продлении (отказе в продлении) срока действия таможенной процедуры временного вывоза; 1 - Решение таможенного органа о продлении (отказе в продлении) срока действия таможенной процедуры временного ввоза (допуска)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Код и наименование таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Applicant" type="RUScat_ru:SubjectDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о заявителе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AppDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата заявления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegAppNumber" type="rpte:RegAppNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер Заявления о  продлении срока действия таможенной процедуры временного вывоза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GTDID" type="cat_ru:GTDIDType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер таможенной декларации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ProlongInfo" type="rpte:ProlongInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о продлении срока действия таможенной процедуры временного вывоза / ввоза (допуска)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotProlongInfo" type="rpte:NotProlongInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения об отказе в продлении срока действия таможенной процедуры временного вывоза / ввоза (допуска)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ChiefType" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Тип лица: 1 начальник таможенного органа, 2 заместитель начальникатаможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsChief" type="cat_ru:CustomsPersonType">
            <xs:annotation>
              <xs:documentation>Подпись начальника (заместителя начальника) таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1003016E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="GoodsInfoType">
    <xs:annotation>
      <xs:documentation>Информация о товаре</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GoodsBaseType">
        <xs:sequence>
          <xs:element name="GoodsNumberInGTD" type="clt_ru:Count5Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер товара в таможенной декларации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IndividualCharacteristics" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Индивидуальные признаки товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество товара в дополнительной единице измерения</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NotProlongInfoType">
    <xs:annotation>
      <xs:documentation>Сведения об отказе в продлении срока действия таможенной процедуры временного вывоза / ввоза (допуска)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsInfo" type="rpte:GoodsInfoType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товарах</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Reason" type="rpte:ReasonsType">
        <xs:annotation>
          <xs:documentation>Основание для отказа в выдаче разрешения со ссылкой на норму ФЗ от 3 августа 2018 г. № 289-ФЗ «О таможенном регулировании в Российской Федерации и о внесении изменений в отдельные
законодательные акты Российской Федерации», в соответствии с которым принято решение</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProlongInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о продлении срока действия таможенной процедуры временного вывоза / ввоза (допуска)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsInfo" type="rpte:GoodsInfoType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товарах</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateEndTempExp" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата окончания срока действия таможенной процедуры временного вывоза / ввоза (допуска)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EnsuringSign" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак предоставления обеспечения исполнения обязанности по уплате таможенных пошлин, налогов: 1 - с предоставлением; 0 - без предоставления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EnsuringDoc" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Документ, подтверждающий принятие таможенным органом обеспечения исполнения обязанности по уплате таможенных пошлин, налогов</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReasonsType">
    <xs:annotation>
      <xs:documentation>Основание для отказа в выдаче разрешения со ссылкой на норму ФЗ от 3 августа 2018 г. № 289-ФЗ «О таможенном регулировании в Российской Федерации и о внесении изменений в отдельные
законодательные акты Российской Федерации», в соответствии с которым принято решение</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="ExpReferenceNormFederalLaw" type="clt_ru:LetterIndicatorType" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Ссылка на норму (статья 171) ФЗ (1 - несоблюдения условий использования товаров в соответствии с таможенной процедурой временного вывоза, установленных пунктом 2 статьи 228 Кодекса Союза; 2 - подачи заявления о продлении срока действия таможенной процедуры временного вывоза в таможенный орган, в котором не производилось помещение товаров под заявленную таможенную процедуру; 3 - подачи заявления о продлении срока действия таможенной процедуры временного вывоза после истечения сроков, установленных абзацем третьим части 2  статьи 171 ФЗ от 3 августа 2018 г. № 289-ФЗ «О таможенном регулировании в Российской Федерации и о внесении изменений в отдельные
законодательные акты Российской Федерации»; 4 - передачи иностранному лицу права собственности на временно вывезенные товары, в отношении которых законодательством Российской Федерации установлена обязательность их возврата на территорию Российской Федерации.)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ImpReferenceNormFederalLaw" type="clt_ru:LetterIndicatorType" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Ссылка на норму (статья 167) ФЗ (1 - несоблюдения условий использования товаров в соответствии с таможенной процедурой временного ввоза (допуска), установленных пунктом 2 статьи 220 Кодекса Союза; 2 - несоблюдения условий, установленных частями 4 и 5 статьи 167 ФЗ от 3 августа 2018 г. № 289-ФЗ «О таможенном регулировании в Российской Федерации и о внесении изменений в отдельные
законодательные акты Российской Федерации»; 3 - неисполнение требований таможенного органа, предусмотренных частью 6 статьи 167 ФЗ от 3 августа 2018 г. № 289-ФЗ «О таможенном регулировании в Российской Федерации и о внесении изменений в отдельные
законодательные акты Российской Федерации».)</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="Reason" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Доп. сведения об основании отказа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegAppNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер Заявления</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDID5Type">
        <xs:sequence>
          <xs:element name="AddNumber" type="clt_ru:Code4Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дополнительная составляющая номера </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>