XsltProcessor/xsd/5.22.0/SertifST3Form.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:catSert_ru="urn:customs.ru:Information:SertifDocuments:SertifCommonAggregateTypesCust:5.22.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:sst3="urn:customs.ru:Information:SertifDocuments:SertifST3Form:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" targetNamespace="urn:customs.ru:Information:SertifDocuments:SertifST3Form:5.22.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:SertifDocuments:SertifCommonAggregateTypesCust:5.22.0" schemaLocation="SertifCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Сертификат о происхождении товаров по форме СТ-3</xs:documentation>
  </xs:annotation>
  <!--Письмо ФТС от 31.10.19 № 06-112/67034-->
  <xs:element name="SertifST3Form" type="sst3:SertifST3FormType">
    <xs:annotation>
      <xs:documentation>Сертификат о происхождении товаров по форме СТ-3</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SertifST3FormType">
    <xs:annotation>
      <xs:documentation>Сертификат о происхождении товаров по форме СТ-3</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="RegNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер сертификата</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SertificatKindInfo" type="sst3:SertificatKindInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о замене оригинала, дубликате или невыдаче сертификата</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IssueCountryCode" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
              <xs:documentation>Код страны выдачи сертификата</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IssueCountryName" type="clt_ru:CountryNameType">
            <xs:annotation>
              <xs:documentation>Наименование страны выдачи сертификата</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DestinCountryCode" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
              <xs:documentation>Код страны представления сертификата</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DestinCountryName" type="clt_ru:CountryNameType">
            <xs:annotation>
              <xs:documentation>Наименование страны представления сертификата</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Exporter" type="catSert_ru:SertifOrgBaseType">
            <xs:annotation>
              <xs:documentation>Экспортер</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Importer" type="catSert_ru:SertifOrgBaseType">
            <xs:annotation>
              <xs:documentation>Импортер</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Recipient" type="catSert_ru:SertifOrgBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Получатель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransportMeansRoute" type="sst3:TransportMeansRouteType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о транспортном средстве и маршруте транспортирови </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Goods" type="sst3:GoodsType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о товарах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SertifInf" type="sst3:SertifInfType">
            <xs:annotation>
              <xs:documentation>Сведения об удостоверении сертификата</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AppDeclaration" type="sst3:AppDeclarationType">
            <xs:annotation>
              <xs:documentation>Декларация заявителя</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009265E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AppDeclarationType">
    <xs:annotation>
      <xs:documentation>Декларация заявителя</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DateInf" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата удостоверения документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AppCountry" type="clt_ru:CountryNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование страны в декларации заявителя сертификата</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FIO" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ФИО заявителя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SignPlace" type="clt_ru:PlaceNameType">
        <xs:annotation>
          <xs:documentation>Место  подписи</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порядковый номер товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Описание товара текстовое (коммерческое наименование товара, его модель, марка, модификация, артикул, другие данные, позволяющие провести однозначную идентификацию товара с заявленным для целей таможенного оформления)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsPackaging" type="catESAD_cu:ESADGoodsPackagingType">
        <xs:annotation>
          <xs:documentation>Сведения о грузовых местах и упаковке товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginCriterionCode" type="clt_ru:CodeVariable3Type">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение критерия происхождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PercentPart" type="clt_ru:ProcentNumericType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Доля добавленной стоимости</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsQuantity" type="cat_ru:SupplementaryQuantityType">
        <xs:annotation>
          <xs:documentation>Количество товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsInvoice" type="cat_ru:DocumentBaseType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Представленный счет-фактура</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SertificatKindInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о замене оригинала, дубликате или невыдаче сертификата</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SertificatKind" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Тип Сертификата: 1-дубликат Сертификата; 2- была замена оригинала Сертификата; 3- Сертификат не был выдан</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Date" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата выдачи дубликата / замененного Сертификата</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер дубликата / замененного Сертификата</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SertifInfType">
    <xs:annotation>
      <xs:documentation>Сведения об удостоверении сертификата</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OrganizationName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование органа, уполномоченного в соответствии с национальным законодательством удостоверять происхождение товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateInf" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата удостоверения документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FIO" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ФИО лица удостоверившего сертификат</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SignPlace" type="clt_ru:PlaceNameType">
        <xs:annotation>
          <xs:documentation>Место  подписи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Place" type="cat_ru:AddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес органа, уполномоченного в соответствии с национальным законодательством удостоверять происхождение товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportMeansRouteType">
    <xs:annotation>
      <xs:documentation>Сведения о транспортных средствах и маршруте следования</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DepartureDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата отправки (отгрузки)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportModeCode" type="clt_ru:TransportModeCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код вида транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportName" type="clt_ru:TransportNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование вида транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportNumber" type="clt_ru:TransportMeansIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер транспортного средства, название судна, номер авиарейса, номер вагона.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportMeansNationalityCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Буквенный код страны принадлежности транспортного средства по общероссийскому классификатору стран мира.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UnloadPlace" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Место разгрузки транспортного средства (порт, аэропорт и т.д.)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Note" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дополнительные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>