XsltProcessor/xsd/5.22.0/SEZReportForm1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приказ ФТС России от 23 июня 2011 г. N 1327 "Об утверждении форм отчетности о товарах, помещенных под таможенную процедуру свободной таможенной зоны, и товарах, изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободной таможенной зоны, и порядка представления таможенному органу отчетности о таких товарах" -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:sez_rf1="urn:customs.ru:Information:CustomsDocuments:SEZReportForm1:5.22.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:SEZReportForm1:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:annotation>
		<xs:documentation>Формы отчетности о товарах, помещенных под таможенную процедуру свободной таможенной зоны, и товарах, изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободной таможенной зоны. Форма №1</xs:documentation>
	</xs:annotation>
	<xs:element name="SEZReportForm1" type="sez_rf1:SEZReportForm1Type">
		<xs:annotation>
			<xs:documentation>Формы отчетности о товарах, помещенных под таможенную процедуру свободной таможенной зоны, и товарах, изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободной таможенной зоны. Форма №1</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SEZReportForm1Type">
		<xs:annotation>
			<xs:documentation>Формы отчетности о товарах, помещенных под таможенную процедуру свободной таможенной зоны, и товарах, изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободной таможенной зоны. Форма №1</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="BeginReportDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата начала отчетного периода</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EndReportDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата окончания отчетного периода</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReportDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата отчета</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SheetsNumber" type="clt_ru:Count3Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество листов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Organization" type="sez_rf1:OrganizationType">
						<xs:annotation>
							<xs:documentation>Сведения об организации, предоставляющей отчетность</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReportPerson" type="cat_ru:PersonSignatureType">
						<xs:annotation>
							<xs:documentation>Сведения об уполномоченном лице, на которое возложена ответственность составления отчетности</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsGI" type="sez_rf1:GoodsGIType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о товарах, иностранные товары</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsGU" type="sez_rf1:GoodsGUType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о товарах, товары ЕАЭС</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1004151E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы.</xs:documentation>
	</xs:annotation>
	<xs:complexType name="DTArticulType">
		<xs:annotation>
			<xs:documentation>Артикулы из гр 31 ДТ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsMarking" type="cltESAD_cu:GoodsArticulType">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор вида продукта (товара) или артикул товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InfoDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
				<xs:annotation>
					<xs:documentation>Наименование артикула</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Quantity" type="clt_ru:QuantityBasisType">
				<xs:annotation>
					<xs:documentation>Количество товара, использованного при изготовлении декларируемого товара / Количество товара, помещенного под иную процедуру</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DTGoodsType">
		<xs:annotation>
			<xs:documentation>Товары ДТ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер декларируемого товара </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Quantity" type="clt_ru:QuantityBasisType">
				<xs:annotation>
					<xs:documentation>Количество товара, использованного при изготовлении декларируемого товара / Количество товара, помещенного под иную процедуру</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTArticul" type="sez_rf1:DTArticulType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Артикулы из гр 31 ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsGIType">
		<xs:annotation>
			<xs:documentation>Сведения о товарах, иностранные товары </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="sez_rf1:GoodsType">
				<xs:sequence>
					<xs:element name="STZ_DT" type="sez_rf1:STZ_DTType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>ДТ при помещении под СТЗ</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GoodsGUType">
		<xs:annotation>
			<xs:documentation>Сведения о товарах, товары ЕАЭС</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="sez_rf1:GoodsType">
				<xs:sequence>
					<xs:element name="GUGoods" type="sez_rf1:GUGoodsType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Ввезенные товары ЕАЭС</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GoodsType">
		<xs:annotation>
			<xs:documentation>Сведения о товарах отчета</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>№ п/п (графа 1)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsMarking" type="cltESAD_cu:GoodsArticulType">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор вида продукта (товара) или артикул товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="clt_ru:FreeText500Type">
				<xs:annotation>
					<xs:documentation>Наименование товара (графа 2)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TNVEDCode" type="clt_ru:GoodsNomenclatureCodeType">
				<xs:annotation>
					<xs:documentation>Код товаров по ТН ВЭД ЕАЭС (графа 3)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeasureUnitQualifierCode" type="cltESAD_cu:MeasureUnitQualifierCodeType">
				<xs:annotation>
					<xs:documentation>Код единицы измерения количества товаров, указанного в графах 5 – 9, 12, 14, 16 - 20 (графа 4)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeasureUnitQualifierName" type="cltESAD_cu:MeasureUnitQualifierNameType">
				<xs:annotation>
					<xs:documentation>Условное обозначение единицы измерения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SEZGoodsQuantity" type="sez_rf1:SEZGoodsQuantityType">
				<xs:annotation>
					<xs:documentation>Количество товаров, помещенных под таможенную процедуру свободной таможенной зоны (графы 5-7)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SEZGoodsDisposal" type="sez_rf1:SEZGoodsDisposalType">
				<xs:annotation>
					<xs:documentation>Распоряжение за отчетный период товарами, помещенными под таможенную процедуру свободной таможенной зоны (графы 8-20)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsUseType">
		<xs:annotation>
			<xs:documentation>Уничтожено на территории ОЭЗ вследствие аварии или действия непреодолимой силы или с разрешения таможенного органа (графы 13-14) | Иное использование товаров (графы 15-16)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocumentInfo" type="cat_ru:DocumentBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата и номер документа, подтверждающего факт уничтожения / использования товаров (графа 13 / 15)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Quantity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество товаров в соответствии с документом, подтверждающим факт уничтожения / использования товаров, указанным в графе 13 / 15 (графа 14 / 16)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GUGoodsType">
		<xs:annotation>
			<xs:documentation>Ввезенные товары ЕАЭС</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RegistrationNumber" type="sez_rf1:RegistrationNumberType">
				<xs:annotation>
					<xs:documentation>Регистрационный номер разрешения на ввоз</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="STZ_DTGoods" type="sez_rf1:STZ_DTGoodsType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganizationType">
		<xs:annotation>
			<xs:documentation>Сведения о плательщике</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:OrganizationBaseType">
				<xs:sequence>
					<xs:element name="OKPOID" type="clt_ru:OKPOIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код организации по ОКПО</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OKATOCode" type="clt_ru:OKATOCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код ОКАТО</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Address" type="RUScat_ru:RUAddressType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Адрес </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Contact" type="cat_ru:ContactType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Контактная информация</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProcedureChangingType">
		<xs:annotation>
			<xs:documentation>Изменение таможенной процедуры СТЗ на иную таможенную процедуру) (графы 10-12)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsModeCode" type="cltESAD_cu:CustomsModeCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенной процедуры (графа 10)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GTDID" type="cat_ru:GTDIDType">
				<xs:annotation>
					<xs:documentation>№ таможенной декларации, в соответствии с которой товары помещены под иную таможенную процедуру (графа 11)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTGoods" type="sez_rf1:DTGoodsType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegistrationNumberType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер разрешения на ввоз</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата регистрации документа.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="clt_ru:CodeVariable10Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SEZGoodsDisposalType">
		<xs:annotation>
			<xs:documentation>Распоряжение за отчетный период товарами, помещенными под таможенную процедуру свободной таможенной зоны (графы 8-20)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RecycledGoods" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Товары, подвергнутые операциям по переработке (обработке) (графа 8)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConsumedGoods" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Товары, потребленные на территории ОЭЗ, без учета товаров, указанных в графе 19 (графа 9)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConsumedGoodsComment" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Описание способа потребления товаров на территории ОЭЗ, без учета товаров, указанных в графе 19 </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProcedureChanged" type="sez_rf1:ProcedureChangingType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Изменение таможенной процедуры СТЗ на иную таможенную процедуру (графы 10-12)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Destroyed" type="sez_rf1:GoodsUseType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Уничтожено на территории ОЭЗ вследствие аварии или действия непреодолимой силы или с разрешения таможенного органа (графы 13-14)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherUse" type="sez_rf1:GoodsUseType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Иное использование товаров (графы 15-16)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusChanged" type="sez_rf1:StatusChangedType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Изменение статуса товаров (сведения о завершении таможенной процедуры СТЗ в отношении товаров, помещенных под таможенную процедуру СТЗ, при прекращении функционирования ОЭЗ и в случае утраты лицом статуса резидента в соответствии с пунктами 5, 8 статьи 15 Соглашения о СЭЗ) (графы 17-18)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UsedGoods" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Товары, использованные в соответствии с пунктом 4 статьи 13 Соглашения о СЭЗ (графа 19)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StorageGoods" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Товары, находящиеся у резидента ОЭЗ, в отношении которых осуществляется хранение (складирование) на территории ОЭЗ (графа 20)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SEZGoodsQuantityType">
		<xs:annotation>
			<xs:documentation>Количество товаров, помещенных под таможенную процедуру свободной таможенной зоны (графы 5-7)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Begin" type="clt_ru:QuantityBasisType">
				<xs:annotation>
					<xs:documentation>На начало отчетного периода (графа 5)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="End" type="clt_ru:QuantityBasisType">
				<xs:annotation>
					<xs:documentation>На конец отчетного периода (графа 6)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Total" type="clt_ru:QuantityBasisType">
				<xs:annotation>
					<xs:documentation>Всего за отчетный период (графа 7)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StatusChangedType">
		<xs:annotation>
			<xs:documentation>Изменение статуса товаров (сведения о завершении таможенной процедуры СТЗ в отношении товаров, помещенных под таможенную процедуру СТЗ, при прекращении функционирования ОЭЗ и в случае утраты лицом статуса резидента в соответствии с пунктами 5, 8 статьи 15 Соглашения о СЭЗ) (графы 17-18)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OperationTermination" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество товаров, в отношении которых таможенная процедура СТЗ завершена при прекращении функционирования ОЭЗ (графа 17)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResidentStatusLoss" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество товаров, в отношении которых таможенная процедура СТЗ завершена в случае утраты лицом статуса резидента (графа 18)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="STZ_DTGoodsType">
		<xs:annotation>
			<xs:documentation>Товары ДТ при помещении под СТЗ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Quantity" type="clt_ru:QuantityBasisType">
				<xs:annotation>
					<xs:documentation>Количество артикула в единице измерения отчета</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="STZ_DTType">
		<xs:annotation>
			<xs:documentation>ДТ при помещении под СТЗ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GTDID" type="cat_ru:GTDIDType">
				<xs:annotation>
					<xs:documentation>№ таможенной декларации, в соответствии с которой товары помещены под процедуру СТЗ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="STZ_DTGoods" type="sez_rf1:STZ_DTGoodsType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
