XsltProcessor/xsd/5.22.0/ShippingManifest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:TransportDocuments:Car:ShippingManifest:5.22.0" version="5.22.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:cltTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.14.3" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:shmf="urn:customs.ru:Information:TransportDocuments:Car:ShippingManifest:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.14.3" schemaLocation="TransportCommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Путевой лист грузового автомобиля</xs:documentation>
  </xs:annotation>
  <xs:element name="ShippingManifest" type="shmf:ShippingManifestType" />
  <xs:complexType name="ShippingManifestType">
    <xs:annotation>
      <xs:documentation>Путевой лист грузового автомобиля</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Series" type="clt_ru:Count10Type">
            <xs:annotation>
              <xs:documentation>Серия путевого листа </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Number" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Номер путевого листа </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Date" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата путевого листа </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Notes" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Особые отметки </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Expire" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата окончания действия путевого листа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrganizationCreatedManifest" type="shmf:OrganizationCreatedManifestType">
            <xs:annotation>
              <xs:documentation>Организация, выдавшая путевой лист </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Driver" type="shmf:DriverType">
            <xs:annotation>
              <xs:documentation>Сведения о водителе </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Vehicle" type="shmf:VehicleType">
            <xs:annotation>
              <xs:documentation>Сведения об автомобиле </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Escort" type="shmf:EscortType">
            <xs:annotation>
              <xs:documentation>Сопровождение </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" name="Route" type="shmf:RouteType">
            <xs:annotation>
              <xs:documentation>Участок маршрута </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WorkingDay" type="shmf:WorkingDayType">
            <xs:annotation>
              <xs:documentation>Режим работы</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute fixed="1003105E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CheckPointType">
    <xs:annotation>
      <xs:documentation>Показания одометра автомобиля и дата точки маршрута</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Odometr" type="clt_ru:Quantity8Type">
        <xs:annotation>
          <xs:documentation>Показания одометра (полные км пробега)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Date" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Time" type="clt_ru:TimeCustType">
        <xs:annotation>
          <xs:documentation>Время</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DriverLicensingCardType">
    <xs:annotation>
      <xs:documentation>Лицензионная карточка водителя </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Type" type="clt_ru:Text10Type">
        <xs:annotation>
          <xs:documentation>Вид лицензионной карточки </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер лицензионной карточки </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Date" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата лицензионной карточки </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DriverType">
    <xs:annotation>
      <xs:documentation>Сведения о водителе </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Name" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>ФИО водителя </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DrivingLicenceSeries" type="cltTrans_ru:DrivingLicenceSeriesCodeType">
        <xs:annotation>
          <xs:documentation>Серия водительского удостоверения </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DrivingLicenceNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер водительского удостоверения </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="DriverLicensingCard" type="shmf:DriverLicensingCardType">
        <xs:annotation>
          <xs:documentation>Лицензионная карточка водителя </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreMedCheck" type="shmf:MedCheckType">
        <xs:annotation>
          <xs:documentation>Дата и время проведения предрейсового медицинского осмотра водителя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PostMedCheck" type="shmf:MedCheckType">
        <xs:annotation>
          <xs:documentation>Дата и время проведения послерейсового медицинского осмотра водителя</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EscortType">
    <xs:annotation>
      <xs:documentation>Сопровождение </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Purpose" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Цель сопровождения </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="Person" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Сопровождающие лица </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MedCheckType">
    <xs:annotation>
      <xs:documentation>Сведения о медицинском осмотре водителя</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Date" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Time" type="clt_ru:TimeCustType">
        <xs:annotation>
          <xs:documentation>Время</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganizationCreatedManifestType">
    <xs:annotation>
      <xs:documentation>Организация, выдавшая путевой лист </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PhoneNumber" type="clt_ru:PhoneNumberType">
        <xs:annotation>
          <xs:documentation>Телефон организации </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Organization" type="cat_ru:OrganizationBaseType">
        <xs:annotation>
          <xs:documentation>Реквизиты организации, выдавшей путевой лист </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="cat_ru:AddressType">
        <xs:annotation>
          <xs:documentation>Адрес организации </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RouteType">
    <xs:annotation>
      <xs:documentation>Участок маршрута </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="From" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Где взять </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="To" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Куда доставить </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование груза </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="TTNNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер приложенной товарно-транспортной накладной </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Client" type="cat_ru:OrganizationBaseType">
        <xs:annotation>
          <xs:documentation>Заказчик </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VehicleType">
    <xs:annotation>
      <xs:documentation>Сведения об автомобиле </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Type" type="clt_ru:Text40Type">
        <xs:annotation>
          <xs:documentation>Тип </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Make" type="clt_ru:Text40Type">
        <xs:annotation>
          <xs:documentation>Марка автомобиля </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationNumber" type="clt_ru:TransportMeansIDType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер автомобиля </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TrailerRegistrationNumber" type="clt_ru:TransportMeansIDType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер прицепа </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SecondTrailerRegistrationNumber" type="clt_ru:TransportMeansIDType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер второго прицепа </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Owner" type="cat_ru:OrganizationBaseType">
        <xs:annotation>
          <xs:documentation>Реквизиты организации </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Start" type="shmf:CheckPointType">
        <xs:annotation>
          <xs:documentation>Показания одометра (полные км пробега) при выезде транспортного средства из гаража (депо)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Finish" type="shmf:CheckPointType">
        <xs:annotation>
          <xs:documentation>Показания одометра (полные км пробега) при заезде транспортного средства в гараж (депо)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WorkingDayType">
    <xs:annotation>
      <xs:documentation>Режим работы</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="From" type="clt_ru:TimeCustType">
        <xs:annotation>
          <xs:documentation>Время начала рабочего дня</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="To" type="clt_ru:TimeCustType">
        <xs:annotation>
          <xs:documentation>Время окончания рабочего дня</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>