XsltProcessor/xsd/5.22.0/TPO_Debt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Сокращенный аналог схемы TPO.xsd Таможенный приходный ордер. Детали))-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:tpodbt="urn:customs.ru:Information:CustomsDocuments:TPO_Debt:5.22.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:TPO_Debt:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:annotation>
		<xs:documentation>Сведения для создания таможенного приходного ордера </xs:documentation>
	</xs:annotation>
	<xs:element name="TPO_Debt" type="tpodbt:TPO_DebtType">
		<xs:annotation>
			<xs:documentation>Сведения для создания таможенного приходного ордера </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="TPO_DebtType">
		<xs:annotation>
			<xs:documentation>Сведения для создания таможенного приходного ордера </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="TPOKind" type="clt_ru:LetterIndicatorType">
						<xs:annotation>
							<xs:documentation>Вид документа: 1 - ТПО, 2 - Расчет УС при освобождении от уплаты, 3 - Расчет при освобождении от уплаты по товарам ДЛП, 4 - Документ для формирования КуТС </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AdditionalSheetNumber" type="clt_ru:Count3Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество добавочных листов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalWeight" type="clt_ru:QuantityBasisType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Общий вес всех перемещаемых товаров, кг</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalCost" type="clt_ru:AmountType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Общая стоимость в валюте платежа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EuroTotalCost" type="clt_ru:AmountType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Общая стоимость в евро</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TPOTypeCode" type="tpodbt:TPOTypeCodeType">
						<xs:annotation>
							<xs:documentation>Тип ордера</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TPODateTime" type="clt_ru:DateTimeCustType">
						<xs:annotation>
							<xs:documentation>Дата и время электронного документа (сведений)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TPOStatus" type="clt_ru:LetterIndicatorType">
						<xs:annotation>
							<xs:documentation>Статус ТПО (0 - неоплаченный, 1 - оплаченный, 2 - аннулированный, 3 - корректируемый, 4 - расчет не подлежит оплате)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Payer" type="tpodbt:PayerTPOType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Плательщик ТПО</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Goods" type="tpodbt:GoodsType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Описание товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FixRate" type="clt_ru:AmountType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Фиксированная ставка платежа в рублях (выдача классификационного решения, штраф и т.п.)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentsForPeriod" type="tpodbt:PaymentsForPeriodType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Перечень платежей (пени, отсрочка или рассрочка платежей)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Periods" type="tpodbt:PeriodsType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Период(ы) начисления платежей (пени, отсрочка или рассрочка платежей, временное хранение товаров и т.п.)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MPONotifNumber" type="cat_ru:GTDIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер уведомления о направлении МПО</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MPONumber" type="tpodbt:MPORegNumType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер МПО</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsPersonName" type="tpodbt:CustomsPersonType">
						<xs:annotation>
							<xs:documentation>Должностное лицо таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentCurrency" type="tpodbt:PaymentCurrencyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Валюта платежа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PresentedDocument" type="RUScat_ru:DocBaseV4Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Представленные документы</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006292E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="AutomobileInfoType">
		<xs:annotation>
			<xs:documentation>Данные об автомобиле</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Model" type="clt_ru:TransportNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Модель</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Mark" type="clt_ru:MarkCarNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Марка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MarkCode" type="clt_ru:MarkCarCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код марки </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManufactureDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата производства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManufactureYear" type="clt_ru:DateYearCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Год выпуска</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManufactureMonth" type="clt_ru:Count2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Месяц выпуска</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineVolumeQuanity" type="clt_ru:QuantityBasis0Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Объем двигателя, куб. см</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VINID" type="clt_ru:VINIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификационный номер (VIN)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VINChassisID" type="clt_ru:VINIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификационный номер шасси (рамы) транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VINBodyID" type="clt_ru:VINIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификационный номер кузова (кабины) транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportCategoryCode" type="clt_ru:CodeVariable3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код категории транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportTypeName" type="clt_ru:Text40Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование типа транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportColorCode" type="clt_ru:TransportMeansColorCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код цвета транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ColorListElement" type="clt_ru:TransportMeansColorCodeType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Элемент из  списка кодов. Заполняется для ТС,  шасси при указании TransportColorCode = 905 (многоцветный)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ECOClassCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Экологический класс транспортного средства (от 1 до 6)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineId" type="clt_ru:EngineIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификационный номер двигателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Engine" type="tpodbt:EngineType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о двигателе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineRechargingCode" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Возможность подзарядки (для электрических двигателей): 0 - нет, 1 - есть</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineMax30MinElectric" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Мощность двигателя внутреннего сгорания больше максимальной 30-минутной мощности электрического двигателя (для гибридных двигателей): 0 - нет, 1 - да</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CapacityQuantity" type="clt_ru:Quantity5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вместимость (чел)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportCarryingCapacityMeasure" type="clt_ru:QuantityBasis0Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>«Технически допустимая максимальная масса (т)» — для транспортных средств (шасси), «Грузоподъемность (т)» — для прицепов самоходных машин</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrganizationName" type="RUSclt_ru:Name300Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование организации-изготовителя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnifiedCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код страны-изготовителя </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkDuration" type="clt_ru:Text40Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Срок эксплуатации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AppointmentCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Назначение транспортного средства: 1 - общего назначения, 2 - медицинского назначения, 3 - для проживания, 4 - автобусы (более 120 мест), 5 - повышенной проходимости, 6 - снегоходы/для гольфа/квадроциклы, 7 - прочие </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CRMoveDirectCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код направления перемещения: 1 – ввоз;
2 – вывоз;
3 – временный ввоз;
4 – обратный вывоз</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehicleRegistrationDetails" type="tpodbt:VehicleRegistrationDetailsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о регистрации ПТС (ПШТС)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportMeansRegId" type="RUScat_ru:TransportMeansRegIdType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeregistrationIndicator" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак снятия с регистрационного учета: 1 -ТС снято с учета в предыдущей стране регистрации; 0 - ТС не снято с учета в предыдущей стране регистрации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExportDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата вывоза транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CategoryGoodsDescriptionType">
		<xs:annotation>
			<xs:documentation>Сведения о категории товаров</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CategoryGoodsNumeric" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер товара в составе категории товаров по порядку</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CategoryGoodsDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
				<xs:annotation>
					<xs:documentation>Наименование товара в составе категории товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CategoryGoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код товара по ТН ВЭД ЕАЭС (на уровне 4 знаков)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CategoryGoodsNetWeight" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес нетто товара в составе категории товаров, кг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CategorySupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество товара в составе категории товаров в дополнительной единице измерения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CategoryContractCost" type="RUScat_ru:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Стоимость товара в составе категории товаров в валюте договора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CategoryEuroCost" type="clt_ru:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Стоимость товара в составе категории товаров в евро</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomsPersonType">
		<xs:annotation>
			<xs:documentation>Должностное лицо таможенного органа</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:SigningDetailsType">
				<xs:sequence>
					<xs:element name="LNP" type="clt_ru:LNPIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ЛНП должностного лица таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EngineType">
		<xs:annotation>
			<xs:documentation>Сведения о двигателе</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EngineModeCode" type="clt_ru:CodeVariable2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код типа двигателя: 1 - бензиновый, 2 - дизельный, 3 - электрический, 4 - гибридный на основе бензинового, 5 - гибридный на основе дизельного, 6 - конв. для работы на газе, 7 - иной.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineModeName" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование типа двигателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineModel" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Модель двигателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FuelName" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип топлива</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnginePowerHpQuanity" type="clt_ru:EnginePowerQuanityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Мощность двигателя в лошадиных силах</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnginePowerKvtQuanity" type="clt_ru:EnginePowerQuanityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Мощность двигателя в киловаттах</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsType">
		<xs:annotation>
			<xs:documentation>Описание товара</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsKindCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак кода декларируемого товара: 1 – товар, декларируемый с применением совокупного таможенного платежа;
2 – товар, декларируемый по единой ставке таможенного платежа (кроме ТС), 3 - транспортное средство по единой ставке, 4 – ТС, вывозимое из ОЭЗ в Магаданскую область</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CategoryGoodsDetails" type="tpodbt:CategoryGoodsDescriptionType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о товаре в составе категории товаров (при применении единых ставок таможенного платежа) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsNumber" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
				<xs:annotation>
					<xs:documentation>Наименование товара или категории товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsGrossWeight" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес брутто товара, кг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsNetWeight" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес нетто товара, кг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContractCost" type="RUScat_ru:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Стоимость товара (услуги) или категории товаров в валюте договора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RubleCost" type="clt_ru:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Стоимость товара (услуги) или категории товаров в валюте платежа (руб)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EuroCost" type="clt_ru:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Стоимость товара (услуги) или категории товаров в евро</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код страны происхождения по классификатору стран мира</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Количество в дополнительной единице измерения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentInfo" type="tpodbt:PaymentInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о платежах</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AutomobileInfo" type="tpodbt:AutomobileInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Данные об автомобиле или ином транспортном средстве</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UtilCollDetails" type="tpodbt:UtilCollDetailsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения для уплаты утилизационного сбора</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MPORegNumType">
		<xs:annotation>
			<xs:documentation>Номер МПО</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата регистрации документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MPO_Number" type="clt_ru:Code13Type">
				<xs:annotation>
					<xs:documentation>Уникальный номер МПО</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PayerTPOType">
		<xs:annotation>
			<xs:documentation>Плательщик по ТПО</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="PayerName" type="clt_ru:NameType">
					<xs:annotation>
						<xs:documentation>Наименование плательщика - организации (юридического лица)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Person" type="tpodbt:PersonType">
					<xs:annotation>
						<xs:documentation>ФИО плательщика</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="ShortName" type="clt_ru:ShortNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Краткое наименование организации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrganizationLanguage" type="clt_ru:LanguageCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код языка для заполнения наименования </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RFOrganizationFeatures" type="cat_ru:RFOrganizationFeaturesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения об организации. Особенности Российской Федерации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonIDIndicator" type="clt_ru:IndicatorType">
				<xs:annotation>
					<xs:documentation>Признак физического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IEPersonIDIndicator" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак индивидуального предпринимателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FactPayerIndicator" type="clt_ru:IndicatorType">
				<xs:annotation>
					<xs:documentation>Признак фактического плательщика</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NoResidentIndicator" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак плательщика:0 – резидент РФ, 1 – иностранное лицо</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PayerIndicator" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак плательщика:1 – родитель (опекун), 2 – лицо моложе 16 лет, 3 – таможенный представитель</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PayerBirthDay" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата рождения плательщика</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommunicationDetails" type="cat_ru:ContactType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Контактный реквизит с указанием способа и идентификатора средства (канала) связи.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TPOAddress" type="RUScat_ru:RUAddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentityDoc" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Удостоверение личности</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UITN" type="RUScat_ru:UITN40Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Налоговый или регистрационный номер, присвоенный иностранной организации в стране регистрации</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentCurrencyType">
		<xs:annotation>
			<xs:documentation>Валюта платежа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CurrencyName" type="clt_ru:CurrencyNameType">
				<xs:annotation>
					<xs:documentation>Наименование валюты платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyA3Code" type="clt_ru:CurrencyA3CodeType">
				<xs:annotation>
					<xs:documentation>Буквенный код валюты платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyN3Code" type="clt_ru:CurrencyN3CodeType">
				<xs:annotation>
					<xs:documentation>Цифровой код валюты платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyDollarRate" type="clt_ru:CurrencyRateType">
				<xs:annotation>
					<xs:documentation>Курс доллара США к валюте государства - члена ТС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyEuroRate" type="clt_ru:CurrencyRateType">
				<xs:annotation>
					<xs:documentation>Курс евро к валюте государства - члена ТС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyRate" type="clt_ru:CurrencyRateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Курс валюты платежа к валюте государства - члена ТС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyScale" type="clt_ru:Count2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Масштаб (в виде показателя степени числа 10)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TPODateTime" type="clt_ru:DateTimeCustType">
				<xs:annotation>
					<xs:documentation>Дата применения курса валюты</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentInfoDetailsType">
		<xs:annotation>
			<xs:documentation>Детальные сведения о платеже</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PaymentModeCode" type="clt_ru:CUCustomsPaymentCodeType">
				<xs:annotation>
					<xs:documentation>Код вида платежа в соответствии с Классификатором видов таможенных и иных платежей</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentName" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Наименование платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxBase" type="clt_ru:QuantityBasisType">
				<xs:annotation>
					<xs:documentation>Основа начисления</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxBaseQualifierCode" type="clt_ru:CodeVariable18Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код единицы основы начисления платежа (специфическая ставка)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnifiedCurrencyN3Code" type="clt_ru:CurrencyN3CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Цифровой код валюты основы начисления (адвалорная ставка)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RateDetails" type="tpodbt:RateDetailsType">
				<xs:annotation>
					<xs:documentation>Сведения о ставке платежа, используемой при расчете</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WeightRatioNumber" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Весовой коэффициент</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DutyTaxFreeRateDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата применения ставки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CAPaymentAmount" type="clt_ru:AmountType">
				<xs:annotation>
					<xs:documentation>Исчисленная сумма</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CACurrencyCode" type="clt_ru:CurrencyA3CodeType">
				<xs:annotation>
					<xs:documentation>Код валюты</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о платеже</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PaymentInfoDetails" type="tpodbt:PaymentInfoDetailsType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Детальные сведения о платеже</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalAmount" type="clt_ru:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Итоговая сумма</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TACurrencyCode" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код валюты</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentsForPeriodType">
		<xs:annotation>
			<xs:documentation>Перечень платежей (пени, отсрочка или рассрочка платежей)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PaymentModeCode" type="clt_ru:CUCustomsPaymentCodeType">
				<xs:annotation>
					<xs:documentation>Код вида платежа в соответствии с Классификатором видов таможенных и иных платежей</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxBase" type="clt_ru:QuantityBasisType">
				<xs:annotation>
					<xs:documentation>Основа начисления</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PeriodsType">
		<xs:annotation>
			<xs:documentation>Период(ы) начисления платежей (пени, отсрочка или рассрочка платежей, временное хранение товаров и т.п.)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PeriodNumber" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер периода по порядку</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CBRate" type="clt_ru:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ключевая ставка ЦБ (ставка рефинансирования) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Term" type="tpodbt:TermType">
				<xs:annotation>
					<xs:documentation>Период, за который начисляется платеж</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonType">
		<xs:annotation>
			<xs:documentation>Сведения о физическом лице. ФИО</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PersonSurname" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Фамилия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonName" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Имя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonMiddleName" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отчество</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RateDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о ставке платежа, используемой при расчете</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DutyTaxFeeRateKindCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вид ставки (% - адвалорная, * - специфическая, S – признак сборов для РК)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DutyTaxFeeRateValue" type="cltESAD_cu:RateType">
				<xs:annotation>
					<xs:documentation>Значение ставки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnifiedMeasurementUnitCode" type="clt_ru:MeasureUnitQualifierCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кодовое обозначение единицы измерения (кг, л и т.п.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnifiedCurrencyN3Code" type="clt_ru:CurrencyN3CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Цифровое кодовое обозначение валюты ставки (специфическая ставка)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RateQualifierCode" type="clt_ru:MeasureUnitQualifierCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код единицы измерения ставки</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TermType">
		<xs:annotation>
			<xs:documentation>Период временного хранения товаров</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BeginDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата начала периода</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата окончания периода</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TPOTypeCodeType">
		<xs:annotation>
			<xs:documentation>Тип ордера</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EDIndicator" type="clt_ru:Code2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак элктронного документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MovementPurpose" type="clt_ru:Code2Type">
				<xs:annotation>
					<xs:documentation>Код цели перемещения товара (ИМ/ИД/ИВ/ИЮ/ЭЮ/РЗ/СХ/УС/АК/РЕ/МА/ДЗ/ПЛ)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MovementWay" type="clt_ru:Code2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код способа перемещения товаров, если "разные" - не заполняется (СБ/НБ/ДП/МП/ЛА/ТР/ГР/ВН)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportModeCode" type="clt_ru:TransportModeCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код вида транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UtilCollDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о ТС для уплаты утилизационного сбора</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Sign" type="clt_ru:LetterIndicatorType">
				<xs:annotation>
					<xs:documentation>Признак «К» для колесного транспортного средства (шасси) и (или) прицепа к нему, «С» для самоходной машины и (или) прицепа к ней (п.1)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Vehicle" type="tpodbt:VehicleType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Транспортное средство</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChassisOrTrailerCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак товара: 1 – шасси транспортного средства; 2 - прицеп</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChassisOrTrailer" type="tpodbt:VehicleDetailsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о шасси транспортного средства или прицепе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegUtil" type="RUScat_ru:DocNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер Расчета утилизационного сбора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsRecNumber" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер товара в Расчете </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsDeclarationIdDetails" type="cat_ru:GTDIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDTNumber" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер товара в ДТ </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Chassis2017Indicator" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ТС произведено на базе шасси ТС 2017 года выпуска (1 - да, 0 - нет)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManualInputCoefficient" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ручной ввод коэффициента (1 или true - да; 0 или false - нет)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PayDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Крайний срок уплаты</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VoluntaryPaymentSign" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак добровольной уплаты плательщиком утилизационного сбора при проведении таможенного контроля</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NoPayIndicator" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак освобождения от уплаты (1 - освобождается от уплаты, 0 - нет оснований для освобождения от уплаты)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodeReasonFreePayment" type="clt_ru:CodeVariable2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код освобождения от уплаты от утилизационных сборов</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NoPayReasons" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Основание для освобождения от уплаты</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VehicleDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о прицепах / шасси транспортного средства</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tpodbt:VehicleProdDateType">
				<xs:sequence>
					<xs:element name="TransportCategoryCode" type="clt_ru:CodeVariable3Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код категории транспртного средства</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalWeight" type="clt_ru:QuantityBasisType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Полная масса (т) / Грузоподъемность (т)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VehicleProdDateType">
		<xs:annotation>
			<xs:documentation>Дата производства транспортного средства (шасси транспортного средства)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ManufactureDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата производства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManufactureYear" type="clt_ru:DateYearCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Год выпуска</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManufactureMonth" type="clt_ru:Count2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Месяц выпуска</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VehicleRegistrationDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о регистрации ПТС (ПШТС)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код таможенного органа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocCreationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата выдачи, подписания, утверждения или регистрации документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportPassportID" type="cat_ru:TransportMeansPassportType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер бланка ПТС (ПШТС)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehicleEPassportId" type="RUSclt_ru:EDocCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер ПТС (ПШТС) в системе электронных паспортов</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VehicleType">
		<xs:annotation>
			<xs:documentation>Сведения о транспортном средстве</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PersonalUseIndicator" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак автомобиля для личных целей (обязательно указывается для ТС категории М1)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PickupIndicator" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак пикапа: 1 - да; 0 - нет (указывается для ТС категории М1, N1)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UtilityVehicleIndicator" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак грузопассажирского автомобиля: 1 - да; 0 - нет (указывается для ТС категории N1, N2, N3)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineTypeIndicator" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак электрического двигателя (указывается для ТС категории М1: 1 - электрическмй двигатель, 0 - иной двигатель)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TipperIndicator" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак ТС - самосвал для бездорожья (указывается для ТС категорий N1, N2, N3: 1 - самосвал для условий бездорожья, 0 - иной самосвал)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TempImpIndicator" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак временного ввоза грузового ТС (указывается для ТС категории N1, N2, N3)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="STrIndicator" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак ТС - седельный тягач (указывается для ТС категории N1, N2, N3)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpecTransportIndicator" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак специализированного ТС (указывается для ТС категории М1, М2, М3, N1, N2, N3)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MixerTruckIndicator" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак ТС - автобетоносмеситель (указывается для ТС категории N1, N2, N3)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VansOrRefTruckIndicator" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак ТС - фургон или рефрижератор (указывается для ТС категории N1, N2, N3)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehicleWasNotPersonalSign" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак приобретения ТС у лица, использовавшего его не для личного пользования: 0 - нет, 1 - да</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SecondOrMoreVehicleSign" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак второго или каждого последующего транспортного средства, ввезенного лицом на территорию РФ: 0 - нет, 1 - да</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TruckEuro6Sign" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак седельного тягача экологического класса Евро-6, используемые для осуществления международных перевозок: 0 - нет, 1 - да</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
