XsltProcessor/xsd/5.22.0/TransferPersonExplanation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:CustomsDocuments:TransferPersonExplanation:5.22.0" version="5.22.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:tpex="urn:customs.ru:Information:CustomsDocuments:TransferPersonExplanation:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Пояснение лица, имеющего отношение к перемещению товаров и транспортных средств через таможенную границу Российской Федерации</xs:documentation>
  </xs:annotation>
  <xs:element name="TransferPersonExplanation" type="tpex:TransferPersonExplanationType" />
  <xs:complexType name="TransferPersonExplanationType">
    <xs:annotation>
      <xs:documentation>Пояснение лица, имеющего отношение к перемещению товаров и транспортных средств через таможенную границу Российской Федерации</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DocumentDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата предоставления документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsOffice" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Таможенный орган</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExplanationPerson" type="tpex:ExplanationPersonType">
            <xs:annotation>
              <xs:documentation>Лицо,  дающее пояснения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Declarant" type="tpex:DeclarantType">
            <xs:annotation>
              <xs:documentation>Декларант или иное лицо, имеющее отношение к перемещению товаров и транспортных средств через таможенную границу Российской Федерации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="TransferDocs" type="tpex:TransferDocsType">
            <xs:annotation>
              <xs:documentation>Документы, на основании которых перемещается товар</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExplanationText" type="tpex:ExplanationTextType">
            <xs:annotation>
              <xs:documentation>Текст пояснения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="CustomsMark" type="tpex:CustomsMarkType">
            <xs:annotation>
              <xs:documentation>Отметки таможни</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute fixed="1006090E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CustomsMarkType">
    <xs:annotation>
      <xs:documentation>Отметки таможни</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:CustomsPersonType">
        <xs:sequence>
          <xs:element minOccurs="0" name="PersonPost" type="clt_ru:PostType">
            <xs:annotation>
              <xs:documentation>Должность.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReceiveDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата получения пояснений</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DeclarantType">
    <xs:annotation>
      <xs:documentation>Декларант или иное лицо, имеющее отношение к перемещению товаров и транспортных средств через таможенную границу Российской Федерации</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationBaseType">
        <xs:sequence>
          <xs:element minOccurs="0" name="DeclContract" type="cat_ru:DocumentBaseType">
            <xs:annotation>
              <xs:documentation>Сведения о договоре декларанта (лица)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExplanationPersonType">
    <xs:annotation>
      <xs:documentation>Лицо,  дающее пояснения</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonBaseType">
        <xs:sequence>
          <xs:element name="PersonOrganization" type="clt_ru:NameType">
            <xs:annotation>
              <xs:documentation>Наименование организации, которую  представляет лицо</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType">
            <xs:annotation>
              <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExplanationTextType">
    <xs:annotation>
      <xs:documentation>Текст пояснения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="TextLine" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Строка текста</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransferDocsType">
    <xs:annotation>
      <xs:documentation>Документы, на основании которых перемещается товар</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="PresentDoc" type="cat_ru:DocumentBaseType">
        <xs:annotation>
          <xs:documentation>Сведения о документе</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>