XsltProcessor/xsd/5.22.0/TSMPInfoPlaceRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приказ Минфина России от 22.07.2020 № 148н "Об утверждении порядка представления железнодорожными перевозчиками таможенным органам информации о месте нахождения временно ввезенного железнодорожного транспортного средства международной перевозки и (или) перевозимых на железнодорожных транспортных средствах контейнеров, в том числе используемых для внутренних перевозок, осуществляемого с использованием информационных систем" Приложение-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" xmlns:tipreq="urn:customs.ru:Information:CustomsDocuments:TSMPInfoPlaceRequest:5.22.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:TSMPInfoPlaceRequest:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Требование о представлении информации о месте нахождения временно ввезенного железнодорожного транспортного средства международной перевозки и (или) перевозимых на железнодорожных транспортных средствах контейнеров</xs:documentation>
  </xs:annotation>
  <xs:element name="TSMPInfoPlaceRequest" type="tipreq:TSMPInfoPlaceRequestType">
    <xs:annotation>
      <xs:documentation>Требование о представлении информации о месте нахождения временно ввезенного железнодорожного транспортного средства международной перевозки и (или) перевозимых на железнодорожных транспортных средствах контейнеров</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="TSMPInfoPlaceRequestType">
    <xs:annotation>
      <xs:documentation>Требование о представлении информации о месте нахождения временно ввезенного железнодорожного транспортного средства международной перевозки и (или) перевозимых на железнодорожных транспортных средствах контейнеров</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="RequestNumber" type="tipreq:RequestNumberType">
            <xs:annotation>
              <xs:documentation>Номер Требования</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RWCarrier" type="RUScat_ru:RUOrganizationNameAddrType">
            <xs:annotation>
              <xs:documentation>Сведения о железнодорожном перевозчике</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTMDoc" type="catESAD_cu:DTMDocDetailsType">
            <xs:annotation>
              <xs:documentation>Номер декларации на транспортное средство</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RWNumber" type="clt_ru:CodeVariable20Type">
            <xs:annotation>
              <xs:documentation>Номер единицы железнодорожного подвижного состава, контейнера</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TemporaryImportDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Срок временного ввоза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResponseDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Срок представления информации о месте нахождения ТСМП и (или) перевозимых на железнодорожных транспортных средствах контейнеров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPerson" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>Должностное лицо контролирующего таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RequestedInfo" type="tipreq:RequestedInfoType">
            <xs:annotation>
              <xs:documentation>Сведения, необходимые для предоставления</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006322E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа. Код документа в Альбоме форматов</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="Code7Type">
    <xs:annotation>
      <xs:documentation>Код. Символьная строка (буквы, цифры, знаки) используемая для краткого (и (или) независимого от языка) представления или замены определенных значений или текстовых свойств. 7 символов</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:CodeCategoriesCust">
      <xs:length value="7" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RequestedInfoType">
    <xs:annotation>
      <xs:documentation>Сведения, необходимые для предоставления</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FactStation" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Станция местонахождения ТСМП: 0 - нет необходимости предоставления, 1 - есть необходимость предоставления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FactAddress" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Фактический адрес местонахождения ТСМП: 0 - нет необходимости предоставления, 1 - есть необходимость предоставления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportationType" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Вид перевозки: 0 - нет необходимости предоставления, 1 - есть необходимость предоставления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Notification" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Уведомление о передаче ТСМП: 0 - нет необходимости предоставления, 1 - есть необходимость предоставления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DepartureStation" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Станция отправления (в случае осуществления внутренней перевозки): 0 - нет необходимости предоставления, 1 - есть необходимость предоставления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DestinationStation" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Станция назначения (в случае осуществления внутренней перевозки): 0 - нет необходимости предоставления, 1 - есть необходимость предоставления</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequestNumberType">
    <xs:annotation>
      <xs:documentation>Реквизиты номера Требования</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, который сформировал Требование</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата формирования Требования</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationNumber" type="tipreq:Code7Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер Требования</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>