XsltProcessor/xsd/5.22.0/VeterinaryCertificate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:SertifDocuments:VeterinaryCertificate:5.22.0" version="5.22.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:verc="urn:customs.ru:Information:SertifDocuments:VeterinaryCertificate:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Ветеринарный сертификат</xs:documentation>
  </xs:annotation>
  <xs:element name="VeterinaryCertificate" type="verc:VeterinaryCertificateType" />
  <xs:complexType name="VeterinaryCertificateType">
    <xs:annotation>
      <xs:documentation>Ветеринарный сертификат</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="SpecialNotes" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Особые отметки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateCertf" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата составления сертификата</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NumberForm" type="clt_ru:CodeVariable3Type">
            <xs:annotation>
              <xs:documentation>Номер формы </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Route" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Маршрут следования</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ProductOrigin" type="clt_ru:Text50Type">
            <xs:annotation>
              <xs:documentation>Происхождение продукции (Страна происхождения)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="DateManufactur" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата выработки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="DeemedFit" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Признано годным для : 1- реализации без ограничений; 2- реализации с ограничением; 3- переработки; 4-  использование без ограничений; 5 - использование с ограничением</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="CauseRestrictions" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Причина ограничения при реализации или использовании</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Examination" type="clt_ru:DigitalIndicatorType">
            <xs:annotation>
              <xs:documentation>Проведение экспертизы: 0 - подвергнута ветеринарно-санитарной экспертизе в полном объеме, 1 - изготовлена из сырья, прошедшего ветеринарно-санитарную экспертизу</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ImportingCountry" type="clt_ru:CountryNameType">
            <xs:annotation>
              <xs:documentation>Страна - импортер</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ReasonSending" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Сведения о причине отправки животных (для откорма, разведения, убоя и т.д)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="LocationCU" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Животные находились на територрии ТС: 1- с рождения, 2- не менее 6 месяцев, 3 - более 6 месяцев</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="TimeLocation" type="clt_ru:Count2Type">
            <xs:annotation>
              <xs:documentation>Время нахождения в месяцах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="BorderOffice" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Пункт пропуска через таможенную границу</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ExportTerrAuthority" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Административно-территориальная единица страны-экспортера</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="IssueOrganization" type="cat_ru:OrganizationBaseType">
            <xs:annotation>
              <xs:documentation>Наименование юридического лица или ф.и.о. физического лица, которому выдали сертификат</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" name="ProductInfo" type="verc:ProductInfoType">
            <xs:annotation>
              <xs:documentation>Сведения о продукции/животном</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Manufacturer" type="verc:ManufacturerType">
            <xs:annotation>
              <xs:documentation>Производитель продукции</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Sender" type="cat_ru:OrganizationType">
            <xs:annotation>
              <xs:documentation>Отправитель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Location" type="verc:LocationType">
            <xs:annotation>
              <xs:documentation>Местонахождение продукции/животного/Место составления сертификата</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Receiver" type="cat_ru:OrganizationType">
            <xs:annotation>
              <xs:documentation>Получатель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ShippingDocuments" type="cat_ru:DocumentBaseType">
            <xs:annotation>
              <xs:documentation>Транспортные документы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Quarantine" type="verc:QuarantineType">
            <xs:annotation>
              <xs:documentation>Карантинирование</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" name="ResearchLaboratory" type="verc:ResearchLaboratoryType">
            <xs:annotation>
              <xs:documentation>Исследование в лаборатории</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Immunization" type="verc:ProcessingType">
            <xs:annotation>
              <xs:documentation>Иммунизация</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ProcessingParasites" type="verc:ProcessingType">
            <xs:annotation>
              <xs:documentation>Обработка против паразитов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonSignature" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Подпись лица, выдавшего сертификат</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="MarkInspection" type="verc:MarkInspectionType">
            <xs:annotation>
              <xs:documentation>Отметки о ветеринарно-санитарном осмотре при погрузке, в пути следования и на месте назначения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="TransportInfo" type="verc:TransportInfoType">
            <xs:annotation>
              <xs:documentation>Сведения о транспорте</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="WellBeingInfo" type="verc:WellBeingInfoType">
            <xs:annotation>
              <xs:documentation>Сведения о благополучии (местности, хозяйства)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistrationInfo" type="verc:RegistrationInfoType">
            <xs:annotation>
              <xs:documentation>Сведения о регистрации</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute fixed="1009012E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="DescriptionType">
    <xs:annotation>
      <xs:documentation>Описание</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Quantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Мест(штук)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Weight" type="clt_ru:WeighQuantityType">
        <xs:annotation>
          <xs:documentation>Вес</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocationType">
    <xs:annotation>
      <xs:documentation>Местонахождение продукции/животного/Место составления сертификата</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="PlaceLocation" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Местонахождение  продукции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Address" type="cat_ru:AddressType">
        <xs:annotation>
          <xs:documentation>Адрес </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ManufacturerType">
    <xs:annotation>
      <xs:documentation>Производитель продукции</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationType">
        <xs:sequence>
          <xs:element minOccurs="0" name="OwnersManufacturer" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Ф.И.О. владельца предприятия выработки</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MarkInspectionType">
    <xs:annotation>
      <xs:documentation>Отметки о ветеринарно-санитарном осмотре при погрузке, в пути следования и на месте назначения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DateInspection" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата осмотра</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NamePlace" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование пункта, где проводился ветеринарный осмотр (изъятие)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ViewedProducts" type="verc:DescriptionType">
        <xs:annotation>
          <xs:documentation>Осмотрено продуктов,сырья</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="QuantitySeized" type="verc:DescriptionType">
        <xs:annotation>
          <xs:documentation>Количество изъятых продуктов, сырья, в т.ч. из-за недоброкачественности, порчи и др.           </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="QuantityPermitted" type="verc:DescriptionType">
        <xs:annotation>
          <xs:documentation>Количество продуктов, сырья, разрешенных к дальнейшему следованию </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonSignatureInspection" type="cat_ru:PersonSignatureType">
        <xs:annotation>
          <xs:documentation>Подпись должностного лица, производившего осмотр</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProcessingType">
    <xs:annotation>
      <xs:documentation>Обработка</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NameProcessing" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование обработки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateProcessing" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата обработки</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о продукции/животном</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ProductName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование продукции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ProductMark" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Маркировка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ProductPacking" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Упаковка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Sex" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Пол</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Breed" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Порода</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Age" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Возраст</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="IDNumber" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Идентификационный номер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Brand" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Клеймо (номер, форма)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="NickName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Кличка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Weight" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Вес, кг</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductQuantity" type="cat_ru:SupplementaryQuantityType">
        <xs:annotation>
          <xs:documentation>Количество продукции</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuarantineType">
    <xs:annotation>
      <xs:documentation>Карантинирование</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PlaseQuarantine" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Место карантинирование</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumberDays" type="clt_ru:Count2Type">
        <xs:annotation>
          <xs:documentation>Количество дней</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrationInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о регистрации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RegistrationNumber" type="clt_ru:DocumentIDType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="IssueDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дату выдачи сертификата</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TerritorialAuthority" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование территориального органа Россельхознадзора / Учреждение страны - экспортера, выдавшее сертификат</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CompetentAuthority" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Компетентное ведомство страны - экспортера</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="IssueCountry" type="clt_ru:CountryNameType">
        <xs:annotation>
          <xs:documentation>Страна, выдавшая сертификат</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResearchLaboratoryType">
    <xs:annotation>
      <xs:documentation>Исследование в лаборатории</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NameLaboratory" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование лаборатории</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="NumberExamination" type="clt_ru:Count5Type">
        <xs:annotation>
          <xs:documentation>Номер экспертизы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="DateExamination" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата экспертизы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="MethodExamination" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Метод исследования</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SickName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование болезни</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResultExamination" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Результат экспертизы</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о транспорте</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="TransportName" type="clt_ru:TransportNameType">
        <xs:annotation>
          <xs:documentation>Наименование вида транспортного средства.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TransportNumber" type="clt_ru:TransportMeansIDType">
        <xs:annotation>
          <xs:documentation>Номер транспортного средства, название судна, номер авиарейса, номер вагона.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TransportModeCode" type="clt_ru:TransportModeCodeType">
        <xs:annotation>
          <xs:documentation>Код вида транспортного средства по классификатору видов транспорта и транспортировки товаров.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TransportMeansNationalityCode" type="clt_ru:CountryA2CodeType">
        <xs:annotation>
          <xs:documentation>Буквенный код страны принадлежности транспортного средства по общероссийскому классификатору стран мира.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WellBeingInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о благополучии (местности, хозяйства)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="TermWellBeing" type="clt_ru:Count2Type">
        <xs:annotation>
          <xs:documentation>Срок благополучия.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="UnitTermWellBeing" type="clt_ru:Text10Type">
        <xs:annotation>
          <xs:documentation>Единица измерения срока благополучия.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="DescriptionWellBeing" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Описание благополучия</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>