XsltProcessor/xsd/5.22.0/WoodShipingSpecification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:wss="urn:customs.ru:Information:CommercialFinanceDocuments:WoodShipingSpecification:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CommercialFinanceDocuments:WoodShipingSpecification:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Отгрузочная спецификация на товары 44 группы ТН ВЭД ЕАЭС</xs:documentation>
  </xs:annotation>
  <xs:element name="WoodShipingSpecification" type="wss:WoodShipingSpecificationType" />
  <xs:complexType name="WoodShipingSpecificationType">
    <xs:annotation>
      <xs:documentation>Отгрузочная спецификация на товары 44 группы ТН ВЭД ЕАЭС</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="SpecificationNumber" type="clt_ru:Text10Type">
            <xs:annotation>
              <xs:documentation>Номер отгрузочной спецификации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UnloadingDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата отгрузки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WagonNumber" type="clt_ru:TransportMeansIDType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Номер вагона</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RailbillNumber" type="clt_ru:Text10Type">
            <xs:annotation>
              <xs:documentation>Номер ж/д накладной</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AdditionalMarking" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дополнительная маркировка</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TotalQuantity" type="clt_ru:QuantityBasisType">
            <xs:annotation>
              <xs:documentation>Общее количество в натуральных единицах (шт.)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TotalVolume" type="clt_ru:QuantityBasisType">
            <xs:annotation>
              <xs:documentation>Общий объем в куб. метрах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Contract" type="cat_ru:DocumentBaseType">
            <xs:annotation>
              <xs:documentation>Контракт</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Sender" type="wss:OrganizationInfoType">
            <xs:annotation>
              <xs:documentation>Сведения об отправителе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Recipient" type="wss:OrganizationInfoType">
            <xs:annotation>
              <xs:documentation>Сведения о получателе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StandartsInfo" type="wss:StandartsInfoType">
            <xs:annotation>
              <xs:documentation>Информация о стандартах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsInfo" type="wss:GoodsInfoType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о товарах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TotalLength" type="wss:LenghtInfoType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Общая информация по длине</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CheckMan" type="cat_ru:PersonBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Учетчик</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Foreman" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>Начальник цеха</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Loader" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>Мастер погрузки</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1002023E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="GoodsInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PackNum" type="clt_ru:Count4Type">
        <xs:annotation>
          <xs:documentation>Номер пакета</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Species" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Порода</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Grade" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Сорт</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Depth" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Толщина</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Width" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Ширина</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Количество в натуральных единицах (шт.)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Volume" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Объем в куб. метрах</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Requisites" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Реквизиты</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Details" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Дополнительные сведения о распределении по сортам, под длинам</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Length" type="wss:LenghtInfoType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Длина</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LenghtInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о длине</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StandartValue" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Значение по ГОСТу</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Количество</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganizationInfoType">
    <xs:annotation>
      <xs:documentation>Сведения об организации</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationBaseType">
        <xs:sequence>
          <xs:element name="StationName" type="clt_ru:NameType">
            <xs:annotation>
              <xs:documentation>Наименование станции</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Address" type="cat_ru:AddressType">
            <xs:annotation>
              <xs:documentation>Адрес</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StandartsInfoType">
    <xs:annotation>
      <xs:documentation>Информация о стандартах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GovermentStandart" type="clt_ru:Text10Type">
        <xs:annotation>
          <xs:documentation>Номер ГОСТа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WoodSpecies" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порода</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Wetness" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Влажность</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConversRate" type="clt_ru:ProcentNumericType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Переводной коэффициент</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Tonnage" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Масса груза в тоннах</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>