XsltProcessor/xsd/5.21.0/AppUnloadingStore.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Проект Приказа ФТС "Об утверждении формы заявления перевозчика на выгрузку (передачу) припасов и форм решений таможенного органа по результатам рассмотрения указанного заявления"
Приложение № 1 - Заявление перевозчика на выгрузку (передачу) припасов
-->
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:aus="urn:customs.ru:Information:TransportDocuments:AppUnloadingStore:5.21.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:TransportDocuments:AppUnloadingStore:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Заявление перевозчика на выгрузку (передачу) припасов</xs:documentation>
  </xs:annotation>
  <xs:element name="AppUnloadingStore" type="aus:AppUnloadingStoreType">
    <xs:annotation>
      <xs:documentation>Заявление перевозчика на выгрузку (передачу) припасов</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AppUnloadingStoreType">
    <xs:annotation>
      <xs:documentation>Заявление перевозчика на выгрузку (передачу) припасов</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="AppDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата заявления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Код и наименование таможенного органа в который подается заявление</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AppCarrier" type="RUScat_ru:OrganizationType">
            <xs:annotation>
              <xs:documentation>Сведения о заявителе (перевозчике)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ActionStoreInfo" type="aus:ActionStoreInfoType">
            <xs:annotation>
              <xs:documentation>Сведения о предполагаемых действиях с припасами</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PlaceStoreInfo" type="aus:PlaceStoreInfoType">
            <xs:annotation>
              <xs:documentation>Сведения о месте нахождения припасов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StoresInfo" type="aus:StoresInfoType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о припасах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OtherCarrier" type="RUScat_ru:OrganizationType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о перевозчике, которому передаются припасы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WhereStoragePlace" type="aus:ZTKType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Место хранения припасов при размещении в зоне таможенного контроля</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AttachedDocuments" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Перечень прилагаемых документов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApproverPersonAppCarrier" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Подпись уполномоченного лица перевозчика</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1003007E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ActionStoreInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о предполагаемых действиях с припасами</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ActionStore" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Предполагаемое действие с припасами: 1 - выгрузка, 2 - передача, 3 - выгрузка и передача</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ActionDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата предполагаемого действия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ActionTime" type="clt_ru:TimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Время предполагаемого действия</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AircraftInformationType">
    <xs:annotation>
      <xs:documentation>Сведения о регистрации и национальной  принадлежности воздушного судна</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AircraftRegNumber" type="clt_ru:CodeVariable11Type">
        <xs:annotation>
          <xs:documentation>Регистрационный знак (номер) воздушного судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AircraftCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение страны регистрации воздушного судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AircraftCountryName" type="clt_ru:CountryNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование страны регистрации воздушного судна</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ShipDetailsType">
    <xs:annotation>
      <xs:documentation>Реквизиты и характеристики судна</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ShipIMONumber" type="clt_ru:CodeVariable7Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИМО номер судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShipName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Наименование судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShipCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код страны принадлежности судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShipCountryName" type="clt_ru:CountryNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование страны принадлежности судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShipRegDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата регистрации судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShipRegNum" type="clt_ru:CodeVariable10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер регистрации судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShipRegPort" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порт регистрации судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShipOwnerName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование судовладельца</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShipType" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShipRegistrationOtherInfo" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Иные сведения о регистрации водного судна</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TrainInformationType">
    <xs:annotation>
      <xs:documentation>Сведения о номере и индексе поезда</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TrainNumber" type="clt_ru:TransportMeansIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер поезда</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TrainIndex" type="clt_ru:Code15Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Индекс поезда</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlaceStoreInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о месте нахождения припасов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="AircraftInformation" type="aus:AircraftInformationType">
          <xs:annotation>
            <xs:documentation>Сведения о регистрации и национальной принадлежности воздушного судна</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ShipDetails" type="aus:ShipDetailsType">
          <xs:annotation>
            <xs:documentation>Реквизиты и характеристики водного судна</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Train" type="aus:TrainInformationType">
          <xs:annotation>
            <xs:documentation>Сведения о номере и индексе поезда</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="StoragePlace" type="aus:ZTKType">
          <xs:annotation>
            <xs:documentation>Место хранения выгруженных припасов</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="AddInfoPlaceStore" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Дополнительная информация о местонахождении припасов</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StoresInfoType">
    <xs:annotation>
      <xs:documentation>Информация о припасах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NumPP" type="clt_ru:CodeVariable10Type">
        <xs:annotation>
          <xs:documentation>№ п/п </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NameStores" type="clt_ru:FreeText250Type" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Наименование припасов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StoresQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество припасов в основной единице измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество припасов в дополнительной единице измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsNomenclatureCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ZTKType">
    <xs:annotation>
      <xs:documentation>Место хранения припасов в зоне таможенного контроля</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Customs" type="cat_ru:CustomsType">
        <xs:annotation>
          <xs:documentation>Код и наименование таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="RUScat_ru:RUAddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Почтовый адрес</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер документа, подтверждающего создание зоны таможенного контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата документа, подтверждающего создание зоны таможенного контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateBegin" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата создания зоны таможенного контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateEnd" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата ликвидации зоны таможенного контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>