XsltProcessor/xsd/5.21.0/DecisionCustomExpertise.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приказ ФТС России от 16.01.2019 г. № 34 "Об утверждении Порядка проведения таможенной экспертизы, формы решения таможенного органа о назначении таможенной экспертизы"-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.21.0" xmlns:dce="urn:customs.ru:Information:CustomsDocuments:DecisionCustomExpertise:5.21.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:DecisionCustomExpertise:5.21.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.21.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Решение таможенного органа о назначении таможенной экспертизы / исследования</xs:documentation>
  </xs:annotation>
  <xs:element name="DecisionCustomExpertise" type="dce:DecisionCustomExpertiseType">
    <xs:annotation>
      <xs:documentation>Решение таможенного органа о назначении таможенной экспертизы / исследования</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DecisionCustomExpertiseType">
    <xs:annotation>
      <xs:documentation>Решение таможенного органа о назначении таможенной экспертизы / исследования</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DecisionDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата Решения о назначении таможенной экспертизы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocKind" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Тип документа: 0 - Решение о назначении таможенной экспертизы, 3 - Решение на проведение таможенного исследования</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReleaseDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Предполагаемая дата выпуска товара ДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionNumber" type="dce:DecisionNumberType">
            <xs:annotation>
              <xs:documentation>Номер Решения о назначении таможенной экспертизы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InitiatorDecision" type="dce:InitiatorDecisionType">
            <xs:annotation>
              <xs:documentation>Инициатор проведения таможенной экспертизы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InspectorInfo" type="dce:PersonType">
            <xs:annotation>
              <xs:documentation>Информация об инспекторе, принявшем решение о назначении экспертизы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReceivedDocuments" type="dce:DocIDType">
            <xs:annotation>
              <xs:documentation>Документ-основание для
проведения таможенной экспертизы (один из списка)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BasisOfExpertise" type="clt_ru:FreeText500Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Основание проведения таможенной экспертизы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomExpertiseKind" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Вид очередности таможенной экспертизы: 1- Первичная; 2- Дополнительная; 3 - Повторная</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CEKTUDivision" type="dce:CEKTUDivisionInformationType">
            <xs:annotation>
              <xs:documentation>Информация о подразделении ЦЭКТУ, которому поручено проведение экспертизы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Executor" type="cat_ru:OrganizationBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Иная экспертная организация, которой поручено проведение экспертизы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Question" type="dce:QuestionType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Вопрос, поставленный перед экспертом</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="INN" type="clt_ru:INNIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ИНН участника ВЭД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MemberVED" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование участника ВЭД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsProcedure" type="clt_ru:CUCustomsProcedureType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Направление перемещения ИМ, ЭК.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PresentedDocuments" type="dce:DocumentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Документы, предоставленные для проведения экспертизы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsFact" type="cat_ru:CUCustomsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Таможенный орган, которому поручен отбор образцов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ActThievingDate" type="clt_ru:DateTimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Срок до которого должны быть произведены действия и составлены документы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Original" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак	необходимости направления оригинала ЭИР во внутренний таможенный орган</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DestructionResolution" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Разрешение на видоизменение, частичное или полное уничтожение, разрушение материалов, документов, проб и (или) образцов товаров исследования (true - разрешить; false - НЕ разрешить)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Goods" type="dce:GoodsType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Описание товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IndSelf" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Признак того, что отбор(изъятие) произвел инициатор решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExpertActions" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Совершаемые действия: 1 - Отбор проб и (или) образцов товара; 2 - Изъятие таможенных, транспортных (перевозочных), коммерческих и иных документов; 3 -  Изъятие средств идентификации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeliveryDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Срок предоставления проб / образцов товара / изъятых транспортных и иных документов / средств идентификации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReturnDate" type="clt_ru:Count3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Срок получения неизрасходованных в результате экспертизы проб/образцов товаров/изъятых документов (дни)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PreRequestID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор предварительного запроса</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PrimaryDocumentID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор первичного Решения/ Определения/ Постановления</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentIDType" use="required" fixed="1051001E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CEKTUDivisionInformationType">
    <xs:annotation>
      <xs:documentation>Сведения о подразделении ЦЭКТУ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код подразделения ЦЭКТУ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование подразделения ЦЭКТУ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Адрес подразделения ЦЭКТУ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BranchNotEKSSign" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак обособленного подразделения (не в составе ЭКС): 0 - нет (не обособленное или в составе ЭКС); 1 - да (обособленное, не в составе ЭКС)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DecisionNumberType">
    <xs:annotation>
      <xs:documentation>Номер решения</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDID6Type">
        <xs:sequence>
          <xs:element name="ExpertisePoint" type="clt_ru:Code2Type">
            <xs:annotation>
              <xs:documentation>Момент назначения экспертизы (ДВ - до выпуска ДТ, ПВ - после выпуска ДТ) </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DocumentType">
    <xs:annotation>
      <xs:documentation>Документ, предоставленный для проведения экспертизы</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="ContainerDocumentID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор предоставленного документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ElectronicArchID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор хранилища электронных документов при представлении документа в электронном виде</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DocNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер заявления о выпуске до подачи</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="AddNumber" type="clt_ru:CodeVariable2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дополнительная составляющая номера </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExpressNumberType">
    <xs:annotation>
      <xs:documentation>Сведения из реестра экспресс-грузов</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="ExpressWayBill" type="dce:ExpressWayBillType" minOccurs="0" maxOccurs="500">
            <xs:annotation>
              <xs:documentation>Индивидуальные накладные</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExpressWayBillType">
    <xs:annotation>
      <xs:documentation>Накладная реестра экспресс-грузов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ObjectOrdinal" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер индивидуальной накладной</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HouseWaybill" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер индивидуальной накладной</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WayBillID" type="clt_ru:DocumentIDType">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор накладной</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Описание товара</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер товара в исходном документе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ListNumeric" type="clt_ru:Count5Type">
        <xs:annotation>
          <xs:documentation>Номер товара по порядку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TNVEDGroup" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Группа ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RiskProfile" type="dce:RiskProfileType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Профиль риска</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GTDNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер ДТ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Номер ДТ</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="GTDDocumentID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор ДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DocIDType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер документа</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="DTRegNum" type="dce:GTDNumberType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер ДТ </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TDRegNum" type="cat_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер ТД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AppRelNum" type="dce:DocNumberType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер заявления о выпуске до подачи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MPORegNum" type="dce:MPORegNumType">
        <xs:annotation>
          <xs:documentation>Номер МПО / Номер реестра МПО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TIRIdDetails" type="catESAD_cu:TIRIdDetailsType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер книжки МДП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DTMDocDetails" type="catESAD_cu:DTMDocDetailsType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер декларации на транспортное средство</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PassengerRegNum" type="cat_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер пассажирской декларации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportPP" type="cat_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер уведомления о прибытии / убытии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FizPerson" type="dce:FizPersonType">
        <xs:annotation>
          <xs:documentation>Сведения о физическом лице</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExpressNumber" type="dce:ExpressNumberType">
        <xs:annotation>
          <xs:documentation>Сведения из реестра экспресс-грузов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OtherDoc" type="cat_ru:DocumentBaseType">
        <xs:annotation>
          <xs:documentation>Сведения об ином документе</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="FizPersonType">
    <xs:annotation>
      <xs:documentation>Сведения о физическом лице</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonSurname" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Фамилия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Имя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonMiddleName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonIdCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Реквизиты документа, удостоверяющего личность </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MPORegNumType">
    <xs:annotation>
      <xs:documentation>Номер МПО / Номер реестра МПО</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата регистрации документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:CodeVariable14Type">
        <xs:annotation>
          <xs:documentation>Номер МПО / Номер реестра МПО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MPONumber" type="clt_ru:Code13Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Уникальный номер МПО из реестра МПО</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InitiatorDecisionType">
    <xs:annotation>
      <xs:documentation>Сведения об инициаторе таможенной экспертизы</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код таможенного органа инициатора таможенной экспертизы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование таможенного органа инициатора таможенной экспертизы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес таможенного органа инициатора таможенной экспертизы</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>Инспектор, принявший решение о проведении  экспертизы</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonSurname" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Фамилия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Имя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonMiddleName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonPost" type="clt_ru:PostType">
        <xs:annotation>
          <xs:documentation>Должность</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LNP" type="clt_ru:LNPIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ЛНП инспектора</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, указанный на оттиске ЛНП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Phone" type="clt_ru:PhoneNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер служебного телефона</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuestionType">
    <xs:annotation>
      <xs:documentation>Вопрос, поставленный перед экспертом</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="QuestionNumber" type="clt_ru:Quantity3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер вопроса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuestionText" type="RUSclt_ru:FreeText1000Type">
        <xs:annotation>
          <xs:documentation>Текст вопроса</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RiskProfileType">
    <xs:annotation>
      <xs:documentation>Профиль риска</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RiskProfileType" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Тип выявленного профиля риска: 0 - автоматически выявленный риск, проставляется программным средством в автоматическом режиме; 1 - самостоятельно выявленный риск, проставляется программным средством в автоматическом режиме при внесении должностным лицом таможенного поста новой записи (в том числе, при применении "рамочных" ПР  и ПР по информации правоохранительных подразделений); 2 – риск, выявленный в автоматизированном режиме, требует принятия окончательного решения должностным лицом таможенного поста (значение является промежуточным, наличие значения "2" в отчете блокирует переход к следующему этапу проверки на риски либо выпуск ДТ); 3 – риск, выявленный в автоматизированном режиме, по которому должностным лицом таможенного поста на основании проверки неформализованных индикаторов риска принято решение - "Риск выявлен"; 4 - риск, выявленный в автоматизированном режиме, по которому должностным лицом таможенного поста на основании проверки неформализованных индикаторов риска принято решение - "Риск не выявлен"; 5 - резерв; 6 - профиль риска не применяется по причине упрощенного контроля таможенной стоимости идентичных товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TerrActionCode" type="clt_ru:CodeVariable2Type">
        <xs:annotation>
          <xs:documentation>Код вида профиля риска. Возможные значения: 11 - общероссийский профиль риска, 12 - региональный профиль риска, 13 - зональный профиль риска, 20 - целевой профиль риска, 21 - целевой правоохранительный профиль риска, 32 - профиль риска на основе моделей, 55 - профиль риска, обязательный к применению, 77 - профиль риска для идентификации категории уровня риска, 88 - зависимый профиль риска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DivisionCode" type="clt_ru:Code5Type">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, разработавшего ПР/ЦПР</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RiskProfileRegDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации профиля риска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RiskProfileNumber" type="RUSclt_ru:RiskProfileNumType">
        <xs:annotation>
          <xs:documentation>Порядковый номер профиля риска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RiskProfileNumberVersion" type="clt_ru:Quantity3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер версии профиля риска</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>