XsltProcessor/xsd/5.21.0/E_CommerceMPODeclaration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ПП от ** № ** и Приказ МинФина РФ от ** № ** эксперимент  -->
<xs:schema xmlns:ecmd="urn:customs.ru:Information:CustomsDocuments:E_CommerceMPODeclaration:5.21.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:RUDECLcat="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.21.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.21.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:E_CommerceMPODeclaration:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.21.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.21.0" schemaLocation="RUDeclCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Сведения, используемые при таможенном декларировании товаров, ввозимых в целях последующего приобретения физическими лицами в рамках трансграничной (внешней) электронной торговли и пересылаемых в международных почтовых отправлениях, помещаемых под таможенную процедуру выпуска для внутреннего потребления при завершении таможенной процедуры таможенного склада</xs:documentation>
  </xs:annotation>
  <xs:element name="E_CommerceMPODeclaration" type="ecmd:E_CommerceMPODeclarationType">
    <xs:annotation>
      <xs:documentation>Сведения, используемые при таможенном декларировании товаров, ввозимых в целях последующего приобретения физическими лицами в рамках трансграничной (внешней) электронной торговли и пересылаемых в международных почтовых отправлениях, помещаемых под таможенную процедуру выпуска для внутреннего потребления при завершении таможенной процедуры таможенного склада</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="E_CommerceMPODeclarationType">
    <xs:annotation>
      <xs:documentation>Сведения, используемые при таможенном декларировании товаров, ввозимых в целях последующего приобретения физическими лицами в рамках трансграничной (внешней) электронной торговли и пересылаемых в международных почтовых отправлениях, помещаемых под таможенную процедуру выпуска для внутреннего потребления при завершении таможенной процедуры таможенного склада</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="EECEDocHeaderAddInfo" type="RUScat_ru:EECEDocHeaderAddInfoType">
            <xs:annotation>
              <xs:documentation>Дополнительные технологические реквизиты электронного документа (сведений)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocType" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Тип документа: 0 - вновь подаваемая ДТ ТЭТ, 1 - ДТ ТЭТ с внесенными изменениями</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NumPP" type="clt_ru:Count2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Порядковый номер вносимых изменений</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MPO_Details" type="ecmd:MPO_DetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о МПО в адрес физического лица</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DesignatedPostalOperator" type="ecmd:DesignatedPostalOperatorType">
            <xs:annotation>
              <xs:documentation>Сведения о назначенном операторе почтовой связи</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomCode" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Код таможенного органа, в регионе деятельности которого находится таможенный склад, расположенный в ММПО</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SignatoryPerson" type="ecmd:SignatoryPersonDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о лице, заполнившем (подписавшем) таможенный документ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006295E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AttributeListType">
    <xs:annotation>
      <xs:documentation>Перечень атрибутов товара</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NumPP" type="clt_ru:Count2Type">
        <xs:annotation>
          <xs:documentation>Номер атрибута по порядку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AttrClassCode" type="clt_ru:CodeVariable3Type">
        <xs:annotation>
          <xs:documentation>Код нормативного класса товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AttrClassName" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Наименование нормативного класса товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AttrSubClassCode" type="clt_ru:CodeVariable3Type">
        <xs:annotation>
          <xs:documentation>Код нормативного подкласса товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AttrSubClassName" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Наименование нормативного подкласса товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AttrCode" type="clt_ru:CodeVariable3Type">
        <xs:annotation>
          <xs:documentation>Код атрибута товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AttrName" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Наименование атрибута товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AttrMeasureCode" type="clt_ru:CodeVariable4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код единицы измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="AttrValueDec" type="xs:decimal" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Числовое значение атрибута</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="RangeValue" type="ecmd:RangeValueType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Диапазон значений атрибута</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="AttrValueText" type="clt_ru:Text40Type" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Текстовое значение атрибута</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CalculationType">
    <xs:annotation>
      <xs:documentation>Расчет суммы таможенного платежа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PaymentModeCode" type="clt_ru:CUCustomsPaymentCodeType">
        <xs:annotation>
          <xs:documentation>Код вида платежа  по классификатору видов налогов, сборов и иных платежей, взимание которых возложено на таможенные органы.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaxBase" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Основа начисления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaxBaseCurrencyCode" type="clt_ru:CurrencyN3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Цифровой код валюты основы начисления (адвалорная ставка)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaxBaseQualifierCode" type="clt_ru:CodeVariable20Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение единицы измерения основы начисления (специфическая ставка)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RateTypeCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид ставки (адвалорная -"%", специфическая - "*")</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Rate" type="cltESAD_cu:RateType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ставка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RateTNVEDQualifierCode" type="clt_ru:MeasureUnitQualifierCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код единицы измерения ставки (специфическая ставка)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RateCurrencyCode" type="clt_ru:CurrencyN3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Цифровой код валюты ставки (специфическая ставка)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WeightingFactor" type="cltESAD_cu:WeightingFactorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Весовой коэффициент единицы измерения (специфическая ставка)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RateUseDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата применения ставки таможенного платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentAmount" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentPrevious" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Предыдущая сумма</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChangeAmount" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Изменение суммы</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsigneeDetailsType">
    <xs:annotation>
      <xs:documentation>Получатель - физическое лицо</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonSurname" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Фамилия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Имя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonMiddleName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonBornDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата рождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonINN" type="clt_ru:INNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИНН</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonPassport" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о документе, удостоверяющем личность</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonAddress" type="RUScat_ru:RUAddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonCommunicationDetails" type="cat_ru:ContactType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Контактные данные</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsignorDetailsType">
    <xs:annotation>
      <xs:documentation>Отправитель товара</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ConsignorName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Наименование организации или фамилия, имя, отчество отправителя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UITN40" type="RUScat_ru:UITN40Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения об идентификационном (уникальном идентификационном) таможенном номере</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="RUScat_ru:RUAddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CommunicationDetails" type="cat_ru:ContactType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Контактные данные</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrencyValueType">
    <xs:annotation>
      <xs:documentation>Сведения о стоимости</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CurrencyQuantity" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма в валюте</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyDetails" type="RUScat_ru:ExchangeRateWithCurrencyA3Type">
        <xs:annotation>
          <xs:documentation>Код и курс валюты </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExchangeDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата применения курса валюты </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DesignatedPostalOperatorType">
    <xs:annotation>
      <xs:documentation>Сведения о назначенном операторе почтовой связи</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PostalOperatorName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Наименование оператора почтовой связи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INN" type="clt_ru:INNIDType">
        <xs:annotation>
          <xs:documentation>ИНН оператора почтовой связи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KPP" type="clt_ru:KPPCodeType">
        <xs:annotation>
          <xs:documentation>КПП оператора почтовой связи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OKPO" type="clt_ru:OKPOIDType">
        <xs:annotation>
          <xs:documentation>ОКПО оператора почтовой связи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="RUScat_ru:RUAddressType">
        <xs:annotation>
          <xs:documentation>Адрес</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FactCustomsPaymentType">
    <xs:annotation>
      <xs:documentation>Сведения о фактически уплаченных (взысканных) суммах таможенных и иных платежей по декларации на товары для экспресс-грузов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PaymentModeCode" type="clt_ru:CustomsPaymentCodeType">
        <xs:annotation>
          <xs:documentation>Код вида платежа в соответствии с Классификатором видов таможенных и иных платежей</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Amount" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма, подлежащая уплате</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyA3Code" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Буквенный код валюты в соответствии с Классификатором валют</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PayerINN" type="clt_ru:INNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИНН плательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsGroupInformationType">
    <xs:annotation>
      <xs:documentation>Характеристика товаров в группе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GroupNum" type="clt_ru:Count4Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер группы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GroupDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Описание товаров группы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Manufacturer" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование производителя (изготовителя) товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TradeMark" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование товарного знака, объекта авторского права, смежных прав, патента  и т.д. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IPObjectRegistryNum" type="catESAD_cu:IPObjectRegistryNumType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Регистрационный номер объекта интеллектуальной собственности по реестру объектов интеллектуальной  собственности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsMark" type="cltESAD_cu:GoodsArticulType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование марки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsModel" type="cltESAD_cu:GoodsArticulType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование модели продукта (товара)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsMarking" type="cltESAD_cu:GoodsArticulType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор вида продукта (товара) или артикул товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsStandard" type="cltESAD_cu:GoodsArticulType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование стандарта (международного, межгосударственного, государственного, отраслевого или организации) или технических условий на товар </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateIssue" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата производства (изготовления) товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsGroupQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InvoicedCost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Цена товарной позиции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyA3Code" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Буквенный код валюты цены</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UINGoods" type="clt_ru:CodeVariable20Type" maxOccurs="500">
        <xs:annotation>
          <xs:documentation>УИН экземпляра товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AttributeList" type="ecmd:AttributeListType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Атрибуты товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DTIdentificationMeansDetails" type="catESAD_cu:DTIdentificationMeansDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о средствах идентификации маркированных товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecordId" type="clt_ru:DocumentIDType">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор записи</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MPO_DetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о МПО реестра</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MPO_Number" type="clt_ru:Code13Type">
        <xs:annotation>
          <xs:documentation>Уникальный номер МПО, получателем которого является физическое лицо</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConsigneeDetails" type="ecmd:ConsigneeDetailsType">
        <xs:annotation>
          <xs:documentation>Сведения физлице - получателе товаров МПО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MPO_GoodsDetails" type="ecmd:MPO_GoodsDetailsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товаре МПО, получателем которого является физическое лицо</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalGrossWeightQuantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Общий вес брутто товаров МПО, получателем которого является физическое лицо (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalCustomsCost" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Общая таможенная стоимость товаров МПО, получателем которого является физическое лицо (в рублях РФ)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentAmountDetails" type="ecmd:PaymentAmountDetailsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сумма таможеного платежа по коду платежа, подлежащего уплате по МПО, получателем которого является физическое лицо  (в рублях РФ)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalPaymentAmount" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общая сумма таможеных платежей, подлежащих уплате по МПО, получателем которого является физическое лицо  (в рублях РФ)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FactCustomsPayment" type="ecmd:FactCustomsPaymentType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о фактически уплаченных (взысканных) суммах таможенных платежей по МПО, получателем которого является физическое лицо</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReturnDT_Number" type="cat_ru:GTDIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер декларации на товары, присвоенный при их помещении под таможенную процедуру реэкспорта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReturnDoc" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Документ, подтверждающий фактический вывоз  при реэкспорте</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReturnDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата фактического вывоза при реэкспорте</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MPO_GoodsDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах МПО</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IMP_MPO_Number" type="clt_ru:Code13Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Уникальный номер МПО, в котором товар поступил на таможенную территорию ЕАЭС (на территорию Российской Федерации)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IMP_DT_Number" type="cat_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер декларации на товары, присвоенный при их помещении под таможенную процедуру таможенного склада</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UINGoods" type="clt_ru:CodeVariable20Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>УИН экземпляра товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConsignorDetails" type="ecmd:ConsignorDetailsType">
        <xs:annotation>
          <xs:documentation>Сведения об отправителе товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Наименование товара, включая коммерческое, фирменное или иное традиционное наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DepartureCountry" type="RUScat_ru:CountryDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна отправления товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginCountry" type="RUScat_ru:CountryDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна происхождения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
        <xs:annotation>
          <xs:documentation>Количество товара с указанием дополнительной единицы измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NetWeightQuantity" type="cat_ru:SupplementaryQuantityType">
        <xs:annotation>
          <xs:documentation>Вес товара, нетто </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrossWeightQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес товара, брутто </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ValueAmount" type="ecmd:CurrencyValueType">
        <xs:annotation>
          <xs:documentation>Стоимость товара в валюте сделки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCost" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Таможенная стоимость товара (в рублях РФ)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrderDetails" type="ecmd:OrderDetailsType">
        <xs:annotation>
          <xs:documentation>Сведения о заказе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PresentedDocDetails" type="ecmd:PresentedDocDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о документах</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Note" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Примечание</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsGroupInformation" type="ecmd:GoodsGroupInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Характеристика товаров в группе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsPaymentDetails" type="ecmd:CalculationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения об исчислении таможенных пошлин, налогов</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrderDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о заказе</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="URLGood" type="clt_ru:FreeText500Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Ссылка на товар в интернет магазине</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PaymentAmountDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о  таможенных пошлинах, налогах, подлежащих уплате</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PaymentModeCode" type="clt_ru:CustomsPaymentCodeType">
        <xs:annotation>
          <xs:documentation>Код вида платежа в соответствии с Классификатором видов таможенных и иных платежей</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentAmount" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма, подлежащая уплате</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentPrevious" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Предыдущая сумма</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChangeAmount" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Изменение суммы</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PresentedDocDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о дополнительном документе</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUDECLcat:BasePresentedDocDetailsType">
        <xs:sequence>
          <xs:element name="DocumentPresentingDetails" type="RUDECLcat:DocumentPresentingDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о фактическом представлении документа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RangeValueType">
    <xs:annotation>
      <xs:documentation>Диапазон значений</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AttrValueFrom" type="xs:decimal">
        <xs:annotation>
          <xs:documentation>Нижняя граница значений атрибута</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AttrValueTo" type="xs:decimal">
        <xs:annotation>
          <xs:documentation>Верхняя граница значений атрибута</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SignatoryPersonDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о физическом лице, заполнившем (подписавшем) таможенный документ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SigningDetails" type="RUScat_ru:SigningDetailsType">
        <xs:annotation>
          <xs:documentation>Cведения о должностном лице, подписавшем документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SignatoryPersonIdentityDetails" type="RUDECLcat:SignatoryPersonIdentityDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о документе, удостоверяющем личность лица, заполнившего (подписавшего) таможенный документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QualificationCertificate" type="clt_ru:CodeVariable6Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер квалификационного аттестата специалиста по таможенному оформлению</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PowerOfAttorneyDetails" type="catESAD_cu:DocBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Документ, удостоверяющий полномочия</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>