XsltProcessor/xsd/5.21.0/EnforceCustPaymentDoc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приказ ФТС России от 21.11.2018 г. № 1876 "Об утверждении форм документов, применяемых таможенными органами в целях обеспечения взыскания таможенных платежей,
специальных, антидемпинговых, компенсационных пошлин, процентов и пеней за счет имущества и обращения взыскания на товары-->
<!--
-Приложение 1 - Решение таможенного органа о наложении ареста на имущество (DocType=РАИ) - УБРАН отсюда в версии 5.14.5 (переехал в ImpositionArrest)
-Приложение 2 - Решение таможенного органа на пользование и распоряжение имуществом, на которое наложен арест (DocType=РПИ) - УБРАН отсюда в версии 5.14.5 (переехал в ImpositionArrest)
Приложение 3 - Заявление о замене ареста имущества на денежный залог (DocType=ЗЗИ)
Приложение 4 - Уведомление таможенного органа об отказе в замене ареста имущества на денежный залог(DocType=УОЗИ)
Приложение 5 - Решение таможенного органа о замене ареста имущества на денежный залог (DocType=РЗИ)
Приложение 7 - Решение таможенного органа об отмене ареста имущества (DocType=РОАИ)
-Приложение 8 - Решение таможенного органа о наложении ареста на товары (DocType=РАТ) - УБРАН отсюда в версии 5.14.5 (переехал в ImpositionArrest)
Приложение 9 - Решение таможенного органа об обращении взыскания на товары (DocType=РОВТ)
Приложение 11 - Решение таможенного органа об отмене ареста товаров (DocType=РОАТ)
-->
<xs:schema xmlns:ecpd="urn:customs.ru:Information:CustomsAuditDocuments:EnforceCustPaymentDoc:5.21.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:adt_cat="urn:customs.ru:Information:CustomsAuditDocuments:AuditCommonAggregateTypesCust:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:RUDECLcat="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.21.0" targetNamespace="urn:customs.ru:Information:CustomsAuditDocuments:EnforceCustPaymentDoc:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:CustomsAuditDocuments:AuditCommonAggregateTypesCust:5.21.0" schemaLocation="AuditCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.21.0" schemaLocation="RUDeclCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Документы, применяемые таможенными органами в целях обеспечения взыскания таможенных платежей, специальных, антидемпинговых, компенсационных пошлин, процентов и пеней за счет имущества и обращения взыскания на товары </xs:documentation>
  </xs:annotation>
  <xs:element name="EnforceCustPaymentDoc" type="ecpd:EnforceCustPaymentDocType">
    <xs:annotation>
      <xs:documentation>Документы, применяемые таможенными органами в целях обеспечения взыскания таможенных платежей, специальных, антидемпинговых, компенсационных пошлин, процентов и пеней за счет имущества и обращения взыскания на товары</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="EnforceCustPaymentDocType">
    <xs:annotation>
      <xs:documentation>Документы, применяемые таможенными органами в целях обеспечения взыскания таможенных платежей, специальных, антидемпинговых, компенсационных пошлин, процентов и пеней за счет имущества и обращения взыскания на товары</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DocType" type="clt_ru:CodeVariable4Type">
            <xs:annotation>
              <xs:documentation>Тип документа: ЗЗИ - Заявление о замене ареста имущества на денежный залог; УОЗИ - Уведомление таможенного органа об отказе в замене ареста имущества на денежный залог; РЗИ - Решение таможенного органа о замене ареста имущества на денежный залог; РОАИ - Решение таможенного органа об отмене ареста имущества; РОВТ - Решение таможенного органа об обращении взыскания на товары; РОАТ -  Решение таможенного органа об отмене ареста товаров </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PlaceName" type="clt_ru:NameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Населенный пункт</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ProsecutorPerson" type="ecpd:ProsecutorPersonType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о прокуроре</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsIssued" type="adt_cat:CustomsType">
            <xs:annotation>
              <xs:documentation>Таможенный орган</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NoticePayment" type="ecpd:NoticePaymentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Уведомление (уточнение к уведомлению) о не уплаченных в установленный срок суммах таможенных платежей, специальных, антидемпинговых, компенсационных пошлин, процентов и пеней</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TotalAmount" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Общая сумма таможенных платежей, специальных, антидемпинговых и компенсационных пошлин, процентов и пеней, подлежащая взысканию, рубли</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PaymentsFeesAmount" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сумма таможенных платежей, специальных, антидемпинговых и компенсационных пошлин, подлежащая взысканию, рубли</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PenaltyAmount" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сумма пеней, подлежащая взысканию, рубли</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PercentAmount" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сумма процентов, подлежащая взысканию, рубли</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Owner" type="RUScat_ru:OrganizationType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о лице, на имущество/товары которого налагается/наложен арест</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsLocation" type="RUScat_ru:RUAddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о местонахождении имущества/товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StartUseDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Разрешенная дата начала использования </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EndUseDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Разрешенная дата окончания использования</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AllowedActions" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Перечень действий, разрешенных таможенным органом</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Goods" type="ecpd:GoodsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения об имуществе/товарах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApplicationUse" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о Заявлении на владение, пользование и распоряжение имуществом</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionArrest" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о Решении таможенного органа о наложении ареста на имущество/товары</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReplacementReq" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения об Обращении о замене ареста имущества на денежный залог</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionCollect" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о Решении об обращении взыскания на товары</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsKeeper" type="ecpd:GoodsKeeperType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о лице, которому имущество передано на хранение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsReceipt" type="ecpd:CustomsReceiptType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о таможенной расписке</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionReason" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Обнование принятого решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Paragraph" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер подпункта части 41 статьи 78 ФЗ  от 3 августа 2018 г. № 289-ФЗ «О таможенном регулировании в Российской Федерации и о внесении изменений в отдельные законодательные акты Российской Федерации», в соответствии с которым принято решение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustPaymentCalc" type="ecpd:CustPaymentCalcType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о реквизитах документов исполнения обязанности по уплате таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин, процентов и пеней</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ChiefSignature" type="cat_ru:PersonSignatureType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Подпись руководителя организации (уполномоченного лица)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsChief" type="cat_ru:PersonBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Начальник (уполномоченное лицо) таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Executor" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>Исполнитель</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006931E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CustomsReceiptRegNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер таможенной расписки</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="DocNumberPrefix" type="clt_ru:CodeVariable3Type">
            <xs:annotation>
              <xs:documentation>Префикс порядкового номера таможенной расписки</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CustomsReceiptType">
    <xs:annotation>
      <xs:documentation>Реквизиты таможенной расписки</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsReceiptID" type="ecpd:CustomsReceiptRegNumberType">
        <xs:annotation>
          <xs:documentation>Реквизиты таможенной расписки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CRAmount" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма по таможенной расписке, рубли</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustPaymentCalcDocType">
    <xs:annotation>
      <xs:documentation>Реквизиты корректировки декларации на товары/расчета таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин/корректировки таможенного приходного ордера/заявления, предусмотренного п.4 ст.277 Таможенного кодекса Евразийского экономического союза</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="KDTID" type="RUDECLcat:CustomDocIDType">
        <xs:annotation>
          <xs:documentation>Реквизиты корректировки декларации на товары</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CPCID" type="RUDECLcat:CustomDocIDType">
        <xs:annotation>
          <xs:documentation>Реквизиты расчета таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KTPOID" type="ecpd:TPOIDype">
        <xs:annotation>
          <xs:documentation>Реквизиты корректировки таможенного приходного ордера</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Application" type="cat_ru:DocumentBaseType">
        <xs:annotation>
          <xs:documentation>Сведения о заявлении о совершении операций в отношении находящихся за пределами таможенной территории Евразийского экономического союза транспортных средств международной перевозки, являющихся товарами, помещенными под таможенную процедуру временного ввоза (допуска)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="CustPaymentCalcType">
    <xs:annotation>
      <xs:documentation>Реквизиты корректировки декларации на товары/расчета таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин/корректировки таможенного приходного ордера/заявления с указанием срока исполнения обязанности по уплате таможенных платежей, специальных, антидемпинговых, компенсационных пошлин, процентов и пеней</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustPaymentCalcDoc" type="ecpd:CustPaymentCalcDocType">
        <xs:annotation>
          <xs:documentation>Реквизиты корректировки декларации на товары, расчета таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин, корректировки таможенного приходного ордера, либо заявления, предусмотренного п. 4 ст. 277 Таможенного кодекса Евразийского экономического союза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PeriodExecution" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Срок исполнения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsKeeperType">
    <xs:annotation>
      <xs:documentation>Сведения о лице, которому передано на хранение имущество</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:OrganizationType">
        <xs:sequence>
          <xs:element name="StoragePlace" type="RUScat_ru:RUAddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Место хранения</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Имущество, на которое накладывается арест</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Наименование</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsCharacteristics" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Индивидуальные признаки</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NoticePaymentType">
    <xs:annotation>
      <xs:documentation>Уведомление (уточнение к уведомлению) о не уплаченных в установленный срок суммах таможенных платежей, специальных, антидемпинговых, компенсационных пошлин, процентов и пеней</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="PeriodExecution" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Срок исполнения</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProsecutorPersonType">
    <xs:annotation>
      <xs:documentation>Сведения о прокуроре</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonSignatureType">
        <xs:sequence>
          <xs:element name="ClassRank" type="clt_ru:PostType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Классный чин</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ProsecutorOffice" type="clt_ru:NameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование органа прокуратуры</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TPOIDype">
    <xs:annotation>
      <xs:documentation>Регистрационный номер корректировки таможенного приходного ордера</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ecpd:TPORegNumberType">
        <xs:sequence>
          <xs:element name="Code" type="clt_ru:CodeVariable2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер (идентификатор) вносимых изменений и (или) дополнений</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TPORegNumberType">
    <xs:annotation>
      <xs:documentation>Справочный номер ТПО</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocNumber" type="clt_ru:Code10Type">
        <xs:annotation>
          <xs:documentation>Номер документа по журналу регистрации/типографский номер</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>