XsltProcessor/xsd/5.21.0/PermissionUseArrestedGoods.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Приказ ФТС России  от 14.02.2019 г. № 258 "Об утверждении форм документов, составляемых таможенными органами при проведении таможенных проверок, 
порядков их заполнения и порядка внесения изменений в решение о проведении выездной таможенной проверки" 
Приложение № 11 - Разрешение на пользование товарами, на которые наложен арест-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:adt_cat="urn:customs.ru:Information:CustomsAuditDocuments:AuditCommonAggregateTypesCust:5.21.0" xmlns:puag="urn:customs.ru:Information:CustomsAuditDocuments:PermissionUseArrestedGoods:5.21.0" targetNamespace="urn:customs.ru:Information:CustomsAuditDocuments:PermissionUseArrestedGoods:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:CustomsAuditDocuments:AuditCommonAggregateTypesCust:5.21.0" schemaLocation="AuditCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Разрешение на пользование товарами, на которые наложен арест</xs:documentation>
  </xs:annotation>
  <xs:element name="PermissionUseArrestedGoods" type="puag:PermissionUseArrestedGoodsType" />
  <xs:complexType name="PermissionUseArrestedGoodsType">
    <xs:annotation>
      <xs:documentation>Разрешение на пользование товарами, на которые наложен арест (тип)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="CustomsIssuedPermission" type="puag:CustomsIssuedType">
            <xs:annotation>
              <xs:documentation>Таможенный орган, выпустивший Разрешение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConnectCaseCustomsControl" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Связь с делом таможенного контроля</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Applicant" type="puag:AuditOrganizationType">
            <xs:annotation>
              <xs:documentation>Заявитель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StatementNumber" type="adt_cat:NumberType">
            <xs:annotation>
              <xs:documentation>Реквизиты Заявления на выдачу Разрешения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PermissionPerson" type="puag:AuditOrganizationType">
            <xs:annotation>
              <xs:documentation>Лицо, которому выдается Разрешение на распоряжение арестованными товарами</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RestrictionsInfo" type="puag:GoodsType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Информация об арестованных товарахх</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResolutionNumber" type="adt_cat:NumberType">
            <xs:annotation>
              <xs:documentation>Реквизиты Постановления об аресте товаров по результатам таможенной проверки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsIssuedResolution" type="puag:CustomsIssuedType">
            <xs:annotation>
              <xs:documentation>Таможенный орган, выпустивший Постановление, подпись должностного или уполномоченного лица</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PermissionPeriod" type="RUScat_ru:PeriodDetailsType">
            <xs:annotation>
              <xs:documentation>Период, в течение которого действует Разрешение на пользование арестованными товарами</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SecExempDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата получения второго экземпляра</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SecExempTime" type="clt_ru:TimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Время получения второго экземпляра</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SecondExempReceived" type="puag:SecondExempReceivedType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Второй экземпляр Разрешения получил</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AttachedFile" type="puag:AttachedFileType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Прикрепленные файлы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Comment" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006910E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AttachedFileType">
    <xs:annotation>
      <xs:documentation>Прикрепленный файл</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FileName" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование файла</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FileContent" type="clt_ru:Text3MB" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Содержимое файла в формате Base64</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuditOrganizationType">
    <xs:annotation>
      <xs:documentation>Проверяемая организация/лицо</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:OrganizationType">
        <xs:sequence>
          <xs:element name="OKPO" type="clt_ru:OKPOIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код организации по ОКПО</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FactAddressDetails" type="RUScat_ru:RUAddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Адрес местонахождения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegionCustoms" type="adt_cat:CustomsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Региональное таможенное управление</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Person" type="puag:PersonType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Руководитель (представитель)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CustomsIssuedType">
    <xs:annotation>
      <xs:documentation>Таможенный орган, подпись должностного или уполномоченного лица</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="adt_cat:CustomsIssuedType">
        <xs:sequence>
          <xs:element name="PersonCustomsID" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер служебного удостоверения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Rank" type="clt_ru:Text150Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Звание</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LNP" type="clt_ru:LNPIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ЛНП должностного лица таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Note" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsCharacteristics" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Индивидуальные признаки товара</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>Представитель проверяемого лица</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonSignatureType">
        <xs:sequence>
          <xs:element name="Comment" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SecondExempReceivedType">
    <xs:annotation>
      <xs:documentation>Второй экземпляр Разрешения получил</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="adt_cat:SecondExempReceivedType">
        <xs:sequence>
          <xs:element name="Time" type="clt_ru:TimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Время получения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Comment" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>