XsltProcessor/xsd/5.21.0/PTDExpressGoodsPayInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Решение Коллегии ЕЭК от 20.11.2018 № 185  -->
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:RUDECLcat="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.21.0" xmlns:PTDEGP="urn:customs.ru:Information:CustomsDocuments:PTDExpressGoodsPayInfo:5.21.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:PTDExpressGoodsPayInfo:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.21.0" schemaLocation="RUDeclCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Документ об уплате таможенных пошлин, налогов в отношении товаров для личного пользования, таможенное декларирование которых осуществляется с использованием пассажирской таможенной декларации для экспресс-грузов</xs:documentation>
  </xs:annotation>
  <xs:element name="PTDExpressGoodsPayInfo" type="PTDEGP:PTDExpressGoodsPayInfoType">
    <xs:annotation>
      <xs:documentation>Документ об уплате таможенных пошлин, налогов в отношении товаров для личного пользования, таможенное декларирование которых осуществляется с использованием пассажирской таможенной декларации для экспресс-грузов</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PTDExpressGoodsPayInfoType">
    <xs:annotation>
      <xs:documentation>Документ об уплате таможенных пошлин, налогов в отношении товаров для личного пользования, таможенное декларирование которых осуществляется с использованием пассажирской таможенной декларации для экспресс-грузов</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="PassDTNumberDetails" type="cat_ru:GTDIDType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер пассажирской таможенной декларации для экспресс-грузов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NumPP" type="clt_ru:Count3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Порядковый номер Документа об уплате к ПТДЭГ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="HouseShipment" type="PTDEGP:HouseShipmentType" maxOccurs="500">
            <xs:annotation>
              <xs:documentation>Индивидуальные накладные</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AllSborAmount" type="clt_ru:AmountType">
            <xs:annotation>
              <xs:documentation>Всего таможенных сборов по пассажирской таможенной декларации для экспересс-грузов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AllDutiesAmount" type="clt_ru:AmountType">
            <xs:annotation>
              <xs:documentation>Всего таможенных пошлин по пассажирской таможенной декларации для экспересс-грузов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BrokerRegistryDocDetails" type="RUDECLcat:BrokerRegistryDocDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о включении лица в реестр таможенных представителей</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPerson" type="RUScat_ru:CustomsPersonDetails" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Должностное лицо таможенного органа, заполнившего документ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutionDate" type="clt_ru:DateTimeCustType">
            <xs:annotation>
              <xs:documentation>Дата и время заполнения документа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006276E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="PaymentDetailsType">
    <xs:annotation>
      <xs:documentation>Исчисление платежей по видам платежа в индивидуальной накладной</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PaymentName" type="clt_ru:CustomsPaymentCodeType">
        <xs:annotation>
          <xs:documentation>Код вида платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaxBase" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>База для исчисления (для сборов (код 1010) в РФ не заполняется)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Rate" type="PTDEGP:RateType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ставка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FactPaidAmount" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма платежа, подлежащая уплате (рублей)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentChange" type="PTDEGP:PaymentChangeType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Изменение сумм таможенных пошлина, налогов, подлежащих уплате</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RateType">
    <xs:annotation>
      <xs:documentation>Ставка платежа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CurrencyRate" type="clt_ru:CurrencyRateType">
        <xs:annotation>
          <xs:documentation>Курс валюты ставки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RateUseDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата применения курса валюты и ставки таможенного платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WeighQuantity" type="clt_ru:Quantity14point2Type">
        <xs:annotation>
          <xs:documentation>Общий вес товаров (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OverWeighQuantity" type="clt_ru:Quantity14point2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Размер превышения нормы по весу товаров (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RateWeigh" type="cltESAD_cu:RateType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Размер ставки за превышение веса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentWeigh" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Размер платежа за превышение веса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Cost" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Стоимость товаров в валюте покупки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CostCurrencyCode" type="clt_ru:CurrencyN3CodeType">
        <xs:annotation>
          <xs:documentation>Цифровой код валюты покупки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CostRate" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Стоимость товаров в валюте ставки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OverCost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Размер превышения нормы по стоимости товаров (в валюте ставки)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RateCost" type="cltESAD_cu:RateType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Размер ставки за превышение стоимости</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentCost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Размер платежа за превышение стоимости</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaxBaseKind" type="clt_ru:DigitalIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип использованной основы начисления (0 - по стоимости, 1-по весу)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HouseShipmentType">
    <xs:annotation>
      <xs:documentation>Индивидуальные накладные</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="WayBill" type="PTDEGP:WayBillType">
        <xs:annotation>
          <xs:documentation>Индивидуальная накладная</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConsigneeName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Наименование получателя / ФИО физического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о документе, удостоверяющем личность </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INN" type="clt_ru:CodeVariable20Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор плательщика (ИНН)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KPP" type="clt_ru:KPPCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>КПП плательщика </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentDetails" type="PTDEGP:PaymentDetailsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Графа В. Исчисление платежей по видам платежа </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Payed" type="clt_ru:Numeric1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак фактической уплаты</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Amount" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма, подлежащая уплате по накладной</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentChangeType">
    <xs:annotation>
      <xs:documentation>Изменение сумм  таможенных пошлин, налогов, подлежащих уплате</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="LineNum" type="clt_ru:Count2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порядковый номер строки по виду в графе В1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreviousPaymentAmount" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Предыдущая (предшествующая) сумма платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DifferencePaymentAmount" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Изменение суммы платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WayBillType">
    <xs:annotation>
      <xs:documentation>Сведения о накладной</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="WayBillID" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор накладной в реестре</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ObjectOrdinal" type="clt_ru:Count3Type">
            <xs:annotation>
              <xs:documentation>Порядковый номер накладной</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>