XsltProcessor/xsd/5.21.0/ReqDoc4Audit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Приказ ФТС России  от 14.02.2019 г. № 258 "Об утверждении форм документов, составляемых таможенными органами при проведении таможенных проверок, 
порядков их заполнения и порядка внесения изменений в решение о проведении выездной таможенной проверки"
Приложение № 17 - Требование о представлении документов и (или) сведений при выездной таможенной проверке (rda:IdentKindRequest = 2)
Приложение № 18 - Требование о представлении документов и (или) сведений лицом, связанным с проверяемым лицом по сделкам (операциям) с товарами, в отношении которых проводится таможенная проверка  (rda:IdentKindRequest = 4)
Приложение № 19 - Требование о представлении документов и (или) сведений при камеральной таможенной проверке (rda:IdentKindRequest = 3)
Приложение № 20 - Требование о предъявлении товаров при выездной таможенной проверке (rda:IdentKindRequest = 1)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:adt_cat="urn:customs.ru:Information:CustomsAuditDocuments:AuditCommonAggregateTypesCust:5.21.0" xmlns:rda="urn:customs.ru:Information:CustomsAuditDocuments:ReqDoc4Audit:5.21.0" targetNamespace="urn:customs.ru:Information:CustomsAuditDocuments:ReqDoc4Audit:5.21.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.21.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:CustomsAuditDocuments:AuditCommonAggregateTypesCust:5.21.0" schemaLocation="AuditCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Требование о представлении документов и (или) сведений, предъявлении товаров при таможенной проверке - выездной и камеральной</xs:documentation>
  </xs:annotation>
  <xs:element name="ReqDoc4Audit" type="rda:ReqDoc4AuditType">
    <xs:annotation>
      <xs:documentation>Требование о представлении документов и (или) сведений, предъявлении товаров при таможенной проверке - выездной и камеральной</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ReqDoc4AuditType">
    <xs:annotation>
      <xs:documentation>Требование о представлении документов и (или) сведений, предъявлении товаров при таможенной проверке - выездной и камеральной</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="CustomsIssuedRequest" type="rda:CustomsIssuedType">
            <xs:annotation>
              <xs:documentation>Таможенный орган, составивший Требование, подпись</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AuditOrganization" type="rda:AuditOrganizationType">
            <xs:annotation>
              <xs:documentation>Проверяемая организация (лицо) / Организация (лицо), связанная с проверяемой</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPerformingAudit" type="cat_ru:CustomsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Таможенный орган, производящий проверку</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConnectCaseCustomsControl" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Связь с делом таможенного контроля</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RequestNumber" type="adt_cat:NumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Требование о представлении документов и сведений</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RequestPlace" type="clt_ru:NameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Место составления требования</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AuditFieldKind" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Вид выездной проверки: 1 - выездная плановая; 2 - выездная внеплановая; 3 - выездная встречная внеплановая</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IdentKindRequest" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
              <xs:documentation>Вид требования: 1- требование о предъявлении товаров при выездной таможенной проверке; 2- требование о представлении документов и (или) сведений при выездной таможенной проверке; 3- требование о представлении документов и (или) сведений при камеральной таможенной проверке; 4- требование о представлении документов и (или) сведений лицом, связанным с проверяемым лицом по сделкам (операциям) с товарами, в отношении которых проводится таможенная проверка</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Notif4Audit" type="adt_cat:NumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уведомление о проведении таможенной проверки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionPerformAudit" type="adt_cat:NumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Решение о проведении таможенной проверки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DaysLimitSubmission" type="clt_ru:Count4Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество дней от получения требования до предоставления документов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RequestedDoc" type="rda:RequestedDocType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Запрашиваемые документы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AuditGoods" type="adt_cat:AuditGoodsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о проверяемых декларациях/товарах, если таможенная проверка проводится после выпуска</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BasedArticle" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Основание проведения камеральной проверки: 1 - 336, 340 статьи ТК; 2 - 337, 340 статьи ТК</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AuditPeriod" type="adt_cat:AuditPeriodType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Период, за который назначена таможенная проверка, если таможенная проверка проводится в отношении лиц, осуществляющих деятельность в сфере таможенного дела</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SubmitWayAudit" type="rda:SubmitWayAuditType">
            <xs:annotation>
              <xs:documentation>Способ и место представления документов или предъявления товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SecondExempReceived" type="rda:SecondExempReceivedType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Второй экземпляр акта на руки получил</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AttachedFile" type="rda:AttachedFileType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Прикрепленные файлы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Comment" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Описание документа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006900E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AttachedFileType">
    <xs:annotation>
      <xs:documentation>Прикрепленный файл</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FileName" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование файла</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FileContent" type="clt_ru:Text3MB" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Содержимое файла в формате Base64</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuditOrganizationType">
    <xs:annotation>
      <xs:documentation>Проверяемая организация/лицо</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:OrganizationType">
        <xs:sequence>
          <xs:element name="OKPO" type="clt_ru:OKPOIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код организации по ОКПО</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FactAddressDetails" type="RUScat_ru:RUAddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Адрес местонахождения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegionCustoms" type="adt_cat:CustomsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Региональное таможенное управление</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Person" type="rda:PersonType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Руководитель (представитель) проверяемого лица</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CustomsIssuedType">
    <xs:annotation>
      <xs:documentation>Таможенный орган, подпись должностного или уполномоченного лица</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="adt_cat:CustomsIssuedType">
        <xs:sequence>
          <xs:element name="PersonCustomsID" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер служебного удостоверения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Rank" type="clt_ru:Text150Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Звание</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LNP" type="clt_ru:LNPIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ЛНП должностного лица таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Note" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CustomPersonType">
    <xs:annotation>
      <xs:documentation>Должностное лицо (руководитель (член) комиссии)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonBaseType">
        <xs:sequence>
          <xs:element name="CustomsDept" type="cat_ru:CustomsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Таможенный орган</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Phone" type="clt_ru:PhoneNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Телефон</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonCustomsID" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер служебного удостоверения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Department" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Подразделение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Rank" type="clt_ru:Text150Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Звание</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LNP" type="clt_ru:LNPIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ЛНП должностного лица таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Note" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SecondExempReceivedType">
    <xs:annotation>
      <xs:documentation>Представитель проверяемого лица</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="adt_cat:SecondExempReceivedType">
        <xs:sequence>
          <xs:element name="Comment" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>Представитель проверяемого лица</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonSignatureType">
        <xs:sequence>
          <xs:element name="Comment" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SubmitWayAuditType">
    <xs:annotation>
      <xs:documentation>Способ и место представления документов или предъявления товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsAddress" type="RUScat_ru:RUAddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChiefCommission" type="rda:CustomPersonType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Руководитель комиссии по проведению проверки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AnotherWayShare" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Способ обмена документами и (или) сведениями в электронной форме</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequestedDocType">
    <xs:annotation>
      <xs:documentation>Запрашиваемый документ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="RequestPositionID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор позиции в запросе. Используется в АПС "Электронное представление сведений"</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Position" type="clt_ru:Count3Type">
            <xs:annotation>
              <xs:documentation>Порядковый номер записи в запросе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocCode" type="clt_ru:CustomsDocumentCodeType">
            <xs:annotation>
              <xs:documentation>Код вида запрашиваемого документа (заполняется в соответствии с классификатором видов документов, используемых при заявлении сведений в графе 44)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArchDeclID" type="clt_ru:ArchiveDeclarantIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор декларанта в Электронном Архиве Декларанта.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArchID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор архива декларанта (используется при запросе документа из архива)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArchDocID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор документа в архиве (используется при запросе документа из архива)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ADocumentID" type="clt_ru:ArchiveDocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор документа (используется при запросе документа из архива)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Note" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StartDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Начало периода, за который запрашиваются документы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EndDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Окончание периода, за который запрашиваются документы</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>