XsltProcessor/xsd/5.21.0/RUDeclCommonAggregateTypesCust.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.21.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.21.0" xmlns:RUDECLcat="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.21.0" targetNamespace="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.21.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.21.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.21.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.21.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.21.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Таможенные документы. Общие сложные типы для документов обмена данными с ЕЭК</xs:documentation>
	</xs:annotation>
	<xs:complexType name="AEODeclarantDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о заявителе, включенном в реестр УЭО</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:SubjectBranchDetailsType">
				<xs:sequence>
					<xs:element name="AEORegistryIdDetails" type="catESAD_cu:AEORegistryIdDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер свидетельства о включении в реестр уполномоченных экономических операторов</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BasePresentedDocDetailsType">
		<xs:annotation>
			<xs:documentation>Базовые сведения о о предоставленном документе</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:DocBaseType">
				<xs:sequence>
					<xs:element name="DocKindCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Кодовое обозначение вида документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AuthorityName" type="RUSclt_ru:Name300Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Наименование органа либо организации, выдавшей документ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AuthorityId" type="clt_ru:CodeVariable20Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Строка символов, идентифицирующая государственный или межгосударственный орган (организацию), выдавший или утвердивший документ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InformationSourceDetails" type="RUDECLcat:InformationSourceDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения об информационном источнике или информационном ресурсе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LineId" type="clt_ru:Text40Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Уникальный идентификатор, используемый для целей однозначной ссылки на запись, или порядковый номер записи</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EDocCode" type="clt_ru:CodeVariable10Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Кодовое обозначение электронного документа (сведений) в соответствии с реестром структур электронных документов и сведений</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocArchIdDetails" type="catESAD_cu:RFBasePresentedDocIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификаторы, присвоенные документу (сведениям) при размещении в хранилище электронных документов</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BrokerRegistryDocDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о включении лица в реестр таможенных представителей</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocKindCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код вида документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegisterDocumentDetails" type="RUScat_ru:RegisterDocumentIdDetailsType">
				<xs:annotation>
					<xs:documentation>Регистрационный номер в реестре таможенных представителей или регистрационный номер лица в ином реестре</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CalculationType">
		<xs:annotation>
			<xs:documentation>Расчет размера обеспечения</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PaymentModeCode" type="clt_ru:CUCustomsPaymentCodeType">
				<xs:annotation>
					<xs:documentation>Код вида платежа  по классификатору видов налогов, сборов и иных платежей, взимание которых возложено на таможенные органы.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxBase" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Основа начисления</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxBaseCurrencyCode" type="clt_ru:CurrencyN3CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Цифровой код валюты основы начисления (адвалорная ставка)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxBaseQualifierCode" type="clt_ru:CodeVariable20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кодовое обозначение единицы измерения основы начисления (специфическая ставка)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RateTypeCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вид ставки (адвалорная -"%", специфическая - "*")</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Rate" type="cltESAD_cu:RateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ставка.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RateTNVEDQualifierCode" type="clt_ru:MeasureUnitQualifierCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код единицы измерения ставки (специфическая ставка)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RateCurrencyCode" type="clt_ru:CurrencyN3CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Цифровой код валюты ставки (специфическая ставка)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumberDays" type="clt_ru:Count4Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество календарных дней</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumberStages" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Число этапов</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumberMonths" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Число полных и неполных календарных месяцев</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WeightingFactor" type="cltESAD_cu:WeightingFactorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Весовой коэффициент единицы измерения (специфическая ставка)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RateUseDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата применения ставки таможенного платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentCode" type="clt_ru:Code2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код в соответствии с классификатором особенностей уплаты таможенных и иных платежей, взимание которых возложено на таможенные органы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentAmount" type="clt_ru:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сумма платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentCurrencyCode" type="clt_ru:CurrencyN3CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Цифровой код валюты суммы платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TNVEDGroup" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер группы в соответствии с ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReferenceLineId" type="clt_ru:Text40Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ссылочный идентификатор записи в сведениях о предшествующем документе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RefReferenceLineId" type="clt_ru:Text40Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ссылочный идентификатор записи в предшествующем документе или сведениях</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReferenceConsignmentItemOrdinal" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара в предшествующем документе</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommodityDescriptionBaseDetailsType">
		<xs:annotation>
			<xs:documentation>Компоненты, представляющие дополнительные характеристики базовых сведений товара</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:EECGoodsManufacturerDetailsType">
				<xs:sequence>
					<xs:element name="ProductMarkName" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Наименование марки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProductModelName" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Наименование модели продукта</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProductId" type="cltESAD_cu:GoodsArticulType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Уникальный идентификатор вида продукции (артикул)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProductSortName" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Наименование сорта (группы сортов) продукта</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StandardName" type="clt_ru:Text40Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Наименование стандарта (международного, межгосударственного, государтвенного, отраслевого или организации) или технических условий на товар</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProductInstanceId" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Уникальный идентификатор (серийный номер, код) экземпляра продукта</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ManufactureDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата производства (изготовления) товара</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IPObjectRegistryIdDetails" type="catESAD_cu:IPObjectRegistryNumType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Регистрационный номер объекта интеллектуальной собственности по реестру объектов интеллектуальной собственности</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CommodityGroupItemDetailsType">
		<xs:annotation>
			<xs:documentation>Характеристика товаров в группе</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LineId" type="clt_ru:Text40Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор записи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommodityDescriptionDetails" type="catESAD_cu:GoodsGroupInformationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дополнительные характеристики сведений о товаре</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductionPlaceName" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование места происхождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandardName" type="clt_ru:Text40Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование стандарта (международного, межгосударственного, государтвенного, отраслевого или организации) или технических условий на товар</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CUPresentedDocumentsType">
		<xs:annotation>
			<xs:documentation>ESAD.Представленные документы</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catESAD_cu:CUESADPresentedDocumentsType">
				<xs:sequence>
					<xs:element name="TIRPageNumber" type="clt_ru:Count2Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Порядковый номер листа книжки МДП</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TIRHolderID" type="clt_ru:TIRHolderIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификационный номер держателя книжки МДП</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InformationSourceDetails" type="RUDECLcat:InformationSourceDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения об информационном ресурсе в информационно-телекоммуникационной сети "Интернет"</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocumentPresentingDetails" type="RUDECLcat:DocumentPresentingDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о фактическом представлении документа</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CustomDocIDType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер таможенного документа</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:GTDIDType">
				<xs:sequence>
					<xs:element name="Code" type="clt_ru:CodeVariable2Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер (идентификатор) вносимых изменений и (или) дополнений</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeclarantDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о декларанте (заявителе)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:SubjectBranchDetailsType">
				<xs:sequence>
					<xs:element name="RegisterDocumentIdDetails" type="RUScat_ru:RegisterDocumentIdDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Свидетельства о включении лица в реестр уполномоченных экономических операторов</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DisassemComponentType">
		<xs:annotation>
			<xs:documentation>Компонент товара в несобранном или разобранном виде</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catESAD_cu:ComponentDescriptionType">
				<xs:sequence>
					<xs:element name="IDNumber" type="clt_ru:Text50Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сборочный номер компонента</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ComponentName" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Наименование компонента</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ComponentId" type="clt_ru:Count19Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Служебный порядковый номер компонента</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ParentIDNumber" type="clt_ru:Text50Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сборочный номер родительского компонента</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ChangeAction" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак изменения: 1 - добавление компонента, 2 - изменение компонента, 3 - исключение компонента. (Заполняется только при изменении решения по классификации)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DocumentPresentingDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о фактическом представлении документа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocPresentKindCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак представления документа при подаче таможенной декларации (заявления)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresentedDocumentModeCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код вида представляемого документа в соответствии с классификатором видов документов и сведений, используемых при таможенном декларировании</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocPresentDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата, до которой должны быть выполнены обязательства по представлению документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsDocIdDetails" type="RUDECLcat:CustomDocIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер декларации на товары, транзитной декларации, заявления о выпуске товаров до подачи декларации на товары или заявления о совершении операций в отношении временно вывезенных транспортных средств международной перевозки, являющихся товарами, помещенными под таможенную процедуру временного ввоза (допуска), к которой (которому) был приложен представленный документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTMDocDetails" type="RUDECLcat:DTMDocDetailsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер декларации на транспортное средство, к которой был приложен представленный документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TIRIdDetails" type="RUDECLcat:TIRIdDetailsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер книжки МДП, которая использовалась в качестве транзитной декларации и к которой был приложен представленный документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherPrecedingDocId" type="clt_ru:DocumentNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>регистрационный номер иного документа, к которому был приложен представляемый документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherPrecedingDocDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>дата выдачи, подписания, утверждения или регистрации иного документа, к которому был приложен представляемый документ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DTMDocDetailsType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер декларации на транспортное средство</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:GTDIDType">
				<xs:sequence>
					<xs:element name="TransportModeCode" type="clt_ru:TransportModeCodeType">
						<xs:annotation>
							<xs:documentation>Код вида транспортного средства по классификатору видов транспорта и транспортировки товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GoodsGroupDescriptionType">
		<xs:annotation>
			<xs:documentation>Описание группы товаров одного наименования с отличающимися от других групп характеристиками</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LineId" type="clt_ru:Text40Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор записи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Описание группы товаров с учетом дополнительных характеристик (качественных, количественных, технических, коммерческих), необходимых для исчисления и взимания таможенных и иных платежей, применения мер защиты внутреннего рынка, обеспечения соблюдения запретов и ограничений, принятия таможенными органами мер по защите прав на объекты интеллектуальной собственности, идентификации, отнесения к одному десятизначному классификационному коду в соответствии с ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ObjectOrdinal" type="clt_ru:Code3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер (позиция) компонента товара, перемещаемого через таможенную границу Евразийского экономического союза в несобранном или разобранном виде, в том числе некомплектном или незавершенном виде, в соответствии с решением таможенного органа о классификации товара в соответствии с ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RKTNVED" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код компонента машины в соответствии с ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommodityGroupItemDetails" type="RUDECLcat:CommodityGroupItemDetailsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Характеристика товаров в группе</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsLocationDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о месте нахождения товаров</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsLocationCode" type="clt_ru:Code2Type">
				<xs:annotation>
					<xs:documentation>Код места нахождения товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsOfficeCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код государства-члена, в котором находится таможенный орган места нахождения товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsLocationName" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование места нахождения товаров (железнодорожной станции, морского (речного) порта)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsControlZoneId" type="clt_ru:CustomsOfficeNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер (регистрационный номер) зоны таможенного контроля </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsLocationDocDetails" type="RUScat_ru:DocBaseV2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о документе (разрешение таможенного органа на временное хранение товаров)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegisterDocumentIdDetails" type="RUScat_ru:RegisterDocumentIdDetailsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Свидетельство о включении в реестр уполномоченных экономических операторов, свидетельство о включении в реестр владельцев складов временного хранения, документ (свидетельство), удостоверяющий регистрацию лица в качестве резидента (участника) свободной (специальной, особой) экономической зоны </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodLocationTransportMeansDetails" type="RUScat_ru:GoodLocationTransportMeansDetailsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о транспортном средстве в/на котором находятся товары</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnifiedAddressDetails" type="RUScat_ru:RUAddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес места нахождения товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsShipmentSubjectDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о получателе или отправителе товара</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:SubjectBranchDetailsType">
				<xs:sequence>
					<xs:element name="AEORegistryIdDetails" type="catESAD_cu:AEORegistryIdDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер свидетельства о включении в реестр уполномоченных экономических операторов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EqualIndicator" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак совпадения (несовпадения) сведений со сведениями о декларанте (заявителе): 1 - сведения совпадают</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExchangePostOfficeCode" type="clt_ru:Code6Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код учреждения обмена (подачи) международных почтовых отправлений</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SubjectAdditionalCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код особенности сведений о субъекте</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InformationSourceDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения об информационном источнике или информационном ресурсе</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="InformationSourceName" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование информационного ресурса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DetailsResourceId" type="RUSclt_ru:String2048Type">
				<xs:annotation>
					<xs:documentation>Ссылка на информационный ресурс</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EventDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата обращения к информационному ресурсу</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentDocumentType">
		<xs:annotation>
			<xs:documentation>Платежный документ</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="CustomsDocumentCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Кодовое обозначение вида документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="INN" type="clt_ru:INNIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ИНН</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PersonId" type="RUSclt_ru:PersonIdType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Уникальный идентификатор физического лица</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PaymentGuaranteeDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о предоставленном обеспечении уплаты таможенных пошлин, налогов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PaymentGuaranteeMethodCode" type="clt_ru:Code2Type">
				<xs:annotation>
					<xs:documentation>Код способа обеспечения уплаты таможенных пошлин, налогов</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GuaranteeAmount" type="RUScat_ru:AmountType">
				<xs:annotation>
					<xs:documentation>Сумма обеспечения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GuaranteeDocDetails" type="RUScat_ru:DocBaseV2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о документе, подтверждающем предоставление обеспечения исполнения обязанности по уплате таможенных и иных платежей</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INN" type="clt_ru:INNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ИНН юридического или физического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BankId" type="RUSclt_ru:BankIdType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор банка, используемый в платежных документах (платежное поручение, аккредитив)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PlaceDetailsType">
		<xs:annotation>
			<xs:documentation>Место</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PlaceName" type="RUSclt_ru:Name120Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование (название) места (географического пункта)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddressDetails" type="RUScat_ru:RUAddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес места</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PowerOfAttorneyDetailsType">
		<xs:annotation>
			<xs:documentation>Документ, удостоверяющий полномочия</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:DocBaseV2Type">
				<xs:sequence>
					<xs:element name="DocArchIdDetails" type="catESAD_cu:RFBasePresentedDocIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификаторы, присвоенные документу (сведениям) при размещении в хранилище электронных документов</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PrecedingDocDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о предшествующем документе</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LineId" type="clt_ru:Text40Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор записи о пердшествующем документе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrecedingDocumentModeCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код вида предшествующего документа в соответствии с классификатором видов документов</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrecedingDocumentName" type="clt_ru:DocumentNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование предшествующего документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsDocIdDetails" type="RUDECLcat:CustomDocIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер декларации на товары, транзитной декларации, заявления о выпуске товаров до подачи декларации на товары или заявления о совершении операций в отношении временно вывезенных транспортных средств международной перевозки, являющихся товарами, помещенными под таможенную процедуру временного ввоза (допуска)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTMDocDetails" type="RUDECLcat:DTMDocDetailsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер декларации на транспортное средство</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PIDocumentNumber" type="catESAD_cu:PIRegNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер предварительной информации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TIRIdDetails" type="RUDECLcat:TIRIdDetailsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер книжки МДП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherPrDocumentNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер иного предшествующего документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherPrDocumentDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата регистрации иного предшествующего документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrecedingDocumentGoodsNumeric" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара в предшествующем документе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrecedingGoodsDetails" type="RUDECLcat:PrecedingGoodsDetailsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о товаре, заявленные в предшествующем документе</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PrecedingDocumentCustomsType">
		<xs:annotation>
			<xs:documentation>Регистрационные данные таможенного предшествующего документа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PrecedingDocumentCustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код таможенного органа предшествующего документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrecedingDocumentDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Предшествующий документ - дата </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrecedingDocumentNumber" type="clt_ru:PrecedingDocumentNumberType">
				<xs:annotation>
					<xs:documentation>Предшествующий документ - регистрационный номер документа / номер документа при транзите</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PrecedingDocumentOtherType">
		<xs:annotation>
			<xs:documentation>Регистрационные данные иного предшествующего документа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocId" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Цифровое или буквенно-цифровое обозначение, присвоенное документу при его регистрации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocCreationDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата регистрации иного документа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PrecedingGoodsDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о товаре, заявленном в предшествующем документе</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PrcDocGoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код ТН ВЭД ЕАЭС, указанный в предшествующем документе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Масса нетто товара, использованного при изготовлении или вошедшего в состав декларируемого товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetWeight" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Масса товара нетто, указанная в предшествующем таможенном документе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsCost" type="clt_ru:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Таможенная стоимость товара, указанная в предшествующем документе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryGoodsQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Количество товара, использованного при изготовлении или вошедшего в состав декларируемого товара</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PresentedDocDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о представленном документе</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUDECLcat:BasePresentedDocDetailsType">
				<xs:sequence>
					<xs:element name="DocumentPresentingDetails" type="RUDECLcat:DocumentPresentingDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о фактическом представлении документа</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProcessingGoodsDeclarationType">
		<xs:annotation>
			<xs:documentation>Заявление на переработку товаров</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RateOutputGoods" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Норма выхода продуктов переработки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProcessingDoc" type="catESAD_cu:DocBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о предыдущем документе об условиях переработки </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsIdentificationMethod" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Способы идентификации ввезенных/вывезенных товаров в продуктах переработки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProcessingPlaceDetails" type="RUDECLcat:PlaceDetailsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Место совершения операций по переработке товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Substitute" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о замене иностранных товаров эквивалентными товарами</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Organization" type="RUScat_ru:SubjectDetailsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование лица, осуществляющего операции по переработке товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProcessingProduct" type="catESAD_cu:ProcessingGoodsType">
				<xs:annotation>
					<xs:documentation>Продукт переработки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WasteProducts" type="catESAD_cu:ProcessingGoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Отходы переработки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Heels" type="catESAD_cu:ProcessingGoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Остатки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProcessingOperationDetails" type="RUDECLcat:ProcessingOperationDetailsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Операция по переработке и способ ее совершения </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProcessingOperationDetailsType">
		<xs:annotation>
			<xs:documentation>Операция по переработке и способ ее совершения </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ProcessingOperationName" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Наименование операции по переработке</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProcessingOperationMethodText" type="RUSclt_ru:FreeText4000Type">
				<xs:annotation>
					<xs:documentation>Описание способа совершения операции по переработке</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegisterDocumentDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о документе, подтверждающем включение в реестр</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RegistrationNumberIdentifier" type="RUSclt_ru:Id25Type">
				<xs:annotation>
					<xs:documentation>Регистрационный номер лица, присвоенный ему при включении в реестр, или регистрационный номер документа о включении лица в реестр</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocCreationDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата подписания, утверждения или регистрации документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegisterDocumentCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип документа, подтверждающего включение юридического лица в реестр</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReregistrationCode" type="clt_ru:CodeVariable3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кодированное обозначение признака перерегистрации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код страны</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegisterDocumentIdDetailsType">
		<xs:annotation>
			<xs:documentation>Компоненты, представляющие сведения о номере свидетельства о включении юридического лица в реестр уполномоченных экономических операторов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CountryA2Code" type="clt_ru:CountryA2CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кодовое обозначение страны</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationNumberId" type="RUSclt_ru:Id25Type">
				<xs:annotation>
					<xs:documentation>Регистрационный номер лица, присвоенный ему при включении в реестр, или регистрационный номер документа о включении лица в реестр</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReregistrationCode" type="clt_ru:CodeVariable3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кодовое обозначение признака перерегистрации документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AEORegistryKindCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код типа свидетельства уполномоченного экономического оператора</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RepresentativeContractDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о договоре таможенного представителя с участником ВЭД</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:DocBaseV2Type">
				<xs:sequence>
					<xs:element name="DocArchIdDetails" type="catESAD_cu:RFBasePresentedDocIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификаторы, присвоенные документу (сведениям) при размещении в хранилище электронных документов</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SignatoryPersonDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о физическом лице, заполнившем (подписавшем) таможенный документ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SigningDetails" type="RUScat_ru:SigningDetailsType">
				<xs:annotation>
					<xs:documentation>Cведения о должностном лице, подписавшем документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SignatoryPersonIdentityDetails" type="RUDECLcat:SignatoryPersonIdentityDetailsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о документе, удостоверяющем личность лица, заполнившего (подписавшего) таможенный документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QualificationCertificate" type="clt_ru:CodeVariable6Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер квалификационного аттестата специалиста по таможенному оформлению</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PowerOfAttorneyDetails" type="RUDECLcat:PowerOfAttorneyDetailsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Документ, удостоверяющий полномочия</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SignatoryPersonIdentityDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о документе, удостоверяющем личность лица, заполнившего (подписавшего) таможенный документ</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:RUIdentityCardType">
				<xs:sequence>
					<xs:element name="DocArchIdDetails" type="catESAD_cu:RFBasePresentedDocIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификаторы, присвоенные документу (сведениям) при размещении в хранилище электронных документов</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SignatoryRepresentativeDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о таможенном представителе, заполнившем (подписавшем) таможенный документ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BrokerRegistryDocDetails" type="RUDECLcat:BrokerRegistryDocDetailsType">
				<xs:annotation>
					<xs:documentation>Сведения о включении лица в реестр таможенных представителей</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RepresentativeContractDetails" type="RUDECLcat:RepresentativeContractDetailsType">
				<xs:annotation>
					<xs:documentation>Договор таможенного представителя с декларантом (заявителем)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SignCertifPersonType">
		<xs:annotation>
			<xs:documentation>Сведения из сертификата электронной подписи</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:PersonBaseType">
				<xs:sequence>
					<xs:element name="RFOrganizationFeatures" type="cat_ru:RFOrganizationFeaturesType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификаторы организации / лица</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SNILS" type="clt_ru:Text40Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер СНИЛС</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrganizationName" type="clt_ru:NameType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Наименование организации </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SertifName" type="clt_ru:NameType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Лицо, на которое выдан сертификат (общее имя)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SimplePresentedDocDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о документе и (или) источнике информации</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:DocBaseType">
				<xs:sequence>
					<xs:element name="DocKindCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Кодовое обозначение вида документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AuthorityName" type="RUSclt_ru:Name300Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Полное наименование органа государственной власти государства-члена либо уполномоченной им организации, выдавшей документ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AuthorityId" type="clt_ru:CodeVariable20Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Строка символов, идентифицирующая государственный или межгосударственный орган (организацию), выдавший или утвердивший документ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InformationSourceDetails" type="RUDECLcat:InformationSourceDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения об информационном источнике или информационном ресурсе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LineId" type="clt_ru:Text40Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Уникальный идентификатор, используемый для целей однозначной ссылки на запись, или порядковый номер записи</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EDocCode" type="clt_ru:CodeVariable10Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Кодовое обозначение электронного документа (сведений) в соответствии с реестром структур электронных документов и сведений</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocArchIdDetails" type="catESAD_cu:RFBasePresentedDocIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификаторы, присвоенные документу (сведениям) при размещении в хранилище электронных документов</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TDGuaranteeType">
		<xs:annotation>
			<xs:documentation>Гарантия для ТД</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catESAD_cu:TDGuaranteeType">
				<xs:sequence>
					<xs:element name="GuaranteeAddress" type="RUScat_ru:RUAddressType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Адрес гаранта</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TIRIdDetailsType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер книжки МДП</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TIRSeries" type="clt_ru:Code2Type">
				<xs:annotation>
					<xs:documentation>Серия книжки МДП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TIRID" type="clt_ru:Code8Type">
				<xs:annotation>
					<xs:documentation>Номер книжки МДП</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
