XsltProcessor/xsd/5.21.0/RUSCommonLeafTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" targetNamespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" elementFormDefault="qualified" version="5.21.0.0">
	<xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Общие простые прикладные типы РФ</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="AddressTextType">
		<xs:annotation>
			<xs:documentation>Набор элементов адреса, представленных в свободной форме в виде текста. До 1000 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:TextCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Amount20point4Type">
		<xs:annotation>
			<xs:documentation>Число. Количество денежных единиц. Стоимость. От 0. Всего 20 цифр из них до 4 знаков после запятой</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:NumericCategoriesCust">
			<xs:fractionDigits value="4"/>
			<xs:totalDigits value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BankIdType">
		<xs:annotation>
			<xs:documentation>Строка символов, сформированная по правилам идентификации участников финансовых расчетов в национальной или международной платежной системе</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:IdentifierCategoriesCust">
			<xs:pattern value="[0-9]{9}|[A-Z]{6}[A-Z0-9]{2}|[A-Z]{6}[A-Z0-9]{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CityNameType">
		<xs:annotation>
			<xs:documentation>Название населенного пункта. До 120 символов. Текстовый</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:TextCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="120"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CommunicationChannelIdType">
		<xs:annotation>
			<xs:documentation>Строка символов, идентифицирующая канал связи (указание номера телефона, факса, адреса электронной почты и др.)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:IdentifierCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DistrictType">
		<xs:annotation>
			<xs:documentation>Наименование района (Наименование единицы административно-территориального деления второго уровня) от 1 до 120 символов. Текстовый</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:TextCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="120"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DurationType">
		<xs:annotation>
			<xs:documentation>Количество времени в единицах григорианского календаря, обозначенное одним или более элементами, но не началом и концом</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:duration"/>
	</xs:simpleType>
	<xs:simpleType name="EDocCodeType">
		<xs:annotation>
			<xs:documentation>Строка символов, представляющая краткое условное обозначение электронного документа (сведений) в соответствии с реестром структур электронных документов и сведений ЕЭК</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:CodeCategoriesCust">
			<xs:pattern value="R(\.[A-Z]{2}\.[A-Z]{2}\.[0-9]{2})?\.[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FreeText1000Type">
		<xs:annotation>
			<xs:documentation>Текстовое описание. До 1000 символов.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:TextCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FreeText4000Type">
		<xs:annotation>
			<xs:documentation>Текстовое описание. До 4000 символов.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:TextCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="4000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HouseType">
		<xs:annotation>
			<xs:documentation>Обозначение дома, корпуса, строения. До 120 символов. Текстовый</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:TextCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="120"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Id25Type">
		<xs:annotation>
			<xs:documentation>Строка символов, идентифицирующая объект, содержащая не более 25 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:IdentifierCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InfEnvelopeCodeType">
		<xs:annotation>
			<xs:documentation>Строка символов, представляющая краткое условное обозначение сообщения, передаваемого в рамках транзакции общего процесса в соответствии с реестром структур электронных документов и сведений ЕЭК</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:CodeCategoriesCust">
			<xs:pattern value="P\.[A-Z]{2}\.[0-9]{2}\.MSG\.[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LocationCodeType">
		<xs:annotation>
			<xs:documentation>Кодовое обозначение морского, речного порта, железнодорожной станции или аэропорта</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:CodeCategoriesCust">
			<xs:pattern value="[A-Z]{3}|[А-Я]{3}|[0-9A-Z]{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Name120Type">
		<xs:annotation>
			<xs:documentation>Слово или фраза, обозначающая отличительную особенность объекта, явления или процесса, содержащая не более 120 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:TextCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="120"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Name300Type">
		<xs:annotation>
			<xs:documentation>Слово или фраза, обозначающая отличительную особенность объекта, явления или процесса, содержащая не более 300 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:TextCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="300"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PersonIdType">
		<xs:annotation>
			<xs:documentation>Идентификатор физического лица. От 1 до до 20 символов. Текстовый</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:TextCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Quantity19point2Type">
		<xs:annotation>
			<xs:documentation>Количество . От 0. 2 знака после запятой. 19 цифр</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:NumericCategoriesCust">
			<xs:totalDigits value="19"/>
			<xs:minInclusive value="0"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Quantity24point8Type">
		<xs:annotation>
			<xs:documentation>Количество в единицах измерения. Всего до 24 цифр. 8 знаков после запятой</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:NumericCategoriesCust">
			<xs:minInclusive value="0"/>
			<xs:fractionDigits value="8"/>
			<xs:totalDigits value="24"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RegionType">
		<xs:annotation>
			<xs:documentation>Наименование региона (Наименование единицы административно-территориального деления первого уровня) от 1 до 120 символов. Текстовый</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:TextCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="120"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RiskProfileNumType">
		<xs:annotation>
			<xs:documentation>Порядковый номер профиля риска. От 5 до 6 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:CodeCategoriesCust">
			<xs:minLength value="5"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RoomType">
		<xs:annotation>
			<xs:documentation>Обозначение офиса или квартиры. До 120 символов. Текстовый</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:TextCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="120"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RUCurrencyRateType">
		<xs:annotation>
			<xs:documentation>Курс валюты. Всего 20 цифр. До 4 знаков после запятой</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:QuantityCategoriesCust">
			<xs:totalDigits value="20"/>
			<xs:minInclusive value="0"/>
			<xs:fractionDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RUIdentityCardCodeType">
		<xs:annotation>
			<xs:documentation>Код вида документа, удостоверяющего личность. Текстовый</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:CodeCategoriesCust">
			<xs:pattern value="(\d{2})|([A-Z]{2}\d{5})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StreetHouseType">
		<xs:annotation>
			<xs:documentation>Название улицы. До 120 символов. Текстовый</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:TextCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="120"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String2048Type">
		<xs:annotation>
			<xs:documentation>Текст от 1 до 2048 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:TextCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="2048"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TaxpayerIdType">
		<xs:annotation>
			<xs:documentation>Идентификатор субъекта в реестре налогоплательщиков страны регистрации налогоплательщика. От 1 до 20 символов. Текстовый</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:TextCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TemperatureMeasureType">
		<xs:annotation>
			<xs:documentation>Температура термической обработки в °С (Всего до 4 цифр. 1 знак после запятой)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:NumericCategoriesCust">
			<xs:totalDigits value="4"/>
			<xs:fractionDigits value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TerritoryCodeType">
		<xs:annotation>
			<xs:documentation>Код единицы административно-территориального деления. От 1 до 17 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:CodeCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text100Type">
		<xs:annotation>
			<xs:documentation>Символьные данные. До 100 символов. Текстовый</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:TextCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text10MB">
		<xs:annotation>
			<xs:documentation>Текстовая информация. До 10Мбайт</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10485760"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text32Type">
		<xs:annotation>
			<xs:documentation>Символьные данные. До 32 символов. Текстовый</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:TextCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text64Type">
		<xs:annotation>
			<xs:documentation>Символьные данные. До 64 символов. Текстовый</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:TextCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TownNameType">
		<xs:annotation>
			<xs:documentation>Название города. До 120 символов. Текстовый</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:TextCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="120"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TransportMeansRegIdNumberType">
		<xs:annotation>
			<xs:documentation>Строка символов, идентифицирующая транспортное средство</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:CodeCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UITNCode40Type">
		<xs:annotation>
			<xs:documentation>Код. Универсальный идентификационный таможенный номер. От 1 до 40 символов. Текстовый</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:IdentifierCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VehicleEPassportIdType">
		<xs:annotation>
			<xs:documentation>Номер паспорта транспортного средства (шасси транспортного средства, самоходной машины и других видов техники) в системах электронных паспортов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:CodeCategoriesCust">
			<xs:pattern value="[1-3][0-9]{3}0[1-4][0-9]{9}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
