XsltProcessor/xsd/5.17.0/WarehouseCommonLeafTypesCust.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:cltWH_ru="urn:customs.ru:Information:WarehouseDocuments:WarehouseCommonLeafTypesCust:5.16.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:WarehouseDocuments:WarehouseCommonLeafTypesCust:5.16.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.16.0.0">
	<xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Общие простые типы документов СВХ</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="CargoPlacesDescriptionType">
		<xs:annotation>
			<xs:documentation>Строковый тип для описания вида грузовых мест. До 250 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:TextCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ContainerSizeCodeType">
		<xs:annotation>
			<xs:documentation>Строковый тип кода размера контейнера в соответствии с ГОСТ 52524-2005. Два символа</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:CodeCategoriesCust">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ContainerKindCodeType">
		<xs:annotation>
			<xs:documentation>Строковый тип кода типа контейнера в соответствии с ГОСТ 52524-2005. Два символа</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:CodeCategoriesCust">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CustomDocumentState">
		<xs:annotation>
			<xs:documentation>Таможенный статус отчета</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:IdentifierCategoriesCust">
			<xs:enumeration value="ds_Editing"/>
			<xs:enumeration value="ds_Rebuilding"/>
			<xs:enumeration value="ds_OnInspect"/>
			<xs:enumeration value="ds_Registered"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CustomsGuaranty">
		<xs:annotation>
			<xs:documentation>Строковый тип для описания меры по обеспечению таможенного законодательства. До 80-ти символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:TextCategoriesCust">
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DO2ReportKind">
		<xs:annotation>
			<xs:documentation>РЕЗЕРВ - Вид отчета ДО2</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:IdentifierCategoriesCust">
			<xs:enumeration value="act_Delivery"/>
			<xs:enumeration value="act_WrittenOff"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FlightNumber">
		<xs:annotation>
			<xs:documentation>Номер авиа-рейса</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:TextCategoriesCust">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GoodMismatchKind">
		<xs:annotation>
			<xs:documentation>Перечислимый тип вида выявленного несоответствия товара товаросопроводительным документам:mism_ResortGood - Товар есть в наличии, но его характеристики не соответствуют заявленным в товаросопроводительных документах; mism_MissedGood - Товар был заявлен в товаросопроводительных документах, но отсутствует по факту; mism_ExtraGood - Дополнительный (лишний) товар, отсутствовавший в товаросопроводительных документах, но выявленный по факту.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:IdentifierCategoriesCust">
			<xs:enumeration value="mism_ResortGood"/>
			<xs:enumeration value="mism_MissedGood"/>
			<xs:enumeration value="mism_ExtraGood"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GoodMismatchStageType">
		<xs:annotation>
			<xs:documentation>Перечислимый тип этапа выявления несоответствия товара товаросопроводительным документам: mist_AtAcceptance - Несоответствие выявлено на этапе принятия товара; mist_AtKeeping - Несоответствие выявлено в процессе временного хранения товара.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:IdentifierCategoriesCust">
			<xs:enumeration value="mist_AtAcceptance"/>
			<xs:enumeration value="mist_AtKeeping"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MPOCaseNumType">
		<xs:annotation>
			<xs:documentation>Номер емкости, в которой находится МПО. Строковый тип. от 1 до 29 символов.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:CodeCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="29"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SVHGoodsNum">
		<xs:annotation>
			<xs:documentation>Cкладской номер товара от 1 до 255 символов. Текстовый.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:TextCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SVHPlaceType">
		<xs:annotation>
			<xs:documentation>Номер места, площадки, ангара,  зоны,  стеллажа,  ячейки. от 1 до 15 символов.  Текстовый.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:TextCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SeaEntryNumberType">
		<xs:annotation>
			<xs:documentation>Номер прихода/ухода для морского/речного судна</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:TextCategoriesCust">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WareHouseCertificateKind">
		<xs:annotation>
			<xs:documentation>Вид документа, на основании которого владелец СВХ осуществляет деятельность. lic_Certificate - Свидетельство о включении в реестр владельцев СВХ; lic_Licence - Лицензия владельца СВХ; lic_Permition - Разрешение ТО на временное хранение в ином месте; lic_PermZtk - Номер приказа о создании постоянной зоны таможенного контроля; lic_TempZtk - Номер приказа о создании временной зоны таможенного контроля.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:IdentifierCategoriesCust">
			<xs:enumeration value="lic_Certificate"/>
			<xs:enumeration value="lic_Licence"/>
			<xs:enumeration value="lic_Permition"/>
			<xs:enumeration value="lic_PermZtk"/>
			<xs:enumeration value="lic_TempZtk"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MPONumberTokenType">
		<xs:annotation>
			<xs:documentation>Строковый тип для номера МПО. До 20 символов. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:IdentifierCategoriesCust">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WareHouseOutputReasonIndicatorType">
		<xs:annotation>
			<xs:documentation>Перечислиммый тип основания для выдачи товаров</xs:documentation>
			<xs:documentation>Номер подпункта в соответствии c пунктом 11 Порядка при ВХ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:IdentifierCategoriesCust">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>Помещение товаров под таможенную процедуру, предусмотренную Таможенным кодексом</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation>Передача товаров в соответствии с главой 51 Федерального закона уполномоченному органу</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation>Отбор проб и образцов товаров</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation>Осуществление процессуальных действий в рамках производства по уголовным делам и делам об административных правонарушениях</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="5">
				<xs:annotation>
					<xs:documentation>Изменение места временного хранения товаров в соответствии с частью 8 статьи 90 Федерального закона</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="6">
				<xs:annotation>
					<xs:documentation>Наступление иных случаев, предусмотренных правом ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
