XsltProcessor/xsd/5.14.5/GTDoutCustomsMark.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.14.3" xmlns:catESAD_ru="urn:customs.ru:RUCommonAggregateTypes:5.14.3" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.10.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.14.3" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:goom="urn:customs.ru:Information:CustomsDocuments:GTDOutCustomsMark:5.14.3" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:GTDOutCustomsMark:5.14.3" elementFormDefault="qualified" version="5.14.3.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.10.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.14.3" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.14.3" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUCommonAggregateTypes:5.14.3" schemaLocation="RUESADCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Служебные отметки ДТ</xs:documentation>
  </xs:annotation>
  <xs:element name="GTDoutCustomsMark" type="goom:GTDoutCustomsMarkType" />
  <xs:complexType name="GTDoutCustomsMarkType">
    <xs:annotation>
      <xs:documentation>Служебные отметки ДТ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Comments" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Комментарий</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GTDDocumentID" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор ДТ к которой относятся служебные отметки (GUID).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GTDOutResolution" type="goom:GTDOutResolutionType">
            <xs:annotation>
              <xs:documentation>Принятые решения по ДТ.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GTDOutCommonMark" type="goom:GTDOutCommonMarkType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Служебные отметки ДТ </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GTDOutGoodsResolution" type="goom:GTDOutGoodsResolutionType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Служебные отметки и принятые решения по товарам.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GTDID" type="goom:DocNumberType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер основного документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AddID" type="goom:DocNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер связанного документа (Номер ДТ для указания в Заявлении о выпуске до подачи)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TechID" type="clt_ru:Text50Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Системный идентификатор</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006078E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="DocNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер исходного документа</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="AddNumber" type="clt_ru:Code2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дополнительная составляющая 3ей части номера (ОБ/ЗВ)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CustCostMethodType">
    <xs:annotation>
      <xs:documentation>Признак корректировки и метод определения таможенной стоимости (гр. 43 ДТ) </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCostCorrectMark" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак корректировки таможенной стоимости.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCostCorrectMethod" type="cltESAD_cu:CustomsCostAppraiseMethodType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер метода определения таможенной стоимости. Заполняется в соответствии с классификатором методов определения таможенной стоимости.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GTDOutCommonMarkType">
    <xs:annotation>
      <xs:documentation>Служебные отметки ДТ </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catESAD_ru:RUESADCommonOfficialMarkType">
        <xs:sequence>
          <xs:element name="StageDescription" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Описание этапа.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IdentifierDescription" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Описание типа примечания</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PaymentWayCode" type="clt_ru:Code2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код способа обеспечения уплаты в соответствии с классификатором способов обеспечения уплаты таможенных пошлин, налогов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GuaranteeFoundation" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Основание предоставления обеспечения уплаты таможенных  пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GTDOutGoodsMarkType">
    <xs:annotation>
      <xs:documentation>Служебные отметки по товарам.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catESAD_cu:ESADGoodsOfficialMarkType">
        <xs:sequence>
          <xs:element name="IdentifierDescription" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Описание технологической отметки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StageDescription" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Описание этапа.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Code" type="clt_ru:CodeVariable3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код основания продления срока выпуска товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GTDOutGoodsResolutionType">
    <xs:annotation>
      <xs:documentation>Служебные отметки и принятые решения по товарам.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count5Type">
        <xs:annotation>
          <xs:documentation>Номер товара по ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GTDOutGoodsResult" type="goom:GTDOutResolutionType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Принятые решения по товарам</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GTDOutGoodsMark" type="goom:GTDOutGoodsMarkType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Служебные отметки по товарам.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustCostMethod" type="goom:CustCostMethodType">
        <xs:annotation>
          <xs:documentation>Признак корректировки и метод определения таможенной стоимости (гр. 43 ДТ) </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GTDOutResolutionType">
    <xs:annotation>
      <xs:documentation>Принятые решения по ДТ / товарам.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catESAD_ru:RUESADDecisionType">
        <xs:sequence>
          <xs:element name="ResolutionDescription" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Описание принятого решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonName" type="clt_ru:NameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ФИО должностного лица таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>