XsltProcessor/xsd/5.14.5/PTDExpressGoodsPayInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Решение Коллегии ЕЭК от 20.11.2018 № 185  -->
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.10.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.14.3" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:PTDEGP="urn:customs.ru:Information:CustomsDocuments:PTDExpressGoodsPayInfo:5.14.3" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:PTDExpressGoodsPayInfo:5.14.3" elementFormDefault="qualified" version="5.14.3.0">
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.10.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.14.3" schemaLocation="CUESADCommonLeafTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Документ об уплате таможенных пошлин, налогов в отношении товаров для личного пользования, таможенное декларирование которых осуществляется с использованием пассажирской таможенной декларации для экспресс-грузов</xs:documentation>
	</xs:annotation>
	<xs:element name="PTDExpressGoodsPayInfo" type="PTDEGP:PTDExpressGoodsPayInfoType">
		<xs:annotation>
			<xs:documentation>Документ об уплате таможенных пошлин, налогов в отношении товаров для личного пользования, таможенное декларирование которых осуществляется с использованием пассажирской таможенной декларации для экспресс-грузов</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PTDExpressGoodsPayInfoType">
		<xs:annotation>
			<xs:documentation>Документ об уплате таможенных пошлин, налогов в отношении товаров для личного пользования, таможенное декларирование которых осуществляется с использованием пассажирской таможенной декларации для экспресс-грузов</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="PassDTNumberDetails" type="cat_ru:GTDIDType">
						<xs:annotation>
							<xs:documentation>Регистрационный номер пассажирской таможенной декларации для экспресс-грузов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WayBillPaymentDetails" type="PTDEGP:WayBillPaymentDetailsType" minOccurs="1" maxOccurs="500">
						<xs:annotation>
							<xs:documentation>Исчисление платежей по индивидуальным накладным</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentAmountDetails" type="PTDEGP:PaymentAmountDetailsType" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Всего платежей по пассажирской таможенной декларации для экспересс-грузов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FactPaymentDetails" type="PTDEGP:FactPaymentDetailsType" minOccurs="1" maxOccurs="500">
						<xs:annotation>
							<xs:documentation>Подробности уплаты (взыскания)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006276E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="CustomsReceiptRegNumberType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер таможенной расписки</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:GTDIDType">
				<xs:sequence>
					<xs:element name="DocNumberPrefix" type="clt_ru:Code2Type">
						<xs:annotation>
							<xs:documentation>Префикс порядкового номера таможенной расписки</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FactPaymentDetailsType">
		<xs:annotation>
			<xs:documentation>Подробности уплаты (взыскания)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="WayBill" type="PTDEGP:WayBillType">
				<xs:annotation>
					<xs:documentation>Сведения об индивидуальной накладной</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WayBillFactPaymentDetails" type="PTDEGP:WayBillFactPaymentDetailsType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Подробности уплаты (взыскания) по индивидуальной накладной</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentAmountDetailsType">
		<xs:annotation>
			<xs:documentation>Всего платежей по пассажирской таможенной декларации для экспересс-грузов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PaymentModeCode" type="clt_ru:CustomsPaymentCodeType">
				<xs:annotation>
					<xs:documentation>Код вида платежа в соответствии с Классификатором видов таможенных и иных платежей</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Amount" type="clt_ru:AmountType">
				<xs:annotation>
					<xs:documentation>Сумма, подлежащая уплате</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentDetailsType">
		<xs:annotation>
			<xs:documentation>Исчисление платежей по видам платежа в индивидуальной накладной</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PaymentName" type="clt_ru:CustomsPaymentCodeType">
				<xs:annotation>
					<xs:documentation>Код вида платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxBase" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>База для исчисления сборов (в РФ не заполняется)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Rate" type="PTDEGP:RateType">
				<xs:annotation>
					<xs:documentation>Ставка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FactPaidAmount" type="clt_ru:AmountType">
				<xs:annotation>
					<xs:documentation>Сумма платежа, подлежащая уплате (рублей)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RateType">
		<xs:annotation>
			<xs:documentation>Ставка платежа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CurrencyRate" type="clt_ru:CurrencyRateType">
				<xs:annotation>
					<xs:documentation>Курс валюты ставки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RateUseDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата применения курса валюты и ставки таможенного платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WeighQuantity" type="clt_ru:Quantity14point2Type">
				<xs:annotation>
					<xs:documentation>Общий вес товаров (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OverWeighQuantity" type="clt_ru:Quantity14point2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Размер превышения нормы по весу товаров (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RateWeigh" type="cltESAD_cu:RateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Размер ставки за превышение веса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentWeigh" type="clt_ru:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Размер платежа за превышение веса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cost" type="clt_ru:AmountType">
				<xs:annotation>
					<xs:documentation>Стоимость товаров в валюте покупки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CostCurrencyCode" type="clt_ru:CurrencyN3CodeType">
				<xs:annotation>
					<xs:documentation>Цифровой код валюты покупки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CostRate" type="clt_ru:AmountType">
				<xs:annotation>
					<xs:documentation>Стоимость товаров в валюте ставки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OverCost" type="clt_ru:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Размер превышения нормы по стоимости товаров (в валюте ставки)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RateCost" type="cltESAD_cu:RateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Размер ставки за превышение стоимости</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentCost" type="clt_ru:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Размер платежа за превышение стоимости</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxBaseKind" type="clt_ru:DigitalIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип использованной основы начисления (0 - по стоимости, 1-по весу)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WayBillFactPaymentDetailsType">
		<xs:annotation>
			<xs:documentation>Подробности уплаты (взыскания) по индивидуальной накладной</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PaymentName" type="clt_ru:CustomsPaymentCodeType">
				<xs:annotation>
					<xs:documentation>Код вида платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FactPaidAmount" type="clt_ru:AmountType">
				<xs:annotation>
					<xs:documentation>Уплаченная (взысканная) сумма</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyN3Code" type="clt_ru:CurrencyN3CodeType">
				<xs:annotation>
					<xs:documentation>Цифровой код валюты уплаты (взыскания) платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер документа, подтверждающего уплату (взыскание) платежа (для РФ указывается "00") </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата документа, подтверждающего уплату (взыскание) платежа (для РФ указывается "00")</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentWayCode" type="cltESAD_cu:PaymentWayCodeType">
				<xs:annotation>
					<xs:documentation>Способ уплаты платежа </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrganizationFeatures" type="cat_ru:RFOrganizationFeaturesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Налоговый номер лица, уплатившего (с которого взысканы) таможенные платежи, пени</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsReceiptRegNumber" type="PTDEGP:CustomsReceiptRegNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о внесенном обеспечениии (регистрационный номер таможенной расписки)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WayBillPaymentDetailsType">
		<xs:annotation>
			<xs:documentation>Исчисление платежей по индивидуальным накладным</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="WayBill" type="PTDEGP:WayBillType">
				<xs:annotation>
					<xs:documentation>Сведения об индивидуальной накладной</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentDetails" type="PTDEGP:PaymentDetailsType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Исчисление платежей по видам платежа в индивидуальной накладной</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WayBillPaymentAmountDetails" type="PTDEGP:PaymentAmountDetailsType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Всего платежей по индивидуальной накладной</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WayBillType">
		<xs:annotation>
			<xs:documentation>Сведения о накладной</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="ObjectOrdinal" type="clt_ru:Count3Type">
						<xs:annotation>
							<xs:documentation>Порядковый номер накладной</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PresentedDocumentModeCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код вида представляемого документа. Заполняется в соответствии с классификатором видов документов</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
