XsltProcessor/xsd/5.25.0/CustomsValueUsagePrelimDecision.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Приказ Минфина России № 111н от 18 июля 2022 года "Об установлении Порядка принятия и выдачи предварительного решения по вопросам применения методов определения таможенной стоимости товаров, ввозимых в Российскую Федерацию, а также принятия решения о прекращении действия предварительного решения"-->
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:cvua="urn:customs.ru:Information:ExchangeDocuments:CustomsValueUsagePrelimDecision:5.25.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:ExchangeDocuments:CustomsValueUsagePrelimDecision:5.25.0" elementFormDefault="qualified" version="5.25.0">
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:annotation>
		<xs:documentation>Предварительное решение / отказ в принятии предварительного решения / отказ в рассмотрении заявления о принятии предварительного решения / решение о прекращении действия предварительного решения по применению методов определения таможенной стоимости товаров, ввозимых в Российскую Федерацию</xs:documentation>
	</xs:annotation>
	<xs:element name="CustomsValueUsagePrelimDecision" type="cvua:CustomsValueUsagePrelimDecisionType">
		<xs:annotation>
			<xs:documentation>Предварительное решение / отказ в принятии предварительного решения / отказ в рассмотрении заявления о принятии предварительного решения / решение о прекращении действия предварительного решения по применению методов определения таможенной стоимости товаров, ввозимых в Российскую Федерацию</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CustomsValueUsagePrelimDecisionType">
		<xs:annotation>
			<xs:documentation>Предварительное решение / отказ в принятии предварительного решения / отказ в рассмотрении заявления о принятии предварительного решения / решение о прекращении действия предварительного решения по применению методов определения таможенной стоимости товаров, ввозимых в Российскую Федерацию</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="DecisionKind" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Вид решения: 0 - первоначальное, 1 - новое (взамен ранее принятого)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:choice minOccurs="1">
						<xs:element name="PreliminaryDecisionInfo" type="cvua:PrelimDecisionType">
							<xs:annotation>
								<xs:documentation>Сведения о принятом предварительном решении</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RefusalPreliminaryDecisionInfo" type="cvua:RefusalPrelimDecisionType">
							<xs:annotation>
								<xs:documentation>Уведомление об отказе в принятии предварительного решения по применению методов определения таможенной стоимости товаров, ввозимых в Российскую Федерацию</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CancelPreliminaryDecisionInfo" type="cvua:CancellationPrelimDecisionType">
							<xs:annotation>
								<xs:documentation>Решение о прекращении действия предварительного решения</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RejectConsiderPrelimDecisionInfo" type="cvua:NotifRejectConsiderPrelimDecisionType">
							<xs:annotation>
								<xs:documentation>Уведомление об отказе в рассмотрении заявления о принятии предварительного решения</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:element name="Customs" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Уполномоченный таможенный орган, принявший решение / направивший уведомление</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrganizationInfo" type="cvua:AppOrganizationInfoType">
						<xs:annotation>
							<xs:documentation>Сведения об организации-заявителе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodInfo" type="cvua:GoodInfoType" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Товар</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsPersonInfo" type="cat_ru:PersonBaseType">
						<xs:annotation>
							<xs:documentation>Должностное лицо таможенного органа, принявшее решение / направившее уведомление</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Notes" type="clt_ru:FreeText500Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Для служебных отметок</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1004161E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="ApplicationNumberType">
		<xs:annotation>
			<xs:documentation>Номер заявления о принятии предварительного решения</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AppDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата заявления</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AppSerialNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Исходящий номер заявления</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ApplicationRegNumber" type="cat_ru:GTDID6Type">
				<xs:annotation>
					<xs:documentation>Регистрационный номер заявления</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AppOrganizationInfoType">
		<xs:annotation>
			<xs:documentation>Сведения об организации-заявителе</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:SubjectDetailsType">
				<xs:sequence>
					<xs:element name="FactAddressDetails" type="RUScat_ru:RUAddressType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Место нахождения юридического лица</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PassRFExistsIndicator" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Наличие паспорта РФ</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AttachedDocumentType">
		<xs:annotation>
			<xs:documentation>Информация о прилагаемом документе</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="DocCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код вида документа (заполняется в соответствии с классификатором видов документов, используемых при заявлении сведений в графе 44 ДТ)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ArchID" type="clt_ru:DocumentIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Уникальный идентификатор архива декларанта</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ArchDocID" type="clt_ru:DocumentIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Уникальный идентификатор документа в архиве</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CancellationPrelimDecisionType">
		<xs:annotation>
			<xs:documentation>Решение о прекращении действия предварительного решения</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CancellationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата решения о прекращении действия предварительного решения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CancelDecisionRegNumber" type="cvua:DecisionRegNumberType">
				<xs:annotation>
					<xs:documentation>Регистрационный номер предварительного решения, действие которого прекращается</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CancellationReason" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Основание и причины принятия решения о прекращении действия предварительного решения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartCancelDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата вступления в силу решения о прекращении действия предварительного решения</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DecisionRegNumberType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер предварительного решения</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата регистрации документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SerialNumber" type="clt_ru:Code6Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер документа по журналу регистрации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddNumber" type="clt_ru:Code2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Порядковый номер вносимых изменений</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о товаре</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsShortName" type="clt_ru:FreeText500Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Краткое наименование товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TradeMark" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Объект интеллектуальной собственности</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsMark" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование марки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsModel" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование модели товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsMarking" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор вида товара или артикул товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsStandard" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование стандарта (международного, межгосударственного, государственного, отраслевого или организации) или технических условий на товар </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsSort" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование сорта / сорт или группа сортов (для лесо- и пиломатериалов)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NotifRejectConsiderPrelimDecisionType">
		<xs:annotation>
			<xs:documentation>Уведомление об отказе в рассмотрении заявления о принятии предварительного решения по применению методов определения таможенной стоимости товаров, ввозимых в Российскую Федерацию</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NotifDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата уведомления об отказе в рассмотрении заявления о принятии предварительного решения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ApplicationNumber" type="cvua:ApplicationNumberType">
				<xs:annotation>
					<xs:documentation>Номер, дата и регистрационный номер заявления</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RejectConsiderReason" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Основание и причины принятия решения об отказе в рассмотрении заявления о принятии предварительного решения</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PrelimDecisionType">
		<xs:annotation>
			<xs:documentation>Сведения о принятом предварительном решении</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DecisionRegNumber" type="cvua:DecisionRegNumberType">
				<xs:annotation>
					<xs:documentation>Регистрационный номер предварительного решения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ApplicationNumber" type="cvua:ApplicationNumberType">
				<xs:annotation>
					<xs:documentation>Номер, дата и регистрационный номер заявления</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpirationDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата окончания срока действия предварительного решения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DecisionReason" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Обоснование принятого предварительного решения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ForeignPurchaseAgreementInfo" type="cat_ru:DocumentBaseType">
				<xs:annotation>
					<xs:documentation>Номер и дата внешнеэкономического договора купли-продажи (договора поставки)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ForeignPurchaseAttachments" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Приложения к внешнеэкономическому договору купли-продажи (договору поставки)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LicenseAgreementInfo" type="cat_ru:DocumentBaseType">
				<xs:annotation>
					<xs:documentation>Сведения о лицензионном договоре (соглашении), сублицензионном договоре (соглашении), договоре коммерческой концессии (франчайзинга), договоре коммерческой субконцессии (субфранчайзинга) либо ином виде договора, которым урегулированы договорные отношения между лицензиатом и правообладателем (лицензиаром)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LicenseAttachments" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Приложения к Лицензионному договору</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsCostMethod" type="clt_ru:DigitalIndicatorType">
				<xs:annotation>
					<xs:documentation>Код метода определения таможенной стоимости. В соответствии с классификатором методов определения таможенной стоимости</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AttachedDocuments" type="cvua:AttachedDocumentType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Перечень документов и (или) сведений, в том числе письменных пояснений, представленных заявителем</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RefusalPrelimDecisionType">
		<xs:annotation>
			<xs:documentation>Уведомление об отказе в принятии предварительного решения по применению методов определения таможенной стоимости товаров, ввозимых в Российскую Федерацию</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RefusalDecisionDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата уведомления об отказе в принятии предварительного решения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ApplicationNumber" type="cvua:ApplicationNumberType">
				<xs:annotation>
					<xs:documentation>Номер, дата и регистрационный номер заявления</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RefusalDecisionReason" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Основание и причины принятия решения об отказе в принятии предварительного решения</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
