XsltProcessor/xsd/5.25.0/CustomsValueConsultationDecision.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Приказ Минфина России № 110н от 18 июля 2022 года "Об установлении Порядка проведения консультаций между таможенным органом и декларантом в целях обоснованного выбора стоимостной основы для определения таможенной стоимости ввозимых товаров в Российскую Федерацию, соответствующей статьям 41 и 42 Таможенного кодекса Евразийского экономического союза"-->
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:dcvc="urn:customs.ru:Information:ExchangeDocuments:CustomsValueConsultationDecision:5.25.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:ExchangeDocuments:CustomsValueConsultationDecision:5.25.0" elementFormDefault="qualified" version="5.25.0">
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:annotation>
		<xs:documentation>Решение / Отказ по заявлению на оказание консультации в целях выбора стоимостной основы для определения таможенной стоимости ввозимых товаров / Решение о прекращении действия выданного документа</xs:documentation>
	</xs:annotation>
	<xs:element name="CustomsValueConsultationDecision" type="dcvc:CustomsValueConsultationDecisionType">
		<xs:annotation>
			<xs:documentation>Решение / Отказ по заявлению на оказание консультации в целях выбора стоимостной основы для определения таможенной стоимости ввозимых товаров / Решение о прекращении действия выданного документа</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CustomsValueConsultationDecisionType">
		<xs:annotation>
			<xs:documentation>Решение / Отказ по заявлению на оказание консультации в целях выбора стоимостной основы для определения таможенной стоимости ввозимых товаров / Решение о прекращении действия выданного документа</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:choice minOccurs="1">
						<xs:element name="ConsultationDecisionInfo" type="dcvc:ConsultationDecisionType">
							<xs:annotation>
								<xs:documentation>Решение по заявлению на оказание консультации</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RefusalConsultationInfo" type="dcvc:RefusalConsultationType">
							<xs:annotation>
								<xs:documentation>Отказ по заявлению на оказание консультации</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CancellationDocumentInfo" type="dcvc:CancellationDocumentType">
							<xs:annotation>
								<xs:documentation>Решение о прекращении действия выданного документа</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:element name="OrganizationInfo" type="dcvc:AppOrganizationInfoType">
						<xs:annotation>
							<xs:documentation>Сведения об организации-заявителе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Customs" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Таможенный орган, принявший решение</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsPersonInfo" type="cat_ru:PersonBaseType">
						<xs:annotation>
							<xs:documentation>Сведения о должностном лице таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsChiefPersonInfo" type="cat_ru:PersonBaseType" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Сведения о начальнике уполномоченного таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Notes" type="clt_ru:FreeText500Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Комментарии</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1004159E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="ApplicationNumberType">
		<xs:annotation>
			<xs:documentation>Номер заявления на оказание консультации в целях выбора стоимостной основы для определения таможенной стоимости ввозимых товаров</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AppDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата заявления</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AppSerialNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Исходящий номер заявления</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ApplicationRegNumber" type="dcvc:DecisionRegNumberType">
				<xs:annotation>
					<xs:documentation>Регистрационный номер заявления</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AppOrganizationInfoType">
		<xs:annotation>
			<xs:documentation>Сведения об организации-заявителе</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:SubjectDetailsType">
				<xs:sequence>
					<xs:element name="FactAddressDetails" type="RUScat_ru:RUAddressType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Место нахождения юридического лица</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PassRFExistsIndicator" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Наличие паспорта РФ</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CancellationDocumentType">
		<xs:annotation>
			<xs:documentation>Решение о прекращении действия выданного документа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CancelDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата решения о прекращении действия выданного документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CancelDecisionRegNumber" type="dcvc:DecisionRegNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер прекращаемого решения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CancelReason" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Причины прекращения действия выданного в результате проведения консультации документа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConsultationDecisionType">
		<xs:annotation>
			<xs:documentation>Сведения о принятом решении по заявлению на оказание консультации в целях выбора стоимостной основы для определения таможенной стоимости ввозимых товаров</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DecisionRegNumber" type="dcvc:DecisionRegNumberType">
				<xs:annotation>
					<xs:documentation>Регистрационный номер решения по заявлению на оказание консультации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ApplicationNumber" type="dcvc:ApplicationNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер, дата и регистрационный номер заявления</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PagesNumber" type="clt_ru:Quantity3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество страниц таблицы информации об идентичных / однородных товарах</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsTypeIndicator" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип товара (1 – Идентичные, 0 – Однородные)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdenticalHomogeneousGoodsInfo" type="dcvc:IdenticalHomogeneousGoodItemType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Информация о ввозимом и об идентичном / однородном товарах</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CountryInfoType">
		<xs:annotation>
			<xs:documentation>Информация о стране</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Буквенный код страны в соответствии с классификатором стран мира</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CounryName" type="clt_ru:CountryNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Краткое название страны в соответствии с классификатором стран мира</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DecisionRegNumberType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер документа по результатам консультации</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата регистрации документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SerialNumber" type="clt_ru:Code4Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер документа по журналу регистрации</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeliveryTermsImportIdentType">
		<xs:annotation>
			<xs:documentation>Вид транспорта, условия поставки товаров</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ImportedDeliveryTerms" type="dcvc:DeliveryTermsType">
				<xs:annotation>
					<xs:documentation>Вид транспорта, условия поставки ввозимого товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentHomogenDeliveryTerms" type="dcvc:DeliveryTermsType">
				<xs:annotation>
					<xs:documentation>Вид транспорта, условия поставки идентичного/однородного товара</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeliveryTermsType">
		<xs:annotation>
			<xs:documentation>Вид транспорта и условия поставки</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TransportKind" type="clt_ru:FreeText500Type">
				<xs:annotation>
					<xs:documentation>Вид транспортного средства международной перевозки, на котором товары прибыли на таможенную территорию ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeliveryTermsCode" type="clt_ru:IncotermsDeliveryStringCodeType">
				<xs:annotation>
					<xs:documentation>Код условий поставки в соответствии с классификатором условий поставки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeliveryPlace" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование географического пункта</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodNameImportIdentType">
		<xs:annotation>
			<xs:documentation>Наименование товара</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ImportedGoodName" type="clt_ru:FreeText500Type">
				<xs:annotation>
					<xs:documentation>Наименование ввозимого товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentHomogenGoodName" type="clt_ru:FreeText500Type">
				<xs:annotation>
					<xs:documentation>Наименование идентичного/однородного товара</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdenticalHomogeneousGoodItemType">
		<xs:annotation>
			<xs:documentation>Сведения об идентичных / однородных товарах</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PurchaseAgreement" type="cat_ru:DocumentBaseType">
				<xs:annotation>
					<xs:documentation>Договор (контракт) купли - продажи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodName" type="dcvc:GoodNameImportIdentType">
				<xs:annotation>
					<xs:documentation>Наименование товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryOrigin" type="dcvc:CountryInfoType">
				<xs:annotation>
					<xs:documentation>Страна происхождения товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Manufacturer" type="dcvc:ManufacturerImportIdentType">
				<xs:annotation>
					<xs:documentation>Наименование производителя (изготовителя) товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GrossWeightQuantity" type="dcvc:WeightImportIdentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес товара, брутто (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetWeightQuantity" type="dcvc:WeightImportIdentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес товара, нетто (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplQuantity" type="dcvc:QuantityImportIdentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeliveryTerms" type="dcvc:DeliveryTermsImportIdentType">
				<xs:annotation>
					<xs:documentation>Вид транспорта, условия поставки товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsCost" type="clt_ru:AmountType">
				<xs:annotation>
					<xs:documentation>Таможенная стоимость идентичного/ однородного товара, руб.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InfoSource" type="dcvc:InfoSourceType">
				<xs:annotation>
					<xs:documentation>Источник информации об идентичном/ однородном товаре товаре</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodNote" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Примечение</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InfoSourceType">
		<xs:annotation>
			<xs:documentation>Источник информации</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DTRegNumber" type="cat_ru:GTDIDType">
				<xs:annotation>
					<xs:documentation>Номер ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Номер товара по ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ManufacturerImportIdentType">
		<xs:annotation>
			<xs:documentation>Производитель (изготовитель) товара</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ImportedManufacturer" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Производитель (изготовитель) ввозимого товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentHomogenManufacturer" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Производитель (изготовитель) идентичного/однородного товара</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QuantityImportIdentType">
		<xs:annotation>
			<xs:documentation>Количество товаров в единице измерения</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ImportedSupplQuantity" type="cat_ru:SupplementaryQuantityType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Количество ввозимого товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentHomogenSupplQuantity" type="cat_ru:SupplementaryQuantityType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Количество идентичного/однородного товара</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RefusalConsultationType">
		<xs:annotation>
			<xs:documentation>Отказ по заявлению на оказание консультации в целях выбора стоимостной основы для определения таможенной стоимости ввозимых товаров</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DecisionRegNumber" type="dcvc:DecisionRegNumberType">
				<xs:annotation>
					<xs:documentation>Регистрационный номер решения об отказе по заявлению на оказание консультации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ApplicationNumber" type="dcvc:ApplicationNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер, дата и регистрационный номер заявления</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RefusalReason" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Причины отказа по заявлению на оказание консультации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RefusalDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Информация предоставляется на дату</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WeightImportIdentType">
		<xs:annotation>
			<xs:documentation>Вес товара</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ImportedWeight" type="clt_ru:QuantityBasisType">
				<xs:annotation>
					<xs:documentation>Вес ввозимого товара (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentHomogenWeight" type="clt_ru:QuantityBasisType">
				<xs:annotation>
					<xs:documentation>Вес идентичного/однородного товара (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
