XsltProcessor/xsd/5.25.0/DecisionClassGoodOut.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Проект приказа ФТС России "Об утверждении формы решения о классификации товара в соответствии с единой Товарной номенклатурой внешнеэкономической деятельности Евразийского экономического союза, формы решения об изменении решения о классификации товара в соответствии с единой Товарной номенклатурой внешнеэкономической деятельности Евразийского экономического союза, порядков их заполнения, а также порядков и сроков принятия указанных решений" 
Приложение №1 (DCGType=0) 
Приказ ФТС России от 31.01.2019 №156 "Об утверждении формы решения о классификации товара в соответствии с единой Товарной номенклатурой внешнеэкономической деятельности Евразийского экономического союза, 
формы решения об изменении решения о классификации товара в соответствии с единой Товарной номенклатурой внешнеэкономической деятельности Евразийского экономического союза, порядков их заполнения, а также 
порядков и сроков принятия указанных решений" 
Приложение №1 (DCGType=1)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.24.0" xmlns:dco="urn:customs.ru:Information:CustomsDocuments:DecisionClassGoodOut:5.24.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:DecisionClassGoodOut:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.24.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Решение о классификации товара в соответствии с единой Товарной номенклатурой внешнеэкономической деятельности Евразийского экономического союза в адрес декларанта</xs:documentation>
  </xs:annotation>
  <xs:element name="DecisionClassGoodOut" type="dco:DecisionClassGoodOutType">
    <xs:annotation>
      <xs:documentation>Решение о классификации товара в соответствии с единой Товарной номенклатурой внешнеэкономической деятельности Евразийского экономического союза в адрес декларанта</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DecisionClassGoodOutType">
    <xs:annotation>
      <xs:documentation>Решение о классификации товара в соответствии с единой Товарной номенклатурой внешнеэкономической деятельности Евразийского экономического союза в адрес декларанта</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DCGOType" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Форма документа: 0 - новая; 1 - старая</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TNVEDCode" type="dco:GoodsNomenclatuerCodeType">
            <xs:annotation>
              <xs:documentation>Скорректированный код товара по ТН ВЭД ЕАЭС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Mark" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Служебные отметки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReasonCode" type="clt_ru:CodeVariable2Type">
            <xs:annotation>
              <xs:documentation>Код основания для принятия решения:  1 - в порядке ведомственного контроля (может быть только для этапа с кодом «1»);
3 - в результате применения профиля риска (на основании полученного экспертного заключения) (может быть только для этапов с кодами «О» и «2»);
4 - на основании поручения вышестоящих таможенных органов (может быть для всех этапов);
5 - в связи с представлением декларантом после выпуска товаров документов, выданных федеральными органами исполнительной власти, либо обращением декларанта о смене кода товаров, декларированных в субпозициях TH ВЭД ЕАЭС, предназначенных для классификации товаров для промышленной сборки моторных транспортных средств товарных позиций 8701 - 8705 TH ВЭД ЕАЭС. их узлов и агрегатов (может быть только для этапа с кодом «1»);
6 - на основании дополнительно запрошенных товаросопроводительных, коммерческих, технических документов (за исключением экспертного заключения и документов федеральных органов исполнительной власти) (может быть для всех этапов);
7 - в результате применения профиля риска (за исключением экспертного заключения) (может быть только для этапа с кодом «О»);
9 - прочие основания (в программном средстве обеспечена возможность указания конкретного основания принятия решения о классификации товара в комментарии) (может быть для всех этапов).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionClass" type="dco:DecisionClassType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Обоснование принятия Решения о классификации товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="dco:CustomsType">
            <xs:annotation>
              <xs:documentation>Наименование таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Declarant" type="dco:DeclarantType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Декларант</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistrationNumber" type="dco:RegistrationNumberType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Goods" type="dco:GoodsType">
            <xs:annotation>
              <xs:documentation>Товар</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonSignature" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Подпись должностного лица таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Person" type="cat_ru:PersonBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Отвественное лицо</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExpertDecision" type="dco:ExpertDecisionType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Заключение экспертной организации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AddList" type="clt_ru:Quantity3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество дополнительных листов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApplicationCount" type="clt_ru:Quantity3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество приложений</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PreviousDecision" type="dco:PreviousDecisionType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Информация о ранее принятом Решении, которое не подлежит применению</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OtherRegistrationNumber" type="dco:RegistrationNumberType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Регистрационный номер другого Решения, если было принято решение, что заявленный товар классифицируется в нескольких кодах ТН ВЭД ЕАЭС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Application" type="dco:ApplicationType" minOccurs="0" maxOccurs="20">
            <xs:annotation>
              <xs:documentation>Тексты дополнений</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006279E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ApplicationType">
    <xs:annotation>
      <xs:documentation>Дополнения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ApplicationNum" type="clt_ru:Count2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер дополнения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ApplicationText" type="clt_ru:Text3MB" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Текстдополнения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsType">
    <xs:annotation>
      <xs:documentation>Код и наименование таможенного органа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Code" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OfficeName" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DecisionClassType">
    <xs:annotation>
      <xs:documentation>Обоснование принятия Решения (пункт 8)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="InterpretationRulesCode" type="clt_ru:CodeVariable20Type">
        <xs:annotation>
          <xs:documentation>Код основных правил интерпретации ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InterpretationRules" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Основные правила интерпретации ТН ВЭД ЕАЭС, в соответствии с которыми принято решение</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReasonDesc" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание основания для принятия решения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DepartmentalControl" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Решение принято по результатам проверки таможенных, иных документов и (или) сведений</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsControl" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Решение принято по результатам таможенной проверки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspectionType" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Решение принято по результатам: 1 - проверки таможенных, иных документов и (или) сведений; 2 - таможенной проверки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspectionDetails" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Реквизиты акта проверки таможенных, иных документов и (или) сведений по результатам которой принято Решение</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ActCustomsDetails" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Реквизиты акта таможенной проверки, по результатам которой принято Решение</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeclarantType">
    <xs:annotation>
      <xs:documentation>Декларант</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType">
        <xs:sequence minOccurs="0">
          <xs:element name="SeparateDivision" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения об обособленном подразделении, не являющемся юридическим лицом и выступающим от имени юридического лица</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DTListType">
    <xs:annotation>
      <xs:documentation>Перечень деклараций, по которым принято решение</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RecNum" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер записи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DTKind" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип декларации: Г - Декларация на товары; З - Заявления и перечни; Э -  декларация на товары для экспресс-грузов; П -  пассажирская таможенная декларация для экспресс-грузов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DTNum" type="cat_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер декларации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProcedureID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор  процедуры декларирования</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Numeric_TNVEDCode" type="dco:Numeric_TNVEDCodeType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о номере товара по ДТ и заявленном коде товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExpertDecisionType">
    <xs:annotation>
      <xs:documentation>Обоснование принятия решения. Заключение экспертной организации</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="ExpertOrganization" type="clt_ru:NameType">
            <xs:annotation>
              <xs:documentation>Наименование экспертной организации</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Товар</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsClassificationCode" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак принадлежности к товарам списка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdditionalInformation" type="RUSclt_ru:FreeText1000Type" minOccurs="0" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Дополнительная информация для идентификации товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsInformation" type="catESAD_cu:GoodsGroupInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Характеристика товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DTList" type="dco:DTListType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Перечень деклараций, по которым принято решение</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Numeric_TNVEDCodeType">
    <xs:annotation>
      <xs:documentation>Сведения о номере товара по ДТ и заявленном коде товара по ТН ВЭД ЕАЭС</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ListNumeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Номер по порядку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ObjectOrdinal" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порядковый номер индивидуальной накладной в реестре ЭГ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Номер товара по ДТ/ Накладной</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TNVEDCode" type="dco:GoodsNomenclatuerCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС, заявленный в ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsPartialGood" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак принятия решения в отношении части товара</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PreviousDecisionType">
    <xs:annotation>
      <xs:documentation>Информация о ранее принятом Решении, которое не подлежит применению (пункт 9.7)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="dco:RegistrationNumberType">
        <xs:sequence>
          <xs:element name="TNVEDCode" type="dco:GoodsNomenclatuerCodeType">
            <xs:annotation>
              <xs:documentation>Ранее принятый код товара по ТН ВЭД ЕАЭС</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RegistrationNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SerialNumber" type="clt_ru:Code6Type">
        <xs:annotation>
          <xs:documentation>Порядковый исходящий номер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Date" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата принятия решения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocKind" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак принятия Решения: З - по заявлению; Э - по декларации на товары для экспресс-грузов; П - по пассажирской таможенной декларации для экспресс-грузов; Д - по нескольким таможенным декларациям</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="GoodsNomenclatuerCodeType">
    <xs:annotation>
      <xs:documentation>Код товара по ТН ВЭД ЕАЭС. 6, 8, 9 или 10 символов. Числовой</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:CodeCategoriesCust">
      <xs:pattern value="[0-9]{4}|[0-9]{6}|[0-9]{8}|[0-9]{9}|[0-9]{10}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>