XsltProcessor/xsd/5.25.0/GuaranteeCertificateReservInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Решение Коллегии ЕЭК от 24 октября 2023 года № 151 "О сертификате обеспечения исполнения обязанности по уплате таможенных пошлин, налогов" -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:guar_cer="urn:customs.ru:Information:GuaranteeDocuments:GuaranteeCertificateReservInfo:5.25.0" targetNamespace="urn:customs.ru:Information:GuaranteeDocuments:GuaranteeCertificateReservInfo:5.25.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.25.0.0">
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:annotation>
		<xs:documentation>Уведомление о резервировании/ разрезервировании суммы/ части суммы Сертификата обеспечения исполнения обязанности по уплате таможенных пошлин, налогов</xs:documentation>
	</xs:annotation>
	<xs:element name="GuaranteeCertificateReservInfo" type="guar_cer:GuaranteeCertificateReservInfoType">
		<xs:annotation>
			<xs:documentation>Уведомление о резервировании/ разрезервировании суммы/ части суммы Сертификата обеспечения исполнения обязанности по уплате таможенных пошлин, налогов</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="GuaranteeCertificateReservInfoType">
		<xs:annotation>
			<xs:documentation>Уведомление о резервировании/ разрезервировании суммы/ части суммы Сертификата обеспечения исполнения обязанности по уплате таможенных пошлин, налогов</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="DocKind" type="clt_ru:LetterIndicatorType">
						<xs:annotation>
							<xs:documentation>Вид уведомления: 1 - Уведомление о резервировании суммы /части суммы сертификата обеспечения ; 2 - Уведомление о разрезервирование суммы разового сертификата обеспечения; 3 - Уведомление о разрезервирование суммы/части суммы генерального сертификата обеспечения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GuaranteeCertificateNum" type="guar_cer:CertRegNumberType">
						<xs:annotation>
							<xs:documentation>Регистрационный номер сертификата</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransitDeclaration" type="cat_ru:GTDIDType">
						<xs:annotation>
							<xs:documentation>Регистрационный номер транзитной декларации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReservDateTime" type="clt_ru:DateTimeCustType">
						<xs:annotation>
							<xs:documentation>Дата и время резервирования/ разрезервирования</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="RUScat_ru:AmountType">
						<xs:annotation>
							<xs:documentation>Сумма резервирования/ разрезервирования</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PossibleUseAmount" type="RUScat_ru:AmountType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сумма возможная к использованию</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsPersonDetails" type="guar_cer:CustomsPersonDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения об отметке таможенного органа регистрации или таможенного органа отправления</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1050045E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="CustomsPersonDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о должностном лице таможенного органа</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:PersonBaseType">
				<xs:sequence>
					<xs:element name="LNP" type="clt_ru:LNPIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ЛНП</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LNPCustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код таможенного органа, указанный на оттиске ЛНП</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CertRegNumberType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер сертификата обеспечения исполнения обязанности по уплате таможенных пошлин, налогов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата регистрации документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SerialNumber" type="clt_ru:Code8Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер документа по журналу регистрации</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
