XsltProcessor/xsd/5.25.0/NotifConfirmDT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:ncdt="urn:customs.ru:Information:CustomsDocuments:NotifConfirmDT:5.25.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:NotifConfirmDT:5.25.0" elementFormDefault="qualified" version="5.25.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:annotation>
		<xs:documentation>Уведомление о получении документа</xs:documentation>
	</xs:annotation>
	<xs:element name="NotifConfirmDT" type="ncdt:NotifConfirmDTType"/>
	<xs:complexType name="NotifConfirmDTType">
		<xs:annotation>
			<xs:documentation>Уведомление о получении документа</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="DocType" type="clt_ru:Numeric1Type">
						<xs:annotation>
							<xs:documentation>Тип подтверждаемого документа: 0 - ДТ, 1 - МПО, 2 - Заявление о выпуске до подачи, 3 - КДТ, 4 - ТД, 5 - Заявление о необходимости совершения операций в отношении товаров, находящихся под таможенным контролем, 6 - реестр экспресс-грузов, 7 - обращение о внесении изменения в реестр ЭГ, 8 - уведомление о регистрации предварительной декларации с возможностью использования в качестве ПИ </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:choice>
						<xs:element name="DocRecieptTime" type="clt_ru:DateTimeCustType">
							<xs:annotation>
								<xs:documentation>Дата/время получения документов в системе ТО в рабочее время</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="WorkTime" type="clt_ru:DateTimeCustType">
							<xs:annotation>
								<xs:documentation>Дата/время начала работы ТО </xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:element name="ObligationDeadline" type="clt_ru:DateTimeCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Предельная дата и время принятия решения по снятию средств идентификации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Comment" type="clt_ru:FreeText500Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Комментарии</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RecordID" type="clt_ru:DocumentIDType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Ссылочный идентификатор</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocNumber" type="RUScat_ru:DocNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер обращения о внесении изменений / Номер ПТД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Customs" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Сведения о таможенном органе</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006150E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
