XsltProcessor/xsd/5.25.0/OEZ_ExportNotif.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Приказ Минфина России от 27 февраля 2024 года № 16н-->
<!--Приказ Минфина России от 28 февраля 2024 года № 17н-->
<!--Приказ Минфина России от 28 февраля 2024 года № 18н-->
<!--Приказ Минфина России от 29 мая 2024 года № 70н-->
<!--Приказ Минфина России от 29 мая 2024 года № 71н-->
<!--Приказ Минфина России от 29 мая 2024 года № 74н-->
<!--Приказ Минфина России от 29 июня 2023 года № 103н-->
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:catProc_ru="urn:customs.ru:Information:ProcessingDocuments:ProcessingCommonAggregateTypes:5.24.0" xmlns:exnot="urn:customs.ru:Information:CustomsDocuments:OEZ_ExportNotif:5.25.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:OEZ_ExportNotif:5.25.0" elementFormDefault="qualified" version="5.25.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:Information:ProcessingDocuments:ProcessingCommonAggregateTypes:5.24.0" schemaLocation="ProcessingCommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Предварительное уведомление о вывозе товаров с территории особой экономической зоны/портовой особой экономической зоны</xs:documentation>
	</xs:annotation>
	<xs:element name="OEZ_ExportNotif" type="exnot:OEZ_ExportNotifType">
		<xs:annotation>
			<xs:documentation>Предварительное уведомление о вывозе товаров с территории особой экономической зоны/портовой особой экономической зоны</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OEZ_ExportNotifType">
		<xs:annotation>
			<xs:documentation>Предварительное уведомление о вывозе товаров с территории особой экономической зоны/портовой особой экономической зоны</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="ExportDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Планируемая дата вывоза товаров (для разовых разрешений)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RequestedValidityDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Запрашиваемый срок действия разрешения на вывоз</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PassKind" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Тип документа: 0 - уведомление о разовом вывозе, 1 - запрос на многоразовый пропуск</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AddInformation" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Дополнительная информация</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProvisionalDateBegin" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Предварительная дата вывоза с / Начало действия запрашиваемого многоразового пропуска</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProvisionalDateEnd" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Предварительная дата вывоза по / Конец действия запрашиваемого многоразового пропуска</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocKind" type="clt_ru:Numeric1Type">
						<xs:annotation>
							<xs:documentation>Признак документа: 1 - уведомления о вывозе товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ZoneKind" type="clt_ru:Numeric1Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код вида зоны: 1 - ОЭЗ; 2 - ПОЭЗ ; 3 - ТОР; 4 - СЭЗ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ApplicantSign" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о лице, подающем уведомление: 1 - резидент; 2 - участник; 3 - декларант</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Applicant" type="exnot:SubjectDetailsType">
						<xs:annotation>
							<xs:documentation>Резидент (участник) или лицо, которое вправе выступать декларантом товаров при завершении СТЗ (декларант), подающий уведомление или от имени которого подается уведомление</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Customs" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Сведения о таможенном органе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Consignor" type="exnot:SubjectDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Отправитель</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Consignee" type="exnot:SubjectDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Получатель/ Резидент, на участок которого будет осуществляться ввоз товаров при перемещении с одной части территории ОЭЗ на другую часть территории ОЭЗ (с одного участка ТОР, СПВ, АЗ на другой участок ТОР, СПВ, АЗ)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RegistrationNumber" type="exnot:RegistrationNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер предварительного уведомления</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExportCode" type="clt_ru:CodeVariable2Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код вида объекта (цели)  вывоза: 1 - товаров; 2 - порожнего ТС; 3 - самоходной строительной техники; 4 - многоразовый пропуск на автотранспортное средство; 5 - без транспортного средства; далее значения только при ZoneKimd не равном "2": 6 - товары в составе сборного груза (только для ОЭЗ); 7 - товары для совершения операций в соответствии с пунктом 4 статьи 205 ТК ЕАЭС; 8 - товары для совершения операций по захоронению и утилизации; 9 - перемещение 
товаров с одной части ОЭЗ на другую часть ОЭЗ; 10 - пробы и образцы товаров; 11 - порожнего транспортного средства (самоходной строительной техники), находящейся во владении резидента, в целях осуществления многократного въезда (выезда); 12 - вывоз товаров нерезидентом ОЭЗ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PurposeOfExport" type="clt_ru:FreeText500Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Цель вывоза (подачи уведомления)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Resident" type="exnot:SubjectDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Резидент (участник), на участке которого находится вывозимый товар (который осуществляет размещение и (или) использование товаров)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AddressZone" type="RUScat_ru:RUAddressType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Местонахождение (адрес) участка резидента</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ServiceAgreement" type="cat_ru:DocumentBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Договор об оказании услуг по хранению товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ServiceOrganization" type="RUScat_ru:RUOrganizationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Лицо, заключившее договор на оказание услуг по хранению товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransportMeans" type="exnot:TransportMeansType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Описания транспортного средства </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CarriageAgreement" type="cat_ru:DocumentBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Договор на перевозку груза</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CarriageOrganization" type="RUScat_ru:RUOrganizationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Лицо, заключившее договор на перевозку груза с резидентом (участником)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DeparturePlace" type="exnot:DeparturePlaceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Предполагаемо место убытия товаров с территории ЕАЭС</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalWeight" type="clt_ru:QuantityBasis0Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Общий вес транспортных средств и вывозимых товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CombinedCargo" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак сборного груза: 0 - нет; 1 - вывоз товаров в составе сборного груза</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsInfo" type="exnot:GoodsInfoType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о товаре</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocList" type="exnot:PresentedDocType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Список документов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocPages" type="clt_ru:Numeric1Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество листов уведомления</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TrustedOrganization" type="cat_ru:OrganizationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о лице, подающем уведомление по поручению резидента (участника)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PersonSignature" type="exnot:PersonSignatureType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Подпись заявителя</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006144E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="AccountingDocumentInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о документе бухгалтеского учета</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AccountingDoc" type="cat_ru:DocumentBaseType">
				<xs:annotation>
					<xs:documentation>Реквизиты документа бухгалтерского учета</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsNumber" type="clt_ru:Count5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара в документе</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeparturePlaceType">
		<xs:annotation>
			<xs:documentation>Предполагаемо место убытия товаров с территории ЕАЭС</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DeparturePlaceSign" type="clt_ru:LetterIndicatorType">
				<xs:annotation>
					<xs:documentation>Вид места убытия: 1 - морской порт; 2 - аэропорт; 3 - железнодорожная станция; 4 - автомобильный пункт пропуска при убытии с территории ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeparturePlaceName" type="clt_ru:Text150Type">
				<xs:annotation>
					<xs:documentation>Наименование места убытия</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DTGoodsGroupType">
		<xs:annotation>
			<xs:documentation>Сведения об артикульной позиции товара ДТ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsMarking" type="cltESAD_cu:GoodsArticulType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор вида продукта (товара) или артикул товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество товара в дополнительной единице измерения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecordId" type="clt_ru:DocumentIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор записи в ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DTGoodsType">
		<xs:annotation>
			<xs:documentation>Сведения о товаре  ДТ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsNumeric" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара гр 32</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Масса товара, нетто (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество товара в дополнительной единице измерения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTGoodsGroup" type="exnot:DTGoodsGroupType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения об артикульной позиции товара ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DTInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о ДТ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GTDID" type="cat_ru:GTDIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTGoods" type="exnot:DTGoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товар ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о товаре</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsNumber" type="clt_ru:Count5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Описание товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsIdentification" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Идентификационные признаки товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodTrademark" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Товарный знак</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodMarking" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Артикул (код товара, номер по каталогу) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsMark" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование марки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsModel" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование модели продукта (товара)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsStandard" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование стандарта (международного, межгосударственного, государственного, отраслевого или организации) или технических условий на товар </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsSort" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование сорта / сорт или группа сортов (для лесо- и пиломатериалов)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PackagesQuantity" type="clt_ru:PackagesQuantityType">
				<xs:annotation>
					<xs:documentation>Количество грузовых мест.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PackagingCode" type="clt_ru:LetterIndicatorType">
				<xs:annotation>
					<xs:documentation>Код упаковки: 1- с упаковкой; 2 - без упаковки;  3 - насыпом/ навалом/ наливом </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PackagingKind" type="clt_ru:Text40Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вид упаковки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес товара нетто в кг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GrossWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес товара брутто в кг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Note" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Примечание</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsStatus" type="exnot:GoodsStatusType">
				<xs:annotation>
					<xs:documentation>Статус товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TechID" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Технические идентификаторы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentificationSign" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Необходимость проведения идентификации в отношении товара при вывозе с территории участка: 0 - не требуется; 1 - требуется</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentificationMethod" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Способ идентификации (если требуется идентификация товара)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsStatus1Type">
		<xs:annotation>
			<xs:documentation>Вывоз товаров после СТЗ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsModeCode" type="cltESAD_cu:CustomsModeCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код таможенной процедуры</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTInfo" type="exnot:DTInfoType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о декларации на товары (ДТ), в соответствии с которой товары были помещены под таможенную процедуру в целях завершения СТЗ и вывоза с ОЭЗ/ ПОЭЗ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingDocumentInfo" type="exnot:AccountingDocumentInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о документе бухгалтерского учета</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsStatus2Type">
		<xs:annotation>
			<xs:documentation>Вывоз товаров, помещенных под таможенные процедуры экспорта , переработки, временного вывоза или реэкспорта, специальную таможенную процедуру, в отношении которых осуществлялось хранение в ПОЭЗ/ Вывоз товаров, помещенных под таможенные процедуры (для ОЭЗ)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsModeCode" type="cltESAD_cu:CustomsModeCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код таможенной процедуры</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTInfo" type="exnot:DTInfoType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о декларации на товары (ДТ), в соответствии с которой товары были помещены под таможенную процедуру </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PermitRegistrationNumber" type="exnot:RegistrationNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер разрешения на ввоз, на основании которого вывозимые товары были ввезены на территорию ПОЭЗ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsNumber" type="clt_ru:Count5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара в разрешении</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingDocumentInfo" type="exnot:AccountingDocumentInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о документе бухгалтерского учета</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsStatus3Type">
		<xs:annotation>
			<xs:documentation>Вывоз товаров, для совершения операций в соответствии с пунктом 4 статьи 205 ТК ЕАЭС</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PermitRegistrationNumber" type="exnot:RegistrationNumberType">
				<xs:annotation>
					<xs:documentation>Регистрационный номер разрешения таможенного органа на совершение операций в соответствии с пунктом 4 статьи 205 ТК ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsNumber" type="clt_ru:Count5Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара в разрешении</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Масса вывозимого товара, нетто (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество вывозимого товара </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingDocumentInfo" type="exnot:AccountingDocumentInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о документе бухгалтерского учета</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsStatus4Type">
		<xs:annotation>
			<xs:documentation>Вывоз товаров, в соответствии с подпунктом 4 пункта 10  статьи 207 ТК ЕАЭС</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PermitRegistrationNumber" type="exnot:RegistrationNumberType">
				<xs:annotation>
					<xs:documentation>Регистрационный номер разрешения таможенного органа на совершение операций в соответствии с подпунктом 4 пункта 10  статьи 207 ТК ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsNumber" type="clt_ru:Count5Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара в разрешении</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Масса вывозимого товара, нетто (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество вывозимого товара </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingDocumentInfo" type="exnot:AccountingDocumentInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о документе бухгалтерского учета</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsStatus5Type">
		<xs:annotation>
			<xs:documentation>Вывоз товаров, в соответствии с подпунктом 1 пункта 10  статьи 207 ТК ЕАЭС для утилизации</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PermitRegistrationNumber" type="exnot:RegistrationNumberType">
				<xs:annotation>
					<xs:documentation>Регистрационный номер разрешения таможенного органа на совершение операций по утилизации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsNumber" type="clt_ru:Count5Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара в разрешении</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Масса вывозимого товара, нетто (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество вывозимого товара </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingDocumentInfo" type="exnot:AccountingDocumentInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о документе бухгалтерского учета</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsStatus6Type">
		<xs:annotation>
			<xs:documentation>Вывоз товаров, которые не помещались под таможенную процедуру СТЗ/ в том числе отходы производства и потребления (отходы)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PermitRegistrationNumber" type="exnot:RegistrationNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер разрешения таможенного органа на ввоз </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsNumber" type="clt_ru:Count5Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара в разрешении</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingDocumentInfo" type="exnot:AccountingDocumentInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о документе бухгалтерского учета</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConclusionIdentifi" type="exnot:RegistrationNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Заключение таможенного органа о возможности  идентификации, выданное в соответствии с приказами Минфина России № № 74н, 71н, 103н</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WasteManagementServDoc" type="cat_ru:DocumentBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о договоре на оказание услуг по обращению с отходами</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Масса вывозимого товара, нетто (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество вывозимого товара </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsStatus7Type">
		<xs:annotation>
			<xs:documentation>Вывоз товаров, помещенных под таможенную процедуру СТЗ, и (или) товаров, изготовленных (полученных) из товаров, помещенных под таможенную процедуру СТЗ, для целей перемещения с одной части территории ОЭЗ на другую часть территории ОЭЗ (с одного участка ТОР, СПВ, АЗ на другой участок ТОР, СПВ, АЗ)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsModeCode" type="cltESAD_cu:CustomsModeCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код таможенной процедуры</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTInfo" type="exnot:DTInfoType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о декларации на товары (ДТ), в соответствии с которой товары были помещены под таможенную процедуру в целях завершения СТЗ и вывоза с ОЭЗ/ ПОЭЗ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingDocumentInfo" type="exnot:AccountingDocumentInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о документе бухгалтерского учета</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Масса вывозимого товара, нетто (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество вывозимого товара </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TerritoryAddress" type="RUScat_ru:RUAddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Место нахождения (адрес) территории (участка) ОЭЗ (ТОР, СПВ, АЗ), на которую осуществляется перемещение товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsStatus8Type">
		<xs:annotation>
			<xs:documentation>Вывоз иностранных товаров, планируемых резидентом к помещению под таможенные процедуры, установленные ТК ЕАЭС, в том числе под таможенную процедуру СТЗ, с одной части территории ОЭЗ на другую часть территории ОЭЗ (для резидентов ОЭЗ и ТОР)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PermitWH" type="cat_ru:DocumentBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о разрешении таможенного органа на временное хранение товаров в местах временного хранения, полученное резидентом</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegDocWHInfo" type="cat_ru:DocumentBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о регистрационном номере подтверждения о регистрации документов, представленных для помещения товаров на временное хранение</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeliveryGoodsWHDoc" type="cat_ru:DocumentBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о регистрационном номере документа на выдачу товаров с места временного хранения при изменении места временного хранения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsNumber" type="clt_ru:Count5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара в документе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Масса вывозимого товара, нетто (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество вывозимого товара </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TerritoryAddress" type="RUScat_ru:RUAddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Место нахождения (адрес) территории части ОЭЗ (ТОР), на которую осуществляется перемещение</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingDocumentInfo" type="exnot:AccountingDocumentInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о документе бухгалтерского учета</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsStatus9Type">
		<xs:annotation>
			<xs:documentation>Вывоз проб и образцов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PermissionTakeSamples" type="cat_ru:DocumentBaseType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о регистрационном номере разрешения уполномоченного таможенного органа, выданного в соответствии со статьей 17 ТК ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsNumber" type="clt_ru:Count5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара в документе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Масса вывозимого товара, нетто (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество вывозимого товара </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingDocumentInfo" type="exnot:AccountingDocumentInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о документе бухгалтерского учета</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsStatusType">
		<xs:annotation>
			<xs:documentation>Статус товара</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StatusSymbolicValue" type="clt_ru:LetterIndicatorType">
				<xs:annotation>
					<xs:documentation>Статус товара: 1 - товар ЕАЭС; 2 - иностранный товар; 3 -  товар, помещеный под процедуру СТЗ; 4 - транзит</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsStatus1" type="exnot:GoodsStatus1Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Вывоз товаров после СТЗ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsStatus2" type="exnot:GoodsStatus2Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Вывоз товаров, помещенных под таможенные процедуры экспорта , переработки, временного вывоза или реэкспорта, специальную таможенную процедуру, в отношении которых осуществлялось хранение в ПОЭЗ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsStatus3" type="exnot:GoodsStatus3Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Вывоз товаров, для совершения операций в соответствии с пунктом 4 статьи 205 ТК ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsStatus4" type="exnot:GoodsStatus4Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Вывоз товаров, в соответствии с подпунктом 4 пункта 10  статьи 207 ТК ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsStatus5" type="exnot:GoodsStatus5Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Вывоз товаров, в соответствии с подпунктом 1 пункта 10  статьи 207 ТК ЕАЭС для утилизации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsStatus6" type="exnot:GoodsStatus6Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Вывоз товаров, которые не помещались под таможенную процедуру СТЗ/ в том числе отходы производства и потребления (отходы)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsStatus7" type="exnot:GoodsStatus7Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Вывоз товаров, помещенных под таможенную процедуру СТЗ, и (или) товаров, изготовленных (полученных) из товаров, помещенных под таможенную процедуру СТЗ, для целей перемещения с одной части территории ОЭЗ на другую часть территории ОЭЗ (с одного участка ТОР, СПВ, АЗ на другой участок ТОР, СПВ, АЗ)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsStatus8" type="exnot:GoodsStatus8Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Вывоз иностранных товаров, планируемых резидентом к помещению под таможенные процедуры, установленные ТК ЕАЭС, в том числе под таможенную процедуру СТЗ, с одной части территории ОЭЗ на другую часть территории ОЭЗ (для резидентов ОЭЗ и ТОР)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsStatus9" type="exnot:GoodsStatus9Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Вывоз проб и образцов</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsStatus10" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Вывоз товаров нерезидентом (дополнительная информация о товарах, которая может быть указана  резидентом (участником))</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonSignatureType">
		<xs:annotation>
			<xs:documentation>Подпись заявителя</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:PersonBaseType">
				<xs:sequence>
					<xs:element name="AuthorityDoc" type="cat_ru:AuthoritesDocumentType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Реквизиты документа, подтверждающего полномочия лица</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PresentedDocType">
		<xs:annotation>
			<xs:documentation>Сведения о представленных документах</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catProc_ru:DocExtendedType">
				<xs:sequence>
					<xs:element name="Position" type="clt_ru:Count3Type">
						<xs:annotation>
							<xs:documentation>Порядковый номер позиции</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SheetsNumber" type="clt_ru:Count3Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество листов </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RegistrationNumberType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер документа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата регистрации документа.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="clt_ru:CodeVariable10Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddNumber" type="clt_ru:CodeVariable5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>4-ая часть номера</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubjectDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о субъекте (организации/ ФЛ)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:OrganizationBaseType">
				<xs:sequence>
					<xs:element name="Address" type="RUScat_ru:RUAddressType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Адрес</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о документе, удостоверяющем личность физического лица</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CertificateNumber" type="cat_ru:DocumentBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер свидетельства, удостоверяющего регистрацию лица в качестве резидента особой экономической зоны (свободного порта Владивосток, Арктической зоны Российской Федерации), или свидетельства о включении в единый реестр участников свободной экономической зоны)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TransportMeansType">
		<xs:annotation>
			<xs:documentation>Описания транспортного средства </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EmptyIndicator" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак порожнего ТС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportKind" type="clt_ru:Numeric1Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ПризнакТС: 1-  Транспортное средство; 2 - без транспортного средства/; 3 - порожнее транспортное средство</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportMode" type="clt_ru:Numeric1Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип транспортного средства: 1 - а/м; 2 - ж/д; 3 - авиа; 4 - в/т; 5 - спецтехника; 6 - ручная кладь (багаж)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportKindCode" type="clt_ru:Code3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код типа транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportMark" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Марка транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportModel" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Модель транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContainerNumber" type="clt_ru:ContainerIdentityType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Номер контейнера</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrainType" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип подвижного железнодорожного состава</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportRegNumber" type="clt_ru:CodeVariable20Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Регистрационный номер прицепа/полуприцепа </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmptyTransportRegNumber" type="clt_ru:CodeVariable20Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Регистрационный номер порожнего прицепа/полуприцепа/ Номер вагона/ платформы  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActiveTransportIdentifier" type="clt_ru:TransportMeansIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер транспортного средства/ Идентификатор активного транспортного средства для прицепов, полуприцепов и др,</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TareWeight" type="clt_ru:QuantityBasis0Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес автотранспортного средства (без учета вывозимых на нем товаров товаров (т))/ вес тары контейнера/ вес тары вагона</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlightNumber" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер рейса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlightDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата рейса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonDetails" type="cat_ru:PersonBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Фамилия, имя, отчество (при наличии) физического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonAddress" type="RUScat_ru:RUAddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес регистрации по месту жительства или адрес регистрации по месту пребывания</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonID" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о документе, удостоверяющем личность физического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorizedPersonDoc" type="cat_ru:DocumentBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о документе на основании которого такое лицо уполномочено на транспортировку товаров/ Документ, подтверждающий права владения, пользования и (или) распоряжения транспортным средством (Приказ 74н) </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
