XsltProcessor/xsd/5.25.0/OEZ_ExportInventory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приказ Минфина России № 55н от 3 мая 2024 года «Об утверждении Порядка и технологии совершения таможенных операций в отношении товаров Евразийского экономического союза, ввозимых (ввезенных) на территорию Особой экономической зоны в Калининградской области и вывозимых с территории Особой экономической зоны в Калининградской области на остальную часть таможенной территории Евразийского экономического союза, в том числе с использованием электронных документов» -->
<!-- Приказ Минфина России № 59н от 6 мая 2024 года «Об утверждении Порядка и технологии совершения таможенных операций в отношении товаров Евразийского экономического союза, ввозимых (ввезенных) на территорию Особой экономической зоны, созданной в Магаданской области и на территориях Южно-Курильского, Курильского и Северо-Курильского городских округов Сахалинской области, и вывозимых с территории Особой экономической зоны, созданной в Магаданской области и на территориях Южно-Курильского, Курильского и Северо-Курильского городских округов Сахалинской области, на остальную часть таможенной территории Евразийского экономического союз» -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:invdoc="urn:customs.ru:Information:CustomsDocuments:OEZ_ExportInventory:5.25.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:OEZ_ExportInventory:5.25.0" elementFormDefault="qualified" version="5.25.0.0">
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Опись документов, представленных в целях вывоза товаров ЕАЭС</xs:documentation>
	</xs:annotation>
	<xs:element name="OEZ_ExportInventory" type="invdoc:OEZ_ExportInventoryType">
		<xs:annotation>
			<xs:documentation>Опись документов, представленных в целях вывоза товаров ЕАЭС</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OEZ_ExportInventoryType">
		<xs:annotation>
			<xs:documentation>Опись документов, представленных в целях вывоза товаров ЕАЭС</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="NumberSheets" type="clt_ru:Count3Type">
						<xs:annotation>
							<xs:documentation>Количество листов описи документов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Customs" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Наименование и код таможенного органа </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Applicant" type="cat_ru:OrganizationBaseType">
						<xs:annotation>
							<xs:documentation>Сведения об инициаторе вывоза товаров ЕАЭС</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BaggageSign" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак вывоза товаров физическим лицом в личном багаже: 1 - товары вывозятся физическим лицом в личном багаже; 0 - нет</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ConfirmStatusDoc" type="invdoc:DocDetailsType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Документы, подтверждающие статус вывозимых товаров как товаров ЕАЭС</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CommercialDoc" type="invdoc:AllDocDetailsType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Коммерческие, транспортные (перевозочные) документы</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PostalDoc" type="invdoc:AllDocDetailsType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Почтовые документы</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ConfirmAuthorityDoc" type="invdoc:AllDocDetailsType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Документы, подтверждающие полномочия лица на совершение таможенных операций по подтверждению статуса товаров как товаров ЕАЭС, представление документов и товаров в таможенный орган</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsList" type="invdoc:GoodsListType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Опись товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PersonSignature" type="cat_ru:PersonSignatureType">
						<xs:annotation>
							<xs:documentation>Сведения о лице, подающем опись</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006381E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="AllDocDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о документе</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="DocOrder" type="clt_ru:Count3Type">
						<xs:annotation>
							<xs:documentation>Порядковый номер документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocSubmissionSign" type="clt_ru:IndicatorType">
						<xs:annotation>
							<xs:documentation>Информация о представлении документа ранее в уполномоченный таможенный орган: 1 - документ предоставлялся ранее; 0 - документ не предоставлялся</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsDocumentCode" type="clt_ru:CustomsDocumentCodeType">
						<xs:annotation>
							<xs:documentation>Код вида представленного документа в соответствии с классификатором документов и сведений (РК ТС №378)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ElectronicDocumentID" type="clt_ru:DocumentIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификационный номер документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ElectronicArchID" type="clt_ru:DocumentIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер идентификатора электронного архива декларанта</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocNumSheets" type="clt_ru:Count3Type">
						<xs:annotation>
							<xs:documentation>Количество листов документа</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DocDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о документе, подтверждающем статус товара</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocOrder" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="GTDID" type="cat_ru:GTDIDType">
					<xs:annotation>
						<xs:documentation>Регистрационный номер ДТ/ТД</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="AppIdentif" type="invdoc:RegistrationNumberType">
					<xs:annotation>
						<xs:documentation>Регистрационный номер заявления об идентийикации</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OtherDoc" type="cat_ru:DocumentBaseType">
					<xs:annotation>
						<xs:documentation>Номер иного документа</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="DocSubmissionSign" type="clt_ru:IndicatorType">
				<xs:annotation>
					<xs:documentation>Информация о представлении документа ранее в уполномоченный таможенный орган: 1 - документ предоставлялся ранее; 0 - документ не предоставлялся</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsDocumentCode" type="clt_ru:CustomsDocumentCodeType">
				<xs:annotation>
					<xs:documentation>Код вида представленного документа в соответствии с классификатором документов и сведений (РК ТС №378)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ElectronicDocumentID" type="clt_ru:DocumentIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификационный номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ElectronicArchID" type="clt_ru:DocumentIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер идентификатора электронного архива декларанта</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocNumSheets" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Количество листов документа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DTInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о ДТ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GTDID" type="cat_ru:GTDIDType">
				<xs:annotation>
					<xs:documentation>Регистрационный номер ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара В ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsListType">
		<xs:annotation>
			<xs:documentation>Перечень товаров</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsNumber" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование и описание товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsIdentification" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Идентификационные признаки товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WeighQuantity" type="clt_ru:QuantityBasisType">
				<xs:annotation>
					<xs:documentation>Вес товара нетто (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество товара в ДЕИ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PackagingKind" type="clt_ru:Text40Type">
				<xs:annotation>
					<xs:documentation>Вид упаковки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsCost" type="RUScat_ru:AmountType">
				<xs:annotation>
					<xs:documentation>Стоимость</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTInfo" type="invdoc:DTInfoType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведеняи о декларации на товары</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Consignor" type="cat_ru:OrganizationBaseType">
				<xs:annotation>
					<xs:documentation>Сведения об отправителе товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Consignee" type="cat_ru:OrganizationBaseType">
				<xs:annotation>
					<xs:documentation>Сведения о получателе товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LoadingPointName" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Наименование пункта погрузки товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnloadingPointName" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Наименование пункта выгрузки товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegistrationNumberType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер документа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата регистрации документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="clt_ru:CodeVariable10Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocKind" type="clt_ru:CodeVariable5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Четвертая часть регистрационного номера документа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
