XsltProcessor/xsd/5.25.0/OEZ_ImportNotif.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Приказ Минфина России от 27 февраля 2024 года № 16н-->
<!--Приказ Минфина России от 28 февраля 2024 года № 17н-->
<!--Приказ Минфина России от 28 февраля 2024 года № 18н-->
<!--Приказ Минфина России от 29 мая 2024 года № 70н-->
<!--Приказ Минфина России от 29 мая 2024 года № 71н-->
<!--Приказ Минфина России от 29 мая 2024 года № 74н-->
<!--Приказ Минфина России от 29 июня 2023 года № 103н-->
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:catProc_ru="urn:customs.ru:Information:ProcessingDocuments:ProcessingCommonAggregateTypes:5.24.0" xmlns:impn="urn:customs.ru:Information:CustomsDocuments:OEZ_ImportNotif:5.25.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:OEZ_ImportNotif:5.25.0" elementFormDefault="qualified" version="5.25.0.0">
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:Information:ProcessingDocuments:ProcessingCommonAggregateTypes:5.24.0" schemaLocation="ProcessingCommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Уведомление о ввозе товаров на территорию особой экономической зоны/портовой особой экономической зоны и въезде средства транспорта/разрешение на ввоз товаров на территорию портовой особой экономической зоны</xs:documentation>
	</xs:annotation>
	<xs:element name="OEZ_ImportNotif" type="impn:OEZ_ImportNotifType">
		<xs:annotation>
			<xs:documentation>Уведомление о ввозе товаров на территорию особой экономической зоны/портовой особой экономической зоны и въезде средства транспорта/разрешение на ввоз товаров на территорию портовой особой экономической зоны</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OEZ_ImportNotifType">
		<xs:annotation>
			<xs:documentation>Уведомление о ввозе товаров на территорию особой экономической зоны/портовой особой экономической зоны и въезде средства транспорта/разрешение на ввоз товаров на территорию портовой особой экономической зоны</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="ImportDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата ввоза товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AddInformation" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дополнительная информация/ примечания</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocKind" type="clt_ru:Numeric1Type">
						<xs:annotation>
							<xs:documentation>Признак документа: 1 - уведомление о ввозе товаров; 2 - разрешение на ввоз товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ZoneKind" type="clt_ru:Numeric1Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код вида зоны: 1 - ОЭЗ; 2 - ПОЭЗ ; 3 - ТОР; 4 - СЭЗ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Customs" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Сведения о таможенном органе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AbroadImportSign" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак ввоза товара из-за рубежа: 1 - непосредственно из-за рубежа ; 0 - с таможенной территории ЕАЭС</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ImportCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код вида объекта ввоза: 1 - товары; 2 - порожнее ТС; 3 - самоходная строительная (специальная) техника; 4 - без транспортного средства (только при ZoneKind=2); 5 - товары в составе сборного груза (только при ввозе товаров на территорию  ОЭЗ); 6 - транспортное средство под загрузку (сборный груз, только при въезде на территорию   ОЭЗ); 7 - товары нерезидента ОЭЗ (только при ZoneKind=1)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ApplicantSign" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о лице, подающем уведомление: 1 - резидент; 2 - участник; 3 - декларант</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Applicant" type="impn:SubjectDetailsType">
						<xs:annotation>
							<xs:documentation>Лицо, подающее уведомление (резидент, участник или лицо, им уполномоченное)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Resident" type="impn:SubjectDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Резидент (участник), на участок которого осуществляется ввоз</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Consignor" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения об отправителе товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Consignee" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о получателе товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Purpose" type="impn:PurposeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Описание целей ввоза товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AddressZone" type="RUScat_ru:RUAddressType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Местонахождение (адрес) участка резидента</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ServiceAgreement" type="cat_ru:DocumentBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Договор об оказании услуг по хранению товаров </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ServiceOrganization" type="RUScat_ru:RUOrganizationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Лицо, заключившее договор на оказание услуг по хранению товаров </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RegistrationNumber" type="impn:RegistrationNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер разрешения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LimitDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Срок действия разрешения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ImportNoticeRegNumber" type="impn:RegistrationNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер Уведомления на ввоз товаров </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PlannedDdateOfImport" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Планируемая дата ввоза.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransportMeans" type="impn:TransportMeansType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Описание транспортного средства </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CombinedCargo" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак сборного груза: 0 - нет; 1 - ввоз товаров в составе сборного груза</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsInfo" type="impn:GoodsInfoType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о товаре</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocList" type="impn:PresentedDocType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Список документов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TrustedOrganization" type="cat_ru:OrganizationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о лице, подающем уведомление по поручению резидента (участника)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PersonSignature" type="impn:PersonSignatureType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Подпись заявителя</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsPerson" type="RUScat_ru:CustomsPersonDetails" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Должностное лицо таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsControl" type="impn:CustomsControlType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Таможенный контроль</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006141E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="CustomsControlType">
		<xs:annotation>
			<xs:documentation>Таможенный контроль</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ImportSign" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак ввоза товара: 1 - товар ввезён; 0 - товар не ввезён</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RefusalSign" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак отказа в ввозе товаров: 1 - отказ в ввозе товаров; 0 - нет отказа в ввозе товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReasonsForRejection" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Причины отказа в ввозе товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CancellationSign" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак аннулирования Разрешения на ввоз: 1 - аннулировано; 0 - не аннулировано</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ImportNoticeRegNumber" type="impn:RegistrationNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер Уведомления на ввоз товаров </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Date" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsPerson" type="cat_ru:CustomsPersonType">
				<xs:annotation>
					<xs:documentation>Должностное лицо таможенного органа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о товаре</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Описание товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsStatus" type="clt_ru:LetterIndicatorType">
				<xs:annotation>
					<xs:documentation>Статус товара: 1 - товар ЕАЭС; 2 - иностранный товар; 3 - товар ЕАЭС, не подлежит помещению под СТЗ; 4 - товар ЕАЭС, помещен под таможенную процедуру для целей вывоза за пределы ЕАЭС </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsModeCode" type="cltESAD_cu:CustomsModeCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код таможенной процедуры</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsIdentification" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Идентификационные признаки товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Note" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Примечание</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PackagesQuantity" type="clt_ru:PackagesQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество грузовых мест</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PackagingCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код упаковки: 1- с упаковкой; 2 - без упаковки;  3 - насыпом/ навалом/ наливом </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PackagingKind" type="clt_ru:Text40Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вид упаковки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GrossWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес товара брутто в кг. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес товара нетто в кг. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="ConsignParticipant" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отправитель/получатель товаров (ПОЭЗ)</xs:documentation>
				</xs:annotation>
			</xs:element>-->
			<xs:element name="TechID" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Технические идентификаторы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodTrademark" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Товарный знак</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodMarking" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Артикул (код товара, номер по каталогу) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsMark" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование марки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsModel" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование модели продукта (товара)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsStandard" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование стандарта (международного, межгосударственного, государственного, отраслевого или организации) или технических условий на товар </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsSort" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование сорта / сорт или группа сортов (для лесо- и пиломатериалов)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PreviousDoc" type="impn:PreviousDocType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Предшествующие документы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Documents" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Список документов</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--<xs:element name="GroundsForImport" type="impn:GroundsForImportType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Основания для ввоза (Арктическая ОЭЗ)</xs:documentation>
				</xs:annotation>
			</xs:element>-->
			<xs:element name="GroundsForImport" type="cat_ru:DocumentBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Основания для ввоза товаров, которые не подлежат помещению под таможенную процедуру СТЗ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PermitRegNumber" type="impn:RegistrationNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер разрешения таможенного органа на совершение операций в соответствии с пунктом 4 статьи 205 ТК ЕАЭС, если товары ранее вывозились с территории ПОЭЗ/ территории (участка) ОЭЗ, СЭЗ, ТОР, СПВ, АЗ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentificationSign" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Необходимость проведения идентификации в отношении товара при ввозе на территорию участка: 0 - не требуется; 1 - требуется</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentificationMethod" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Способ идентификации (если требуется идентификация товара)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonSignatureType">
		<xs:annotation>
			<xs:documentation>Подпись заявителя</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:PersonBaseType">
				<xs:sequence>
					<xs:element name="AuthorityDoc" type="cat_ru:AuthoritesDocumentType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Реквизиты документа, подтверждающего полномочия лица</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PresentedDocType">
		<xs:annotation>
			<xs:documentation>Сведения о представленных документах</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catProc_ru:DocExtendedType">
				<xs:sequence>
					<xs:element name="Position" type="clt_ru:Count3Type">
						<xs:annotation>
							<xs:documentation>Порядковый номер позиции</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SheetsNumber" type="clt_ru:Count3Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество листов </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PreviousDocType">
		<xs:annotation>
			<xs:documentation>Предшествующие документы</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NumPP" type="clt_ru:Count5Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер записи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsModeCode" type="cltESAD_cu:CustomsModeCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код таможенной процедуры</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GTDID" type="cat_ru:GTDIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер ДТ (ТД)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsNumeric" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара в ДТ (ТД)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrevTechID" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Технические идентификаторы</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PurposeType">
		<xs:annotation>
			<xs:documentation>Описание целей ввоза товаров</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PurposeOfImport" type="clt_ru:LetterIndicatorType">
				<xs:annotation>
					<xs:documentation>Цель ввоза товаров:
1 - Ввоз товаров, помещаемых (помещенных) под таможенную процедуру свободной таможенной зоны, резидентом или участником;
2 - Ввоз товаров, помещаемых (помещенных) под таможенную процедуру свободной таможенной зоны, по договору оказания услуг по складированию (хранению) товаров, погрузке (разгрузке) товаров и совершению иных грузовых операций, связанных с хранением, по обеспечению сохранности товаров, а также по подготовке товаров к транспортировке, включая дробление партии, формирование отправок, сортировку, упаковку, переупаковку, маркировку (далее - договор об оказании услуг;
3 - Ввоз товаров, помещенных под таможенные процедуры экспорта, переработки вне таможенной территории, временного вывоза, реэкспорта, специальную таможенную процедуру за пределами портового, логистического участка, в том числе по договору об оказании услуг; 
4 - Ввоз товаров, не подлежащих помещению под таможенную процедуру свободной таможенной зоны;
5 - Иные цели в соответствие с соглашением о ведении портовой деятельности;
6 - Иные цели</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherPurposeDescription" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Описание иных целей ввоза товаров (№ 6)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PurpImpDetails" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уточнение цели ввоза товаров №1:
1 - Хранение товаров; 
2 - Хранение товаров и их вывоз в соответствии с подпунктом 4 пункта 10 статьи 207 ТК ЕАЭС; 
3 - Совершения операций по переработке; 
4 - Создание объектов недвижимости; 
5 - Совершения операций, связанных с потреблением товаров в соответствии с подпунктом 5 пункта 1 статьи 205 ТК ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegistrationNumberType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер документа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата регистрации документа.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="clt_ru:CodeVariable10Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddNumber" type="clt_ru:CodeVariable5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>4-ая часть номера</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubjectDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о субъекте (организации/ ФЛ)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:OrganizationBaseType">
				<xs:sequence>
					<xs:element name="Address" type="RUScat_ru:RUAddressType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Адрес</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о документе, удостоверяющем личность физического лица</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CertificateNumber" type="cat_ru:DocumentBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер свидетельства, удостоверяющего регистрацию лица в качестве резидента особой экономической зоны (свободного порта Владивосток, Арктической зоны Российской Федерации), или свидетельства о включении в единый реестр участников свободной экономической зоны)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TransportMeansType">
		<xs:annotation>
			<xs:documentation>Описания транспортного средства </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VehicleSign" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ПризнакТС: 1-  Транспортное средство; 2 - без транспортного средства/; 3 - порожнее транспортное средство</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportKind" type="clt_ru:Numeric1Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип транспортного средства: 1 - а/м; 2 - ж/д; 3 - авиа; 4 - в/т; 5 - спецтехника (только при ZoneKind=2); 6 - ручная кладь (багаж)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportKindCode" type="clt_ru:Code3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код типа транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportMark" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Марка транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContainerNumber" type="clt_ru:ContainerIdentityType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Номер контейнера</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportRegNumber" type="clt_ru:CodeVariable20Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Регистрационный номер прицепа/полуприцепа/ Номер вагона/ платформы </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmptyTransportRegNumber" type="clt_ru:CodeVariable20Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Регистрационный номер порожнего прицепа/полуприцепа </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportWeight" type="clt_ru:QuantityBasis0Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес транспортного средства (без учета вывозимых на нем товаров товаров (т))</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActiveTransportIdentifier" type="clt_ru:TransportMeansIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор активного транспортного средства для прицепов, полуприцепов и др,</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlightNumber" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер рейса/ Наименование судна</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonDetails" type="cat_ru:PersonBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Фамилия, имя, отчество (при наличии) физического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonAddress" type="RUScat_ru:RUAddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес регистрации по месту жительства или адрес регистрации по месту пребывания</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonID" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о документе, удостоверяющем личность физического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorizedPersonDoc" type="cat_ru:DocumentBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о документе на основании которого такое лицо уполномочено на транспортировку товаров </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
