XsltProcessor/xsd/5.25.0/OEZ_NotifViolation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--                  
DocKind1 - Уведомление об отказе в выдаче разрешения на ввоз (вывоз) товаров 
DocKind2 - Уведомление об отказе в выдаче разрешения на передачу товаров (IMO-000975 (Приказ МинФина от от 31.12.2020г. № 341н))
DocKind3 - Уведомления о продлении срока рассмотрения Заявления о передаче товаров (IMO-000975 (Приказ МинФина от от 31.12.2020г. № 341н))
DocKind4 - Уведомление о непредставлении документов
DocKind5 - Уведомление об отказе в выдаче разрешения на переработку (IMO-000976 (Приказ МинФина от 22.12.2020г. № 317н))   
DocKind6 - Решение о продлении срока переработки (IMO-000976 (Приказ МинФина от 22.12.2020г. № 317н))   
DocKind7 - Решение о не продлении срока переработки (IMO-000976 (Приказ МинФина от 22.12.2020г. № 317н))   
DocKind8 - Уведомление о продлении срока рассмотрения Заявления о завершении действия СТЗ (оборудование и товары, исп. для строительства объектов недвижимости) (IMO-000952
(Приказ ФТС от 08.10.2020 № 888))
DocKind9 - Уведомление о продлении срока рассмотрения Заявления о завершении действия СТЗ (потребленные товары) ((IMO-000952 (Приказ ФТС от 18.11.2020 № 994))                   
DocKind10 - Уведомление об отказе в выдаче разрешения на вывоз товаров, помещенных под таможенную процедуру СТЗ (IMO-001082 (Приказ МинФина от 16.12.2020г. № 309н без формы, состав сведений по СТРУКТУРА ФОРМАТ ВВ 309н.docx))   
DocKind11 - Решения таможенного органа о продлении срока обратного ввоза (IMO-001082 (Приказ МинФина от 16.12.2020г. № 309н без формы, состав сведений по СТРУКТУРА ФОРМАТ ВВ 309н.docx))   
DocKind12 - Решения таможенного органа о не продлении срока обратного ввоза (IMO-001082 (Приказ МинФина от 16.12.2020г. № 309н без формы, состав сведений по СТРУКТУРА ФОРМАТ ВВ 309н.docx))
-->
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:nvl="urn:customs.ru:Information:ExchangeDocuments:OEZ_NotifViolation:5.25.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:ExchangeDocuments:OEZ_NotifViolation:5.25.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.25.0.0">
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:annotation>
		<xs:documentation>Решение таможенного органа о продлении (не продлении) срока переработки товаров/рассмотрения Заявления / Уведомление об отказе в выдаче разрешения на вывоз товаров / Уведомление о непредставлении документов</xs:documentation>
	</xs:annotation>
	<xs:element name="OEZ_NotifViolation" type="nvl:OEZ_NotifViolationType">
		<xs:annotation>
			<xs:documentation>Решение таможенного органа о продлении (не продлении) срока переработки товаров/рассмотрения Заявления / Уведомление об отказе в выдаче разрешения на вывоз товаров / Уведомление о непредставлении документов</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OEZ_NotifViolationType">
		<xs:annotation>
			<xs:documentation>Решение таможенного органа о продлении (не продлении) срока переработки товаров/рассмотрения Заявления / Уведомление об отказе в выдаче разрешения на вывоз товаров / Уведомление о непредставлении документов</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="DocKind" type="clt_ru:Count2Type">
						<xs:annotation>
							<xs:documentation>Вид документа:                    1 - Уведомление об отказе в выдаче разрешения на ввоз (вывоз) товаров 
2 - Уведомление об отказе в выдаче разрешения на передачу товаров
3 - Уведомления о продлении срока рассмотрения Заявления о передаче товаров
4 - Уведомление о непредставлении документов
5 - Уведомление об отказе в выдаче разрешения на переработку
6 - Решение о продлении срока переработки   
7 - Решение о не продлении срока переработки  
8 - Уведомление о продлении срока рассмотрения Заявления о завершении действия СТЗ (оборудование и товары, исп. для строительства объектов недвижимости) 
9 - Уведомление о продлении срока рассмотрения Заявления о завершении действия СТЗ (потребленные товары)
10 - Уведомление об отказе в выдаче разрешения на вывоз товаров, помещенных под таможенную процедуру СТЗ (Приказ МинФина РФ от 16.12.2020г. № 309н)
11 - Решения таможенного органа о продлении срока обратного ввоза (Приказ МинФина РФ от 16.12.2020г. № 309н)
12 - Решения таможенного органа о не продлении срока обратного ввоза (Приказ МинФина РФ от 16.12.2020г. № 309н)
13 - Уведомление об отказе в выдаче разрешения на вывоз товаров (Приказ Минфина РФ от 29.05.2024 № 71н)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ZoneKind" type="clt_ru:Numeric1Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код вида зоны: 1 - ОЭЗ; 2 - ПОЭЗ ; 3 - ТОР; 4 - СЭЗ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AppRegNum" type="nvl:NotifRegNumType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер заявления/ уведомления, по которому принят отказ/разрешение</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NotifRegNum" type="nvl:NotifRegNumType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RegDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата регистрации уведомления</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MotiveProhibition" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Причины отказа/ Основания, по которым принято решение о невозможности выдачи разрешения на ввоз (вывоз)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MotiveProhibitionCode" type="nvl:MotiveProhibitionCodeType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Код причины отказа (Приказы  Минфина России от 03.05.2024 №55н и от 06.050.2024 № 59н)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NecessityActivity" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Действия, которые необходимо предпринять заявителю</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Customs" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Наименование таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ListDocumentInformation" type="nvl:ListDocumentInformationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Перечень документов и сведений</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Declarant_OEZ" type="nvl:Declarant_OEZType">
						<xs:annotation>
							<xs:documentation>Заявитель</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ResidentCertificate" type="nvl:ResidentCertificateType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Свидетельство резидента ОЭЗ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RenewalPeriod" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Срок продления</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DeadlineDoc" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Срок представления документов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProlongReason" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Причины продления срока</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsInfo" type="nvl:GoodsType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о товарах</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsPerson" type="cat_ru:PersonSignatureType">
						<xs:annotation>
							<xs:documentation>Должностное лицо таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1004085E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы.</xs:documentation>
	</xs:annotation>
	<xs:complexType name="Declarant_OEZType">
		<xs:annotation>
			<xs:documentation>Сведения о заявителе</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:OrganizationBaseType">
				<xs:sequence>
					<xs:element name="Address" type="RUScat_ru:RUAddressType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Адрес организации / физического лица</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о документе, удостоверяющем личность физического лица</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GoodsType">
		<xs:annotation>
			<xs:documentation>Сведения о товарах</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Position" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Описание товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NotifPosition" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер товара в уведомлении о вывозе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Notes" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Примечание</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ListDocumentInformationType">
		<xs:annotation>
			<xs:documentation>Документы и сведения, представляемые в уполномоченный таможенный орган</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="AddInformation" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NotifRegNumType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер документа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата регистрации документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="clt_ru:CodeVariable10Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер Разрешения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Abbreviation" type="clt_ru:CodeVariable5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>4-ая часть номера</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResidentCertificateType">
		<xs:annotation>
			<xs:documentation>Сведения о включении в реестр резидентов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CertificateNumber" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Номер свидетельства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата выдачи свидетельства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateValidity" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Срок действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateAgency" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование органа, выдавшего свидетельство</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="MotiveProhibitionCodeType">
		<xs:annotation>
			<xs:documentation>Код причины отказа в вывозе товаров</xs:documentation>
		</xs:annotation>
		<xs:restriction base="clt_ru:CodeVariable2Type">
			<xs:enumeration value="11">
				<xs:annotation>
					<xs:documentation>Не предоставлены документы, подтверждающие статус вывозимых товаров, как товаров ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="12">
				<xs:annotation>
					<xs:documentation>Не предоставлены коммерческие, транспортные (перевозочные) документы</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="13">
				<xs:annotation>
					<xs:documentation>Не предоставлены почтовые документы</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="14">
				<xs:annotation>
					<xs:documentation>Не предоставлены документы, подтверждающие полномочия лица на совершение таможенных операций по подтверждению статуса товаров как товаров ЕАЭС, представление документов и товаров в таможенный орган</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="15">
				<xs:annotation>
					<xs:documentation>Не предоставлена опись товаров, которая представляется, если товары ЕАЭС перевозятся в личном багаже пассажира без коммерческих, транспортных (перевозочных) документов</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="21">
				<xs:annotation>
					<xs:documentation>В документах не содержатся сведения об отправителе товаров</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="22">
				<xs:annotation>
					<xs:documentation>В документах не содержатся сведения о получателе товаров</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="23">
				<xs:annotation>
					<xs:documentation>В документах не содержатся сведения о товарах (наименование товаров, количество мест, вес брутто, вид упаковки, стоимость)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="24">
				<xs:annotation>
					<xs:documentation>В документах не содержатся наименования пункта погрузки и пункта выгрузки товаров</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="30">
				<xs:annotation>
					<xs:documentation>Выявлено несоответствие сведений о товарах ЕАЭС, содержащихся в ЕАИС ТО, сведениям, содержащимся в документах</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="41">
				<xs:annotation>
					<xs:documentation>Не подтвержден статус вывозимых товаров как товаров ЕАЭС в связи с тем, что в ходе проверки выявлено несоответствие фактически предъявленных товаров, товарам, сведения о которых указаны в представленных документах и (или) в ЕАИС ТО; выявлена невозможность их идентификации</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="42">
				<xs:annotation>
					<xs:documentation>Не подтвержден статус вывозимых товаров как товаров ЕАЭС в связи с тем, что представлены недействительные документы</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="43">
				<xs:annotation>
					<xs:documentation>Не подтвержден статус вывозимых товаров как товаров ЕАЭС в связи с тем, что вывозимые товары не размещены в ЗТК в установленный срок </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
