XsltProcessor/xsd/5.25.0/StaticForm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Постановление Правительства РФ от 19.06.2020 № 891 -->
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:statf="urn:customs.ru:Information:CustomsDocuments:StaticForm:5.24.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.24.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:StaticForm:5.24.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.24.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Статистическая форма учета перемещения товара</xs:documentation>
  </xs:annotation>
  <xs:element name="StaticForm" type="statf:StaticFormType">
    <xs:annotation>
      <xs:documentation>Статистическая форма учета перемещения товара</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="StaticFormType">
    <xs:annotation>
      <xs:documentation>Статистическая форма учета перемещения товара</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="PreviousRegNumberDoc" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер аннулируемой статистической формы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsProcedure" type="clt_ru:CUCustomsProcedureType">
            <xs:annotation>
              <xs:documentation>Направление перемещения (ИМ/ЭК)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransportModeCode" type="clt_ru:TransportModeCodeType">
            <xs:annotation>
              <xs:documentation>Код вида транспорта на границе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransportName" type="clt_ru:TransportNameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование вида транспорта на границе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReportingDate" type="clt_ru:MonthYearType">
            <xs:annotation>
              <xs:documentation>Отчетный месяц перемещения товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NSF" type="clt_ru:CodeVariable20Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Системный номер</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignor" type="statf:OrganizationType">
            <xs:annotation>
              <xs:documentation>Продавец</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Sender" type="statf:OrganizationType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Отправитель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignee" type="statf:OrganizationType">
            <xs:annotation>
              <xs:documentation>Покупатель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Recipient" type="statf:OrganizationType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Получатель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FinancialAdjustingResponsiblePerson" type="statf:OrganizationType">
            <xs:annotation>
              <xs:documentation>Лицо, ответственное за финансовое урегулирование</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TradeCountry" type="statf:CountryInfoType">
            <xs:annotation>
              <xs:documentation>Торгующая страна</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DispatchCountry" type="statf:CountryInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Страна отправления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DestinationCountry" type="statf:CountryInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Страна назначения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustCostCurrencyCode" type="clt_ru:CurrencyA3CodeType">
            <xs:annotation>
              <xs:documentation>Код валюты общей стоимости товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustCostTotalAmount" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Общая стоимость товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Documents" type="statf:DocumentsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Документы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsInfo" type="statf:GoodsInfoType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о товарах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ProvidePerson" type="statf:ProvidePersonType">
            <xs:annotation>
              <xs:documentation>Сведения о лице, ответственном за предоставление статистической формы (лицо, уполномоченное предоставлять статистическую форму от имени юридического лица)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegNum" type="cat_ru:GTDIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006124E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CountryInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о стране</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CountryName" type="clt_ru:CountryNameType">
        <xs:annotation>
          <xs:documentation>Наименование страны</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType">
        <xs:annotation>
          <xs:documentation>Код страны в соответствии с классификатором</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType">
        <xs:annotation>
          <xs:documentation>Код товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="5">
        <xs:annotation>
          <xs:documentation>Наименование (коммерческое, фирменное или иное традиционное наименование) товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Manufacturer" type="catESAD_cu:ManufacturerType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о производителе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdditionalInformationCode" type="clt_ru:CodeVariable2Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
							Код дополнительных сведений:
							01 - переработка на территории РФ;
							02 - переработка вне территории РФ;
							03 - продукты переработки;
							04 - товары, перемещаемые по договору финансовой аренды (лизинга);
							05 - переработка для внутреннего потребления в РФ;
							06 - товары, срок временного ввоза (вывоза) которых был продлен и составил более 1 года;
							07 - товары, вывозимые в рамках интернет-торговли в адрес физ. лиц;
							08 - товары, подлежащие прослеживаемости.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdditionalInformation" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Дополнительные сведения, позволяющие идентифицировать товар</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTraceabilityMeasureDetails" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество в дополнительной единице измерения, используемой для прослеживаемости</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DTIdentificationMeansDetails" type="catESAD_cu:DTIdentificationMeansDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о средствах идентификации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NetWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес нетто товара (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InvoicedCost" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Стоимость товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StatisticalCostRUB" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Статистическая стоимость товара (в рублях)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StatisticalCostUSD" type="clt_ru:CurrencyRateType">
        <xs:annotation>
          <xs:documentation>Статистическая стоимость товара (в долларах США)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginCountry" type="statf:CountryInfoType">
        <xs:annotation>
          <xs:documentation>Страна происхождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DTInfo" type="statf:DTInfoType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Декларация на товары (Заявление о выпуске товаров до подачи ДТ)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товара в дополнительной единице измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentsType">
    <xs:annotation>
      <xs:documentation>Сведения о документах</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="PresentedDocumentModeCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код вида представляемого документа в соответствии с классификатором видов документов и сведений, используемых при таможенном декларировании</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArchID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор архива</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArchDocID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор документа архива</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DTInfoType">
    <xs:annotation>
      <xs:documentation>Сведения из декларации на товары / Заявления о выпуске до подачи ДТ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DTNumber" type="cat_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganizationType">
    <xs:annotation>
      <xs:documentation>Сведения об организации</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectBranchDetailsType">
        <xs:sequence>
          <xs:element name="AccreditationCertificate" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер свидетельства об аккредитации (НСА)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProvidePersonType">
    <xs:annotation>
      <xs:documentation>Сведения о лице, ответственное за предоставление статистической формы (лицо, уполномоченное предоставлять статистическую форму от имени юридического лица)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SigningDetailsType">
        <xs:sequence>
          <xs:element name="Organization" type="statf:OrganizationType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения об организации</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>