XsltProcessor/xsd/5.25.0/STZ_PermitCloseConsumedGoods.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Приказ ФТС от 04.09.2023 г. N 784 "Об утверждении формы заявления о завершении действия таможенной процедуры свободной таможенной зоны (за исключением случаев завершения действия такой процедуры на территориях Донецкой Народной Республики, Луганской Народной Республики, Запорожской области и Херсонской области) в отношении товаров, которые были израсходованы (потреблены) в соответствии с подпунктом 5 пункта 1 статьи 205 Таможенного кодекса Евразийского экономического союза, формы решения таможенного органа о завершении действия такой таможенной процедуры и приобретении товарами статуса товаров Евразийского экономического союза и порядков их заполнения"-->
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.24.0" xmlns:pccg="urn:customs.ru:Information:ExchangeDocuments:STZ_PermitCloseConsumedGoods:5.25.0" targetNamespace="urn:customs.ru:Information:ExchangeDocuments:STZ_PermitCloseConsumedGoods:5.25.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.25.0.0">
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.24.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Решение таможенного органа о завершении действия таможенной  процедуры свободной таможенной зоны в отношении товаров,  которые были израсходованы (потреблены) в соответствии 
с подпунктом 5 пункта 1 статьи 205 Таможенного кодекса Евразийского экономического союза</xs:documentation>
	</xs:annotation>
	<xs:element name="STZ_PermitCloseConsumedGoods" type="pccg:STZ_PermitCloseConsumedGoodsType">
		<xs:annotation>
			<xs:documentation>Решение таможенного органа о завершении действия таможенной  процедуры свободной таможенной зоны в отношении товаров,  которые были израсходованы (потреблены) в соответствии 
с подпунктом 5 пункта 1 статьи 205 Таможенного кодекса Евразийского экономического союза</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="STZ_PermitCloseConsumedGoodsType">
		<xs:annotation>
			<xs:documentation>Решение таможенного органа о завершении действия таможенной  процедуры свободной таможенной зоны в отношении товаров,  которые были израсходованы (потреблены) в соответствии 
с подпунктом 5 пункта 1 статьи 205 Таможенного кодекса Евразийского экономического союза</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="Customs" type="cat_ru:CustomsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о таможенном органе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PermissionRegNumber" type="pccg:RegNumType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер Разрешения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SheetsNumber" type="clt_ru:Count3Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество листов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AppRegNum" type="pccg:RegNumType">
						<xs:annotation>
							<xs:documentation>Регистрационный номер Заявления</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AppCloseSTZ" type="pccg:AppCloseSTZType">
						<xs:annotation>
							<xs:documentation>Сведения, указанные в Заявлении</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DecisionDateTime" type="clt_ru:DateTimeCustType">
						<xs:annotation>
							<xs:documentation>Дата и время принятия Решения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsSignature" type="cat_ru:PersonSignatureType">
						<xs:annotation>
							<xs:documentation>Подписьlдолжностного лица таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1060037E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="AppCloseSTZType">
		<xs:annotation>
			<xs:documentation>Сведения, указанные в Заявлении</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Customs" type="cat_ru:CustomsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о таможенном органе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Resident" type="pccg:ResidentType">
				<xs:annotation>
					<xs:documentation>Сведения о резиденте СТЗ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SheetsNumber" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество листов</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartReportDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Начало периода предоставления отчетности</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndReportDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Окончание периода предоставления отчетности</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PropertyCreateGoods" type="pccg:PropertyCreateGoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Раздел I. Товары, потребленные при создании объекта недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PropertyExplGoods" type="pccg:PropertyExplGoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Раздел II. Товары, потребленные при эксплуатации (содержании) объекта недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PropertyRepairGoods" type="pccg:PropertyRepairGoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Раздел III. Товары, потребленные при ремонте (реконструкции, модернизации) объекта недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EquipmentExplGoods" type="pccg:EquipmentExplGoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Раздел IV. Товары, потребленные при эксплуатации/техническом обслуживании оборудования, машин и агрегатов</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResearchGoods" type="pccg:ResearchGoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Раздел V. Товары, потребленные при проведении исследований, испытаний.  тестирований, проверок, опытов или экспериментов</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EAD_NumberType">
		<xs:annotation>
			<xs:documentation>Номер ЭУД</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="INN" type="clt_ru:INNIDType">
				<xs:annotation>
					<xs:documentation>ИНН плательшика</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EAD_Date" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата составления</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="clt_ru:Count10Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsKind" type="clt_ru:CodeVariable3Type">
				<xs:annotation>
					<xs:documentation>Признак товара, на который формируется ЭУД: СТЗ - товары помещенные, под процедуру СТЗ; ПП - товары, изготовленные (полученные) с использованием товаров, помещенных под процедуру СТЗ </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EquipmentExplGoodsType">
		<xs:annotation>
			<xs:documentation>Сведения о товарах, потребленных при эксплуатации/техническом обслуживании оборудования, машин и агрегатов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EquipmentType" type="pccg:EquipmentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения об оборудовании</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EquipmentGoodsSTZ" type="pccg:EquipmentGoodsSTZType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, помещенные под СТЗ потребленные при эксплуатации оборудования</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EquipmentProcessingGoods" type="pccg:ExploitationProcessingGoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, изготовленные (полученные) из товаров, помещенных СТЗ, потребленные при эксплуатации оборудования</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EquipmentGoodsSTZType">
		<xs:annotation>
			<xs:documentation>Сведения о товарах, помещенных под СТЗ,потребленных при эксплуатации и (или) техническом обслуживании оборудования, машин и агрегатов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Position" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер позиции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EquipmentGoodsDecl" type="pccg:GoodsDeclType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о товаре по ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес товара (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsQuantity" type="catESAD_cu:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperationsDoc" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения об операциях по эксплуатации и техническому обслуживанию оборудования</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TechID" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Технические идентификаторы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Decision" type="clt_ru:LetterIndicatorType">
				<xs:annotation>
					<xs:documentation>Решение по товару: 1 - разрешено, 2 - отказано</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RejectionReason" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Причина отказа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EquipmentType">
		<xs:annotation>
			<xs:documentation>Сведения об оборудовании (машине, агрегате)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Position" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер позиции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EquipmentName" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование оборудования (машины, агрегата) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperationsDoc" type="pccg:OperationsDocType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения об операциях по эксплуатации и техническому обслуживанию оборудования</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EquipmentGoodsDecl" type="pccg:GoodsDeclType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о товаре по ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsQuantity" type="catESAD_cu:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Decision" type="clt_ru:LetterIndicatorType">
				<xs:annotation>
					<xs:documentation>Решение по товару: 1 - разрешено, 2 - отказано</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RejectionReason" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Причина отказа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExploitationGoodsSTZType">
		<xs:annotation>
			<xs:documentation>Сведения о товарах, помещенных под СТЗ, потребленных при эксплуатации (содержании) объекта недвижимости</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Position" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер позиции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExploitationGoodsDecl" type="pccg:GoodsDeclType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о товарах по ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес товара (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsQuantity" type="catESAD_cu:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TechID" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Технические идентификаторы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Decision" type="clt_ru:LetterIndicatorType">
				<xs:annotation>
					<xs:documentation>Решение по товару: 1 - разрешено, 2 - отказано</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RejectionReason" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Причина отказа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExploitationProcessingGoodsType">
		<xs:annotation>
			<xs:documentation>Сведения о товарах, изготовленных (полученных) из товаров, помещенных под СТЗ, и потребленных при эксплуатации оборудования </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Position" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер позиции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType">
				<xs:annotation>
					<xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsQuantity" type="catESAD_cu:SupplementaryQuantityType" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UsedGoods" type="pccg:UsedGoodsDeclType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, помещенные под СТЗ, использованные для изготовления товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TechID" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Технические идентификаторы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Decision" type="clt_ru:LetterIndicatorType">
				<xs:annotation>
					<xs:documentation>Решение по товару: 1 - разрешено, 2 - отказано</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RejectionReason" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Причина отказа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsDeclnfoType">
		<xs:annotation>
			<xs:documentation>Товар ДТ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsNumber" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Номер товара в ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес товара (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsQuantity" type="catESAD_cu:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество товара из ДТ, вошедшее в позицию</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TechID" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Технические идентификаторы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EAD_Number" type="pccg:EAD_NumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер ЭУД</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EAD_GoodsNumber" type="clt_ru:Count5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер товара в ЭУД</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsDeclType">
		<xs:annotation>
			<xs:documentation>Сведения о ДТ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="DeclRegNum" type="cat_ru:GTDIDType">
					<xs:annotation>
						<xs:documentation>Регистрационный номер ДТ</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CustomsDoc" type="cat_ru:DocumentBaseType">
					<xs:annotation>
						<xs:documentation>Таможенный документ, на основании которого товар учитывался таможенным органом</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="GoodsDeclnfo" type="pccg:GoodsDeclnfoType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OperationsDocType">
		<xs:annotation>
			<xs:documentation>Сведения об операции  по эксплуатации и техническому обслуживанию оборудования</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="OperationsDescription" type="clt_ru:FreeText250Type">
						<xs:annotation>
							<xs:documentation>Наименование операции</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PropertyCreateGoodsSTZType">
		<xs:annotation>
			<xs:documentation>Сведения о товарах, помещенных под СТЗ и потребленных при создании объекта недвижимости</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Position" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер позиции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PropertyGoodsDecl" type="pccg:GoodsDeclType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Cведения о товарах по ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес товара (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsQuantity" type="catESAD_cu:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество товара в дополнительной единице измерения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ComponentUseName" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование составной (неотъемлемой) части объекта недвижимости при создании которой был использован товар</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TechID" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Технические идентификаторы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Decision" type="clt_ru:LetterIndicatorType">
				<xs:annotation>
					<xs:documentation>Решение по товару: 1 - разрешено, 2 - отказано</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RejectionReason" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Причина отказа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PropertyCreateGoodsType">
		<xs:annotation>
			<xs:documentation>Сведени о товарах, использованных для создания объектов недвижимости  </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Position" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер позиции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PropertyName" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование объекта недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PropertyLocation" type="RUScat_ru:RUAddressType">
				<xs:annotation>
					<xs:documentation>Местонахождение объекта недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PropertyGoodsSTZ" type="pccg:PropertyCreateGoodsSTZType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, помещенные под СТЗ и потребленные при создании объекта недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PropertyProcessingGoods" type="pccg:PropertyProcessingGoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, изготовленные (полученные) из товаров, помещенных под СТЗ и потребленные при создании объекта недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PropertyExplGoodsType">
		<xs:annotation>
			<xs:documentation>Сведения о товарах, потребленных при эксплуатации (содержании) объекта недвижимости</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Position" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер позиции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PropertyName" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование объекта недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PropertyLocation" type="RUScat_ru:RUAddressType">
				<xs:annotation>
					<xs:documentation>Местонахождение объекта недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExploitationGoodsSTZ" type="pccg:ExploitationGoodsSTZType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, помещенные под СТЗ и потребленные при эксплуатации объекта недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExploitationProcessingGoods" type="pccg:ExploitationProcessingGoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, изготовленные (полученные) из товаров, помещенных под СТЗ, и потребленные при эксплуатации объекта недвижимости </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PropertyProcessingGoodsType">
		<xs:annotation>
			<xs:documentation>Сведения о товарах, изготовленных (полученных) из товаров, помещенных под СТЗ и потребленных при создании объекта недвижимости</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Position" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер позиции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType">
				<xs:annotation>
					<xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsQuantity" type="catESAD_cu:SupplementaryQuantityType" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProcessingOperations" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения об операциях по переработке</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ComponentName" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование составной (неотъемлемой) части объекта недвижимости, при создании которой был потреблен товар</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UsedGoods" type="pccg:PropertyUsedGoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, помещенные под СТЗ, использованные при изготовлении указанного здесь товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TechID" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Технические идентификаторы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Decision" type="clt_ru:LetterIndicatorType">
				<xs:annotation>
					<xs:documentation>Решение по товару: 1 - разрешено, 2 - отказано</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RejectionReason" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Причина отказа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PropertyRepairGoodsType">
		<xs:annotation>
			<xs:documentation>Сведения о товарах, помещенных под СТЗ, потребленных при ремонте (реконструкции, модернизации) объекта недвижимости</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Position" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер позиции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PropertyName" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование объекта недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PropertyLocation" type="RUScat_ru:RUAddressType">
				<xs:annotation>
					<xs:documentation>Местонахождение объекта недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProcessingOperations" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Операции по ремонту (реконструкции, модернизации) объекта недвижимости, при совершении которых были потреблены товары </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RepairGoodsSTZ" type="pccg:RepairGoodsSTZType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, помещенные под СТЗ и потребленные при ремонте объекта недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RepairProceccingGoods" type="pccg:RepairProceccingGoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, изготовленные (полученные) из товаров, помещенных под СТЗ, потребленные при ремонте объекта недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PropertyUsedGoodsType">
		<xs:annotation>
			<xs:documentation>Сведения о товарах, использованных для изготовления</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Position" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер позиции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType">
				<xs:annotation>
					<xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDecl" type="pccg:GoodsDeclType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о товарах по ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsWeightQuantity" type="clt_ru:QuantityBasisType">
				<xs:annotation>
					<xs:documentation>Вес товара (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsQuantity" type="catESAD_cu:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество товара в дополнительной единице измерения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TechID" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Технические идентификаторы</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegNumType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер документа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата регистрации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="clt_ru:CodeVariable10Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddNumber" type="clt_ru:CodeVariable5Type">
				<xs:annotation>
					<xs:documentation>4-ая часть номера</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RepairGoodsSTZType">
		<xs:annotation>
			<xs:documentation>Сведения о товарах, помещенных под СТЗ, потребленных при ремонте (реконструкции, модернизации) объекта недвижимости</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Position" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер позиции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RepairGoodsDecl" type="pccg:GoodsDeclType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о товарах по ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес товара (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsQuantity" type="catESAD_cu:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TechID" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Технические идентификаторы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Decision" type="clt_ru:LetterIndicatorType">
				<xs:annotation>
					<xs:documentation>Решение по товару: 1 - разрешено, 2 - отказано</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RejectionReason" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Причина отказа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RepairProceccingGoodsType">
		<xs:annotation>
			<xs:documentation>Сведения о товарах, изготовленных (полученных) из товаров, помещенных под СТЗ и потребленных при ремонте объекта недвижимости</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Position" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер позиции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType">
				<xs:annotation>
					<xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsQuantity" type="catESAD_cu:SupplementaryQuantityType" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UsedGoods" type="pccg:UsedGoodsDeclType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, помещенные под СТЗ, использованные для изготовления указанного здесь товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TechID" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Технические идентификаторы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Decision" type="clt_ru:LetterIndicatorType">
				<xs:annotation>
					<xs:documentation>Решение по товару: 1 - разрешено, 2 - отказано</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RejectionReason" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Причина отказа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResearchGoodsSTZType">
		<xs:annotation>
			<xs:documentation>Сведения о товарах, помещенных под СТЗ, потребленных при проведении исследований, испытаний</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Position" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер позиции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResearchGoodsDecl" type="pccg:GoodsDeclType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о товаре по ДТ </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес товара (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsQuantity" type="catESAD_cu:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TechID" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Технические идентификаторы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Decision" type="clt_ru:LetterIndicatorType">
				<xs:annotation>
					<xs:documentation>Решение по товару: 1 - разрешено, 2 - отказано</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RejectionReason" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Причина отказа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResearchGoodsType">
		<xs:annotation>
			<xs:documentation>Сведения о товарах, потребленных при проведении исследований, испытаний, тестирований, проверок, опытов или экспериментов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Position" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер позиции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResearchInfo" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Описание проведенного исследования</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResearchGoodsSTZ" type="pccg:ResearchGoodsSTZType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, помещенные под СТЗ, потребленные при проведении исследований, испытаний</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResearchProcessingGoods" type="pccg:RepairProceccingGoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, изготовленные (полученные) из товаров, помещенных СТЗ, потребленные при проведении исследований, испытаний</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResidentCertificateType">
		<xs:annotation>
			<xs:documentation>Сведения о включении в реестр резидентов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CertificateNumber" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Номер свидетельства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата выдачи свидетельства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateValidity" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Срок действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateAgency" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование органа, выдавшего свидетельство</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResidentType">
		<xs:annotation>
			<xs:documentation>Сведения о резиденте</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:SubjectDetailsType">
				<xs:sequence>
					<xs:element name="ResidentCertificate" type="pccg:ResidentCertificateType">
						<xs:annotation>
							<xs:documentation>Cвидетельство о включении в реестр резидентов</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UsedGoodsDeclType">
		<xs:annotation>
			<xs:documentation>Сведения о товарах, помещенных под СТЗ, использованных для изготовления товара</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Position" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер позиции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType">
				<xs:annotation>
					<xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDecl" type="pccg:GoodsDeclType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о товарах по ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsWeightQuantity" type="clt_ru:QuantityBasisType">
				<xs:annotation>
					<xs:documentation>Вес товара (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsQuantity" type="catESAD_cu:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество товара в дополнительной единице измерения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TechID" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Технические идентификаторы</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
