XsltProcessor/xsd/5.25.0/STZ_RU_Report.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--DocType = '1' - Приказ ФТС России Министерства финансов РФ от 13 декабря 2023 г. N 1196
DocType = '2' - Приказ ФТС России Министерства финансов РФ от 6 декабря 2023 г. N 1155
DocType = '3' - Приказ ФТС России Министерства финансов РФ от 13 декабря 2023 г. N 1195
DocType = '4' - Приказ ФТС России Министерства финансов РФ от 13 декабря 2023 г. N 1198
DocType = '5' - Приказ ФТС России Министерства финансов РФ от 11 декабря 2023 г. N 1183
DocType = '6' - Приказ ФТС России Министерства финансов РФ от 13 декабря 2023 г. N 1197-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.24.0" xmlns:cltESAD_ru="urn:customs.ru:RUCommonLeafTypes:5.4.0" xmlns:catTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.24.0" xmlns:stz_ru="urn:customs.ru:Information:CustomsDocuments:STZ_RU_Report:5.25.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:STZ_RU_Report:5.25.0" elementFormDefault="qualified" version="5.25.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.24.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUCommonLeafTypes:5.4.0" schemaLocation="RUESADCommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.24.0" schemaLocation="TransportCommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Отчетность о товарах, помещенных под таможенную процедуру свободной таможенной зоны</xs:documentation>
	</xs:annotation>
	<xs:element name="STZ_RU_Report" type="stz_ru:STZ_RU_ReportType">
		<xs:annotation>
			<xs:documentation>Отчетность о товарах, помещенных под таможенную процедуру свободной таможенной зоны</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="STZ_RU_ReportType">
		<xs:annotation>
			<xs:documentation>Отчетность о товарах, помещенных под таможенную процедуру свободной таможенной зоны</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="DocType" type="clt_ru:Numeric1Type">
						<xs:annotation>
							<xs:documentation>Тип отчета:
							1 - Отчетность о товарах, помещенных под таможенную процедуру свободной таможенной зоны, применяемую на территории Особой экономической зоны в Калининградской области, и товарах, изготовленных (полученных) из иностранных товаров, помещенных под такую таможенную процедуру;
							2 - Отчетность о товарах, помещенных под таможенную процедуру свободной таможенной зоны, применяемую на территории особой экономической зоны, созданной в соответствии с Федеральным законом от 22 июля 2005 г. N 116-ФЗ "Об особых экономических зонах в Российской Федерации", и товарах, изготовленных (полученных) из товаров, помещенных под указанную таможенную процедуру свободной таможенной зоны, а также об операциях, совершаемых с такими товарами;
							3 - Отчетность о товарах, помещенных под таможенную процедуру  свободной таможенной зоны, применяемую на территории свободной экономической зоны на территориях Республики Крым и города федерального значения Севастополя, и товарах, изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободной таможенной зоны, применяемую на территории свободной экономической зоны на территориях Республики Крым и города федерального значения Севастополя;
							4 - Отчетностьо товарах, помещенных под таможенную процедуру свободной таможенной зоны, применяемую на участках территории опережающего развития, и о товарах, изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободной таможенной зоны, применяемую на участках территории опережающего развития;
							5 - Отчетность о товарах, помещенных под таможенную процедуру свободной таможенной зоны, применяемую на территории свободного порта Владивосток, и товарах, изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободной таможенной зоны, применяемую на территории свободного порта Владивосток;
							6 - Отчетность о товарах, помещенных под таможенную процедуру свободной таможенной зоны, применяемую на территории Особой экономической зоны в Магаданской области и на территориях Южно-Курильского, Курильского и Северо-Курильского городских округов Сахалинской области, и товарах, изготовленных (полученных) с использованием иностранных товаров, помещенных под такую таможенную процедуру</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Customs" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Сведения о таможенном органе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReportingPeriod" type="stz_ru:ReportingPeriodType">
						<xs:annotation>
							<xs:documentation>Отчётный период</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SheetsNumber" type="clt_ru:Count3Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество листов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Resident" type="stz_ru:ResidentType">
						<xs:annotation>
							<xs:documentation>Резидент особой  экономической зоны или участник свободной (особой) экономической зоны</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReportPerson" type="stz_ru:ReportPersonType">
						<xs:annotation>
							<xs:documentation>Сведения об уполномоченном лице, на которое возложена ответственность составления отчетности</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Table1" type="stz_ru:Table1Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Таблица 1. Товары, помещенные под таможенную процедуру свободной таможенной зоны</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Table11" type="stz_ru:Table11Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Таблица 1.1 Товары, помещенные под таможенную процедуру свободной таможенной зоны для целей совершения операций по переработке товаров в соответствии с подпунктом 4 пункта 1 статьи 205 Таможенного кодекса ЕАЭС (кроме Магаданской области)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Table11_49" type="stz_ru:Table11_49Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Таблица 1.1 Товары, вывезенные для собственных производственных и технологических нужд на остальную часть территории Магаданской области</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Table2" type="stz_ru:Table2Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Таблица 2. Товары, изготовленные (полученные) из товаров, помещенных под таможенную процедуру свободной таможенной зоны на отчетную дату согласно сведениям, указанным в таблице N 1.1</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Table3" type="stz_ru:Table3Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Таблица 3. Транспортные средства для перевозки грузов, тягачи, прицепы, полуприцепы, пожарные автомобили и специально предназначенные для медицинских целей автомобили, автобусы, воздушные суда, водные суда, железнодорожный подвижной состав (включая порожние транспортные средства), помещенные под таможенную процедуру свободной таможенной зоны и используемые в качестве транспортных средств международной перевозки</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1060043E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы.</xs:documentation>
	</xs:annotation>
	<xs:complexType name="DTType">
		<xs:annotation>
			<xs:documentation>Сведения о ДТ </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GTDID" type="cat_ru:GTDIDType">
				<xs:annotation>
					<xs:documentation>Номер таможенной декларации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DTGoodsType">
		<xs:annotation>
			<xs:documentation>Товары в ДТ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsQuantity" type="stz_ru:GoodsQuantity2" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsDoc" type="stz_ru:DTType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Таможенная декларация</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DTGoodsProcType">
		<xs:annotation>
			<xs:documentation>Товары в ДТ с кодом таможенной процедуры</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="stz_ru:DTGoodsType">
				<xs:sequence>
					<xs:element name="CustomsProcedure" type="cltESAD_ru:CustomsProcedureType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код таможенной процедуры</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ExportedGoodsOperationsType">
		<xs:annotation>
			<xs:documentation>Операции, совершаемые с вывезенными товарами в соответствии с пунктом 5 статьи 6 Федерального закона от 31 мая 1999 г. № 104-ФЗ (графа 7 Приказ №1197)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OperationName" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование операции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsQuantity" type="stz_ru:GoodsQuantity1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsLeft" type="stz_ru:GoodsQuantity1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Остаток товара</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsItemType">
		<xs:annotation>
			<xs:documentation>Сведения о товаре</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsMarking" type="cltESAD_cu:GoodsArticulType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор вида продукта (товара) или артикул товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsMark" type="cltESAD_cu:GoodsArticulType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование марки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsModel" type="cltESAD_cu:GoodsArticulType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование модели продукта (товара)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsSort" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сорт товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsStandard" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Стандарт (ГОСТ, ОСТ, СПП, СТО, ТУ)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SerialNumber" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор (серийный номер, код) экземпляра продукта (товара)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameGoods" type="clt_ru:FreeText500Type" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Наименование товара и его описание </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsWithDocType">
		<xs:annotation>
			<xs:documentation>Количество товара и документ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Quantity" type="stz_ru:GoodsQuantity1">
				<xs:annotation>
					<xs:documentation>Количество товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsDoc" type="cat_ru:DocumentBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Таможенный документ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsWithDoc2Type">
		<xs:annotation>
			<xs:documentation>Количество товара и документ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Quantity" type="stz_ru:GoodsQuantity1">
				<xs:annotation>
					<xs:documentation>Количество товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsDoc" type="cat_ru:DocumentBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Таможенный документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INN" type="clt_ru:INNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ИНН - Индивидуальный номер налогоплательщика</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrganizationName" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Наименование организации / ФИО физического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsNetType">
		<xs:annotation>
			<xs:documentation>Вес нетто и документ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NetWeight" type="RUSclt_ru:Quantity24point8Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес нетто товара в кг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsDoc" type="cat_ru:DocumentBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Таможенный документ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsQuantity1">
		<xs:annotation>
			<xs:documentation>Количество товара</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ArticleWeight" type="RUSclt_ru:Quantity24point8Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес товара в кг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Quantity" type="catESAD_cu:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество товаров в единице измерения</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsQuantity2">
		<xs:annotation>
			<xs:documentation>Количество товара</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GrossWeight" type="RUSclt_ru:Quantity24point8Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес брутто в кг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetWeight" type="RUSclt_ru:Quantity24point8Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес нетто в кг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Quantity" type="catESAD_cu:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество товаров в единице измерения</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsWeight">
		<xs:annotation>
			<xs:documentation>Вес товара</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GrossWeight" type="RUSclt_ru:Quantity24point8Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес брутто в кг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetWeight" type="RUSclt_ru:Quantity24point8Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес нетто в кг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PackWeight" type="RUSclt_ru:Quantity24point8Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес упаковки</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MeasureType">
		<xs:annotation>
			<xs:documentation>Единица измерения</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MeasureUnitQualifierCode" type="cltESAD_cu:MeasureUnitQualifierCodeType">
				<xs:annotation>
					<xs:documentation>Код единицы измерения количества товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeasureUnitQualifierName" type="cltESAD_cu:MeasureUnitQualifierNameType">
				<xs:annotation>
					<xs:documentation>Условное обозначение единицы измерения</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OtherConsumedGoodsType">
		<xs:annotation>
			<xs:documentation>Товары, потребленные в соответствии подпунктом 5 пункта 1 статьи 205 Таможенного кодекса ЕАЭС (графа 11)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="stz_ru:GoodsWithDocType">
				<xs:sequence>
					<xs:element name="ConsumeType" type="clt_ru:Numeric1Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Вид эксплуатации: 1 - Эксплуатация объектов недвижимости; 2 - Эксплуатация оборудования; 3 - Исследования (испытания)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherExportType">
		<xs:annotation>
			<xs:documentation>Вывоз товаров без завершения таможенной процедуры СТЗ (графа 12)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="stz_ru:GoodsWithDocType">
				<xs:sequence>
					<xs:element name="ExportPurpose" type="clt_ru:Numeric1Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Цель вывоза: 1 - Ремонт; 2 - Технические ; 3 - В другой ТО; 4 - Собственные производственные нужды; 5 - Переработка (изготовление)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Location" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Местонахождение товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProcedureType">
		<xs:annotation>
			<xs:documentation>Помещено под таможенную процедуру (графы 5-8)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsModeCode" type="cltESAD_cu:CustomsModeCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код таможенной процедуры (графа 5)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DT" type="stz_ru:DTType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>№ таможенной декларации, в соответствии с которой товары помещены под таможенную процедуру (графа 6)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Quantity" type="stz_ru:GoodsQuantity1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество товара по позиции (графа 7)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentDoc" type="cat_ru:DocumentBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Реквизиты документа, подтверждающего статус товара, изготовленного (полученного) с использованием иностранных товаров, помещенных под таможенную процедуру СТЗ, выданного органом, уполномоченным Правительством Российской Федерации (графа 8)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsStatus" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Статус товара: 1 - товар ЕАЭС, 2 - иностранный товар</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comments" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Примечание</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProducedGoodsType">
		<xs:annotation>
			<xs:documentation>Таблица 2. Товары, изготовленные (полученные) из товаров, помещенных под таможенную процедуру свободной таможенной зоны на отчетную дату согласно сведениям, указанным в таблице N 1.1</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="clt_ru:Count5Type">
				<xs:annotation>
					<xs:documentation>№ п/п (графа 1)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecordID" type="clt_ru:DocumentIDType">
				<xs:annotation>
					<xs:documentation>Идентификатор строки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsItem" type="stz_ru:GoodsItemType">
				<xs:annotation>
					<xs:documentation>Наименование товара и его описание  (графа 2)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код товаров по ТН ВЭД ЕАЭС (графа 3 Приказ №1197)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QuantityBefore" type="stz_ru:GoodsQuantity1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество товара до начала отчетного периода (графа 4)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QuantityDuring" type="stz_ru:GoodsQuantity1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество товара за отчетный период (графа 4)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QuantityAll" type="stz_ru:GoodsQuantity1">
				<xs:annotation>
					<xs:documentation>Общее количество товара (графы 3,4)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Procedure" type="stz_ru:ProcedureType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Помещено под таможенную процедуру (графы 5-8)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConsumedGoods" type="stz_ru:GoodsQuantity1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Товары полностью израсходованные (потребленные) в соответствии с подпунктом 4 пункта 1 статьи 205 и (или) пунктом 3 статьи 455 Таможенного кодекса ЕАЭС (графа 9) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherConsumedGoods" type="stz_ru:GoodsWithDocType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, потребленные в соответствии подпунктом 5 пункта 1 статьи 205 Таможенного кодекса ЕАЭС (графа 10) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransferGoods" type="stz_ru:GoodsWithDoc2Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Передача товара иному резиденту или иному лицу в соответствии с пунктами 8, 10 статьи 205 Таможенного кодекса ЕАЭС (графа 11)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DisrepairGoods" type="stz_ru:GoodsNetType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, пришедшие в негодность (графа 12)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResearchGoods" type="stz_ru:GoodsWithDocType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Отбор проб и образцов (графа 13) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransitGoods" type="stz_ru:TransitGoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, вывезенные в соответствии с подпунктом 3 пункта 4 статьи 205 Таможенного кодекса ЕАЭС (графа 14) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherExportGoods" type="stz_ru:GoodsWithDocType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Вывоз товаров без завершения таможенной процедуры СТЗ (графа 15) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LeftGoods" type="stz_ru:GoodsQuantity2" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Остатки товаров, изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободной таможенной зоны (графа 16)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PropertyCreateGoods" type="stz_ru:GoodsWithDocType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Создание объектов недвижимости (графа 13 Приказ №1197) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comments" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Примечание</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProducedNameType">
		<xs:annotation>
			<xs:documentation>Изготовленные товары</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NameGoods" type="clt_ru:FreeText500Type" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Наименование товара </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TableType" type="clt_ru:Numeric1Type">
				<xs:annotation>
					<xs:documentation>Тип таблицы изготовленных товаров: 1 - Товары, изготовленные (полученные) из иностранных товаров; 2 - Товары, изготовленные (полученные) с использованием иностранных товаров; 3 - Товары, изготовленные из товаров ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="clt_ru:Count5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>№ п/п в таблице изготовленных товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecordID" type="clt_ru:DocumentIDType">
				<xs:annotation>
					<xs:documentation>Идентификатор строки в таблице изготовленных товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Quantity" type="stz_ru:GoodsQuantity1">
				<xs:annotation>
					<xs:documentation>Количество сырья и материалов, вошедшее в изготовленные товары</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PropertyCreateGoodsType">
		<xs:annotation>
			<xs:documentation>Создание объекта недвижимости</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="stz_ru:GoodsWithDocType">
				<xs:sequence>
					<xs:element name="PropertyName" type="clt_ru:NameType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Наименование объекта недвижимости</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RecyclingForeignType">
		<xs:annotation>
			<xs:documentation>Иностранные товары, помещенные под таможенную процедуру СТЗ для целей совершения операций по переработке</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="stz_ru:RecyclingGoodsType">
				<xs:sequence>
					<xs:element name="DT" type="stz_ru:DTType">
						<xs:annotation>
							<xs:documentation>№ таможенной декларации, в соответствии с которой товар был помещен под таможенную процедуру СТЗ (графа 3)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RecyclingGoodsType">
		<xs:annotation>
			<xs:documentation>Товары, помещенные под таможенную процедуру СТЗ для целей совершения операций по переработке (обработке)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="clt_ru:Count5Type">
				<xs:annotation>
					<xs:documentation>№ п/п (графа 1)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecordID" type="clt_ru:DocumentIDType">
				<xs:annotation>
					<xs:documentation>Идентификатор строки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsItem" type="stz_ru:GoodsItemType">
				<xs:annotation>
					<xs:documentation>Наименование товара и его описание (графа 2)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Quantity" type="stz_ru:GoodsQuantity1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество товара, израсходованного на все изготовленные наименования  (графы 4,5)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProducedName" type="stz_ru:ProducedNameType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование товаров, изготовленных (полученных) на территории ОЭЗ (графа 6)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LeftGoods" type="stz_ru:GoodsQuantity1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Остаток товаров, в отношении которых не совершены операции по переработке, находящиеся у резидента ОЭЗ на отчетную дату (графа 7)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RecyclingGUType">
		<xs:annotation>
			<xs:documentation>Товары ЕАЭС использованные в операций по переработке</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="stz_ru:RecyclingGoodsType">
				<xs:sequence>
					<xs:element name="TUGoods" type="stz_ru:TUGoodsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Товары ЕАЭС для переработки</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReportingPeriodType">
		<xs:annotation>
			<xs:documentation>Отчётный период</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StartDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата начала отчётного периода</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата окончания отчётного периода</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StateDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>По состоянию на дату</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReportPersonType">
		<xs:annotation>
			<xs:documentation>Сведения об уполномоченном лице, на которое возложена ответственность составления отчетности</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:PersonSignatureType">
				<xs:sequence>
					<xs:element name="AuthorityDoc" type="cat_ru:DocumentBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Реквизиты документа, подтверждающего полномочия лица</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResidentType">
		<xs:annotation>
			<xs:documentation>Сведения о резиденте</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:SubjectDetailsType">
				<xs:sequence>
					<xs:element name="ResidentCertificate" type="stz_ru:ResidentCertificateType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Cвидетельство о включении в реестр резидентов или подтверждающее статус участника</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResidentCertificateType">
		<xs:annotation>
			<xs:documentation>Сведения о включении в реестр резидентов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CertificateNumber" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Номер свидетельства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата выдачи свидетельства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateValidity" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Срок действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateAgency" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование органа, выдавшего свидетельство</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SEZGoodsForeignType">
		<xs:annotation>
			<xs:documentation>Таблица 1. Иностранные товары</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="stz_ru:SEZGoodsType">
				<xs:sequence>
					<xs:element name="DT" type="stz_ru:DTType">
						<xs:annotation>
							<xs:documentation>№ таможенной декларации, в соответствии с которой товар был помещен под таможенную процедуру СТЗ (графа 5)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SEZGoodsGUType">
		<xs:annotation>
			<xs:documentation>Таблица 1. Товары Евразийского экономического союза</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="stz_ru:SEZGoodsType">
				<xs:sequence>
					<xs:element name="TUGoods" type="stz_ru:TUGoodsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Товары ЕАЭС </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SEZGoodsType">
		<xs:annotation>
			<xs:documentation>Таблица 1. Товары, помещенные под таможенную процедуру свободной таможенной зоны</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="clt_ru:Count5Type">
				<xs:annotation>
					<xs:documentation>№ п/п (графа 1)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecordID" type="clt_ru:DocumentIDType">
				<xs:annotation>
					<xs:documentation>Идентификатор строки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsItem" type="stz_ru:GoodsItemType">
				<xs:annotation>
					<xs:documentation>Наименование товара и его описание (графа 2)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код товаров по ТН ВЭД ЕАЭС (графа 3)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Measure1" type="stz_ru:MeasureType">
				<xs:annotation>
					<xs:documentation>Единица измерения 1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Measure2" type="stz_ru:MeasureType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Единица измерения 2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Measure3" type="stz_ru:MeasureType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Единица измерения 3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WeightStart" type="stz_ru:GoodsWeight">
				<xs:annotation>
					<xs:documentation>Вес на начало отчетного периода (графа 6)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WeightDiff" type="stz_ru:GoodsWeight">
				<xs:annotation>
					<xs:documentation>Вес за отчетный период (графа 7)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WeightEnd" type="stz_ru:GoodsWeight">
				<xs:annotation>
					<xs:documentation>Вес на конец отчетного периода (графа 8)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecycledGoods" type="stz_ru:GoodsQuantity1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Товары, в отношении которых совершены операции по переработке в соответствии с подпунктом 4 пункта 1 статьи 205 Таможенного кодекса Евразийского экономического союза (графа 9)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConsumedGoods" type="stz_ru:GoodsQuantity1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Товары полностью израсходованные (потребленные) в соответствии с подпунктом 4 пункта 1 статьи 205 Таможенного кодекса ЕАЭС (графа 10)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherConsumedGoods" type="stz_ru:OtherConsumedGoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, потребленные в соответствии подпунктом 5 пункта 1 статьи 205 Таможенного кодекса ЕАЭС (графа 11)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherExportGoods" type="stz_ru:OtherExportType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Вывоз товаров без завершения таможенной процедуры СТЗ (графа 12)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PropertyCreateGoods" type="stz_ru:PropertyCreateGoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Создание объекта недвижимости (графа 13)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResearchGoods" type="stz_ru:GoodsWithDocType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Отбор проб и образцов (графа 14)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransitGoods" type="stz_ru:TransitGoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, вывезенные в соответствии с подпунктом 3 пункта 4 статьи 205 Таможенного кодекса ЕАЭС (графа 15)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DestroyedGoods" type="stz_ru:GoodsNetType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Уничтожение товаров и (или) упаковки (графа 16)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DisrepairGoods" type="stz_ru:GoodsNetType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, пришедшие в негодность (графа 17)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTGoods" type="stz_ru:DTGoodsProcType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, в отношении которых процедура СТЗ завершена (графа 18)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransferGoods" type="stz_ru:GoodsWithDoc2Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Передача товара иному резиденту или иному лицу в соответствии с пунктами 8, 10 статьи 205 Таможенного кодекса ЕАЭС (графа 19)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LeftGoods" type="stz_ru:GoodsQuantity2" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Хранение (графа 20)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EquipmentGoods" type="stz_ru:GoodsQuantity1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Оборудование (графа 21) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comments" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Примечание</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Table1Type">
		<xs:annotation>
			<xs:documentation>Таблица 1 отчетной формы</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SEZGoodsForeign" type="stz_ru:SEZGoodsForeignType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Иностранные товары, помещенные под таможенную процедуру СТЗ </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SEZGoodsGU" type="stz_ru:SEZGoodsGUType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары ЕАЭС </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Table11Type">
		<xs:annotation>
			<xs:documentation>Таблица 1.1 отчетной формы</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RecyclingForeign" type="stz_ru:RecyclingForeignType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Иностранные товары, помещенные под таможенную процедуру СТЗ для целей совершения операций по переработке</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecyclingGU" type="stz_ru:RecyclingGUType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары ЕАЭС использованные в операций по переработке</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Table11_49Type">
		<xs:annotation>
			<xs:documentation>Таблица 1.1 отчетной формы для Магаданской области</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="clt_ru:Count5Type">
				<xs:annotation>
					<xs:documentation>№ п/п (графа 1)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecordID" type="clt_ru:DocumentIDType">
				<xs:annotation>
					<xs:documentation>Идентификатор строки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsItem" type="stz_ru:GoodsItemType">
				<xs:annotation>
					<xs:documentation>Наименование товара и его описание (графа 2)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DT" type="stz_ru:DTType">
				<xs:annotation>
					<xs:documentation>№ таможенной декларации, в соответствии с которой товар был помещен под таможенную процедуру СТЗ (графа 3)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Quantity" type="stz_ru:GoodsQuantity1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество товара, израсходованного на все изготовленные наименования  (графы 4)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExportedGoodsCloseSTZ" type="stz_ru:DTGoodsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вывезенные товары, в отношении которых процедура СТЗ завершена в соответствии с пунктом 4 статьи 6 Федерального закона от 31 мая 1999 г. № 104-ФЗ (графа 5)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsPlace" type="RUScat_ru:RUAddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Местонахождение товара (графа 6)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExportedGoodsOperations" type="stz_ru:ExportedGoodsOperationsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Операции, совершаемые с вывезенными товарами в соответствии с пунктом 5 статьи 6 Федерального закона от 31 мая 1999 г. № 104-ФЗ (графа 7)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comments" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Примечание (графа 8)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Table2Type">
		<xs:annotation>
			<xs:documentation>Таблица 2 отчетной формы</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ProducedGoodsForeign" type="stz_ru:ProducedGoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, изготовленные (полученные) из иностранных товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProducedGoodsMix" type="stz_ru:ProducedGoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, изготовленные (полученные) с использованием иностранных товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProducedGoodsGU" type="stz_ru:ProducedGoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, изготовленные из товаров ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Table3Type">
		<xs:annotation>
			<xs:documentation>Таблица 3 отчетной формы (Приказ №1196)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TransportMeans" type="stz_ru:TransportMeansType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Транспортные средства для перевозки грузов, тягачи, прицепы, полуприцепы, пожарные автомобили и специально предназначенные для медицинских целей автомобили, автобусы, воздушные суда, водные суда, железнодорожный подвижной состав (включая порожние транспортные средства), помещенные под таможенную процедуру СТЗ и использованные в качестве ТСМП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportMeansUse" type="stz_ru:TransportMeansUseType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Использование транспортных средств, помещённых под таможенную процедуру СТЗ, в качестве ТСМП (транспортные средства для перевозки грузов, тягачи, прицепы, полуприцепы, пожарные автомобили и специально предназначенные для медицинских целей автомобили, автобусы, воздушные суда, водные суда, железнодорожный подвижной состав (включая порожние транспортные средства)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransitGoodsType">
		<xs:annotation>
			<xs:documentation>Вывезено по ТД</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Quantity" type="stz_ru:GoodsQuantity1">
				<xs:annotation>
					<xs:documentation>Количество товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsDoc" type="cat_ru:GTDIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер транзитной декларации</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransportAlienationType">
		<xs:annotation>
			<xs:documentation>Транспортное средство, которое было отчуждено</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PersonInfo" type="cat_ru:PersonBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlienationDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата отчуждения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlienationDoc" type="cat_ru:DocumentBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о документе</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransportClosedSTZType">
		<xs:annotation>
			<xs:documentation>Транспортное средство, в отношении которого действие таможенной процедуры СТЗ завершено</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsProcedure" type="cltESAD_ru:CustomsProcedureType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код таможенной процедуры</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsDoc" type="cat_ru:GTDIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransportMeansType">
		<xs:annotation>
			<xs:documentation>Транспортные средства для перевозки грузов, тягачи, прицепы, полуприцепы, пожарные автомобили и специально предназначенные для медицинских целей автомобили, автобусы, воздушные суда, водные суда, железнодорожный подвижной состав (включая порожние транспортные средства), помещенные под таможенную процедуру СТЗ и использованные в качестве ТСМП</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="clt_ru:Count5Type">
				<xs:annotation>
					<xs:documentation>№ п/п (графа 1)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecordID" type="clt_ru:DocumentIDType">
				<xs:annotation>
					<xs:documentation>Идентификатор строки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportName" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование ТСМП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportRent" type="stz_ru:TransportRentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Транспортное средство, которое было передано во временное пользование (аренда)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportAlienation" type="stz_ru:TransportAlienationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Транспортное средство, которое было отчуждено</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportClosedSTZ" type="stz_ru:TransportClosedSTZType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Транспортное средство, в отношении которого действие таможенной процедуры СТЗ завершено</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportUtilization" type="stz_ru:TransportUtilizationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Транспортное средство утилизированное (утраченное)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportPlace" type="RUScat_ru:RUAddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Местонахождение транспортного средства, находящегося в распоряжении у лица</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransportMeansUseType">
		<xs:annotation>
			<xs:documentation>Использование транспортных средств, помещённых под таможенную процедуру СТЗ, в качестве ТСМП (транспортные средства для перевозки грузов, тягачи, прицепы, полуприцепы, пожарные автомобили и специально предназначенные для медицинских целей автомобили, автобусы, воздушные суда, водные суда, железнодорожный подвижной состав (включая порожние транспортные средства)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Mark" type="clt_ru:MarkCarNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование марки транспортного средства в соответствии с классификатором марок дорожных транспортных средств</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MarkCode" type="clt_ru:MarkCarCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код марки транспортного средства в соответствии с классификатором марок дорожных транспортных средств</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Model" type="clt_ru:TransportNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Модель ТСМП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VINID" type="clt_ru:VINIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификационный номер (VIN) ТСМП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsDoc" type="cat_ru:GTDIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportIdentifier" type="clt_ru:TransportMeansIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Государственный регистрационный номер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArriveDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата прибытия на территорию ОЭЗ в Калининградской области (гружёный/порожний)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepartureDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата убытия с территории ОЭЗ в Калининградской области (гружёный/порожний)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Route" type="catTrans_ru:RoutigInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Маршрут</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsBorderDoc" type="cat_ru:DocumentBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о таможенном документе при перемещении через таможенную границу Евразийского экономического союза</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransportRentType">
		<xs:annotation>
			<xs:documentation>Транспортное средство, которое было передано во временное пользование (аренда)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PersonInfo" type="cat_ru:PersonBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RentBegin" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Начало периода</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RentEnd" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Конец периода</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransportUtilizationType">
		<xs:annotation>
			<xs:documentation>Транспортное средство утилизированное (утраченное)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ValueAmount" type="RUScat_ru:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Стоимость</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UtilizationDoc" type="cat_ru:DocumentBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о документе</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TUGoodsType">
		<xs:annotation>
			<xs:documentation>Ввезенные товары ЕАЭС</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsDoc" type="cat_ru:DocumentBaseType">
				<xs:annotation>
					<xs:documentation>Таможенный документ, на основании которого товар учитывался таможенным органом</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
