XsltProcessor/xsd/5.25.0/STZ_ObligComplyTermsCCZ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Приказ ФТС России № 941 от 18 октября 2023 года "Об утверждении порядка создания зоны таможенного контроля на участке территории опережающего развития или предоставленном резиденту свободного порта Владивосток земельном участке для целей применения таможенной процедуры свободной таможенной зоны и формы заявления о создании такой зоны таможенного контроля"-->
<!--Приказ ФТС России № 915 от 15 октября 2020 года "Об утверждении Порядка принятия решения о создании зоны таможенного контроля на участке резидента Арктической зоны Российской Федерации для целей применения таможенной процедуры свободной таможенной зоны"-->
<!--Приказ ФТС России № 555 от 28 июня 2023 года "Об утверждении порядка принятия таможенным органом решения о создании зоны таможенного контроля на участке территории свободной экономической зоны, созданной на территориях Донецкой Народной Республики, Луганской Народной Республики, Запорожской области и Херсонской области, во внутренних морских водах и в территориальном море Российской Федерации, примыкающих к территориям Донецкой Народной Республики, Запорожской области и Херсонской области"-->
<!--  Приказ Минфина России № 36н от 1 апреля 2024 года «Об утверждении формы обязательства о соблюдении условий использования иностранных товаров, помещенных под таможенную процедуру свободной таможенной зоны, и порядка подачи в таможенный орган такого обязательства». Приложение №1  -->
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:catProc_ru="urn:customs.ru:Information:ProcessingDocuments:ProcessingCommonAggregateTypes:5.24.0" xmlns:oct="urn:customs.ru:Information:ExchangeDocuments:STZ_ObligComplyTermsCCZ:5.25.0" targetNamespace="urn:customs.ru:Information:ExchangeDocuments:STZ_ObligComplyTermsCCZ:5.25.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.25.0.0">
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:Information:ProcessingDocuments:ProcessingCommonAggregateTypes:5.24.0" schemaLocation="ProcessingCommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Обязательство о соблюдении условий использования товаров, помещенных под таможенную процедуру СТЗ, с соблюдением срока перевозки и размещения иностранных товаров, помещенных под таможенную процедуру СТЗ, на участке резидента, на котором планируется создание постоянной зоны таможенного контроля</xs:documentation>
	</xs:annotation>
	<xs:element name="STZ_ObligComplyTermsCCZ" type="oct:STZ_ObligComplyTermsCCZType">
		<xs:annotation>
			<xs:documentation>Обязательство о соблюдении условий использования товаров, помещенных под таможенную процедуру СТЗ, с соблюдением срока перевозки и размещения иностранных товаров, помещенных под таможенную процедуру СТЗ, на участке резидента, на котором планируется создание постоянной зоны таможенного контроля</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="STZ_ObligComplyTermsCCZType">
		<xs:annotation>
			<xs:documentation>Обязательство о соблюдении условий использования товаров, помещенных под таможенную процедуру СТЗ, с соблюдением срока перевозки и размещения иностранных товаров, помещенных под таможенную процедуру СТЗ, на участке резидента, на котором планируется создание постоянной зоны таможенного контроля</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="ObligationOrdinal" type="clt_ru:Count3Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Порядковый номер обязательства</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ObligationChangeNumber" type="clt_ru:Count3Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Порядковый номер изменения обязательства</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PrevObligationId" type="clt_ru:DocumentIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор предыдущего обязательства</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Customs" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Сведения о таможенном органе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ResidentKind" type="clt_ru:LetterIndicatorType">
						<xs:annotation>
							<xs:documentation>Вид резидента (по типам территорий): 1 - Территории опережающего развития (приказ № 941); 2 - Свободный порт Владивосток (приказ № 941); 3 - Арктическая зона РФ (приказ № 915); 4 - Свободная (особая) экономическая зона - новые территории (приказ № 555); 5 - без определения территории (приказ № 36н)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Resident" type="oct:ResidentType">
						<xs:annotation>
							<xs:documentation>Резидент особой  экономической зоны или участник свободной (особой) экономической зоны</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ContractDetails" type="cat_ru:DocumentBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о контракте</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CreationDoc" type="cat_ru:DocumentBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Реквизиты постановления Правительства Российской Федерации о создании ОЭЗ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OEZInfo" type="oct:OEZInfoType">
						<xs:annotation>
							<xs:documentation>Сведения об ОЭЗ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ZTKCreationDoc" type="cat_ru:DocumentBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Приказ о создании ЗТК</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransportKind" type="clt_ru:LetterIndicatorType">
						<xs:annotation>
							<xs:documentation>Вид транспорта при перевозке товаров: 1 - авто; 2 - ж/д;, 3 - авиа; 4 - водный; 5 - иной</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsLocationName" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Наименование места нахождения товаров при их таможенном декларировании и выпуске</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsLocation" type="RUScat_ru:RUAddressType">
						<xs:annotation>
							<xs:documentation>Адрес места нахождения товаров при их таможенном декларировании и выпуске</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DeliveryTime" type="clt_ru:Count3Type">
						<xs:annotation>
							<xs:documentation>Срок перевозки и размещения товаров на участке (в днях)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ObligationsDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата подачи настоящего обязательства</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PresentedDocuments" type="oct:PresentedDocType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Опись представленных документов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ConfirmDoc" type="cat_ru:DocumentBaseType">
						<xs:annotation>
							<xs:documentation>Реквизиты документа, подтверждающего полномочия лица</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ResidentSignature" type="cat_ru:PersonSignatureType">
						<xs:annotation>
							<xs:documentation>Сведения об уполномоченном представителе Заявителя</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1060047E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="OEZInfoType">
		<xs:annotation>
			<xs:documentation>Сведения об ОЭЗ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OEZName" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование особой экономической зоны (территории)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OEZAddress" type="RUScat_ru:RUAddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес места нахождения участка / Адрес земельного участка, предоставленного резиденту особой экономической зоны в пределах его местонахождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Placement" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Описание местоположения земельного участка</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PresentedDocType">
		<xs:annotation>
			<xs:documentation>Сведения о представленных документах</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catProc_ru:DocExtendedType">
				<xs:sequence>
					<xs:element name="Position" type="clt_ru:Count3Type">
						<xs:annotation>
							<xs:documentation>Порядковый номер позиции</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SheetsNumber" type="clt_ru:Count3Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество листов </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResidentCertificateType">
		<xs:annotation>
			<xs:documentation>Сведения о включении в реестр резидентов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CertificateNumber" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Номер свидетельства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата выдачи свидетельства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateValidity" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Срок действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateAgency" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование органа, выдавшего свидетельство</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResidentType">
		<xs:annotation>
			<xs:documentation>Сведения о резиденте</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:SubjectDetailsType">
				<xs:sequence>
					<xs:element name="ResidentCertificate" type="oct:ResidentCertificateType">
						<xs:annotation>
							<xs:documentation>Cвидетельство о включении в реестр резидентов</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
