XsltProcessor/xsd/5.25.0/STZ_Migrant_AppClose.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Приказ Минфина России от 30.11.2023 № 190н "Об утверждении порядка подачи физическими лицами, ранее постоянно проживавшими на территории Магаданской области или территориях Южно-Курильского, Курильского и Северо-Курильского городских округов Сахалинской области и переселившимися с территории Магаданской области или территорий Южно-Курильского, Курильского и Северо-Курильского городских округов Сахалинской области на постоянное место жительства на остальную часть территории Российской Федерации или в иное государство - член Евразийского экономического союза, а также военнослужащими и должностными лицами федеральных органов исполнительной власти Российской Федерации, убывающими с территории Магаданской области или территорий Южно-Курильского, Курильского и Северо-Курильского городских округов Сахалинской области на новое место службы, заявления о завершении действия таможенной процедуры свободной таможенной зоны в отношении товаров, указанных в пункте 1 статьи 65'1 Федерального закона от 31 мая 1999 г. №104-ФЗ «Об Особой экономической зоне в Магаданской области и на территориях Южно-Курильского, Курильского и Северо-Курильского городских округов Сахалинской области», формы такого заявления, а также формы решения таможенного органа о приобретении такими товарами статуса товаров Евразийского экономического союза и порядка их заполнения" -->
<!--Приказ Минфина России от 30.11.2023 № 191н «Об утверждении порядка подачи физическими лицами, ранее постоянно проживавшими на территории Калининградской области и переселившимися с территории Калининградской области на постоянное место жительства на остальную часть территории Российской Федерации или в иное государство - член Евразийского экономического союза, а также военнослужащими и должностными лицами федеральных органов исполнительной власти Российской Федерации, убывающими с территории Калининградской области на новое место службы, заявления о завершении действия таможенной процедуры свободной таможенной зоны в отношении товаров, указанных в части 1 статьи 16.4 Федерального закона от 10 января 2006 г. № 16-ФЗ "Об Особой экономической зоне в Калининградской области и о внесении изменений в некоторые законодательные акты Российской Федерации", формы такого заявления, а также формы решения таможенного органа о приобретении такими товарами статуса товаров Евразийского экономического союза и порядка их заполнения» -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.24.0" xmlns:stzm_ac="urn:customs.ru:Information:ExchangeDocuments:STZ_Migrant_AppClose:5.24.0" targetNamespace="urn:customs.ru:Information:ExchangeDocuments:STZ_Migrant_AppClose:5.24.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.24.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.24.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:annotation>
		<xs:documentation>Заявление о завершении действия таможенной процедуры свободной таможенной зоны в отношении товаров и транспортных средств в связи с переселением на постоянное место жительства на остальную часть территории Российской Федерации или в иное государство-член Евразийского экономического союза</xs:documentation>
	</xs:annotation>
	<xs:element name="STZ_Migrant_AppClose" type="stzm_ac:STZ_Migrant_AppCloseType">
		<xs:annotation>
			<xs:documentation>Заявление о завершении действия таможенной процедуры свободной таможенной зоны в отношении товаров и транспортных средств в связи с переселением на постоянное место жительства на остальную часть территории Российской Федерации или в иное государство-член Евразийского экономического союза</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="STZ_Migrant_AppCloseType">
		<xs:annotation>
			<xs:documentation>Заявление о завершении действия таможенной процедуры свободной таможенной зоны в отношении товаров и транспортных средств в связи с переселением на постоянное место жительства на остальную часть территории Российской Федерации или в иное государство-член Евразийского экономического союза</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="Customs" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Сведения о таможенном органе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Applicant" type="stzm_ac:ApplicantType">
						<xs:annotation>
							<xs:documentation>Сведения о лице, подающем Заявление</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RegionKind" type="clt_ru:LetterIndicatorType">
						<xs:annotation>
							<xs:documentation>Сведения об Особой экономической зоне, с которой вывозятся товары: 1 - Калининградская область; 2 - Магаданская область; 3 - Южно-Курильский городской округ Сахалинской области; 4 - Курильский городской округ Сахалинской области; 5 - Северо-Курильский городской округ Сахалинской области</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BaseForCompletCustProc" type="clt_ru:LetterIndicatorType">
						<xs:annotation>
							<xs:documentation>Основание для завершения действия таможенной процедуры СТЗ: 1 - Переселение на постоянное место жительства на остальную часть территории РФ, за исключением перевода на новое место службы или увольнения в запас; 2 - Переселение на постоянное место жительства в иное государство – член ЕАЭС, за исключением перевода на новое место службы или увольнения в запас; 3 - Перевод на новое место службы на остальную часть территории Российской Федерации; 4 - Перевод на новое место службы в иное государство - член Евразийского экономического союза; 5 - Переселение на остальную часть территории Российской Федерации в связи с увольнением в запас; 6 - Переселение в иное государство - член Евразийского экономического союза в связи в связи с увольнением в запас</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Migrant" type="stzm_ac:MigrantType">
						<xs:annotation>
							<xs:documentation>Сведения о физическом лице, которое переселяется</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SheetsNumber" type="clt_ru:Count3Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество листов описи товаров для личного пользования</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CCZ_Address" type="RUScat_ru:RUAddressType">
						<xs:annotation>
							<xs:documentation>Зона таможенного контроля, в которой размещен товар (адрес)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsExportDetails" type="stzm_ac:GoodsExportDetailsType">
						<xs:annotation>
							<xs:documentation>Вывоз товаров для личного пользования</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PresentedDoc" type="stzm_ac:PresentedDocType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Документы, подтверждающие соблюдение условий, установленных пунктом 23 статьи 455 ТК ЕАЭС</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsInfo" type="stzm_ac:GoodsInfoType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Опись товаров для личного пользования</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ApplicantSignature" type="cat_ru:PersonSignatureType">
						<xs:annotation>
							<xs:documentation>Сведения о лице, подающем Заявление и дата подписания</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1060027E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="ApplicantType">
		<xs:annotation>
			<xs:documentation>Сведения о лице, подающем Заявление</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="PersonName" type="stzm_ac:PersonType">
					<xs:annotation>
						<xs:documentation>ФИО лица, подающего заявление</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OrganizationName" type="clt_ru:NameType">
					<xs:annotation>
						<xs:documentation>Наименование организации (юридического лица)</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="OGRN" type="clt_ru:OGRNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОГРН/ОГРНИП. Основной государственный регистрационный номер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INN" type="clt_ru:INNIDType">
				<xs:annotation>
					<xs:documentation>ИНН - Индивидуальный номер налогоплательщика</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KPP" type="clt_ru:KPPCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>КПП - Код причины постановки на учет</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="RUScat_ru:RUAddressType" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Адрес организации / физического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Документ, удостоверяющий личность</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AutomobileInfoType">
		<xs:annotation>
			<xs:documentation>Данные об автомобиле</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Model" type="clt_ru:TransportNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Модель</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Mark" type="clt_ru:MarkCarNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Марка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MarkCode" type="clt_ru:MarkCarCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код марки </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManufactureDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата производства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManufactureYear" type="clt_ru:DateYearCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Год выпуска</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManufactureMonth" type="clt_ru:Count2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Месяц выпуска</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineVolumeQuanity" type="clt_ru:QuantityBasis0Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Объем двигателя, куб. см</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VINID" type="clt_ru:VINIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификационный номер (VIN)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VINChassisID" type="clt_ru:VINIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификационный номер шасси (рамы) транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VINBodyID" type="clt_ru:VINIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификационный номер кузова (кабины) транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportCategoryCode" type="clt_ru:CodeVariable3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код категории транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportTypeName" type="clt_ru:Text40Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование типа транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportColorCode" type="clt_ru:TransportMeansColorCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код цвета транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ColorListElement" type="clt_ru:TransportMeansColorCodeType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Элемент из  списка кодов. Заполняется для ТС,  шасси при указании TransportColorCode = 905 (многоцветный)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ECOClassCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Экологический класс транспортного средства (от 1 до 6)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineId" type="clt_ru:EngineIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификационный номер двигателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Engine" type="stzm_ac:EngineType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о двигателе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CapacityQuantity" type="clt_ru:Quantity5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вместимость (чел)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportCarryingCapacityMeasure" type="clt_ru:QuantityBasis0Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>«Полная масса (т)» — для транспортных средств (шасси), «Грузоподъемность (т)» — для прицепов самоходных машин</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrganizationName" type="RUSclt_ru:Name300Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование организации-изготовителя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnifiedCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код страны-изготовителя </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkDuration" type="clt_ru:Text40Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Срок эксплуатации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AppointmentCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Назначение транспортного средства: 1 - общего назначения, 2 - медицинского назначения, 3 - для проживания, 4 - автобусы (более 120 мест), 5 - повышенной проходимости, 6 - снегоходы/для гольфа/квадроциклы, 7 - прочие </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportMeansRegId" type="RUScat_ru:TransportMeansRegIdType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EngineType">
		<xs:annotation>
			<xs:documentation>Сведения о двигателе</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EngineModeCode" type="clt_ru:CodeVariable2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код типа двигателя: 1 - бензиновый, 2 - дизельный, 3 - электрический, 4 - гибридный на основе бензинового, 5 - гибридный на основе дизельного, 6 - конв. для работы на газе, 7 - иной.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineModeName" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование типа двигателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineModel" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Модель двигателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FuelName" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип топлива</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnginePowerHpQuanity" type="clt_ru:EnginePowerQuanityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Мощность двигателя в лошадиных силах</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnginePowerKvtQuanity" type="clt_ru:EnginePowerQuanityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Мощность двигателя в киловаттах</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExportDateType">
		<xs:annotation>
			<xs:documentation>Планируемая дата вывоза</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ManufactureDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата вывоза</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManufactureYear" type="clt_ru:DateYearCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Год вывоза</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManufactureMonth" type="clt_ru:Count2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Месяц вывоза</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsExportDetailsType">
		<xs:annotation>
			<xs:documentation>Вывоз товаров для личного пользования</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ExportDate" type="stzm_ac:ExportDateType">
				<xs:annotation>
					<xs:documentation>Планируемая дата вывоза товаров для личного пользования</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExportMethod" type="clt_ru:Code2Type">
				<xs:annotation>
					<xs:documentation>Способ вывоза товаров для личного пользования: СБ - в сопровождаемом багаже, НБ - в несопровождаемом багаже по договору перевозки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportKind" type="clt_ru:LetterIndicatorType">
				<xs:annotation>
					<xs:documentation>Вид транспорта, которым вывозятся товары: 1 - автомобильным транспортом; 2 - морским транспортом; 3 - авиационным транспортом; 4 - железнодорожным транспортом</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsInfoType">
		<xs:annotation>
			<xs:documentation>Опись товаров для личного пользования</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NumPP" type="clt_ru:Count5Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="4">
				<xs:annotation>
					<xs:documentation>Наименование товара (торговое, коммерческое или иное традиционное наименование)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType">
				<xs:annotation>
					<xs:documentation>Количество товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Manufacturer" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о производителе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TradeMark" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тов. знак, место происхождения, объект авторского права, смежных прав, патент и т.д.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsMark" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Марка товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsMarking" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Артикул товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsStandard" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Стандарт (ГОСТ, ОСТ, СПП, СТО, ТУ)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код страны происхождения по классификатору стран мира</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AutomobileInfo" type="stzm_ac:AutomobileInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения об автомобиле (транспортном средстве)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MigrantType">
		<xs:annotation>
			<xs:documentation>Сведения о физическом лице, которое переселяется</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PersonSurname" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Фамилия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonName" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Имя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonMiddleName" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отчество</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="RUScat_ru:RUAddressType" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Адрес места жительства или адрес по месту регистрации физического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INN" type="clt_ru:INNIDType">
				<xs:annotation>
					<xs:documentation>ИНН - Индивидуальный номер налогоплательщика</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType">
				<xs:annotation>
					<xs:documentation>Сведения о документе, удостоверяющем личность</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonType">
		<xs:annotation>
			<xs:documentation>Сведения о физическом лице. ФИО</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PersonSurname" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Фамилия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonName" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Имя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonMiddleName" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отчество</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PresentedDocType">
		<xs:annotation>
			<xs:documentation>Документы, подтверждающие соблюдение условий, установленных пунктом 23 статьи 455 ТК ЕАЭС</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="Position" type="clt_ru:Count3Type">
						<xs:annotation>
							<xs:documentation>Порядковый номер позиции</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PresentedDocumentModeCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код вида представляемого документа в соответствии с классификатором видов документов и сведений, используемых при таможенном декларировании</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RFPresentedDocIDType" type="catESAD_cu:RFBasePresentedDocIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дополнительные технологические идентификаторы представленного документа (для РФ)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
