XsltProcessor/xsd/5.26.0/AdditionGuaranteeContract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Приказ Минфина России № 125н от 14 августа 2019 года "Об утверждении типовых форм договоров поручительства, обеспечивающих исполнение обязанности по уплате таможенных пошлин, налогов, таможенных сборов, специальных, антидемпинговых, компенсационных пошлин, обязанностей юридического лица, осуществляющего деятельность в сфере таможенного дела, обязанностей уполномоченного экономического оператора"-->
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:agc="urn:customs.ru:Information:CommercialFinanceDocuments:AdditionGuaranteeContract:5.25.0" targetNamespace="urn:customs.ru:Information:CommercialFinanceDocuments:AdditionGuaranteeContract:5.25.0" elementFormDefault="qualified" version="5.25.0.0">
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Дополнение к договору поручительства (для реестровой деятельности)</xs:documentation>
	</xs:annotation>
	<xs:element name="AdditionGuaranteeContract" type="agc:AdditionGuaranteeContractType">
		<xs:annotation>
			<xs:documentation>Дополнение к договору поручительства (для реестровой деятельности)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AdditionGuaranteeContractType">
		<xs:annotation>
			<xs:documentation>Дополнение к договору поручительства (для реестровой деятельности)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="GuaranteeContractKind" type="clt_ru:LetterIndicatorType">
						<xs:annotation>
							<xs:documentation>Вид договора: 1 -Дополнение к Договору поручительства, обеспечивающему в отношении нескольких лиц исполнение обязанностей юридического лица, осуществляющего деятельность в сфере таможенного дела, и (или) исполнение обязанностей уполномоченного экономического оператора,
2 - Дополнение к Договору поручительства, обеспечивающему в отношении нескольких лиц исполнение обязанности по уплате таможенных пошлин, налогов, таможенных сборов, специальных, антидемпинговых, компенсационных пошлин</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AdditionGuaranteeContractDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата подписания дополнения к договору поручительства</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RelatedContract" type="cat_ru:DocumentBaseType">
						<xs:annotation>
							<xs:documentation>Связанный договор</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Guarantor" type="agc:GuarantorType">
						<xs:annotation>
							<xs:documentation>Сведения о поручителе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Creditor" type="agc:CreditorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о кредиторе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Debtor" type="RUScat_ru:SubjectDetailsBankType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о должнике</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AddressDetailsActivitiesKind" type="RUScat_ru:RUAddressType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Адрес в зависимости от вида осуществляемой (планируемой к осуществлению) деятельности</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocKind" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Вид документа, по которому может возникнуть обязанность по уплате: 1 - транзитная декларация, 2 - декларация на товары</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RegNumberDT" type="cat_ru:GTDIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер таможенной декларации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ObligationCode" type="clt_ru:Code6Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код вида обязательства</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ObligationDescription" type="clt_ru:Text150Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Описание кода вида обязательства</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ObligationAmount" type="clt_ru:AmountType">
						<xs:annotation>
							<xs:documentation>Сумма обязанности</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ObligationAmountText" type="clt_ru:Text150Type">
						<xs:annotation>
							<xs:documentation>Сумма обязанности прописью</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DateBegin" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата вступления в силу Дополнения к договору поручительства</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DateEnd" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата окончания действия Дополнения к договору поручительства</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1002062E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы.</xs:documentation>
	</xs:annotation>
	<xs:complexType name="CreditorType">
		<xs:annotation>
			<xs:documentation>Сведения о кредиторе</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:OrganizationType">
				<xs:sequence>
					<xs:element name="CustomsDetails" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Таможенный орган</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DeparturesCustomsDetails" type="cat_ru:CustomsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Таможенный орган отправления</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DestinationsCustomsDetails" type="cat_ru:CustomsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Таможенный орган назначения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AuthorizedPerson" type="cat_ru:PersonBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ФИО лица, уполномоченного на подписание Дополнения к договору поручительства</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ConfirmingDocument" type="cat_ru:DocumentBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Документ, подтверждающий полномочия лица</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GuarantorType">
		<xs:annotation>
			<xs:documentation>Сведения о поручителе</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:SubjectDetailsBankType">
				<xs:sequence>
					<xs:element name="AuthorizedPerson" type="cat_ru:PersonBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ФИО лица, уполномоченного на подписание договора поручительства</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ConfirmingDocument" type="cat_ru:DocumentBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Документ, подтверждающий полномочия лица</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
