XsltProcessor/xsd/5.26.0/CustomsValueConsultationApplication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Приказ Минфина России № 110н от 18 июля 2022 года "Об установлении Порядка проведения консультаций между таможенным органом и декларантом в целях обоснованного выбора стоимостной основы для определения таможенной стоимости ввозимых товаров в Российскую Федерацию, соответствующей статьям 41 и 42 Таможенного кодекса Евразийского экономического союза"-->
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:acvc="urn:customs.ru:Information:ExchangeDocuments:CustomsValueConsultationApplication:5.25.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:ExchangeDocuments:CustomsValueConsultationApplication:5.25.0" elementFormDefault="qualified" version="5.25.0">
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Заявление на проведение консультации в целях выбора стоимостной основы для определения таможенной стоимости ввозимых товаров</xs:documentation>
	</xs:annotation>
	<xs:element name="CustomsValueConsultationApplication" type="acvc:CustomsValueConsultationApplicationType">
		<xs:annotation>
			<xs:documentation>Заявление на проведение консультации в целях выбора стоимостной основы для определения таможенной стоимости ввозимых товаров</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CustomsValueConsultationApplicationType">
		<xs:annotation>
			<xs:documentation>Заявление на проведение консультации в целях выбора стоимостной основы для определения таможенной стоимости ввозимых товаров</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="AppDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата заявления</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AppSerialNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Исходящий номер заявления</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Customs" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Таможенный орган, в который подается заявление</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrganizationInfo" type="acvc:AppOrganizationInfoType">
						<xs:annotation>
							<xs:documentation>Сведения об организации-заявителе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ApplicantSigning" type="RUScat_ru:SigningDetailsType">
						<xs:annotation>
							<xs:documentation>Заявитель, подписавший документ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodInfo" type="acvc:GoodInfoType" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Товар</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AttachedDocuments" type="acvc:AttachedDocumentType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Перечень прилагаемых документов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Notes" type="clt_ru:FreeText500Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Комментарии</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1004158E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="AppOrganizationInfoType">
		<xs:annotation>
			<xs:documentation>Сведения об организации-заявителе</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:SubjectDetailsType">
				<xs:sequence>
					<xs:element name="FactAddressDetails" type="RUScat_ru:RUAddressType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Место нахождения юридического лица</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PassRFExistsIndicator" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Наличие паспорта РФ</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AttachedDocumentType">
		<xs:annotation>
			<xs:documentation>Информация о прилагаемом документе</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="DocCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код вида документа (заполняется в соответствии с классификатором видов документов, используемых при заявлении сведений в графе 44 ДТ)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ArchID" type="clt_ru:DocumentIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Уникальный идентификатор архива декларанта</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ArchDocID" type="clt_ru:DocumentIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Уникальный идентификатор документа в архиве</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CountryInfoType">
		<xs:annotation>
			<xs:documentation>Информация о стране</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Буквенный код страны в соответствии с классификатором стран мира</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CounryName" type="clt_ru:CountryNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Краткое название страны в соответствии с классификатором стран мира</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CurrencyType">
		<xs:annotation>
			<xs:documentation>Валюта цены</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CurrencyCode" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Буквенный код валюты цены</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyName" type="clt_ru:CurrencyNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование валюты цены</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomsBrokerInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о таможенном представителе</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:RUOrganizationType">
				<xs:sequence>
					<xs:element name="CertOfInclusionNumber" type="clt_ru:DocumentNumberType">
						<xs:annotation>
							<xs:documentation>Регистрационный номер свидетельства свидетельства о включении в реестр таможенных представителей</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BrokerAgreement" type="cat_ru:DocumentBaseType">
						<xs:annotation>
							<xs:documentation>Договор декларанта и таможенного представителя</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeliveryTermsType">
		<xs:annotation>
			<xs:documentation>Вид транспорта, условия поставки товаров</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TransportKind" type="clt_ru:FreeText500Type">
				<xs:annotation>
					<xs:documentation>Вид транспортного средства международной перевозки, на котором товары прибыли на таможенную территорию ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeliveryTermsStringCode" type="clt_ru:IncotermsDeliveryStringCodeType">
				<xs:annotation>
					<xs:documentation>Условия поставки ввозимых товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeliveryPlace" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование географического пункта</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsTransferFeature" type="cltESAD_cu:GoodsTransferFeatureType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Особенность перемещения товаров в соответствии с классификатором особенностей перемещения товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о товаре</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
				<xs:annotation>
					<xs:documentation>Наименование (коммерческое, фирменное или иное традиционное наименование) товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Appointment" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Назначение товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TradeMark" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование товарного знака, объекта авторского права, смежных прав, патента  и т.д. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsMark" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование марки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsModel" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование модели продукта (товара)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsMarking" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор вида продукта (товара) или артикул товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsStandard" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование стандарта (международного, межгосударственного, государственного, отраслевого или организации) или технических условий на товар </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsSort" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование сорта / сорт или группа сортов (для лесо- и пиломатериалов)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodFunctions" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Выполняемые функции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TechSpecifications" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Технические характеристики</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommSpecifications" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Коммерческие характеристики</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Manufacturer" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование производителя (изготовителя) товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryOrigin" type="acvc:CountryInfoType">
				<xs:annotation>
					<xs:documentation>Страна происхождения товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TradingCountry" type="acvc:CountryInfoType">
				<xs:annotation>
					<xs:documentation>Торгующая страна</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepartureCountry" type="acvc:CountryInfoType">
				<xs:annotation>
					<xs:documentation>Страна отправления товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrganizationSender" type="clt_ru:FreeText500Type">
				<xs:annotation>
					<xs:documentation>Отправитель товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrganizationSeller" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Продавец товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PurchaseAgreement" type="cat_ru:DocumentBaseType">
				<xs:annotation>
					<xs:documentation>Договор (контракт) купли - продажи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AppPurchaseAgreement" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Действующие приложения, дополнения/ изменения к Договору (контракту) купли - продажи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GrossWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес товара, брутто (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес товара, нетто (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Количество товара в основных и (или) дополнительных единицах измерения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodCurrency" type="acvc:CurrencyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Полное наименование и буквенный код валюты, в которой определена стоимость ввозимых товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ImportedGoodPrice" type="acvc:GoodPriceInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Цена ввозимых товаров в валюте</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeliveryTerms" type="acvc:DeliveryTermsType">
				<xs:annotation>
					<xs:documentation>Вид транспорта, условия поставки товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PakageInfo" type="acvc:PakageInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Упаковка товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrivalNotificationNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер уведомления о прибытии</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EAEUImportDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата ввоза на таможенную территорию ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MethodNotApplicableReasons" type="clt_ru:FreeText500Type">
				<xs:annotation>
					<xs:documentation>Причины, по которым метод по стоимости сделки с ввозимыми товарами неприменим</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrevConsultationsInfo" type="acvc:PrevConsultationsInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о ранее проведенных консультациях в отношении товаров, идентичных или однородных ввозимым товарам</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInfo" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Информация, имеющая значение, по мнению декларанта, для выбора стоимостной основы при определении таможенной стоимости ввозимых товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsBroker" type="acvc:CustomsBrokerInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о таможенном представителе</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodPriceInfoType">
		<xs:annotation>
			<xs:documentation>Цена товара в валюте</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodFeatures" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Марка, модель, артикул, модификация, одного наименования</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsMeasureQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Количество товаров, если цена установлена за единицу измерения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvoicedCost" type="clt_ru:AmountType">
				<xs:annotation>
					<xs:documentation>Цена товара</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PakageInfoType">
		<xs:annotation>
			<xs:documentation>Упаковка товара</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PakageTypeCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кодовое обозначение вида упаковки: 0 - Без упаковки; 1 - С упаковкой; 2 - Без упаковки в оборудованных емкостях транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PalleteCode" type="clt_ru:PackageCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код вида упаковки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CargoDescriptionText" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Описание упаковки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PalleteQuantity" type="clt_ru:PackagesQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество упаковок</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PrevConsultationsInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о ранее проведенной консультации в отношении товаров, идентичных или однородных ввозимым товарам</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ConsultationDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата ранее проведенной консультации в отношении товаров, идентичных/однородных ввозимым товарам</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodFeatures" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер ранее проведенной консультации в отношении товаров, идентичных/однородных ввозимым товарам</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
