XsltProcessor/xsd/5.26.0/E_CommerceDeclaration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Решение Коллегии ЕЭК от 17.12.2024 № 143 "О декларации на товары электронной торговли"-->
<!-- Решение Коллегии ЕЭК от 17.12.2024 № 144 "О структуре и формате декларации на товары электронной торговли" -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:RUDECLcat="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.24.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.24.0" xmlns:e_cd="urn:customs.ru:Information:CustomsDocuments:E_CommerceDeclaration:5.26.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:E_CommerceDeclaration:5.26.0" elementFormDefault="qualified" version="5.26.0.0">
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.24.0" schemaLocation="RUDeclCommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.24.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Декларация на товары электронной торговли</xs:documentation>
	</xs:annotation>
	<xs:element name="E_CommerceDeclaration" type="e_cd:E_CommerceDeclarationType">
		<xs:annotation>
			<xs:documentation>Декларация на товары электронной торговли</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="E_CommerceDeclarationType">
		<xs:annotation>
			<xs:documentation>Декларация на товары электронной торговли</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="EECEDocHeaderAddInfo" type="RUScat_ru:EECEDocHeaderAddInfoType">
						<xs:annotation>
							<xs:documentation>Дополнительные технологические реквизиты электронного документа (сведений)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DeclarationKindCode" type="clt_ru:CUCustomsProcedureType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Кодовое обозначение типа таможенной декларации </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsModeCode" type="cltESAD_cu:CustomsModeCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Кодовое обозначение вида заявляемой таможенной процедуры</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PreviousCustomsModeCode" type="cltESAD_cu:CustomsModeCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Кодовое обозначение вида предшествующей таможенной процедуры </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DeclarationKind" type="cltESAD_cu:CustomsDeclarationKindType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Кодовое обозначение особенности таможенного декларирования товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ElectronicDocumentSign" type="clt_ru:Code2Type">
						<xs:annotation>
							<xs:documentation>Признак электронного документа "ЭД"</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalSheetNumber" type="clt_ru:Count4Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Общее количество листов в документе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsCategoryCode" type="clt_ru:Code2Type">
						<xs:annotation>
							<xs:documentation>Кодовое обозначение категории товаров электронной торговли: "ЭФ" - товары, приобретенные физическими лицами; "ЭС" - товары, предназначенные для реализации физическим лицам</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsShipment" type="e_cd:GoodsShipmentType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о товарной партии</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EventDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата заполнения декларации на товары электронной торговли</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DeclarantDetails" type="RUDECLcat:AEODeclarantDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о лице, осуществляющем таможенное декларирование товаров электронной торговли</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SignatoryPerson" type="e_cd:SignatoryPersonDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о физическом лице, заполнившем (подписавшем) таможенный документ</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006295E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="CalculationType">
		<xs:annotation>
			<xs:documentation>Сведения об исчислении платежа</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUDECLcat:CalculationType">
				<xs:sequence>
					<xs:element name="FractionRefinanceRate" type="clt_ru:QuantityBasis0Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Доля ставки рефинансирования (ключевой ставки)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CurrencyValueType">
		<xs:annotation>
			<xs:documentation>Сведения о стоимости</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CurrencyQuantity" type="clt_ru:AmountType">
				<xs:annotation>
					<xs:documentation>Сумма в валюте</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyCode" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Буквенный код валюты </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FactCustomsPaymentType">
		<xs:annotation>
			<xs:documentation>Сведения о фактически уплаченных (взысканных) суммах таможенных и иных платежей по декларации на товары электронной торговли</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catESAD_cu:ESADout_CUCustomsPaymentType">
				<xs:sequence>
					<xs:element name="ScaleNumber" type="clt_ru:Quantity2Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Масштаб денежной суммы в десятичной системе счисления, представленный в виде показателя степени числа 10</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentWayCode" type="clt_ru:Code2Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Способ уплаты в соответствии с классификатором способов уплаты таможенных и иных платежей, взимание которых возложено на таможенные органы</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentDocument" type="RUScat_ru:DocBaseV4Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о документе, подтверждающем уплату таможенного или иного платежа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:choice minOccurs="0">
						<xs:element name="RFOrganizationFeatures" type="cat_ru:RFOrganizationFeaturesType">
							<xs:annotation>
								<xs:documentation>Сведения об организации. Особенности Российской Федерации</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RKOrganizationFeatures" type="cat_ru:RKOrganizationFeaturesType">
							<xs:annotation>
								<xs:documentation>Сведения об организации. Особенности Республики Казахстан</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RBOrganizationFeatures" type="cat_ru:RBOrganizationFeaturesType">
							<xs:annotation>
								<xs:documentation>Сведения об организации. Особенности Республики Беларусь</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RAOrganizationFeatures" type="cat_ru:RAOrganizationFeaturesType">
							<xs:annotation>
								<xs:documentation>Сведения об организации. Особенности Республики Армения</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="KGOrganizationFeatures" type="cat_ru:KGOrganizationFeaturesType">
							<xs:annotation>
								<xs:documentation>Сведения об организации. Особенности Кыргызской Республики</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:element name="PersonId" type="RUSclt_ru:PersonIdType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Уникальный идентификатор физического лица</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CAUniqueCustomsNumberId" type="RUSclt_ru:UITNCode40Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения об идентификационном (уникальном идентификационном) таможенном номере</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PayerIdentityDetails" type="RUDECLcat:SignatoryPersonIdentityDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о документе, удостоверяющем личность плательщика</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата уплаты или взыскания (дата исполнения обязанности по уплате таможенных и иных платежей)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GoodsItemDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о товаре по индивидуальной накладной</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара по транспортному (перевозочному) документу (индивидуальной накладной, документу, сопровождающему почтовое отправление)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalGoodsNumeric" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
				<xs:annotation>
					<xs:documentation>Описание товара, включая коммерческое, фирменное или иное традиционное наименование товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GrossWeightQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Масса товара, брутто </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetWeightQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Масса товара, нетто </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество товара с указанием дополнительной единицы измерения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommodityAddCode" type="clt_ru:GoodsNomenclatuerAddCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кодовое обозначение товара в соответствии с классификатором дополнительной таможенной информации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddGoodsMeasureDetails" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество товара в единице измерения, отличной от основной и дополнительной</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TradeMark" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование товарного знака, объекта авторского права, смежных прав, патента  и т.д. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductionPlaceName" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование места происхождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IPObjectRegistryNum" type="catESAD_cu:IPObjectRegistryNumType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Регистрационный номер объекта интеллектуальной собственности по реестру объектов интеллектуальной  собственности</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CAValueAmount" type="e_cd:CurrencyValueType" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Стоимость товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsCost" type="e_cd:CurrencyValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Таможенная стоимость товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExchangeRate" type="RUScat_ru:ExchangeRateWithCurrencyA3Type" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Курс валюты</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValuationMethodCode" type="cltESAD_cu:CustomsCostAppraiseMethodType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код метода определения таможенной стоимости</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeliveryTermsDetails" type="cat_ru:DeliveryTermsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения об условиях поставки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransactionNatureCode" type="cltESAD_cu:DealNatureCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код характера сделки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrecedingDocDetails" type="e_cd:PrecedingDocDetailsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о предшествующем документе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresentedDocDetails" type="e_cd:PresentedDocDetailsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о дополнительном документе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsPaymentDetails" type="e_cd:CalculationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения об исчислении таможенных пошлин, налогов</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsLocationDetailsType">
		<xs:annotation>
			<xs:documentation>Местонахождение товаров</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsLocationPlaceCode" type="clt_ru:Code2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кодовое обозначение места нахождения товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsOfficeCode" type="clt_ru:CustomsCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код таможенного органа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlaceName" type="clt_ru:ShortNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование места нахождения товаров (железнодорожной станции, морского (речного) порта, воздушного пункта пропуска)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsControlZoneID" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер (регистрационный номер) зоны таможенного контроля</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegisterDocumentIdDetails" type="catESAD_cu:AEORegistryIdDetailsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Свидетельство о включении в реестр уполномоченных экономических операторов, свидетельство о включении в реестр владельцев складов временного хранения, документ (свидетельство), удостоверяющий регистрацию лица в качестве резидента (участника) свободной (специальной, особой) экономической зоны, документ, подтверждающий включение в реестр операторов электронной торговли (регистрационный номер в реестре операторов электронной торговли)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodLocationTransportMeansDetails" type="e_cd:TransportMeansDetailsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о транспортном средстве, на котором находятся товары.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubjectAddressDetails" type="RUScat_ru:RUAddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес местонахождения товаров. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsShipmentType">
		<xs:annotation>
			<xs:documentation>Сведения о товарной партии</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ConsignorDetails" type="RUDECLcat:GoodsShipmentSubjectDetailsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения об отправителе по общей накладной</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConsigneeDetails" type="RUDECLcat:GoodsShipmentSubjectDetailsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о получателе по общей накладной</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsLocationDetails" type="e_cd:GoodsLocationDetailsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о местонахождении товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HouseShipment" type="e_cd:HouseShipmentDetailsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о товарной партии по индивидуальному транспортному (перевозочному) документу</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnifiedGrossWeightQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Общая масса  брутто товаров по декларации на товары электронной торговли</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CAValueAmount" type="e_cd:CurrencyValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Общая стоимость товаров по декларации на товары электронной торговли в валюте государства-члена</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsCost" type="e_cd:CurrencyValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Общая таможенная  стоимость товаров по декларации на товары электронной торговли</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentAmountDetails" type="e_cd:PaymentAmountDetailsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о суммах таможенных и иных платежей, подлежащих уплате по декларации на товары электронной торговли</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FactCustomsPayment" type="e_cd:FactCustomsPaymentType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о фактически уплаченных (взысканных) суммах таможенных и иных платежей по декларации на товары электронной торговли</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HouseShipmentDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о товарной партии по индивидуальной накладной</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="WayBillID" type="clt_ru:DocumentIDType">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор партии товаров в ДЭТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ObjectOrdinal" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер транспортного (перевозочного) документа (индивидуальной накладной) или почтового отправления</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportDocumentDetails" type="RUScat_ru:DocBaseV4Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о транспортном (перевозочном) документе (общей накладной)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HouseWaybillDetails" type="RUScat_ru:DocBaseV4Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о транспортном (перевозочном) документе (индивидуальной накладной) или почтовом отправлении</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConsignorDetails" type="RUDECLcat:GoodsShipmentSubjectDetailsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения об отправителе по индивидуальной накладной</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConsigneeDetails" type="RUDECLcat:GoodsShipmentSubjectDetailsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о получателе по индивидуальной накладной</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsItemDetails" type="e_cd:GoodsItemDetailsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о товаре по индивидуальной накладной</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnifiedGrossWeightQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Общая масса брутто товаров по транспортному (перевозочному) документу (индивидуальной накладной, документу, сопровождающему почтовое отправление</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsCost" type="e_cd:CurrencyValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Общая таможенная стоимость товаров по транспортному (перевозочному) документу (индивидуальной накладной, документу, сопровождающему почтовое отправление)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CAValueAmount" type="e_cd:CurrencyValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Общая стоимость товаров по индивидуальной накладной или документу, сопровождающему международное почтовое отправление, в валюте государства-члена</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsPaymentDetails" type="e_cd:CalculationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения об исчислении таможенных сборов, пеней, процентов по транспортному (перевозочному) документу (индивидуальной накладной, документу, сопровождающему почтовое отправление)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WayBillPaymentAmountDetails" type="e_cd:PaymentAmountDetailsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о суммах таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин, таможенных сборов, подлежащих уплате по транспортному (перевозочному) документу (индивидуальной накладной, документу, сопровождающему почтовое отправление)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentAmountDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о  таможенных пошлинах, налогах, подлежащих уплате</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PaymentModeCode" type="clt_ru:CustomsPaymentCodeType">
				<xs:annotation>
					<xs:documentation>Код вида платежа в соответствии с Классификатором видов таможенных и иных платежей</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Amount" type="clt_ru:AmountType">
				<xs:annotation>
					<xs:documentation>Сумма, подлежащая уплате</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyCode" type="clt_ru:CurrencyN3CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Цифровой код валюты</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PrecedingDocDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о предшествующем документе</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PrecedingDocumentModeCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код вида предшествующего документа в соответствии с классификатором видов документов</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsDocIdDetails" type="RUDECLcat:CustomDocIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер декларации на товары, транзитной декларации, заявления о выпуске товаров до подачи декларации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TIRIdDetails" type="catESAD_cu:TIRIdDetailsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер книжки МДП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SVHDocNumber" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер документа, подтверждающего помещение товаров на склад временного хранения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SVHDocDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата документа, подтверждающего помещение товаров на склад временного хранения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrecedingDocumentGoodsNumeric" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара в предшествующем документе </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrecedingGoodsDetails" type="e_cd:PrecedingGoodsDetailsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о товаре, заявленные в предшествующем документе </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PrecedingGoodsDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о товаре, заявленные в предшествующем документе </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeclGrossWeightQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Масса брутто декларируемого товара </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeclNetWeightQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Масса нетто декларируемого товара </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PreDeclarationNetMassMeasure" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Масса нетто товара, указанного в предшествующем документе </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsValueAmount" type="e_cd:CurrencyValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Таможенная стоимость товара, указанная в предшествующем документе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Количество декларируемого товара </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PresentedDocDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о дополнительном документе</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUDECLcat:BasePresentedDocDetailsType">
				<xs:sequence>
					<xs:element name="DocumentPresentingDetails" type="RUDECLcat:DocumentPresentingDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о фактическом представлении документа</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SignatoryPersonDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о физическом лице, заполнившем (подписавшем) таможенный документ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SigningDetails" type="RUScat_ru:SigningDetailsType">
				<xs:annotation>
					<xs:documentation>Cведения о должностном лице, подписавшем документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SignatoryPersonIdentityDetails" type="RUDECLcat:SignatoryPersonIdentityDetailsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о документе, удостоверяющем личность лица, заполнившего (подписавшего) таможенный документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QualificationCertificate" type="clt_ru:CodeVariable6Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер квалификационного аттестата специалиста по таможенному оформлению</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PowerOfAttorneyDetails" type="catESAD_cu:DocBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Документ, удостоверяющий полномочия</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransportMeansDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о транспортном средстве, на котором находятся товары</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catESAD_cu:CUTransportType">
				<xs:sequence>
					<xs:element name="CountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Кодовое обозначение страны</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
