XsltProcessor/xsd/5.26.0/ExpressCargoAppeal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:RUDECLcat="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.24.0" xmlns:eca="urn:customs.ru:Information:ExchangeDocuments:ExpressCargoAppeal:5.24.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:ExchangeDocuments:ExpressCargoAppeal:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.24.0" schemaLocation="RUDeclCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Обращение таможенного представителя о необходимости внесения изменений (дополнений) в сведения, заявленные в реестр экспресс-грузов</xs:documentation>
  </xs:annotation>
  <xs:element name="ExpressCargoAppeal" type="eca:ExpressCargoAppealType">
    <xs:annotation>
      <xs:documentation>Обращение таможенного представителя о необходимости внесения изменений (дополнений) в сведения, заявленные в реестр экспресс-грузов</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ExpressCargoAppealType">
    <xs:annotation>
      <xs:documentation>Обращение таможенного представителя о необходимости внесения изменений (дополнений) в сведения, заявленные в реестр экспресс-грузов</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DocType" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Тип документа: 1 - обращение к КПТДЭГ, 2 - обращение к КДТЭГ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Reasons" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Обоснование необходимости внесения изменений (дополнений)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RequestDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата обращения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegNumber" type="RUScat_ru:DocNumberType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер реестра</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="HouseWaybill" type="eca:HouseWaybillType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Описание вносимых изменений (дополнений) на уровне накладной</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Comments" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Общее описание вносимых изменений (дополнений)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BrokerRegistryDocDetails" type="RUDECLcat:BrokerRegistryDocDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о включении лица в реестр таможенных представителей</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1004156E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ChangesDescriptionType">
    <xs:annotation>
      <xs:documentation>Описание вносимых изменений (дополнений)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RecNumber" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порядковый номер товара / записи в списке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GRNumber" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Обозначение графы </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreviousData" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Ранее указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CorrectData" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Измененные и (или) дополненные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HouseWaybillType">
    <xs:annotation>
      <xs:documentation>Индивидуальная накладная реестра</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="WayBillID" type="clt_ru:DocumentIDType">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор партии товаров в текущем реестре</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ObjectOrdinal" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер индивидуальной накладной</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HouseWaybillDetails" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения об индивидуальной накладной</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChangesDescription" type="eca:ChangesDescriptionType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание вносимых изменений (дополнений)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>