XsltProcessor/xsd/5.26.0/GuaranteeContract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приказ Минфина России № 125н от 14 августа 2019 года "Об утверждении типовых форм договоров поручительства, обеспечивающих исполнение обязанности по уплате таможенных пошлин, налогов, таможенных сборов, специальных, антидемпинговых, компенсационных пошлин, обязанностей юридического лица, осуществляющего деятельность в сфере таможенного дела, обязанностей уполномоченного экономического оператора" -->
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:gc="urn:customs.ru:Information:CommercialFinanceDocuments:GuaranteeContract:5.24.0" targetNamespace="urn:customs.ru:Information:CommercialFinanceDocuments:GuaranteeContract:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Договор поручительства</xs:documentation>
  </xs:annotation>
  <xs:element name="GuaranteeContract" type="gc:GuaranteeContractType">
    <xs:annotation>
      <xs:documentation>Договор поручительства</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GuaranteeContractType">
    <xs:annotation>
      <xs:documentation>Договор поручительства</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="GuaranteeContractKind" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
              <xs:documentation>Вид договора: 1 - договор поручительства, применяемый в качестве генерального обеспечения исполнения обязанности по уплате таможенных пошлин, налогов, таможенных сборов, специальных, антидемпинговых, компенсационных пошлин при совершении нескольких таможенных операций в определенный период времени, согласно приложению № 1, 2 - договор поручительства, обеспечивающий в отношении одного лица исполнение обязанностей юридического лица, осуществляющего деятельность в сфере таможенного дела, и (или) исполнение обязанностей уполномоченного экономического оператора, согласно приложению № 2, 3 - договор поручительства, обеспечивающий в отношении нескольких лиц исполнение обязанностей юридического лица, осуществляющего деятельность в сфере таможенного дела, и (или) исполнение обязанностей уполномоченного экономического оператора, согласно приложению № 3 , 4 - договор поручительства, обеспечивающий в отношении нескольких лиц исполнение обязанности по уплате таможенных пошлин, налогов, таможенных сборов, специальных, антидемпинговых, компенсационных пошлин, согласно приложению № 4</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StatusDetails" type="gc:StatusDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Статус договора</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GuaranteeContractDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата подписания договора поручительства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RelatedContract" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Связанный договор</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Guarantor" type="gc:GuarantorType">
            <xs:annotation>
              <xs:documentation>Сведения о поручителе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Creditor" type="gc:CreditorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о кредиторе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Debtor" type="gc:DebtorType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о должнике</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ObligationAmount" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сумма обязанности (заполняется в зависимости от выбранной формы договора поручительства)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ObligationAmountText" type="clt_ru:Text150Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сумма обязанности прописью</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ValidityDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Срок действия договора поручительства (заполняется в зависимости от выбранной формы договора поручительства)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CollOrderReason" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Основание для предъявления инкассового поручения: 1- в срок, указанный в пункте 2.1.2 настоящего Договора, Поручителем не исполнено Требование и не представлены возражения, а также если в срок, указанный в пункте 2.1.3 настоящего Договора, Поручителем не исполнено повторное Требование; 2 - в случае невозможности взыскания таких сумм по банковской гарантии, представленной в соответствии с пунктом 2.1.7 настоящего Договора</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReasonForTerminatingContract" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Основание для расторжения договора: 1 - хотя бы по одному Дополнению обязанность (солидарная обязанность) по уплате таможенных пошлин, налогов, таможенных сборов, специальных, антидемпинговых, компенсационных пошлин, пеней, процентов, указанная в требовании, не была прекращена в соответствии с актами, составляющими право Евразийского экономического союза, и (или) законодательством Российской Федерации о таможенном регулировании, по истечении 3 (трех) месяцев со дня направления такого Требования; 2 - поручителем в общей сложности в течение более 3 (трех) месяцев не обеспечено надлежащее исполнение своих обязательств перед таможенными органами Российской Федерации в размере не менее принимаемых Поручителем на себя обязательств по настоящему Договору)
</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Contents" type="clt_ru:Text3MB" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Содержание договора поручительства </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1004148E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CreditorType">
    <xs:annotation>
      <xs:documentation>Сведения о кредиторе</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationWBankType">
        <xs:sequence>
          <xs:element name="CustomsDetails" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Таможенный орган</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AuthorizedPerson" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>ФИО лица, уполномоченного на подписание договора поручительства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConfirmingDocument" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Документ, подтверждающий полномочия лица</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DebtorType">
    <xs:annotation>
      <xs:documentation>Сведения о должнике</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsBankType">
        <xs:sequence>
          <xs:element name="RegNumberDT" type="cat_ru:GTDIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер таможенной декларации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ActivitiesKind" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Вид осуществляемой (планируемой к осуществлению) деятельности (если вид договора=2): 1 - юридическое лицо, осуществляющего деятельность в сферетаможенного дела; 2 - уполномоченный экономический оператор; 3 - юридическое лицо, осуществляющее деятельность в сфере таможенного дела, и обязанности уполномоченного экономического оператора</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ActivitiesKindDetails" type="clt_ru:CodeVariable2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уточнение вида осуществляемой (планируемой к осуществлению) деятельности (если вид договора=2): 1 - обязанности юридического лица, осуществляющего деятельность в качестве таможенного представителя; 
2 - обязанности юридического лица, осуществляющего деятельность в качестве таможенного перевозчика; 
3 - обязанности юридического лица, осуществляющего деятельность в качестве таможенного представителя и таможенного перевозчика; 
4 - обязанности уполномоченного экономического оператора; 
5 - обязанности юридического лица, осуществляющего деятельность в качестве таможенного представителя, и обязанности уполномоченного экономического оператора; 
6 - обязанности юридического лица, осуществляющего деятельность в качестве таможенного перевозчика, и обязанности уполномоченного экономического оператора; 
7 - обязанности юридического лица, осуществляющего деятельность в качестве таможенного представителя, таможенного перевозчика, и обязанности уполномоченного экономического оператора;
8 - обязанности юридического лица, осуществляющего деятельность в качестве владельца свободного склада;
9 - обязанности юридического лица, осуществляющего деятельность в качестве владельца склада временного хранения;
10 - обязанности юридического лица, осуществляющего деятельность в качестве владельца таможенного склада;
11 - обязанности юридического лица, осуществляющего деятельность в качестве владельца магазина беспошлинной торговли)
</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GuarantorType">
    <xs:annotation>
      <xs:documentation>Сведения о поручителе</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsBankType">
        <xs:sequence>
          <xs:element name="AuthorizedPerson" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>ФИО лица, уполномоченного на подписание договора поручительства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConfirmingDocument" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Документ, подтверждающий полномочия лица</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StatusDetailsType">
    <xs:annotation>
      <xs:documentation>Статус договора</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Status" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Статус договора: 0 - новый, 1 - заключен</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Date" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentCode" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Связанный договор</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>