XsltProcessor/xsd/5.26.0/LongProcRequirementAppIdentify.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:lpid_req="urn:customs.ru:Information:CustomsDocuments:LongProcRequirementAppIdentify:5.24.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:LongProcRequirementAppIdentify:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Требование о представлении Заявления о проведении идентификации товаров</xs:documentation>
  </xs:annotation>
  <xs:element name="LongProcRequirementAppIdentify" type="lpid_req:LongProcRequirementAppIdentifyType">
    <xs:annotation>
      <xs:documentation>Требование о представлении Заявления о проведении идентификации товаров</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="LongProcRequirementAppIdentifyType">
    <xs:annotation>
      <xs:documentation>Требование о представлении Заявления о проведении идентификации товаров</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Таможенный орган</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTNumber" type="cat_ru:GTDIDType">
            <xs:annotation>
              <xs:documentation>Номер ДТ, в которой заявлены товары, в отношении которых требуется представление Заявления о проведении идентификации товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsNumeric" type="clt_ru:Count3Type" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Порядковый номер товара в ДТ, в отношении которого требуется представление Заявления о проведении идентификации товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPerson" type="lpid_req:CustomsPersonSignatureType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Подпись должностного лица</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006378E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CustomsPersonSignatureType">
    <xs:annotation>
      <xs:documentation>Подпись должностного лица</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:CustomsPersonType">
        <xs:sequence>
          <xs:element name="IssueDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата подписания</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>