XsltProcessor/xsd/5.26.0/NotifFactExportFromPort.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Технология выпуска с борта судна-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:catpi_ru="urn:customs.ru:Information:PriorInformation:PriorCommonAggregateTypes:5.24.0" xmlns:nfefp="urn:customs.ru:Information:CustomsDocuments:NotifFactExportFromPort:5.24.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:NotifFactExportFromPort:5.24.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.24.0.0">
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:Information:PriorInformation:PriorCommonAggregateTypes:5.24.0" schemaLocation="PriorCommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Уведомление декларанта о фактическом вывозе из порта</xs:documentation>
	</xs:annotation>
	<xs:element name="NotifFactExportFromPort" type="nfefp:NotifFactExportFromPortType">
		<xs:annotation>
			<xs:documentation>Уведомление декларанта о фактическом вывозе из порта</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="NotifFactExportFromPortType">
		<xs:annotation>
			<xs:documentation>Уведомление декларанта о фактическом вывозе из порта</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="RegNumber" type="catpi_ru:PIRegNumberType">
						<xs:annotation>
							<xs:documentation>Регистрационный номер предварительной информации заинтересованного лица</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PTDNumber" type="cat_ru:GTDIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер предварительной таможенной декларации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocNumber" type="RUScat_ru:DocBaseV4Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер  транспортного документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Containers" type="clt_ru:ContainerIdentityType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Номер контейнера</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DepartureDateTime" type="clt_ru:DateTimeCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата и время убытия из порта</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006832E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа. Код документа в Альбоме форматов</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
