XsltProcessor/xsd/5.26.0/OEZ_AppIdentifGoods.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Приказ Минфина России от 13.05.2016 г. № 61н "Об утверждении Порядка совершения таможенных операций при проведении идентификации товаров Евразийского экономического союза, ввозимых на территорию особой экономической зоны с остальной части таможенной территории Евразийского экономического союза, и совершения таможенных операций при обратном вывозе таких товаров с территории особой экономической зоны на остальную часть таможенной территории Евразийского экономического союза"-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.24.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:catProc_ru="urn:customs.ru:Information:ProcessingDocuments:ProcessingCommonAggregateTypes:5.24.0" xmlns:oag="urn:customs.ru:Information:CustomsDocuments:OEZ_AppIdentifGoods:5.26.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:OEZ_AppIdentifGoods:5.26.0" elementFormDefault="qualified" version="5.26.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.24.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:Information:ProcessingDocuments:ProcessingCommonAggregateTypes:5.24.0" schemaLocation="ProcessingCommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Заявление об идентификации товаров ЕАЭС, ввозимых на территорию ОЭЗ</xs:documentation>
	</xs:annotation>
	<xs:element name="OEZ_AppIdentifGoods" type="oag:OEZ_AppIdentifGoodsType">
		<xs:annotation>
			<xs:documentation>Заявление об идентификации товаров ЕАЭС, ввозимых на территорию ОЭЗ</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OEZ_AppIdentifGoodsType">
		<xs:annotation>
			<xs:documentation>Заявление об идентификации товаров ЕАЭС, ввозимых на территорию ОЭЗ</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="Customs" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Сведения о таможенном органе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Applicant" type="RUScat_ru:SubjectDetailsType">
						<xs:annotation>
							<xs:documentation>Сведения о заинтересованном лице</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsMovInformation" type="oag:GoodsMovInformationType">
						<xs:annotation>
							<xs:documentation>Сведения о перемещении товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodSingle" type="clt_ru:IndicatorType">
						<xs:annotation>
							<xs:documentation>Признак одиночного товара: True - Проведение идентификации товаров Союза одного наименования, False - Проведение идентификации товаров Союза осуществляется в отношении товаров разных наименований</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Goods" type="oag:GoodsType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о товарах</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Consignor" type="oag:SubjectType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Отправитель</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Consignee" type="oag:SubjectType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Получатель</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Carrier" type="oag:SubjectType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Перевозчик</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocList" type="oag:PresentedDocType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Перечень документов и сведений, предоставляемых в уполномоченный таможенный орган</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AppDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата заполнения Заявления о проведении идентификации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AppPerson" type="cat_ru:PersonBaseType">
						<xs:annotation>
							<xs:documentation>Подпись лица, уполномоченного организацией на подачу Заявления о проведении идентификации</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1060056E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="GoodsMovInformationType">
		<xs:annotation>
			<xs:documentation>Сведения о перемещении товаров</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ImportDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата ввоза товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ImportPlace" type="oag:ImportPlaceType">
				<xs:annotation>
					<xs:documentation>Место ввоза товаров </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ImportPlaceName" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование места ввоза товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportModeCode" type="clt_ru:TransportModeCodeType">
				<xs:annotation>
					<xs:documentation>Код вида транспорта</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportModeName" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование вида транспорта</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportIdentif" type="clt_ru:Text150Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о транспорте (номер рейса, номер регистрации автотранспортного средства, наименование морского судна, номер железнодорожного вагона, контейнера)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EstimatedRemovalDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Предполагаемая дата вывоза товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsType">
		<xs:annotation>
			<xs:documentation>Сведения о товарах ЕАЭС</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Position" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Порядковый номер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Описание товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsQuantity" type="cat_ru:SupplementaryQuantityType" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsGroupInformation" type="catESAD_cu:GoodsGroupInformationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Идентификационные (отличительные) признаки товара </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MethodIdentify" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Cпособ идентификации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Notes" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Примечания</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PresentedDocType">
		<xs:annotation>
			<xs:documentation>Сведения о представленных документах</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catProc_ru:DocExtendedType">
				<xs:sequence>
					<xs:element name="Position" type="clt_ru:Count3Type">
						<xs:annotation>
							<xs:documentation>Порядковый номер позиции</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocSign" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Информация о представлении документа ранее в уполномоченный таможенный орган:1 - документ был ранее представлен; 0 - документ ранее не представлялся</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SheetsNumber" type="clt_ru:Count3Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество листов </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SubjectType">
		<xs:annotation>
			<xs:documentation>Сведения о субъекте</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:OrganizationBaseType">
				<xs:sequence>
					<xs:element name="Address" type="cat_ru:AddressType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Адрес организации / физического лица</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Документ, удостоверяющий личность</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ImportPlaceType">
		<xs:annotation>
			<xs:documentation>Место ввоза товаров</xs:documentation>
		</xs:annotation>
		<xs:restriction base="clt_ru:CodeVariable2Type">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>Аэропорт Калининград (Храброво)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation>Морской порт Калининград, участок в г. Балтийск</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation>Морской порт Калининград, участок в г. Светлый</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation>Морской порт Калининград, участок в г. Калининград</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="5">
				<xs:annotation>
					<xs:documentation>Морской терминал в г. Пионерский</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="6">
				<xs:annotation>
					<xs:documentation>85 км федеральной автомобильной дороги Магадан - Якутск («Колыма») </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="7">
				<xs:annotation>
					<xs:documentation>Морской порт Магадан</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="8">
				<xs:annotation>
					<xs:documentation>Аэропорт Магадан (Сокол)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="9">
				<xs:annotation>
					<xs:documentation>Комплекс зданий, сооружений и посадочная площадка для самолетов и вертолетов, предназначенные для организации воздушного движения (Магаданская область, г. Магадан, 13 км основной трассы)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="10">
				<xs:annotation>
					<xs:documentation>Аэропорт Южно-Курильск (Менделеево)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="11">
				<xs:annotation>
					<xs:documentation>Аэропорт Ясный (остров Итуруп)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="12">
				<xs:annotation>
					<xs:documentation>Морской терминал Южно-Курильск (остров Кунашир)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="13">
				<xs:annotation>
					<xs:documentation>Морской терминал Малокурильск (остров Шикотан)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="14">
				<xs:annotation>
					<xs:documentation>Морской терминал Крабозаводск (остров Шикотан)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="15">
				<xs:annotation>
					<xs:documentation>Морской терминал Курильск, бухта Ольга (остров Итуруп)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="16">
				<xs:annotation>
					<xs:documentation>Морской терминал Курильск, бухта Китовая (остров Итуруп)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="17">
				<xs:annotation>
					<xs:documentation>Морской терминал Северо-Курильск (остров Парамушир)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="99">
				<xs:annotation>
					<xs:documentation>Иное место ввоза</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
