XsltProcessor/xsd/5.26.0/OEZ_ImportPass.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приказ Минфина России № 18н от 28 февраля 2024 года «Об утверждении формы разрешения на ввоз товаров на территорию портовой особой экономической зоны, на земельный участок, прилегающий к автомобильному или  железнодорожному пункту пропуска свободного порта Владивосток, арктической зоны Российской Федерации, на котором применяется таможенная процедура свободной таможенной зоны, установленная для логистической особой экономической зоны, на отдельные участки морских портов, открытых для международного сообщения и захода иностранных морских судов, включая акваторию морского порта, и (или) на отдельные участки территории аэропорта, открытого для приема и отправки воздушных судов, выполняющих международные воздушные перевозки, находящиеся на территории свободного порта Владивосток, в Арктической зоне Российской Федерации, на участки территории свободного порта Республики Крым и города Федерального значения Севастополя, на которых применяется таможенная процедура свободной таможенной зоны, установленная для портовой особой экономической зоны, а также порядка заполнения указанной формы разрешения» -->
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:impas="urn:customs.ru:Information:CustomsDocuments:OEZ_ImportPass:5.24.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:OEZ_ImportPass:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Разрешение на ввоз товаров на территорию ПОЭЗ, на земельный участок, прилегающий к автомобильному или железнодорожному пункту пропуска свободного порта Владивосток, Арктической зоны РФ</xs:documentation>
	</xs:annotation>
	<xs:element name="OEZ_ImportPass" type="impas:OEZ_ImportPassType">
		<xs:annotation>
			<xs:documentation>Разрешение на ввоз товаров на территорию ПОЭЗ, на земельный участок, прилегающий к автомобильному или железнодорожному пункту пропуска свободного порта Владивосток, Арктической зоны РФ</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OEZ_ImportPassType">
		<xs:annotation>
			<xs:documentation>Разрешение на ввоз товаров на территорию ПОЭЗ, на земельный участок, прилегающий к автомобильному или железнодорожному пункту пропуска свободного порта Владивосток, Арктической зоны РФ</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="PassKind" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Тип документа: 0 - разовый пропуск, 1 - многоразовый пропуск</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BeginDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Начало срока действия пропуска (для многоразовых)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LimitDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Окончание срока действия пропуска/ Срок действия разрешения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CancellationSign" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак аннулирования разрешения: 1 - аннулировано; 0 - не аннулировано</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RegistrationNumber" type="impas:RegistrationNumberType">
						<xs:annotation>
							<xs:documentation>Регистрационный номер разрешения на ввоз</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ImportNoticeRegNumber" type="impas:RegistrationNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер Уведомления о ввозе товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Resident" type="impas:ResidentType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Резидент (ПОЭЗ)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Consignor" type="impas:ConsignorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Отправитель</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalWeight" type="clt_ru:QuantityBasis0Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Общий вес транспортных средств и ввозимых товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsList" type="impas:GoodsListType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Перечень товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocumentExp" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Перечень документов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransportMeans" type="impas:TransportMeansType">
						<xs:annotation>
							<xs:documentation>Описания транспортного средства</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CombinedCargo" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак сборного груза: 0 - нет; 1 - вывоз товаров в составе сборного груза</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsPerson" type="cat_ru:CustomsPersonType">
						<xs:annotation>
							<xs:documentation>Начальник/ Должностное лицо таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DeadlineForDocuments" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Срок предоставления документов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsObservation" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Таможенное наблюдение</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsControl" type="impas:CustomsControlType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Таможенный контроль</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006380E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="ConsignorType">
		<xs:annotation>
			<xs:documentation>Отправитель</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:OrganizationBaseType">
				<xs:sequence>
					<xs:element name="Address" type="RUScat_ru:RUAddressType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Адрес организации / физического лица</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CertificateNumber" type="cat_ru:DocumentBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Реквизиты свидетельства о включении в реестр резидентов Арктической зоны</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CustomsControlType">
		<xs:annotation>
			<xs:documentation>Таможенный контроль</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ExportSign" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак ввоза товара: 1 - Товар ввезён; 2 - Товар ввезен, требуется представление документов, подтверждающих прибытие товаров на таможенную территории ЕАЭС; 3 - Ввоз запрещен в связи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentationSign" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак предоставления документов при прибытии товаров: 1 - документы предоставлены; 0 - документы не предоставлены</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReasonsForRejection" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Причины отказа в ввозе товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CancellationSign" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак аннулирования Разрешения на вывоз: 1 - аннулировано; 0 - не аннулировано</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExportNoticeRegNumber" type="impas:RegistrationNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер Уведомления на ввоз товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Date" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsPerson" type="cat_ru:CustomsPersonType">
				<xs:annotation>
					<xs:documentation>Должностное лицо таможенного органа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsListType">
		<xs:annotation>
			<xs:documentation>Перечень товаров</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование и описание товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsIdentification" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Идентификационные признаки товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PackagesQuantity" type="clt_ru:PackagesQuantityType">
				<xs:annotation>
					<xs:documentation>Количество грузовых мест</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WeighQuantity" type="clt_ru:QuantityBasisType">
				<xs:annotation>
					<xs:documentation>Вес товара в кг.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PackagingKind" type="clt_ru:Text40Type">
				<xs:annotation>
					<xs:documentation>Вид упаковки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsStatus" type="impas:GoodsStatusType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Статус товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GroundsForExport" type="impas:GroundsForExportType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Основания для вывоза</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroundsForExportType">
		<xs:annotation>
			<xs:documentation>Основания для вывоза товаров</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StorageAgreement" type="cat_ru:DocumentBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Договор хранения товаров, заключенный резидентом или участником с владельцем товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceOrganization" type="RUScat_ru:RUOrganizationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Лицо, заключившее договор на оказание услуг по хранению товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DTInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о ДТ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GTDID" type="cat_ru:GTDIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTGoods" type="impas:DTGoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товар ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DTGoodsType">
		<xs:annotation>
			<xs:documentation>Сведения о товаре ДТ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsNumeric" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара гр 32</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Масса товара, нетто (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество товара в дополнительной единице измерения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTGoodsGroup" type="impas:DTGoodsGroupType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения об артикульной позиции товара ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DTGoodsGroupType">
		<xs:annotation>
			<xs:documentation>Сведения об артикульной позиции товара ДТ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsMarking" type="cltESAD_cu:GoodsArticulType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор вида продукта (товара) или артикул товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество товара в дополнительной единице измерения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecordId" type="clt_ru:DocumentIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор записи в ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsStatusType">
		<xs:annotation>
			<xs:documentation>Статус товара</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StatusSymbolicValue" type="clt_ru:CodeVariable7Type">
				<xs:annotation>
					<xs:documentation>Символьное значение статуса товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsModeCode" type="cltESAD_cu:CustomsModeCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код таможенной процедуры</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTInfo" type="impas:DTInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара гр. 32</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegistrationNumberType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер документа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата регистрации документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="clt_ru:CodeVariable10Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddNumber" type="clt_ru:CodeVariable5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>4-ая часть номера</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResidentType">
		<xs:annotation>
			<xs:documentation>Резидент</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:SubjectDetailsType">
				<xs:sequence>
					<xs:element name="CertificateNumber" type="cat_ru:DocumentBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Реквизиты свидетельства о включении в реестр резидентов Арктической зоны</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TransportMeansType">
		<xs:annotation>
			<xs:documentation>Описания транспортного средства</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VehicleSign" type="clt_ru:IndicatorType">
				<xs:annotation>
					<xs:documentation>Признак ТС: 0 - Без транспортного средства; 1 - Транспортное средство</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportKind" type="clt_ru:Numeric1Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип транспортного средства: 1 - а/м; 2 - ж/д; 3 - авиа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportMark" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Марки транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportRegNumber" type="clt_ru:CodeVariable20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrailerRegNumber" type="clt_ru:CodeVariable20Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Регистрационный номер прицепа/полуприцепа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActiveTransportIdentifier" type="clt_ru:TransportMeansIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор активного транспортного средства для прицепов, полуприцепов и др.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TareWeight" type="clt_ru:QuantityBasis0Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес автотранспортного средства/вес тары контейнера/вес тары вагона</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonDetails" type="cat_ru:PersonBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Фамилия, имя, отчество (при наличии) физического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonID" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Паспортные данные физического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
