XsltProcessor/xsd/5.26.0/PaymentGuaranteeCalc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- аналог R.034 -->
<xs:schema xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.24.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:pgc="urn:customs.ru:Information:CustomsDocuments:PaymentGuaranteeCalc:5.24.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:RUDECLcat="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.24.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:PaymentGuaranteeCalc:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.24.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.24.0" schemaLocation="RUDeclCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Расчет размера обеспечения исполнения обязанности по уплате таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин</xs:documentation>
  </xs:annotation>
  <xs:element name="PaymentGuaranteeCalc" type="pgc:PaymentGuaranteeCalcType">
    <xs:annotation>
      <xs:documentation>Расчет размера обеспечения исполнения обязанности по уплате таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PaymentGuaranteeCalcType">
    <xs:annotation>
      <xs:documentation>Расчет размера обеспечения исполнения обязанности по уплате таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="EECEDocHeaderAddInfo" type="RUScat_ru:EECEDocHeaderAddInfoType">
            <xs:annotation>
              <xs:documentation>Дополнительные технологические реквизиты электронного документа (сведений)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GTDID" type="cat_ru:GTDIDType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер  ДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EDocIndicatorCode" type="clt_ru:Code2Type">
            <xs:annotation>
              <xs:documentation>Признак электронного документа (возможные значения: ЭД, ОО)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PageQuantity" type="clt_ru:Quantity4Type">
            <xs:annotation>
              <xs:documentation>Общее количество листов в документе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Quantity" type="clt_ru:Quantity8Type">
            <xs:annotation>
              <xs:documentation>Количество товаров, в отношении которых требуется обеспечение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsQuantity" type="clt_ru:Quantity5Type">
            <xs:annotation>
              <xs:documentation>Общее число товаров в документе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsShipment" type="pgc:GoodsShipmentType">
            <xs:annotation>
              <xs:documentation>Сведения о товарной партии при заполнении расчета размера обеспечения обязанностей по уплате</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPersonSignature" type="pgc:CustomsPersonSignatureType">
            <xs:annotation>
              <xs:documentation>Подпись должностного лица таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006251E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CargoPackagePalletDetailsType">
    <xs:annotation>
      <xs:documentation>Cведения о грузовых местах, поддонах и упаковке товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PackageAvailabilityCode" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение вида информации об упаковке товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CargoQuantity" type="clt_ru:PackagesQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общее количество грузовых мест, занятых товаром</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CargoPartQuantity" type="clt_ru:PackagesQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество грузовых мест, частично занятых товаром</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CargoKindName" type="clt_ru:CodeVariable20Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование вида грузовых мест</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PackagePalletDetails" type="pgc:PackagePalletDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о грузовых местах, поддонах и упаковке товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CommodityGroupItemDetailsType">
    <xs:annotation>
      <xs:documentation>Характеристика товаров в группе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CommodityDescriptionDetails" type="catESAD_cu:GoodsGroupInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дополнительные характеристики сведений о товаре</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductionPlaceName" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование места происхождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StandardName" type="clt_ru:Text40Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование стандарта (международного, межгосударственного, государтвенного, отраслевого или организации) или технических условий на товар</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsCheckCodeDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о коде проверки таможенных, иных документов и (или) сведений</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="WeightCheckIndicator" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак проверки таможенных, иных документов и (или) сведений в отношении сведений о количестве (весе) товара и (или) о количестве товара в дополнительной единице измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginalCheckIndicator" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак проверки таможенных, иных документов и (или) сведений в отношении сведений о происхождении товара и (или) тарифных преференциях</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CommodityCheckIndicator" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак проверки таможенных, иных документов и (или) сведений в отношении классификационного кода товара в соответствии с ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsValueCheckIndicator" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак проверки таможенных, иных документов и (или) сведений в отношении сведений о таможенной стоимости товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DutyTaxFeeCheckIndicator" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак проверки таможенных, иных документов и (или) сведений в отношении сведений об исчислении таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FactPaymentCheckIndicator" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак проверки таможенных, иных документов и (или) сведений в отношении сведений о применении льгот по уплате таможенных пошлин, налогов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SpecialDutiesAndOthersCheckIndicator" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Признак проверки таможенных, иных документов и (или) сведений по иным основаниям ("0" - проверка не проводится)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsPersonSignatureType">
    <xs:annotation>
      <xs:documentation>Подпись должностного лица таможенного органа</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:CustomsPersonDetails">
        <xs:sequence>
          <xs:element name="IssueDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата подписания</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DTAutomobileDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения об автомобиле</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catESAD_cu:AutomobileType">
        <xs:sequence>
          <xs:element name="ManufactureDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата изготовления (момент выпуска) транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ElectricPowerTransferDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о принятой и переданной электроэнергии</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ExportElectricPowerMeasure" type="catESAD_cu:CU_ElectricalEnergyType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество переданной электроэнергии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ImportElectricPowerMeasure" type="catESAD_cu:CU_ElectricalEnergyType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество принятой электроэнергии</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InformationSourceType">
    <xs:annotation>
      <xs:documentation>Сведения об информационном источнике или информационном ресурсе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="InformationSourceName" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование информационного ресурса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DetailsResourceId" type="RUSclt_ru:String2048Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ссылка на информационный ресурс</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EventDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата обращения к информационному ресурсу</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrecedingDTNumber" type="pgc:PrecedingDTNumberType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о ДТ с идентичным товаром</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsGroupDescriptionType">
    <xs:annotation>
      <xs:documentation>Описание группы товаров одного наименования с отличающимися от других групп характеристиками</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание группы товаров с учетом дополнительных характеристик (качественных, технических, коммерческих), необходимых для классификации товара и для исчисления таможенной стоимости</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RKTNVED" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код ТН ВЭД ЕАЭС компонента машины (для РК и КР)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CommodityGroupItemDetails" type="pgc:CommodityGroupItemDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Характеристика товаров в группе</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsItemDetailType">
    <xs:annotation>
      <xs:documentation>Сведения о товаре</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:EECDTGoodsBaseDetailsType">
        <xs:sequence>
          <xs:element name="PageOrdinal" type="clt_ru:Count3Type">
            <xs:annotation>
              <xs:documentation>Порядковый номер листа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTConsignmentItemOrdinal" type="clt_ru:Count3Type">
            <xs:annotation>
              <xs:documentation>Порядковый номер товара в декларации на товары</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ListItemOrdinal" type="clt_ru:Count3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Порядковый номер товара в списке (применяется в Республике Казахстан)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsClassificationCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Кодовое обозначение особенности классификации товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AddGoodsMeasureDetails" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
            <xs:annotation>
              <xs:documentation>Количество товара в единице измерения, отличной от основной и дополнительной</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsGroupDescription" type="pgc:GoodsGroupDescriptionType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Описание и характеристика товаров / Описание группы товаров одного наименования с отличающимися от других групп характеристиками</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTAutomobileDetails" type="pgc:DTAutomobileDetailsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения об автомобиле</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CargoPackagePalletDetails" type="pgc:CargoPackagePalletDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о грузе, грузовых местах, поддонах и упаковке товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PipelineGoodsDetails" type="pgc:PipelineGoodsDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дополнительные сведения о товарах, перемещаемых трубопроводным транспортом</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ElectricPowerTransferDetails" type="pgc:ElectricPowerTransferDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о принятой и переданной электроэнергии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WarehousingGoodsItemDetails" type="pgc:GoodsSTZType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о товаре, помещенном под таможенную процедуру свободной таможенной зоны или свободного склада и использованном при изготовлении декларируемого товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OriginCountryDetails" type="pgc:OriginCountryDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о стране происхождения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PreferenceDetails" type="catESAD_cu:CUPreferenciiType">
            <xs:annotation>
              <xs:documentation>Сведения о преференциях</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReasonCalculationPayment" type="clt_ru:AmountType">
            <xs:annotation>
              <xs:documentation>Таможенная стоимость товаров (стоимостная основа для расчета (в рублях))</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsCheckCodeDetails" type="pgc:CustomsCheckCodeDetailsType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Цифровое кодовое обозначение проверки таможенных, иных документов и (или) сведений</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PresentedDocDetails" type="pgc:SimplePresentedDocType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о документе и (или) источнике информации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsItemPaymentDetails" type="RUDECLcat:CalculationType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения об исчислении таможенного и иного платежа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsItemGuaranteeDetails" type="pgc:GoodsItemGuaranteeDetailsType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о размере обеспечения в отношении товара по виду таможенного и иного платежа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GoodsItemGuaranteeDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения об информационном источнике или информационном ресурсе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsTaxModeCode" type="clt_ru:CUCustomsPaymentCodeType">
        <xs:annotation>
          <xs:documentation>Код вида платежа по классификатору видов налогов, сборов и иных платежей, взимание которых возложено на таможенные органы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentAmount" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Исчисленная сумма платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentCurrencyCode" type="clt_ru:CurrencyN3CodeType">
        <xs:annotation>
          <xs:documentation>Цифровой код валюты исчисленной суммы платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreviousPaymentAmount" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Предыдущая сумма платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreviousPaymentCurrencyCode" type="clt_ru:CurrencyN3CodeType">
        <xs:annotation>
          <xs:documentation>Цифровой код валюты предыдущей суммы платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DifferencePaymentAmount" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Изменение суммы платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DifferencePaymentCurrencyCode" type="clt_ru:CurrencyN3CodeType">
        <xs:annotation>
          <xs:documentation>Цифровой код валюты изменения суммы платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsShipmentType">
    <xs:annotation>
      <xs:documentation>Сведения о товарной партии при заполнении расчета размера обеспечения обязанностей по уплате</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsItemDetails" type="pgc:GoodsItemDetailType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товарах</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GuaranteeDetails" type="pgc:GuaranteeDetailsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о размере обеспечения по всем товарам</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsSTZType">
    <xs:annotation>
      <xs:documentation>Сведения о товаре, помещенном под таможенную процедуру свободной таможенной зоны или свободного склада и использованном при изготовлении декларируемого товара</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="LineNumber" type="clt_ru:SheetNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порядковый номер строки в гр 40</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Наименования товара (торговое, коммерческое или иное традиционное наименование)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Количество товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsGroupDescription" type="pgc:GoodsGroupDescriptionType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание и характеристика товаров / Описание группы товаров одного наименования с отличающимися от других групп характеристиками</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GuaranteeAmountDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о размере обеспечения по виду платежа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsTaxModeCode" type="clt_ru:CUCustomsPaymentCodeType">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение вида налогов, сборов или иного платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentAmount" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма (размер) обеспечения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentCurrencyCode" type="clt_ru:CurrencyN3CodeType">
        <xs:annotation>
          <xs:documentation>Цифровой код валюты суммы (размера) обеспечения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GuaranteeDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о размере обеспечения по всем товарам</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GuaranteeAmountDetails" type="pgc:GuaranteeAmountDetailsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о размере обеспечения по виду платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalGuaranteeNAmount" type="RUScat_ru:AmountNType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Общая сумма (размер) обеспечения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginCountryDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о стране происхождения</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:CountryDetailsType">
        <xs:sequence>
          <xs:element name="TerritoryCode" type="RUSclt_ru:TerritoryCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код обозначения единицы административно-территориального деления</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PackagePalletDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о грузе, таре, упаковке, поддоне</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CargoPackageInfoKindCode" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение вида информации о грузе, грузовых местах, упаковках, поддонах</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PackageCode" type="clt_ru:PackageCodeType">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение вида груза, упаковки или упаковочного материала</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PackagesQuantity" type="clt_ru:PackagesQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество упаковок, поддонов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CargoDescriptionText" type="cltESAD_cu:PackageDescriptionType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание груза, поддона, грузового места или маркировки товара</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PipelineGoodsDetailsType">
    <xs:annotation>
      <xs:documentation>Дополнительные сведения о товарах, перемещаемых трубопроводным транспортом</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OilTransferMeasure" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество фактически переданной нефти или нефтепродуктов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PlaceName" type="RUSclt_ru:Name120Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Название месторождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PrecedingDTNumberType">
    <xs:annotation>
      <xs:documentation>Сведения о ДТ с идентичным товаром</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DTRegNum" type="cat_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsNumeric" type="clt_ru:Count3Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Номер товара ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SimplePresentedDocType">
    <xs:annotation>
      <xs:documentation>Сведения о документе и (или) источнике информации</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:DocBaseType">
        <xs:sequence>
          <xs:element name="DocKindCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Кодовое обозначение вида документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AuthorityName" type="RUSclt_ru:Name300Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Полное наименование органа государственной власти государства-члена либо уполномоченной им организации, выдавшей документ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AuthorityId" type="clt_ru:CodeVariable20Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Строка символов, идентифицирующая государственный или межгосударственный орган (организацию), выдавший или утвердивший документ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InformationSourceDetails" type="pgc:InformationSourceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения об информационном источнике или информационном ресурсе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LineId" type="clt_ru:Text40Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор, используемый для целей однозначной ссылки на запись, или порядковый номер записи</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EDocCode" type="clt_ru:CodeVariable10Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Кодовое обозначение электронного документа (сведений) в соответствии с реестром структур электронных документов и сведений</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocArchIdDetails" type="catESAD_cu:RFBasePresentedDocIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификаторы, присвоенные документу (сведениям) при размещении в хранилище электронных документов</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>