XsltProcessor/xsd/5.26.0/PriorCommonLeafTypesCust.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:cltpi_ru="urn:customs.ru:Information:PriorInformation:PriorCommonLeafTypes:5.17.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:PriorInformation:PriorCommonLeafTypes:5.17.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.17.0.0">
	<xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Общие простые типы для документов предварительной информации</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="GoodsGNGCode">
		<xs:annotation>
			<xs:documentation>Код товара по ГНГ.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:CodeCategoriesCust">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IMONumberType">
		<xs:annotation>
			<xs:documentation>ИМО номер. 7 цифр</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:IntegerCategoriesCust">
			<xs:pattern value="[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResultCategoryType">
		<xs:annotation>
			<xs:documentation>Степень критичности ошибки. Текст. До 15 символов.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:TextCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResultCodeType">
		<xs:annotation>
			<xs:documentation>Код ошибки.  Текст. До 11 символов. (Определяется Спецификацией обмена.)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:TextCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TIRHolderType">
		<xs:annotation>
			<xs:documentation>Идентификатор держателя книжки  МДП. Текстовый. Длина до 18 символов.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:IdentifierCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TrainIndex">
		<xs:annotation>
			<xs:documentation>Индекс поезда. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:CodeCategoriesCust">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TrainNumber">
		<xs:annotation>
			<xs:documentation>Номер поезда.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:CodeCategoriesCust">
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GuaranteeCodeType">
		<xs:annotation>
			<xs:documentation>Код меры обеспечения по классификатору мер обеспечения. 2 цифры. Числовой</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:CodeCategoriesCust">
			<xs:pattern value="\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UNDGNumberIdType">
		<xs:annotation>
			<xs:documentation>Идентификатор номера опасного груза, вещества или изделия в соответствии с Типовыми правилами перевозки опасных грузов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:CodeCategoriesCust">
			<xs:pattern value="(UN)\d{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UCRIdType">
		<xs:annotation>
			<xs:documentation>Уникальный идентификатор, присвоенный товарной партии. До 35 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:TextCategoriesCust">
			<xs:maxLength value="35"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
