XsltProcessor/xsd/5.26.0/ProtocolArrestingGoods.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приказ ФТС России от 21.11.2018 г. № 1876 "Об утверждении форм документов, применяемых таможенными органами в целях обеспечения взыскания таможенных платежей,
специальных, антидемпинговых, компенсационных пошлин, процентов и пеней за счет имущества и обращения взыскания на товары-->
<!--
Приложение № 6 - Протокол таможенного органа о наложении ареста на имущество (DocKind=1)
Прилжение № 10 - Протокол таможенного органа о наложении ареста на товары (DocKind=2)
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:adt_cat="urn:customs.ru:Information:CustomsAuditDocuments:AuditCommonAggregateTypesCust:5.24.0" xmlns:pag="urn:customs.ru:Information:CustomsAuditDocuments:ProtocolArrestingGoods:5.24.0" targetNamespace="urn:customs.ru:Information:CustomsAuditDocuments:ProtocolArrestingGoods:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:CustomsAuditDocuments:AuditCommonAggregateTypesCust:5.24.0" schemaLocation="AuditCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Протокол таможенного органа о наложении ареста на товары / имущество</xs:documentation>
  </xs:annotation>
  <xs:element name="ProtocolArrestingGoods" type="pag:ProtocolArrestingGoodsType">
    <xs:annotation>
      <xs:documentation>Протокол таможенного органа о наложении ареста на товары / имущество</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ProtocolArrestingGoodsType">
    <xs:annotation>
      <xs:documentation>Протокол таможенного органа о наложении ареста на товары / имущество</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="CustomProtocolArresting" type="pag:CustomsIssued">
            <xs:annotation>
              <xs:documentation>Таможенный орган, составивший Протокол</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ProtocolPlace" type="clt_ru:NameType">
            <xs:annotation>
              <xs:documentation>Место составления Протокола</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ProtocolDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата составления Протокола</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ProtocolNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Номер протокола</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TimeBegin" type="clt_ru:TimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Время начала ареста товаров/имущества</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TimeEnd" type="clt_ru:TimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Время окончания ареста товаров/имущества</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocKind" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Тип документа: 1- Протокол таможенного органа о наложении ареста на имущество; 2- Протокол таможенного органа о наложении ареста на товары</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Witnesses" type="pag:PersonsPresentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Понятые</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Specialist" type="pag:PersonsPresentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Специалисты</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OtherPersons" type="pag:PersonsPresentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Иные присутствующие лица, участвующие в наложении ареста</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FixInfo" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о технических средствах, использованных для проведения видеозаписи</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionArrest" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Решение таможенного органа о наложении ареста на товары/имущество</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArrestKind" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Тип наложенного ареста: 1- Полный; 2- Частичный</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonOwnGoods" type="pag:PersonOwnGoodsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Лицо, на товары/имущество которого налагается арест</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsInfo" type="pag:GoodsType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Товары/имущество, на которое наложен арест</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TotalCost" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Общая стоимость товаров/имущества, рубли</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsKeeper" type="pag:GoodsKeeperType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Лицо, которому товары/имущество переданы на хранение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StorageOrganization" type="pag:StorageOrganizationType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Организация, в которой должно находиться арестованные товары/имущество</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonsNotesInfo" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Заявления/замечания, сделанные присутствующими лицами</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Applications" type="pag:ApplicationsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Приложения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SecondExempReceived" type="adt_cat:SecondExempReceivedType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Копию Акта получил</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006932E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ApplicationsType">
    <xs:annotation>
      <xs:documentation>Сведения о приложениях</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="VideoMaterials" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Прилагаемые материалы видеозаписи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество листов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Other" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Иные документы, замечания, объяснения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Товар, на который наложен арест</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsCharacteristics" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Индивидуальные признаки товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Cost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Стоимость товара, рубли</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsKeeperType">
    <xs:annotation>
      <xs:documentation>Сведения о лице, которому товары / имущество передано под охрану или на хранение</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonBaseType">
        <xs:sequence>
          <xs:element name="Passport" type="RUScat_ru:RUIdentityCardType">
            <xs:annotation>
              <xs:documentation>Реквизиты документа, удостоверяющего личность</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AuthoritesDocument" type="cat_ru:AuthoritesDocumentType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Документ, подтверждающий полномочия</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Address" type="RUScat_ru:RUAddressType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Адрес регистрации и фактического проживания</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RefusalMark" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Отметка о подписании: true - подписан; false - не подписан</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StorageOrganizationType">
    <xs:annotation>
      <xs:documentation>Сведения о месте хранения товаров / имущества</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:OrganizationType">
        <xs:sequence>
          <xs:element name="StoragePlace" type="RUScat_ru:RUAddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Место хранения арестованного имущества / товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CustomsPersonType">
    <xs:annotation>
      <xs:documentation>Должностное лицо таможенного органа, составившее протокол</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonSignatureType">
        <xs:sequence>
          <xs:element name="ClassRank" type="clt_ru:PostType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Классный чин</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CustomsIssued">
    <xs:annotation>
      <xs:documentation>Таможенный орган</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="adt_cat:CustomsType">
        <xs:sequence>
          <xs:element name="CustomsPerson" type="pag:CustomsPersonType">
            <xs:annotation>
              <xs:documentation>Должностное лицо таможенного органа, составившее протокол</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonOwnGoodsType">
    <xs:annotation>
      <xs:documentation>Лицо, на товары/имущество которого налагается арест</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="adt_cat:RespSubjectType">
        <xs:sequence>
          <xs:element name="RefusalMark" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Отметка о подписании: true - подписан; false - не подписан</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonsPresentType">
    <xs:annotation>
      <xs:documentation>Сведения о присутствующих лицах</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="adt_cat:WitnessesType">
        <xs:sequence>
          <xs:element name="RefusalMark" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Отметка о подписании: true - подписан; false - не подписан</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Date" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата подписания </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>