XsltProcessor/xsd/5.26.0/RepGoodsNoCustomsWarehouse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rgncw="urn:customs.ru:Information:ReportingCollection:RepGoodsNoCustomsWarehouse:5.25.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" targetNamespace="urn:customs.ru:Information:ReportingCollection:RepGoodsNoCustomsWarehouse:5.25.0" elementFormDefault="qualified" version="5.25.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:annotation>
		<xs:documentation>Отчет лица, поместившего товары под таможенную процедуру таможенного склада и осуществляющего их хранение в местах, не являющихся таможенными складами</xs:documentation>
	</xs:annotation>
	<xs:element name="RepGoodsNoCustomsWarehouse" type="rgncw:RepGoodsNoCustomsWarehouseType">
		<xs:annotation>
			<xs:documentation>Отчет лица, поместившего товары под таможенную процедуру таможенного склада и осуществляющего их хранение в местах, не являющихся таможенными складами</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RepGoodsNoCustomsWarehouseType">
		<xs:annotation>
			<xs:documentation>Отчет лица, поместившего товары под таможенную процедуру таможенного склада и осуществляющего их хранение в местах, не являющихся таможенными складами</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="ReportDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата подачи отчета</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!--<xs:element name="ReportNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер отчета</xs:documentation>
						</xs:annotation>
					</xs:element>-->
					<xs:element name="ReportYear" type="clt_ru:DateYearCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Отчетный год</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReportQuarter" type="clt_ru:Numeric1Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Отчетный квартал</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Organization" type="rgncw:OrganizationInfoType">
						<xs:annotation>
							<xs:documentation>Сведения об организации / физическом лице</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StorageAddress" type="RUScat_ru:RUAddressType" maxOccurs="2">
						<xs:annotation>
							<xs:documentation>Адрес хранения товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StorageZTKDoc" type="cat_ru:DocumentBaseType">
						<xs:annotation>
							<xs:documentation>Документ о создании зоны таможенного контроля в месте хранения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsRequest" type="cat_ru:DocumentBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Запрос таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Customs" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Таможенный орган подачи отчета</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsInfo" type="rgncw:GoodsInfoType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о товарах</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ApplicantSignature" type="cat_ru:PersonSignatureType">
						<xs:annotation>
							<xs:documentation>Сведения о заявителе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AttachedDocuments" type="rgncw:DocumentInfoType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Приложенные документы</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1004165E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="OrganizationInfoType">
		<xs:annotation>
			<xs:documentation>Сведения об организации / физическом лице</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:RUOrganizationType">
				<xs:sequence>
					<xs:element name="ApplicantType" type="clt_ru:DigitalIndicatorType">
						<xs:annotation>
							<xs:documentation>Тип заявителя (1 - юридическое лицо, 2 - индивидуальный предприниматель, 3 – физическое лицо)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GoodsInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о товарах</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsPosition" type="clt_ru:Count5Type">
				<xs:annotation>
					<xs:documentation>Номер товара по порядку</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Section1" type="rgncw:Section1Type">
				<xs:annotation>
					<xs:documentation>Раздел I. Товары, помещенные под таможенную процедуру таможенного склада</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Section2" type="rgncw:Section2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Раздел II. Товары, в отношении которых таможенная процедура таможенного склада завершена</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Section3" type="rgncw:Section3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Раздел III. Товары, в отношении которых таможенная процедура таможенного склада прекращена</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Section4" type="rgncw:GoodsBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Раздел IV. Остаток товаров в месте хранения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Notes" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Примечания</xs:documentation>
				</xs:annotation>
			</xs:element>			
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Section1Type">
		<xs:annotation>
			<xs:documentation>Товары, помещенные под таможенную процедуру таможенного склада</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rgncw:GoodsProcType">
				<xs:sequence>
					<xs:element name="PlacementDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата размещения товара на таможенном складе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StoragePlaceNum" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер складского места</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExpirationDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата истечения срока действия таможенной процедуры таможенного склада</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ShelfLife" type="rgncw:ShelfLifeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Срок годности и (или) реализации товара</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Section2Type">
		<xs:annotation>
			<xs:documentation>Товары, в отношении которых таможенная процедура таможенного склада завершена</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rgncw:GoodsProcType">
				<xs:sequence>
					<xs:element name="ProcedureCode" type="clt_ru:Code2Type">
						<xs:annotation>
							<xs:documentation>Код таможенной процедуры</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IssuanceDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата вывоза товара с таможенного склада</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Section3Type">
		<xs:annotation>
			<xs:documentation>Товары, в отношении которых таможенная процедура таможенного склада прекращена</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ProtocolDetails" type="cat_ru:DocumentBaseType">
				<xs:annotation>
					<xs:documentation>Реквизиты протокола о задержании товаров и документов на них</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IssuanceDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата вывоза товара с таможенного склада</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsProcType">
		<xs:annotation>
			<xs:documentation>Товары, помещенные или находившиеся под таможенной процедурой таможенного склада</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rgncw:GoodsBaseType">
				<xs:sequence>
					<xs:element name="GTDNumber" type="cat_ru:GTDIDType">
						<xs:annotation>
							<xs:documentation>Регистрационный номер ДТ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsNumeric" type="clt_ru:Count5Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер товара в ДТ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Наименование товара</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GoodsBaseType">
		<xs:annotation>
			<xs:documentation>Базовый тип описания товара</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GrossWeightQuantity" type="clt_ru:QuantityBasisType">
				<xs:annotation>
					<xs:documentation>Вес товара брутто (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryQuantity" type="rgncw:SuppQuantityType">
				<xs:annotation>
					<xs:documentation>Количество товара в дополнительной единице измерения</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShelfLifeType">
		<xs:annotation>
			<xs:documentation>Срок годности и (или) реализации товара</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ShelfLifeDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Срок годности и (или) реализации товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateIndicator" type="clt_ru:IndicatorType">
				<xs:annotation>
					<xs:documentation>Признак наличия даты</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SuppQuantityType">
		<xs:annotation>
			<xs:documentation>Количество в дополнительной единице измерения</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsQuantity" type="clt_ru:QuantityBasisType">
				<xs:annotation>
					<xs:documentation>Количество товара в единице измерения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeasureUnitQualifierName" type="clt_ru:MeasureUnitQualifierNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Условное обозначение единицы измерения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeasureUnitQualifierCode" type="clt_ru:MeasureUnitQualifierCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код единицы измерения в соответствии с единицами измерения, применяемыми в ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о документе</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="DocCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код вида документа (заполняется в соответствии с классификатором видов документов, используемых при заявлении сведений в графе 44 ДТ)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ArchDeclID" type="clt_ru:ArchiveDeclarantIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Уникальный идентификатор декларанта в Электронном Архиве Декларанта</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ArchID" type="clt_ru:DocumentIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Уникальный идентификатор архива декларанта (используется при запросе документа из архива)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ArchDocID" type="clt_ru:DocumentIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Уникальный идентификатор документа в архиве (используется при запросе документа из архива)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ArchDocumentID" type="clt_ru:ArchiveDocumentIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Уникальный идентификатор документа (используется при запросе документа из архива)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ArchDocStatus" type="clt_ru:ArchStatusCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Статус документа в архиве</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ArchDocDate" type="clt_ru:DateTimeCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата/время помещения документа в архив (последнего изменения документа)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PrDocumentTerm" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Срок действия документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocumentModeID" type="clt_ru:DocumentModeIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код вида представленного документа в соответствии с альбомом форматов электронных форм документов</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
