XsltProcessor/xsd/5.26.0/STZ_ReportArctic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приказ Минфина России от 12.02.2021 № 17н "Об определении формы отчетности о товарах, помещенных под таможенную процедуру свободной таможенной зоны, применяемую на участках Арктической зоны Российской Федерации, и товарах, изготовленных (полученных) с использованием товаров, помещенных под таможенную процедуру свободной таможенной зоны, применяемую на участках Арктической зоны Российской Федерации, порядка заполнения указанной отчетности, а также порядка и сроков представления указанной отчетности в таможенный орган" -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.24.0" xmlns:cltESAD_ru="urn:customs.ru:RUCommonLeafTypes:5.4.0" xmlns:stz_rarc="urn:customs.ru:Information:CustomsDocuments:STZ_ReportArctic:5.25.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:STZ_ReportArctic:5.25.0" elementFormDefault="qualified" version="5.25.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.24.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUCommonLeafTypes:5.4.0" schemaLocation="RUESADCommonLeafTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Отчетность о товарах, помещенных под таможенную процедуру свободной таможенной зоны, применяемую на участках Арктической зоны Российской Федерации, и товарах, изготовленных (полученных) с использованием товаров, помещенных под таможенную процедуру свободной таможенной зоны, применяемую на участках Арктической зоны Российской Федерации</xs:documentation>
	</xs:annotation>
	<xs:element name="STZ_ReportArctic" type="stz_rarc:STZ_ReportArcticType">
		<xs:annotation>
			<xs:documentation>Отчетность о товарах, помещенных под таможенную процедуру свободной таможенной зоны, применяемую на участках Арктической зоны Российской Федерации, и товарах, изготовленных (полученных) с использованием товаров, помещенных под таможенную процедуру свободной таможенной зоны, применяемую на участках Арктической зоны Российской Федерации</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="STZ_ReportArcticType">
		<xs:annotation>
			<xs:documentation>Отчетность о товарах, помещенных под таможенную процедуру свободной таможенной зоны, применяемую на участках Арктической зоны Российской Федерации, и товарах, изготовленных (полученных) с использованием товаров, помещенных под таможенную процедуру свободной таможенной зоны, применяемую на участках Арктической зоны Российской Федерации</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="Customs" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Сведения о таможенном органе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReportingPeriod" type="stz_rarc:ReportingPeriodType">
						<xs:annotation>
							<xs:documentation>Отчётный период</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SheetsNumber" type="clt_ru:Count3Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество листов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Resident" type="stz_rarc:ResidentType">
						<xs:annotation>
							<xs:documentation>Резидент Арктической зоны Российской Федерации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReportPerson" type="stz_rarc:ReportPersonType">
						<xs:annotation>
							<xs:documentation>Сведения об уполномоченном лице, на которое возложена ответственность составления отчетности</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Table1" type="stz_rarc:Table1Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Таблица 1. Товары, помещенные под таможенную процедуру свободной таможенной зоны</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Table21" type="stz_rarc:Table21Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Таблица 1 Раздела 2. Товары, изготовленные (полученные) с использованием товаров, помещенных под таможенную процедуру свободной таможенной зоны (для Приказа 17н)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Table22" type="stz_rarc:Table22Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Таблица 2 Раздела 2. Использование товаров, изготовленных (полученных) на территории участка резидента Арктической зоны Российской Федерации с использованием товаров, помещенных под таможенную процедуру свободной таможенной зоны (для Приказа 17н)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1060051E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы.</xs:documentation>
	</xs:annotation>
	<xs:complexType name="DestroyedGoodsType">
		<xs:annotation>
			<xs:documentation>Уничтожение товаров и (или) упаковки</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="stz_rarc:GoodsWithDocType">
				<xs:sequence>
					<xs:element name="Reason" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Причина: 0 - в результате аварии; 1 - по разрешению таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DTType">
		<xs:annotation>
			<xs:documentation>Сведения о ДТ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GTDID" type="cat_ru:GTDIDType">
				<xs:annotation>
					<xs:documentation>Номер таможенной декларации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DTGoodsProcNameType">
		<xs:annotation>
			<xs:documentation>Товары в ДТ с кодом таможенной процедуры, наименованием и кодом ТН ВЭД ЕАЭС</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsItem" type="stz_rarc:GoodsItemType">
				<xs:annotation>
					<xs:documentation>Наименование товара и его описание</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код товаров по ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsProcedure" type="cltESAD_ru:CustomsProcedureType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код таможенной процедуры</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsDoc" type="stz_rarc:DTType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Таможенная декларация</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsQuantity" type="stz_rarc:GoodsQuantity2" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество товара</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsItemType">
		<xs:annotation>
			<xs:documentation>Сведения о товаре</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NameGoods" type="clt_ru:FreeText500Type" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Наименование товара и его описание</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecordID" type="clt_ru:DocumentIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор строки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsMarking" type="cltESAD_cu:GoodsArticulType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор вида продукта (товара) или артикул товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsMark" type="cltESAD_cu:GoodsArticulType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование марки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsModel" type="cltESAD_cu:GoodsArticulType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование модели продукта (товара)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsSort" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сорт товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsStandard" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Стандарт (ГОСТ, ОСТ, СПП, СТО, ТУ)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SerialNumber" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор (серийный номер, код) экземпляра продукта (товара)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsWithDocType">
		<xs:annotation>
			<xs:documentation>Количество товара и документ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Quantity" type="stz_rarc:GoodsQuantity1">
				<xs:annotation>
					<xs:documentation>Количество товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsDoc" type="cat_ru:DocumentBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Таможенный документ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsQuantity1">
		<xs:annotation>
			<xs:documentation>Количество товара</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ArticleWeight" type="RUSclt_ru:Quantity24point8Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес товара в кг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Quantity" type="catESAD_cu:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество товаров в единице измерения</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsQuantity2">
		<xs:annotation>
			<xs:documentation>Количество товара</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GrossWeight" type="RUSclt_ru:Quantity24point8Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес брутто в кг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetWeight" type="RUSclt_ru:Quantity24point8Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес нетто в кг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Quantity" type="catESAD_cu:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество товаров в единице измерения</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsWeight">
		<xs:annotation>
			<xs:documentation>Вес товара</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GrossWeight" type="RUSclt_ru:Quantity24point8Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес брутто в кг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetWeight" type="RUSclt_ru:Quantity24point8Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес нетто в кг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PackWeight" type="RUSclt_ru:Quantity24point8Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес упаковки</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MeasureType">
		<xs:annotation>
			<xs:documentation>Единица измерения</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MeasureUnitQualifierCode" type="cltESAD_cu:MeasureUnitQualifierCodeType">
				<xs:annotation>
					<xs:documentation>Код единицы измерения количества товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeasureUnitQualifierName" type="cltESAD_cu:MeasureUnitQualifierNameType">
				<xs:annotation>
					<xs:documentation>Условное обозначение единицы измерения</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OtherConsumedGoodsType">
		<xs:annotation>
			<xs:documentation>Иное использование (в соответствии подпунктом 5 пункта 1 статьи 205 Таможенного кодекса ЕАЭС)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="stz_rarc:GoodsWithDocType">
				<xs:sequence>
					<xs:element name="ConsumeType" type="clt_ru:Numeric1Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Вид эксплуатации: 1 - Эксплуатация объектов недвижимости; 2 - Эксплуатация оборудования; 3 - Исследования (испытания)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherExportType">
		<xs:annotation>
			<xs:documentation>Вывоз товаров без завершения таможенной процедуры СТЗ с разрешения таможенного органа</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="stz_rarc:GoodsWithDocType">
				<xs:sequence>
					<xs:element name="ExportPurpose" type="clt_ru:Numeric1Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Цель вывоза: 1 - Ремонт (графа 19); 2 - Технические (графа 20); 3 - На участок другого резидента (графа 21); 4 - В другой ТО (графа 22)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Location" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Местонахождение товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameGoods" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="2">
						<xs:annotation>
							<xs:documentation>Наименование товара</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProcedureType">
		<xs:annotation>
			<xs:documentation>Помещение под таможенную процедуру (графы 8-12)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsModeCode" type="cltESAD_cu:CustomsModeCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код таможенной процедуры (графа 8)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsStatus" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Статус товара: 1 - товар ЕАЭС, 2 - иностранный товар (графа 9)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentDoc" type="cat_ru:DocumentBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Реквизиты документа, подтверждающего статус товара, изготовленного (полученного) с использованием иностранных товаров, помещенных под таможенную процедуру СТЗ, выданного органом, уполномоченным Правительством Российской Федерации (графа 10)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DT" type="stz_rarc:DTType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>№ таможенной декларации, в соответствии с которой товары помещены под таможенную процедуру (графа 11)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Quantity" type="stz_rarc:GoodsQuantity1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество товара по позиции (графа 12)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comments" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Примечание</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProducedGoodsType">
		<xs:annotation>
			<xs:documentation>Таблица 1 Раздела 2. Товары, изготовленные (полученные) с использованием товаров, помещенных под таможенную процедуру свободной таможенной зоны</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="clt_ru:Count5Type">
				<xs:annotation>
					<xs:documentation>№ п/п (графа 1)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsItem" type="stz_rarc:GoodsItemType">
				<xs:annotation>
					<xs:documentation>Наименование товара (графа 2)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код товаров в соответствии с ТН ВЭД ЕАЭС (графа 3)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsStatus" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Статус товара: 1 - товар Евразийского экономического союза (ТЕАЭС); 2 - иностранный товар (ИТ) (графа 4)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NormaQuantity" type="stz_rarc:GoodsQuantity1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Нормы выхода/ нормы расхода (графы 5-6)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NormaDoc" type="cat_ru:DocumentBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Документ, содержащий расчеты нормы выхода/ нормы расхода (графа 7)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PropertyCreateGoodsType">
		<xs:annotation>
			<xs:documentation>Создание объекта недвижимости</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="stz_rarc:GoodsWithDocType">
				<xs:sequence>
					<xs:element name="PropertyName" type="clt_ru:NameType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Наименование объекта недвижимости</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReportingPeriodType">
		<xs:annotation>
			<xs:documentation>Отчётный период</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StartDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата начала отчётного периода</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата окончания отчётного периода</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StateDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>По состоянию на дату</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReportPersonType">
		<xs:annotation>
			<xs:documentation>Сведения об уполномоченном лице, на которое возложена ответственность составления отчетности</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:PersonSignatureType">
				<xs:sequence>
					<xs:element name="AuthorityDoc" type="cat_ru:DocumentBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Реквизиты документа, подтверждающего полномочия лица</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResidentType">
		<xs:annotation>
			<xs:documentation>Сведения о резиденте</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:SubjectDetailsType">
				<xs:sequence>
					<xs:element name="ResidentCertificate" type="stz_rarc:ResidentCertificateType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Cвидетельство о включении в реестр резидентов или подтверждающее статус участника</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResidentCertificateType">
		<xs:annotation>
			<xs:documentation>Сведения о включении в реестр резидентов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CertificateNumber" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Номер свидетельства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата выдачи свидетельства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateValidity" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Срок действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateAgency" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование органа, выдавшего свидетельство</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SEZGoodsForeignType">
		<xs:annotation>
			<xs:documentation>Таблица 1. Иностранные товары</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="stz_rarc:SEZGoodsType">
				<xs:sequence>
					<xs:element name="DT" type="stz_rarc:DTType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>№ таможенной декларации, в соответствии с которой товар был помещен под таможенную процедуру СТЗ</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SEZGoodsGUType">
		<xs:annotation>
			<xs:documentation>Таблица 1. Товары Евразийского экономического союза</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="stz_rarc:SEZGoodsType">
				<xs:sequence>
					<xs:element name="TUGoods" type="stz_rarc:TUGoodsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Товары ЕАЭС</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SEZGoodsType">
		<xs:annotation>
			<xs:documentation>Таблица 1. Товары, помещенные под таможенную процедуру свободной таможенной зоны</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="clt_ru:Count5Type">
				<xs:annotation>
					<xs:documentation>№ п/п (графа 1)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsItem" type="stz_rarc:GoodsItemType">
				<xs:annotation>
					<xs:documentation>Наименование товара и его описание (графа 2)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код товаров по ТН ВЭД ЕАЭС (графа 3)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Measure" type="stz_rarc:MeasureType">
				<xs:annotation>
					<xs:documentation>Единица измерения (графа 4)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WeightStart" type="stz_rarc:GoodsWeight">
				<xs:annotation>
					<xs:documentation>Количество на начало отчетного периода (графа 5)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WeightDiff" type="stz_rarc:GoodsWeight">
				<xs:annotation>
					<xs:documentation>Количество за отчетный период (графа 6)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WeightEnd" type="stz_rarc:GoodsWeight">
				<xs:annotation>
					<xs:documentation>Количество на конец отчетного периода (графа 7)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PropertyCreateGoods" type="stz_rarc:PropertyCreateGoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Строительство объектов недвижимости на территории участка резидента (графа 8)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EquipmentGoods" type="stz_rarc:GoodsQuantity1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Оборудование, машины и агрегаты, используемые на территории участка резидента (графа 9)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExploitationGoods" type="stz_rarc:GoodsQuantity1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Эксплуатация и функционирование участка резидента (графа 10)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecycledGoods" type="stz_rarc:GoodsQuantity1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Производство (переработка) товаров (графа 11)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResearchGoods" type="stz_rarc:GoodsWithDocType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Отбор проб и образцов (графа 12)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConsumedGoods" type="stz_rarc:GoodsQuantity1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Потребление в процессе производства (переработки) товаров (графа 13)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DestroyedGoods" type="stz_rarc:DestroyedGoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Уничтожение (графы 14-15)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NatureGoods" type="stz_rarc:GoodsQuantity1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Получение приплода, выращивание и откорм животных, птиц, аквакультуры, а также выращивание деревьев и растений (графа 16)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LeftGoods" type="stz_rarc:GoodsQuantity1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Хранение (графа 17)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherConsumedGoods" type="stz_rarc:OtherConsumedGoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Иное использование (в соответствии подпунктом 5 пункта 1 статьи 205 Таможенного кодекса ЕАЭС) (графа 18)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherExportGoods" type="stz_rarc:OtherExportType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Вывоз товаров без завершения таможенной процедуры СТЗ с разрешения таможенного органа (графы 19-22)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTGoods" type="stz_rarc:DTGoodsProcNameType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, в отношении которых процедура СТЗ завершена (графы 23-26)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comments" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Примечание</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Table1Type">
		<xs:annotation>
			<xs:documentation>Таблица 1 отчетной формы</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SEZGoodsForeign" type="stz_rarc:SEZGoodsForeignType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Иностранные товары, помещенные под таможенную процедуру СТЗ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SEZGoodsGU" type="stz_rarc:SEZGoodsGUType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Table21Type">
		<xs:annotation>
			<xs:documentation>Таблица 1 раздела 2 отчетной формы</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ProducedGoodsMix" type="stz_rarc:ProducedGoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, изготовленные (полученные) с использованием товаров, помещенных под таможенную процедуру свободной таможенной зоны</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UsedSTZGoods" type="stz_rarc:ProducedGoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, помещенные под таможенную процедуру свободной таможенной зоны, использованные при изготовлении (получении) товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UsedNotSTZGoods" type="stz_rarc:ProducedGoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары ЕАЭС, не помещенные под таможенную процедуру свободной таможенной зоны, использованные при изготовлении (получении) товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Table22Type">
		<xs:annotation>
			<xs:documentation>Таблица 2 Раздела 2. Использование товаров, изготовленных (полученных) на территории участка резидента Арктической зоны Российской Федерации с использованием товаров, помещенных под таможенную процедуру свободной таможенной зоны (для Приказа 17н)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="clt_ru:Count5Type">
				<xs:annotation>
					<xs:documentation>№ п/п (графа 1)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsItem" type="stz_rarc:GoodsItemType">
				<xs:annotation>
					<xs:documentation>Наименование товара (графа 2)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код товаров по ТН ВЭД ЕАЭС (графа 3)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Measure" type="stz_rarc:MeasureType">
				<xs:annotation>
					<xs:documentation>Единица измерения (графа 4)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QuantityBefore" type="stz_rarc:GoodsQuantity1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество товара на начало отчетного периода (графа 5)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QuantityDuring" type="stz_rarc:GoodsQuantity1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество товара за отчетный период (графа 6)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QuantityAfter" type="stz_rarc:GoodsQuantity1">
				<xs:annotation>
					<xs:documentation>Количество товара на конец отчетного периода (графы 7)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Procedure" type="stz_rarc:ProcedureType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Помещено под таможенную процедуру (графы 8-12)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Quantity" type="stz_rarc:GoodsQuantity1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество иного товара (графа 13)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comments" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Примечание (графа 14)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TUGoodsType">
		<xs:annotation>
			<xs:documentation>Ввезенные товары ЕАЭС</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsDoc" type="cat_ru:DocumentBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Таможенный документ, на основании которого товар учитывался таможенным органом</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsNumeric" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
