XsltProcessor/xsd/5.26.0/STZ_ReportingNotif.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приказ ФТС России от 28.06.2023 № 557 -->
<!-- Приказ ФТС России от 06.12.2023 № 1155 -->
<!-- Приказ ФТС России от 11.12.2023 № 1183 -->
<!-- Приказ ФТС России от 13.12.2023 № 1195 -->
<!-- Приказ ФТС России от 13.12.2023 № 1196 -->
<!-- Приказ ФТС России от 13.12.2023 № 1197 -->
<!-- Приказ ФТС России от 13.12.2023 № 1198 -->
<!-- Приказ Минфина России от 01.04.2024 № 36н -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:stz_rn="urn:customs.ru:Information:CustomsDocuments:STZ_ReportingNotif:5.25.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:STZ_ReportingNotif:5.25.0" elementFormDefault="qualified" version="5.25.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:annotation>
		<xs:documentation>Сообщение о результате проверки Отчетности (Обязательства)/ Сообщение об отказе в приеме Отчетности (Обязательства)</xs:documentation>
	</xs:annotation>
	<xs:element name="STZ_ReportingNotif" type="stz_rn:STZ_ReportingNotifType">
		<xs:annotation>
			<xs:documentation>Сообщение о результате проверки Отчетности (Обязательства)/ Сообщение об отказе в приеме Отчетности (Обязательства)/ Решение по обязательству</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="STZ_ReportingNotifType">
		<xs:annotation>
			<xs:documentation>Сообщение о результате проверки Отчетности (Обязательства)/ Сообщение об отказе в приеме Отчетности (Обязательства)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="DocKind" type="clt_ru:LetterIndicatorType">
						<xs:annotation>
							<xs:documentation>Вид документа: 0 - Сообщение о приеме Отчетности; 1 - Сообщение о результате проверки Отчетности, 2 - Сообщение об отказе в приеме Отчетности; 3 - Сообщение об отказе в приеме Обязательства; 4 - Сообщение о результате проверки Обязательства; 5 - Решение по Обязательству</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Customs" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Сведения о таможенном органе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата сообщения/ принятого Решения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocRegNumber" type="stz_rn:RegistrationNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер документа (Обязательства)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Resident" type="stz_rn:ResidentType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Лицо, которому направляется Решение по Обязательству</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReportingAuditResults" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Результаты проверки Отчетности (Обязательства): 0 - несоответсвия не выявлены; 1 - выявлены несоответствия</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OblAcceptResults" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Результаты проверки Обязательства: 0 - Обязательство не принято; 1 - Обязательство принято</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InconsistenciesDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Описание выявленных несоответствий</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MotiveProhibition" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Причины отказа в приеме Отчетности (Обязательства)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NecessityActivity" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Действия, которые необходимо предпринять участнику ВЭД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsPerson" type="cat_ru:PersonSignatureType">
						<xs:annotation>
							<xs:documentation>Должностное лицо уполномоченного таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1060039E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы.</xs:documentation>
	</xs:annotation>
	<xs:complexType name="RegistrationNumberType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер документа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата регистрации документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="clt_ru:CodeVariable10Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocKind" type="clt_ru:CodeVariable5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Четвертая часть регистрационного номера документа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResidentCertificateType">
		<xs:annotation>
			<xs:documentation>Сведения о включении в реестр резидентов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CertificateNumber" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Номер свидетельства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата выдачи свидетельства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateValidity" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Срок действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateAgency" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование органа, выдавшего свидетельство</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResidentType">
		<xs:annotation>
			<xs:documentation>Сведения о резиденте</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:SubjectDetailsType">
				<xs:sequence>
					<xs:element name="ResidentCertificate" type="stz_rn:ResidentCertificateType">
						<xs:annotation>
							<xs:documentation>Cвидетельство о включении в реестр резидентов</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
