XsltProcessor/xsd/5.26.0/STZ_PermitClosePlacedGoods.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Приказ ФТС от 02.10.2023 г. N 882 "Об утверждении формы заявления о завершении действия таможенной процедуры свободной таможенной зоны в отношении товаров, помещенных под таможенную процедуру свободной таможенной зоны, и признании таких товаров товарами Евразийского экономического союза в случаях, установленных пунктами 12 и 13 статьи 207 Таможенного кодекса Евразийского экономического союза, и формы решения таможенного органа о завершении действия такой таможенной процедуры и признании таких товаров товарами Евразийского экономического союза"-->
<!--Приказ ФТС России от 28.06.2023 г. N 553 "Об утверждении форм заявления и решения о завершении действия таможенной процедуры свободной таможенной зоны в отношении товаров, помещенных под таможенную процедуру свободной таможенной зоны, в случаях, предусмотренных частями 50 и 51 статьи 20 Федерального закона от 24.06.2023 N 266-ФЗ "О свободной экономической зоне на территориях Донецкой Народной Республики, Луганской Народной Республики, Запорожской области и Херсонской области"-->
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.24.0" xmlns:pcpg="urn:customs.ru:Information:ExchangeDocuments:STZ_PermitClosePlacedGoods:5.25.0" targetNamespace="urn:customs.ru:Information:ExchangeDocuments:STZ_PermitClosePlacedGoods:5.25.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.25.0.0">
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.24.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Решение таможенного органа о завершении действия таможенной процедуры свободной таможенной зоны в отношении товаров, помещенных под таможенную процедуру свободной таможенной зоны, и признании таких товаров товарами Евразийского экономического союза в случаях, установленных пунктами 12 и 13 статьи 207 Таможенного кодекса Евразийского экономического союза</xs:documentation>
	</xs:annotation>
	<xs:element name="STZ_PermitClosePlacedGoods" type="pcpg:STZ_PermitClosePlacedGoodsType">
		<xs:annotation>
			<xs:documentation>Решение таможенного органа о завершении действия таможенной процедуры свободной таможенной зоны в отношении товаров, помещенных под таможенную процедуру свободной таможенной зоны, и признании таких товаров товарами Евразийского экономического союза в случаях, установленных пунктами 12 и 13 статьи 207 Таможенного кодекса Евразийского экономического союза</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="STZ_PermitClosePlacedGoodsType">
		<xs:annotation>
			<xs:documentation>Решение таможенного органа о завершении действия таможенной процедуры свободной таможенной зоны в отношении товаров, помещенных под таможенную процедуру свободной таможенной зоны, и признании таких товаров товарами Евразийского экономического союза в случаях, установленных пунктами 12 и 13 статьи 207 Таможенного кодекса Евразийского экономического союза</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="Customs" type="cat_ru:CustomsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о таможенном органе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PermissionRegNumber" type="pcpg:RegNumType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер Разрешения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LowArticle" type="clt_ru:Count2Type">
						<xs:annotation>
							<xs:documentation>Пункт статьи 207 ТК ЕАЭС</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SheetsNumber" type="clt_ru:Count3Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество листов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AppRegNum" type="pcpg:RegNumType">
						<xs:annotation>
							<xs:documentation>Регистрационный номер Заявления</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AppCloseSTZ" type="pcpg:AppCloseSTZType">
						<xs:annotation>
							<xs:documentation>Сведения, указанные в Заявлении</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DecisionDateTime" type="clt_ru:DateTimeCustType">
						<xs:annotation>
							<xs:documentation>Дата и время принятия Решения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsSignature" type="cat_ru:PersonSignatureType" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Подпись должностного лица  таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1060038E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="AddInstaledGoodsDeclType">
		<xs:annotation>
			<xs:documentation>Сведения о товарах, дополнительно установленных, смонтированных на объекте недвижимости (по ДТ)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="DeclRegNum" type="cat_ru:GTDIDType">
					<xs:annotation>
						<xs:documentation>Регистрационный номер ДТ</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CustomsDoc" type="cat_ru:DocumentBaseType">
					<xs:annotation>
						<xs:documentation>Таможенный документ, на основании которого товар учитывался таможенным органом</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="GoodsDeclnfo" type="pcpg:GoodsDeclnfoType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddInstaledType">
		<xs:annotation>
			<xs:documentation>Товары, помещенные под таможенную процедуру СТЗ дополнительно установленные, смонтированные на объекте недвижимости</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PropertyObjectPosition" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер объекта недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Position" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер позиции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddInstaledGoods" type="pcpg:AddInstaledGoodsDeclType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о товаре по ДТ </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ComponentName" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование составной (неотъемлемой) части объекта недвижимости при создании которой был использован товар</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Decision" type="clt_ru:LetterIndicatorType">
				<xs:annotation>
					<xs:documentation>Решение по товару: 1 - разрешено, 2 - отказано</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RejectionReason" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Причина отказа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AppCloseSTZType">
		<xs:annotation>
			<xs:documentation>Заявление о завершении действия таможенной процедуры свободной таможенной зоны </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Customs" type="cat_ru:CustomsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о таможенном органе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Resident" type="pcpg:ResidentType">
				<xs:annotation>
					<xs:documentation>Сведения о резиденте СТЗ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LowArticle" type="clt_ru:Count2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Пункт статьи 207 ТК ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SheetsNumber" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество листов</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="AgreementDoc" type="pcpg:ResidentAgreementType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Свидетельство о выполнении условий соглашения об осуществлении инвестиционной деятельности</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="LegalAct" type="cat_ru:DocumentBaseType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>НПА, которым определено прекращение применения таможенной процедуры СТЗ</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="Equipment" type="pcpg:EquipmentAppType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Раздел I. Оборудование</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Property" type="pcpg:PropertyAppType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Раздел II. Товары, использованные для создания объектов недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddInstaled" type="pcpg:AddInstaledType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Раздел III. Товары, дополнительно установленные на объекте недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConsumedGoodsAppType">
		<xs:annotation>
			<xs:documentation>Сведени о товарах, использованных для создания объектов недвижимости  (из Заявления) </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Position" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер позиции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PropertyGoodsDecl" type="pcpg:PropertyGoodsDeclType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Cведения о товарах по ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Decision" type="clt_ru:LetterIndicatorType">
				<xs:annotation>
					<xs:documentation>Решение по товару: 1 - разрешено, 2 - отказано</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RejectionReason" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Причина отказа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EAD_NumberType">
		<xs:annotation>
			<xs:documentation>Номер ЭУД</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="INN" type="clt_ru:INNIDType">
				<xs:annotation>
					<xs:documentation>ИНН плательшика</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EAD_Date" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата составления</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="clt_ru:Count10Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsKind" type="clt_ru:CodeVariable3Type">
				<xs:annotation>
					<xs:documentation>Признак товара, на который формируется ЭУД: СТЗ - товары помещенные, под процедуру СТЗ; ПП - товары, изготовленные (полученные) с использованием товаров, помещенных под процедуру СТЗ </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EquipmentAppType">
		<xs:annotation>
			<xs:documentation>Сведения об оборудовании, помещенном под таможенную процедуру СТЗ, введенное в эксплуатацию и используемое резидентом для реализации соглашения об осуществлении инвестиционной деятельности  (из Заявления)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Position" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер позиции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EquipmentName" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование оборудования</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EquipmentKind" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Вид (класс) оборудования </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EquipmentGoods" type="pcpg:EquipmentGoodsAppType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о товаре</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EquipmentGoodsAppType">
		<xs:annotation>
			<xs:documentation>Сведения об оборудовании, помещенном под таможенную процедуру СТЗ  (из Заявления)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Position" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер позиции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EquipmentGoodsDecl" type="pcpg:EquipmentGoodsDeclarationType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Decision" type="clt_ru:LetterIndicatorType">
				<xs:annotation>
					<xs:documentation>Решение по товару: 1 - разрешено, 2 - отказано</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RejectionReason" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Причина отказа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EquipmentGoodsDeclarationType">
		<xs:annotation>
			<xs:documentation>Сведения об оборудовании по ДТ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="DeclRegNum" type="cat_ru:GTDIDType">
					<xs:annotation>
						<xs:documentation>Регистрационный номер ДТ</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CustomsDoc" type="cat_ru:DocumentBaseType">
					<xs:annotation>
						<xs:documentation>Таможенный документ, на основании которого товар учитывался таможенным органом</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="GoodsDeclnfo" type="pcpg:GoodsDeclnfoType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsDeclnfoType">
		<xs:annotation>
			<xs:documentation>Товар ДТ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsNumber" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Номер товара в ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес товара (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsQuantity" type="catESAD_cu:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество товара из ДТ, вошедшее в позицию</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TechID" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Технические идентификаторы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EAD_Number" type="pcpg:EAD_NumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер ЭУД</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EAD_GoodsNumber" type="clt_ru:Count5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер товара в ЭУД</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsDeclType">
		<xs:annotation>
			<xs:documentation>Сведения о ДТ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="DeclRegNum" type="cat_ru:GTDIDType">
					<xs:annotation>
						<xs:documentation>Регистрационный номер ДТ</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CustomsDoc" type="cat_ru:DocumentBaseType">
					<xs:annotation>
						<xs:documentation>Таможенный документ, на основании которого товар учитывался таможенным органом</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="GoodsDeclnfo" type="pcpg:GoodsDeclnfoType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ManufacturedGoodsType">
		<xs:annotation>
			<xs:documentation>Товары, изготовленные (полученные) из товаров, помещенных под таможенную процедуру свободной таможенной зоны и потребленные при создании объекта недвижимости </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Position" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер позиции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType">
				<xs:annotation>
					<xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsQuantity" type="catESAD_cu:SupplementaryQuantityType" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество потребленного товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UsedManufacturedGoods" type="pcpg:UsedManufacturedGoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, помещенные под таможенную процедуру свободной таможенной зоны и использованные при изготовлении указанного здесь товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Decision" type="clt_ru:LetterIndicatorType">
				<xs:annotation>
					<xs:documentation>Решение по товару: 1 - разрешено, 2 - отказано</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RejectionReason" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Причина отказа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PropertyAppType">
		<xs:annotation>
			<xs:documentation>Товары, помещенные под таможенную процедуру СТЗ, использованные для создания объектов недвижимости и являющиеся составной (неотъемлемой) частью таких объектов недвижимости  (из Заявления) </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PropertyObject" type="pcpg:PropertyObjectType">
				<xs:annotation>
					<xs:documentation>Объект недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConsumedGoods" type="pcpg:ConsumedGoodsAppType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, помещенные под таможенную процедуру свободной таможенной зоны</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManufacturedGoods" type="pcpg:ManufacturedGoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, изготовленные (полученные) из товаров, помещенных под таможенную процедуру свободной таможенной зоны и потребленные при создании объекта недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PropertyGoodsDeclType">
		<xs:annotation>
			<xs:documentation>Сведения о товарах, использованных для создания объектов недвижимости (по ДТ)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="DeclRegNum" type="cat_ru:GTDIDType">
					<xs:annotation>
						<xs:documentation>Регистрационный номер ДТ</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CustomsDoc" type="cat_ru:DocumentBaseType">
					<xs:annotation>
						<xs:documentation>Таможенный документ, на основании которого товар учитывался таможенным органом</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="GoodsDeclnfo" type="pcpg:GoodsDeclnfoType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PropertyObjectType">
		<xs:annotation>
			<xs:documentation>Объект недвижимости</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Position" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер позиции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PropertyName" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование объекта недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PropertyLocation" type="RUScat_ru:RUAddressType">
				<xs:annotation>
					<xs:documentation>Местонахождение объекта недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegNumType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер документа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата регистрации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="clt_ru:CodeVariable10Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddNumber" type="clt_ru:CodeVariable5Type">
				<xs:annotation>
					<xs:documentation>4-ая часть номера</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResidentAgreementType">
		<xs:annotation>
			<xs:documentation>Соглашение резидента об осуществлении инвестиционной деятельности</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AgreementNumber" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AgreementSeries" type="clt_ru:DocumentNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Серия документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AgreementDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата документа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResidentCertificateType">
		<xs:annotation>
			<xs:documentation>Сведения о включении в реестр резидентов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CertificateNumber" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Номер свидетельства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата выдачи свидетельства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateValidity" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Срок действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateAgency" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование органа, выдавшего свидетельство</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResidentType">
		<xs:annotation>
			<xs:documentation>Сведения о резиденте</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:SubjectDetailsType">
				<xs:sequence>
					<xs:element name="ResidentCertificate" type="pcpg:ResidentCertificateType">
						<xs:annotation>
							<xs:documentation>Cвидетельство о включении в реестр резидентов</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UsedManufacturedGoodsType">
		<xs:annotation>
			<xs:documentation>Сведени о товарах, использованных для создания объектов недвижимости </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Position" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер позиции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDecl" type="pcpg:GoodsDeclType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о товарах по ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsWeightQuantity" type="clt_ru:QuantityBasisType">
				<xs:annotation>
					<xs:documentation>Вес товара, использованного при изготовлении (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsQuantity" type="catESAD_cu:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество товара, использованного при изготовлении в дополнительной единице измерения</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
