XsltProcessor/xsd/5.26.0/STZ_PermitProcessingOrRepairGoods.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Приказ Министерства финансов Российской Федерации от 20.02.2024 № 12н "Об утверждении Порядка выдачи таможенным органом разрешения на вывоз товаров, помещенных под таможенную процедуру свободной таможенной зоны, и товаров, изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободной таможенной зоны, с территорий особых экономических зон, созданных в Калининградской области, Магаданской области и на территориях Южно-Курильского, Курильского и Северо-Курильского городских округов Сахалинской области, без завершения таможенной процедуры свободной таможенной зоны в случаях, установленных подпунктами 1 - 3 и 5 пункта 4 статьи 205 Таможенного кодекса Евразийского экономического союза"-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:stz_ppeg="urn:customs.ru:Information:ExchangeDocuments:STZ_PermitProcessingOrRepairGoods:5.24.0" xmlns:catProc_ru="urn:customs.ru:Information:ProcessingDocuments:ProcessingCommonAggregateTypes:5.24.0" targetNamespace="urn:customs.ru:Information:ExchangeDocuments:STZ_PermitProcessingOrRepairGoods:5.24.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.24.0.0">
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:Information:ProcessingDocuments:ProcessingCommonAggregateTypes:5.24.0" schemaLocation="ProcessingCommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Разрешение таможенного органа на вывоз товаров, помещенных под таможенную процедуру свободной таможенной зоны, и (или) товаров, изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободной таможенной зоны, без завершения таможенной процедуры свободной таможенной зоны в случаях, установленных подпунктами 1, 2 и 5 пункта 4 статьи 205 Таможенного кодекса Евразийского экономического союза/ Решение таможенного органа об отказе в выдаче разрешения на вывоз товаров</xs:documentation>
	</xs:annotation>
	<xs:element name="STZ_PermitProcessingOrRepairGoods" type="stz_ppeg:STZ_PermitProcessingOrRepairGoodsType">
		<xs:annotation>
			<xs:documentation>Разрешение таможенного органа на вывоз товаров, помещенных под таможенную процедуру свободной таможенной зоны, и (или) товаров, изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободной таможенной зоны, без завершения таможенной процедуры свободной таможенной зоны в случаях, установленных подпунктами 1, 2 и 5 пункта 4 статьи 205 Таможенного кодекса Евразийского экономического союза/ Решение таможенного органа об отказе в выдаче разрешения на вывоз товаров</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="STZ_PermitProcessingOrRepairGoodsType">
		<xs:annotation>
			<xs:documentation>Разрешение таможенного органа на вывоз товаров, помещенных под таможенную процедуру свободной таможенной зоны, и (или) товаров, изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободной таможенной зоны, без завершения таможенной процедуры свободной таможенной зоны в случаях, установленных подпунктами 1, 2 и 5 пункта 4 статьи 205 Таможенного кодекса Евразийского экономического союза/ Решение таможенного органа об отказе в выдаче разрешения на вывоз товаров</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="DocKind" type="clt_ru:LetterIndicatorType">
						<xs:annotation>
							<xs:documentation>Вид документа: 1 - Разрешение таможенного органа на вывоз товаров; 2 - Решение таможенного органа об отказе в выдаче разрешения на вывоз товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Customs" type="cat_ru:CustomsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о таможенном органе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AppRegNum" type="stz_ppeg:RegNumType">
						<xs:annotation>
							<xs:documentation>Регистрационный номер Заявления</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PermissionRegNumber" type="stz_ppeg:RegNumType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер Разрешения (Решения)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AppInfo" type="stz_ppeg:AppInfoType">
						<xs:annotation>
							<xs:documentation>Сведения, указанные в Заявлении</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsMark" type="clt_ru:FreeText500Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Основания принятого решения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DecisionDateTime" type="clt_ru:DateTimeCustType">
						<xs:annotation>
							<xs:documentation>Дата и время принятия Решения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsSignature" type="cat_ru:PersonSignatureType" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Подпись должностного лица  таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1060045E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="AppInfoType">
		<xs:annotation>
			<xs:documentation>Сведения, указанные в заявлении</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Resident" type="stz_ppeg:ResidentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Лицо, обладающее правами владения, пользования и (или) распоряжения товарами и осуществляющее вывоз товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RepairAndTestingOperations" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Цели вывоза товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RepairOrTesting" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Операции, которые будут совершаться с товарами</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProcessingOperations" type="stz_ppeg:ProcessingOperationsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Операции по переработке, являющиеся составной частью производственного процесса и которые будут совершаться за пределами территории ОЭЗ, а также технологии их совершения  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RepairAndTestingPlace" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Место совершения операций</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RepairAndTestingAddress" type="RUScat_ru:RUAddressType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Адрес места совершения операций</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RepairAndTestingPerson" type="stz_ppeg:RepairAndTestingPersonType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Лицо, которое непосредственно будет совершать операции за пределами территории особой экономической зоны</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EntryGoodsTerm" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Срок обратного ввоза nоваров на территорию ОЭЗ с учетом целей и обстоятельств вывоза nоваров, в том числе с учетом способа транспортировки товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProcessingOperationsType">
		<xs:annotation>
			<xs:documentation>Сведения об операциях по переработке</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Operation" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Операция по переработке</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TechnologicalProcess" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о технологическом процессе совершения операции </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegNumType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер документа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата регистрации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="clt_ru:CodeVariable10Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddNumber" type="clt_ru:CodeVariable5Type">
				<xs:annotation>
					<xs:documentation>4-ая часть номера</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RepairAndTestingPersonType">
		<xs:annotation>
			<xs:documentation>Сведения о лице, которое непосредственно будет совершать операции, указанные в графе 6 Заявления, за пределами территории участка резидента СТЗ</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:SubjectDetailsType">
				<xs:sequence>
					<xs:element name="ConfirmTransferDoc" type="catProc_ru:DocExtendedType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Документ (документы), подтверждающий(ие) передачу вывозимых товаров лицу, которое будет непосредственно совершать операции</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResidentCertificateType">
		<xs:annotation>
			<xs:documentation>Сведения о включении в реестр резидентов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CertificateNumber" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Номер свидетельства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата выдачи свидетельства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateValidity" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Срок действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateAgency" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование органа, выдавшего свидетельство</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResidentType">
		<xs:annotation>
			<xs:documentation>Сведения о резиденте</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:SubjectDetailsType">
				<xs:sequence>
					<xs:element name="ResidentCertificate" type="stz_ppeg:ResidentCertificateType">
						<xs:annotation>
							<xs:documentation>Cвидетельство о включении в реестр резидентов</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
