XsltProcessor/xsd/5.26.0/STZ_AppCreationCCZ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Приказ ФТС России № 941 от 18 октября 2023 года "Об утверждении порядка создания зоны таможенного контроля на участке территории опережающего развития или предоставленном резиденту свободного порта Владивосток земельном участке для целей применения таможенной процедуры свободной таможенной зоны и формы заявления о создании такой зоны таможенного контроля"-->
<!--Приказ ФТС России № 915 от 15 октября 2020 года "Об утверждении Порядка принятия решения о создании зоны таможенного контроля на участке резидента Арктической зоны Российской Федерации для целей применения таможенной процедуры свободной таможенной зоны"-->
<!--Приказ ФТС России № 555 от 28 июня 2023 года "Об утверждении порядка принятия таможенным органом решения о создании зоны таможенного контроля на участке территории свободной экономической зоны, созданной на территориях Донецкой Народной Республики, Луганской Народной Республики, Запорожской области и Херсонской области, во внутренних морских водах и в территориальном море Российской Федерации, примыкающих к территориям Донецкой Народной Республики, Запорожской области и Херсонской области"-->
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:accz="urn:customs.ru:Information:ExchangeDocuments:STZ_AppCreationCCZ:5.24.0" xmlns:catProc_ru="urn:customs.ru:Information:ProcessingDocuments:ProcessingCommonAggregateTypes:5.24.0" targetNamespace="urn:customs.ru:Information:ExchangeDocuments:STZ_AppCreationCCZ:5.24.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.24.0.0">
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:Information:ProcessingDocuments:ProcessingCommonAggregateTypes:5.24.0" schemaLocation="ProcessingCommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Заявление  о создании зоны таможенного контроля  на участке территории опережающего развития (свободного порта Владивосток), участок резидента Арктической зоны, свободной экономической зоны, созданной на территориях Донецкой Народной Республики, Луганской Народной Республики, Запорожской области и Херсонской области, во внутренних морских водах и в территориальном море Российской Федерации, примыкающих к территориям Донецкой Народной Республики, Запорожской области и Херсонской области</xs:documentation>
	</xs:annotation>
	<xs:element name="STZ_AppCreationCCZ" type="accz:STZ_AppCreationCCZType">
		<xs:annotation>
			<xs:documentation>Заявление  о создании зоны таможенного контроля  на участке территории опережающего развития (свободного порта Владивосток), участок резидента Арктической зоны, свободной экономической зоны, созданной на территориях Донецкой Народной Республики, Луганской Народной Республики, Запорожской области и Херсонской области, во внутренних морских водах и в территориальном море Российской Федерации, примыкающих к территориям Донецкой Народной Республики, Запорожской области и Херсонской области</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="STZ_AppCreationCCZType">
		<xs:annotation>
			<xs:documentation>Заявление  о создании зоны таможенного контроля  на участке территории опережающего развития (свободного порта Владивосток), участок резидента Арктической зоны, свободной экономической зоны, созданной на территориях Донецкой Народной Республики, Луганской Народной Республики, Запорожской области и Херсонской области, во внутренних морских водах и в территориальном море Российской Федерации, примыкающих к территориям Донецкой Народной Республики, Запорожской области и Херсонской области</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="Customs" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Сведения о таможенном органе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ResidentKind" type="clt_ru:LetterIndicatorType">
						<xs:annotation>
							<xs:documentation>Вид резидента (по типам территорий): "1"-  Территории опережающего развития; "2" - Свободный порт Владивосток; "3" - Арктическая зона РФ; "4" - Свободная (особая) экономическая зона</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Resident" type="accz:ResidentType">
						<xs:annotation>
							<xs:documentation>Резидент особой  экономической зоны или участник свободной (особой) экономической зоны</xs:documentation>
						</xs:annotation>
					</xs:element>					
					<xs:element name="NameOfTerritory" type="clt_ru:FreeText250Type">
						<xs:annotation>
							<xs:documentation>Наименование территории, на которой планируется создание ЗТК</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AddressOfTerritory" type="RUScat_ru:RUAddressType">
						<xs:annotation>
							<xs:documentation>Адрес участка заявителя  в пределах его места нахождения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LimitsOfTerritory" type="accz:LimitsOfTerritoryType">
						<xs:annotation>
							<xs:documentation>Пределы (границы) территории участка, в пределах которого планируется создание постоянной зоны таможенного контроля</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OwnerRightsDoc" type="accz:OwnerRightsDocType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Документы, подтверждающие права заявителя на владение, пользование и (или) распоряжение участком территории, на котором планируется создание постоянной зоны таможенного контроля </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BorderCrossingPoints" type="clt_ru:Text150Type" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Места пересечения границ участка резидента (планируемой постоянной зоны таможенного контроля) </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EquipmentInformation" type="clt_ru:FreeText500Type" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения об оборудовании  и обустройстве территории участка заявителя для целей таможенного контроля</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ObligationSign" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Обязательство о соблюдении условий прилагается: 1 - да, 0 - нет</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReceivingHandSign" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о волеизъявлении заявителя в получении на руки копии приказа о создании постоянной зоны таможенного контроля,: 1 - да, 0 - нет</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocList" type="accz:PresentedDocType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Перечень документов, подтверждающих заявленные в заявлении сведения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ConfirmDoc" type="cat_ru:DocumentBaseType">
						<xs:annotation>
							<xs:documentation>Реквизиты документа, подтверждающего полномочия лица</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ResidentSignature" type="cat_ru:PersonSignatureType">
						<xs:annotation>
							<xs:documentation>Сведения об уполномоченном представителе Заявителя </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1060046E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="LimitsOfTerritoryType">
		<xs:annotation>
			<xs:documentation>Пределы (границы) территории участка, в пределах которого планируется создание постоянной зоны таможенного контроля</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CadastralNumber" type="clt_ru:Text150Type">
				<xs:annotation>
					<xs:documentation>Кадастровый номер участка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlotArea" type="clt_ru:Text50Type">
				<xs:annotation>
					<xs:documentation>Площадь участка в квадратных метрах</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CoordinatesOfPoints" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Координаты характерных точек границ земельного участка</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OwnerRightsDocType">
		<xs:annotation>
			<xs:documentation>Документы, подтверждающие права владения, пользования и (или) распоряжения товарами и (или) готовой продукцией</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="Position" type="clt_ru:Count3Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Порядковый номер позиции</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SheetsNumber" type="clt_ru:Count3Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество листов </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PresentedDocType">
		<xs:annotation>
			<xs:documentation>Сведения о представленных документах</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catProc_ru:DocExtendedType">
				<xs:sequence>
					<xs:element name="Position" type="clt_ru:Count3Type">
						<xs:annotation>
							<xs:documentation>Порядковый номер позиции</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SheetsNumber" type="clt_ru:Count3Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество листов </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResidentCertificateType">
		<xs:annotation>
			<xs:documentation>Сведения о включении в реестр резидентов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CertificateNumber" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Номер свидетельства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата выдачи свидетельства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateValidity" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Срок действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateAgency" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование органа, выдавшего свидетельство</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResidentType">
		<xs:annotation>
			<xs:documentation>Сведения о резиденте</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:SubjectDetailsType">
				<xs:sequence>
					<xs:element name="ResidentCertificate" type="accz:ResidentCertificateType">
						<xs:annotation>
							<xs:documentation>Cвидетельство о включении в реестр резидентов</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
