XsltProcessor/xsd/5.26.0/TransitInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.24.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:RUDECLcat="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.24.0" xmlns:tci="urn:customs.ru:Information:CustomsDocuments:TransitInfo:5.25.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:TransitInfo:5.25.0" elementFormDefault="qualified" version="5.25.0.0">
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.24.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.24.0" schemaLocation="RUDeclCommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Информация о транзитных товарах</xs:documentation>
	</xs:annotation>
	<xs:element name="TransitInfo" type="tci:TransitInfoType">
		<xs:annotation>
			<xs:documentation>Информация о транзитных товарах</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="TransitInfoType">
		<xs:annotation>
			<xs:documentation>Информация о транзитных товарах</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="StatusName" type="clt_ru:Text40Type">
						<xs:annotation>
							<xs:documentation>Прикладное статусное состояние транзитной перевозки.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocumentDateTime" type="clt_ru:DateTimeCustType">
						<xs:annotation>
							<xs:documentation>Дата и время создания документа.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Reason" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Обоснование</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AddInfoForEndTransit" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дополнительная информация для направления перевозчику в сообщении о завершении таможенной процедуры таможенного транзита</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ActNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер акта таможенного досмотра</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
						<xs:annotation>
							<xs:documentation>Код таможенного органа отправления</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransitStampDateTime" type="clt_ru:DateTimeCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата и время из штампа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsOfficial" type="cat_ru:CustomsPersonType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о должностном лице таможенного органа, проставившем штамп.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Header" type="tci:HeaderType">
						<xs:annotation>
							<xs:documentation>Заголовок ТД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DeclarantDetails" type="RUDECLcat:AEODeclarantDetailsType">
						<xs:annotation>
							<xs:documentation>Декларант</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Consigment" type="tci:ConsigmentType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Товарно-транспортная накладная.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PrecedingDocument" type="tci:PrecedingDocumentType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Предшествующий документ (при открытии процедуры транзита)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DestinationPlace" type="tci:DestinationPlaceType">
						<xs:annotation>
							<xs:documentation>Сведения о месте назначения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Seal" type="tci:SealType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Информация о пломбах</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Guarantee" type="tci:GuaranteeType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Гарантия</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DetailsCargoOperation" type="tci:DetailsCargoOperationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Cведения о планируемых грузовых операциях и (или) замене транспортных средств с удалением наложенных таможенных пломб и печатей</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RouteCustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Код таможенного органа по маршруту</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SignatoryRepresentativeDetails" type="RUDECLcat:SignatoryRepresentativeDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о таможенном представителе</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006154E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="ArchDocInfoType">
		<xs:annotation>
			<xs:documentation>Информация о размещении электронного документа в электронном архиве</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ArchID" type="clt_ru:DocumentIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор электронного архива декларанта</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArchDocID" type="clt_ru:DocumentIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор документа в электронном архиве декларанта</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConsigmentType">
		<xs:annotation>
			<xs:documentation>Товарно-транспортная накладная.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="DocumentKind" type="clt_ru:CustomsDocumentCodeType">
						<xs:annotation>
							<xs:documentation>Тип представленного документа.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ArchDocInfo" type="tci:ArchDocInfoType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Информация о размещении документа в электронном архиве</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Sequence" type="clt_ru:Count3Type">
						<xs:annotation>
							<xs:documentation>Порядковый номер накладной.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsInvoiceNumber" type="clt_ru:Text40Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Таможенный номер накладной.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Consignor" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Грузоотправитель</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Consignee" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Грузополучатель</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsItem" type="tci:TransitGoodsType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Описание товара</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProducedDocument" type="tci:ProducedDocumentType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Представляемые документы (сертификаты).</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CustomsIdentificationMeansIdDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о средстве идентификации</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsIdentificationMeansId" type="clt_ru:CodeVariable20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор (номер) средства идентификации.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DescriptionText" type="RUSclt_ru:FreeText4000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Описание отличительных признаков</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ForeignCustomsIdentificationMeansIndicator" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак признания таможенным органом средства идентификации</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DestinationPlaceType">
		<xs:annotation>
			<xs:documentation>Сведения о месте назначения</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:CUCustomsType">
				<xs:sequence>
					<xs:element name="PlaceDescription" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Место доставки товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RegistrationCertificate" type="cat_ru:DocumentBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Свидетельство о включении в реестр УЭО</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RWstation" type="tci:RWstationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ЖД станция</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DetailsCargoOperationType">
		<xs:annotation>
			<xs:documentation>Cведения о планируемых грузовых операциях и (или) замене транспортных средств с удалением наложенных таможенных пломб и печатей</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CargoOperationKindCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кодовое обозначение вида грузовой операции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CarrierOrdinal" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Порядковый номер перевозчика</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsTranshsipmentIndicator" type="clt_ru:IndicatorType">
				<xs:annotation>
					<xs:documentation>Признак перегрузки товаров из одного контейнера в другой: 1 - в случае, если товары перегружаются из одного контейнера в другой; 0 - в случае, если товары не перегружаются из одного контейнера в другой</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CACountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код страны</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlaceName" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Наименование населенного пункта</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsOfficeCode" type="clt_ru:CustomsCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кодовое обозначение таможенного органа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RailwayStationCode" type="clt_ru:RailwayStationCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кодовое обозначение железнодорожной странции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TranshipmentTransportMeansDetails" type="tci:TranshipmentTransportMeansDetailsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о транспортном средстве, с использованием которого продолжается перевозка (транспортировка) товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DescriptionText" type="RUSclt_ru:FreeText4000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Описание грузовой операции</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GTDID8Type">
		<xs:annotation>
			<xs:documentation>Регистрационный номер Сертификата обеспечения</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата регистрации документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SerialNumber" type="clt_ru:Code8Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер документа по журналу регистрации</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GuaranteeType">
		<xs:annotation>
			<xs:documentation>Гарантия</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GuaranteePresentCode" type="clt_ru:LetterIndicatorType">
				<xs:annotation>
					<xs:documentation>Кодовое обозначение предоставления обеспечения исполнения обязанности по уплате таможенных и иных платежей</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NoGuaranteeCauseCode" type="clt_ru:CodeVariable10Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кодовое обозначение основания для непредоставления обеспечения исполнения обязанности по уплате таможенных и иных платежей</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransitGuaranteeDocDetails" type="tci:TransitGuaranteeDocDetailsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о документе, подтверждающем предоставление (принятие) либо основание для непредоставления обеспечения исполнения обязанности по уплате таможенных и иных платежей</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HeaderType">
		<xs:annotation>
			<xs:documentation>Заголовок ТД</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DeclarationKind" type="clt_ru:Text40Type">
				<xs:annotation>
					<xs:documentation>Тип транзитной декларации.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalNumberOfGoods" type="clt_ru:Count6Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Общее количество товаров.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalNumberOfPackages" type="clt_ru:PakageNumberType">
				<xs:annotation>
					<xs:documentation>Общее количество грузовых мест.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalGrossMass" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Общий вес брутто</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comment" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Комментарий.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepartureCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код страны отправления.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DestinationCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код страны назначения.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransitDateLimit" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Срок таможенного транзита</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Transport" type="tci:TransportType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Транспортное средство</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TDNumber" type="cat_ru:GTDIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер транзитной декларации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TIRID" type="tci:TIRIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер книжки МДП.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Carrier" type="RUScat_ru:SubjectDetailsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Перевозчик</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ParticipantID" type="clt_ru:DocumentIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор участника ВЭД, использованный перевозчиком для представления документов при завершении ТТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PI_RegID" type="clt_ru:DocumentIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный идентификатор предварительной информации</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PrecedingDocumentType">
		<xs:annotation>
			<xs:documentation>Предшествующий документ (при открытии процедуры транзита).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="DocumentKind" type="clt_ru:CustomsDocumentCodeType">
						<xs:annotation>
							<xs:documentation>Тип представленного документа.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ArchDocInfo" type="tci:ArchDocInfoType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Информация о размещении документа в электронном архиве</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProducedDocumentType">
		<xs:annotation>
			<xs:documentation>Представляемые документы (сертификаты).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="DocumentKind" type="clt_ru:CustomsDocumentCodeType">
						<xs:annotation>
							<xs:documentation>Тип представленного документа.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ArchDocInfo" type="tci:ArchDocInfoType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Информация о размещении документа в электронном архиве</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocumentPresentingDetails" type="RUDECLcat:DocumentPresentingDetailsType">
						<xs:annotation>
							<xs:documentation>Сведения о фактическом представлении документа</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReferenceConsignmentItemRangeDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о диапазоне порядковых номеров товаров</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FirstReferenceOrdinal" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Первый номер диапазона</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastReferenceOrdinal" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Последний номер диапазона</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RWstationType">
		<xs:annotation>
			<xs:documentation>ЖД станция</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StationCode" type="clt_ru:RailwayStationCodeType">
				<xs:annotation>
					<xs:documentation>Код станции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StationName" type="clt_ru:PlaceNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование станции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RailwayCode" type="clt_ru:CodeVariable4Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код железной дороги</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SealType">
		<xs:annotation>
			<xs:documentation>Сведения о таможенной идентификации</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsIdentificationMethodCode" type="clt_ru:Code2Type">
				<xs:annotation>
					<xs:documentation>Код способа идентификации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsIdentificationMeansKindCode" type="clt_ru:Code2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код вида средств идентификации: 01 - пломбы; 02 - навигационные пломбы; 03 - печати; 04 - цифровая, буквенная или иная маркировка; 05 - идентификационные знаки; 06 - штампы; 07 - сейф-пакеты; 99 - иные средства, обеспечивающие идентификацию</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SealQuantity" type="clt_ru:Quantity4Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество средств идентификации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsIdentificationMeansIdDetails" type="tci:CustomsIdentificationMeansIdDetailsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о средстве идентификации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DescriptionText" type="RUSclt_ru:FreeText4000Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Описание идентификации</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TIRIDType">
		<xs:annotation>
			<xs:documentation>Номер книжки МДП.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TIRID" type="clt_ru:Code8Type">
				<xs:annotation>
					<xs:documentation>Номер книжки МДП.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TIRSeries" type="clt_ru:Code2Type">
				<xs:annotation>
					<xs:documentation>Серия книжки МДП.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TIRPageNumber" type="clt_ru:Count5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер листа книжки МДП.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата регистрации документа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TranshipmentTransportMeansDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о транспортном средстве, с использованием которого продолжается перевозка (транспортировка) товаров</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ObjectOrdinal" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Порядковый номер транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportModeCode" type="clt_ru:TransportModeCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код вида транспортного средства по классификатору видов транспорта и транспортировки товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationNationalityCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кодовое обозначение страны регистрации транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportMeansRegId" type="clt_ru:TransportMeansIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер автомобильного транспортного средства, прицепа, полуприцепа, название водного судна, номер рейса воздушного судна, номер железнодорожного транспортного средства (вагона, полувагона, платформы, цистерны и т.п.), идентификационный номер контейнера</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehicleId" type="clt_ru:VINIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификационный номер транспортного средства (шасси транспортного средства, самоходной машины), присвоенный изготовителем</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportTypeCode" type="clt_ru:Code3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кодовое обозначение типа транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehicleMakeCode" type="clt_ru:Code3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кодовое обозначение марки транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehicleModelName" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование модели транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocId" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер свидетельства о регистрации транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReferenceObjectOrdinal" type="clt_ru:Count3Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Порядковый номер транспортного средства, с использованием которого осуществляется перевозка (транспортировка) товаров до совершения грузовой операции с товарами и (или) замены транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransitGoodsType">
		<xs:annotation>
			<xs:documentation>Описание товара</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catESAD_cu:GoodsItemBaseType">
				<xs:sequence>
					<xs:element name="TNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CurrencyCode" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код валюты фактурной стоимости</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SupplementaryGoodsQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество товара в дополнительной единице измерения.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ContainerIdentificator" type="clt_ru:ContainerIdentityType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Номера (идентификаторы) контейнеров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsPackaging" type="catESAD_cu:ESADGoodsPackagingType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения об упаковке товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsProhibitionFreeCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак товара, свободного от применения запретов и ограничений</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsComponentCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Кодовое обозначение декларирования компонентов разобранного товара, перевозимых по территориям двух и более государств-членов в течение определенного периода времени одним или несколькими транспортными средствами</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TransitGuaranteeDocDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о документе, подтверждающем предоставление (принятие) либо основание для непредоставления обеспечения исполнения обязанности по уплате таможенных и иных платежей</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocKindCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код вида документа в соответствии с классификатором видов документов и сведений, используемых при таможенном декларировании</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocName" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GuaranteeCertificateIdDetails" type="tci:GTDID8Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о регистрационном номере сертификата обеспечения исполнения обязанности по уплате таможенных пошлин, налогов</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GuaranteeCustomsDocIdDetails" type="cat_ru:GTDIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о регистрационном номере таможенного документа, подтверждающего принятие обеспечения исполнения обязанности по уплате таможенных и иных платежей</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocID" type="clt_ru:DocumentNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер (регистрационный номер) иного документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocCreationDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата выдачи, подписания, утверждения или регистрации документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GuaranteeAmount" type="RUScat_ru:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сумма (размер) предоставленного обеспечения исполнения обязанности по уплате таможенных и иных платежей, которая используется в отношении товаров транзитной декларации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentGuaranteeMethodCode" type="clt_ru:Code2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код способов обеспечения уплаты в соответствии с классификатором способов обеспечения уплаты таможенных и иных платежей</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReferenceConsignmentItemOrdinal" type="clt_ru:Count3Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReferenceConsignmentItemRangeDetails" type="tci:ReferenceConsignmentItemRangeDetailsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о диапазоне порядковых номеров товаров, в отношении которых используется генеральное обеспечение исполнения обязанности по уплате таможенных и иных платежей</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransportType">
		<xs:annotation>
			<xs:documentation>Транспортное средство</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:CUTransportMeansType">
				<xs:sequence>
					<xs:element name="TransportMeans" type="cat_ru:TransportMeansBaseType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Описание транспортного средства</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
