XsltProcessor/xsd/5.26.0/VehiclePresentDemand.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приказ ФТС России № 489 от 25 марта 2019 года "Об утверждении порядка разработки, опубликования и внесения изменений в форматы и структуры электронных документов, участвующих в обмене при взаимодействии таможенных органов Российской Федерации и заинтересованных лиц" -->
<!--Проект Приказа ФТС России «Об утверждении формы и порядка направления требования о представлении самоходной машины или прицепа для целей осмотра и (или) идентификационной сверки» -->
<!--Проект Приказа ФТС России «Об утверждении формы и порядка направления требования о представлении колесного транспортного средства (шасси) или прицепа к нему в зону таможенного контроля для целей осмотра и (или) идентификационной сверки»-->
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:vpd="urn:customs.ru:Information:CustomsDocuments:VehiclePresentDemand:5.26.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:VehiclePresentDemand:5.26.0" elementFormDefault="qualified" version="5.26.0.0">
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Требование о представлении транспортного средства для целей осмотра и (или) идентификационной сверки</xs:documentation>
	</xs:annotation>
	<xs:element name="VehiclePresentDemand" type="vpd:VehiclePresentDemandType">
		<xs:annotation>
			<xs:documentation>Требование о представлении транспортного средства для целей осмотра и (или) идентификационной сверки</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="VehiclePresentDemandType">
		<xs:annotation>
			<xs:documentation>Требование о представлении транспортного средства для целей осмотра и (или) идентификационной сверки</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="CustomsDetails" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Таможенный орган, сформировавший требование</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PayerInfo" type="vpd:OrganizationType">
						<xs:annotation>
							<xs:documentation>Сведения о плательщике</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DemandFormDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата формирования требования</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RegNumber" type="vpd:RegNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер требования</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VehicleInfo" type="vpd:VehicleType">
						<xs:annotation>
							<xs:documentation>Сведения о транспортном средстве</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ZTKCustoms" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Таможенный орган, в регионе деятельности которого находится зона таможенного контроля</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ZTKAddress" type="RUScat_ru:RUAddressType">
						<xs:annotation>
							<xs:documentation>Адрес зоны таможенного контроля</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ZTKSign" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак невозможности представления самоходной машины или прицепа к ней в зону таможенного контроля: 1 - невозможно предоставить СМ в ЗТК, 0 - возможно предоставить СМ в ЗТК</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FactAddress" type="vpd:FactAddressType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Фактический адрес местонахождения самоходной машины (прицепа)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VehiclePresentationTerm" type="clt_ru:DateTimeCustType">
						<xs:annotation>
							<xs:documentation>Срок предъявления транспортного средства</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsPerson" type="RUScat_ru:CustomsPersonDetails">
						<xs:annotation>
							<xs:documentation>Сведения об уполномоченном должностном лице, подписавшем
Требование</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DemandDirectionDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата направления Требования</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsPersonSign" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак подписания Требования электронной цифровой подписью уполномоченного должностного лица: 0 - нет, 1 - да</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006361E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы.</xs:documentation>
	</xs:annotation>
	<xs:complexType name="FactAddressType">
		<xs:annotation>
			<xs:documentation>Фактический адрес местонахождения самоходной машины (прицепа)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:RUAddressType">
				<xs:sequence>
					<xs:element name="E_mail" type="clt_ru:Text50Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Адрес электронной почты</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrganizationType">
		<xs:annotation>
			<xs:documentation>Сведения о плательщике</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:OrganizationBaseType">
				<xs:sequence>
					<xs:element name="OKPOID" type="clt_ru:OKPOIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код организации по ОКПО</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OKATOCode" type="clt_ru:OKATOCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код ОКАТО</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Address" type="RUScat_ru:RUAddressType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Адрес </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Contact" type="cat_ru:ContactType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Контактная информация</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RegNumberType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер требования</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:GTDID6Type">
				<xs:sequence>
					<xs:element name="Add" type="clt_ru:Code2Type">
						<xs:annotation>
							<xs:documentation>Дополнительная составляющая номера</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VehicleType">
		<xs:annotation>
			<xs:documentation>Сведения о транспортном средстве</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VehicleKind" type="clt_ru:LetterIndicatorType">
				<xs:annotation>
					<xs:documentation>Вид транспортного средства: 0 - самоходная машина, 1 - прицеп к самоходной машине, 2 - колесное ТС (шасси), 3 - прицеп к колесному ТС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Manufacturer" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Наименование производителя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Model" type="clt_ru:TransportNameType">
				<xs:annotation>
					<xs:documentation>Марка, модель</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VINID" type="clt_ru:VINIDType">
				<xs:annotation>
					<xs:documentation>Идентификационный номер (заводской номер)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductionDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата выпуска (производства)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>