XsltProcessor/xsd/5.16.0/DebtIncashANDCommission.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<!--
Приказ ФТС России от 08.02.2019 г. № 211:
Приложение 1 (OrderType=0, DocumentType=0) - Поручение таможенного органа на бесспорное взыскание
Приложение 2 (OrderType=2, DocumentType=0) - Поручение таможенного органа на перевод электронных денежных средств
Приложение 3 (OrderType=1, DocumentType=0) - Поручение таможенного органа на продажу иностранной валюты
Приложение 4 (OrderType=0, DocumentType=2) - Решение таможенного органа об отзыве поручения таможенного органа на бесспорное взыскание
Приложение 5 (OrderType=2, DocumentType=2) - Решение таможенного органа об отзыве инкассового поручения (поручения таможенного органа на перевод электронных денежных средств)
Письмо ФТС России от 12.09.2018 № 05-62/57789, Федеральный закон от 03.08.2018 г. № 289-ФЗ ст.75 п.13 (без НПА для формы):
(OrderType=3, DocumentType=0) - Поручение на перечисление денежных средств с депозитного счета на расчетный (текущий) счет плательщика (лица, несущего солидарную обязанность)
-->
<xs:schema xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:diac="urn:customs.ru:Information:CommercialFinanceDocuments:DebtIncashANDCommission:5.16.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.10.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CommercialFinanceDocuments:DebtIncashANDCommission:5.16.0" elementFormDefault="qualified" version="5.16.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.10.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Поручение таможенного органа на продажу валюты / на перевод электронных денежных средств / Поручение на бесспорное взыскание / Решение об отзыве поручения на бесспорное взыскание / Решение  об отзыве инкассового поручения (поручения таможенного органа на перевод электронных денежных средств)</xs:documentation>
	</xs:annotation>
	<xs:element name="DebtIncashANDCommission" type="diac:DebtIncashANDCommissionType">
		<xs:annotation>
			<xs:documentation>Поручение таможенного органа на продажу валюты / на перевод электронных денежных средств / Поручение на бесспорное взыскание / Решение об отзыве поручения на бесспорное взыскание / Решение  об отзыве инкассового поручения (поручения таможенного органа на перевод электронных денежных средств)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="DebtIncashANDCommissionType">
		<xs:annotation>
			<xs:documentation>Поручение таможенного органа на продажу валюты / на перевод электронных денежных средств / Поручение на бесспорное взыскание / Решение об отзыве поручения на бесспорное взыскание / Решение  об отзыве инкассового поручения (поручения таможенного органа на перевод электронных денежных средств)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="InfoDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата формирования сведений</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InfoTime" type="clt_ru:TimeCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Время формирования сведений</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocumentInfo" type="diac:DocumentInfoType">
						<xs:annotation>
							<xs:documentation>Сведения о документе</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1002047E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="CodeVariable15Type">
		<xs:annotation>
			<xs:documentation>Код. Символьная строка (буквы, цифры, знаки) используемая для краткого (и (или) независимого от языка) представления или замены определенных значений или текстовых свойств. От 1 до 15 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:CodeCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Id25Type">
		<xs:annotation>
			<xs:documentation>Строка символов, идентифицирующая объект, содержащая не более 25 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:IdentifierCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text210Type">
		<xs:annotation>
			<xs:documentation>Текст. Строка от 1 до 210 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:TextCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="210"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text35Type">
		<xs:annotation>
			<xs:documentation>Текст. Строка от 1 до 35 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:TextCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AmountType">
		<xs:annotation>
			<xs:documentation>Сумма</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PaymentAmountText" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Сумма платежа прописью</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentKBK" type="clt_ru:CodeVariable20Type">
				<xs:annotation>
					<xs:documentation>Код бюджетной классификации (КБК)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentAmount" type="clt_ru:AmountType">
				<xs:annotation>
					<xs:documentation>Сумма платежа цифрами</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodeCurrency" type="clt_ru:Code3Type">
				<xs:annotation>
					<xs:documentation>Код валюты (в соответствии с Общероссийским классификатором валют)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseDocumentType">
		<xs:annotation>
			<xs:documentation>Документ основание</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DecisInconGR" type="diac:DecisInconGRType">
				<xs:annotation>
					<xs:documentation>Реквизиты поручения / неисполненного поручения таможенного органа о бесспорном взыскании</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Indocrn" type="cat_ru:DocumentBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Реквизиты входного документа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DecisInconGRType">
		<xs:annotation>
			<xs:documentation>Реквизиты поручения о бесспорном взыскании</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PrDocumentName" type="clt_ru:DocumentNameType">
				<xs:annotation>
					<xs:documentation>Наименование документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrDocumentNumber" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Номер поручения таможенного органа о бесспорном взыскании</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrDocumentDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата поручения таможенного органа о бесспорном взыскании</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountPayer" type="clt_ru:AccountType">
				<xs:annotation>
					<xs:documentation>Номер счета плательщика, указанный в поручении таможенного органа на бесспорное взыскание</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о документе</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsOffice" type="cat_ru:CustomsType">
				<xs:annotation>
					<xs:documentation>Код и наименование таможенного органа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentType" type="clt_ru:Numeric1Type">
				<xs:annotation>
					<xs:documentation>Тип сведений: 0 - документ, 1 - отметка об ознакомлении участника ВЭД с документом, 2 - отзыв документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderType" type="clt_ru:Numeric1Type">
				<xs:annotation>
					<xs:documentation>Вид поручения: 0 - поручение на бесспорное взыскание, 1 - поручение на продажу иностранной валюты, 2 - поручение на перевод электронных денежных средств, 3 - поручение на перечисление денежных средств с депозитного счета на расчетный</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RequisitesDocument" type="cat_ru:DocumentBaseType">
				<xs:annotation>
					<xs:documentation>Реквизиты документа (поручения / решения)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentPaymentReqs" type="diac:DocumentPaymentReqsType">
				<xs:annotation>
					<xs:documentation>Реквизиты для спиcания и перечисления денежных средств по документу</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BaseDocument" type="diac:BaseDocumentType">
				<xs:annotation>
					<xs:documentation>Документ основание</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecievingSignature" type="cat_ru:PersonSignatureType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отметка о вручении - подпись представителя организации. Заполняется в Личном Кабинете участника ВЭД</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentSignature" type="diac:DocumentSignatureType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Подпись документов</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentPaymentReqsType">
		<xs:annotation>
			<xs:documentation>Банковские реквизиты для оплаты</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="InfoPayer" type="diac:InfoPayerType">
				<xs:annotation>
					<xs:documentation>Информация о плательщике</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransFerfunds" type="diac:TransFerfundsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Перевод денежных средств</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentSignatureType">
		<xs:annotation>
			<xs:documentation>Типы подписи документов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustChiefSignature" type="diac:CustChiefSignatureSupplemented">
				<xs:annotation>
					<xs:documentation>Подпись Ф.И.О. начальника таможенного органа (лица, им уполномоченного). Заполняется в АПС Задолженность.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExecutiveSignature" type="diac:ExecutiveSignatureSupplemented">
				<xs:annotation>
					<xs:documentation>Подпись исполнителя. Заполняется в АПС Задолженность.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExtInformationType">
		<xs:annotation>
			<xs:documentation>Дополнительная информация для поручений</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TypePayment" type="clt_ru:Numeric1Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вид платежа (Поле 5). Возможные значения: 0 – пусто; 4 – срочно</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecipientID" type="diac:Id25Type">
				<xs:annotation>
					<xs:documentation>Идентификатор получателя денежных средств</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Order1" type="clt_ru:Count10Type">
				<xs:annotation>
					<xs:documentation>Поле 1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Order105" type="clt_ru:Count8Type">
				<xs:annotation>
					<xs:documentation>105 поле (Реквизит 105 - Код ОКТМО)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Order106" type="clt_ru:CodeVariable2Type">
				<xs:annotation>
					<xs:documentation>106 поле (Реквизит 106 -  Основание платежа)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Order108" type="diac:CodeVariable15Type">
				<xs:annotation>
					<xs:documentation>108 поле (Реквизит 108 - Номер документа, на основании которого делается платеж)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Order109" type="clt_ru:CodeVariable10Type">
				<xs:annotation>
					<xs:documentation>109 поле (Реквизит 109 - Дата документа, на основании которого делается платеж))</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Order110" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>110 поле (Реквизит 110 - Код выплат))</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InfoPayerType">
		<xs:annotation>
			<xs:documentation>Информация о плательщике</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Organization" type="diac:OrganizationMeasType">
				<xs:annotation>
					<xs:documentation>Сведения об участнике ВЭД</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BankInfoPayer" type="cat_ru:OrganizationType">
				<xs:annotation>
					<xs:documentation>Сведения о банке плательщика (наименование, ОКПО и др.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BICBankPayer" type="clt_ru:BICIDType">
				<xs:annotation>
					<xs:documentation>БИК банка плательщика</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodeBankPayer" type="clt_ru:CodeVariable20Type">
				<xs:annotation>
					<xs:documentation>Код банка плательщика по КГРКО</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountPayer" type="clt_ru:AccountType">
				<xs:annotation>
					<xs:documentation>Номер счета плательщика</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountTypePayer" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Вид счета плательщика (в соответствии с инструкцией Банка России от 30.05.2014 № 153-И)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodeAccountCurrencyPayer" type="clt_ru:Code3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код валюты счета плательщика</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CorporatePayer" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Идентификатор корпоративного электронного средства платежа плательщика</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganizationMeasType">
		<xs:annotation>
			<xs:documentation>Сведения об участнике ВЭД (из меры)</xs:documentation>
		</xs:annotation>
				<xs:sequence>
			<xs:element name="OrganizationName" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Полное наименование организации или фамилия, имя, отчество (при наличии) индивидуального предпринимателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShortName" type="clt_ru:ShortNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Краткое наименование организации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrganizationLanguage" type="clt_ru:LanguageCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код языка для заполнения наименования </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="RFOrganizationFeatures" type="diac:RFOrganizationFeaturesType">
					<xs:annotation>
						<xs:documentation>Сведения об организации. Особенности Российской Федерации</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RKOrganizationFeatures" type="cat_ru:RKOrganizationFeaturesType">
					<xs:annotation>
						<xs:documentation>Сведения об организации. Особенности Республики Казахстан</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RBOrganizationFeatures" type="cat_ru:RBOrganizationFeaturesType">
					<xs:annotation>
						<xs:documentation>Сведения об организации. Особенности Республики Беларусь</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RAOrganizationFeatures" type="cat_ru:RAOrganizationFeaturesType">
					<xs:annotation>
						<xs:documentation>Сведения об организации. Особенности Республики Армения</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="KGOrganizationFeatures" type="cat_ru:KGOrganizationFeaturesType">
					<xs:annotation>
						<xs:documentation>Сведения об организации. Особенности Кыргызской Республики</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="OKPOID" type="clt_ru:OKPOIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код организации по ОКПО</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OKATOCode" type="clt_ru:OKATOCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код ОКАТО</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="cat_ru:AddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Contact" type="cat_ru:ContactType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Контактная информация</xs:documentation>
				</xs:annotation>
			</xs:element>
					<xs:element name="ITN" type="clt_ru:ITNType">
						<xs:annotation>
							<xs:documentation>ИТН</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransFerfundsType">
		<xs:annotation>
			<xs:documentation>Реквизиты перевода денежных средств</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TransFerReqs" type="diac:TransFerReqsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Реквизиты</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Amount" type="diac:AmountType">
				<xs:annotation>
					<xs:documentation>Сумма / Сумма платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransFerReqsType">
		<xs:annotation>
			<xs:documentation>Реквизиты</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AccountRecipient" type="clt_ru:AccountType">
				<xs:annotation>
					<xs:documentation>Номер счета получателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodeAccountCurrency" type="clt_ru:Code3Type">
				<xs:annotation>
					<xs:documentation>Код валюты счета получателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountTypePayer" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Тип счета получателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DetailInformation" type="diac:DetailInformationType">
				<xs:annotation>
					<xs:documentation>Детализация</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustChiefSignatureSupplemented">
		<xs:annotation>
			<xs:documentation>Подпись Ф.И.О. начальника таможенного органа. Заполняется в АПС Задолженность.</xs:documentation>
		</xs:annotation>
				<xs:sequence>
			<xs:element name="PersonSurname" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Фамилия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonName" type="clt_ru:NameType">
						<xs:annotation>
					<xs:documentation>Имя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonMiddleName" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отчество</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonPost" type="clt_ru:PostType">
				<xs:annotation>
					<xs:documentation>Должность</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IssueDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата подписания</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExecutiveSignatureSupplemented">
		<xs:annotation>
			<xs:documentation>Подпись Ф.И.О. начальника таможенного органа. Заполняется в АПС Задолженность.</xs:documentation>
		</xs:annotation>
				<xs:sequence>
			<xs:element name="PersonSurname" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Фамилия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonName" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Имя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonMiddleName" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отчество</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonPost" type="clt_ru:PostType">
				<xs:annotation>
					<xs:documentation>Должность</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IssueDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата подписания</xs:documentation>
				</xs:annotation>
			</xs:element>
					<xs:element name="Phone" type="clt_ru:PhoneNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер телефона исполнителя</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DetailInformationType">
		<xs:annotation>
			<xs:documentation>Детализация</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sKorAccountBankPayer" type="clt_ru:AccountType">
				<xs:annotation>
					<xs:documentation>Номер корреспондентского счета банка плательщика</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sKorAccountBankRecipient" type="clt_ru:AccountType">
				<xs:annotation>
					<xs:documentation>Номер корреспондентского счета банка получателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BankInfoRecipient" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Наименование банка получателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BICBankRecipient" type="clt_ru:BICIDType">
				<xs:annotation>
					<xs:documentation>БИК банка получателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecipientName" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Наименование получателя платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecipientINN" type="clt_ru:INNIDType">
				<xs:annotation>
					<xs:documentation>ИНН получателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecipientKPP" type="clt_ru:KPPCodeType">
				<xs:annotation>
					<xs:documentation>КПП получателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeOfOperation" type="clt_ru:Count2Type">
				<xs:annotation>
					<xs:documentation>Вид операции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentCode" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Код (Уникальный идентификатор начисления) (поле 22)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PriorityPayment" type="clt_ru:Count2Type">
				<xs:annotation>
					<xs:documentation>Очередность платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PurposePaymentCode" type="diac:Id25Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Назначение платежа кодовое</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PurposePayment" type="diac:Text210Type">
				<xs:annotation>
					<xs:documentation>Назначение платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReserveField" type="diac:Text35Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Резервное поле (не заполняется до особого указания Банка России)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtInformation" type="diac:ExtInformationType">
				<xs:annotation>
					<xs:documentation>Дополнительная информация</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RFOrganizationFeaturesType">
		<xs:annotation>
			<xs:documentation>Сведения об организации. Особенности Российской Федерации</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OGRN" type="clt_ru:OGRNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОГРН/ОГРНИП. Основной государственный регистрационный номер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INN" type="clt_ru:INNIDType">
				<xs:annotation>
					<xs:documentation>ИНН плательщика</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KPP" type="clt_ru:KPPCodeType">
				<xs:annotation>
					<xs:documentation>КПП плательщика</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
