XsltProcessor/xsd/5.16.0/DecisionRevokePayments.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Функциональные требования ГУФТДиТР 2018 № 00415 ФТ на ЛК и Задолженность по формам (пошлины) (приложение).tif Приложения 3, 5, 7, 8 
- Приложение 3 Решение таможенного органа об отзыве инкассового поручения (DocType = РОИ) - УБРАН отсюда в версии 5.14.5 (переехал в DebtIncashANDCommission.xsd)
- Приложение 5 Решение таможенного органа об отзыве поручения таможенного органа на перевод электронных денежных средств (DocType = РОП) - УБРАН отсюда в версии 5.14.5 (переехал в DebtIncashANDCommission.xsd)
Приложение 7 Решение таможенного органа о приостановлении операций по счетам плательщика таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин и переводов его электронных денежных средств (DocType = РПО)
Приложение 8 Решение таможенного органа об отмене приостановления операций по счетам (счету) плательщика таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин и переводов его электронных денежных средств (DocType = РОПО)
-->
<xs:schema xmlns:catComFin_ru="urn:customs.ru:Information:CommercialFinanceDocuments:CommercialFinanceCommonAgregateTypesCust:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.10.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:drp="urn:customs.ru:Information:CommercialFinanceDocuments:DecisionRevokePayments:5.16.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CommercialFinanceDocuments:DecisionRevokePayments:5.16.0" elementFormDefault="qualified" version="5.16.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.10.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Решение таможенного органа о приостановлении/об отмене приостановления операций по счетам (счету) плательщика таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин и переводов его электронных денежных средств</xs:documentation>
	</xs:annotation>
	<xs:element name="DecisionRevokePayments" type="drp:DecisionRevokePaymentsType">
		<xs:annotation>
			<xs:documentation>Решение таможенного органа о приостановлении/об отмене приостановления операций по счетам (счету) плательщика таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин и переводов его электронных денежных средств</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="DecisionRevokePaymentsType">
		<xs:annotation>
			<xs:documentation>Решение таможенного органа о приостановлении/об отмене приостановления операций по счетам (счету) плательщика таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин и переводов его электронных денежных средств</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="DocType" type="clt_ru:CodeVariable4Type">
						<xs:annotation>
							<xs:documentation>Тип документа: РПО - Решение таможенного органа о приостановлении операций по счетам плательщика; РОПО - Решение таможенного органа об отмене приостановления операций по счетам </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DateDecision" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата Решения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NumberDecision" type="clt_ru:DocumentNumberType">
						<xs:annotation>
							<xs:documentation>Номер Решения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DRP_Customs" type="drp:DRP_CustomsType">
						<xs:annotation>
							<xs:documentation>Таможенный орган</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BankAndAccountInfo" type="drp:BankInfoType">
						<xs:annotation>
							<xs:documentation>Информация о банке и счёте плательщика</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ParagraphNumber" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Основание для принятия Решения о приостановлении (номер пункта (при наличии) и части статьи 77 Федерального закона от 3 августа 2018 г.№ 289-ФЗ)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DRP_Doc" type="drp:DRP_DocType">
						<xs:annotation>
							<xs:documentation>Решение о приостановлении операций по счетам</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="clt_ru:AmountType">
						<xs:annotation>
							<xs:documentation>Сумма</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CurrencyA3Code" type="clt_ru:CurrencyA3CodeType">
						<xs:annotation>
							<xs:documentation>Код валюты (в соответствии с Общероссийским классификатором валют)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PayerInfo" type="cat_ru:OrganizationBaseType">
						<xs:annotation>
							<xs:documentation>Сведения о плательщике-держателе счета</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsChief" type="drp:CustomsPersonType">
						<xs:annotation>
							<xs:documentation>Подпись начальника (заместителя начальника) таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Executor" type="drp:ExecutorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Исполнитель</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1002029E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы.</xs:documentation>
	</xs:annotation>
	<xs:complexType name="BankInfoType">
		<xs:annotation>
			<xs:documentation>Информация о банке и счёте плательщика</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BankAccount" type="clt_ru:ForeignAccountType">
				<xs:annotation>
					<xs:documentation>Номер счета или реквизиты корпоративного электронного средства платежа плательщика</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BankName" type="cat_ru:OrganizationBaseType">
				<xs:annotation>
					<xs:documentation>Наименование банка плательщика</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BICID" type="clt_ru:BICIDType">
				<xs:annotation>
					<xs:documentation>БИК банка плательщика</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodeBankPayer" type="clt_ru:CodeVariable20Type">
				<xs:annotation>
					<xs:documentation>Код банка по КГРКО</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BankAccountDescription" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Вид счета плательщика (в соответствии с инструкцией Банка России от 30.05.2014 № 153-И)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyA3Code" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Буквенный код валюты</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomsPersonType">
		<xs:annotation>
			<xs:documentation>Начальник таможенного органа (или лицо, им уполномоченное)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PersonSurname" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Фамилия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonName" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Имя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonMiddleName" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отчество</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonPost" type="clt_ru:PostType">
				<xs:annotation>
					<xs:documentation>Должность</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LNP" type="clt_ru:LNPIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ЛНП должностного лица таможенного органа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DRP_CustomsType">
		<xs:annotation>
			<xs:documentation>Код и наименование таможенного органа</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:CustomsType">
				<xs:sequence>
					<xs:element name="FullOfficeName" type="clt_ru:FreeText250Type">
						<xs:annotation>
							<xs:documentation>Полное наименование таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DRP_DocType">
		<xs:annotation>
			<xs:documentation>Решение о приостановлении операций по счетам</xs:documentation>
		</xs:annotation>
				<xs:sequence>
			<xs:element name="DRP_DocNumber" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Номер решения о приостановлении</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DRP_DocDate" type="clt_ru:DateCustType">
						<xs:annotation>
					<xs:documentation>Дата решения о приостановлении</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExecutorType">
		<xs:annotation>
			<xs:documentation>Исполнитель</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PersonSurname" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Фамилия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonName" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Имя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonMiddleName" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отчество</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonPost" type="clt_ru:PostType">
				<xs:annotation>
					<xs:documentation>Должность</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IssueDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата подписания</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Phone" type="clt_ru:PhoneNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер телефона исполнителя</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
