XsltProcessor/xsd/5.23.0/CustomsPaymentCalculation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- аналог R.035 -->
<xs:schema xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:cpc="urn:customs.ru:Information:CustomsDocuments:CustomsPaymentCalculation:5.23.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:RUDECLcat="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.23.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:CustomsPaymentCalculation:5.23.0" elementFormDefault="qualified" version="5.23.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.23.0" schemaLocation="RUDeclCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Расчет таможенных платежей</xs:documentation>
  </xs:annotation>
  <xs:element name="CustomsPaymentCalculation" type="cpc:CustomsPaymentCalculationType">
    <xs:annotation>
      <xs:documentation>Расчет таможенных платежей</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CustomsPaymentCalculationType">
    <xs:annotation>
      <xs:documentation>Расчет таможенных платежей</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="EECEDocHeaderAddInfo" type="RUScat_ru:EECEDocHeaderAddInfoType">
            <xs:annotation>
              <xs:documentation>Дополнительные технологические реквизиты электронного документа (сведений)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CPCID" type="RUDECLcat:CustomDocIDType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер расчета таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeclarationKindCode" type="clt_ru:Code2Type">
            <xs:annotation>
              <xs:documentation>Тип расчета таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EDocIndicatorCode" type="clt_ru:Code2Type">
            <xs:annotation>
              <xs:documentation>Признак электронного документа (возможные значения: ЭД, ОО)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PageQuantity" type="clt_ru:Quantity4Type">
            <xs:annotation>
              <xs:documentation>Общее количество листов в документе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsQuantity" type="clt_ru:Quantity5Type">
            <xs:annotation>
              <xs:documentation>Количество товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PaymentCalculationEventDetails" type="cpc:PaymentCalculationEventDetailsType">
            <xs:annotation>
              <xs:documentation>Случай, срок уплаты и дата применения ставок таможенных и иных платежей</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="JointlyLiablePersonDetails" type="RUScat_ru:SubjectDetailsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Лицо, несущее солидарную (субсидиарную) обязанность</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PayerDetails" type="cpc:PayerDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о плательщике</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsShipmentDetails" type="cpc:GoodsShipmentDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о товарной партии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPersonSignature" type="cpc:CustomsPersonSignatureType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Подпись должностного лица таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006252E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CommodityGroupItemDetailsType">
    <xs:annotation>
      <xs:documentation>Характеристика товаров в группе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CommodityDescriptionDetails" type="catESAD_cu:GoodsGroupInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дополнительные характеристики сведений о товаре</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductionPlaceName" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование места происхождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StandardName" type="clt_ru:Text40Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование стандарта (международного, межгосударственного, государтвенного, отраслевого или организации) или технических условий на товар</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsPersonSignatureType">
    <xs:annotation>
      <xs:documentation>Подпись должностного лица таможенного органа</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:CustomsPersonDetails">
        <xs:sequence>
          <xs:element name="IssueDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата подписания</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DTAutomobileDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения об автомобиле</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catESAD_cu:AutomobileType">
        <xs:sequence>
          <xs:element name="ManufactureDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата изготовления (момент выпуска) транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FactPaymentDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о фактически уплаченных (взысканных) суммах таможенных и иных платежей и (или) о сумме платежа, пеней, процентов, в отношении которой меры по взысканию не применяются</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catESAD_cu:ESADout_CUCustomsPaymentType">
        <xs:sequence>
          <xs:element name="PaymentWayCode" type="clt_ru:Code2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Способ уплаты в соответствии с классификатором способов уплаты таможенных и иных платежей, взимание которых возложено на таможенные органы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsTaxPaymentNoApplyCode" type="clt_ru:Code2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код случая, когда меры по взысканию таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин не принимаются</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PaymentDocument" type="RUDECLcat:PaymentDocumentType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Платежный документ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PaymentDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата уплаты или взыскания (дата исполнения обязанности по уплате таможенных и иных платежей)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GoodsGroupDescriptionType">
    <xs:annotation>
      <xs:documentation>Описание группы товаров одного наименования с отличающимися от других групп характеристиками</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание группы товаров с учетом дополнительных характеристик (качественных, технических, коммерческих), необходимых для классификации товара и для исчисления таможенной стоимости</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RKTNVED" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код ТН ВЭД ЕАЭС компонента машины (для РК и КР)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CommodityGroupItemDetails" type="cpc:CommodityGroupItemDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Характеристика товаров в группе</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsItemDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о товаре</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:EECDTGoodsBaseDetailsType">
        <xs:sequence>
          <xs:element name="PageOrdinal" type="clt_ru:Count3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Порядковый номер листа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodFeatures" type="clt_ru:Code3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Кодовое обозначение экспресс-грузов или международных почтовых отправлений</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AddGoodsMeasureDetails" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
            <xs:annotation>
              <xs:documentation>Количество товара в единице измерения, отличной от основной и дополнительной</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsGroupDescription" type="cpc:GoodsGroupDescriptionType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о группе товаров одного наименования с отличающимися от других групп характеристиками</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTAutomobileDetails" type="cpc:DTAutomobileDetailsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения об автомобиле</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ESADExcise" type="catESAD_cu:ESADExciseType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения об акцизных марках</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PipelineGoodsDetails" type="cpc:PipelineGoodsDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дополнительные сведения о товарах, перемещаемых трубопроводным транспортом</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsOriginCountryDetails" type="cpc:OriginCountryDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о стране происхождения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsValueAmount" type="clt_ru:AmountType">
            <xs:annotation>
              <xs:documentation>Таможенная стоимость товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PrecedingDocDetails" type="RUDECLcat:PrecedingDocDetailsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о предшествующем документе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PresentedDocDetails" type="cpc:PresentedDocDetailsType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о предоставленном документе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsItemPaymentDetails" type="RUDECLcat:CalculationType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения об исчислении таможенного и иного платежа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GoodsShipmentDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарной партии</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsValueAmount" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Общая таможенная стоимость</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginCountryDetails" type="cpc:OriginCountryDetailsType">
        <xs:annotation>
          <xs:documentation>Сведения о стране происхождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsItemDetails" type="cpc:GoodsItemDetailsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товаре</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FactPaymentDetails" type="cpc:FactPaymentDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о фактически уплаченных (взысканных) суммах таможенных и иных платежей и (или) о сумме платежа, пеней, процентов, в отношении которой меры по взысканию не применяются</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentAmountDetails" type="cpc:PaymentAmountDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения об общей сумме, подлежащей уплате (взысканию) по виду платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginCountryDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о стране происхождения</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:CountryDetailsType">
        <xs:sequence>
          <xs:element name="TerritoryCode" type="RUSclt_ru:TerritoryCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код обозначения единицы административно-территориального деления</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PayerDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о плательщике</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType">
        <xs:sequence>
          <xs:element name="InformationUnknownIndicator" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Признак наличия или отсутствия информации (сведений)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PaymentAmountDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения об общей сумме, подлежащей уплате (взысканию) по виду платежа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PaymentModeCode" type="clt_ru:CUCustomsPaymentCodeType">
        <xs:annotation>
          <xs:documentation>Код вида платежа  по классификатору видов налогов, сборов и иных платежей, взимание которых возложено на таможенные органы.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaxBase" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Основа начисления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaxBaseCurrencyCode" type="clt_ru:CurrencyN3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Цифровой код валюты основы начисления (адвалорная ставка)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RateTypeCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид ставки (адвалорная -"%", специфическая - "*")</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Rate" type="cltESAD_cu:RateType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ставка / ставка рефинансирования</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumberDays" type="clt_ru:Quantity5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество календарных дней</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentAmount" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentCurrencyCode" type="clt_ru:CurrencyN3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Цифровой код валюты суммы платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentCalculationEventDetailsType">
    <xs:annotation>
      <xs:documentation>Случай, срок уплаты и дата применения ставок таможенных и иных платежей</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PaymentCalculationEventCode" type="clt_ru:Code4Type">
        <xs:annotation>
          <xs:documentation>Код случая исчисления таможенных и иных платежей</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EndDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Срок уплаты таможенных и иных платежей</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DutyTaxFeeRateDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата применения ставки</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentDutyTerminationDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о количестве и стоимости товара, в отношении которого наступили обстоятельства, при которых обязанность по уплате таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин прекращается либо такие платежи подлежат возврату</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SupplementaryGoodsQuantity" type="cat_ru:SupplementaryQuantityType">
        <xs:annotation>
          <xs:documentation>Количество товара, в отношении которого прекратилась обязанность по уплате таможенных и иных платежей</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCost" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Таможенная стоимость товара, в отношении которого прекратилась обязанность по уплате таможенных и иных платежей</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PipelineGoodsDetailsType">
    <xs:annotation>
      <xs:documentation>Дополнительные сведения о товарах, перемещаемых трубопроводным транспортом</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OilTransferMeasure" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество фактически переданной нефти или нефтепродуктов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PlaceName" type="RUSclt_ru:Name120Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Название месторождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PresentedDocDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о документе и (или) источнике информации</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUDECLcat:SimplePresentedDocDetailsType">
        <xs:sequence>
          <xs:element name="PaymentDutyTerminationEventCode" type="clt_ru:Code2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Кодовое обозначение обстоятельства, при котором обязанность по уплате таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин прекращается либо такие платежи подлежат возврату (зачету)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PaymentDutyTerminationDetails" type="cpc:PaymentDutyTerminationDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о количестве и стоимости товара, в отношении которого наступили обстоятельства, при которых обязанность по уплате таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин прекращается либо такие платежи подлежат возврату</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>