XsltProcessor/xsd/5.23.0/CustomsMonitoringResults.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Проект приказа ФТС России "О технологии проведения таможенного мониторинга" -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:cmr="urn:customs.ru:Information:CustomsAuditDocuments:CustomsMonitoringResults:5.22.0" targetNamespace="urn:customs.ru:Information:CustomsAuditDocuments:CustomsMonitoringResults:5.22.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Результаты рассмотрения подконтрольным лицом заключения по результатам таможенного мониторинга</xs:documentation>
  </xs:annotation>
  <xs:element name="CustomsMonitoringResults" type="cmr:CustomsMonitoringResultsType">
    <xs:annotation>
      <xs:documentation>Результаты рассмотрения подконтрольным лицом заключения по результатам таможенного мониторинга</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CustomsMonitoringResultsType">
    <xs:annotation>
      <xs:documentation>Результаты рассмотрения подконтрольным лицом заключения по результатам таможенного мониторинга</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Таможенный орган, в адрес которого направляются Результаты</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocNumber" type="cmr:DocNumberType">
            <xs:annotation>
              <xs:documentation>Номер документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConclusionsNumber" type="cmr:ConclusionsNumberType">
            <xs:annotation>
              <xs:documentation>Номер Заключения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FEAPerson" type="cmr:FEAPersonType">
            <xs:annotation>
              <xs:documentation>Сведения о лице, в отношении которого проведен таможенный мониторинг и которым представлены Результаты</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Results" type="cmr:ResultsType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Выводы по результатам таможенного мониторинга</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NoRiskGoods" type="cmr:NoRiskGoodsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о товарах, по которым лицом не подтверждены риски</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RiskGoods" type="cmr:RiskGoodsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о товарах, по которым лицом подтверждены риски</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AdditionalInformation" type="clt_ru:FreeText500Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дополнительная информация лица по результатам рассмотрения Заключения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SignedPerson" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Сведения о лице, подписавшем документ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Application1" type="cmr:GoodsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Приложение 1 к Результатм</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Application2" type="cmr:GoodsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Приложение 1 к Результатм</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006949E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ConclusionsNumberType">
    <xs:annotation>
      <xs:documentation>Номер Заключения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Part_2" type="clt_ru:Code3Type">
        <xs:annotation>
          <xs:documentation>Вторая часть номера документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GTDNumber" type="clt_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Порядковый номер документа по журналу регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Part_5" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Пятая часть номера документа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocNumberType">
    <xs:annotation>
      <xs:documentation>Номер документа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Part_0" type="clt_ru:Code3Type">
        <xs:annotation>
          <xs:documentation>Текущая позиция на Заключение</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Part_2" type="clt_ru:Code3Type">
        <xs:annotation>
          <xs:documentation>Вторая часть номера документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GTDNumber" type="clt_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Порядковый номер документа по журналу регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Part_5" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Пятая часть номера документа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentType">
    <xs:annotation>
      <xs:documentation>Сведения о документе</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="DocNumber" type="clt_ru:Count5Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер документа по порядку</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocKind" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Вид документа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FEAPersonType">
    <xs:annotation>
      <xs:documentation>Сведения о лице, в отношении внешнеэкономической деятельности которого необходимо провести таможенный мониторинг</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OrganizationName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Наименование организации / ФИО физического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INN" type="clt_ru:INNIDType">
        <xs:annotation>
          <xs:documentation>ИНН</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KPP" type="clt_ru:KPPCodeType">
        <xs:annotation>
          <xs:documentation>КПП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OGRN" type="clt_ru:OGRNIDType">
        <xs:annotation>
          <xs:documentation>ОГРН/ОГРНИП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="cat_ru:AddressType">
        <xs:annotation>
          <xs:documentation>Место государственной регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsDTType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах ДТ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumber" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Номер товара в ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Notes" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Примечание по товару</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах Приложений</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Number" type="clt_ru:Count5Type">
        <xs:annotation>
          <xs:documentation>Номер по порядку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DTNumber" type="cat_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Номер ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDT" type="cmr:GoodsDTType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товарах ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NoRiskGoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах, по которым лицом не подтверждены риски</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Document" type="cmr:DocumentType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Документ, подтверждающий отсутствие рисков</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Reasons" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Пояснения (доводы) лица по вопросу отсутствия рисков </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResultsType">
    <xs:annotation>
      <xs:documentation>Выводы по результатам таможенного мониторинга</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Code" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Код результата рассмотрения Заключения: 0 - риски не подтвердились; 1	- риски подтвердились; 2	- риски подтвердились частично</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Описание результатов рассмотрения Заключения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RiskGoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах, по которым лицом подтверждены риски</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Document" type="cmr:DocumentType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Документ, подтверждающий отсутствие рисков</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Event" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание мер, принятых лицом для подтверждения </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>