XsltProcessor/xsd/5.23.0/DecisionChangeDeliveryPlace.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Решение коллегии ЕЭК от 13.12.2017 г. N 170 О НЕКОТОРЫХ ВОПРОСАХ ПРИМЕНЕНИЯ ТАМОЖЕННОЙ ПРОЦЕДУРЫ ТАМОЖЕННОГО ТРАНЗИТА
Письмо ГУИТ от 08.02.2018 № 09-128/06999
-->
<xs:schema xmlns:dcdp="urn:customs.ru:Information:TransportDocuments:DecisionChangeDeliveryPlace:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" targetNamespace="urn:customs.ru:Information:TransportDocuments:DecisionChangeDeliveryPlace:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Разрешение на изменение места доставки товаров / Решение об отказе в изменении места доставки товаров</xs:documentation>
  </xs:annotation>
  <xs:element name="DecisionChangeDeliveryPlace" type="dcdp:DecisionChangeDeliveryPlaceType">
    <xs:annotation>
      <xs:documentation>Разрешение на изменение места доставки товаров / Решение об отказе в изменении места доставки товаров</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DecisionChangeDeliveryPlaceType">
    <xs:annotation>
      <xs:documentation>Разрешение на изменение места доставки товаров / Решение об отказе в изменении места доставки товаров</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DocKind" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>1 - Разрешение на изменение места доставки товаров; 2 - Решение об отказе в изменении места доставки товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AppNumber" type="cat_ru:GTDIDType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер Заявления об изменении места доставки товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentDate" type="clt_ru:DateTimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата и время направления документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegDetails" type="dcdp:RegDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о ТО, зарегистрировавшем Заявление</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionDetails" type="dcdp:DecisionDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о ТО, принявшем Решение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Carrier" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Перевозчик </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransportDoc" type="dcdp:TransportDocType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер транзитной декларации/книжки МДП/карнета АТА</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CondotionChange" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Обстоятельства, обусловившие необходимость изменения места доставки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EndTransit" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата завершения действия таможенной процедуры таможенного транзита</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UIN" type="cat_ru:GTDIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>УИН комплекта документов, содержащего ТД с предполагаемым местом доставки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ProvidedDocuments" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Документы, подтверждающие изменение пункта назначения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsDelivery" type="dcdp:ZTKType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Предполагаемое место доставки товаров </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeliveryRW" type="dcdp:RWStationType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Предполагаемое место доставки товаров при перевозке Ж/Д транспортом</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ZTK" type="dcdp:ZTKType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Местонахождение товаров и транспортного средства (зона таможенного контроля)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InformingWay" type="cat_ru:ContactType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Предпочтительный способ информирования о результатах рассмотрения заявления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FailureCause" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Причины отказа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1003017E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="DecisionDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о ТО, принявшем Решение</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DateDecision" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата принятия решения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Customs" type="cat_ru:CustomsType">
        <xs:annotation>
          <xs:documentation>Код и наименование таможенного органа, принявшего решение</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsPerson" type="cat_ru:CustomsPersonType">
        <xs:annotation>
          <xs:documentation>Должностно лицо, принявшее решение</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о ТО, зарегистрировавшем Заявление</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DateReg" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата регистрации документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsReg" type="cat_ru:CustomsType">
        <xs:annotation>
          <xs:documentation>Код и наименование таможенного органа, зарегистрировавшего Заявление</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsPersonReg" type="cat_ru:CustomsPersonType">
        <xs:annotation>
          <xs:documentation>Должностное лицо таможенного органа, зарегистрировавшего Заявление</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChiefReg" type="cat_ru:CustomsPersonType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Начальник (заместитель начальника) таможенного органа, зарегистрировавшего Заявление</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RWStationType">
    <xs:annotation>
      <xs:documentation>Ж/Д станция назначения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StationCode" type="clt_ru:RailwayStationCodeType">
        <xs:annotation>
          <xs:documentation>Код станции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StationName" type="clt_ru:PlaceNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование станции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RailwayCode" type="clt_ru:CodeVariable4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код железной дороги </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TIRIDType">
    <xs:annotation>
      <xs:documentation>Номер книжи МДП</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TIRID" type="clt_ru:Code8Type">
        <xs:annotation>
          <xs:documentation>Номер книжки МДП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TIRSeries" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Серия книжки МДП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TIRPageNumber" type="clt_ru:Code5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер листа книжки МДП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата регистрации документа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportDocType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер транзитной декларации / номер книжкии МДП или карнета АТА</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DTNumber" type="cat_ru:GTDIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер транзитной декларации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice minOccurs="0">
        <xs:element name="MDPNumber" type="dcdp:TIRIDType">
          <xs:annotation>
            <xs:documentation>Номер книжки МДП</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="CarnetNumber" type="clt_ru:CodeVariable20Type">
          <xs:annotation>
            <xs:documentation>Номер карнета АТА</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ZTKType">
    <xs:annotation>
      <xs:documentation>Зона таможенного контроля</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Customs" type="cat_ru:CustomsType">
        <xs:annotation>
          <xs:documentation>Код и наименование таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="RUScat_ru:RUAddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>