XsltProcessor/xsd/5.23.0/DecisionDeferralImpCustomsDuty.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Проект Приказа ФТС "Об утверждении формы заявления о предоставлении отсрочки или рассрочки уплаты ввозных таможенных пошлин, налогов, перечня сведений, подлежащих указанию в заявлении, и порядков его заполнения и рассмотрения, а также об утверждении форм решений о предоставлении, отказе в предоставлении отсрочки или рассрочки уплаты ввозных таможенных пошлин, налогов, формы графика поэтапной уплаты сумм ввозных таможенных пошлин, налогов". Приказ Приказ ФТС России от 28.02.2019 № 342.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" xmlns:ddicd="urn:customs.ru:Information:CommercialFinanceDocuments:DecisionDeferralImpCustomsDuty:5.22.0" targetNamespace="urn:customs.ru:Information:CommercialFinanceDocuments:DecisionDeferralImpCustomsDuty:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Решение о предоставлении отсрочки или рассрочки уплаты ввозных таможенных пошлин и (или) налогов/решение об отказе в предоставлении отсрочки или рассрочки уплаты ввозных таможенных пошлин и (или) налогов/решение об аннулировании принятого решения о предоставлении отсрочки или рассрочки уплаты ввозных таможенных пошлин и (или) налогов/график поэтапной уплаты сумм ввозных таможенных пошлин и (или) налогов при рассрочке уплаты сумм ввозных таможенных пошлин и (или) налогов</xs:documentation>
  </xs:annotation>
  <xs:element name="DecisionDeferralImpCustomsDuty" type="ddicd:DecisionDeferralImpCustomsDutyType">
    <xs:annotation>
      <xs:documentation>Решение о предоставлении отсрочки или рассрочки уплаты ввозных таможенных пошлин и (или) налогов/решение об отказе в предоставлении отсрочки или рассрочки уплаты ввозных таможенных пошлин и (или) налогов/решение об аннулировании принятого решения о предоставлении отсрочки или рассрочки уплаты ввозных таможенных пошлин и (или) налогов/график поэтапной уплаты сумм ввозных таможенных пошлин и (или) налогов при рассрочке уплаты сумм ввозных таможенных пошлин и (или) налогов</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DecisionDeferralImpCustomsDutyType">
    <xs:annotation>
      <xs:documentation>Решение о предоставлении отсрочки или рассрочки уплаты ввозных таможенных пошлин и (или) налогов/решение об отказе в предоставлении отсрочки или рассрочки уплаты ввозных таможенных пошлин и (или) налогов/решение об аннулировании принятого решения о предоставлении отсрочки или рассрочки уплаты ввозных таможенных пошлин и (или) налогов/график поэтапной уплаты сумм ввозных таможенных пошлин и (или) налогов при рассрочке уплаты сумм ввозных таможенных пошлин и (или) налогов</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DocKind" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код вида решения: 1 - Решение об отказе в предоставлении отсрочки (рассрочки); 2 - Решение о предоставлении отсрочки (рассрочки); 3 - Решение о предоставлении отсрочки (рассрочки) заблокировано; 4 - Решение об аннулировании решения о предоставлении отсрочки (рассрочки)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Status" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Статус Решения: 0 - не действует; 1- Действует; 2- Аннулировано </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionRegNumber" type="ddicd:DecisionRegNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер Решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PrevDecisionRegNumber" type="ddicd:DecisionRegNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер аннулируемого решения о предоставлении отсрочки или рассрочки уплаты ввозных таможенных пошлин, налогов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BlockDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата блокировки Решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EndDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата завершения действия</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NumberApplication" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Исходящий номер заявления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateApplication" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата заявления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AppCustoms" type="cat_ru:CustomsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о таможенном органе, в который было подано заявление</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionCustoms" type="cat_ru:CustomsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о таможенном органе, в котором принято решение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Applicant" type="RUScat_ru:SubjectDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о заявителе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeferralOrDeferredSign" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
              <xs:documentation>Тип документа: 1- отсрочка, 2 - рассрочка 	
							</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ImportCustomsDuty" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Признак предоставления отсрочки (рассрочки) по ввозной таможенной пошлине (1 - предоставляется, 0 - не предоставляется)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Excise" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Признак предоставления отсрочки (рассрочки) по акцизам (1 - предоставляется, 0 - не предоставляется)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ValueAddedTax" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Признак предоставления отсрочки (рассрочки) по налогу на добавленную стоимость (1 - предоставляется, 0 - не предоставляется)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TotalAmount" type="clt_ru:AmountType">
            <xs:annotation>
              <xs:documentation>Общая сумма платежей, по которым принято решение, рублей</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PercentAmount" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Признак уплаты процентов (1 - с уплатой процентов, 0 - без уплаты процентов)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NumberMonths" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Срок отсрочки (рассрочки) (количество календарных месяцев со дня, следующего за днем выпуска товаров в соответствии с таможенной процедурой выпуска для внутреннего потребления)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NumberDays" type="clt_ru:Count2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество дней отсрочки  (в случае, если запрашиваемый срок - 1 месяц)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsInfo" type="ddicd:GoodsInfoType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о товарах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BasisGrantingDeferral" type="ddicd:BasisGrantingDeferralType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Пункты и подпункты НПА оснований предоставления отсрочки (рассрочки)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FactVolation" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о положениях НПА, нарушение которых послужило основанием для отмены решения о предоставлении отсрочки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FactFalseInfo" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о выявленных фактах предоставления недостоверных сведений при подаче заявления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FactExclPermitKind" type="clt_ru:LetterIndicatorType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о положениях НПА, исключающих возможность предоставления или устанавливающих причину отказа в предоставлении отсрочки (рассрочки): 
1 - отсутствие основания для предоставления отсрочки или рассрочки, указанного в заявлении;
2 - непредставление на момент подачи заявления, документов, подтверждающих наличие оснований для предоставления отсрочки или рассрочки;
3 - наличие на момент подачи заявления не исполненной в установленный срок обязанности по уплате таможенных платежей;
4 - наличие двух и более фактов привлечения плательщика к административной ответственности за правонарушения в сфере таможенного дела в течение одного года до обращения за предоставлением отсрочки или рассрочки уплаты ввозных таможенных пошлин, налогов; 
5 - непредставление документов, подтверждающих предоставление обеспечения исполнения обязанности по уплате ввозных таможенных пошлин, налогов; 
6 - возбуждение в отношении учредителей, руководителей плательщика уголовного дела; 
7 -  возбуждение процедуры банкротства в отношении плательщика; 
8 - подача заявления о выпуске товаров до подачи декларации на товары, в отношении которой подано заявление о выпуске товаров до подачи декларации на товары.
							</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Guarantee" type="ddicd:GuaranteeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Обеспечение исполнения обязанности по уплате ввозных таможенных пошлин, налогов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeclCustoms" type="cat_ru:CustomsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о таможенном(ых) органе(ах), в котором(ых) будет осуществляться декларирование товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BaseDocuments" type="ddicd:BaseDocumentsType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Документы, на основании которых запрашивается отсрочка (рассрочка)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TimetableSign" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак наличия прилагаемого графика поэтапной уплаты сумм ввозных таможенных пошлин и (или) налогов при рассрочке  уплаты сумм ввозных таможенных пошлин и (или) налогов: 1 - да; 0 - нет</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TimetablePayment" type="ddicd:TimetablePaymentType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>График поэтапной уплаты сумм ввозных таможенных пошлин и (или) налогов при рассрочке  уплаты сумм ввозных таможенных пошлин и (или) налогов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsChief" type="ddicd:CustomsPersonType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Начальник (заместитель начальника) таможни</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsDepChief" type="ddicd:CustomsPersonType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Начальник (заместитель начальника) отдела</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsExecutor" type="ddicd:CustomsPersonType">
            <xs:annotation>
              <xs:documentation>Исполнитель</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1002036E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="BaseDocumentsType">
    <xs:annotation>
      <xs:documentation>Документы, на основании которых запрашивается отсрочка (рассрочка)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="PresentedDocumentModeCode" type="clt_ru:CustomsDocumentCodeType">
            <xs:annotation>
              <xs:documentation>Код вида представляемого документа в соответствии с классификатором видов документов и сведений, используемых при таможенном декларировании</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentBeginActionsDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата начала действия документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentEndActionsDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата окончания действия документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocArchIdDetails" type="catESAD_cu:RFBasePresentedDocIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификаторы, присвоенные документу (сведениям) при размещении в хранилище электронных документов</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BasisGrantingDeferralType">
    <xs:annotation>
      <xs:documentation>Пункты и подпункты НПА оснований предоставления отсрочки (рассрочки)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="St59TK_p" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Пункт статьи 59 ТК ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="St59TK_pp" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Подпункт(ы) статьи 59 ТК ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="St50FZ_p" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Пункт(ы) части 1 статьи 50 ФЗ от 03.08.2018 № 289-ФЗ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о товаре</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Описание товара, включая торговое, коммерческое или иное традиционное наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsOrderType">
    <xs:annotation>
      <xs:documentation>Таможенный приказ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsIssuedOrder" type="cat_ru:CustomsType">
        <xs:annotation>
          <xs:documentation>Таможенный орган, выпустивший приказ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Order" type="cat_ru:DocumentBaseType">
        <xs:annotation>
          <xs:documentation>Наименование, номер, дата приказа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsPersonType">
    <xs:annotation>
      <xs:documentation>Должностное лицо таможенного органа</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:CustomsPersonType">
        <xs:sequence>
          <xs:element name="CustomsSubUnit" type="clt_ru:NameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование структурного подразделения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsAuthorizingOrder" type="ddicd:CustomsOrderType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уполномочивающий таможенный приказ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CustomsReceiptRegNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер таможенной расписки</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="DocNumberPrefix" type="clt_ru:CodeVariable3Type">
            <xs:annotation>
              <xs:documentation>Префикс порядкового номера таможенной расписки</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CustomsReceiptType">
    <xs:annotation>
      <xs:documentation>Реквизиты таможенной расписки</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsReceiptID" type="ddicd:CustomsReceiptRegNumberType">
        <xs:annotation>
          <xs:documentation>Реквизиты таможенной расписки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CRAmount" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма по таможенной расписке, рубли</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DecisionRegNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер Решения о предоставлении / об отказе в предоставлении отсрочки или рассрочки уплаты ввозных таможенных пошлин, налогов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, зарегистрировавшего Решение</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации Решения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AbbTermsPay" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Аббревиатура в части Решений, касающихся условия обязательства уплаты таможенных платежей: "ОП" – отсрочка; "РП" – рассрочка.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AbbBasis" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Аббревиатура основания: "-" – в случаях, касающихся отсрочки, предоставление которой предусмотрено пунктом 1 статьи 59 ТК ЕАЭС; "О" – в иных случаях.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SerialNumberPrefix" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Префикс порядкового номера Решения по журналу регистрации, указывающий на вид принятого решения об отсрочке или рассрочке уплаты ввозных таможенных пошлин, налогов: "Р" - решение о предоставлении; "О" - решение об отказе в предоставлении; "А" - решение об аннулировании решения в предоставлении.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SerialNumber" type="clt_ru:Code4Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер Решения по журналу регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GuaranteeType">
    <xs:annotation>
      <xs:documentation>Обеспечение исполнения обязанности по уплате ввозной таможенной пошлины</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GuaranteeAmount" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма обеспечения, в рублях</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsReceipt" type="ddicd:CustomsReceiptType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о таможенных расписках</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TimetablePayMomentType">
    <xs:annotation>
      <xs:documentation>Детализация графика поэтапной уплаты сумм ввозных таможенных пошлин и (или) налогов при рассрочке  уплаты сумм ввозных таможенных пошлин и (или) налогов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RecNumber" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер позиции графика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumberDays" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Количество календарных дней</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Percent" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Доля в процентах</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TimetablePaymentType">
    <xs:annotation>
      <xs:documentation>График поэтапной уплаты сумм ввозных таможенных пошлин и (или) налогов при рассрочке  уплаты сумм ввозных таможенных пошлин и (или) налогов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TotalMonth" type="clt_ru:Numeric1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Итого количество календарных месяцев</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalPercent" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Итого количество долей (в процентах)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TimetablePayMoment" type="ddicd:TimetablePayMomentType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Детализация графика поэтапной уплаты сумм ввозных таможенных пошлин и (или) налогов при рассрочке  уплаты сумм ввозных таможенных пошлин и (или) налогов</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>