XsltProcessor/xsd/5.23.0/DecisionGoodsOperationCW.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приказ ФТС России от 18.03.2019 № 445 "Об утверждении формы заявления на совершение операций с товарами, помещенными под таможенную процедуру таможенного склада, и формы решения таможенного органа по результатам рассмотрения указанного заявления" Приложение №2 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:RUDECLcat="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.23.0" xmlns:dgocw="urn:customs.ru:Information:WarehouseDocuments:DecisionGoodsOperationCW:5.23.0" targetNamespace="urn:customs.ru:Information:WarehouseDocuments:DecisionGoodsOperationCW:5.23.0" elementFormDefault="qualified" version="5.23.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.23.0" schemaLocation="RUDeclCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Решение таможенного органа о выдаче (отказе в выдаче) разрешения на совершение операций с товарами, помещенными под таможенную процедуру таможенного склада</xs:documentation>
  </xs:annotation>
  <xs:element name="DecisionGoodsOperationCW" type="dgocw:DecisionGoodsOperationCWType">
    <xs:annotation>
      <xs:documentation>Решение таможенного органа о выдаче (отказе в выдаче) разрешения на совершение операций с товарами, помещенными под таможенную процедуру таможенного склада</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DecisionGoodsOperationCWType">
    <xs:annotation>
      <xs:documentation>Решение таможенного органа о выдаче (отказе в выдаче) разрешения на совершение операций с товарами, помещенными под таможенную процедуру таможенного склада</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Status" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Статус решения: 0 - Составлено, 1 - Направлено</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="dgocw:CustomsType">
            <xs:annotation>
              <xs:documentation>Таможенный орган, принявший решение о выдаче (отказе в выдаче) разрешения на совершение операций</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Applicant" type="dgocw:ApplicantType">
            <xs:annotation>
              <xs:documentation>Сведения о заявителе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApplicationDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата заявления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegAppNumber" type="dgocw:RegAppNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер Заявления на совершение операций с товарами, помещенными под таможенную процедуру таможенного склада</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GTDNumber" type="cat_ru:GTDIDType">
            <xs:annotation>
              <xs:documentation>Номер ДТ, по которой товары помещены под таможенную процедуру таможенного склада</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OperationDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Заявляемая дата совершения операций</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AllowedCWGood" type="dgocw:CWGoodType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Товар, помещенный под таможенную процедуру таможенного склада, совершение операций с которым разрешено</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ProhibitedCWGood" type="dgocw:CWGoodType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Товар, помещенный под таможенную процедуру таможенного склада, в выдаче разрешения на совершение операций с которым отказано</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RefusalReason" type="dgocw:RefusalReasonType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Основание для отказа в выдаче разрешения на совершение операций</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата составления решения</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1008042E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ApplicantType">
    <xs:annotation>
      <xs:documentation>Сведения о заявителе</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType">
        <xs:sequence>
          <xs:element name="ApplicantKind" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>1 - российиское юридическое лицо, 2 - иностранное юридическое лицо, 3 - физическое лицо</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistryNumber" type="RUDECLcat:BrokerRegistryDocDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о включении лица в реестр таможенных представителей</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CustomsPersonType">
    <xs:annotation>
      <xs:documentation>Начальник (заместитель начальника) таможенного органа</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonBaseType">
        <xs:sequence>
          <xs:element name="ChiefType" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Тип должности: 1 -начальник ТО, 2 - заместитель начальника ТО</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LNP" type="clt_ru:LNPIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ЛНП должностного лица таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код таможенного органа, указанный на оттиске ЛНП</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CustomsType">
    <xs:annotation>
      <xs:documentation>Таможенный орган, принявший решение о выдаче (отказе в выдаче) разрешения</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:CustomsType">
        <xs:sequence>
          <xs:element name="CustomsPerson" type="dgocw:CustomsPersonType">
            <xs:annotation>
              <xs:documentation>Начальник (заместитель начальника) таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CWGoodType">
    <xs:annotation>
      <xs:documentation>Товар, помещенный под таможенную процедуру таможенного склада</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Number" type="clt_ru:Count5Type">
        <xs:annotation>
          <xs:documentation>Номер товара по порядку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DTNumber" type="clt_ru:Count5Type">
        <xs:annotation>
          <xs:documentation>Номер товара в ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="cat_ru:SupplementaryQuantityType" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Количество принятого товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TNVEDCode" type="clt_ru:GoodsNomenclatureCodeType">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Operation" type="clt_ru:LetterIndicatorType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Совершаемая операция: 1 -  отбор проб и (или) образцов товара, 2 - подготовка товара к продаже и перевозке (транспортировке), включая дробление партии, формирование отправок, сортировку, упаковку, переупаковку, маркировку, операции по улучшению товарного вида, 3 - техническое обслуживание (в отношении товаров, в течение срока хранения которых требуется совершение таких операций)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RefusalReasonType">
    <xs:annotation>
      <xs:documentation>Основание для отказа в выдаче разрешения на совершение операций</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Reason" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Основание для отказа в выдаче разрешения на совершение операций</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArticleNumber" type="clt_ru:Text4Type">
        <xs:annotation>
          <xs:documentation>Номер статьи Федерального закона от 3 августа 2018 года №289-ФЗ "О таможенном регулировании в Российской Федерации и о внесении изменений в отдельные законодательные акты Российской Федерации"</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PartNumber" type="clt_ru:Text4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер части статьи Федерального закона от 3 августа 2018 года №289-ФЗ "О таможенном регулировании в Российской Федерации и о внесении изменений в отдельные законодательные акты Российской Федерации"</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegAppNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер Заявления</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDID5Type">
        <xs:sequence>
          <xs:element name="AddNumber" type="clt_ru:Code4Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дополнительная составляющая номера </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>