XsltProcessor/xsd/5.23.0/DeclarationCrew.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:cltTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.14.3" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:deccr="urn:customs.ru:Information:TransportDocuments:Sea:DeclarationCrew:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:TransportDocuments:Sea:DeclarationCrew:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.14.3" schemaLocation="TransportCommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Декларация о личных вещах экипажа</xs:documentation>
  </xs:annotation>
  <xs:element name="DeclarationCrew" type="deccr:DeclarationCrewType" />
  <xs:complexType name="DeclarationCrewType">
    <xs:annotation>
      <xs:documentation>Декларация о личных вещах экипажа</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ShipName" type="clt_ru:NameType">
            <xs:annotation>
              <xs:documentation>Название судна</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NationalityVessel" type="clt_ru:CountryNameType">
            <xs:annotation>
              <xs:documentation>Национальная принадлежность судна</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArrivalPort" type="cltTrans_ru:PortNameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Порт прихода</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeparturePort" type="cltTrans_ru:PortNameType">
            <xs:annotation>
              <xs:documentation>Порт отхода </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CrewInfo" type="deccr:CrewInfoType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о члене экипажа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CaptainSignature" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Подпись капитана, уполномоченного агента или лица командного состава.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1003307E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CrewInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о члене экипажа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Subject" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Предметы, которые подлежат или подтверждению на запрещение, или ограничению </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonSignature" type="cat_ru:PersonSignatureType">
        <xs:annotation>
          <xs:documentation>Подпись члена экипажа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>