XsltProcessor/xsd/5.23.0/DeclChangeDecision.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cltExch_ru="urn:customs.ru:Information:ExchangeDocuments:ExchangeCommonLeafTypes:5.0.8" xmlns:dcd="urn:customs.ru:Information:CustomsDocuments:DeclChangeDecision:5.23.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:DeclChangeDecision:5.23.0" elementFormDefault="qualified" version="5.23.0.0">
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:Information:ExchangeDocuments:ExchangeCommonLeafTypes:5.0.8" schemaLocation="ExchangeCommonLeafTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Требование / Решение (проект решения) о внесении изменений (дополнений) в сведения, указанные в декларации на товары</xs:documentation>
	</xs:annotation>
	<xs:element name="DeclChangeDecision" type="dcd:DeclChangeDecisionType">
		<xs:annotation>
			<xs:documentation>Требование / Решение (проект решения) о внесении изменений (дополнений) в сведения, указанные в декларации на товары</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="DeclChangeDecisionType">
		<xs:annotation>
			<xs:documentation>Требование / Решение (проект решения) о внесении изменений (дополнений) в сведения, указанные в декларации на товары</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="DocKind" type="clt_ru:Numeric1Type">
						<xs:annotation>
							<xs:documentation>Вид документа: 1 - ДТ, 2 - ДТЭГ, 3 - ПТДЭГ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocSign" type="clt_ru:Numeric1Type">
						<xs:annotation>
							<xs:documentation>Тип документа: 0 - Решение в адрес декларанта, 1 - Проект решения о внесении изменений, 2 - Решение, согласованное ТО</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProcedureID" type="cltExch_ru:ProcessIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ID процедуры декларирования</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DecisionDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата решения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DecisionNum" type="clt_ru:DocumentNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер Решения </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ResTKPV" type="clt_ru:DocumentNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер документа по результатам ТКПВТ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Paragraph" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер абзаца нормативного документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Subparagraph" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер подпункта нормативного документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DecisionFoundation" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Основания внесения изменений в ДТ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifiedViolations" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Выявленные нарушения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DateLimit" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата срока предоставления корректировки декларации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TimeLimit" type="clt_ru:TimeCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Время срока предоставления корректировки декларации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReleaseSign" type="clt_ru:DigitalIndicatorType">
						<xs:annotation>
							<xs:documentation>Признак принятия решения о внесении изменений в декларацию на товары после выпуска (1 - после выпуска, 0 - до выпуска)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Declarant" type="RUScat_ru:SubjectDetailsType">
						<xs:annotation>
							<xs:documentation>Сведения о декларанте</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Customs" type="dcd:CustomsType">
						<xs:annotation>
							<xs:documentation>Таможенный орган</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="KDTCustoms" type="dcd:CustomsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Таможенный пост, на который следует предоставить КДТ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ChangesDescription" type="dcd:ChangesDescriptionType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Описание необходимых изменений (дополнений)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsPerson" type="dcd:CustomsPersonType">
						<xs:annotation>
							<xs:documentation>Должностное лицо таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SendInfo" type="dcd:CustomsPersonSenderType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о направлении решения декларанту</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReceiveInfo" type="dcd:SignatureInfoType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о получении решения декларантом</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProjectDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата направления проекта решения таможенному органу</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="coordinationDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата согласования решения таможенном органом</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006210E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="ChangeDetailsType">
		<xs:annotation>
			<xs:documentation>Изменение</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsNumeric" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GRNumber" type="clt_ru:Text50Type">
				<xs:annotation>
					<xs:documentation>Обозначение графы (подраздела графы)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PreviousData" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Ранее указанные сведения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CorrectData" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Измененные и (или) дополненные сведения</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChangesDescriptionType">
		<xs:annotation>
			<xs:documentation>Описание необходимых изменений (дополнений)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DeclRegNumber" type="cat_ru:GTDIDType">
				<xs:annotation>
					<xs:documentation>Регистрационный номер декларации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChangeDetails" type="dcd:ChangeDetailsType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Изменение</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomsType">
		<xs:annotation>
			<xs:documentation>Таможенный орган</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:CUCustomsType">
				<xs:sequence>
					<xs:element name="Address" type="cat_ru:AddressType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Юридический адрес</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PostalAddress" type="cat_ru:AddressType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Почтовый адрес (заполняется в случае отличия почтового адреса от юридического)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SignatureInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о получении решения</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PersonName" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ф.И.О. представителя лица, декларирующего товары, получившего решение</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Date" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата получения решения/требования</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomsPersonSenderType">
		<xs:annotation>
			<xs:documentation>Сведения о направлении решения</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="dcd:CustomsPersonType">
				<xs:sequence>
					<xs:element name="Date" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата направления решения/требования</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SendAddress" type="cat_ru:AddressType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Почтовый адрес направления решения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="E_mail" type="clt_ru:Text50Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Электронный адрес направления требования</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CustomsPersonType">
		<xs:annotation>
			<xs:documentation>Должностное лицо</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:CustomsPersonType">
				<xs:sequence>
					<xs:element name="Post" type="clt_ru:PostType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Должность</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
