XsltProcessor/xsd/5.23.0/DO3Request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:catWH_ru="urn:customs.ru:Information:WarehouseDocuments:WarehouseCommonAggregateTypesCust:5.22.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:do3re="urn:customs.ru:Information:WarehouseDocuments:DO3Request:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:WarehouseDocuments:DO3Request:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:WarehouseDocuments:WarehouseCommonAggregateTypesCust:5.22.0" schemaLocation="WarehouseCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Требование о предоставлении отчетности по форме ДО-3</xs:documentation>
  </xs:annotation>
  <xs:element name="DO3Request" type="do3re:DO3RequestType">
    <xs:annotation>
      <xs:documentation>Требование о предоставлении отчетности по форме ДО-3</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DO3RequestType">
    <xs:annotation>
      <xs:documentation>Требование о предоставлении отчетности по форме ДО-3</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="SendDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата направления требования</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SendTime" type="clt_ru:TimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Время направления требования</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Comments" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Комментарии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BeginDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Период представления отчета с</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EndDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Период представления отчета по</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Сведения о таможенном органе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPerson" type="catWH_ru:WHCustomInspectorType">
            <xs:annotation>
              <xs:documentation>Должностное лицо таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Permits" type="catWH_ru:WarehouseCertificateType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Разрешительный документ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1008020E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>