XsltProcessor/xsd/5.23.0/DTSout.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:DTSout="urn:customs.ru:Information:CustomsDocuments:DTSout:5.23.0" xmlns:cat_EDTS_cu="urn:customs.ru:CUESADDTSCommonAggregateTypes:5.22.0" xmlns:cat_EDTS_ru="urn:customs.ru:RUESADDTSCommonAggregateTypes:5.23.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:RUDECLcat="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.23.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:DTSout:5.23.0" elementFormDefault="qualified" version="5.23.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUESADDTSCommonAggregateTypes:5.23.0" schemaLocation="RUESADDTSCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADDTSCommonAggregateTypes:5.22.0" schemaLocation="CUESADDTSCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.23.0" schemaLocation="RUDeclCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Внешний формат электронной копии ДТС. </xs:documentation>
  </xs:annotation>
  <xs:element name="DTSout" type="DTSout:DTSoutType">
    <xs:annotation>
      <xs:documentation>Декларация таможенной стоимости. Внешний формат</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DTSoutType">
    <xs:annotation>
      <xs:documentation>Декларация таможенной стоимости. Внешний формат</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="CustomsCostMethodCode" type="cltESAD_cu:CustomsCostAppraiseMethodType">
            <xs:annotation>
              <xs:documentation>Номер метода (заполняется в соответствии с классификатором методов определения таможенной стоимости товаров, помещаемых под таможенные режимы, применяемые к ввозимым и вывозимым товарам. В случае применения разных методов, указывается "*"-разные)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BaseMethodCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер базового метода  (заполняется при определении таможенной стоимости по методам 6)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AdditionalSheetNumber" type="clt_ru:SheetNumberType">
            <xs:annotation>
              <xs:documentation>Число дополнительных листов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GTDDocumentID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор ДТ.  Используется для привязки к ДТ при представлении ДТС отдельно от ДТ.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CurrencyDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата применения курса валюты.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CurrencyCode" type="clt_ru:CurrencyA3CodeType">
            <xs:annotation>
              <xs:documentation>Буквенный код валюты графы "Заявленная таможенная стоимость"</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CurrencyRate" type="clt_ru:CurrencyRateType">
            <xs:annotation>
              <xs:documentation>Курс валюты графы "Заявленная таможенная стоимость (б)"</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FormDTS" type="clt_ru:DigitalIndicatorType">
            <xs:annotation>
              <xs:documentation>Форма ДТС: 3 - ДТС-3; 4 - ДТС-4.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTSoutSeller" type="RUScat_ru:SubjectDetailsType">
            <xs:annotation>
              <xs:documentation>Внешняя ДТС. Сведения о продавце.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTSoutBuyer" type="RUScat_ru:SubjectDetailsType">
            <xs:annotation>
              <xs:documentation>Внешняя ДТС. Сведения о покупателе.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTSInvoiceDocuments" type="cat_EDTS_cu:DTSPresentedDocumentsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о документах. ДТС-3  гр. 4,5,6; ДТС-4 гр. 4,5,8</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTSBuyerSellerDependence" type="cat_EDTS_cu:DTSBuyerSellerDependenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Взаимосвязь между покупателем и продавцом. ДТС-3 гр.7.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTSSellingLimitation" type="cat_EDTS_cu:DTSSellingLimitationType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Ограничения на пользование товарами  и обязательства при продаже товаров. ДТС-3 гр.8.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTSAdditionalPayments" type="cat_EDTS_cu:DTSAdditionalPaymentsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Платежи за использование интеллектуальной собственности и условия передачи части дохода продавцу. ДТС-3  гр.9.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReasonApplyMethod" type="cat_EDTS_cu:ReasonApplyMethodType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Причина, по которой предшествующие методы определения стоимости не применимы. ДТС-4 гр. 7.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTSGoodsCustomsCost" type="DTSout:DTSoutGoodsCustomsCostType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Составляющие таможенной стоимости по товару.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTSoutFilledPerson" type="DTSout:DTSoutFilledPersonType">
            <xs:annotation>
              <xs:documentation>Дата заполнения и лицо, заполнившее ДТС. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTSoutDeclarant" type="RUDECLcat:AEODeclarantDetailsType">
            <xs:annotation>
              <xs:documentation>Внешняя ДТС. Сведения о декларанте.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CostConfirmationDocument" type="cat_EDTS_cu:CostConfirmationDocumentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Документы, подтверждающие заявленные сведения. ДТС-4 гр.8.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeliveryTerms" type="cat_ru:DeliveryTermsRUType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Условие поставки товаров.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GTDNumber" type="cat_ru:GTDIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер ДТ. Используется при предоставлении ДТС отдельно от ДТ.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006044E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="DTSoutFilledPersonType">
    <xs:annotation>
      <xs:documentation>ДТС. Внешний формат. Сведения о лице, заполнившем ДТС.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_EDTS_cu:DTSFilledPersonType">
        <xs:sequence>
          <xs:element name="LNP" type="clt_ru:LNPIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ЛНП должностного лица таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код таможенного органа, указанный на оттиске ЛНП</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DTSoutGoodsCustomsCostType">
    <xs:annotation>
      <xs:documentation>ДТС. Внешний формат. Таможенная стоимость по товару.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_EDTS_ru:DTSGoodsCustomsCostType" />
    </xs:complexContent>
  </xs:complexType>
</xs:schema>