XsltProcessor/xsd/5.23.0/DTSout_CU.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:DTSout_CU="urn:customs.ru:Information:CustomsDocuments:DTSout_CU:5.23.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:RUDECLcat="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.23.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:cat_EDTS_cu="urn:customs.ru:CUESADDTSCommonAggregateTypes:5.22.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:DTSout_CU:5.23.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.23.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADDTSCommonAggregateTypes:5.22.0" schemaLocation="CUESADDTSCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.23.0" schemaLocation="RUDeclCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Электронная копия ДТС</xs:documentation>
  </xs:annotation>
  <xs:element name="DTSout_CU" type="DTSout_CU:DTSout_CUType">
    <xs:annotation>
      <xs:documentation>Электронная копия ДТС</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DTSout_CUType">
    <xs:annotation>
      <xs:documentation>«Электронная копия ДТС»</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="EECEDocHeaderAddInfo" type="RUScat_ru:EECEDocHeaderAddInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дополнительные технологические реквизиты электронного документа (сведений)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AdditionalSheetNumber" type="clt_ru:Count3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество дополнительных листов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GTDDocumentID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор ДТ. Используется для привязки к ДТ при представлении ДТС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ElectronicDocumentSign" type="clt_ru:Code2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак использования ДТС в форме электронного документа. ЭД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FormDTS" type="clt_ru:DigitalIndicatorType">
            <xs:annotation>
              <xs:documentation>Форма ДТС: 1 - ДТС-1; 2 - ДТС-2</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsCostMethodCode" type="cltESAD_cu:CustomsCostAppraiseMethodType">
            <xs:annotation>
              <xs:documentation>Номер метода (заполняется в соответствии с классификатором методов определения таможенной стоимости товаров, помещаемых под таможенные режимы, применяемые к ввозимым и вывозимым товарам. В случае применения разных методов, указывается «*» - разные)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BaseMethodCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер базового метода (заполняется при определении таможенной стоимости по методам 6)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTSoutSeller" type="RUDECLcat:GoodsShipmentSubjectDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о продавце (отправителе).гр 1</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTSoutBuyer" type="RUDECLcat:GoodsShipmentSubjectDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о покупателе (получателе). Гр 2а</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTSInvoiceDocuments" type="cat_EDTS_cu:DTSPresentedDocumentsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о документах. ДТС-1, гр. 4,5,6; ДТС-2, гр. 4,5,8</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTSBuyerSellerDependence" type="cat_EDTS_cu:DTSBuyerSellerDependenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Взаимосвязь между покупателем и продавцом. ДТС-1, гр.7</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTSSellingLimitation" type="cat_EDTS_cu:DTSSellingLimitationType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Ограничения на пользование товарами и обязательства при продаже товаров. ДТС-1, гр.8</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTSAdditionalPayments" type="cat_EDTS_cu:DTSAdditionalPaymentsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Платежи за использование интеллектуальной собственности и условия передачи части дохода продавцу. ДТС-1, гр.9</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTSout_CUGoodsCustomsCost" type="DTSout_CU:GoodsCustomsCostType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Составляющие таможенной стоимости по товару</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GTDNumber" type="cat_ru:GTDIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер ДТ. Используется при предоставлении ДТС отдельно от ДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTSout_CUFilledPerson" type="RUDECLcat:SignatoryPersonDetailsType">
            <xs:annotation>
              <xs:documentation>Дата заполнения и лицо, заполнившее ДТС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LNPFilledPerson" type="clt_ru:LNPIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ЛНП должностного лица, заполнившего ДТС (для автоКДТ "000")</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код таможенного органа, указанный на оттиске ЛНП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTSoutDeclarant" type="RUDECLcat:AEODeclarantDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о декларанте (заявителе). гр 2б</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeliveryTerms" type="cat_ru:DeliveryTermsType">
            <xs:annotation>
              <xs:documentation>Условия поставки товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReasonApplyMethod" type="cat_EDTS_cu:ReasonApplyMethodType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Причина, по которой предшествующие методы определения стоимости не применимы. ДТС-2 гр. 7</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AdditionalData" type="cat_EDTS_cu:AdditionalDataType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Дополнительная информация, относящаяся ко всем товарам</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006112E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа (код документа по Альбому форматов)</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="GoodsCustomsCostType">
    <xs:annotation>
      <xs:documentation>Таможенная стоимость по товару</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SheetNumber" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Номер листа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsSerialNumberRB" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порядковый номер товара в ДТС для РБ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SheetGoodsSerialNumber" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порядковый номер товара на листе для РФ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GTDGoodsNumber" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Номер товара по ДТ/списку </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:Code10Type">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NationalDeclaredCustomsCost" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Заявленная таможенная стоимость в национальной валюте </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DollarDeclaredCustomsCost" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Заявленная таможенная стоимость в долларах США </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExchangeRate" type="RUScat_ru:ExchangeRateWithCurrencyA3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Курс валюты, примененный при указании заявленной таможенной стоимости</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата применения курса валюты</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsAddTNVEDCode" type="clt_ru:CodeVariable4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по классификатору дополнительной таможенной информации для РФ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MethodNumberCode" type="cltESAD_cu:CustomsCostAppraiseMethodType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер метода (Заполняется в соответствии с классификатором методов определения таможенной стоимости товаров, помещаемых под таможенные режимы, применимые к ввозимым товарам.)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BaseMethodNumberCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер базового метода</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCostDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Срок заявления точной величины таможенной стоимости товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdditionalData" type="cat_EDTS_cu:AdditionalDataType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Дополнительная информация </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DTSCurrencyPayment" type="cat_EDTS_cu:DTSCurrencyPaymentType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Информация по сумме оплаты в валюте. Гр. (*)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DTS_CUCustomsCostCalculation" type="cat_EDTS_cu:DTS_CUCustomsCostCalculationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Расчет таможенной стоимости</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>