XsltProcessor/xsd/5.23.0/ESADoutP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:cltESAD_ru="urn:customs.ru:RUCommonLeafTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:soup="urn:customs.ru:Information:CustomsDocuments:ESADoutP:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:ESADoutP:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUCommonLeafTypes:5.4.0" schemaLocation="RUESADCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Предварительное уведомление о декларировании  товаров</xs:documentation>
  </xs:annotation>
  <xs:element name="ESADoutP" type="soup:ESADoutPType">
    <xs:annotation>
      <xs:documentation>Предварительное уведомление о декларировании  товаров</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ESADoutPType">
    <xs:annotation>
      <xs:documentation>Предварительное уведомление о декларировании товаров</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="UTK" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак предоставления ПИ для упрощенного таможенного коридора</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTCountryCode" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
              <xs:documentation>Кодовое обозначение страны, декларация которой сверяется</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsProcedure" type="clt_ru:CUCustomsProcedureType">
            <xs:annotation>
              <xs:documentation>Направление перемещения ИМ, ЭК (первый подраздел гр.1 ДТ/ТД)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsModeCode" type="cltESAD_cu:CustomsModeCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код таможенной процедуры.  (второй подраздел гр. 1 ДТ/ТД)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeclarationKind" type="cltESAD_cu:CustomsDeclarationKindType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код особенности декларирования товаров по классификатору особенностей таможенного декларирования товаров. Гр.7 ДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PI_URN" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор предварительной информации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FormKind" type="clt_ru:Code3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Тип формы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ESADGoodsShipmentP" type="soup:ESADGoodsShipmentPType">
            <xs:annotation>
              <xs:documentation>Сведения о товарной партии.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006808E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ConfirmingOrganizationType">
    <xs:annotation>
      <xs:documentation>Удостоверяющий</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Date" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата отправления информации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrganizationName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Наименование организации, осуществляющей отправку информации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrganizationSign" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Удостоверяющий: 0 - с иностранной стороны; 1 - с российской стороны</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SenderName" type="soup:PersonInfoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ФИО лица, осуществившего отправку</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsignmentIdentifierType">
    <xs:annotation>
      <xs:documentation>Идентификатор товарной партии</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDID6Type">
        <xs:sequence>
          <xs:element name="RussianMongolianSign" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
              <xs:documentation>Признак, указывающий на то, что Электронный манифест оформлен в рамках двустороннего российско-монгольского эксперимента</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
              <xs:documentation>Код страны-экспортера</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContainerInfoType">
    <xs:annotation>
      <xs:documentation>Информация о номере контейнера</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ContainerNumber" type="clt_ru:CodeVariable20Type">
        <xs:annotation>
          <xs:documentation>Номер контейнера</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContainerKind" type="clt_ru:PackageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип контейнера</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Seals" type="clt_ru:CodeVariable20Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о номере пломбы</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContainerType">
    <xs:annotation>
      <xs:documentation>Информация о контейнерах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ContainerQuantity" type="clt_ru:Quantity8Type">
        <xs:annotation>
          <xs:documentation>Количество контейнеров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContainerInfo" type="soup:ContainerInfoType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Информация о номере контейнера</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsPaymentCalcPType">
    <xs:annotation>
      <xs:documentation>Расчет таможенных платежей</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catESAD_cu:CUCustomsPaymentCalculationType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CustomsPaymentsPType">
    <xs:annotation>
      <xs:documentation>Таможенные платежи к уплате</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsPayment" type="catESAD_cu:ESADout_CUCustomsPaymentType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Таможенные платежи</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsRemarksType">
    <xs:annotation>
      <xs:documentation>Отметки таможенного органа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsReleaseDateTime" type="clt_ru:DateTimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата и время выпуска товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsRemarksCode" type="clt_ru:Text40Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Специальные отметки таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProcedureCode" type="clt_ru:CodeVariable4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код вида таможенного контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SealIdentifier" type="clt_ru:Text40Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Номера средств идентификации</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ESADGoodsItemPType">
    <xs:annotation>
      <xs:documentation>Информация о товаре</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catESAD_cu:GoodsItemBaseType">
        <xs:sequence>
          <xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OriginCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код страны происхождения по общероссийскому классификатору стран мира / буквенный код страны происхождения по классификатору экономических союзов и сообществ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OriginCountryName" type="clt_ru:CountryNameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Краткое наименование страны происхождения / экономического союза.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountryCodeIndicator" type="clt_ru:DigitalIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак кода страны происхождения. 1 - классификатор OKSMT 2- Классификатор союзов и сообществ EK_EU. В остальных случаях не заполняется.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Preferencii" type="cltESAD_ru:PreferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Преференции, особенности уплаты платежей</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DestinationCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код страны назначения по общероссийскому классификатору стран мира. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConformityStatCostIndicator" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак приведения статистической стоимости  к установленной базе цен</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsCostCorrectMethod" type="cltESAD_cu:CustomsCostAppraiseMethodType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер метода определения таможенной стоимости. Заполняется в соответствии с классификатором методов определения таможенной стоимости.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsAddTNVEDCode" type="clt_ru:GoodsNomenclatuerAddCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код  товара по классификатору  дополнительной таможенной информации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsGroupDescription" type="catESAD_cu:GoodsGroupDescriptionType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Описание группы товаров одного наименования с отличающимися от других групп характеристиками</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Container" type="soup:ContainerType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Информация о контейнерах</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ESADGoodsShipmentPType">
    <xs:annotation>
      <xs:documentation>Сведения о товарной партии.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ConsignmentIdent_RU_MN" type="soup:ConsignmentIdentifierType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор товарной партии (номер Электронного манифеста)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginCountryName" type="clt_ru:CountryNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна происхождения товара. Наименование / разные / неизвестна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalGoodsNumber" type="clt_ru:PakageNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общее количество товаров в ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalPackageNumber" type="clt_ru:PakageNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общее количество грузовых мест</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalCustCost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о стоимости/общая таможенная стоимость</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustCostCurrencyCode" type="clt_ru:CurrencyN3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Цифровой код валюты таможенной стоимости</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalGrossWeight" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общий вес товара брутто (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConsignmentIdentifier" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Уникальный номер перевозки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DepartureCustomsCode" type="clt_ru:CodeVariable10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код таможенного органа отправления / место погрузки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DepartureCustomsName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование места погрузки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArriveCustomsCode" type="clt_ru:CodeVariable10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код таможенного органа прибытия / место разгрузки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArriveCustomsName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование места разгрузки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BorderCustomsOffice" type="clt_ru:CodeVariable10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код таможенного органа ввоза/вывоза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExitDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата вывоза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ESADoutConsignorP" type="soup:ESADoutConsignorPType">
        <xs:annotation>
          <xs:documentation>Сведения об отправителе товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ESADoutConsigneeP" type="soup:ESADoutConsigneePType">
        <xs:annotation>
          <xs:documentation>Сведения о получателе товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ESADoutCarrierP" type="soup:ESADoutCarrierPType">
        <xs:annotation>
          <xs:documentation>Сведения о перевозчике товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ESADoutFinAdjustRespPersonP" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о лице, ответственном за финансовое урегулирование</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ESADoutDeclarantP" type="soup:ESADoutDeclarantPType">
        <xs:annotation>
          <xs:documentation>Сведения о декларанте товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ESADoutMainContractTermsP" type="soup:ESADoutMainContractTermsPType">
        <xs:annotation>
          <xs:documentation>Сведения об условиях сделки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ESADoutConsigmenP" type="soup:ESADoutConsigmenPType">
        <xs:annotation>
          <xs:documentation>Сведения о перевозке товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ESADoutGoodsP" type="soup:ESADoutGoodsPType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товаре</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsPaymentsP" type="soup:CustomsPaymentsPType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Таможенные платежи к уплате</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportDocument" type="soup:TransportDocumentType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Информация о транспортных документах</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConfirmingOrganization" type="soup:ConfirmingOrganizationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Удостоверяющий</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsRemarks" type="soup:CustomsRemarksType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отметки таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ActNumber" type="cat_ru:GTDID6Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер акта таможенного досмотра (осмотра)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VOIActNumber" type="cat_ru:GTDIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер акта осмотра с ИДК</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ESADout_CUBorderTransportType">
    <xs:annotation>
      <xs:documentation>Транспортные средства на границе / внутри страны</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:CUTransportMeansType">
        <xs:sequence>
          <xs:element name="TransportMeansQuantity" type="clt_ru:Count5Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество транспортных средств</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MethodTransport" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Способ транспортировки товаров при перемещении по линиям электропередачи или трубопроводным транспортом: 1 - газопровод; 2 - нефтепровод; 3 - нефтепродуктопровод; 4 - линии электропередачи</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NameObject" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Наименование объекта, на котором установлены приборы учета товаров, перемещаемых по линиям электропередачи или трубопроводным транспортом</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransportMeans" type="catESAD_cu:TransportMeansRegistrationIdDetailsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Описание транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ESADoutCarrierPType">
    <xs:annotation>
      <xs:documentation>Сведения о перевозчике товаров</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType">
        <xs:sequence>
          <xs:element name="ESADDriverInformation" type="catESAD_cu:CUDriverInformationType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Информация о водителях транспортных средств</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ESADoutConsigmenPType">
    <xs:annotation>
      <xs:documentation>Сведения о перевозке товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ContainerIndicator" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак контейнерной перевозки (гр. 19)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DispatchCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна отправления. Буквенный код по общероссийскому классификатору стран мира либо по классификатору экономических союзов и сообществ.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DispatchCountryName" type="clt_ru:CountryNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна отправления. Наименование.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DestinationCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна назначения. Буквенный код по общероссийскому классификатору стран мира либо по классификатору экономических союзов и сообществ.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DestinationCountryName" type="clt_ru:CountryNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна назначения. Наименование.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BorderTransportP" type="soup:ESADout_CUBorderTransportType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Транспортные средства на границе. Гр. 21, 25 ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ESADoutConsigneePType">
    <xs:annotation>
      <xs:documentation>Сведения о получателе товаров</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ESADoutConsignorPType">
    <xs:annotation>
      <xs:documentation>Сведения о получателе товаров</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ESADoutDeclarantPType">
    <xs:annotation>
      <xs:documentation>Сведения о декларанте товаров</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType">
        <xs:sequence>
          <xs:element name="ESADFilledPerson" type="catESAD_cu:ESADFilledPersonType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о лице, заполнившем уведомление</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ESADoutGoodsPType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="soup:ESADGoodsItemPType">
        <xs:sequence>
          <xs:element name="ESADGoodsPackaging" type="catESAD_cu:ESADGoodsPackagingType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о грузовых местах, поддонах и упаковке товаров.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество в дополнительной единице измерения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ESADGoodsQuota" type="catESAD_cu:ESADGoodsQuotaType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Квота.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ESADCustomsProcedure" type="catESAD_cu:ESADCustomsProcedureType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Процедура.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ESADoutPresentedDocumentP" type="soup:ESADoutPresentedDocumentPType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Предоставляемые документы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPaymentCalcP" type="soup:CustomsPaymentCalcPType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Расчет таможенных платежей</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ESADoutMainContractTermsPType">
    <xs:annotation>
      <xs:documentation>Сведения об условиях сделки</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catESAD_cu:CUESADMainContractTermsType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ESADoutPresentedDocumentPType">
    <xs:annotation>
      <xs:documentation>Предоставляемые документы</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catESAD_cu:CUESADPresentedDocumentsType">
        <xs:sequence>
          <xs:element name="ForeignDocCode" type="clt_ru:CodeVariable20Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код вида предоставляемого документа (в иностранной ДТ)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о лице, осуществившем отправку</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>ФИО лица, осуществившего отправку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonPost" type="clt_ru:PostType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Должность</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportDocumentType">
    <xs:annotation>
      <xs:documentation>Информация о транспортных документах</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="Holder" type="clt_ru:NameType">
            <xs:annotation>
              <xs:documentation>Держатель накладной</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>