XsltProcessor/xsd/5.23.0/ExciseAmountReport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приказ Федеральной таможенной службы от 24 сентября 2019 г. N 1495 "Об утверждении формы отчета об объёмах ввезенных в Российскую Федерацию сигарет и (или) папирос, и (или) сигарилл, и (или) биди, и (или) кретека"  -->
<xs:schema xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:els_agr="urn:customs.ru:Information:ELSDocuments:ELSAggregateTypes:5.22.0" xmlns:ear="urn:customs.ru:Information:ELSDocuments:ExciseAmountReport:5.22.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:ELSDocuments:ExciseAmountReport:5.22.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:ELSDocuments:ELSAggregateTypes:5.22.0" schemaLocation="ELSAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Отчет об объемах ввезенных в Российскую Федерацию сигарет и (или) папирос, и (или) сигарилл, и (или) биди, и (или) кретека</xs:documentation>
  </xs:annotation>
  <xs:element name="ExciseAmountReport" type="ear:ExciseAmountReportType">
    <xs:annotation>
      <xs:documentation>Отчет об объемах ввезенных в Российскую Федерацию сигарет и (или) папирос, и (или) сигарилл, и (или) биди, и (или) кретека</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ExciseAmountReportType">
    <xs:annotation>
      <xs:documentation>Отчет об объемах ввезенных в Российскую Федерацию сигарет и (или) папирос, и (или) сигарилл, и (или) биди, и (или) кретека</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ReportDocument" type="cat_ru:DocumentBaseType">
            <xs:annotation>
              <xs:documentation>Номер и дата отчета</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistrationDocument" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер и дата регистрации отчета</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConfirmationDocument" type="cat_ru:DocumentBaseType">
            <xs:annotation>
              <xs:documentation>Документ-подтверждение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Importer" type="ear:OrganizationType">
            <xs:annotation>
              <xs:documentation>Налогоплательщик</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReportInfo" type="ear:ReportExtType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Отчетные данные</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AttachedDocuments" type="ear:AttachedDocumentsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Перечень прилагаемых документов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DirSignature" type="cat_ru:PersonSignatureType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Подпись руководителя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MainAcnSignature" type="cat_ru:PersonSignatureType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Подпись главного бухгалтера</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1040038E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AttachedDocumentsType">
    <xs:annotation>
      <xs:documentation>Перечень прилагаемых документов</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="EDocCode" type="clt_ru:CodeVariable10Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код вида электронного документа (сведений)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocArchIdDetails" type="catESAD_cu:RFBasePresentedDocIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификаторы, присвоенные документу (сведениям) при размещении в хранилище электронных документов</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExciseRateType">
    <xs:annotation>
      <xs:documentation>Ставка акциза</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DutyTaxFeeRateValue" type="cltESAD_cu:RateType">
        <xs:annotation>
          <xs:documentation>Значение ставки (Rate1)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RateTypeCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид ставки (адвалорная -«%», специфическая - «*»)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RateCurrencyCode" type="clt_ru:CurrencyN3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Цифровой код валюты ставки (специфическая ставка)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RateTNVEDQualifierCode" type="clt_ru:MeasureUnitQualifierCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код единицы измерения ставки (специфическая ставка)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WeightingFactor" type="cltESAD_cu:WeightingFactorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Весовой коэффициент единицы измерения (специфическая ставка)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComparisonOperationsSign" type="clt_ru:Numeric1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Знак операции сравнения (1 - меньше, 2 - больше)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Rate2" type="cltESAD_cu:RateType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ставка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RateTypeCode2" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид ставки (адвалорная -«%», специфическая - «*»)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RateCurrencyCode2" type="clt_ru:CurrencyN3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Цифровой код валюты ставки (специфическая ставка)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RateTNVEDQualifierCode2" type="clt_ru:MeasureUnitQualifierCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код единицы измерения ставки (специфическая ставка)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WeightingFactor2" type="cltESAD_cu:WeightingFactorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Весовой коэффициент единицы измерения (специфическая ставка)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OperationsSign" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Знак операции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Rate3" type="cltESAD_cu:RateType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ставка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RateTypeCode3" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид ставки (адвалорная -«%», специфическая - «*»)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RateCurrencyCode3" type="clt_ru:CurrencyN3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Цифровой код валюты ставки (специфическая ставка)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RateTNVEDQualifierCode3" type="clt_ru:MeasureUnitQualifierCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код единицы измерения ставки (специфическая ставка)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WeightingFactor3" type="cltESAD_cu:WeightingFactorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Весовой коэффициент единицы измерения (специфическая ставка)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComparisonResult" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Результат выполнения операции сравнения: 1 - истина; 0 - ложь</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RateUseDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата применения ставки таможенного платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganizationType">
    <xs:annotation>
      <xs:documentation>Лицо, предоставляющее отчет</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationType">
        <xs:sequence>
          <xs:element name="BankAccInfo" type="cat_ru:BankInformationType">
            <xs:annotation>
              <xs:documentation>Банковские реквизиты</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ReportExtType">
    <xs:annotation>
      <xs:documentation>Отчетные данные</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ReportNumeric" type="clt_ru:Count5Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер записи в отчете</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentType" type="clt_ru:Quantity3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип документа уплаты акциза (0 - ДТ, 1 - Заявление об уплате акциза, 2 - Отчетная партия)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationNumber" type="els_agr:RegistrationNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер ДТ/Заявления об уплате акциза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsNumeric" type="clt_ru:Count5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порядковый номер товара в ДТ или Заявлении</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVED" type="clt_ru:GoodsNomenclatureCodeType">
        <xs:annotation>
          <xs:documentation>ТН ВЭД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginCountry" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна происхождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DepartCountry" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна отправления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExciseMeasureUnit" type="clt_ru:MeasureUnitQualifierCodeType">
        <xs:annotation>
          <xs:documentation>Единица измерения количества товара для целей применения ставки акциза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExciseAmountNatural" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Совокупный объем ввезенных в Российскую Федерацию товаров с начала календарного месяца в натуральном выражении, кг</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExciseAmountInMeasureUnit" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Совокупный объем ввезенных в Российскую Федерацию товаров с начала календарного месяца в единицах, используемых для расчета акциза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MaxPrice" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Максимальная розничная цена (для целей применения ставки акциза)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaxBase" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Налоговая база</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExciseRate" type="ear:ExciseRateType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ставка акциза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AvgAmountNatural" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Среднемесячный совокупный объем ввезенных в Российскую Федерацию товаров в предыдущем календарном году в натуральном выражении, кг</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AvgAmountInMeasureUnit" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Среднемесячный совокупный объем ввезенных в Российскую Федерацию товаров в предыдущем календарном году в единицах, используемых для расчета акциза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExciseCoeff" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Значение коэффициента, рассчитываемого в единицах, используемых для расчета акциза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExciseSum" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма акциза к уплате</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>