XsltProcessor/xsd/5.23.0/ExportCommercialAct.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:cltTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.14.3" xmlns:eca="urn:customs.ru:Information:TransportDocuments:Railway:ExportCommercialAct:5.22.0" targetNamespace="urn:customs.ru:Information:TransportDocuments:Railway:ExportCommercialAct:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.14.3" schemaLocation="TransportCommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Коммерческий акт РЖД</xs:documentation>
  </xs:annotation>
  <xs:element name="ExportCommercialAct" type="eca:ExportCommercialActType">
    <xs:annotation>
      <xs:documentation>Коммерческий акт РЖД</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ExportCommercialActType">
    <xs:annotation>
      <xs:documentation>Коммерческий акт РЖД</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="CommerceActNumber" type="clt_ru:FreeText500Type">
            <xs:annotation>
              <xs:documentation>Номер коммерческого акта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CarrierName" type="clt_ru:FreeText500Type">
            <xs:annotation>
              <xs:documentation>Наименование перевозчика, составляющего коммерческий акт</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DepartureStation" type="eca:StationType">
            <xs:annotation>
              <xs:documentation>Ж/д станция и дорога, на которой составляется коммерческий акт</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CommerceActDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата фактического установления обстоятельств, являющихся основанием для составления акта </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConsignorName" type="clt_ru:FreeText500Type">
            <xs:annotation>
              <xs:documentation>Наименование грузоотправителя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConsigneeName" type="clt_ru:FreeText500Type">
            <xs:annotation>
              <xs:documentation>Наименование грузополучателя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DispatchStation" type="clt_ru:FreeText500Type">
            <xs:annotation>
              <xs:documentation>Наименование станции отправления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DestinationStation" type="clt_ru:FreeText500Type">
            <xs:annotation>
              <xs:documentation>Наименование станции назначения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Number" type="clt_ru:DocumentNumberType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Номер отправки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ContractOfCarriageDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата заключения договора перевозки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CarriageID" type="clt_ru:TransportMeansIDType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Номер вагона, ИТЕ, АТС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AddSheetsCount" type="clt_ru:Count5Type">
            <xs:annotation>
              <xs:documentation>Количество доп. листов к коммерческому акту </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AddSheetToCommercAct" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Дополнительный лист к коммерческому акту </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GeneralAct" type="cat_ru:DocumentBaseType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Реквизиты акта общей формы, на основании которого составляется коммерческий акт</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TechnicallyServiceableInf" type="clt_ru:FreeText500Type">
            <xs:annotation>
              <xs:documentation>Сведения о технической исправности/неисправности вагона/контейнера</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LoaderModeDescription" type="clt_ru:FreeText500Type">
            <xs:annotation>
              <xs:documentation>Сведения о том, кем погружен груз (перевозчиком/отправителем)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="VerificationResults" type="eca:VerificationResultsType">
            <xs:annotation>
              <xs:documentation>Результаты проверки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BasisForPreparationCommercAct" type="clt_ru:FreeText500Type">
            <xs:annotation>
              <xs:documentation>Обстоятельства, являющиеся основанием для составления коммерческого акта. Описание груза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CarrierPersons" type="cat_ru:PersonBaseType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Представители перевозчика</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConsPersons" type="cat_ru:PersonBaseType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Представители отправителя / получателя (при участии в проверке груза)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1003441E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="GoodsDescriptionType">
    <xs:annotation>
      <xs:documentation>Сведения о грузе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SignsMarksNumbers" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Знаки, марки, номера </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PlacesQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество мест</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PackingType" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Род упаковки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsName" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование груза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalWeigth" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общая масса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PlaceWeigth" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Масса одного места</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StationType">
    <xs:annotation>
      <xs:documentation>Сведения о железнодорожной станции и дороге</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StationCode" type="clt_ru:RailwayStationCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код станции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StationName" type="clt_ru:PlaceNameType">
        <xs:annotation>
          <xs:documentation>Тарифное наименование станции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RailwayCode" type="cltTrans_ru:RailwayCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код железной дороги </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RWName" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование железной дороги</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Буквенный код страны расположения станции в соответствии с классификатором стран мира</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VerificationResultsType">
    <xs:annotation>
      <xs:documentation>Результаты проверки</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ListedOnInvoice" type="eca:GoodsDescriptionType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Значится по накладной</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CheckingResult" type="eca:GoodsDescriptionType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Оказалось при проверке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DamagedPlaces" type="eca:GoodsDescriptionType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>В том числе поврежденных мест</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>