XsltProcessor/xsd/5.23.0/GeneralDeclaration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:cltTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.14.3" xmlns:gd="urn:customs.ru:Information:TransportDocuments:Sea:GeneralDeclaration:5.22.0" targetNamespace="urn:customs.ru:Information:TransportDocuments:Sea:GeneralDeclaration:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.14.3" schemaLocation="TransportCommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Общая (генеральная) декларация</xs:documentation>
  </xs:annotation>
  <xs:element name="GeneralDeclaration" type="gd:GeneralDeclarationType">
    <xs:annotation>
      <xs:documentation>Общая (генеральная) декларация</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GeneralDeclarationType">
    <xs:annotation>
      <xs:documentation>Общая (генеральная) декларация</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Notice" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LanguageCode" type="clt_ru:LanguageCodeType">
            <xs:annotation>
              <xs:documentation>Код языка документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Carrier" type="clt_ru:NameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование судовладельца</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArrivalIndicator" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак прибытия судна относительно Российской стороны</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="VoyageDescription" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Краткие сведения о рейсе (предыдущие и последующие порты захода; подчеркнуть, где будет выгружен остающийся на борту груз)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Краткое описание груза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MembershipNumber" type="clt_ru:Quantity5Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество членов экипажа судна, включая капитана</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PassengerNumber" type="clt_ru:Quantity5Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество пассажиров </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeparturePort" type="cltTrans_ru:PortNameType">
            <xs:annotation>
              <xs:documentation>Название порта отправления судна</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DestinationPort" type="cltTrans_ru:PortNameType">
            <xs:annotation>
              <xs:documentation>Название порта назначения судна</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Mooring" type="clt_ru:PlaceNameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Место стоянки судна в порту</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="VesselRegistration" type="gd:VesselRegistrationType">
            <xs:annotation>
              <xs:documentation>Реквизиты и характеристики судна, сведения о регистрации судна</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentSignature" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Подпись документа капитаном, морским агентом или каким-либо другим лицом, надлежащим образом уполномоченным на то капитаном</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ShipAgent" type="cat_ru:OrganizationType">
            <xs:annotation>
              <xs:documentation>Судовой агент</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:choice>
            <xs:annotation>
              <xs:documentation>Сведения о прибытии или убытии судна </xs:documentation>
            </xs:annotation>
            <xs:element name="Arrival" type="gd:GDPortType">
              <xs:annotation>
                <xs:documentation>Сведения о прибытии</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Sailing" type="gd:GDPortType">
              <xs:annotation>
                <xs:documentation>Сведения об убытии</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element name="EnclosedDocument" type="gd:EnclosedDocumentType">
            <xs:annotation>
              <xs:documentation>Информация о прилагаемых документах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код и наименование таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1003201E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="EnclosedDocumentType">
    <xs:annotation>
      <xs:documentation>Информация о прилагаемых документах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ShipStoresDeclarationCopyNumber" type="clt_ru:Quantity2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Число копий Декларации о судовых припасах</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SailingCargoDeclarationCopyNumber" type="clt_ru:Quantity2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Число копий Декларации о грузе при отходе судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArrivalCargoDeclarationCopyNumber" type="clt_ru:Quantity2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Число копий Декларации о грузе при приходе судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CrewListCopyNumber" type="clt_ru:Quantity2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Число копий Судовой роли</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PassengerListCopyNumber" type="clt_ru:Quantity2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Число копий Списка пассажиров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BaggageDeclarationCopyNumber" type="clt_ru:Quantity2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Число копий Декларации о личных вещах экипажа </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SeaMedicalDeclarationCopyNumber" type="clt_ru:Quantity2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Число копий Морской санитарной декларации </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GDPortType">
    <xs:annotation>
      <xs:documentation>Сведения о прибытии/убытии судна</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DateTimeInf" type="clt_ru:DateTimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата и время</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PortName" type="cltTrans_ru:PortNameType">
        <xs:annotation>
          <xs:documentation>Название порта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountyName" type="clt_ru:CountryNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование страны</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType">
        <xs:annotation>
          <xs:documentation>Код страны</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VesselRegistrationType">
    <xs:annotation>
      <xs:documentation>Реквизиты и характеристики судна, сведения о регистрации судна</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Name" type="clt_ru:Text40Type">
        <xs:annotation>
          <xs:documentation>Наименование судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Shipmaster" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Фамилия капитана судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NationalityCode" type="clt_ru:CountryN3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код страны принадлежности судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NationalityVessel" type="clt_ru:CountryNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Национальная принадлежность судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NationalityVesselCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Буквенный код страны принадлежности судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата регистрации судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationID" type="clt_ru:DocumentIDType">
        <xs:annotation>
          <xs:documentation>Номер регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationPort" type="cltTrans_ru:PortNameType">
        <xs:annotation>
          <xs:documentation>Порт регистрации судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrossTonnage" type="clt_ru:Quantity8Type">
        <xs:annotation>
          <xs:documentation>Валовая вместимость (тоннаж)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NetTonnage" type="clt_ru:Quantity8Type">
        <xs:annotation>
          <xs:documentation>Чистая вместимость (тоннаж)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IMO" type="cltTrans_ru:IMOSeaType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИМО судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Flag" type="clt_ru:CountryNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Флаг судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShipTypeCode" type="clt_ru:CodeVariable4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код типа судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VesselType" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Тип судна</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>