XsltProcessor/xsd/5.23.0/GeneralDeclarationAirTransport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:cltTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.14.3" xmlns:catTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.23.0" xmlns:gdat="urn:customs.ru:Information:TransportDocuments:Air:GeneralDeclarationAirTransport:5.23.0" targetNamespace="urn:customs.ru:Information:TransportDocuments:Air:GeneralDeclarationAirTransport:5.23.0" elementFormDefault="qualified" version="5.23.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.14.3" schemaLocation="TransportCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.23.0" schemaLocation="TransportCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Генеральная декларация - стандартный документ перевозчика, предусмотренный международными соглашениями в области гражданской авиации, который выписывается по принципу "от аэропорта до аэропорта" и содержит информацию о воздушном судне, эксплуатанте, маршруте полета, данные об экипаже, а также иные сведения. </xs:documentation>
  </xs:annotation>
  <xs:element name="GeneralDeclarationAirTransport" type="gdat:GeneralDeclarationAirTransportType">
    <xs:annotation>
      <xs:documentation>Генеральная авиа декларация</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GeneralDeclarationAirTransportType">
    <xs:annotation>
      <xs:documentation>Генеральная авиа декларация</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="LanguageCode" type="clt_ru:LanguageCodeType">
            <xs:annotation>
              <xs:documentation>Код языка документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Carrier" type="clt_ru:NameType">
            <xs:annotation>
              <xs:documentation>Наименование собственника воздушного судна или перевозчика </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Notice" type="clt_ru:FreeText500Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Примечание </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FoodSetQuantity" type="clt_ru:Count3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество комплектов питания</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CarrierCode" type="clt_ru:Code2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Двухсимвольный код  перевозчика</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CrewMembersNumber" type="clt_ru:Count2Type">
            <xs:annotation>
              <xs:documentation>Количество членов экипажа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RoutingSign" type="clt_ru:DigitalIndicatorType">
            <xs:annotation>
              <xs:documentation>Прилет/Вылет. 1 - прилет; 0 - вылет</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Flight" type="catTrans_ru:FlightInfoType">
            <xs:annotation>
              <xs:documentation>Сведения о рейсе </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentSignature" type="cat_ru:PersonSignatureType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Подпись уполномоченного агента или лица командного состава </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CockpitPersonnel" type="gdat:CockpitPersonnelType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Информация об экипаже</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DestinationAirport" type="catTrans_ru:AirportType">
            <xs:annotation>
              <xs:documentation>Аэропорт назначения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RoutingInfo" type="catTrans_ru:RoutigInfoType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Информация о маршруте </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Registration" type="gdat:RegistrationType">
            <xs:annotation>
              <xs:documentation>Сведения о составлении документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PassengerQuantity" type="gdat:PassengerQuantityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Информация о количестве пассажиров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FuelInfo" type="gdat:FuelInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Информация о топливе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="POLInformation" type="gdat:AdditionalInfoType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Информация о ГСМ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WeaponInfo" type="gdat:AdditionalInfoType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Информация о наличии оружия и военного снаряжения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PsychotropicAgentInfo" type="gdat:AdditionalInfoType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Информация о наличии  психотропных  средств</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Mark" type="gdat:MarkType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Отметки о прохождении товарами таможенного и иных видов государственного контроля.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DestinationCountry" type="gdat:CountryInfoType">
            <xs:annotation>
              <xs:documentation>Страна назначения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DepartureCountry" type="gdat:CountryInfoType">
            <xs:annotation>
              <xs:documentation>Страна отправления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код и наименование таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SignInOut" type="gdat:SignInOutType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак совершения промежуточной, вынужденной (технической) посадки воздушного судна на территории РФ и на его борту отсутствуют товары, подлежащие разгрузке (выгрузке) или погрузке в месте посадки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateBegTransitGoodsOfTheCU" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата начала международной перевозки грузов по территории Таможенного Союза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateReturnVehicle" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата обратного ввоза/вывоза транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EquipmentInfo" type="gdat:EquipmentInfoType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Запасные части и оборудование на борту</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FlyAwayKit" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наличие на борту ВС технической аптечки (Fly Away Kit): true или 1 - Да; false или 0 - Нет</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GDATGoodsInfo" type="gdat:GDATGoodsInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Информация о грузе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GDAT_MPOInfo" type="gdat:GDAT_MPOInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Информация о почте</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1003302E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AdditionalInfoType">
    <xs:annotation>
      <xs:documentation>Прочая информация</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Description" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BillNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер расходной накладной</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuantityCode" type="clt_ru:CodeVariable2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код единицы измерения количества</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ItemQuantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Количество </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AirWayBillNumber" type="catTrans_ru:AWBNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер авианакладной</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CockpitPersonnelType">
    <xs:annotation>
      <xs:documentation>Информация об экипаже</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonBaseType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CountryInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о стране</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CountryName" type="clt_ru:CountryNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование страны</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType">
        <xs:annotation>
          <xs:documentation>Код страны</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EquipmentInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о запасных частях и оборудовании на борту</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="EquipmentName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Наименование агрегата</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PartyUnitNumber" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Партийный номер агрегата</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SerialUnitNumber" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Серийный номер агрегата</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FuelInfoType">
    <xs:annotation>
      <xs:documentation>Информация о топливе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FuelQuantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Количество топлива</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FuelQualifierName" type="clt_ru:MeasureUnitQualifierNameType">
        <xs:annotation>
          <xs:documentation>Наименование единицы измерения топлива</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MaxFuelQuantity" type="clt_ru:WeighQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Максимальная вместимость топлива</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GDATGoodsInfoType">
    <xs:annotation>
      <xs:documentation>Информация о грузе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PlacesQuantity" type="clt_ru:PackagesQuantityType">
        <xs:annotation>
          <xs:documentation>Количество грузовых мест</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrossWeightQuantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Вес товара в кг, брутто</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GDAT_MPOInfoType">
    <xs:annotation>
      <xs:documentation>Информация о почте</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MPOPlacesQuantity" type="clt_ru:Quantity5Type">
        <xs:annotation>
          <xs:documentation>Количество мест</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MPOGrossWeightQuantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Вес в кг</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MarkType">
    <xs:annotation>
      <xs:documentation>Отметки о прохождении товарами таможенного и иных видов государственного контроля.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MarkSing" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак наличия отметки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MarkKind" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Тип отметки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResultControl" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Результат прохождения контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PassengerQuantityType">
    <xs:annotation>
      <xs:documentation>Информация о количестве пассажиров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DeparturePass" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Количество пассажиров принятых  в пункте отправления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransferDepartPass" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кол-во трансфертных пассажиров в аэропорту убытия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DestinationPass" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество пассажиров выходящих  в аэропорту назначения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransferDestinationPass" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество трансфертных пассажиров в аэропорту назначения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrationType">
    <xs:annotation>
      <xs:documentation>Сведения о составлении документа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Date" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата составления документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Place" type="clt_ru:PlaceNameType">
        <xs:annotation>
          <xs:documentation>Место составления документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AirlineIATACode" type="cltTrans_ru:AirlineIATACodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>IATA-код авиакомпании </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AirlineICAOCode" type="clt_ru:Code3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ICAO-код авиакомпании. Буквенный</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentNumber" type="clt_ru:Code8Type">
        <xs:annotation>
          <xs:documentation>Серийный номер документа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SignInOutType">
    <xs:annotation>
      <xs:documentation>Признак совершения промежуточной, вынужденной (технической) посадки воздушного судна на территории РФ и на его борту отсутствуют товары, подлежащие разгрузке (выгрузке) или погрузке в месте посадки</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="LandingSign" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак о совершении промежуточной, вынужденной (технической) посадки воздушного судна на территории РФ.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodSign" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>На борту воздушного судна отсутствуют товары, подлежащие разгрузке (выгрузке) или погрузке в месте посадки</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>