XsltProcessor/xsd/5.23.0/GoodsClassificationDecision.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приказ ФТС России от 06.02.2019 № 194 
IDDoc = 'ОЗ' - Приложение 5 - Решение об отказе в рассмотрении заявления о принятии решения о классификации товара, перемещаемого через таможенную границу ЕАЭС в несобранном или разобранном виде, в том числе в некомплектном или незавершенном виде, ввоз или вывоз которого предполагается различными товарными партиями в течение установленного периода времени
IDDoc = 'ОЕ' Приложение 8 - Решение об отказе в принятии решения о классификации товара, перемещаемого через таможенную границу ЕАЭС в несобранном или разобранном виде, в том числе в некомплектном или незавершенном виде, ввоз или вывоз которого предполагается различными товарными партиями в течение установленного периода времени
IDDoc = 'КР' Приложение 10 - Решение о классификации товара, перемещаемого через таможенную границу ЕАЭС в несобранном или разобранном виде, в том числе в некомплектном или незавершенном виде, ввоз или вывоз которого предполагается различными товарными партиями в течение установленного периода времени
IDDoc = 'ОИ' Приложение 14 - Решение об отказе в рассмотрении заявления о внесении изменений в решение о классификации товара, перемещаемого через таможенную границу ЕАЭС в несобранном или разобранном виде, в том числе в некомплектном или незавершенном виде, ввоз или вывоз которого предполагается различными товарными партиями в течение установленного периода времени
IDDoc = 'ИЗ' Приложение 16 - Решение о внесении изменений в решение о классификации товара, перемещаемого через таможенную границу ЕАЭС в несобранном или разобранном виде, в том числе в некомплектном или незавершенном виде, ввоз или вывоз которого предполагается различными товарными партиями в течение установленного периода времени
IDDoc = 'ПД' Приложение 18 - Решение о прекращении действия решения о классификации товара, перемещаемого через таможенную границу ЕАЭС в несобранном или разобранном виде, в том числе в некомплектном или незавершенном виде, ввоз или вывоз которого предполагается различными товарными партиями в течение установленного периода времени
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:RUDECLcat="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.23.0" xmlns:gcd="urn:customs.ru:Information:CustomsDocuments:GoodsClassificationDecision:5.23.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:GoodsClassificationDecision:5.23.0" elementFormDefault="qualified" version="5.23.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.23.0" schemaLocation="RUDeclCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Решение, связанное с классификацией товара в несобранном или разобранном виде, в том числе в некомплектном или незавершенном виде</xs:documentation>
  </xs:annotation>
  <xs:element name="GoodsClassificationDecision" type="gcd:GoodsClassificationDecisionType">
    <xs:annotation>
      <xs:documentation> Решениее, связанное с классификацией товара в несобранном или разобранном виде, в том числе в некомплектном или незавершенном виде</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GoodsClassificationDecisionType">
    <xs:annotation>
      <xs:documentation>Тип решения о классификации товара в несобранном или разобранном виде, в том числе в некомплектном или незавершенном виде</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="RegistryNumber" type="gcd:RegistryNumberType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер  решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApplicationRegistration" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Исходящий номер и дата заявления </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PrecedingDecisionRegNumber" type="gcd:RegistryNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер изменяемого/отменяемого Решения о классификации (ИЗ/ОИ/ПД)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Код и наименование таможенного органа, принявшего решение			 </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsDecl" type="cat_ru:CustomsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код и наименование таможенного органа, в зоне деятельности которого будет производиться декларирование </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Declarant" type="gcd:DeclarantType">
            <xs:annotation>
              <xs:documentation>Сведения о заявителе </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Наименование товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsInformation" type="gcd:GoodsInformationType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Марка, модель, артикул и иные характеристики товара  (кроме ИЗ и ОИ) </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsTNVED" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Классификационный код по ТН ВЭД ЕАЭС (КР - Гр.7)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InterpretationRules" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Обоснование принятия решения. Правила интерпретации (КР,ОЗ,ОЕ,ПД - Гр.8, ОИ-Гр.9, ИЗ-Гр.10)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReasonsForDecision" type="gcd:ReasonsForDecisionType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Причины принятия решения  (ОЗ,ОЕ,ПД - Гр.9, ОИ-Гр.10, ИЗ-Гр.11)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsDirection" type="clt_ru:CUCustomsProcedureType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Направление перемещения товаров: ИМ/ЭК</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsModeCode" type="cltESAD_cu:CustomsModeCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Вид таможенной процедуры, под которую будет помещен товар (КР - Гр.9)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Documents" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Наименование и реквизиты документов, которые подтверждают совершение внешнеэкономической сделки и в соответствии с которыми будет осуществляться ввоз или вывоз компонентов товара (КР - Гр.10)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPerson" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Подпись должностного лица таможенного органа, принявшего решение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateEntryIntoForce" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Срок вступления в силу решения (ИЗ и ПД)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ComponentList" type="RUDECLcat:DisassemComponentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Перечень компонентов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ComponentListCopies" type="clt_ru:Count3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество экземпляров перечня компонентов, приложенного к решению  (КР - Гр.11)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ComponentListPages" type="clt_ru:SheetNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Общее количество листов перечня  компонентов, приложенного к решению  (КР- Гр.11) </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TypeChange" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Тип изменений (ИЗ - Гр.12) </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StartDelivery" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Начало поставки товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TermOfDelivery" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Окончание поставки товара </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ModificationContent" type="gcd:ModificationContentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Содержание изменений в графах решения о внесении изменений в решение о классификации (ИЗ - Графы 8,9,10)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Mark" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Служебные отметки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Comment" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006057E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="RegistryNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер  и дата документа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IDDoc" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Идентификатор вида документа: КР - решение о классификации товара; ОЗ - решение об отказе в рассмотрении заявления о принятии решения о классификации; ОЕ - решение об отказе в принятии решения о классификации товара; ИЗ - решение о внесении изменений в решение о классификации; ОИ - решение об отказе в рассмотрении заявления о внесении изменений в решение о классификации товара; ПД - решение о прекращении действия решения о классификации.
			         </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType">
        <xs:annotation>
          <xs:documentation>Буквенный код государства-члена Евразийского экономического союза  </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Date" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата принятия документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SerialNumber" type="clt_ru:Code4Type">
        <xs:annotation>
          <xs:documentation>Порядковый исходящий номер</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsInformationType">
    <xs:annotation>
      <xs:documentation>Характеристика товара</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsMark" type="cltESAD_cu:GoodsArticulType">
        <xs:annotation>
          <xs:documentation>Марка товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsModel" type="cltESAD_cu:GoodsArticulType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Модель товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsMarking" type="cltESAD_cu:GoodsArticulType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Артикул товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsOtherInfo" type="cltESAD_cu:GoodsArticulType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Иные характеристики</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeclarantType">
    <xs:annotation>
      <xs:documentation>Сведения о заявителе</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationType">
        <xs:sequence>
          <xs:element name="Chief" type="cat_ru:PersonBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Руководитель (заместителя руководителя)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ReasonsForDecisionType">
    <xs:annotation>
      <xs:documentation>Причины принятия решения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Number" type="clt_ru:CodeVariable4Type">
        <xs:annotation>
          <xs:documentation>Номер в соответствии с классификатором</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Text" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Текстовое описание причины</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModificationContentType">
    <xs:annotation>
      <xs:documentation>Содержание изменений в решении о классификации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Number" type="clt_ru:Count5Type">
        <xs:annotation>
          <xs:documentation>Номер изменения по порядку в графе 8</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IDGrafa" type="clt_ru:Code4Type">
        <xs:annotation>
          <xs:documentation>Номер графы решения, в которую вносится изменение (гр.8)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Original" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Исходное состояние графы (Гр.9)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Modification" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Графа с внесенными изменениями (Гр.10)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>