XsltProcessor/xsd/5.23.0/GoodSearchRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:gsch="urn:customs.ru:Information:ExchangeDocuments:GoodSearchRequest:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:ExchangeDocuments:GoodSearchRequest:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Запрос о розыске недоставленных товаров</xs:documentation>
  </xs:annotation>
  <xs:element name="GoodSearchRequest" type="gsch:GoodSearchRequestType" />
  <xs:complexType name="GoodSearchRequestType">
    <xs:annotation>
      <xs:documentation>Запрос о розыске недоставленных товаров</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="GoodsRegistrationDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата оформления товарной партии в таможне</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConsignmentNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер товарно-транспортной накладной</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TD" type="cat_ru:GTDIDType">
            <xs:annotation>
              <xs:documentation>Номер транзитной декларации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Transport" type="gsch:CarriageType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о транспортном средстве</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Таможенный орган регистрации документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPerson" type="cat_ru:CustomsPersonType">
            <xs:annotation>
              <xs:documentation>Сведения о должностном лице таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeparturePlace" type="gsch:PlaceType">
            <xs:annotation>
              <xs:documentation>Место отправления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DestinationPlace" type="gsch:PlaceType">
            <xs:annotation>
              <xs:documentation>Место назначения</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1004107E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Описание товара</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Container" type="clt_ru:ContainerIdentityType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Контейнер</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlaceType">
    <xs:annotation>
      <xs:documentation>Место назначения/отправления</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StationCode" type="clt_ru:RailwayStationCodeType">
        <xs:annotation>
          <xs:documentation>Код станции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StationName" type="clt_ru:PlaceNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование станции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RailwayCode" type="clt_ru:CodeVariable4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код железной дороги</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CarriageType">
    <xs:annotation>
      <xs:documentation>Сведения о транспортном средстве</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:TransportMeansBaseType">
        <xs:sequence>
          <xs:element name="GoodsInfo" type="gsch:GoodsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Описание товара</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>