XsltProcessor/xsd/5.23.0/GuarantCertificate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Проект Решения Коллегии ЕЭК "Структура и формат сертификата обеспечения исполнения обязанности по уплате таможенных пошлин, налогов"-->
<!-- аналог документа ЕЭК R.044 (EEC_R_044_GuaranteeCertificate_v1.0.0.xsd) -->
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:grn_cat="urn:customs.ru:Information:GuaranteeDocuments:GuaranteeCommonAggregateTypesCust:5.23.0" xmlns:guar_cer="urn:customs.ru:Information:GuaranteeDocuments:GuarantCertificate:5.23.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" targetNamespace="urn:customs.ru:Information:GuaranteeDocuments:GuarantCertificate:5.23.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.23.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:GuaranteeDocuments:GuaranteeCommonAggregateTypesCust:5.23.0" schemaLocation="GuaranteeCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Сертификат обеспечения исполнения обязанности по уплате таможенных пошлин, налогов</xs:documentation>
  </xs:annotation>
  <xs:element name="GuarantCertificate" type="guar_cer:GuarantCertificateType">
    <xs:annotation>
      <xs:documentation>Сертификат обеспечения исполнения обязанности по уплате таможенных пошлин, налогов</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GuarantCertificateType">
    <xs:annotation>
      <xs:documentation>Сертификат обеспечения исполнения обязанности по уплате таможенных пошлин, налогов</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="EECEDocHeaderAddInfo" type="RUScat_ru:EECEDocHeaderAddInfoType">
            <xs:annotation>
              <xs:documentation>Дополнительные технологические реквизиты электронного документа (сведений)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EDocIndicatorCode" type="clt_ru:Code2Type">
            <xs:annotation>
              <xs:documentation>Признак электронного документа "ЭД" (гр.1)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GuaranteeCertificateIdDetails" type="cat_ru:GTDIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер сертификата (гр"А") </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EndDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата окончания срока действия сертификата (гр."B") </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GuaranteeCertificateInformationDetails" type="guar_cer:GuaranteeCertificateInformationDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения, заполняемые лицом, представившим сертификат обеспечения исполнения обязанности по уплате таможенных пошлин, налогов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GuaranteeCertificateMarkDetails" type="guar_cer:GuaranteeCertificateMarkDetailsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения об отметке таможенного органа регистрации или таможенного органа отправления (гр."C" и "D")</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1050025E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CustomsPersonDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о должностном лице таможенного органа</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonBaseType">
        <xs:sequence>
          <xs:element name="LNP" type="clt_ru:LNPIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ЛНП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LNPCustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код таможенного органа, указанный на оттиске ЛНП</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DocBaseType">
    <xs:annotation>
      <xs:documentation>Сведения о реквизитах документа</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="DocStartDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата начала срока, в течение которого документ имеет силу</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocValidityDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата окончания срока, в течение которого документ имеет силу</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocKindCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код вида документа в соответствии с классификатором видов документов и сведений, используемых при таможенном декларировании</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GCGuaranteeConfirmDocDetailsType">
    <xs:annotation>
      <xs:documentation>Cведения о документе, подтверждающем обеспечение исполнения обязанности по уплате таможенных и иных платежей</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GuaranteeDocDetails" type="guar_cer:DocBaseType">
        <xs:annotation>
          <xs:documentation>Cведения о документе, подтверждающем предоставление обеспечения исполнения обязанности по уплате таможенных и иных платежей, или таможенном документе, подтверждающем принятие такого обеспечения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocV4Details" type="RUScat_ru:DocBaseV4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Cведения о регистрационном номере документа, подтверждающего предоставление обеспечения исполнения обязанности по уплате таможенных и иных платежей, присвоенном таможенным органом</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GuaranteeAmount" type="grn_cat:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Размер предоставленного обеспечения по документу</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GuaranteeCertificateAgentDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о лице, представившем сертификат обеспечения исполнения обязанности по уплате таможенных пошлин, налогов</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType">
        <xs:sequence>
          <xs:element name="EqualIndicator" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак совпадения (не совпадения) сведений со сведениями о лице, предоставившем обеспечение исполнения обязанности по уплате таможенных и иных платежей 1 - сведения совпадают</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GuaranteeCertificateInformationDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения, заполняемые лицом, представившим сертификат обеспечения исполнения обязанности по уплате таможенных пошлин, налогов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefGuaranteeCertificateIdDetails" type="cat_ru:GTDIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер предшествующего сертификата обеспечения исполнения обязанности по уплате таможенных пошлин, налогов (гр.8)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SuretySubjectDetails" type="RUScat_ru:SubjectDetailsType">
        <xs:annotation>
          <xs:documentation>Сведения о лице, предоставившем обеспечение исполнения обязанности по уплате таможенных и иных платежей (гр.2)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentGuaranteeMethodCode" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение способа обеспечения исполнения обязанности по уплате таможенных пошлин, налогов (гр. 3)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GCGuaranteeConfirmDocDetails" type="guar_cer:GCGuaranteeConfirmDocDetailsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Cведения о документе, подтверждающем обеспечение исполнения обязанности по уплате таможенных и иных платежей (гр. 3)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GuaranteeAmount" type="grn_cat:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма сертификата обеспечения исполнения обязанности по уплате таможенных пошлин, налогов (гр. 4)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransitDeclarantDetails" type="RUScat_ru:SubjectDetailsType">
        <xs:annotation>
          <xs:documentation>Сведения о декларанте товаров, помещаемых под таможенную процедуру таможенного транзита (гр. 5)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocV4Details" type="RUScat_ru:DocBaseV4Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о коммерческих и транспортных (перевозочных) документах (гр.6)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DepartureCountryDetails" type="RUScat_ru:CountryDetailsV3Type">
        <xs:annotation>
          <xs:documentation>Cведения о государстве таможенного органа отправления (гр. 7)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GuaranteeCertificateAgentDetails" type="guar_cer:GuaranteeCertificateAgentDetailsType">
        <xs:annotation>
          <xs:documentation>Сведения о лице, представившем сертификат обеспечения исполнения обязанности по уплате таможенных пошлин, налогов (гр.9 (лев.подр))</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SignatoryPersonV2Details" type="guar_cer:SignatoryPersonV2DetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о физическом лице, заполнившем сертификат обеспечения исполнения обязанности по уплате таможенных пошлин, налогов (гр.9 (прав. подр))</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GuaranteeCertificateMarkDetailsType">
    <xs:annotation>
      <xs:documentation>Cведения об отметке таможенного органа регистрации или таможенного органа отправления</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsOperationCode" type="clt_ru:CodeVariable5Type">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение совершаемой таможенной операции: 
110 – фиксация представления сертификата таможенным органом регистрации;
120 – регистрация сертификата таможенным органом регистрации;
130 – аннулирование регистрации сертификата таможенным органом регистрации;
140 – прекращение действия (погашение) сертификата таможенным органом регистрации;
150 – регистрация сертификата, представленного в качестве изменений (дополнений) в ранее зарегистрированный сертификат, таможенным органом регистрации;
210 – принятие сертификата таможенным органом отправления;
220 – аннулирование принятия сертификата таможенным органом отправления
</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsDecisionModeCode" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение решения, принятого таможенным органом (результата совершаемой таможенной операции):        10 – операция выполнена успешно;
90 – в выполнении операции отказано</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EventDateTime" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата и время совершения таможенной операции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GCRejectReasonCode" type="clt_ru:CodeVariable2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение основания для отказа в регистрации сертификата обеспечения исполнения обязанности по уплате таможенных пошлин, налогов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GCRegistrationCancelReasonCode" type="clt_ru:CodeVariable2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение основания для аннулирования регистрации сертификата обеспечения исполнения обязанности по уплате таможенных пошлин, налогов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GCCancellationReasonCode" type="clt_ru:CodeVariable2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение основания для прекращения действия (погашения) сертификата обеспечения исполнения обязанности по уплате таможенных пошлин, налогов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GCChangeRejectReasonCode" type="clt_ru:CodeVariable2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение основания для отказа во внесении изменений (дополнений) в сертификат обеспечения исполнения обязанности по уплате таможенных пошлин, налогов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GCAcceptCancellationReasonCode" type="clt_ru:CodeVariable2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение основания для аннулирования принятия сертификата обеспечения исполнения обязанности по уплате таможенных пошлин, налогов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DescriptionText" type="RUSclt_ru:FreeText4000Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание причин аннулирования регистрации сертификата обеспечения исполнения обязанности по уплате таможенных пошлин, налогов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsDeclarationIdDetails" type="cat_ru:GTDIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер транзитной декларации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RefGuaranteeCertificateIdDetails" type="cat_ru:GTDIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер нового сертификата обеспечения исполнения обязанности по уплате таможенных пошлин, налогов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsPersonDetails" type="guar_cer:CustomsPersonDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения об отметке таможенного органа регистрации или таможенного органа отправления</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SignatoryPersonV2DetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о физическом лице, заполнившем сертификат обеспечения исполнения обязанности по уплате таможенных пошлин, налогов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SigningDetails" type="RUScat_ru:SigningDetailsType">
        <xs:annotation>
          <xs:documentation>Cведения о должностном лице, подписавшем документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SignatoryPersonIdentityDetails" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о документе, удостоверяющем личность лица, заполнившего (подписавшего) таможенный документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QualificationCertificate" type="clt_ru:CodeVariable6Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер квалификационного аттестата специалиста по таможенному оформлению</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PowerOfAttorneyDetails" type="RUScat_ru:DocBaseV2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Документ, удостоверяющий полномочия</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>