XsltProcessor/xsd/5.23.0/GuaranteeKind.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:cltExch_ru="urn:customs.ru:Information:ExchangeDocuments:ExchangeCommonLeafTypes:5.0.8" xmlns:grnk="urn:customs.ru:Information:ExchangeDocuments:GuaranteeKind:5.22.0" targetNamespace="urn:customs.ru:Information:ExchangeDocuments:GuaranteeKind:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:ExchangeDocuments:ExchangeCommonLeafTypes:5.0.8" schemaLocation="ExchangeCommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Уведомление о выбранном способе обеспечения</xs:documentation>
  </xs:annotation>
  <xs:element name="GuaranteeKind" type="grnk:GuaranteeKindType">
    <xs:annotation>
      <xs:documentation>Уведомление о выбранном способе обеспечения</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GuaranteeKindType">
    <xs:annotation>
      <xs:documentation>Уведомление о выбранном способе обеспечения</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="RegDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата формирования уведомления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:choice>
            <xs:element name="AdditionalRegistration" type="grnk:AdditionalRegistrationType">
              <xs:annotation>
                <xs:documentation>Дополнение к договору поручительства </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="GuaranteeCustomsReceiptNum" type="grnk:CustomsReceiptRegNumberType">
              <xs:annotation>
                <xs:documentation>Номер имеющейся таможенной расписки</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="GuaranteeComment" type="clt_ru:Text150Type">
              <xs:annotation>
                <xs:documentation>Пояснения к запросу об оформления новой таможенной расписки</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1004125E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AdditionalRegistrationType">
    <xs:annotation>
      <xs:documentation>Дополнение к договору поручительства </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GRN" type="cltExch_ru:GuaranteeNumType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Cсылочный номер гарантии в транзите </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdditionalID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор, присваиваемый дополнению к договору поручительства при регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdditionalNumber" type="cat_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Присвоенный номер дополнения к договору поручительства</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsReceiptRegNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер таможенной расписки</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="DocNumberPrefix" type="clt_ru:Code2Type">
            <xs:annotation>
              <xs:documentation>Префикс порядкового номера таможенной расписки</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>