XsltProcessor/xsd/5.23.0/IntellectualProperty.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:IntPr="urn:customs.ru:IntellectualProperty:5.22.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" targetNamespace="urn:customs.ru:IntellectualProperty:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Заявление на оказание услуги "Ведение реестра объектов интеллектуальной собственности"/заявление о включении объекта интеллектуальной собственности в таможенный реестр объектов интеллектуальной собственности/заявление о продлении срока включения объекта интеллектуальной собственности в таможенный реестр объектов интеллектуальной собственности/заявление об исключении объекта интеллектуальной собственности из таможенного реестра объектов интеллектуальной собственности/обращение об изменении сведений, указанных в заявлении о включении объекта интеллектуальной собственности в таможенный реестр объектов интеллектуальной собственности либо прилагаемых к нему документах</xs:documentation>
  </xs:annotation>
  <xs:element name="IntellectualProperty" type="IntPr:IntellectualPropertyType">
    <xs:annotation>
      <xs:documentation>Заявление на оказание услуги "Ведение реестра объектов интеллектуальной собственности"/заявление о включении объекта интеллектуальной собственности в таможенный реестр объектов интеллектуальной собственности/заявление о продлении срока включения объекта интеллектуальной собственности в таможенный реестр объектов интеллектуальной собственности/заявление об исключении объекта интеллектуальной собственности из таможенного реестра объектов интеллектуальной собственности/обращение об изменении сведений, указанных в заявлении о включении объекта интеллектуальной собственности в таможенный реестр объектов интеллектуальной собственности либо прилагаемых к нему документах</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="IntellectualPropertyType">
    <xs:annotation>
      <xs:documentation>Заявление на оказание услуги "Ведение реестра объектов интеллектуальной собственности"/заявление о включении объекта интеллектуальной собственности в таможенный реестр объектов интеллектуальной собственности/заявление о продлении срока включения объекта интеллектуальной собственности в таможенный реестр объектов интеллектуальной собственности/заявление об исключении объекта интеллектуальной собственности из таможенного реестра объектов интеллектуальной собственности/обращение об изменении сведений, указанных в заявлении о включении объекта интеллектуальной собственности в таможенный реестр объектов интеллектуальной собственности либо прилагаемых к нему документах</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ApplicationInfo" type="IntPr:ApplicationInfoType">
            <xs:annotation>
              <xs:documentation>Сведения о заявке</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Applicant" type="IntPr:ApplicantType">
            <xs:annotation>
              <xs:documentation>Сведения о заявителе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApplicationForm" type="IntPr:ApplicationFormType">
            <xs:annotation>
              <xs:documentation>Заявление</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AppliedDocument" type="IntPr:AppliedDocumentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Вложение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InfoNumberAppsheets" type="IntPr:InfoNumberAppsheetsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество листов приложений</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentIDType" use="required" fixed="1006236E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ApplicantType">
    <xs:annotation>
      <xs:documentation>Сведения о заявителе/правообладателях</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType">
        <xs:sequence>
          <xs:element name="PersonType" type="clt_ru:CodeVariable2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Тип заявителя/правообладателя. 01 -ФЛ, 02 - ЮЛ, 03-ТП, 04-ИГ, 05- ИЮЛ
                            </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор Заявителя/правообладателя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BirthDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата рождения. Указывается для ФЛ/ИП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BirthPlace" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Место рождения. Указывается для ФЛ/ИП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonPostalAddress" type="RUScat_ru:RUAddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Почтовый адрес. Указывается для ФЛ/ИП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PlaceWork" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Место работы (наименование организации)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonPost" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Должность</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConfidenceInfo" type="IntPr:DocumentType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Документ, подтверждающий полномочия законного представителя
                            </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:choice minOccurs="0">
            <xs:element name="RightHolderLegal" type="IntPr:RightHolderLegalType">
              <xs:annotation>
                <xs:documentation>Сведения о юридическом лице</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="RightHolderForeignLegal" type="IntPr:RightHolderLegalType">
              <xs:annotation>
                <xs:documentation>Сведения о иностранном юридическом лице</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ApplicationFormType">
    <xs:annotation>
      <xs:documentation>Заявление</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ApplicationCode" type="clt_ru:CodeVariable2Type">
        <xs:annotation>
          <xs:documentation>Тип заявления. 01 - включение в реестр, 02 - внесение изменений, 03 - исключение, 04 - предоставление выписки, 05 - о продлении срока включения
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumReestr" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер объекта интеллектуальной собственности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Base" type="RUSclt_ru:Text10MB" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Суть обращения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PeriodTill" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о предполагаемом сроке принятия мер, связанных с приостановлением выпуска
                        товаров
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PeriodStartDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Срок принятия мер, связанных с приостановлением выпуска товаров. С
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PeriodEndDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Срок принятия мер, связанных с приостановлением выпуска товаров. По
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OwnerInfo" type="IntPr:ApplicantType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о правообладателях</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AgentInfo" type="IntPr:ApplicantType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о представителе правообладателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChangeOwnerInfo" type="IntPr:ApplicantType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о правообладателях, подлежащие изменению</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChangeAgentInfo" type="IntPr:ApplicantType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о представителе правообладателя, подлежащие изменению</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IntellectualProperty" type="IntPr:IntellectualPropertyObjectsInfoType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения об объектах интеллектуальной собственности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Contact" type="IntPr:ContactType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о контактных лицах, уполномоченных на основании доверенности, выданной
                        правообладателем, оказывать квалифицированную помощь таможенным органам
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrganizationInfo" type="IntPr:OrganizationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о лицензиатах, сублицензиатах, об уполномоченных импортерах
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InfoCommitment" type="IntPr:InfoCommitmentType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о письменном обязательстве правообладателя о возмещении имущественного
                        вреда
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InfoSecuringCommitments" type="IntPr:DocumentType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения об обеспечении обязательства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Exception" type="IntPr:DocumentType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о решении о принятии мерсвязанных с приостановкой выпуска объекта.
                        Заполняется при подаче заявления на внесение изменений или исключении. код документа=27
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InfringingMerchandise" type="IntPr:InfringingMerchandiseType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товарах, обладающих признаками контрафактных.Заполняется при подаче заявления на внесение изменений или исключении
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ObjectInfo" type="IntPr:ObjectType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения об объекте, на который запрашивается выписка. Заполняется при подаче заявления на предоставление выписки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PeriodExtendDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Срок продления включения ОИС в таможенный реестр объекта интеллектуальной собственности. Заполняется при подаче заявления о продлении срока</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InfoAppInclusionWhichChange" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата и номер заявления о включении в ОИС, в сведения которого вносятся изменения. Заполняется при подаче заявления на внесение изменений</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationInfoType">
    <xs:annotation>
      <xs:documentation>Информация о заявке</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="ApplicationSourceSystemID" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Идентификатор заявления на ЕПГУ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApplicationID" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Идентификатор заявки в АПС "Электронные Госуслуги"</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DepartmentCode" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Код подразделения, в которое предоставляется заявка</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AppliedDocumentType">
    <xs:annotation>
      <xs:documentation>Вложение</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Name" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Имя файла документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:Quantity5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер файла документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Expansion" type="clt_ru:Text4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Расширение файла</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Base" type="clt_ru:Text3MB" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Файл в формате base64</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="8">
        <xs:annotation>
          <xs:documentation>Примечание</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactType">
    <xs:annotation>
      <xs:documentation>Сведения о контактных лицах, уполномоченных на основании доверенности, выданной
                правообладателем, оказывать квалифицированную помощь таможенным органам
            </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType">
        <xs:sequence>
          <xs:element name="WebSite" type="clt_ru:Text50Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Интернет-сайт</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InfoContactPersonDoc" type="IntPr:DocumentType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о доверенности, выданной контактному лицу, документах передоверия
                                и нотариальном удостоверии. Код документа =26
                            </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CopyrightType">
    <xs:annotation>
      <xs:documentation>Сведения об объектах интеллектуальной собственности – объект авторского и смежного права
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ProductName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование объекта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductForm" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Форма произведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductType" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид произведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ObjectDescription" type="clt_ru:FreeText500Type">
        <xs:annotation>
          <xs:documentation>Описание объекта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InfoDocument" type="IntPr:DocumentType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о документах, подтверждающих наличие прав</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InfoDocRightsTransmission" type="IntPr:DocumentType" minOccurs="0" maxOccurs="10">
        <xs:annotation>
          <xs:documentation>Сведения о документах на передачу прав</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InfoAgreementDoc" type="IntPr:DocumentType" minOccurs="0" maxOccurs="10">
        <xs:annotation>
          <xs:documentation>Сведения о документах, подтверждающих введение товаров, содержащих объекты
                        авторского права, в гражданский оборот на территории РФ
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Goods" type="IntPr:MeasuredGoodsList" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Перечень товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CountryType">
    <xs:annotation>
      <xs:documentation>Сведения о стране</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CountryName" type="clt_ru:CountryNameType">
        <xs:annotation>
          <xs:documentation>Наименование страны</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryCode" type="clt_ru:CountryN3CodeType">
        <xs:annotation>
          <xs:documentation>Код страны</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Priznac" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Код вида страны</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentType">
    <xs:annotation>
      <xs:documentation>Сведения о документах</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="InsuranceContract" type="clt_ru:Text50Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о договоре страхования</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TypeSecuringSum" type="clt_ru:CodeVariable20Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сумма</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TypeSecuringCurrency" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Валюта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PrDocumentNameCode" type="clt_ru:Code2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentRegNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер документа (Номер государственной регистрации договора, Номер
                                документа, подтверждающего предоставление права пользования наименованием места
                                происхождения товара. Указывается для документов , подтверждающих регистрацию и
                                предоставление права пользования наименованием места происхождения в соответствии с
                                законодательством Российской Федерации и международными договорами)
                            </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentRegDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ObjectRegNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер объекта. Указывается для решения о принятии мер
                                связанных с приостановкой выпуска объекта
                            </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ComplationAuthorityDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата окончания полномочий.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IssuedAgent" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Кем выдан документ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LisenceeName" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Лицензиат (сублицензиат)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotaryName" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ФИО нотариуса</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Описание товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsClass" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Класс по МКТУ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BogusProductCodes" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Коды товаров, в соответствии с ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InfoCommitmentType">
    <xs:annotation>
      <xs:documentation>Сведения о письменном обязательстве правообладателя о возмещении имущественного вреда
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SumCommitment" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Общая сумма обеспечения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InfoNumberAppsheetsType">
    <xs:annotation>
      <xs:documentation>Сведения о о количестве листов приложений</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NShGroundsSubmittingApp" type="clt_ru:SheetNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество листов сведений об основаниях для подачи заявления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NShCommitment" type="clt_ru:SheetNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество листов обязательства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NShCopyrightHolder" type="clt_ru:SheetNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество листов сведений о правообладателе (его представителе (при наличии))</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NShIntellectualProperty" type="clt_ru:SheetNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество листов сведений об объекте интеллектуальной собственности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NShGoods" type="clt_ru:SheetNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество листов сведений о товарах, ввоз в РФ, вывоз из РФ или совершение с которыми иных действий во время их нахождения под таможенным контролем, влечет нарушение прав правообладателя на ОИС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NShPeriod" type="clt_ru:SheetNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество листов сведений о сроке, в течение которого потребуется участие таможенных органов в защите прав на ОИС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NShDocIPO" type="clt_ru:SheetNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество листов документов, подтверждающих наличие прав на ОИС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NShConfidenceInfo" type="clt_ru:SheetNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество листов документов, подтверждающих полномочия представителя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NShDocInfoApp" type="clt_ru:SheetNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество листов документов, подтверждающих сведения, указанные в заявлении</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NShDocOther" type="clt_ru:SheetNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество листов иных документов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DescrDocOther" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Перечень наименований иных документов</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InfringingMerchandiseType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах, обладающих признаками контрафактных</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="LegalProduct" type="IntPr:ProductInfoType">
        <xs:annotation>
          <xs:documentation>Сведения о легальной продукции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BogusProduct" type="IntPr:ProductInfoType">
        <xs:annotation>
          <xs:documentation>Сведения о продукции, обладающей признаками контрафактной</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ProductDescription" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание внешнего вида продукции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BogusProductCodes" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Коды товаров, обладающих признаками контрафактных, не менее чем на уровне первых     четырех знаков в соответствии с ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OtherInfo" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Иные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Place" type="IntPr:PlaceType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Места ввоза легальной продукции (01), таможенного оформления легальной продукции
                        (02), ввоза товаров, обладающих признаками контрафактных (03), таможенного оформления товаров,
                        обладающих признаками контрафактных (04)
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryInfo" type="IntPr:CountryType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>01- Страна отправления легальной продукции , 02- cтрана происхождения легальной
                        продукции, 03 - cтрана отправления контрафактной продукции, 04 - cтрана происхождения
                        контрафактной продукции
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Importer" type="IntPr:ApplicantType" minOccurs="0" maxOccurs="5">
        <xs:annotation>
          <xs:documentation>Сведения об уполномоченных импортерах</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BogusProductImporters" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о импортерах</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductProdusers" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о производителях</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PeriodDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Срок принятия мер, связанных с приостановлением выпуска товаров.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IntellectualPropertyObjectsInfoType">
    <xs:annotation>
      <xs:documentation>Сведения об объектах интеллектуальной собственности</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IntellectualPropertyObjectsID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор объекта интелектаульной собственности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="Copyright" type="IntPr:CopyrightType">
          <xs:annotation>
            <xs:documentation>Объект авторского и смежного права</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Mark" type="IntPr:MarkType">
          <xs:annotation>
            <xs:documentation>Товарный знак</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="OriginPlace" type="IntPr:OriginPlaceType">
          <xs:annotation>
            <xs:documentation>Место происхождения</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MeasuredGoodsList">
    <xs:annotation>
      <xs:documentation>Перечень товаров, в отношении которых принимаются меры</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ObjType" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид объекта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasuredGoods" type="IntPr:GoodsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MarkType">
    <xs:annotation>
      <xs:documentation>Сведения об объектах интеллектуальной собственности – товарный знак</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BrandMarkName" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование товарного знака (знака обслуживания)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BrandMarkDescription" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание товарного знака (знака обслуживания)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LapseOfRightDocumentsDescription" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание документов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Goods" type="IntPr:MeasuredGoodsList" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Перечень товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentInfo" type="IntPr:DocumentType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о документе, подтверждающем регистрацию товарного знака (знака
                        обслуживания) в соответствии с законодательством Российской Федерации и международными
                        договорами, договоре об отчуждении исключительного права на товарный знак или об уступке
                        товарного знака (при наличии), договоре коммерческой концессии (субконцессии)
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TrademarkWithoutContract" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="10">
        <xs:annotation>
          <xs:documentation>Сведения о переходе исключительного права на товарный знак без договора</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsFlag" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Имеются сведения о товарах с нарушениями прав правообладателя и требуется защита таможенными органами</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObjectType">
    <xs:annotation>
      <xs:documentation>Сведения об объекте, на который запрашивается выписка. Заполняется при подаче заявления на
                предоставление выписки
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NumReestr" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер объекта интеллектуальной собственности в Реестре</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Date" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Срок принятия мер таможенными органами</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ObjectName" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование объекта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ObjectDescription" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание объекта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ObjType" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Вид объекта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CodeObjType" type="clt_ru:Count2Type">
        <xs:annotation>
          <xs:documentation>Код вида объекта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OwnerName" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование правообладателя объекта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Base" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Основание для запроса выписки из реестра</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasuredGoodsList" type="IntPr:MeasuredGoodsList" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Перечень товаров, в отношении которых принимаются меры</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganizationType">
    <xs:annotation>
      <xs:documentation>Сведения об экспортерах, импортерах, производителях товаров, лицензиатах, сублицензиатах
            </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType">
        <xs:sequence>
          <xs:element name="OrganizationKind" type="clt_ru:NameType">
            <xs:annotation>
              <xs:documentation>Тип организации (производители, экспортеры, импортеры, лицензиаты,
                                сублицензиаты)
                            </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrganizationKindCode" type="clt_ru:Code2Type">
            <xs:annotation>
              <xs:documentation>Код типа организации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InfoLisenceDoc" type="IntPr:DocumentType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о лицензионном договоре. Указывается только лицензиатов и
                                сублицензиатов
                            </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InfoAgreementDoc" type="IntPr:DocumentType">
            <xs:annotation>
              <xs:documentation>Сведения о документе, подтверждающем согласие правообладателя на введение
                                товаров в гражданский оборот. Заполняется для импортеров. Код документа=25
                            </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OriginPlaceType">
    <xs:annotation>
      <xs:documentation>Сведения об объектах интеллектуальной собственности - место происхождения товара
            </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OriginName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование места происхождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LapseOfRightDocumentsDescription" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание документов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Goods" type="IntPr:MeasuredGoodsList" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InfoReg" type="IntPr:DocumentType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о документах, подтверждающих регистрацию и предоставление права
                        пользования наименованием места происхождения в соответствии с законодательством Российской
                        Федерации и международными договорами
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsFlag" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Имеются сведения о товарах с нарушениями прав правообладателя и требуется защита таможенными органами</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlaceType">
    <xs:annotation>
      <xs:documentation>Описание места</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Name" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Наименование места</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CodePlace" type="clt_ru:CodeVariable4Type">
        <xs:annotation>
          <xs:documentation>Код места</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RightHolderLegalType">
    <xs:annotation>
      <xs:documentation>Сведения о юридическом лице</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FNSDocumentSeries" type="clt_ru:CodeVariable10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Серия свидетельства о постановке на налоговый учет</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FNSDocumentNumber" type="clt_ru:CodeVariable20Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер свидетельства о постановке на налоговый учет</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INNCertificateDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата постановки на учет</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OGRNDocumentNumber" type="clt_ru:CodeVariable20Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер свидетельства о постановке на налоговый учет</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OGRNDocumentDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата постановки на учет</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер государственной регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LegalLocation" type="cat_ru:AddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Юридический адрес</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PostalLocation" type="cat_ru:AddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Почтовый адрес</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FullNameRus" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Полное наименование на на русском языке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FullNameForeign" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Полное наименование на иностранном языке (в латинской транскрипции)
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShortNameRus" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сокращенное наименование на русском языке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShortNameForeign" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сокращенное наименование на иностранном языке (в латинской транскрипции)
                    </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OPFRus" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Организационно-правовая форма на русском языке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OPFForeign" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Организационно-правовая форма (в латинской транскрипции)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocRegistration" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Документ о регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationOrganName" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование органа, зарегистрировавшего организацию</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDocumentNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер документа регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationPlace" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Место регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FullAddressRus" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Полный адрес организации на русском языке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FullAddressForeign" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Полный адрес организации (на иностранном языке)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrganizationHead" type="cat_ru:PersonBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о руководителе</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>