XsltProcessor/xsd/5.23.0/KDTout_CU.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:KDTout="urn:customs.ru:Information:CustomsDocuments:KDTout_CU:5.23.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:RUDECLcat="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.23.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:KDTout_CU:5.23.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.23.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.23.0" schemaLocation="RUDeclCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Электронная копия корректировки декларации на товары</xs:documentation>
  </xs:annotation>
  <xs:element name="KDTout_CU" type="KDTout:KDTout_CUType">
    <xs:annotation>
      <xs:documentation>Электронная копия корректировки декларации на товары</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="KDTout_CUType">
    <xs:annotation>
      <xs:documentation>«Электронная копия корректировки декларации на товары»</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="EECEDocHeaderAddInfo" type="RUScat_ru:EECEDocHeaderAddInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дополнительные технологические реквизиты электронного документа (сведений)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="KDTNumber" type="clt_ru:Count2Type">
            <xs:annotation>
              <xs:documentation>Номер КДТ по порядку</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsProcedure" type="clt_ru:CUCustomsProcedureType">
            <xs:annotation>
              <xs:documentation>ИМ, ЭК. Левый подраздел гр.1 КДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsModeCode" type="cltESAD_cu:CustomsModeCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код таможенной процедуры в соответствии с классификатором видов таможенных процедур гр. 1. Второй подраздел ДТ. Первый элемент первого подраздела гр. 37/«00» – для припасов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeclarationKind" type="cltESAD_cu:CustomsDeclarationKindType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код особенности декларирования товаров по классификатору особенностей таможенного декларирования товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SubsoilSign" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак недропользователя. Для РК</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LanguageCUESAD" type="clt_ru:LanguageCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код языка заполнения документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ElectronicDocumentSign" type="clt_ru:Code2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак использования КДТ в форме электронного документа «ЭД»
</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocUsageCode" type="clt_ru:Code2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Кодовое обозначение использования транспортных (перевозочных), коммерческих и (или) иных документов в качестве декларации на товары или транзитной декларации
</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegNumberDoc" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Исходящий номер регистрации документов в соответствии с системой (регламентом) учета исходящих документов декларанта или таможенного представителя в Республике Беларусь</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SecurityLabelCode" type="clt_ru:Code6Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код защитной наклейки для РК</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="KDToutGoodsShipment" type="KDTout:KDTGoodsShipmentType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о товарной партии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GtdRegistryNumber" type="cat_ru:GTDIDType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер ДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FilledPerson" type="RUDECLcat:SignatoryPersonDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о лице, заполнившем документ (ДТ)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LNPFilledPerson" type="clt_ru:LNPIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ЛНП должностного лица, заполнившего КДТ/ДТС </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код таможенного органа, указанный на оттиске ЛНП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsRepresentative" type="RUDECLcat:SignatoryRepresentativeDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Таможенный представитель, заполнивший (подписавший) декларацию на товары</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="KDTFilledInfo" type="KDTout:KDTFilledInfoType">
            <xs:annotation>
              <xs:documentation>Сведения о заполнении КДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ChangeCode" type="KDTout:ChangeCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код изменений гр 45а при отсутствии изменений и (или) дополнении сведений в отношении товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006111E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа. Код документа в Альбоме форматов</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CUWarehousePlaceType">
    <xs:annotation>
      <xs:documentation>Сведения о местонахождении товаров: разрешение таможенного органа на временное хранение товаров, склад временного хранения, таможенный склад, свободный склад, магазин беспошлинной торговли, помещение, открытые площадки и иные территории уполномоченного экономического оператора, склад хранения собственных товаров, склад получателя товаров</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="PresentedDocumentModeCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код вида представляемого документа в соответствии с классификатором видов документов и сведений, используемых при таможенном декларировании</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocStartDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата начала срока, в течение которого документ имеет силу</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocValidityDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата окончания срока, в течение которого документ имеет силу</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ChangeCodeType">
    <xs:annotation>
      <xs:documentation>Код изменений</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PhaseChanges" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Графа 45а. Элемент 1. Этап внесения изменений и (или) дополнений в сведения, указанных в ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BasisCompilation" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Графа 45а. Элемент 2. Обстоятельства, послужившие основанием для внесения изменений и (или) дополнений в сведения, указанных в ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuantityChanges" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Графа 45а. Элемент 3. Изменение и (или) дополнение сведений, указанных в ДТ, в отношении количества (веса) товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryChanges" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Графа 45а. Элемент 4. Изменение и (или) дополнение сведений , указанных в ДТ, о стране происхождения товаров и (или) тарифных преференциях</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TNVEDChanges" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Графа 45а. Элемент 5. Изменение сведений, указанных в ДТ, в отношении классификационного кода товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustCostChanges" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Графа 45а. Элемент 6. Изменение и (или) дополнение сведений, указанных в ДТ, в отношении таможенной стоимости товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsPaymentChanges" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Графа 45а. Элемент 7. Изменение и (или) дополнение сведений, указанных в ДТ, в отношении исчисленных (уплаченных) таможенных, иных платежей</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OtherChanges" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Графа 45а. Элемент 8. Изменение и (или) дополнение иных сведений, указанных в ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KDTBorderTransportType">
    <xs:annotation>
      <xs:documentation>Транспортные средства на границе</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:CUTransportMeansType">
        <xs:sequence>
          <xs:element name="TransportMeansQuantity" type="clt_ru:Count5Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество транспортных средств</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MethodTransport" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Способ транспортировки товаров при перемещении по линиям электропередачи или трубопроводным транспортом: 1 - газопровод; 2 - нефтепровод; 3 - нефтепродуктопровод; 4 - линии электропередачи</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NameObject" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Наименование объекта, на котором установлены приборы учета товаров, перемещаемых по линиям электропередачи или трубопроводным транспортом</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RUTransportMeans" type="cat_ru:TransportMeansBaseType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Описание транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="KDTConsigmentType">
    <xs:annotation>
      <xs:documentation>Сведения о перевозке товаров гр. 15, 15а, 17,17а, 18, 19, 21, 25, 26, 29, 53, 55</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catESAD_cu:CUConsigmentType">
        <xs:sequence>
          <xs:element name="KDToutDepartureArrivalTransport" type="KDTout:KDTDepartureArrivalTransportType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Транспортные средства при прибытии/убытии. Гр. 18, 26 КДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="KDToutBorderTransport" type="KDTout:KDTBorderTransportType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Транспортные средства на границе. Гр. 21, 25 КДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="KDTDepartureArrivalTransportType">
    <xs:annotation>
      <xs:documentation>Транспортные средства при прибытии/убытии. Гр. 18, 26 КТД</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:CUTransportMeansType">
        <xs:sequence>
          <xs:element name="TransportMeansQuantity" type="clt_ru:Count5Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество транспортных средств</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MethodTransport" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Способ транспортировки товаров при перемещении по линиям электропередачи или трубопроводным транспортом: 1 - газопровод; 2 - нефтепровод; 3 - нефтепродуктопровод; 4 - линии электропередачи</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NameObject" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Наименование объекта, на котором установлены приборы учета товаров, перемещаемых по линиям электропередачи или трубопроводным транспортом</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RUTransportMeans" type="cat_ru:TransportMeansBaseType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Описание транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="KDTFilledInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о заполнении КДТ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ExecutionDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата составления (представления) КДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SecurityLabelCode" type="clt_ru:Code6Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код защитной наклейки для РК</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FilledPerson" type="RUDECLcat:SignatoryPersonDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о лице, заполнившем КДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsRepresentative" type="RUDECLcat:SignatoryRepresentativeDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Таможенный представитель</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KDTFinancialAdjustingResponsiblePersonType">
    <xs:annotation>
      <xs:documentation>Лицо ответственное за финансовое урегулирование</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectBranchDetailsType">
        <xs:sequence>
          <xs:element name="DeclarantEqualFlag" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак совпадения сведений со сведениями, заявляемыми в гр. 14 ДТ. 1 - сведения совпадают</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="KDTGoodsLocationType">
    <xs:annotation>
      <xs:documentation>Местонахождение товаров. Гр. 30</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="InformationTypeCode" type="clt_ru:Code2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код места нахождения товаров в соответствии c классификатором мест нахождения товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsOffice" type="clt_ru:CustomsCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код таможенного органа в соответствии с классификаторами таможенных органов, применяемыми в государствах - членах Евразийского экономического союза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код страны таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LocationName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование железнодорожной станции/морского (речного) порта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsLocationPlace" type="catESAD_cu:CUGoodsLocationPlaceType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о местонахождении товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsLocationWarehouse" type="KDTout:CUWarehousePlaceType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Разрешение таможенного органа на : временное хранение товаров, склад временного хранения, таможенный склад, свободный склад, магазин беспошлинной торговли, помещение, открытые площадки и иные территории уполномоченного экономического оператора, склад хранения собственных товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegisterDocumentIdDetails" type="catESAD_cu:AEORegistryIdDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Свидетельство о включении в реестр уполномоченных экономических операторов, свидетельство о включении в реестр владельцев складов временного хранения, документ (свидетельство), удостоверяющий регистрацию лица в качестве резидента (участника) свободной (специальной, особой) экономической зоны</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Transport" type="catESAD_cu:CUTransportType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о местонахождении товаров - транспортное средство</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="RUScat_ru:RUAddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес местонахождения товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KDTGoodsShipmentType">
    <xs:annotation>
      <xs:documentation>Сведения о товарной партии</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catESAD_cu:CUESADGoodsShipmentType">
        <xs:sequence>
          <xs:element name="KTDoutTotalGoodsNumber" type="clt_ru:Count3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Всего наименований товаров в корректировке декларации на товары</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PreviousTotalCustomsAmount" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Предыдущее значение  общей таможенной стоимости</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="KTDoutConsignor" type="RUDECLcat:GoodsShipmentSubjectDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения об отправителе товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="KTDoutConsignee" type="RUDECLcat:GoodsShipmentSubjectDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о получателе товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="KTDoutFinancialAdjustingResponsiblePerson" type="KDTout:KDTFinancialAdjustingResponsiblePersonType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Лицо ответственное за финансовое урегулирование</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="KTDoutDeclarant" type="RUDECLcat:AEODeclarantDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о декларанте</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="KDTGoodsLocation" type="KDTout:KDTGoodsLocationType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Местонахождение товаров. Гр. 30 КДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="KTDoutConsigment" type="KDTout:KDTConsigmentType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о перевозке товаров. Гр. 15, 15а, 17, 17а, 18, 19, 21, 25, 26, 29</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="KDToutMainContractTerms" type="KDTout:KDToutMainContractTermsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Условия сделки. Гр. 11, 20, 22, 23, 24</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="KDToutGoods" type="KDTout:KDToutGoodsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Товарная часть КТД. Гр. 31-47</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="KDToutPayments" type="KDTout:KTDoutPaymentsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения об уплачиваемых платежах, платежных поручениях, отсрочке платежей. Гр. 48, В</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Guarantee" type="catESAD_cu:CUGuaranteeType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Гарантия</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="KDTSectionBCustomsPaymentType">
    <xs:annotation>
      <xs:documentation>Уплата таможенных платежей. Гр. В</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catESAD_cu:ESADout_CUCustomsPaymentType">
        <xs:sequence>
          <xs:element name="PaymentPrevious" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Предыдущая сумма платежа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RateCurrencyCodePrevious" type="clt_ru:CurrencyN3CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Цифровой код валюты предыдущей суммы платежа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ChangeAmount" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Изменение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SumAmount" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Общая сумма начислений по всем товарам</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PaymentDocument" type="KDTout:PaymentDocumentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Платежный документ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="KDToutGoodsType">
    <xs:annotation>
      <xs:documentation>Товарная часть КТД. Гр. 31-47</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catESAD_cu:CUESADGoodsItemType">
        <xs:sequence>
          <xs:element name="LanguageGoods" type="clt_ru:LanguageCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код языка описания товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PreviousCustomsCost" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Предыдущее значение таможенной стоимости, гр.45 второй подраздел</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="KDTGoodsNumeric" type="clt_ru:Count3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Порядковый номер товара по КДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="KDToutPresentedDocument" type="RUDECLcat:CUPresentedDocumentsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Представленные документы. Гр. 44</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="KDToutPrecedingDocument" type="catESAD_cu:CUPrecedingDocumentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Предшествующие документы. Гр. 40</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="KDToutCustomsPaymentCalculation" type="catESAD_cu:CUCustomsPaymentCalculationType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Исчисление таможенных платежей</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ESADExcise" type="catESAD_cu:ESADExciseType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения об акцизных или специальных марках</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ElectricalEnergReceived" type="catESAD_cu:CU_ElectricalEnergyType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о количестве принятой электроэнергии за отчетный период (элемент 9 Гр 31)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ElectricalEnergGiven" type="catESAD_cu:CU_ElectricalEnergyType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о количестве переданной электроэнергии за отчетный период (элемент 9 Гр 31)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsAutomobile" type="catESAD_cu:AutomobileType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения об автомобилях. Гр. 31</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsProcedure" type="catESAD_cu:ESADCustomsProcedureType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Процедура.Гр 37</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SupplementaryGoodsQuantity1" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
            <xs:annotation>
              <xs:documentation>Количество товара в единице измерения, отличной от основной и дополнительной (элемент 1 Гр.31)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SupplementaryGoodsQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество товара в дополнительной единице измерения. Гр.41</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ESADContainer" type="catESAD_cu:ESADContainerType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о контейнерах (элемент 3 Гр 31)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ESADGoodsPackaging" type="catESAD_cu:ESADGoodsPackagingType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о грузовых местах, поддонах и упаковке товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ESADGoodsQuota" type="catESAD_cu:ESADGoodsQuotaType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Квота.Гр 39 </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="KDToutCustomsConditions" type="RUDECLcat:ProcessingGoodsDeclarationType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения, указываемые в случае, если ДТ используется в качестве заявления на получение разрешения на переработку товаров (элемент 6 гр 31, гр 44)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RBSupplementaryGoodsQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество товара помещенного под процедуру переработки и свободную таможенную зону для РБ / Cведения о количестве товара, предназначенные для включения в реестр автоматизированного контроля сроков действия таможенных процедур</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TotalGrossMassMeasure" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Общая масса брутто товара, перемещаемого через таможенную границу Евразийского экономического союза в несобранном или разобранном виде, в том числе некомплектном или незавершенном виде</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TotalNetMassMeasure" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Общая масса нетто товара, перемещаемого через таможенную границу Евразийского экономического союза в несобранном или разобранном виде, в том числе некомплектном или незавершенном виде</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InvestmentGoodsIdDetails" type="catESAD_cu:InvestmentGoodsIdDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о регистрационном номере товара (технологического оборудования, комплектующих и запасных частей к нему, сырья и материалов), указанном в перечне товаров, ввозимых для реализации инвестиционного проекта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DestinationCountryDetails" type="catESAD_cu:CountryDetailsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о стране назначения при временном периодическом декларировании</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ChangeCode" type="KDTout:ChangeCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код изменений гр 45а при наличии изменений и (или) дополнении сведений в отношении товара</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="KDToutMainContractTermsType">
    <xs:annotation>
      <xs:documentation>Условия сделки КТД. Гр. 11, 12, 16, 20, 22, 23, 28</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catESAD_cu:CUESADMainContractTermsType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="KTDoutPaymentsType">
    <xs:annotation>
      <xs:documentation>Сведения об уплачиваемых платежах, платежных поручениях, отсрочке платежей. Гр. 48, В</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="KDToutCustomsPayment" type="KDTout:KDTSectionBCustomsPaymentType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Уплата таможенных платежей. Гр. В</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CUDelayPayments" type="catESAD_cu:CUDelayPaymentsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Отсрочка платежей гр. 48</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentDocumentType">
    <xs:annotation>
      <xs:documentation>Платежный документ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="PaymentDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата уплаты или взыскания (дата исполнения обязанности по уплате таможенных и иных платежей)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PaymentWayCode" type="clt_ru:Code2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Способ уплаты в соответствии с классификатором способов уплаты таможенных и иных платежей, взимание которых возложено на таможенные органы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocPaymentAmount" type="clt_ru:AmountType">
            <xs:annotation>
              <xs:documentation>Сумма списания или возврата денежных средств</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PaymentDocCurrencyCode" type="clt_ru:CurrencyN3CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Цифровой код валюты списания или возврата денежных средств</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:choice minOccurs="0">
            <xs:element name="RFOrganizationFeatures" type="cat_ru:RFOrganizationFeaturesType">
              <xs:annotation>
                <xs:documentation>Сведения об организации. Особенности Российской Федерации</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="RKOrganizationFeatures" type="cat_ru:RKOrganizationFeaturesType">
              <xs:annotation>
                <xs:documentation>Сведения об организации. Особенности Республики Казахстан</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="RBOrganizationFeatures" type="cat_ru:RBOrganizationFeaturesType">
              <xs:annotation>
                <xs:documentation>Сведения об организации. Особенности Республики Беларусь</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="RAOrganizationFeatures" type="cat_ru:RAOrganizationFeaturesType">
              <xs:annotation>
                <xs:documentation>Сведения об организации. Особенности Республики Армения</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="KGOrganizationFeatures" type="cat_ru:KGOrganizationFeaturesType">
              <xs:annotation>
                <xs:documentation>Сведения об организации. Особенности Кыргызской Республики</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element name="UITN" type="RUScat_ru:UITN40Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Налоговый или регистрационный номер, присвоенный иностранной организации в стране регистрации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о документе, удостоверяющем личность физического лица</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>