XsltProcessor/xsd/5.23.0/LiquidationApplication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:liqap="urn:customs.ru:Information:CustomsDocuments:LiquidationApplication:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:LiquidationApplication:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Заявление о помещении товаров под таможенную процедуру уничтожения/заявление на уничтожение пришедших в негодность товаров и (или) упаковки на территории особой экономической зоны или вывоз таких товаров и (или) упаковки с территории особой экономической зоны в целях уничтожения</xs:documentation>
  </xs:annotation>
  <xs:element name="LiquidationApplication" type="liqap:LiquidationApplicationType">
    <xs:annotation>
      <xs:documentation>Заявление о помещении товаров под таможенную процедуру уничтожения/заявление на уничтожение пришедших в негодность товаров и (или) упаковки на территории особой экономической зоны или вывоз таких товаров и (или) упаковки с территории особой экономической зоны в целях уничтожения</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="LiquidationApplicationType">
    <xs:annotation>
      <xs:documentation>Заявление о помещении товаров под таможенную процедуру уничтожения/заявление на уничтожение пришедших в негодность товаров и (или) упаковки на территории особой экономической зоны или вывоз таких товаров и (или) упаковки с территории особой экономической зоны в целях уничтожения</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DocumentSign" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Признак документа: 0 - заявление на уничтожение пришедших в негодность товаров на территории ОЭЗ или вывоз таких товаров с территории ОЭЗ с целью уничтожения; 1 - заявление на помещение товаров под таможенную процедуру уничтожения; 2 - заявление на помещение поврежденных/уничтоженных товаров под таможенную процедуру уничтожения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OperationSign" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак операции: 0 - уничтожение на территории ОЭЗ; 1 - вывоз с территории ОЭЗ с целью уничтожения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LiquidationReasons" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Причины вывода товаров и (или) упаковки из оборота</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LiquidationDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Заявленная дата уничтожения отходов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OEZ_Resident" type="liqap:LiquidationParticipantType">
            <xs:annotation>
              <xs:documentation>Резидент ОЭЗ/иное лицо, являющееся заявителем</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CUCustomsType">
            <xs:annotation>
              <xs:documentation>Сведения о таможенном органе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Liquidator" type="liqap:LiquidationParticipantType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Лицо, осуществляющее уничтожение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StorageOrganization" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Лицо, осуществляющее хранение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LiquidationPlace" type="cat_ru:AddressType">
            <xs:annotation>
              <xs:documentation>Место уничтожения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WasteProducts" type="liqap:WasteProductsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Отходы, полученные из товаров и (или) упаковки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LiquidationGoods" type="liqap:GoodsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о товарах, подлежащих уничтожению</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsPlace" type="cat_ru:AddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Местонахождение товаров, подлежащих уничтожению</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransportationDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Срок, необходимый для транспортировки товаров из их местонахождения
в место уничтожения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LiquidationDuration" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Срок, необходимый для уничтожения товаров с указанием времени окончания проведения операций по уничтожению всех декларируемых товаров заявленными способами</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006186E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="Code11Type">
    <xs:annotation>
      <xs:documentation>Код. Символьная строка (буквы, цифры, знаки) используемая для краткого (и (или) независимого от языка) представления или замены определенных значений или текстовых свойств. 11 символов</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:CodeCategoriesCust">
      <xs:length value="11" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ConsignmentType">
    <xs:annotation>
      <xs:documentation>Сведения о партии товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RegNumberDT" type="cat_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Goods" type="liqap:GoodsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Товар, помещенный под таможенную процедуру СТЗ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Товар, помещенный под таможенную процедуру</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodDescription" type="clt_ru:FreeText250Type" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsNumeric" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Cost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Стоимость</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProspectiveLiquidationMethod" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Предполагаемый способ уничтожения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
        <xs:annotation>
          <xs:documentation>Количество товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DTGoodsGroup" type="liqap:DTGoodsGroupType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения об артикульной позиции товара ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DTGoodsGroupType">
    <xs:annotation>
      <xs:documentation>Сведения об артикульной позиции товара ДТ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsMarking" type="cltESAD_cu:GoodsArticulType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор вида продукта (товара) или артикул товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товара в дополнительной единице измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecordId" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор записи в ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LiquidationParticipantType">
    <xs:annotation>
      <xs:documentation>Участник мероприятий по уничтожению товаров, пришедших в негодность</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType">
        <xs:sequence>
          <xs:element name="PersonPost" type="clt_ru:PostType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Должность</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OEZ_ResidentCertif" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Свидетельство, удостоверяющее регистрацию лица в качестве резидента ОЭЗ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FactAddress" type="cat_ru:AddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Фактический адрес организации</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PackingInformationType">
    <xs:annotation>
      <xs:documentation>Сведения об упаковке</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PackingCode" type="clt_ru:PackageCodeType">
        <xs:annotation>
          <xs:documentation>Код вида упаковки товаров в соответствии с  Классификатором видов груза, упаковки и упаковочных материалов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PackingDescription" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование упаковки товаров в соответствии с  Классификатором видов груза, упаковки и упаковочных материалов</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WasteProductsType">
    <xs:annotation>
      <xs:documentation>Отходы, полученные из товаров и (или) упаковки</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="WasteDescription" type="clt_ru:FreeText250Type" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Наименование отхода в соответствии с Федеральным классификационным каталогом отходов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WasteCode" type="liqap:Code11Type">
        <xs:annotation>
          <xs:documentation>Код отхода в соответствии с Федеральным классификационным каталогом отходов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LiquidationMethod" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Способ уничтожения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WasteSign" type="clt_ru:DigitalIndicatorType">
        <xs:annotation>
          <xs:documentation>Признак происхождения отходов: 0 - товары; 1 - упаковка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WasteCost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Стоимость</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WasteCostCurrency" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Валюта стоимости</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CommercialUsePossibility" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак наличия возможности коммерческого использования отходов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WasteQuantity" type="cat_ru:SupplementaryQuantityType">
        <xs:annotation>
          <xs:documentation>Количество отходов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PackingInformation" type="liqap:PackingInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения об упаковке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Consignment" type="liqap:ConsignmentType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о партии товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WastePlace" type="cat_ru:AddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Место нахождения (хранения) предполагаемых отходов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsProcedure" type="cltESAD_cu:CustomsModeCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Таможенная процедура, под которую планируется помещать отходы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OutputDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Срок вывоза отходов, либо дата помещения отходов под иную таможенную процедуру</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Document" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Документ, подтверждающий факт уничтожения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>