XsltProcessor/xsd/5.23.0/MeasuringProtocol.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:CustomsDocuments:MeasuringProtocol:5.22.0" version="5.22.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:mp="urn:customs.ru:Information:CustomsDocuments:MeasuringProtocol:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Протокол выполнения измерений круглых лесоматериалов</xs:documentation>
  </xs:annotation>
  <xs:element name="MeasuringProtocol" type="mp:MeasuringProtocolType" />
  <xs:complexType name="MeasuringProtocolType">
    <xs:annotation>
      <xs:documentation>Протокол выполнения измерений круглых лесоматериалов</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DocSign" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Протокол выполнения измерений методом: 1 - концевых сечений; 2 - срединного сечения; 3 - с использованием таблиц объемов ГОСТ 2708; 4 - геометрическим штабельным</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MeasuringDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата проведения измерений</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WoodSortiment" type="cltESAD_cu:WoodAssortiment">
            <xs:annotation>
              <xs:documentation>Сортимент</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WoodKind" type="cltESAD_cu:WoodKindType">
            <xs:annotation>
              <xs:documentation>Порода</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LogPileQuantity" type="clt_ru:Quantity11Type">
            <xs:annotation>
              <xs:documentation>Количество бревен/штабелей в партии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="NominalLength" type="clt_ru:Quantity4point2Type">
            <xs:annotation>
              <xs:documentation>Номинальная длина партии бревен, указанная в представленных документах, м</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Temperature" type="clt_ru:Text5Type">
            <xs:annotation>
              <xs:documentation>Температура воздуха при измерениях</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MeasuringPlace" type="cat_ru:AddressType">
            <xs:annotation>
              <xs:documentation>Место проведения измерений</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignor" type="RUScat_ru:SubjectDetailsType">
            <xs:annotation>
              <xs:documentation>Грузоотправитель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignee" type="RUScat_ru:SubjectDetailsType">
            <xs:annotation>
              <xs:documentation>Грузополучатель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Seller" type="RUScat_ru:SubjectDetailsType">
            <xs:annotation>
              <xs:documentation>Продавец</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Buyer" type="RUScat_ru:SubjectDetailsType">
            <xs:annotation>
              <xs:documentation>Покупатель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeparturePlace" type="cat_ru:AddressType">
            <xs:annotation>
              <xs:documentation>Пункт отправления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DestinationPlace" type="cat_ru:AddressType">
            <xs:annotation>
              <xs:documentation>Пункт назначения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegNumberDT" type="cat_ru:GTDIDType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер ДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Contract" type="cat_ru:DocumentBaseType">
            <xs:annotation>
              <xs:documentation>Договор (контракт)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" name="TransportWayBillInfo" type="mp:TransportWayBillInfoType">
            <xs:annotation>
              <xs:documentation>Сведения о транспортном средстве и ТТН</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="LogMeasuringInfo" type="mp:LogMeasuringInfoType">
            <xs:annotation>
              <xs:documentation>Сведения об измерениях бревна методом концевых сечений, срединного сечения, с использованием таблиц объемов ГОСТ 2708</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" name="MeasuringEquipment" type="mp:MeasuringEquipmentType">
            <xs:annotation>
              <xs:documentation>Сведения о средстве измерений</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" name="MeasuringPerson" type="mp:MeasuringPersonType">
            <xs:annotation>
              <xs:documentation>Сведения о лице, присутствующем/ проводившем измерения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" name="MeasuringResults" type="mp:MeasuringResultsType">
            <xs:annotation>
              <xs:documentation>Итоговые значения измерений</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="MeasuringTransportLogs" type="mp:MeasuringTransportLogsType">
            <xs:annotation>
              <xs:documentation>Сведения об измерениях объема штабеля круглых лесоматериалов, погруженных в (на) вагоны (автомобили)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute fixed="1006199E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="LogFactLengthType">
    <xs:annotation>
      <xs:documentation>Фактическая длина измеренного бревна</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="LogNumber" type="clt_ru:Count2Type">
        <xs:annotation>
          <xs:documentation>Номер бревна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FactLength" type="clt_ru:Quantity18point3Type">
        <xs:annotation>
          <xs:documentation>Измеренная фактическая длина, м</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LogMeasuringInfoType">
    <xs:annotation>
      <xs:documentation>Сведения об измерениях бревна методом концевых сечений, срединного сечения, с использованием таблиц объемов ГОСТ 2708</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="LogSerialNumber" type="clt_ru:Count10Type">
        <xs:annotation>
          <xs:documentation>Номер бревна по порядку измеряемого сортимента</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FactLength" type="clt_ru:Quantity18point3Type">
        <xs:annotation>
          <xs:documentation>Измеренная фактическая длина, м</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FactVolume" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Фактический объем бревна (с учетом коры)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="NominalVolume" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Номинальный объем бревна (без учета коры) / Номинальный объем бревна с применением таблиц объемов 1 ГОСТ2708</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="NominalVolume2" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Номинальный объем бревна с применением таблиц объемов 4 ГОСТ2708</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="LogRise" type="clt_ru:Quantity14point2Type">
        <xs:annotation>
          <xs:documentation>Сбег</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="MeasuringDetails" type="mp:MeasuringDetailsType">
        <xs:annotation>
          <xs:documentation>Результаты измерений</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TabularValues" type="mp:TabularValuesType">
        <xs:annotation>
          <xs:documentation>Табличные данные</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MeasuringDetailsType">
    <xs:annotation>
      <xs:documentation>Результаты измерений</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BarkSign" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак проведения измерений лесоматериалов с корой</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasureSign" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Измерение диаметра: 1 - верхнего; 2 - срединного; 3 - нижнего</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FirstMeasureValue" type="clt_ru:Quantity4point2Type">
        <xs:annotation>
          <xs:documentation>Значение результата первого измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SecondMeasureValue" type="clt_ru:Quantity4point2Type">
        <xs:annotation>
          <xs:documentation>Значение результата второго измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AverageValue" type="clt_ru:Quantity4point2Type">
        <xs:annotation>
          <xs:documentation>Среднее значение (толщина бревна)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MeasuringEquipmentType">
    <xs:annotation>
      <xs:documentation>Сведения о средстве измерений</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="EquipmentName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование и тип средства измерений</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SerialNumber" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Заводской номер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Verification" type="mp:VerificationType">
        <xs:annotation>
          <xs:documentation>Сведения о поверке средства измерений</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MeasuringPersonType">
    <xs:annotation>
      <xs:documentation>Сведения о лице, присутствующем/проводившем измерения</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonSignatureType">
        <xs:sequence>
          <xs:element name="PersonSign" type="clt_ru:DigitalIndicatorType">
            <xs:annotation>
              <xs:documentation>Признак лица: 0 - проводивший измерения; 1 - присутствующий при проведении измерений</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MeasuringResultsType">
    <xs:annotation>
      <xs:documentation>Итоговые значения измерений</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BarkSign" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак измерений лесоматериалов с корой</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="MeasureValue" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Сумма объемов, куб. м</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="AbsoluteError" type="clt_ru:Text10Type">
        <xs:annotation>
          <xs:documentation>Абсолютная погрешность, куб. м</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ResultMeasureValue" type="clt_ru:Text40Type">
        <xs:annotation>
          <xs:documentation>Результат измерения с учетом погрешности</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MeasuringTransportLogsType">
    <xs:annotation>
      <xs:documentation>Сведения об измерениях объема штабеля круглых лесоматериалов, погруженных в (на) вагоны (автомобили)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TransportType" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Тип транспортного средства: 1 - вагон; 2 - автомобиль; 3 - прицеп</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportIdentifier" type="clt_ru:TransportMeansIDType">
        <xs:annotation>
          <xs:documentation>Номер транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="PileMeasuringInfo" type="mp:PileMeasuringInfoType">
        <xs:annotation>
          <xs:documentation>Результаты измерений штабеля</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PileMeasuringInfoType">
    <xs:annotation>
      <xs:documentation>Результаты измерений штабеля</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PileSerialNumber" type="clt_ru:Count10Type">
        <xs:annotation>
          <xs:documentation>Номер штабеля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="NominalLength" type="clt_ru:Quantity4point2Type">
        <xs:annotation>
          <xs:documentation>Номинальная длина бревен штабеля, указанная в представленных документах, м</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasuredLogsQuantity" type="clt_ru:Count4Type">
        <xs:annotation>
          <xs:documentation>Количество бревен штабеля, у которых измерялась их фактическая длина</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LengthDifference" type="clt_ru:Quantity18point3Type">
        <xs:annotation>
          <xs:documentation>Разность между наибольшим  и наименьшим  значениями у измеренных длин бревен, м</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FactLength" type="clt_ru:Quantity14point2Type">
        <xs:annotation>
          <xs:documentation>Измеренная фактическая длина штабеля, м</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SideHeight1" type="clt_ru:Quantity4point2Type">
        <xs:annotation>
          <xs:documentation>Высота штабеля, измеренная с его первой боковой стороны</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SideHeight2" type="clt_ru:Quantity4point2Type">
        <xs:annotation>
          <xs:documentation>Высота штабеля, измеренная с его второй боковой стороны</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PileHeight" type="clt_ru:Quantity4point2Type">
        <xs:annotation>
          <xs:documentation>Измеренная высота штабеля, м</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="LowerLayerHeight" type="clt_ru:Text5Type">
        <xs:annotation>
          <xs:documentation>Толщина нижних подкладок, м</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RubbishLayerHeight" type="clt_ru:Text5Type">
        <xs:annotation>
          <xs:documentation>Толщина слоя мусора, м</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="InnerLayer" type="clt_ru:Text5Type">
        <xs:annotation>
          <xs:documentation>Сумма средних толщин прокладок, уложенных внутри штабеля и под "шапкой", м</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PileHeightCalculated" type="clt_ru:Quantity4point2Type">
        <xs:annotation>
          <xs:documentation>Расчетная высота штабеля, м</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PileWidth" type="clt_ru:Quantity4point2Type">
        <xs:annotation>
          <xs:documentation>Измеренная ширина штабеля, м</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BarkNominalVolume" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Измеренный складочный номинальный объем штабеля с учетом номинальной длины бревен штабеля, объема их коры и пустот между ними </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FactlVolumeVL" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Измеренный складочный фактический объем штабеля с учетом фактической длины штабеля, объема коры бревен и пустот между ними </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WidthSpan" type="clt_ru:Text5Type">
        <xs:annotation>
          <xs:documentation>Диапазон толщин бревен, см</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="LoadingForm" type="clt_ru:Text40Type">
        <xs:annotation>
          <xs:documentation>Форма погрузки штабеля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WoodCoefficient" type="clt_ru:Quantity4point2Type">
        <xs:annotation>
          <xs:documentation>Принятое табличное значение переводного коэффициента (коэффициента полнодревесности)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BarkCoefficient" type="clt_ru:Quantity4point2Type">
        <xs:annotation>
          <xs:documentation>Принятое табличное значение коэффициента на кору</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NominalVolume" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Измеренный плотный (номинальный) объем штабеля с учетом номинальной длины бревен без учета объема их коры и пустот между ними </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FactlVolumeVKL" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Измеренный фактический объем бревен штабеля с учетом фактической длины штабеля и объема коры бревен</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="LogFactLength" type="mp:LogFactLengthType">
        <xs:annotation>
          <xs:documentation>Фактическая длина измеренного бревна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="PileMeasuringResults" type="mp:MeasuringResultsType">
        <xs:annotation>
          <xs:documentation>Итоговые значения измерений для штабеля</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TabularValuesType">
    <xs:annotation>
      <xs:documentation>Табличные данные</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="VolumeCoefficient" type="clt_ru:Quantity4point2Type">
        <xs:annotation>
          <xs:documentation>Коэффициент на объем коры</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TabularLength" type="clt_ru:Quantity18point3Type">
        <xs:annotation>
          <xs:documentation>Табличная принятая длина, м</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TabularVolume1" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Объем бревна с применением таблицы 1 ГОСТ 2708</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TabularDiameter" type="clt_ru:Quantity4point2Type">
        <xs:annotation>
          <xs:documentation>Толщина бревна с учетом округления по таблицам</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TabularVolume4" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Объем бревна с применением таблицы 4 ГОСТ 2708</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LengthRatio" type="clt_ru:Quantity14point2Type">
        <xs:annotation>
          <xs:documentation>Отношение фактической и табличной принятой длин</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportWayBillInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о транспортном средстве и ТТН</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="WayBillNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер транспортной накладной</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="Transport" type="cat_ru:TransportMeansBaseType">
        <xs:annotation>
          <xs:documentation>Транспортное средство</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VerificationType">
    <xs:annotation>
      <xs:documentation>Сведения о поверке средства измерений</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="VerificationDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата поверки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VerificationOrg" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Наименование поверочного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="VerificationCertificate" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер свидетельства о поверке</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>