XsltProcessor/xsd/5.23.0/MilitaryLicInvalid.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:mii="urn:customs.ru:Information:SQDocuments:MilitaryLicInvalid:5.23.0" targetNamespace="urn:customs.ru:Information:SQDocuments:MilitaryLicInvalid:5.23.0" elementFormDefault="qualified" version="5.23.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:annotation>
		<xs:documentation>Сообщение о результатах поиска лицензии на ввоз (вывоз) продукции военного назначения, выданной Федеральной службой по военно-техническому сотрудничеству </xs:documentation>
	</xs:annotation>
	<xs:element name="MilitaryLicInvalid" type="mii:MilitaryLicInvalidType">
		<xs:annotation>
			<xs:documentation>Сообщение о результатах поиска лицензии на ввоз (вывоз) продукции военного назначения, выданной Федеральной службой по военно-техническому сотрудничеству </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="MilitaryLicInvalidType">
		<xs:annotation>
			<xs:documentation>Сообщение о результатах поиска лицензии на ввоз (вывоз) продукции военного назначения, выданной Федеральной службой по военно-техническому сотрудничеству </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="DocNumber" type="RUScat_ru:DocBaseV4Type">
						<xs:annotation>
							<xs:documentation>Номер и дата документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ActionEnd" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Срок действия</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Status" type="clt_ru:CodeVariable2Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Статус документа: (1 -  Действует; 2 - Не действует/иное</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FindStatus" type="clt_ru:IndicatorType">
						<xs:annotation>
							<xs:documentation>Статус поиска: ( 0 - Сведения о лицензии отсутствуют в информационных ресурсах таможенных органов, требуется постановка лицензии на контроль; 1 -   Найден;</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006366E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
