XsltProcessor/xsd/5.23.0/MinPromLicence.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:minprl="urn:customs.ru:Information:SQDocuments:MinPromLicence:5.22.0" targetNamespace="urn:customs.ru:Information:SQDocuments:MinPromLicence:5.22.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.22.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:annotation>
		<xs:documentation>Ответ на запрос сведений о лицензии на ввоз/вывоз товара с территории Евразийского экономического союза</xs:documentation>
	</xs:annotation>
	<xs:element name="MinPromLicence" type="minprl:MinPromLicenceType">
		<xs:annotation>
			<xs:documentation>Ответ на запрос сведений о лицензии на ввоз/вывоз товара с территории Евразийского экономического союза</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="MinPromLicenceType">
		<xs:annotation>
			<xs:documentation>Ответ на запрос сведений о лицензии на ввоз/вывоз товара с территории Евразийского экономического союза</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="LicenseStatus" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Статус лицензии: 1 - Оформлена, 2 - Действие прекращено, 3 - Приостановлена</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BDRDID" type="clt_ru:DocumentIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор документа по БД РД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocKind" type="clt_ru:Numeric1Type">
						<xs:annotation>
							<xs:documentation>Тип документа: 1 - лицензия на ввоз/вывоз товара с территории ЕАЭС (вид 01011); 2- разрешение на экспорт или импорт отдельных видов товаров (вид 01017)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NomenclatureCode" type="clt_ru:CUGoodsNomenclatuerCodeType">
						<xs:annotation>
							<xs:documentation>Код ТН ВЭД ЕАЭС</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NomenclatureDescription" type="clt_ru:FreeText500Type">
						<xs:annotation>
							<xs:documentation>Пользовательское описание</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AddInfo" type="clt_ru:FreeText500Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дополнительная информация</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AddendumTotalPages" type="clt_ru:SheetNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество листов в приложении</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="License" type="minprl:LicenceInfoType">
						<xs:annotation>
							<xs:documentation>Лицензия</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Contract" type="cat_ru:DocumentBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Информация о контракте</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Dealer" type="minprl:DealerType">
						<xs:annotation>
							<xs:documentation>Информация о покупателе/продавце</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Country7Info" type="minprl:CountryType">
						<xs:annotation>
							<xs:documentation>Страна назначения/отправления</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OriginCountry" type="minprl:CountryType">
						<xs:annotation>
							<xs:documentation>Страна происхождения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Cost" type="minprl:CostType">
						<xs:annotation>
							<xs:documentation>Стоимость</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Quantity" type="RUScat_ru:SupplementaryQuantity24point8Type">
						<xs:annotation>
							<xs:documentation>Количество в основной единице измерения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AddQuantity" type="RUScat_ru:SupplementaryQuantity24point8Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество в дополнительной единице измерения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Blank" type="minprl:BlankType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Бланк</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Addendum" type="minprl:LicAddendumItemType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Приложение к лицензии</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009022E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PersonSignType">
		<xs:annotation>
			<xs:documentation>Подпись лица</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:PersonSignatureType">
				<xs:sequence>
					<xs:element name="Phone" type="clt_ru:PhoneNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер телефона</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы.</xs:documentation>
	</xs:annotation>
	<xs:complexType name="BlankType">
		<xs:annotation>
			<xs:documentation>Бланк</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BlankSer" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Серия бланка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BlankNum" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Номер бланка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BlankType" type="clt_ru:Text50Type">
				<xs:annotation>
					<xs:documentation>Бланк (оригинал, дубликат)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CostType">
		<xs:annotation>
			<xs:documentation>Стоимость</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ContractCurrencyCode" type="clt_ru:CurrencyA3CodeType">
				<xs:annotation>
					<xs:documentation>Код валюты</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContractCurrencyName" type="clt_ru:CurrencyNameType">
				<xs:annotation>
					<xs:documentation>Наименование валюты</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyCost" type="clt_ru:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Cтоимость</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatCost" type="clt_ru:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Статистическая стоимость товара (USD)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CountryType">
		<xs:annotation>
			<xs:documentation>Информация о стране</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CountryName" type="clt_ru:CountryNameType">
				<xs:annotation>
					<xs:documentation>Наименование страны</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryAlpha2" type="clt_ru:CountryA2CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код альфа-2 страны</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DealerType">
		<xs:annotation>
			<xs:documentation>Информация о покупателе/продавце</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:OrganizationBaseType">
				<xs:sequence>
					<xs:element name="DealerAddress" type="RUScat_ru:RUAddressType">
						<xs:annotation>
							<xs:documentation>Адрес Покупателя/Продавца</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Country" type="minprl:CountryType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Страна Покупателя/Продавца</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DocumentType">
		<xs:annotation>
			<xs:documentation>Документ</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="DocCode" type="clt_ru:CodeVariable20Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код документа</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LicAddendumItemType">
		<xs:annotation>
			<xs:documentation>Строка приложения к лицензии (товарная спецификация)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PositionNumber" type="clt_ru:Quantity8Type">
				<xs:annotation>
					<xs:documentation>Номер позиции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommodityName" type="clt_ru:FreeText250Type" maxOccurs="4">
				<xs:annotation>
					<xs:documentation>Описание товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cost" type="clt_ru:AmountType">
				<xs:annotation>
					<xs:documentation>Стоимость товара в валюте контакта</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PageNumber" type="clt_ru:SheetNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер листа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LicAddendumMeasureItem" type="RUScat_ru:SupplementaryQuantity24point8Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Единицы измерения и количества</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LicenceInfoType">
		<xs:annotation>
			<xs:documentation>Информация о лицензии</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StartDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата начала действия лицензии</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateTo" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата окончания действия лицензии</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата последнего изменения статуса лицензии</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LicType" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип лицензии (разовая, генеральная, исключительная)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LicOperation" type="clt_ru:Text50Type">
				<xs:annotation>
					<xs:documentation>Тип операции (импорт, экспорт)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepartmentShortName" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Короткое наименование подразделения Минпромторга России, оформившего лицензию</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepartmentCode" type="clt_ru:CodeVariable20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код подразделения Минпромторга России, оформившего лицензию</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Licence" type="cat_ru:DocumentBaseType">
				<xs:annotation>
					<xs:documentation>Реквизиты лицензии</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Holder" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Информация о владельце лицензии</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Reason" type="minprl:DocumentType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Основание для выдачи лицензии</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SignPerson" type="cat_ru:PersonSignatureType">
				<xs:annotation>
					<xs:documentation>Уполномоченное лицо, выдавшее документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HolderPerson" type="minprl:PersonSignType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уполномоченное лицо заявителя</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
