XsltProcessor/xsd/5.23.0/MPOControl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:mpoc="urn:customs.ru:Information:ExchangeDocuments:MPOControl:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:ExchangeDocuments:MPOControl:5.22.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Запросы по МПО</xs:documentation>
  </xs:annotation>
  <xs:element name="MPOControl" type="mpoc:MPOControlType">
    <xs:annotation>
      <xs:documentation>Запросы по МПО</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="MPOControlType">
    <xs:annotation>
      <xs:documentation>Запросы по МПО</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DocSign" type="clt_ru:DigitalIndicatorType">
            <xs:annotation>
              <xs:documentation>Тип документа : 0 - Уведомление о необходимости предъявления МПО в таможенный орган, 1 - резерв, 2 - резерв, 3 - Требование предъявления товаров для таможенного осмотра, 4 - Уведомления о проведении таможенного досмотра,  5 - Уведомление о переносе сроков досмотра; 6 - Уведомление о проведении таможенной экспертизы по МПО</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Presence" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак того, что требуется присутствие при таможенном досмотре / осмотре</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InspDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата проведения досмотра /  осмотра</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InspTime" type="clt_ru:TimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Время проведения досмотра / осмотра</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ControlStartDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата формирования запроса</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ControlStartTime" type="clt_ru:TimeCustType">
            <xs:annotation>
              <xs:documentation>Время формирования запроса</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Comments" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Комментарий</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WorkPlace" type="clt_ru:Text10Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код рабочего места ММПО</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPerson" type="cat_ru:CustomsPersonType">
            <xs:annotation>
              <xs:documentation>Должностное лицо таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Таможенный орган</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MPORegNum" type="mpoc:MPORegNumType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTReg" type="cat_ru:GTDIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер ЭДТ (декларации на товары)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MPOReg" type="mpoc:MPORegType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер ЭД МПО</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1004123E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="MPORegType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер ЭД МПО </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MPO_Number" type="clt_ru:CodeVariable14Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер по сквозной нумерации</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MPORegNumType">
    <xs:annotation>
      <xs:documentation>Номер МПО</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата регистрации документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MPO_Number" type="clt_ru:Code13Type">
        <xs:annotation>
          <xs:documentation>Уникальный номер МПО</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>