XsltProcessor/xsd/5.23.0/MPORelease.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:mpor="urn:customs.ru:Information:RegistrationDocuments:MPORelease:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:RegistrationDocuments:MPORelease:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Сведения о выдаче МПО получателю</xs:documentation>
  </xs:annotation>
  <xs:element name="MPORelease" type="mpor:MPOReleaseType">
    <xs:annotation>
      <xs:documentation>Сведения о выдаче МПО получателю</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="MPOReleaseType">
    <xs:annotation>
      <xs:documentation>Сведения о выдаче МПО получателю</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Consignee" type="mpor:PersonInfoType">
            <xs:annotation>
              <xs:documentation>Получатель МПО</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EmpoweredPerson" type="mpor:PersonInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Доверенное лицо</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="INN" type="clt_ru:INNIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ИНН плательщика</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SNILS" type="clt_ru:Text40Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>СНИЛС плательщика</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReleaseDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата выдачи МПО</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MPORegNum" type="mpor:MPORegNumType">
            <xs:annotation>
              <xs:documentation>Номер МПО</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006222E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MPORegNumType">
    <xs:annotation>
      <xs:documentation>Номер МПО</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата регистрации документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MPO_Number" type="clt_ru:Code13Type">
        <xs:annotation>
          <xs:documentation>Уникальный номер МПО</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о физ. лице</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonBaseType">
        <xs:sequence>
          <xs:element name="AuthoritesDocument" type="cat_ru:AuthoritesDocumentType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о документе, удостоверяющем полномочия, о доверенности на совершение действий</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Birthday" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата рождения</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>