XsltProcessor/xsd/5.23.0/MPOReestrMark.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:mpco="urn:customs.ru:Information:CustomsDocuments:MPOCommon:5.22.0" xmlns:mprk="urn:customs.ru:Information:CustomsDocuments:MPOReestrMark:5.22.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:MPOReestrMark:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:CustomsDocuments:MPOCommon:5.22.0" schemaLocation="MPOCommon.xsd" />
  <xs:annotation>
    <xs:documentation>Решения по реестру МПО</xs:documentation>
  </xs:annotation>
  <xs:element name="MPOReestrMark" type="mprk:MPOReestrMarkType">
    <xs:annotation>
      <xs:documentation>Решения по реестру МПО</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="MPOReestrMarkType">
    <xs:annotation>
      <xs:documentation>Решения по реестру МПО</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Reestr_ID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный номер реестра</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MPOReestr" type="mpco:MPO_RegistrationType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер реестра МПО</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MPORegInfoList" type="mprk:MPORegInfoLlistType" maxOccurs="5000">
            <xs:annotation>
              <xs:documentation>Решения по МПО из реестра</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006255E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MPOMarkType">
    <xs:annotation>
      <xs:documentation>Решение по МПО</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mpco:MPORegInfoType">
        <xs:sequence>
          <xs:element name="ProlongDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Срок продления/приостановки выпуска товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MPORegInfoLlistType">
    <xs:annotation>
      <xs:documentation>Решения по МПО из реестра</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MPO_ID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Уникальный номер записи в реестре МПО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecNum" type="clt_ru:Count4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер по порядку в реестре</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MPORegInfo" type="mprk:MPOMarkType">
        <xs:annotation>
          <xs:documentation>Решения по МПО </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
</xs:schema>