XsltProcessor/xsd/5.23.0/MPOSurvey.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:mpco="urn:customs.ru:Information:CustomsDocuments:MPOCommon:5.22.0" xmlns:mps="urn:customs.ru:Information:CustomsDocuments:MPOSurvey:5.22.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:MPOSurvey:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:Information:CustomsDocuments:MPOCommon:5.22.0" schemaLocation="MPOCommon.xsd" />
  <xs:annotation>
    <xs:documentation>Результаты осмотра МПО с применением ДРТ</xs:documentation>
  </xs:annotation>
  <xs:element name="MPOSurvey" type="mps:MPOSurveyType">
    <xs:annotation>
      <xs:documentation>Результаты осмотра МПО с применением ДРТ</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="MPOSurveyType">
    <xs:annotation>
      <xs:documentation>Результаты осмотра МПО с применением ДРТ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Reestr_ID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный номер реестра</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MPOReestr" type="mpco:MPO_RegistrationType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер реестра МПО</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MPO_Registration" type="mpco:MPO_RegistrationType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер МПО</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocDate" type="clt_ru:DateTimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата и время формирования документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Return" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак необходимости возврата МПО</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReasonReturn" type="clt_ru:Text150Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Причина возврата товаров отправителю</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Inspection" type="mps:InspectionType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Результаты осмотра МПО</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006268E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="InspectionType">
    <xs:annotation>
      <xs:documentation>Результаты осмотра МПО</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsPerson" type="RUScat_ru:CustomsPersonDetails">
        <xs:annotation>
          <xs:documentation>Должностное лицо ТО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspectionTime" type="clt_ru:DateTimeCustType">
        <xs:annotation>
          <xs:documentation>Дата и время проведения осмотра</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DisplayTime" type="clt_ru:DateTimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата и время предъявления МПО на осмотр</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PackingState" type="mpco:PackingStateType">
        <xs:annotation>
          <xs:documentation>Сведения об упаковке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Prohibited" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак наличия запрещенных вложений</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Perquisition" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак необходимости проведения досмотра</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Comment" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Комментарии</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>