XsltProcessor/xsd/5.23.0/NonPayExciseAct.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Проект распоряжения ФТС России «Об утверждении Порядка действий должностных лиц таможенных органов при совершения операций при взимании акцизов по подакцизным товарам Евразийского экономического союза, ввозимым на территорию Российской Федерации с территории государства – члена Евразийского экономического союза, подлежащим в соответствии с законодательством Российской Федерации маркировке акцизными
и федеральными специальными марками, и проведении контроля полноты и своевременности их уплаты с применением информационных программных средств Единой автоматизированной информационной системы таможенных органов»  -->
<xs:schema xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:npea="urn:customs.ru:Information:ELSDocuments:NonPayExciseAct:5.22.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:ELSDocuments:NonPayExciseAct:5.22.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Акт обнаружения неуплаты акциза по маркированным товарам Евразийского экономического союза</xs:documentation>
  </xs:annotation>
  <xs:element name="NonPayExciseAct" type="npea:NonPayExciseActType">
    <xs:annotation>
      <xs:documentation>Акт обнаружения неуплаты акциза по маркированным товарам Евразийского экономического союза</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="NonPayExciseActType">
    <xs:annotation>
      <xs:documentation>Акт обнаружения неуплаты акциза по маркированным товарам Евразийского экономического союза</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ActDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Sheets" type="clt_ru:Quantity3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество листов акта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ActRegNumber" type="cat_ru:GTDIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер акта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsControlDoc" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Документы, составленные по результатам проведения таможенного контроля</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ImportBaseDoc" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Документы, на основании которых производился ввоз маркированных товаров ЕАЭС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OtherDoc" type="npea:OtherDocType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Иные документы, позволяющие идентифицировать товары</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Contravention" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Описание выявленных в результате проведения таможенного контроля фактах, влекущих возникновение обязанности по уплате (доплате) акциза по маркированным товарам ЕАЭС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Supplier" type="npea:OrganizationType">
            <xs:annotation>
              <xs:documentation>Продавец</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Buyer" type="npea:OrganizationType">
            <xs:annotation>
              <xs:documentation>Покупатель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ContractDocument" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Внешнеторговый договор</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Producer" type="npea:GoodsProducerType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Производитель товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AppBuyExciseStampsDocument" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер заявления о выдаче (приобретении) акцизных (федеральных специальных) марок</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsInfo" type="npea:GoodsExtType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о товарах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TotalInvoicedCost" type="clt_ru:AmountType">
            <xs:annotation>
              <xs:documentation>Итого цена/стоимость товара (руб)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TotalInvoicedCostCur" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Итого цена/стоимость товара в валюте договора (заполняется в случае одинаковой валюты договора по всем товарам)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TotalExciseSum" type="clt_ru:AmountType">
            <xs:annotation>
              <xs:documentation>Итого сумма акциза к уплате (руб)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TotalPenaltiesSum" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Итого исчисленная сумма пеней (руб)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ObligedPerson" type="npea:ObligedPersonType">
            <xs:annotation>
              <xs:documentation>Лицо, на которое возложена обязанность по уплате акциза по маркированным товарам ЕАЭС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustHeadSignature" type="npea:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Подпись начальника ТО (или его заместителя)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InspectorSignature" type="npea:PersonSignatureType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Подпись должностного лица таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1040044E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="GoodsExtType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:EECDTGoodsBaseDetailsType">
        <xs:sequence>
          <xs:element name="QuantityGoodsInKind" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество товара в натуральном выражении</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="QuantityGoodsForExcise" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество товара в единицах, используемых для расчета акциза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InvoicedCost" type="clt_ru:AmountType">
            <xs:annotation>
              <xs:documentation>Цена/стоимость товара (руб)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InvoicedCostCur" type="clt_ru:AmountType">
            <xs:annotation>
              <xs:documentation>Цена/стоимость товара в валюте договора</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CurCode" type="clt_ru:CurrencyA3CodeType">
            <xs:annotation>
              <xs:documentation>Код валюты договора</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CurRate" type="clt_ru:AmountType">
            <xs:annotation>
              <xs:documentation>Курс валюты договора</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:choice>
            <xs:element name="IssueStampInfo" type="catESAD_cu:ESADExciseType" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>Сведения об акцизных марках</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="PermissiveDocument" type="cat_ru:DocumentBaseType">
              <xs:annotation>
                <xs:documentation>Реквизиты разрешительных документов</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element name="TransDocument" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Транспортный(товаросопроводительный) документ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InvoiceDocument" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Счет-фактура </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsAccDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата принятия товара на учет</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TaxBase" type="clt_ru:AmountType">
            <xs:annotation>
              <xs:documentation>Налоговая база</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExciseRate" type="clt_ru:AmountType">
            <xs:annotation>
              <xs:documentation>Ставка акциза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExciseSum" type="clt_ru:AmountType">
            <xs:annotation>
              <xs:documentation>Сумма акциза к уплате (руб)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PenaltiesSum" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Исчисленная сумма пеней (руб)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GoodsProducerType">
    <xs:annotation>
      <xs:documentation>Сведения о производителе товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ProducerName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Наименование производителя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType">
        <xs:annotation>
          <xs:documentation>Код страны происхождения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="cat_ru:AddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Местонахождение производителя</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObligedPersonType">
    <xs:annotation>
      <xs:documentation>Лицо, на которое возложена обязанность по уплате акциза по маркированным товарам ЕАЭС</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OrganizationName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Полное наименование организации / ФИО физического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INN" type="clt_ru:INNIDType">
        <xs:annotation>
          <xs:documentation>ИНН - Индивидуальный номер налогоплательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KPP" type="clt_ru:KPPCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>КПП - Код причины постановки на учет</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="RUScat_ru:RUAddressType" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Адрес организации / физического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentityDoc" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Удостоверение личности физического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganizationType">
    <xs:annotation>
      <xs:documentation>Сведения об продавце/покупателе</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationBaseType">
        <xs:sequence>
          <xs:element name="Address" type="RUScat_ru:RUAddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Адрес</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BankAccInfo" type="cat_ru:BankInformationType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Банковские реквизиты (для налогоплательщиков РФ)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OtherDocType">
    <xs:annotation>
      <xs:documentation>Иные документы</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="DocKindCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код вида документа в соответствии с классификатором видов документов и сведений, используемых при таможенном декларировании</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonSignatureType">
    <xs:annotation>
      <xs:documentation>Компоненты, представляющие сведения о базовых реквизитах документа</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonSignatureType">
        <xs:sequence>
          <xs:element name="SpecialTitle" type="clt_ru:Text150Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Специальное звание лица, подписавшего акт</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>