XsltProcessor/xsd/5.23.0/NoPersonalUse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:npu="urn:customs.ru:Information:CustomsDocuments:NoPersonalUse:5.22.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:NoPersonalUse:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Решение о неотнесении товаров к товарам для личного пользования</xs:documentation>
  </xs:annotation>
  <xs:element name="NoPersonalUse" type="npu:NoPersonalUseType">
    <xs:annotation>
      <xs:documentation>Решение о неотнесении товаров к товарам для личного пользования</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="NoPersonalUseType">
    <xs:annotation>
      <xs:documentation>Решение о неотнесении товаров к товарам для личного пользования</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DocID" type="npu:DocIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер исходного документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DesRegNum" type="cat_ru:GTDIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер Решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CUCustomsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Таможенный орган</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignee" type="npu:ConsigneeType">
            <xs:annotation>
              <xs:documentation>Физическое лицо</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignment" type="npu:ConsignmentType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Накладные реестра в адрес лица</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PreviousGoodsCost" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Стоимость товаров за период, ранее поступивших в адрес получателя, евро</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PreviousGoodsGrossWeight" type="clt_ru:QuantityBasisType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Вес товаров брутто за период, ранее поступивших в адрес получателя, кг</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsFrequency" type="clt_ru:Quantity5Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Частота перемещения товаров в адрес получателя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Month" type="clt_ru:Count2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество месяцев, за которое приведена статистика</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PrevConsignment" type="npu:PrevConsignmentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о товарах, ранее поступивших получателю</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPersonDetails" type="npu:CustomsPersonDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Должностное лицо таможенного органа, принявшее решение</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006288E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CustomsPersonDetailsType">
    <xs:annotation>
      <xs:documentation>Должностное лицо таможенного органа, принявшее решение</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:CustomsPersonDetails">
        <xs:sequence>
          <xs:element name="Comment" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
            <xs:annotation>
              <xs:documentation>Комментарии</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PrevConsignmentType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах, ранее поступивших получателю</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PrevGoods" type="npu:PrevGoodsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Товары, ранее поступивших получателю</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WayBill" type="npu:WayBillType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о накладной</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsignmentType">
    <xs:annotation>
      <xs:documentation>Сведения о накладных</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="WayBillID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор партии товаров в реестре</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ObjectOrdinal" type="clt_ru:Count3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Порядковый номер индивидуальной накладной</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Goods" type="npu:GoodsType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Товары накладной</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ConsigneeType">
    <xs:annotation>
      <xs:documentation>Физическое лицо</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Person" type="cat_ru:PersonBaseType">
        <xs:annotation>
          <xs:documentation>Физическое лицо</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RFOrganizationFeatures" type="cat_ru:RFOrganizationFeaturesType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения об организации. Особенности Российской Федерации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="cat_ru:AddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Specification" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Характеристика товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsCostEuro" type="RUScat_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Стоимость товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товара с указанием дополнительной единицы измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PrevGoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах прешествующих поставок</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrossWeight" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Вес товара, брутто, кг</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsCostEuro" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Стоимость товара в евро</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата поставки товара</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WayBillType">
    <xs:annotation>
      <xs:documentation>Сведения о накладной</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="WayBillID" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор партии товаров в реестре</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExpressNum" type="cat_ru:GTDIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер реестра экспресс-грузов</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MPORegNumType">
    <xs:annotation>
      <xs:documentation>Номер МПО</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата регистрации документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MPO_Number" type="clt_ru:Code13Type">
        <xs:annotation>
          <xs:documentation>Уникальный номер МПО</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocIDType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер документа</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="DTRegNum" type="cat_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер реестра товаров / номер пассажирской декларации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MPORegNum" type="npu:MPORegNumType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер МПО</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:schema>