XsltProcessor/xsd/5.23.0/NotifGoodsArrive.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:catWH_ru="urn:customs.ru:Information:WarehouseDocuments:WarehouseCommonAggregateTypesCust:5.22.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:nga="urn:customs.ru:Information:WarehouseDocuments:NotifGoodsArrive:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:WarehouseDocuments:NotifGoodsArrive:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:WarehouseDocuments:WarehouseCommonAggregateTypesCust:5.22.0" schemaLocation="WarehouseCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Уведомление о прибытии (убытии) товарной партии</xs:documentation>
  </xs:annotation>
  <xs:element name="NotifGoodsArrive" type="nga:NotifGoodsArriveType">
    <xs:annotation>
      <xs:documentation>Уведомление о прибытии (отправке) товарной партии</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="NotifGoodsArriveType">
    <xs:annotation>
      <xs:documentation>Уведомление о прибытии (отправке) товарной партии</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="NotifDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата уведомления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotifTime" type="clt_ru:TimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Время составления уведомления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocSign" type="clt_ru:DigitalIndicatorType">
            <xs:annotation>
              <xs:documentation>Признак уведомления: 0 - о прибытии (предварительное декларирование); 1 - об отправке товарной партии (по временной декларации - ЭВТД)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ChangeSign" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак необходимости подачи изменений к ПТД: 0 - изменений не требуется, 1 - изменения требуются </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Код и наименование таможенного органа в который подается уведомление</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Declarant" type="catWH_ru:WHOrganizationBaseType">
            <xs:annotation>
              <xs:documentation>Сведения о декларанте</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsLoadingPlace" type="catWH_ru:GoodsLoadingPlaceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Местонахождение товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArriveShipment" type="nga:ArriveShipmentType">
            <xs:annotation>
              <xs:documentation>Сведения о товарной партии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GTDNumber" type="nga:GTDIDType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер ДТ/ЭВТД/ТД</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1008002E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ArriveGoodsType">
    <xs:annotation>
      <xs:documentation>Описание товаров</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GoodsBaseType">
        <xs:sequence>
          <xs:element name="InvoicedCost" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Фактурная стоимость / Цена товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ContractCurrencyCode" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Трехзначный буквенный код валюты фактурной стоимости / цены. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Volume" type="catWH_ru:WHSuppQuantityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Объем товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SupplementaryQuantity" type="catWH_ru:WHSuppQuantityType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Кол-во товара в дополнительных единицах  измерения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArrivePackingInformation" type="nga:ArrivePackingInformationType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Информация об упаковках</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrivePackingInformationType">
    <xs:annotation>
      <xs:documentation>Информация об упаковках</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PakageQuantity" type="clt_ru:PakageNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общее количество грузовых мест, полностью занятых товаром.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PakageTypeCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код наличия упаковки товара: 0 - Без упаковки; 1 - С упаковкой;  2 - Без упаковки в оборудованных емкостях транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PakagePartQuantity" type="clt_ru:Count5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общее количество грузовых мест, частично занятых товаром.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PackingInformation" type="catWH_ru:WHPackingInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Информация об упаковках</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Cargo" type="catWH_ru:WHPackingInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о виде груза (при перевозе товара без упаковки)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Pallete" type="catWH_ru:WHPalleteInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Информация о поддонах и паллетах</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArriveShipmentType">
    <xs:annotation>
      <xs:documentation>Сведения о товарной партии</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ArriveTransportMeans" type="catWH_ru:WhTransportType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание транспортных средств</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArriveGoods" type="nga:ArriveGoodsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContainerInformation" type="catWH_ru:WHContainerInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Информация о контейнере</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArriveTransportDoc" type="catWH_ru:WhPresentDocType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Транспортные документы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArriveCustomsDoc" type="catWH_ru:WhPresentDocType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Таможенные документы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CommercialDoc" type="catWH_ru:WhPresentDocType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Коммерческие документы</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GTDIDType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер ДТ/ЭВТД/ТД</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="NumberGoodsPart" type="clt_ru:CodeVariable3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер товарной партии</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>