XsltProcessor/xsd/5.23.0/NotifConsult.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:ncn="urn:customs.ru:Information:ExchangeDocuments:NotifConsult:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:ExchangeDocuments:NotifConsult:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Уведомление о необходимости проведения консультаций с функциональными отделами таможни по вопросам определения кода товаров в соответствии с ТН ВЭД ЕАЭС, применения мер нетарифного регулирования, определения таможенной стоимости и начисления таможенных платежей, а также валютного контроля.</xs:documentation>
  </xs:annotation>
  <xs:element name="NotifConsult" type="ncn:NotifConsultType" />
  <xs:complexType name="NotifConsultType">
    <xs:annotation>
      <xs:documentation>Уведомление о необходимости проведения консультаций с функциональными отделами таможни</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="SendDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата направления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Comments" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Комментарии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsSubUnit" type="ncn:CustomsSubUnitType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Структурное подразделение таможни</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Таможенный орган</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPerson" type="cat_ru:CustomsPersonType">
            <xs:annotation>
              <xs:documentation>Должностное лицо таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GTDNumber" type="cat_ru:GTDIDType">
            <xs:annotation>
              <xs:documentation>Справочный номер ДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006009E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CustomsSubUnitType">
    <xs:annotation>
      <xs:documentation>Структурное подразделение таможни</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Name" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Наименование структурного подразделения таможни</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Action" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Код действия структурного подразделения: "0" - согласование, "1" - принятие решения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>