XsltProcessor/xsd/5.23.0/NotifFreeWarehousesActivity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:notif_ActFW="urn:customs.ru:Information:RegistrationDocuments:NotifFreeWarehousesActivity:5.22.0" targetNamespace="urn:customs.ru:Information:RegistrationDocuments:NotifFreeWarehousesActivity:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Уведомление о регулировании деятельности владельца свободного склада</xs:documentation>
  </xs:annotation>
  <xs:element name="NotifFreeWarehousesActivity" type="notif_ActFW:NotifFreeWarehousesActivityType">
    <xs:annotation>
      <xs:documentation>Уведомление о регулировании деятельности владельца свободного склада</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="NotifFreeWarehousesActivityType">
    <xs:annotation>
      <xs:documentation>Уведомление о регулировании деятельности владельца свободного склада</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="NotificationType" type="clt_ru:Code3Type">
            <xs:annotation>
              <xs:documentation>Идентификатор вида уведомления: УПД - Уведомление юридического лица уполномоченным таможенным органом о приостановлении деятельности в качестве владельца свободного склада; УВД - Уведомление о возобновлении деятельности юридического лица в качестве владельца свободного склада; ОВД - Уведомление об отказе возобновления деятельности юридического лица в качестве владельца свободного склада и начале процедуры исключения юридического лица из Реестра владельцев свободных складов в связи с не устранением выявленных таможенным органом нарушений</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Таможенный орган</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AppOrganizationInfo" type="notif_ActFW:AppOrganizationInfoType">
            <xs:annotation>
              <xs:documentation>Владелец свободного склада</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistrationNumber" type="notif_ActFW:RegistrationNumberType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер уведомления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:choice>
            <xs:element name="Suspension" type="notif_ActFW:SuspensionType" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>Причины (основания) приостановления деятельности владельца и действия, которые необходимо совершить владельцу свободного склада</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="ResumptionDetails" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>Сведения о возобновлении деятельности владельца свободного склада</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="RefResumptionReasons" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>Причины отказа в возобновлении деятельности владельца свободного склада и начале процедуры исключения юридического лица из Реестра владельцев свободных складов</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element name="CustomsPerson" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>Начальник таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006326E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="CodeVariable12Type">
    <xs:annotation>
      <xs:documentation>Код. Символьная строка (буквы, цифры, знаки) используемая для краткого (и (или) независимого от языка) представления или замены определенных значений или текстовых свойств. От 1 до 12 символов</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:CodeCategoriesCust">
      <xs:minLength value="1" />
      <xs:maxLength value="12" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AppOrganizationInfoType">
    <xs:annotation>
      <xs:documentation>Владелец свободного склада</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectBaseDetailsType">
        <xs:sequence>
          <xs:element name="FreeWHOwnersRegistryCertificate" type="notif_ActFW:CertificateType">
            <xs:annotation>
              <xs:documentation>Свидетельство о включении в реестр</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CertificateType">
    <xs:annotation>
      <xs:documentation>Реквизиты свидетельства</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CertificateSeries" type="clt_ru:CodeVariable2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Серия свидетельства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CertificateNumber" type="notif_ActFW:CodeVariable12Type">
        <xs:annotation>
          <xs:documentation>Номер свидетельства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CertificateDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата выдачи свидетельства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CertificateAgency" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование органа, выдавшего документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CertificateTerm" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Срок действия свидетельства</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrationNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер уведомления</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Date" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SerialNumber" type="clt_ru:Code8Type">
        <xs:annotation>
          <xs:documentation>Порядковый регистрационный номер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentType" type="clt_ru:CodeVariable6Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Аббревиатура вида документа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SuspensionType">
    <xs:annotation>
      <xs:documentation>Причины (основания) приостановления деятельности владельца и действия, которые необходимо совершить владельцу свободного склада</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SuspensionReasons" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Причины (основания) приостановления деятельности владельца свободного склада</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Actions" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Действия, которые необходимо совершить владельцу свободного склада</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>