XsltProcessor/xsd/5.23.0/NoticeFlightDeparture.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:TransportDocuments:Air:NoticeFlightDeparture:5.23.0" version="5.23.0.0" xmlns:catTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.23.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:nfd="urn:customs.ru:Information:TransportDocuments:Air:NoticeFlightDeparture:5.23.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.23.0" schemaLocation="TransportCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Уведомление о выполнении международного рейса до планового времени убытия</xs:documentation>
  </xs:annotation>
  <xs:element name="NoticeFlightDeparture" type="nfd:NoticeFlightDepartureType" />
  <xs:complexType name="NoticeFlightDepartureType">
    <xs:annotation>
      <xs:documentation>Уведомление о выполнении международного рейса до планового времени убытия</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Carrier" type="RUScat_ru:SubjectDetailsType">
            <xs:annotation>
              <xs:documentation>Перевозчик</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="CustomsOffice" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Таможенный орган, в регионе деятельности которого находится воздушный пункт пропуска</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DepartureInfo" type="nfd:DepartureInfoType">
            <xs:annotation>
              <xs:documentation>Сведения об убытии воздушного судна</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute fixed="1003313E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="DepartureInfoType">
    <xs:annotation>
      <xs:documentation>Сведения об убытии воздушного судна</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catTrans_ru:FlightInfoType">
        <xs:sequence>
          <xs:element minOccurs="0" name="EstimatedFlightTime" type="clt_ru:TimeCustType">
            <xs:annotation>
              <xs:documentation>Расчетное время вылета рейса</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" name="RouteInfo" type="catTrans_ru:RoutigInfoType">
            <xs:annotation>
              <xs:documentation>Маршрут следования</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>