XsltProcessor/xsd/5.23.0/NoticeAccBalanceInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:naccbi="urn:customs.ru:Information:CommercialFinanceDocuments:NoticeAccBalanceInfo:5.22.0" targetNamespace="urn:customs.ru:Information:CommercialFinanceDocuments:NoticeAccBalanceInfo:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Сведения об остатках денежных средств (драгоценных металлов) на счетах плательщика (лица, несущего солидарную обязанность) в банке и об остатках электронных денежных средств</xs:documentation>
  </xs:annotation>
  <xs:element name="NoticeAccBalanceInfo" type="naccbi:NoticeAccBalanceInfoType">
    <xs:annotation>
      <xs:documentation>Сведения об остатках денежных средств (драгоценных металлов) на счетах плательщика (лица, несущего солидарную обязанность) в банке и об остатках электронных денежных средств</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="NoticeAccBalanceInfoType">
    <xs:annotation>
      <xs:documentation>Сведения об остатках денежных средств (драгоценных металлов) на счетах плательщика (лица, несущего солидарную обязанность) в банке и об остатках электронных денежных средств</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="CustomsOffice" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Код и наименование таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocAppDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата направления электронного документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Номер документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AccountInformation" type="naccbi:AccountType">
            <xs:annotation>
              <xs:documentation>Информация о счете плательщика</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BankInformation" type="naccbi:BankInfoDetailType">
            <xs:annotation>
              <xs:documentation>Информация о банке плательщика</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionSuspend" type="naccbi:DecisionSuspendType">
            <xs:annotation>
              <xs:documentation>Дата и номер Решения о приостановлении операций по счетам плательщика (лица, несущего солидарную обязанность) в банке и переводов его электронных денежных средств</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Payer" type="naccbi:PayerType">
            <xs:annotation>
              <xs:documentation>Сведения о плательщике</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Performer" type="naccbi:PersonInfoType">
            <xs:annotation>
              <xs:documentation>Исполнитель, предоставляющий сведения</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1002033E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AccountType">
    <xs:annotation>
      <xs:documentation>Сведения о счете плательщика</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BankAccount" type="clt_ru:AccountType">
        <xs:annotation>
          <xs:documentation>Номер счета плательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BankAccountDescription" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Описание типа счета: рублевый, валютный</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CEMPId" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид счета (для электронных денежных средств – корпоративное электронное средство платежа)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Balance" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Остаток денежных средств, электронных денежных средств (указывается в руб. и коп. или в иных единицах валюты)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyCode" type="clt_ru:CurrencyA3CodeType">
        <xs:annotation>
          <xs:documentation>Код валюты </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StateDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата, по состоянию на которую предоставлена информация об остатке денежных средств на счете</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BankInfoDetailType">
    <xs:annotation>
      <xs:documentation>Информация о банковских счетах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BankName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование банка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BICID" type="clt_ru:BICIDType">
        <xs:annotation>
          <xs:documentation>БИК банка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BankINN" type="clt_ru:INNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИНН банка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CodeBank" type="clt_ru:CodeVariable20Type">
        <xs:annotation>
          <xs:documentation>Код банка по Книге государственной регистрации кредитных организаций (КГРКО)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DecisionSuspendType">
    <xs:annotation>
      <xs:documentation>Дата и номер Решения о приостановлении операций по счетам плательщика (лица, несущего солидарную обязанность) в банке и переводов его электронных денежных средств</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PrDocumentName" type="clt_ru:DocumentNameType">
        <xs:annotation>
          <xs:documentation>Наименование документа (решения)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrDocumentNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер документа (решения)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrDocumentDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата документа (решения)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayerType">
    <xs:annotation>
      <xs:documentation>Плательщик</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OrganizationName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование плательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INN" type="clt_ru:INNIDType">
        <xs:annotation>
          <xs:documentation>ИНН плательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KPP" type="clt_ru:KPPCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>КПП плательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonInfoType">
    <xs:annotation>
      <xs:documentation>Исполнитель, предоставляющий сведения</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonBaseType">
        <xs:sequence>
          <xs:element name="Phone" type="clt_ru:PhoneNumberType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Номер телефона исполнителя</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>