XsltProcessor/xsd/5.23.0/NotifRefuseCloseSTZ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--DocKind=1 - Уведомление (сообщение) таможенного органа об отказе в принятии решения таможенного органа о завершении действия таможенной процедуры свободной таможенной зоны в отношении товаров, указанных в частях 35 и 36 статьи 19 Федерального закона от 13 июля 2020 г. № 193-ФЗ "О государственной поддержке предпринимательской деятельности в Арктической зоне Российской Федерации") (IMO-000952(Приказ ФТС от 08.10.2020 № 888))
DocKind=2 - Уведомление таможенного органа о принятии решения о не завершении таможенной процедуры свободной таможенной зоны в отношении товаров, помещенных под таможенную процедуру свободной таможенной зоны, и (или) товаров, изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободной таможенной зоны, которые были потреблены в соответствии с подпунктом 5 пункта 1 статьи 205 ТК ЕАЭС ((IMO-000952 (Приказ ФТС от 18.11.2020 № 994))-->
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:nrc_stz="urn:customs.ru:Information:CustomsDocuments:NotifRefuseCloseSTZ:5.23.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:catProc_ru="urn:customs.ru:Information:ProcessingDocuments:ProcessingCommonAggregateTypes:5.23.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:NotifRefuseCloseSTZ:5.23.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.23.0.0">
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:Information:ProcessingDocuments:ProcessingCommonAggregateTypes:5.23.0" schemaLocation="ProcessingCommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Уведомление (сообщение) таможенного органа об отказе в принятии решения о завершении таможенной процедуры свободной таможенной зоны</xs:documentation>
	</xs:annotation>
	<xs:element name="NotifRefuseCloseSTZ" type="nrc_stz:NotifRefuseCloseSTZType">
		<xs:annotation>
			<xs:documentation>Уведомление (сообщение) таможенного органа об отказе в принятии решения о завершении таможенной процедуры свободной таможенной зоны</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="NotifRefuseCloseSTZType">
		<xs:annotation>
			<xs:documentation>Уведомление (сообщение) таможенного органа об отказе в принятии решения о завершении таможенной процедуры свободной таможенной зоны</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="DocKind" type="clt_ru:Numeric1Type">
						<xs:annotation>
							<xs:documentation>Вид документа:                     1 - Уведомление об отказе завершения СТЗ (ч. 35,36 ст.19 ФЗ от 13.07.2020 №193-ФЗ)
2 - Уведомление о принятии решения о не завершении	СТЗ (пп.5 п.1 ст.205 ТК ЕАЭС)			</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Customs" type="cat_ru:CustomsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Наименование таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AppRegNum" type="nrc_stz:AppRegNumType" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Номер заявления, по которому принят отказ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NotifRegNum" type="nrc_stz:NotifRegNumType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер уведомления</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Applicant" type="nrc_stz:ApplicantType">
						<xs:annotation>
							<xs:documentation>Заявитель</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SheetsNumber" type="clt_ru:Count3Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество листов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsPerson" type="cat_ru:CustomsPersonType">
						<xs:annotation>
							<xs:documentation>Должностное лицо таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsInfo" type="nrc_stz:GoodsType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Сведения о товарах</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006313E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы.</xs:documentation>
	</xs:annotation>
	<xs:complexType name="AddInstaledType">
		<xs:annotation>
			<xs:documentation>Товары, помещенные под таможенную процедуру СТЗ дополнительно установленные, смонтированные на объекте недвижимости</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Position" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер позиции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddInstaledGoods" type="nrc_stz:GoodsDeclType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о товаре по ДТ </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcceptanceWork" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о сдаче-приемке работ по установке дополнительно установленного, смонтированного имущества </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountWorkDoc" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Документы бухгалтерского учета, свидетельствующие о проведенных работах по установке и монтажу товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ComponentName" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование составной (неотъемлемой) части объекта недвижимости при создании которой был использован товар</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountDoc" type="catProc_ru:AccountDocType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Реквизиты документа бухгалтерского учета, согласно которому товары учтены резидентом </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ApplicantType">
		<xs:annotation>
			<xs:documentation>Сведения о заявителе</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:OrganizationBaseType">
				<xs:sequence>
					<xs:element name="ResidentCertificate" type="nrc_stz:ResidentCertificateType">
						<xs:annotation>
							<xs:documentation>Свидетельство резидента ОЭЗ</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AppRegNumType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер Заявления</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата регистрации документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="clt_ru:CodeVariable10Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер Разрешения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddNumber" type="clt_ru:Code3Type">
				<xs:annotation>
					<xs:documentation>4-ая часть номера (ЗЗП/ ЗВП)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConsumedGoodsDeclType">
		<xs:annotation>
			<xs:documentation>Сведения о потребленных товарах (по ДТ)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="DeclRegNum" type="cat_ru:GTDIDType">
					<xs:annotation>
						<xs:documentation>Регистрационный номер ДТ</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CustomsDoc" type="cat_ru:DocumentBaseType">
					<xs:annotation>
						<xs:documentation>Таможенный документ, на основании которого товар учитывался таможенным органом</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="GoodsDeclnfo" type="nrc_stz:GoodsDeclnfoType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConsumedGoodsInfo">
		<xs:annotation>
			<xs:documentation>Сведения о потребленных товарах по категориям</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Position" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер позиции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType">
				<xs:annotation>
					<xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConsumedGoodsDecl" type="nrc_stz:ConsumedGoodsDeclType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о товаре по ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsQuantity" type="catESAD_cu:SupplementaryQuantityType" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество товара </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RejectReason" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Решение таможенного органа о не завершении процедуры СТЗ с указанием причин отказа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TechID" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Технические идентификаторы</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConsumedGoodsType">
		<xs:annotation>
			<xs:documentation>Сведения о потребленных товарах</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PropertyCreateGoods" type="nrc_stz:ConsumedGoodsInfo" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, потребленные при создании объекта недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PropertyExplGoods" type="nrc_stz:ConsumedGoodsInfo" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, потребленные при эксплуатации (содержании) объекта недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PropertyRepairGoods" type="nrc_stz:ConsumedGoodsInfo" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, потребленные при ремонте (реконструкции, модернизации) объекта недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EquipmentExplGoods" type="nrc_stz:ConsumedGoodsInfo" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, потребленные при эксплуатации/техническом обслуживании оборудования, машин и агрегатов</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResearchGoods" type="nrc_stz:ConsumedGoodsInfo" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, потребленные при проведении исследований, испытаний</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="EquipmentGoodsType">
		<xs:annotation>
			<xs:documentation>Сведения об оборудовании, помещенном под таможенную процедуру СТЗ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Position" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер позиции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EquipmentGoodsDecl" type="nrc_stz:GoodsDeclType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountDoc" type="catProc_ru:AccountDocType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Реквизиты документа бухгалтерского учета, согласно которому товары учтены резидентом </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comment" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Примечание</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EquipmentPropertyGoodsType">
		<xs:annotation>
			<xs:documentation>Сведения об оборудовании, товарах, использованных для создания объектов недвижимости</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Equipment" type="nrc_stz:EquipmentType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Оборудование</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Property" type="nrc_stz:PropertyType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, использованные для создания объектов недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddInstaled" type="nrc_stz:AddInstaledType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, дополнительно установленные на объекте недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EquipmentType">
		<xs:annotation>
			<xs:documentation>Сведения об оборудовании, помещенном под СТЗ, введенном в эксплуатацию и используемом резидентом для реализации соглашения об осуществлении инвестиционной деятельности</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Position" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер позиции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EquipmentName" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование оборудования</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EquipmentKind" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Вид (класс) оборудования </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountDoc" type="catProc_ru:AccountDocType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Реквизиты документа бухгалтерского учета, согласно которому оборудование учтено резидентом </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommissioningInfo" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о вводе оборудования в эксплуатацию</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommissioningDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата ввода в эксплуатацию</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EquipmentGoods" type="nrc_stz:EquipmentGoodsType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о товаре</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsDeclnfoType">
		<xs:annotation>
			<xs:documentation>Товар ДТ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsNumber" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Номер товара в ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsQuantity" type="catESAD_cu:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество товара из ДТ, вошедшее в позицию</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TechID" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Технические идентификаторы</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsDeclType">
		<xs:annotation>
			<xs:documentation>Сведения о товарах по ДТ</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:GTDIDType">
				<xs:sequence>
					<xs:element name="GoodsDeclnfo" type="nrc_stz:GoodsDeclnfoType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Товары ДТ</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GoodsType">
		<xs:annotation>
			<xs:documentation>Сведения о товарах</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="EquipmentPropertyGoods" type="nrc_stz:EquipmentPropertyGoodsType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Оборудование, товары, помещенные под СТЗ,  использованные для создания объектов недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConsumedGoods" type="nrc_stz:ConsumedGoodsType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Потребленные товары</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="NotifRegNumType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер уведомления</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата регистрации документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="clt_ru:CodeVariable10Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер Разрешения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddNumber" type="clt_ru:CodeVariable6Type">
				<xs:annotation>
					<xs:documentation>4-ая часть номера: (УОТКАЗ/ УНЗПТ)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PropertyGoodsType">
		<xs:annotation>
			<xs:documentation>Сведени о товарах, помещенных под СТЗ, использованных для создания объектов недвижимости </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Position" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер позиции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PropertyGoodsDecl" type="nrc_stz:GoodsDeclType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Cведения о товарах по ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ComponentUseName" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование составной (неотъемлемой) части объекта недвижимости при создании которой был использован товар</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comment" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Примечание</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountDoc" type="catProc_ru:AccountDocType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Реквизиты документа бухгалтерского учета, согласно которому товары учтены резидентом </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PropertyType">
		<xs:annotation>
			<xs:documentation>Товары, помещенные под таможенную процедуру СТЗ, использованные для создания объектов недвижимости и являющиеся составной (неотъемлемой) частью таких объектов недвижимости </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Position" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер позиции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PropertyName" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование объекта недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PropertyLocation" type="RUScat_ru:RUAddressType">
				<xs:annotation>
					<xs:documentation>Местонахождение объекта недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TechDoc" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Техническая документация (технический паспорт), проектная документация</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BalanceSheet" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о постановке объекта недвижимости на баланс </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnershipDoc" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о внесении записи о праве собственности</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comment" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Примечание</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PropertyGoods" type="nrc_stz:PropertyGoodsType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары, использованные при создании объекта недвижимости </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResidentCertificateType">
		<xs:annotation>
			<xs:documentation>Сведения о включении в реестр резидентов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CertificateNumber" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Номер свидетельства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата выдачи свидетельства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateValidity" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Срок действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateAgency" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование органа, выдавшего свидетельство</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
