XsltProcessor/xsd/5.23.0/NotifRequirmentDebt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--  Форма Уведомления (уточнения к уведомлению) об уплате таможенных и иных платежей - Приложение к Письму ФТС №05-58/55489 от 04.10.2017  
с версии 5.14.0: 
nrd:DocKind = 9 - Приказ ФРС России от 30.10.2018 № 1752 - Уведомление (уточнение к уведомлению) о не уплаченных в установленный срок суммах таможенных платежей, специальных, антидемпинговых, компенсационных пошлин, процентов и пеней
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:cltComFin_ru="urn:customs.ru:Information:CommercialFinanceDocuments:CommercialFinanceCommonLeafTypesCust:5.8.0" xmlns:catComFin_ru="urn:customs.ru:Information:CommercialFinanceDocuments:CommercialFinanceCommonAgregateTypesCust:5.22.0" xmlns:nrd="urn:customs.ru:Information:GuaranteeDocuments:NotifRequirmentDebt:5.22.0" targetNamespace="urn:customs.ru:Information:GuaranteeDocuments:NotifRequirmentDebt:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:CommercialFinanceDocuments:CommercialFinanceCommonLeafTypesCust:5.8.0" schemaLocation="CommercialFinanceCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:CommercialFinanceDocuments:CommercialFinanceCommonAgregateTypesCust:5.22.0" schemaLocation="CommercialFinanceCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Уведомление (уточнение к уведомлению) о не уплаченных в установленный срок суммах таможенных платежей, специальных, антидемпинговых, компенсационных пошлин, процентов и пеней/требования об уплате денежной суммы по банковской гарантии и договору поручительства</xs:documentation>
  </xs:annotation>
  <xs:element name="NotifRequirmentDebt" type="nrd:NotifRequirmentDebtType">
    <xs:annotation>
      <xs:documentation>Уведомление (уточнение к уведомлению) о не уплаченных в установленный срок суммах таможенных платежей, специальных, антидемпинговых, компенсационных пошлин, процентов и пеней/требования об уплате денежной суммы по банковской гарантии и договору поручительства</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="NotifRequirmentDebtType">
    <xs:annotation>
      <xs:documentation>Уведомление (уточнение к уведомлению) о не уплаченных в установленный срок суммах таможенных платежей, специальных, антидемпинговых, компенсационных пошлин, процентов и пеней/требования об уплате денежной суммы по банковской гарантии и договору поручительства</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DocKind" type="clt_ru:CodeVariable2Type">
            <xs:annotation>
              <xs:documentation>Тип документа: 3 - Требование бенефициара; 4 - Требование кредитора; 5- Информирование о частичном взыскании за счет обеспечения; 6- Уведомление о завершении взыскания; 7- Уведомление об отмене взыскания; 8 - Уведомление о неуплате; 9 - Уточнение к Уведомление о неуплате</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InfoKind" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
              <xs:documentation>Тип сведений, указанных в документе: 0 - документ; 1 - отметка об ознакомлении участника ВЭД с документом; 2 - отзыв документа.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocDetails" type="nrd:DocDetailsType">
            <xs:annotation>
              <xs:documentation>Реквизиты документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsOffice" type="nrd:CustomsOfficeType">
            <xs:annotation>
              <xs:documentation>Данные таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Debtor" type="RUScat_ru:SubjectDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о должнике</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Guarantor" type="nrd:BankOrganizationType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения об организации-гаранте</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Declarant" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о декларанте/таможенном представителе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DebtPassportNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер паспорта задолженности</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="KindDebtObligation" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Тип обязательства по уплате задолженности: 0 - основной должник; 1 – солидарная ответственность.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GuaranteeDoc" type="nrd:GuaranteeDocType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Реквизиты документа обеспечения платежей</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ViolationInfo" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Описание, в чем состоит нарушение принципалом обязанности по уплате</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CalcDebtDoc" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Реквизиты документа, в котором произведен расчет задолженности по таможенным платежам </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Amount" type="clt_ru:AmountType">
            <xs:annotation>
              <xs:documentation>Общая сумма подлежащих к уплате платежей</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AmountLetter" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Общая сумма подлежащих к уплате платежей (прописью)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Paying" type="nrd:PayingType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Платежи</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PaymentRequisitions" type="nrd:PaymentRequisitionsType">
            <xs:annotation>
              <xs:documentation>Банковские реквизиты получателя/ Счет федерального казначейcтва</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TermDateIndicator" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Срок, по истечении которого таможенный орган примет меры по взысканию, обеспечению: 1 - пятнадцать рабочих дней; 2 - пять рабочих дней; 3 - десять рабочих дней</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Предельная дата исполнения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ChangeReason" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Основание изменения обязанности по уплате таможенных и иных платежей</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WithdrawnNotice" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Реквизиты отозванного уведомления (уточнения к уведомлению) об уплате</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="JointrespNotification" type="nrd:JointrespNotificationType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Уведомления, направленные в адрес лиц, несущих солидарную обязанность по уплате</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Appendix" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Приложение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocSign" type="nrd:PersonSignType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Подпись (ФИО, телефон)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReceiveMark" type="nrd:PersonSignType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Отметка о вручении уведомления (дата, ФИО уполномоченного лица, представителя организации, физического лица)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateEndPenaltyPayment" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата окончания взыскания</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AmountActuallyRecovered" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сумма, фактически взысканная за счет обеспечения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FinesCount" type="nrd:FinesCountType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Расчет пеней по документу</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecNotification" type="nrd:ExecNotificationType" minOccurs="0" maxOccurs="2">
            <xs:annotation>
              <xs:documentation>Сроки добровольного исполнения обязанности по уплате в днях с момента получения сведений плательщиком</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1050020E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="BankOrganizationType">
    <xs:annotation>
      <xs:documentation>Сведения о банке или иной кредитной организации, выдавшей банковскую гарантию</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsBankType">
        <xs:sequence>
          <xs:element name="CBRLicense" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Лицензия ЦБ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContractInfoType">
    <xs:annotation>
      <xs:documentation>Реквизиты договора поручительства</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ContractNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер договора поручительства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContractDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата договора поручительства</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsOfficeType">
    <xs:annotation>
      <xs:documentation>Данные таможенного органа</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:CustomsType">
        <xs:sequence>
          <xs:element name="Address" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Адрес</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DocDetailsType">
    <xs:annotation>
      <xs:documentation>Реквизиты документа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="NotifNumber" type="clt_ru:DocumentNumberType">
          <xs:annotation>
            <xs:documentation>Номер уведомления об уплате (уточнение к уведомлению) XXXXXXXX/XXXXX-X</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="RequirmentNumber" type="clt_ru:DocumentNumberType">
          <xs:annotation>
            <xs:documentation>Номер требования</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="DocDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата документа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="JointrespNotificationType">
    <xs:annotation>
      <xs:documentation>Уведомление, направленное в адрес лица, несущего солидарную обязанность по уплате</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="JointKind" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Тип солидарной обязанности по уплате: 0 - плательщик (декларант), 1 - таможенный представитель, 2 - таможенный перевозчик, 3 - иной тип обязанности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="JointRespPers" type="RUScat_ru:SubjectDetailsType">
        <xs:annotation>
          <xs:documentation>Лицо, несущее солидарную обязанность по уплате</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NotificationReqs" type="cat_ru:DocumentBaseType">
        <xs:annotation>
          <xs:documentation>Реквизиты уведомления, направленного в адрес лица, несущего солидарную обязанность по уплате</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GuaranteeDocType">
    <xs:annotation>
      <xs:documentation>Реквизиты документа обеспечения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GuaranteeKind" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Тип документа обеспечения: 2 - Банковская гарантия, 4 - Договор поручительства, 5 - Дополнение к договору поручительства (245), 6 - Дополнение к договору поручительства (397), 7- Договор поручительства в рамках генерального</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GuaranteeInfo" type="nrd:GuaranteeInfoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Реквизиты банковской гарантии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContractInfo" type="nrd:ContractInfoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Реквизиты договора поручительства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GuaranteeRegNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер обеспечения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GuaranteeInfoType">
    <xs:annotation>
      <xs:documentation>Реквизиты банковской гарантии</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GuaranteeOriginalNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер банковской гарантии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GuaranteeOriginalDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата выдачи банковской гарантии</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayingType">
    <xs:annotation>
      <xs:documentation>Платеж</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PaymentModeCode" type="clt_ru:Count4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код вида таможенного платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CBC" type="cltComFin_ru:CBCType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код бюджетной классификации (КБК)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentName" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Наименование платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Amount" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма, подлежащая уплате</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AmountLetter" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общая сумма подлежащих к уплате платежей (прописью)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyCode" type="clt_ru:CurrencyN3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код валюты платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DatePayment" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Срок уплаты</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentRequisitionsType">
    <xs:annotation>
      <xs:documentation>Банковские реквизиты получателя/ Счет федерального казначейcтва</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catComFin_ru:PaymentRequisitionsType">
        <xs:sequence>
          <xs:element name="RecipientName" type="clt_ru:NameType">
            <xs:annotation>
              <xs:documentation>Получатель платежа. Наименование</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RecipientINN" type="clt_ru:INNIDType">
            <xs:annotation>
              <xs:documentation>Получатель платежа. ИНН</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RecipientKPP" type="clt_ru:KPPCodeType">
            <xs:annotation>
              <xs:documentation>Получатель платежа. КПП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExtPaymentInfo" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дополнительная информация для указания в платежном поручении</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonSignType">
    <xs:annotation>
      <xs:documentation>Подпись</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>ФИО </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Phone" type="clt_ru:PhoneNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер телефона</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateSign" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinesCountType">
    <xs:annotation>
      <xs:documentation>Расчет пеней</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PamentModeCode" type="clt_ru:Code4Type">
        <xs:annotation>
          <xs:documentation>Код вида платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BaseSum" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>База</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateBegin" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата начала периода начисления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateEnd" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата окончания периода начисления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Rate" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Ставка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuantDays" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Количество дней</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FinesSum" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма пеней</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExecNotificationType">
    <xs:annotation>
      <xs:documentation>Сроки добровольного исполнения обязанности по уплате в днях с момента получения сведений плательщиком</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ExecDays" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Количество дней для добровольного исполнения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocType" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Тип документа: 0 - Уведомление о неуплате; 1 - Уточнение к уведомлению о неуплате</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>