XsltProcessor/xsd/5.23.0/NotificationTRP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:NotTN="urn:customs.ru:Information:CustomsDocuments:NotificationTRP:5.22.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:NotificationTRP:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Уведомления о ходе рассмотрения заявления на ЕПГУ</xs:documentation>
  </xs:annotation>
  <xs:element name="NotificationTRP" type="NotTN:NotificationTRPType">
    <xs:annotation>
      <xs:documentation>Уведомления о ходе рассмотрения заявления на ЕПГУ</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="NotificationTRPType">
    <xs:annotation>
      <xs:documentation>Уведомления о ходе рассмотрения заявления на ЕПГУ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="NotificationType" type="clt_ru:CodeVariable2Type">
            <xs:annotation>
              <xs:documentation>Уведомление по услуге.  Номер услуги  по  справочнику "Коды  услуг"</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApplicationInfo" type="NotTN:ApplicationInfoType">
            <xs:annotation>
              <xs:documentation>Сведения о  заявке</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:choice>
            <xs:element name="AdviceLetter" type="NotTN:AdviceLetterType">
              <xs:annotation>
                <xs:documentation>Уведомления</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="RequestState" type="NotTN:RequestStateType">
              <xs:annotation>
                <xs:documentation>Информирование  о  состоянии запросов</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element name="AppliedDocument" type="NotTN:AppliedDocumentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Приложенные документы</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentIDType" use="required" fixed="1006294E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AdviceLetterType">
    <xs:annotation>
      <xs:documentation>Письмо  уведомление</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AdviceLetterID" type="clt_ru:DocumentIDType">
        <xs:annotation>
          <xs:documentation>Идентификатор уведомления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdviceCode" type="clt_ru:CodeVariable2Type">
        <xs:annotation>
          <xs:documentation>Код уведомления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TargetCustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код ТО,  в  который  перенаправлен  запрос</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DeadDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Срок представления дополнительной информации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Covering" type="clt_ru:FreeText500Type" maxOccurs="8">
        <xs:annotation>
          <xs:documentation>Текст письма-уведомления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Reason" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="8">
        <xs:annotation>
          <xs:documentation>Причина запроса доп. сведений/отклонения запроса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegDoc" type="cat_ru:DocumentBaseType">
        <xs:annotation>
          <xs:documentation>Реквизиты письма-уведомления</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о  заявке</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="ApplicationSourceSystemID" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Идентификатор заявления на ЕПГУ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApplicationID" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Идентификатор заявки в АПС "Электронные Госуслуги-2"</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DepartmentCode" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Код подразделения, в которое предоставляется заявка</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PredecisionType">
    <xs:annotation>
      <xs:documentation>Информация о связанных ПР</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="PredecisionID" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Идентификатор ПР</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TNVEDCode" type="clt_ru:GoodsNomenclatuerAddCodeType">
            <xs:annotation>
              <xs:documentation>Код ТН ВЭД установленный</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="State" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Статус ПР</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StateName" type="clt_ru:Text40Type">
            <xs:annotation>
              <xs:documentation>Имя состояния предрешения</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RequestStateType">
    <xs:annotation>
      <xs:documentation>Состояние запросов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа – поставщика услуги</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RequestType" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Тип запроса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="State" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Код состояния запроса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StateName" type="clt_ru:Text40Type">
        <xs:annotation>
          <xs:documentation>Имя состояния запроса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Reason" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="8">
        <xs:annotation>
          <xs:documentation>Причина запроса доп. сведений/отклонения запроса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RetDoc" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Реквизиты письма – ответа на запрос доп.сведений</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Predecision" type="NotTN:PredecisionType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Информация о связанных ПР</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AppliedDocumentType">
    <xs:annotation>
      <xs:documentation>Вложение</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Name" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Имя файла документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:Quantity5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер файла документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Expansion" type="clt_ru:CodeVariable4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Расширение файла</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Base" type="clt_ru:Text3MB" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Файл в формате base64</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Комментарий</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>