XsltProcessor/xsd/5.23.0/NotifFactDeparture.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:cltTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.14.3" xmlns:catTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.23.0" xmlns:nfdp="urn:customs.ru:Information:TransportDocuments:NotifFactDeparture:5.23.0" targetNamespace="urn:customs.ru:Information:TransportDocuments:NotifFactDeparture:5.23.0" elementFormDefault="qualified" version="5.23.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.23.0" schemaLocation="TransportCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.14.3" schemaLocation="TransportCommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Уведомление о фактическом убытии железнодорожного состава</xs:documentation>
  </xs:annotation>
  <xs:element name="NotifFactDeparture" type="nfdp:NotifFactDepartureType" />
  <xs:complexType name="NotifFactDepartureType">
    <xs:annotation>
      <xs:documentation>Уведомление о фактическом убытии железнодорожного состава</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="PI_URN" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор товарной партии. Формат - URN</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DepartureDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата фактического убытия</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsOperationPlace" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Место убытия</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
            <xs:annotation>
              <xs:documentation>Код таможенного поста</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPerson" type="cat_ru:CustomsPersonType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Должностное лицо, принявшее решение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TDNumber" type="nfdp:TDNumberType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Номера ДТ / ТД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignments" type="nfdp:ConsignmentsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о товарных партиях</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Railway" type="nfdp:RailwayType">
            <xs:annotation>
              <xs:documentation>Сведения о железной дороге</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1003410E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ConsignmentsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарных партиях</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ConsignmentNum" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Номер товарной партии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BillSerialNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер накладной</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Goods" type="nfdp:GoodsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товарах</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsModeCode" type="cltESAD_cu:CustomsModeCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код таможенной процедуры ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrecedingCustomsModeCode" type="cltESAD_cu:CustomsModeCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код предшествующей таможенной процедуры </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GoodsBaseType">
        <xs:sequence>
          <xs:element name="Wagon" type="clt_ru:TransportMeansIDType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Номера вагонов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ContainerNumber" type="clt_ru:TransportMeansIDType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Номера контейнеров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество товаров в ДЕИ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransportDoc" type="catTrans_ru:DocumentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Транспортные документы</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RailwayType">
    <xs:annotation>
      <xs:documentation>Сведения о железной дороге</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RailwayCode" type="cltTrans_ru:RailwayCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код железнодорожной дороги </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StationCode" type="clt_ru:RailwayStationCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код железнодорожной станции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RailwayAndStationName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование дороги и станции назначения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TrainIndex" type="clt_ru:Code15Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Индекс поезда</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TrainNumber" type="clt_ru:TransportMeansIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер поезда</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TDNumberType">
    <xs:annotation>
      <xs:documentation>Номер таможенной декларации</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="DocumentNumber" type="clt_ru:Count5Type">
            <xs:annotation>
              <xs:documentation>Номер  документа по порядку</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentCode" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
              <xs:documentation>Вид документа: 1 - декларация на товары; 2 - транзитная декларация</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>