XsltProcessor/xsd/5.23.0/NotifGTDRegistration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:nGTDr="urn:customs.ru:Information:ExchangeDocuments:NotifGTDRegistration:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:ExchangeDocuments:NotifGTDRegistration:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Уведомление о регистрации документа в таможенном органе</xs:documentation>
  </xs:annotation>
  <xs:element name="NotifGTDRegistration" type="nGTDr:NotifGTDRegistrationType">
    <xs:annotation>
      <xs:documentation>Уведомление о регистрации документа в таможенном органе</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="NotifGTDRegistrationType">
    <xs:annotation>
      <xs:documentation>Уведомление о регистрации документа в таможенном органе</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата регистрации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistrationTime" type="clt_ru:TimeCustType">
            <xs:annotation>
              <xs:documentation>Время регистрации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocSign" type="clt_ru:DigitalIndicatorType">
            <xs:annotation>
              <xs:documentation>Признак уведомления: 0 - о регистрации ДТ; 1 - о регистрации Обязательства о подаче ДТ; 2 - реестр экспресс-грузов; 3 - о поступлении товара на территорию УЭО; 4 - Заявление о выпуске до подачи; 5 - Заявление о совершении операций с ТСМП; 6 - Заявление о зачете авансовых платежей; 7 - Регистрация запроса на сканирование документа; 8 - о регистрации Заявления о проведении идентификации товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Comments" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Комментарии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Таможенный орган</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GTDID" type="nGTDr:DocNumberType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPersonSignature" type="nGTDr:CustomsPersonSignatureType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Подпись должностного лица</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1004051E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CustomsPersonSignatureType">
    <xs:annotation>
      <xs:documentation>Подпись должностного лица</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:CustomsPersonType">
        <xs:sequence>
          <xs:element name="IssueDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата подписания</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DocNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер таможенного документа</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="AddNumber" type="clt_ru:CodeVariable2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дополнительная составляющая номера</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>