XsltProcessor/xsd/5.23.0/OEZ_Report.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:oezr="urn:customs.ru:Information:CustomsDocuments:OEZ_Report:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:OEZ_Report:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Отчёт о ввозимых, вывозимых, хранящихся, изготавливаемых, перерабатываемых, приобретаемых и реализуемых товарах на территории особой экономической зоны</xs:documentation>
  </xs:annotation>
  <xs:element name="OEZ_Report" type="oezr:OEZ_ReportType">
    <xs:annotation>
      <xs:documentation>Отчёт о ввозимых, вывозимых, хранящихся, изготавливаемых, перерабатываемых, приобретаемых и реализуемых товарах на территории особой экономической зоны</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="OEZ_ReportType">
    <xs:annotation>
      <xs:documentation>Отчёт о ввозимых, вывозимых, хранящихся, изготавливаемых, перерабатываемых, приобретаемых и реализуемых товарах на территории особой экономической зоны</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ReportDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата подачи отчёта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FormNum" type="clt_ru:Numeric1Type" maxOccurs="4">
            <xs:annotation>
              <xs:documentation>Номер формы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Код и наименование таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Declarant" type="oezr:CompanyType">
            <xs:annotation>
              <xs:documentation>Сведения о лице или об организации, которая подаёт отчёт</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReportingPeriod" type="oezr:ReportingPeriodType">
            <xs:annotation>
              <xs:documentation>Отчётный период</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResidentPersonSignature" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Ф.И.О., подпись уполномоченного лица, на которое возложена ответственность составления отчетности, дата</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Table1" type="oezr:Table1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Таблица 1. Отчет о товарах, ввезенных в соответствии с таможенным режимом СТЗ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Table2" type="oezr:Table2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Таблица 2. Отчет о товарах, помещенных под таможенный режим свободной таможенной зоны в целях</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Table3" type="oezr:Table3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Таблица 3. Отчет о товарах, изготовленных(полученных) из товаров, помещенных под таможенную процедуру свободной таможенной зоны по форме 3</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Table4" type="oezr:Table4Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Таблица 4. Отчет о товарах, изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободной таможенной зоны</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistryNumber" type="cat_ru:GTDIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер отчёта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeclarationNumForReport" type="cat_ru:GTDIDType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Номер таможенной декларации, содержащий информацию о товарах, помещенных под таможенную процедуру СТЗ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006062E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CompanyType">
    <xs:annotation>
      <xs:documentation>Сведения о лице или об организации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ResidentLicenseNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер свидетельства о регистрации резидента ОЭЗ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Organisation" type="cat_ru:OrganizationBaseType">
        <xs:annotation>
          <xs:documentation>Реквизиты организации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="cat_ru:AddressType">
        <xs:annotation>
          <xs:documentation>Адрес организации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsModeQuantityType">
    <xs:annotation>
      <xs:documentation>Количество товара, соответствующее определённому коду таможенного режима</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsModeCode" type="cltESAD_cu:CustomsModeCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного режима</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Количество товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DeclarationNumber" type="cat_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Номер таможенной декларации</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsProcedurePlacedType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах помещенных под таможенную процедуру</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="oezr:CustomsModeQuantityType">
        <xs:sequence>
          <xs:element name="Note" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GoodsBaseType">
    <xs:annotation>
      <xs:documentation>Базовый тип для позиций во всех таблицах отчёта. Содержит обшие для всех товаров поля, включая ИН/РОС. Позиции всех таблиц должны наследоваться от этого типа </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="oezr:GoodsWithoutStatusBaseType">
        <xs:sequence>
          <xs:element name="Status" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Статус товара: 0 - Российские (РОС), 1 - иностранные (ИН)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GoodsUsageType">
    <xs:annotation>
      <xs:documentation>Использование товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Quantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Количество товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConfirmUsageDoc" type="cat_ru:DocumentBaseType">
        <xs:annotation>
          <xs:documentation>Документ, подтверждающий факт использования</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsWithoutStatusBaseType">
    <xs:annotation>
      <xs:documentation>Базовый тип для позиций во всех таблицах отчёта. Содержит обшие для всех товаров поля, кроме ИН/РОС. Позиции всех таблиц должны наследоваться от этого типа </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Name" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TNVED" type="clt_ru:GoodsNomenclatureCodeType">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasureUnitQualifier" type="clt_ru:MeasureUnitQualifierNameType">
        <xs:annotation>
          <xs:documentation>Единица измерения количества товара</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuantityPutType">
    <xs:annotation>
      <xs:documentation>Количество товара, помещённое под таможенный режим СТЗ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="QuantityAtTheBeginning" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товара в начале отчётного периода</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuantityInTheEnd" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товара, на конец отчетного периода</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuantityTotal" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Всего за отчётный период</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReportingPeriodType">
    <xs:annotation>
      <xs:documentation>Отчётный период</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StartDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата начала отчётного периода</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EndDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата окончания отчётного периода</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusDisguiseGoodsType">
    <xs:annotation>
      <xs:documentation>Сведения товарах с изменным статусом</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OEZClosedQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товара, в отношении которых таможенная процедура СТЗ завершена при прекращении функционирования ОЭЗ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LostGoodsQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товара, использованное  согласно целям ввоза</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Table1GoodsType">
    <xs:annotation>
      <xs:documentation>Таблица 1. Товар, ввезённый в соответствии с таможенным режимом ОЭЗ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="oezr:GoodsBaseType">
        <xs:sequence>
          <xs:element name="Put" type="oezr:QuantityPutType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество товара, помещённое под таможенный режим свободной таможенной зоны</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Used" type="oezr:Table1QuantityUsedType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Использование товаров, помещенных под таможенный режим свободной таможенной зоны</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Table1QuantityUsedType">
    <xs:annotation>
      <xs:documentation>Таблица 1. Количество товара, использованное в отчётном периоде </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="QuantityConformUsageGoods" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товара, использованное в соответствии с п.4 ст. 13 Соглашения о СЭЗ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuantityOEZConsumed" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товаров, потребленных на территории оэз, без учета товаров указанных в графе 19</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecyclingGoodsQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товаров, подвергнутых операциям по переработке(обработке)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResidentsGoodsQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Товары находящиеся у резидента ОЭЗ в отношении которых осуществляется хранение(складирование) на территории ОЭЗ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsTreatmentModeChanged" type="oezr:CustomsModeQuantityType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Изменение таможенного режима СТЗ на иной таможенный режим</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OEZDestructedGoods" type="oezr:GoodsUsageType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товарах, уничтоженных на территории ОЭЗ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OtherGoodsUsage" type="oezr:GoodsUsageType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товарах, в отношении которых были совершены иные операции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StatusDisguiseGoods" type="oezr:StatusDisguiseGoodsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения товарах с изменным статусом</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Table1Type">
    <xs:annotation>
      <xs:documentation>Таблица 1. Отчет о товарах, ввезенных в соответствии с таможенным режимом СТЗ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Table1Goods" type="oezr:Table1GoodsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Таблица 1. Товар, ввезённый в соответствии с таможенным режимом ОЭЗ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Table2CustomsDocumentType">
    <xs:annotation>
      <xs:documentation>Таблица 2. Раздел 3. Таможенный документ. Номер ДТ, либо реквизиты таможенного документа, на основании которого осуществляется таможенное оформление, когда в отношении таких товаров произошло отчуждение </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="AlienationDocument" type="cat_ru:DocumentBaseType" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Реквизиты таможенного документа, на основании которого осуществляется таможенное оформление, когда в отношении  товара произошло отчуждение </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="GTDNumber" type="cat_ru:GTDIDType" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Номер ДТ,  в соответствии с которой товары были помещены под таможенный режим СТЗ </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Table2GoodsFlowType">
    <xs:annotation>
      <xs:documentation>Таблица 2. Товары, переданные в производство и фактически израсходованные, либо товары, которые выбыли</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Quantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Количество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Amount" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Стоимость в тысячах рублей</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Account" type="clt_ru:Count2Type">
        <xs:annotation>
          <xs:documentation>Номер счёта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SubAccount" type="clt_ru:Count2Type">
        <xs:annotation>
          <xs:documentation>Номер субсчёта</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Table2GoodsType">
    <xs:annotation>
      <xs:documentation>Таблица 2. Товар, помещённый под таможенный режим свободной таможенной зоны, который участвует в производстве продукции (содействует производственному процессу) и полностью или частично потребляется в процессе использования</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="oezr:GoodsWithoutStatusBaseType">
        <xs:sequence>
          <xs:element name="ResidentsGoodsQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Товары находящиеся у резидента ОЭЗ в отношении которых осуществляется хранение(складирование) на территории ОЭЗ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsDocument" type="oezr:Table2CustomsDocumentType">
            <xs:annotation>
              <xs:documentation>Таможенный документ. Номер ДТ. Также реквизиты таможенного документа, на основании которого осуществляется таможенное оформление, когда в отношении таких товаров произошло отчуждение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="In" type="oezr:Table2GoodsFlowType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Товары, поступившие в организацию</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Used" type="oezr:Table2GoodsFlowType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Товары, переданные в производство и фактически израсходованные</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Out" type="oezr:Table2GoodsFlowType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Товары, которые выбыли (проданы, списаны)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Table2Type">
    <xs:annotation>
      <xs:documentation>Таблица 2. Отчет о товарах, помещенных под таможенный режим свободной таможенной зоны в целях</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Table2Goods" type="oezr:Table2GoodsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Таблица 2.Товар, помещённый под таможенный режим свободной таможенной зоны, который участвует в производстве продукции (содействует производственному процессу) и полностью или частично потребляется в процессе использования</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Table3Section1GoodsType">
    <xs:annotation>
      <xs:documentation>Таблица 3. Раздел 1. Товар, помещённый под таможенный режим свободной таможенной зоны для целей переработки</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="oezr:GoodsBaseType">
        <xs:sequence>
          <xs:element name="Quantity" type="clt_ru:QuantityBasisType">
            <xs:annotation>
              <xs:documentation>Количество товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OEZGoodsName" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Наименование товаров, изготовленых на территории ОЭЗ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Note" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NonProcessingGoodsTail" type="clt_ru:QuantityBasisType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Остаток товаров, в отношении которых не совершены операции по переработке, находящихся у резидента оэз на отчетную дату(количество)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsDocument" type="oezr:Table2CustomsDocumentType">
            <xs:annotation>
              <xs:documentation>Таможенный документ. Номер ДТ. Также реквизиты таможенного документа, на основании которого осуществляется таможенное оформление, когда в отношении таких товаров произошло отчуждение</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Table3Section1Type">
    <xs:annotation>
      <xs:documentation>Таблица 3. Раздел 1. Товары, помещенные под таможенный режим свободной таможенной зоны для целей переработки</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Table3Section1Goods" type="oezr:Table3Section1GoodsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Таблица 3. Раздел 1. Товар, помещённый под таможенный режим свободной таможенной зоны для целей переработки</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Table3Section2GoodsType">
    <xs:annotation>
      <xs:documentation>Таблица 3. Раздел 2. Товар, полученный в результате переработки товаров, помещенных под таможенный режим свободной таможенной зоны, и распоряжение такими товарами</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="oezr:GoodsWithoutStatusBaseType">
        <xs:sequence>
          <xs:element name="GoodsSign" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Тип: 1 - товары изготовленные(полученные) из иностранных товаров, 2 - товары изготовленные(полученные) с использованием иностранных товаров, 3 - товары изготовленные(полученные) из товаров ТС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="STZGoodsProduct" type="clt_ru:QuantityBasisType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Товары, изготовленные из товаров, помещенных под таможенную процедуру СТЗ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Quantity" type="clt_ru:QuantityBasisType">
            <xs:annotation>
              <xs:documentation>Количество товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResidentsGoodsQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Товары находящиеся у резидента ОЭЗ в отношении которых осуществляется хранение(складирование) на территории ОЭЗ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WasteProductsUsage" type="oezr:Table3Section2WasteProductsUsageType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Распоряжение продуктами переработки и отходами</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Table3Section2Type">
    <xs:annotation>
      <xs:documentation>Таблица 3. Раздел 2. Товары, полученные в результате переработки товаров, помещенных под таможенный режим свободной таможенной зоны, и распоряжение такими товарами</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Table3Section2Goods" type="oezr:Table3Section2GoodsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Таблица 3. Раздел 2. Товар, полученный в результате переработки товаров, помещенных под таможенный режим свободной таможенной зоны, и распоряжение такими товарами</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Table3Section2WasteProductsUsageType">
    <xs:annotation>
      <xs:documentation>Таблица 3. Раздел 2. Распоряжение продуктами переработки и отходами </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="QuantityTotal" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Пользование на территории ОЭЗ (количество). Всего </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsProcedurePlaced" type="oezr:CustomsProcedurePlacedType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товарах помещенных под таможенную процедуру</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OtherGoodsUsing" type="oezr:GoodsUsageType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведение о товарах, используемых в иных целях</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Table3Type">
    <xs:annotation>
      <xs:documentation>Таблица 3. Товары, помещенные под таможенные режимы и ввезенные на территорию</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Table3Section1" type="oezr:Table3Section1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Таблица 3. Раздел 1. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Table3Section2" type="oezr:Table3Section2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Таблица 3. Раздел 2. </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Table4GoodsType">
    <xs:annotation>
      <xs:documentation>Товар, изготовленный (полученный) из товаров, помещенных под таможенную процедуру свободной таможенной зоны</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="oezr:GoodsWithoutStatusBaseType">
        <xs:sequence>
          <xs:element name="Quantity" type="clt_ru:QuantityBasisType">
            <xs:annotation>
              <xs:documentation>Количество товара, находящееся на территории ОЭЗ на дату отчёта</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Table4Type">
    <xs:annotation>
      <xs:documentation>Таблица 4. Отчет о товарах, изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободной таможенной зоны</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Table4Goods" type="oezr:Table4GoodsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Товар, изготовленный (полученный) из товаров, помещенный под таможенную процедуру свободной таможенной зоны</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>