XsltProcessor/xsd/5.23.0/OEZ_ExportPass.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приказ Минфина России № 322н от 23 декабря 2020 года Об утверждении форм разрешения таможенного органа на ввоз товаров на портовый или логистический участок Арктической зоны Российской Федерации, на котором применяется таможенная процедура свободной таможенной зоны, и разрешения на вывоз товаров с портового или логистического участка Арктической зоны Российской Федерации, на котором применяется таможенная процедура свободной таможенной зоны, и порядков их заполнения 
Приказ Минфина России № 337н от 30 декабря 2020 года Об утверждении форм уведомления таможенного органа о ввозе товаров на участок резидента Арктической зоны Российской Федерации, на котором применяется таможенная процедура свободной таможенной зоны, и разрешения таможенного органа на вывоз товаров с такого участка и порядков их заполнения
-->
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:expas="urn:customs.ru:Information:CustomsDocuments:OEZ_ExportPass:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:OEZ_ExportPass:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Решение на выезд средства транспорта с территории особой экономической зоны/разрешение на вывоз товаров с территории портовой особой экономической зоны/разрешение на вывоз товаров и транспортных средств с территории участка территории опережающего социально-экономического развития</xs:documentation>
	</xs:annotation>
	<xs:element name="OEZ_ExportPass" type="expas:OEZ_ExportPassType">
		<xs:annotation>
			<xs:documentation>Решение на выезд средства транспорта с территории особой экономической зоны/разрешение на вывоз товаров с территории портовой особой экономической зоны/разрешение на вывоз товаров и транспортных средств с территории участка территории опережающего социально-экономического развития</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OEZ_ExportPassType">
		<xs:annotation>
			<xs:documentation>Решение на выезд средства транспорта с территории особой экономической зоны/разрешение на вывоз товаров с территории портовой особой экономической зоны/разрешение на вывоз товаров и транспортных средств с территории участка территории опережающего социально-экономического развития</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="PassKind" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Тип документа: 0 - разовый пропуск, 1 - многоразовый пропуск</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BeginDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Начало срока действия пропуска (для многоразовых)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LimitDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Окончание срока действия пропуска/ Срок действия разрешения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocSign" type="clt_ru:Numeric1Type">
						<xs:annotation>
							<xs:documentation>Признак документа: 0 - Решение на выезд средства транспорта с территории ОЭЗ; 1 - Разрешение на вывоз товаров с территории ПОЭЗ; 2 - Разрешение на вывоз товаров и транспортных средств с территории участка ТОСЭР; 3 - Разрешение на вывоз товаров с участка резидента Арктической зоны РФ, на котором применяется таможенная процедура СТЗ; 4 - Разрешение на вывоз товаров с территории портового (логистического) участка резидента Арктической зоны РФ, на котором применяется таможенная процедура свободной таможенной зоны</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CancellationSign" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак аннулирования разрешения (для DocSign=3): 1 - аннулировано; 0 - не аннулировано</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RegistrationNumber" type="expas:RegistrationNumberType">
						<xs:annotation>
							<xs:documentation>Регистрационный номер разрешения на вывоз</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExportNoticeRegNumber" type="expas:RegistrationNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер Уведомления на вывоз товаров </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Consignor" type="expas:ConsignorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Отправитель</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalWeight" type="clt_ru:QuantityBasis0Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Общий вес транспортных средств и вывозимых товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransportMeans" type="expas:TransportMeansType">
						<xs:annotation>
							<xs:documentation>Описания транспортного средства </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsList" type="expas:GoodsListType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Перечень товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocumentExp" type="expas:DocumentExpType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Документы на основании которых разрешен выезд</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsPerson" type="cat_ru:CustomsPersonType">
						<xs:annotation>
							<xs:documentation>Начальник/ Должностное лицо таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Resident" type="expas:ResidentType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Резидент (ПОЭЗ)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DeadlineForDocuments" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Срок предоставления документов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsObservation" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Таможенное наблюдение</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsControl" type="expas:CustomsControlType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Таможенный контроль</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006143E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="ConsignorType">
		<xs:annotation>
			<xs:documentation>Отправитель</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:OrganizationBaseType">
				<xs:sequence>
					<xs:element name="Address" type="RUScat_ru:RUAddressType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Адрес организации / физического лица</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CertificateNumber" type="cat_ru:DocumentBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Реквизиты свидетельства о включении в реестр резидентов Арктической зоны</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CustomsControlType">
		<xs:annotation>
			<xs:documentation>Таможенный контроль</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ExportSign" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак вывоза товара: 1 - товар вывезён; 2 - Товар вывезен, требуется представление документов, подтверждающих убытие товаров с таможенной территории ЕАЭС; 3 - Вывоз запрещен в связи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentationSign" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак предоставления документов при убытии товаров: 1 - документы предоставлены; 0 - документы не предоставлены</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReasonsForRejection" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Причины отказа в вывозе товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CancellationSign" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак аннулирования Разрешения на ввоз: 1 - аннулировано; 0 - не аннулировано</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExportNoticeRegNumber" type="expas:RegistrationNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер Уведомления на вsвоз товаров </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Date" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsPerson" type="cat_ru:CustomsPersonType">
				<xs:annotation>
					<xs:documentation>Должностное лицо таможенного органа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentExpType">
		<xs:annotation>
			<xs:documentation>Документы на основании которых разрешен выезд</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="VehicleSign" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак: 1 - с транспортным средством; 2 - без транспортного средства </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransportKind" type="clt_ru:Numeric1Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Тип транспортного средства: 1 - а/м; 2 - ж/д; 3 - авиа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransportMark" type="clt_ru:Text50Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Марка транспортного средства</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransportRegNumber" type="clt_ru:CodeVariable20Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер транспортного средства</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TrailerRegNumber" type="clt_ru:CodeVariable20Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Регистрационный номер прицепа/полуприцепа </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransportWeight" type="clt_ru:QuantityBasis0Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Вес транспортного средства</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PersonDetails" type="cat_ru:PersonBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Фамилия, имя, отчество (при наличии) физического лица</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PersonID" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Паспортные данные физического лица</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GoodsListType">
		<xs:annotation>
			<xs:documentation>Перечень товаров</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Описание товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WeighQuantity" type="clt_ru:QuantityBasisType">
				<xs:annotation>
					<xs:documentation>Вес товара в кг. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PackagesQuantity" type="clt_ru:PackagesQuantityType">
				<xs:annotation>
					<xs:documentation>Количество грузовых мест.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PackagingKind" type="clt_ru:Text40Type">
				<xs:annotation>
					<xs:documentation>Вид упаковки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsIdentification" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Идентификационные признаки товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsStatus" type="expas:GoodsStatusType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Статус товара гр 7 </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GroundsForExport" type="expas:GroundsForExportType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Основания для вывоза (Арктическая ОЭЗ)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroundsForExportType">
		<xs:annotation>
			<xs:documentation>Основания для вывоза товаров</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StatusSymbolicValue" type="clt_ru:CodeVariable7Type">
				<xs:annotation>
					<xs:documentation>Символьное значение статуса товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsModeCode" type="cltESAD_cu:CustomsModeCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код таможенной процедуры</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DT_OEZ_Goods" type="expas:DT_OEZ_GoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товар ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PermitExportGoodsInfo" type="expas:PermitExportGoodsInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о разрешении на вывоз товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DTInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о ДТ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GTDID" type="cat_ru:GTDIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTGoods" type="expas:DTGoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товар ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DTGoodsType">
		<xs:annotation>
			<xs:documentation>Сведения о товаре  ДТ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsNumeric" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара гр 32</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Масса товара, нетто (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество товара в дополнительной единице измерения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTGoodsGroup" type="expas:DTGoodsGroupType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения об артикульной позиции товара ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DT_OEZ_GoodsType">
		<xs:annotation>
			<xs:documentation>Сведения о товаре  ДТ ОЭЗ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OEZ_GTDID" type="cat_ru:GTDIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер декларации на товар, в соответствии с которой товары помещены под СТЗ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GTDID" type="cat_ru:GTDIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsNumeric" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара гр 32</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Масса товара, нетто (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество  товара</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DTGoodsGroupType">
		<xs:annotation>
			<xs:documentation>Сведения об артикульной позиции товара ДТ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsMarking" type="cltESAD_cu:GoodsArticulType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор вида продукта (товара) или артикул товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество товара в дополнительной единице измерения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecordId" type="clt_ru:DocumentIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор записи в ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsStatusType">
		<xs:annotation>
			<xs:documentation>Статус товара</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StatusSymbolicValue" type="clt_ru:CodeVariable7Type">
				<xs:annotation>
					<xs:documentation>Символьное значение статуса товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsModeCode" type="cltESAD_cu:CustomsModeCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код таможенной процедуры</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTInfo" type="expas:DTInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара гр 32</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PermitExportGoodsInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о ДТ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PermitRegistrationNumber" type="expas:RegistrationNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер разрешения на вывоз</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExportGoodsQuantity" type="clt_ru:QuantityBasis0Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество вывозимого товара (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccountingDocuments" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Документы бухгалтерского учета в соответствии с которыми такие товары учтены резидентом Арктической зоны</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsIdentificationInfo" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения об идентификации товаров ЕАЭС таможенным органом при их ввозе на территорию участка резидента Арктической зоны</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExporyGoodsSign" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак вывоза товаров: 1 - товар вывезен; 2 - Товар вывезен, требуется представление документов, подтверждающих убытие товаров с таможенной территории ЕАЭС; 3 - Вывоз запрещен в связи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RejectionReason" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Причина отказа вывоза товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Date" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsPerson" type="cat_ru:CustomsPersonType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Должностное лицо таможенного органа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegistrationNumberType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер документа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата регистрации документа.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="clt_ru:CodeVariable10Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddNumber" type="clt_ru:CodeVariable5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>4-ая часть номера</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResidentType">
		<xs:annotation>
			<xs:documentation>Резидент</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:SubjectDetailsType">
				<xs:sequence>
					<xs:element name="CertificateNumber" type="cat_ru:DocumentBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Реквизиты свидетельства о включении в реестр резидентов Арктической зоны</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TransportMeansType">
		<xs:annotation>
			<xs:documentation>Описания транспортного средства </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VehicleSign" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ПризнакТС: 1-  Транспортное средство; 2 - без транспортного средства/; 3 - порожнее транспортное средство</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportKind" type="clt_ru:Numeric1Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип транспортного средства: 1 - а/м; 2 - ж/д; 3 - авиа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportMark" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Марки транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportRegNumber" type="clt_ru:CodeVariable20Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Регистрационный номер прицепа/полуприцепа </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActiveTransportIdentifier" type="clt_ru:TransportMeansIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор активного транспортного средства для прицепов, полуприцепов и др.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TareWeight" type="clt_ru:QuantityBasis0Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес автотранспортного средства/вес тары контейнера/вес тары вагона</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonDetails" type="cat_ru:PersonBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Фамилия, имя, отчество (при наличии) физического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonID" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Паспортные данные физического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
