XsltProcessor/xsd/5.23.0/OEZ_NotifViolation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--                  
DocKind1 - Уведомление об отказе в выдаче разрешения на ввоз (вывоз) товаров 
DocKind2 - Уведомление об отказе в выдаче разрешения на передачу товаров (IMO-000975 (Приказ МинФина от от 31.12.2020г. № 341н))
DocKind3 - Уведомления о продлении срока рассмотрения Заявления о передаче товаров (IMO-000975 (Приказ МинФина от от 31.12.2020г. № 341н))
DocKind4 - Уведомление о непредставлении документов
DocKind5 - Уведомление об отказе в выдаче разрешения на переработку (IMO-000976 (Приказ МинФина от 22.12.2020г. № 317н))   
DocKind6 - Решение о продлении срока переработки (IMO-000976 (Приказ МинФина от 22.12.2020г. № 317н))   
DocKind7 - Решение о не продлении срока переработки (IMO-000976 (Приказ МинФина от 22.12.2020г. № 317н))   
DocKind8 - Уведомление о продлении срока рассмотрения Заявления о завершении действия СТЗ (оборудование и товары, исп. для строительства объектов недвижимости) (IMO-000952
(Приказ ФТС от 08.10.2020 № 888))
DocKind9 - Уведомление о продлении срока рассмотрения Заявления о завершении действия СТЗ (потребленные товары) ((IMO-000952 (Приказ ФТС от 18.11.2020 № 994))                   
DocKind10 - Уведомление об отказе в выдаче разрешения на вывоз товаров, помещенных под таможенную процедуру СТЗ (IMO-001082 (Приказ МинФина от 16.12.2020г. № 309н без формы, состав сведений по СТРУКТУРА ФОРМАТ ВВ 309н.docx))   
DocKind11 - Решения таможенного органа о продлении срока обратного ввоза (IMO-001082 (Приказ МинФина от 16.12.2020г. № 309н без формы, состав сведений по СТРУКТУРА ФОРМАТ ВВ 309н.docx))   
DocKind12 - Решения таможенного органа о не продлении срока обратного ввоза (IMO-001082 (Приказ МинФина от 16.12.2020г. № 309н без формы, состав сведений по СТРУКТУРА ФОРМАТ ВВ 309н.docx))
-->
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:nvl="urn:customs.ru:Information:ExchangeDocuments:OEZ_NotifViolation:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:ExchangeDocuments:OEZ_NotifViolation:5.22.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.22.0.0">
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Решение таможенного органа о продлении (не продлении) срока переработки товаров/рассмотрения Заявления / Уведомление об отказе в выдаче разрешения на вывоз товаров / Уведомление о непредставлении документов</xs:documentation>
	</xs:annotation>
	<xs:element name="OEZ_NotifViolation" type="nvl:OEZ_NotifViolationType">
		<xs:annotation>
			<xs:documentation>Решение таможенного органа о продлении (не продлении) срока переработки товаров/рассмотрения Заявления / Уведомление об отказе в выдаче разрешения на вывоз товаров / Уведомление о непредставлении документов</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OEZ_NotifViolationType">
		<xs:annotation>
			<xs:documentation>Решение таможенного органа о продлении (не продлении) срока переработки товаров/рассмотрения Заявления / Уведомление об отказе в выдаче разрешения на вывоз товаров / Уведомление о непредставлении документов</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="DocKind" type="clt_ru:Count2Type">
						<xs:annotation>
							<xs:documentation>Вид документа:                    1 - Уведомление об отказе в выдаче разрешения на ввоз (вывоз) товаров 
2 - Уведомление об отказе в выдаче разрешения на передачу товаров
3 - Уведомления о продлении срока рассмотрения Заявления о передаче товаров
4 - Уведомление о непредставлении документов
5 - Уведомление об отказе в выдаче разрешения на переработку
6 - Решение о продлении срока переработки   
7 - Решение о не продлении срока переработки  
8 - Уведомление о продлении срока рассмотрения Заявления о завершении действия СТЗ (оборудование и товары, исп. для строительства объектов недвижимости) 
9 - Уведомление о продлении срока рассмотрения Заявления о завершении действия СТЗ (потребленные товары)
10 - Уведомление об отказе в выдаче разрешения на вывоз товаров, помещенных под таможенную процедуру СТЗ (Приказ МинФина РФ от 16.12.2020г. № 309н)
11 - Решения таможенного органа о продлении срока обратного ввоза (Приказ МинФина РФ от 16.12.2020г. № 309н)
12 - Решения таможенного органа о не продлении срока обратного ввоза (Приказ МинФина РФ от 16.12.2020г. № 309н)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AppRegNum" type="nvl:AppRegNumType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер заявления, по которому принят отказ/разрешение</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NotifRegNum" type="nvl:NotifRegNumType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RegDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата регистрации уведомления</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MotiveProhibition" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Причины отказа/ Основания, по которым принято решение о невозможности выдачи разрешения на ввоз (вывоз)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NecessityActivity" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Действия, которые необходимо предпринять заявителю</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocSign" type="clt_ru:Numeric1Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак уведомления об отказе в выдаче разрешения на ввоз (вывоз) товаров на (с) территорию (ии): 0 - ОЭЗ; 1 - ПОЭЗ ; 2 - ТОСЭР; 3 - ОЭЗ Арктика; 4 - ПОЭЗ Арктика</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Customs" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Наименование таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ListDocumentInformation" type="nvl:ListDocumentInformationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Перечень документов и сведений</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Declarant_OEZ" type="cat_ru:OrganizationBaseType">
						<xs:annotation>
							<xs:documentation>Заявитель</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ResidentCertificate" type="nvl:ResidentCertificateType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Свидетельство резидента ОЭЗ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RenewalPeriod" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Срок продления</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DeadlineDoc" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Срок представления документов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProlongReason" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Причины продления срока</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsInfo" type="nvl:GoodsType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о товарах</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsPerson" type="cat_ru:PersonSignatureType">
						<xs:annotation>
							<xs:documentation>Должностное лицо таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1004085E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы.</xs:documentation>
	</xs:annotation>
	<xs:complexType name="AppRegNumType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер Заявления</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата регистрации документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="clt_ru:CodeVariable10Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер Разрешения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Abbreviation" type="clt_ru:CodeVariable5Type">
				<xs:annotation>
					<xs:documentation>4-ая часть номера</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsType">
		<xs:annotation>
			<xs:documentation>Сведения о товарах</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Position" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Описание товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NotifPosition" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер товара в уведомлении о вывозе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Notes" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Примечание</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ListDocumentInformationType">
		<xs:annotation>
			<xs:documentation>Документы и сведения, представляемые в уполномоченный таможенный орган</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="AddInformation" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResidentCertificateType">
		<xs:annotation>
			<xs:documentation>Сведения о включении в реестр резидентов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CertificateNumber" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Номер свидетельства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата выдачи свидетельства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateValidity" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Срок действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateAgency" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование органа, выдавшего свидетельство</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NotifRegNumType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер документа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата регистрации документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="clt_ru:CodeVariable10Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер Разрешения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Abbreviation" type="clt_ru:CodeVariable5Type">
				<xs:annotation>
					<xs:documentation>4-ая часть номера</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
