XsltProcessor/xsd/5.23.0/OEZ_ImportNotif.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приказ Минфина России № 322н от 23 декабря 2020 года Об утверждении форм разрешения таможенного органа на ввоз товаров на портовый или логистический участок Арктической зоны Российской Федерации, на котором применяется таможенная процедура свободной таможенной зоны, и разрешения на вывоз товаров с портового или логистического участка Арктической зоны Российской Федерации, на котором применяется таможенная процедура свободной таможенной зоны, и порядков их заполнения
Приказ Минфина России № 337н от 30 декабря 2020 года Об утверждении форм уведомления таможенного органа о ввозе товаров на участок резидента Арктической зоны Российской Федерации, на котором применяется таможенная процедура свободной таможенной зоны, и разрешения таможенного органа на вывоз товаров с такого участка и порядков их заполнения
Приказ Минфина России № 20н от 12 февраля 2021 года Об утверждении Порядка и технологий совершения таможенных операций в отношении товаров (в том числе транспортных средств), ввозимых на территории портовых, логистических участков Арктической зоны Российской Федерации, на которых применяется таможенная процедура свободной таможенной зоны, и вывозимых с территорий портовых, логистических участков Арктической зоны Российской Федерации, на которых применяется таможенная процедура свободной таможенной зоны

-->
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:impn="urn:customs.ru:Information:CustomsDocuments:OEZ_ImportNotif:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:OEZ_ImportNotif:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Уведомление о ввозе товаров на территорию особой экономической зоны/портовой особой экономической зоны и въезде средства транспорта/разрешение на ввоз товаров на территорию портовой особой экономической зоны</xs:documentation>
	</xs:annotation>
	<xs:element name="OEZ_ImportNotif" type="impn:OEZ_ImportNotifType">
		<xs:annotation>
			<xs:documentation>Уведомление о ввозе товаров на территорию особой экономической зоны/портовой особой экономической зоны и въезде средства транспорта/разрешение на ввоз товаров на территорию портовой особой экономической зоны</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OEZ_ImportNotifType">
		<xs:annotation>
			<xs:documentation>Уведомление о ввозе товаров на территорию особой экономической зоны/портовой особой экономической зоны и въезде средства транспорта/разрешение на ввоз товаров на территорию портовой особой экономической зоны</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="ImportDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата ввоза товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AddInformation" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дополнительная информация/ примечания</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PurposeOfImport" type="clt_ru:FreeText500Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Цель ввоза</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocSign" type="clt_ru:Numeric1Type">
						<xs:annotation>
							<xs:documentation>Признак документа: 1 - уведомление о ввозе товаров на территорию ОЭЗ и въезде средства транспорта; 2 - уведомление о ввозе товаров на территорию ПОЭЗ; 3 - разрешение на ввоз товаров на территорию ПОЭЗ; 4 - уведомление о ввозе товаров на портовый (логистический участок) Арктической зоны РФ; 5 - Разрешение на ввоз товаров на территорию портового (логистического) участка Арктической зоны РФ; 6 - Уведомление о ввозе товаров на участок резидента Арктической зоны РФ;</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Customs" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Сведения о таможенном органе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Consignee" type="impn:ConsigneeType">
						<xs:annotation>
							<xs:documentation>Резидент/нерезидент</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Resident" type="impn:ConsigneeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Резидент портового, логистического участка Арктической зоны, на участок которого будет осуществляться ввоз товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AddressZone" type="RUScat_ru:RUAddressType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Местонахождение (адрес) участка резидента Арктической зоны</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ServiceOrganization" type="RUScat_ru:RUOrganizationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Лицо, заключившее договор на оказание услуг по хранению товаров </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RegistrationNumber" type="impn:RegistrationNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер разрешения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LimitDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Срок действия разрешения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ImportNoticeRegNumber" type="impn:RegistrationNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер Уведомления на ввоз товаров </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PlannedDdateOfImport" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Планируемая дата ввоза.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransportMeans" type="impn:TransportMeansType">
						<xs:annotation>
							<xs:documentation>Описания транспортного средства </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsInfo" type="impn:GoodsInfoType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о товаре</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocList" type="impn:DocListType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Список документов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PersonSignature" type="cat_ru:PersonBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Подпись заявителя</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsPerson" type="cat_ru:CustomsPersonType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Начальник таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsControl" type="impn:CustomsControlType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Таможенный контроль</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006141E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="ConsigneeType">
		<xs:annotation>
			<xs:documentation>Получатель</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:OrganizationBaseType">
				<xs:sequence>
					<xs:element name="Address" type="RUScat_ru:RUAddressType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Адрес организации / физического лица</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CertificateNumber" type="cat_ru:DocumentBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Реквизиты свидетельства о включении в реестр резидентов Арктической зоны</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CustomsControlType">
		<xs:annotation>
			<xs:documentation>Таможенный контроль</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ImportSign" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак ввоза товара: 1 - товар ввезён; 0 - товар не ввезён</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RefusalSign" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак отказа в ввозе товаров: 1 - отказ в ввозе товаров; 0 - нет отказа в ввозе товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReasonsForRejection" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Причины отказа в ввозе товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CancellationSign" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак аннулирования Разрешения на ввоз: 1 - аннулировано; 0 - не аннулировано</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ImportNoticeRegNumber" type="impn:RegistrationNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер Уведомления на ввоз товаров </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Date" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsPerson" type="cat_ru:CustomsPersonType">
				<xs:annotation>
					<xs:documentation>Должностное лицо таможенного органа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocListType">
		<xs:annotation>
			<xs:documentation>Список документов</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="Pages" type="clt_ru:Numeric1Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество листов документа</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GoodsInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о товаре</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Описание товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsStatus" type="clt_ru:CodeVariable5Type">
				<xs:annotation>
					<xs:documentation>Статус товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsModeCode" type="cltESAD_cu:CustomsModeCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код таможенной процедуры</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsIdentification" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Идентификационные признаки товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Note" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Примечание</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PackagesQuantity" type="clt_ru:PackagesQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество грузовых мест</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PackagingKind" type="clt_ru:Text40Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вид упаковки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType">
				<xs:annotation>
					<xs:documentation>Количество  товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WeighQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес товара в кг. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConsignParticipant" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отправитель/получатель товаров (ПОЭЗ)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TechID" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Технические идентификаторы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodMarking" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Артикул (код товара, номер по каталогу) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PreviousDoc" type="impn:PreviousDocType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Предшествующие документы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Documents" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Список документов</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GroundsForImport" type="impn:GroundsForImportType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Основания для ввоза (Арктическая ОЭЗ)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroundsForImportType">
		<xs:annotation>
			<xs:documentation>Основания для ввоза товаров</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ServiceOrganization" type="RUScat_ru:RUOrganizationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Лицо, заключившее договор на оказание услуг по хранению товаров </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ImportationSign" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак ввоза товаров: 1 - товар ввезён; 0 - товар не ввезён</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ImportationDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата ввоза товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Iidentification" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведений об идентификации товаров ЕАЭС таможенным органом при их ввозе на территорию участка резидента Арктической зоны</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsPerson" type="cat_ru:CustomsPersonType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Должностное лицо таможенного органа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PreviousDocType">
		<xs:annotation>
			<xs:documentation>Предшествующие документы</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NumPP" type="clt_ru:Count5Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер записи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GTDID" type="cat_ru:GTDIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsNumeric" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара в ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Количество товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrevTechID" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Технические идентификаторы</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegistrationNumberType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер документа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата регистрации документа.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="clt_ru:CodeVariable10Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddNumber" type="clt_ru:CodeVariable5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>4-ая часть номера</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransportMeansType">
		<xs:annotation>
			<xs:documentation>Описания транспортного средства </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VehicleSign" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ПризнакТС: 1-  Транспортное средство; 2 - без транспортного средства/; 3 - порожнее транспортное средство</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportKind" type="clt_ru:Numeric1Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип транспортного средства: 1 - а/м; 2 - ж/д; 3 - авиа; 4 - в/т; 5 - спецтехника; 6 - ручная кладь</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportMark" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Марки транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportRegNumber" type="clt_ru:CodeVariable20Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Регистрационный номер прицепа/полуприцепа </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmptyTransportRegNumber" type="clt_ru:CodeVariable20Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Регистрационный номер порожнего прицепа/полуприцепа </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportWeight" type="clt_ru:QuantityBasis0Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActiveTransportIdentifier" type="clt_ru:TransportMeansIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор активного транспортного средства для прицепов, полуприцепов и др,</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlightNumber" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер рейса</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonDetails" type="cat_ru:PersonBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Фамилия, имя, отчество (при наличии) физического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonID" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Паспортные данные физического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
