XsltProcessor/xsd/5.23.0/PackingList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:CommercialFinanceDocuments:PackingList:5.22.0" version="5.22.0.0" xmlns:catComFin_ru="urn:customs.ru:Information:CommercialFinanceDocuments:CommercialFinanceCommonAgregateTypesCust:5.22.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:pl="urn:customs.ru:Information:CommercialFinanceDocuments:PackingList:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:customs.ru:Information:CommercialFinanceDocuments:CommercialFinanceCommonAgregateTypesCust:5.22.0" schemaLocation="CommercialFinanceCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Упаковочный лист - коммерческий документ, который содержит перечень грузовых мест товаров по партии товаров</xs:documentation>
  </xs:annotation>
  <xs:element name="PackingList" type="pl:PackingListType" />
  <xs:complexType name="PackingListType">
    <xs:annotation>
      <xs:documentation>Упаковочный лист</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="GrossWeightQuantity" type="clt_ru:QuantityBasisType">
            <xs:annotation>
              <xs:documentation>Общий вес брутто товаров (если в описании товаров нет данных, то значение вводится вручную - иначе - сумма веса брутто по товарам)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NetWeightQuantity" type="clt_ru:QuantityBasisType">
            <xs:annotation>
              <xs:documentation>Общий вес нетто товаров (если в описании товаров нет данных, то значение вводится вручную - иначе - сумма веса нетто по товарам)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignor" type="cat_ru:OrganizationType">
            <xs:annotation>
              <xs:documentation>Сведения о грузоотправителе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignee" type="cat_ru:OrganizationType">
            <xs:annotation>
              <xs:documentation>Информация о грузополучателе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="DeliveryTerms" type="pl:PackingListDeliveryTermsType">
            <xs:annotation>
              <xs:documentation>Описание условий поставки контракта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" name="Goods" type="pl:GoodsType">
            <xs:annotation>
              <xs:documentation>Описание грузовых мест товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="TransportMeans" type="catComFin_ru:TransportMeansType">
            <xs:annotation>
              <xs:documentation>Описание транспортного средства для перевозки товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="TotalPlacesQuantity" type="pl:PlacesQuantityType">
            <xs:annotation>
              <xs:documentation>Общее количество мест по видам грузовых  мест</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute fixed="1002009E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Описание грузовых мест товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="4" name="GoodsDescription" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Описание товара текстовое</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsQuantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Количество товара без указания единицы измерения </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PlaceGoodsQuantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Количество товара в грузовом месте</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="MeasureUnitQualifierName" type="clt_ru:MeasureUnitQualifierNameType">
        <xs:annotation>
          <xs:documentation>Наименование единицы измерения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrossWeightQuantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Вес товара, брутто (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="NetWeightQuantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Вес товара, нетто (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Dimensions" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Размеры товара (длина, высота, ширина)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="GoodsVolume" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Общий объем, занимаемый перевозимым товаром без указания единиц измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="VolumeUnitQualifierName" type="clt_ru:MeasureUnitQualifierNameType">
        <xs:annotation>
          <xs:documentation>Название единицы измерения объема</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="MeasureUnitQualifierCode" type="clt_ru:MeasureUnitQualifierCodeType">
        <xs:annotation>
          <xs:documentation>Код единицы измерения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="GoodMarking" type="clt_ru:GoodMarkingType">
        <xs:annotation>
          <xs:documentation>Артикул (код товара, номер по каталогу производителя) </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="PlacesQuantity" type="pl:PlacesGoodsQuantityType">
        <xs:annotation>
          <xs:documentation>Количество мест по видам грузовых  мест</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="PackingInfo" type="pl:PackingInfoType">
        <xs:annotation>
          <xs:documentation>Сведения об упаковке товаров. </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PackingInfoType">
    <xs:annotation>
      <xs:documentation>Сведения об упаковке товаров. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="PackingCode" type="clt_ru:PackageCodeType">
        <xs:annotation>
          <xs:documentation>Код вида упаковки товаров в соответствии с  классификатором видов груза, упаковки и упаковочных материалов.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PakingQuantity" type="clt_ru:PackagesQuantityType">
        <xs:annotation>
          <xs:documentation>Количество упаковок.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PackingDescription" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Описание упаковки.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PackingListDeliveryTermsType">
    <xs:annotation>
      <xs:documentation>Описание условий поставки</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="DeliveryPlace" type="clt_ru:PlaceNameType">
        <xs:annotation>
          <xs:documentation>Наименование пункта поставки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="DeliveryTermsNumericCode" type="clt_ru:DeliveryTermsNumericCodeType">
        <xs:annotation>
          <xs:documentation>Числовой код условий поставки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DeliveryTermsStringCode" type="clt_ru:IncotermsDeliveryStringCodeType">
        <xs:annotation>
          <xs:documentation>Код условий поставки по Инкотермс</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TermsDescription" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Описание, комментарии по условиям поставки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Contract" type="cat_ru:DocumentBaseType">
        <xs:annotation>
          <xs:documentation>Дата и номер контракта, к которому относится упаковочный лист.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Invoice" type="cat_ru:DocumentBaseType">
        <xs:annotation>
          <xs:documentation>Дата и номер инвойса, к которому выдан упаковочный лист. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Registration" type="cat_ru:DocumentBaseType">
        <xs:annotation>
          <xs:documentation>Дата и номер упаковочного листа.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlacesGoodsQuantityType">
    <xs:annotation>
      <xs:documentation>Количество мест товара по видам грузовых  мест</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="pl:PlacesQuantityType">
        <xs:sequence>
          <xs:element minOccurs="0" name="PlacesPartQuantity" type="clt_ru:Count5Type">
            <xs:annotation>
              <xs:documentation>Количество грузовых мест, частично занятых товаром</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PlacesQuantityType">
    <xs:annotation>
      <xs:documentation>Общее количество мест по видам грузовых  мест</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="PlacesQuantity" type="clt_ru:Count5Type">
        <xs:annotation>
          <xs:documentation>Количество грузовых мест товара (при описании товара указывается количество полностью занимаемых товаром мест)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PlacesDescription" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Описание вида грузовых мест (коробок, упаковок, паллет и т.д.)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PackingCode" type="clt_ru:PackageCodeType">
        <xs:annotation>
          <xs:documentation>Код вида упаковки товаров в соответствии с  классификатором видов груза, упаковки и упаковочных материалов.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>