XsltProcessor/xsd/5.23.0/PassengerUIN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:pcdUIN="urn:customs.ru:Information:ExchangeDocuments:PassengerUIN:5.22.0" targetNamespace="urn:customs.ru:Information:ExchangeDocuments:PassengerUIN:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Уведомление о присвоении ПТД предварительного номера </xs:documentation>
  </xs:annotation>
  <xs:element name="PassengerUIN" type="pcdUIN:PassengerUINType" />
  <xs:complexType name="PassengerUINType">
    <xs:annotation>
      <xs:documentation>Уведомление о присвоении ПТД предварительного номера </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ControlStartDate" type="clt_ru:DateTimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата и время присвоения номера</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPerson" type="cat_ru:PersonBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Должностное лицо</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UIN_PREF" type="clt_ru:Code3Type">
            <xs:annotation>
              <xs:documentation>Префикс "UIN"</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UIN_AF" type="clt_ru:Code6Type">
            <xs:annotation>
              <xs:documentation>Номер версии альбома форматов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UIN_YEAR" type="clt_ru:Code2Type">
            <xs:annotation>
              <xs:documentation>Год регистрации </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UIN" type="clt_ru:Code9Type">
            <xs:annotation>
              <xs:documentation>Регистрационный номер </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1004127E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>