XsltProcessor/xsd/5.23.0/PassengerManifest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:catTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.23.0" xmlns:passm="urn:customs.ru:Information:TransportDocuments:Air:PassengerManifest:5.23.0" targetNamespace="urn:customs.ru:Information:TransportDocuments:Air:PassengerManifest:5.23.0" elementFormDefault="qualified" version="5.23.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.23.0" schemaLocation="TransportCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Пассажирская ведомость</xs:documentation>
  </xs:annotation>
  <xs:element name="PassengerManifest" type="passm:PassengerManifestType" />
  <xs:complexType name="PassengerManifestType">
    <xs:annotation>
      <xs:documentation>Пассажирская ведомость</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ListNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ManifestDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата заполнения документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CarrierName" type="clt_ru:NameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование перевозчика</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CarrierCode" type="clt_ru:Code2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Двухсимвольный код  перевозчика</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TotalPassNumber" type="clt_ru:Count5Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Общая пассажировместимость</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FactPassNumber" type="clt_ru:Count5Type">
            <xs:annotation>
              <xs:documentation>Фактическое количество пассажиров </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LuggagePlaces" type="clt_ru:Count5Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Общее количество мест багажа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LuggageWeight" type="clt_ru:QuantityBasisType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Общий вес багажа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LNG" type="clt_ru:Code2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код  языка документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransportKind" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Тип транспорта 1 - воздушный 2 - водный</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ShipName" type="clt_ru:NameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Название судна</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Agent" type="clt_ru:NameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Агент</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Port" type="clt_ru:NameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Порт</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AirNationalityCode" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
              <xs:documentation>Код страны принадлежности транспорта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TotalCrewNumber" type="clt_ru:Count3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество членов экипажа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FlightInfo" type="catTrans_ru:FlightInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о рейсе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DestinationAirport" type="catTrans_ru:AirportType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Аэропорт назначения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PassengerCapacity" type="passm:PassengerCapacityType">
            <xs:annotation>
              <xs:documentation>Пассажировместимость судна</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PassengerInfo" type="passm:PassengerInfoType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Информация о пассажире</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CaptainInfo" type="cat_ru:PersonSignatureType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о капитане</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RoutingInfo" type="catTrans_ru:RoutigInfoType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Информация о маршруте</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1003304E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="PassengerCapacityType">
    <xs:annotation>
      <xs:documentation>Пассажировместимость судна</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FClassNumber" type="clt_ru:Count5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Число  мест для пассажиров первого класса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="JClassNumber" type="clt_ru:Count5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Число  мест для пассажиров бизнес-класса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="YClassNumber" type="clt_ru:Count5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Число  мест для пассажиров эконом-класса</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PassengerInfoType">
    <xs:annotation>
      <xs:documentation>Информация о пассажире</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Sex" type="clt_ru:CodeVariable4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Пол</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SeatNumber" type="clt_ru:CodeVariable3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер места</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>ФИО пассажира</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PlacesQuantity" type="clt_ru:Count2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество мест багажа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WeightUnitQualifierCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код измерения веса багажа (килограммы или фунты)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrossWeightQuantity" type="clt_ru:WeighQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес багажа брутто</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LuggageTag" type="passm:LuggageTagType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Багажные бирки пассажира</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Comment" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Примечание</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PassClass" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Класс места</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BirthDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата рождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BirthPlace" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Место рождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Nationality" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Гражданство (альфа код страны)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DeparturePort" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порт посадки пассажира</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DestinationPort" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порт высадки пассажира</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DestinationAirport" type="catTrans_ru:AirportType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Аэропорт назначения пассажира</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType">
        <xs:annotation>
          <xs:documentation>Документ удостоверяющий личность</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DepartureAirport" type="catTrans_ru:AirportType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Аэропорт отправления пассажира</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransferLuggage" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак того, что трансферный багаж не будет доставлен одновременно с трансферным пассажиром</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransferInvalid" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак трансферного пассажира с ограниченными возможностями</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SpecialLuggage" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак наличия багажа, относящегося к негабаритному, тяжеловесному или багажу, требующему особых мер предосторожности</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LuggageTagType">
    <xs:annotation>
      <xs:documentation>Багажные бирки</xs:documentation>
    </xs:annotation>
    <xs:sequence maxOccurs="unbounded">
      <xs:element name="LuggageNumber" type="clt_ru:Text40Type">
        <xs:annotation>
          <xs:documentation>Номер багажной бирки</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>