XsltProcessor/xsd/5.23.0/PassengerDeclaration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--  Решение Коллегии Евразийской экономической комиссии от 12.05.2020 N 63 "О структуре и формате пассажирской таможенной декларации" -->
<!--  Решение Коллегии Евразийской экономической комиссии от 23 июля 2019 г. N 124 "О таможенном декларировании товаров для личного пользования" -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" xmlns:pas_d="urn:customs.ru:Information:CustomsDocuments:PassengerDeclaration:5.23.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:RUDECLcat="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.23.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:PassengerDeclaration:5.23.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.23.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:import namespace="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.23.0" schemaLocation="RUDeclCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Пассажирская таможенная декларация</xs:documentation>
  </xs:annotation>
  <xs:element name="PassengerDeclaration" type="pas_d:PassengerDeclarationType">
    <xs:annotation>
      <xs:documentation>Пассажирская таможенная декларация</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PassengerDeclarationType">
    <xs:annotation>
      <xs:documentation>Пассажирская таможенная декларация</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="EECEDocHeaderAddInfo" type="RUScat_ru:EECEDocHeaderAddInfoType">
            <xs:annotation>
              <xs:documentation>Дополнительные технологические реквизиты электронного документа (сведений)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MovingCode" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
              <xs:documentation>Кодовое обозначение способа перемещения:                              1 – сопровождаемый багаж, включая ручную кладь;
2 – несопровождаемый багаж (багаж, следующий отдельно от въезжающего/выезжающего лица); 3 – доставляемые в адрес (пересылаемые) товары без въезда/выезда лица</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ElectronicDocumentSign" type="clt_ru:Code2Type">
            <xs:annotation>
              <xs:documentation>Признак использования ПТД в форме электронного документа. ЭД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeclarantPerson" type="pas_d:PersonType">
            <xs:annotation>
              <xs:documentation>Сведения о декларанте</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MinorPersonQuantity" type="clt_ru:Quantity4Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество лиц, не достигших 16-летнего возраста</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsShipmentDetails" type="pas_d:GoodsShipmentDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о товарах и транспортных средствах для личного пользования</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RoleCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код роли лица, заполнившего документ                                      1 – декларант;
2 – работник таможенного представителя;
3 – лицо, действующее от имени и по поручению декларанта </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SignatoryRepresentativeDetails" type="RUDECLcat:SignatoryRepresentativeDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о таможенном представителе, заполнившем (подписавшем) таможенный документ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FilledPerson" type="RUDECLcat:SignatoryPersonDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о физическом лице, заполнившем (подписавшем) таможенный документ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CorrectionDetails" type="pas_d:CorrectionDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения, указываемые при внесении изменений (дополнений) в пассажирскую таможенную декларацию после выпуска товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReservationID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор резервирования денежных средств для целей уплаты таможенных платежей</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransportModeCode" type="clt_ru:TransportModeCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код вида транспортного средства, на котором прибыл пассажир</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006300E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CorrectionDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения, указываемые  при внесении изменений (дополнений) в пассажирскую таможенную декларацию после выпуска товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PTDRegNum" type="cat_ru:GTDIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер пассажирской таможенной декларации, в которую вносятся изменения (дополнения)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description" type="RUSclt_ru:FreeText4000Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Обоснование необходимости внесения изменений (дополнений) в пассажирскую таможенную декларацию</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EngineType">
    <xs:annotation>
      <xs:documentation>Сведения о двигателе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="EngineModeCode" type="clt_ru:CodeVariable2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код типа двигателя: 1 - бензиновый, 2 - дизельный, 3 - электрический, 4 - гибридный на основе бензинового, 5 - гибридный на основе дизельного, 6 - конв. для работы на газе, 7 - иной.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EngineModeName" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование типа двигателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EngineModel" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Модель двигателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FuelName" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип топлива</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EnginePowerHpQuanity" type="clt_ru:EnginePowerQuanityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Мощность двигателя в лошадиных силах</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EnginePowerKvtQuanity" type="clt_ru:EnginePowerQuanityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Мощность двигателя в киловаттах</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsLitsDetailsType">
    <xs:annotation>
      <xs:documentation>Дополнительные сведения о товарах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PassDeclGoods" type="pas_d:PassDeclGoodsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товаре</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonName" type="pas_d:PersonNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ФИО лица, не достигшего 16-летнего возраста, совместно следующего с декларантом</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentityDoc" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Cведения о документе, удостоверяющем личность лица, не достигшего 16-летнего возраста, совместно следующего с декларантом</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsShipmentDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах и транспортных средствах для личного пользования</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PassDeclGoodsInfo" type="pas_d:PassDeclGoodsInfoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о товарах</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportMeans" type="pas_d:TransportMeansType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о транспортных средствах</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MovementCurrencyValuesInfo" type="pas_d:MovementCurrencyValuesInfoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о наличных денежных средствах и (или) денежных инструментах</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IntendedUseMoneyType">
    <xs:annotation>
      <xs:documentation>Сведения о предполагаемом использовании наличных денежных средств и (или) денежных инструментов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IntendedUseMoneyKind" type="clt_ru:Code2Type" maxOccurs="5">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение цели предполагаемого использования денежных средств и (или) денежных инструментов:                                     01 – текущие расходы (приобретение товаров и услуг);
02 – инвестиции, включая приобретение недвижимости;
03 – безвозмездные трансферты в пользу физических лиц (материальная помощь и т. п.);
04 – безвозмездные трансферты в пользу юридических лиц (благотворительность, пожертвования и т. п.);
99 – прочие цели использования
</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IntendedUseMoneyOther" type="RUSclt_ru:FreeText4000Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание прочих целей предполагаемого использования наличных денежных средств и (или) денежных инструментов</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItineraryPointDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о пункте маршрута перевозки наличных денежных средств и (или) денежных инструментов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType">
        <xs:annotation>
          <xs:documentation>Код страны</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PlaceName" type="clt_ru:ShortNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование (название) места (географического пункта)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ObjectOrdinal" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер маршрута</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Customs" type="cat_ru:CustomsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Таможенный орган</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Date" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MonetaryInstrumentsDetailsType">
    <xs:annotation>
      <xs:documentation>Денежные инструменты, за исключением дорожных чеков (векселя, чеки (банковские), ценные бумаги на предъявителя и иное)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MonetaryInstrumentName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Наименование денежного инструмента</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Issuer" type="RUSclt_ru:Name300Type">
        <xs:annotation>
          <xs:documentation>Эмитент</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateReleased" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата выпуска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Amount" type="RUScat_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номинальная стоимость или сумма</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NegotiableInstrumentId" type="clt_ru:Text40Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Идентифицирующий номер денежного инструмента</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="clt_ru:Quantity4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество денежных инструментов</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MovementCurrencyValuesInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о наличных денежных средствах и (или) денежных инструментах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CashDetails" type="RUScat_ru:AmountType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о наличных денежных средствах</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TravelersChequeDetails" type="RUScat_ru:AmountType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о дорожных чеках</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MonetaryInstrumentsDetails" type="pas_d:MonetaryInstrumentsDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о денежных инструментах, за исключением дорожных чеков </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OwnerMoney" type="pas_d:OwnerMoneyType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о владельце наличных денежных средств и (или) денежных инструментов – указывается, если декларант не является собственником</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginMoney" type="pas_d:OriginMoneyType">
        <xs:annotation>
          <xs:documentation>Сведения о происхождении наличных денежных средств и (или) денежных инструментов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IntendedUseMoney" type="pas_d:IntendedUseMoneyType">
        <xs:annotation>
          <xs:documentation>Сведения о предполагаемом использовании наличных денежных средств и (или) денежных инструментов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RouteMoney" type="pas_d:RouteMoneyType">
        <xs:annotation>
          <xs:documentation>Сведения о маршруте и способе перевозки наличных денежных средств и (или) денежных инструментов</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginMoneyType">
    <xs:annotation>
      <xs:documentation>Сведения о происхождении наличных денежных средств и (или) денежных инструментов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OriginMoneyKind" type="clt_ru:Code2Type" maxOccurs="9">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение источника происхождения наличных денежных средств и (или) денежных инструментов          01 – заработная плата, доходы от предпринимательской деятельности физического лица;
02 – дивиденды и другие доходы от участия в уставном (акционерном и т. п.) капитале организаций;
03 – доходы от реализации движимого и (или) недвижимого имущества;
04 – безвозмездные трансферты, полученные от физических и (или) юридических лиц (материальная помощь, гранты и т. п.);
05 – пенсия, стипендия, социальные пособия, алименты;
06 – доходы от аренды недвижимости и земельных участков;
07 – заемные средства;
08 – наследство;
99 – прочие источники происхождения
</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginMoneyOther" type="RUSclt_ru:FreeText4000Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание прочих источников происхождения денежных средств и (или) денежных инструментов</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OwnerMoneyType">
    <xs:annotation>
      <xs:documentation>Сведения о владельце наличных денежных средств и (или) денежных инструментов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OwnerMoneyName" type="RUSclt_ru:Name300Type">
        <xs:annotation>
          <xs:documentation>Фамилия, имя для физических лиц/Наименование иного лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OwnerMoneyAddress" type="RUScat_ru:RUAddressType">
        <xs:annotation>
          <xs:documentation>Адрес местожительства для физического лица/Адрес местонахождения (юридический адрес) для иных лиц</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Amount" type="RUScat_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма, номинальная стоимость денежных средств и (или) денежных инструментов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MonetaryInstrumentName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование денежного инструмента</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="clt_ru:Quantity4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество денежных инструментов</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PassDeclGoodsInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TransferPurposeCode" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение цели ввоза, вывоза или нахождения товаров на таможенной территории Евразийского экономического союза                          1 – ввоз (свободное обращение);
3 – вывоз;
4 – временный вывоз;
5 – транзит
</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AviaSign" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак ввоза товаров воздушным видом транспорта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsCategoryCode" type="clt_ru:Code2Type" minOccurs="0" maxOccurs="10">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение категории товаров, подлежащих таможенному контролю: 01 – наличные денежные средства и (или) дорожные чеки свыше 10 000 $ в эквиваленте (на 1 лицо), векселя, чеки (банковские чеки), ценные бумаги;
02 – товары, ввозимые с освобождением от уплаты таможенных пошлин, налогов (ввоз со льготой);
03 – товары, стоимость, вес и (или) количество которых превышают нормы ввоза без уплаты таможенных пошлин, налогов;
04 – культурные ценности;
05 – гражданское и служебное оружие, его основные (составные) части, патроны к нему;
06 – наркотические средства, психотропные вещества, их прекурсоры в виде лекарственных средств;
07 – животные, растения;
08 – коллекционные материалы по минералогии, палеонтологии, кости ископаемых животных;
09 – образцы биологических материалов человека;
10 – другие товары, в отношении которых подлежат соблюдению запреты и ограничения и требуется представление подтверждающих документов и (или) сведений
</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsListDetails" type="pas_d:GoodsLitsDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Дополнительные сведения о товарах</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PassDeclGoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товаре</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Номер товара по порядку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Наименование и другие отличительные признаки товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrossWeightQuantity" type="catESAD_cu:UnifiedPhysicalMeasureType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес товара, брутто</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NetWeightQuantity" type="catESAD_cu:UnifiedPhysicalMeasureType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес товара, нетто</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsQuantity" type="catESAD_cu:UnifiedPhysicalMeasureType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TradeMark" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование товарного знака, объекта авторского права, смежных прав, патента  и т.д. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsMark" type="clt_ru:Text40Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование марки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsModel" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование модели продукта (товара)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsMarking" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор продукта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsCost" type="RUScat_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Стоимость</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PresentedDocuments" type="pas_d:PresentedDocumentsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Номер и дата выдачи документа, подтверждающего соблюдение ограничений и орган, его выдавший</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonNameType">
    <xs:annotation>
      <xs:documentation>ФИО лица</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonSurname" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Фамилия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Имя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonMiddleName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>Сведения о физическом лице</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonSurname" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Фамилия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Имя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonMiddleName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отчество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="INN" type="clt_ru:INNIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИНН декларанта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonId" type="RUSclt_ru:PersonIdType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор физического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonIdCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Реквизиты документа, удостоверяющего личность декларанта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="RUScat_ru:RUAddressType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Адрес</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BirthDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата рождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegDocumentReference" type="pas_d:RegDocumentReference" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер и дата выдачи визы (реквизиты документа, подтверждающего право пребывания на таможенной территории Евразийского экономического союза)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryDeparture" type="RUScat_ru:CountryDetailsV3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Cведения о стране отправления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryDestination" type="RUScat_ru:CountryDetailsV3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о стране назначения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CRTaxAllowanceCode" type="clt_ru:CodeVariable2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак наличия льготы: 1 – переселение в Российскую Федерацию на постоянное место жительства;
6 – беженцы;
K – работники посольств;
S – физические лица государства-члена, временно проживавшие за границей не менее 1 года, I - лицо не имеет постоянного места жительства в государстве - члене ЕАЭС и освобождается от внесения обеспечения при временном ввозе ТС; 2 - физические лица, получившие наследство; 3 - ввоз культурных ценностей; 4 - физические лица, получившие разрешение на работу
</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PresentedDocumentsType">
    <xs:annotation>
      <xs:documentation>Документы, подтверждающие заявленные сведения</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="pas_d:RegDocumentReference" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RegDocumentReference">
    <xs:annotation>
      <xs:documentation>Сведения о документе, подтверждающем право пребывания на таможенной территории Евразийского экономического союза</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:DocBaseV4Type">
        <xs:sequence>
          <xs:element name="DocStartDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата начала срока, в течение которого документ имеет силу</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocValidityDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата окончания срока, в течение которого документ имеет силу</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код страны</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AuthorityName" type="RUSclt_ru:Name300Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Полное наименование  органа государственной власти государства-члена либо уполномоченной им организации, выдавшей документ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AuthorityId" type="clt_ru:CodeVariable20Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Строка, идентифицирующая орган государственной власти государства-члена либо уполномоченную им организацию, выдавшую документ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RouteMoneyType">
    <xs:annotation>
      <xs:documentation>Сведения о маршруте и способе перевозки (о виде транспорта) наличных денежных средств и (или) денежных инструментов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TransportModeCode" type="clt_ru:TransportModeCodeType">
        <xs:annotation>
          <xs:documentation>Код вида транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description" type="RUSclt_ru:FreeText4000Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание прочего вида транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ItineraryPointDetails" type="pas_d:ItineraryPointDetailsType" minOccurs="2" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о пункте маршрута перевозки наличных денежных средств и (или) денежных инструментов</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SharePartItemDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о части транспортного средства, замененной в государстве, не являющемся членом Евразийского экономического союза</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ProductId" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Идентификационный номер замененной части транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description" type="RUSclt_ru:FreeText4000Type">
        <xs:annotation>
          <xs:documentation>Описание (наименование) замененной части транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportMeansDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о транспортном средстве</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TransportModeCode" type="clt_ru:TransportModeCodeType">
        <xs:annotation>
          <xs:documentation>Код вида транспортного средства по классификатору видов транспорта и транспортировки товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС (от 4 знаков)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TrailerIndicator" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак прицепного транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TypeIndicator" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Назначение транспортного средства: 1 - общего назначения, 2 - медицинского назначения, 3 - для проживания, 4 - автобусы (более 120 мест), 5 - повышенной проходимости, 6 - снегоходы/для гольфа/квадроциклы, 7 - прочие </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportMeansRegId" type="clt_ru:TransportMeansIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportMeansCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код страны, по правилам которой сформирован указанный регистрационный номер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VINID" type="clt_ru:VINIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификационный номер транспортного средства (шасси транспортного средства, самоходной машины), присвоенный изготовителем</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChassisID" type="clt_ru:VINIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификационный номер шасси (рамы) транспортного средства, присвоенный изготовителем</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BodyID" type="clt_ru:VINIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификационный номер кузова (кабины) транспортного средства (шасси транспортного средства, самоходной машины), присвоенный изготовителем</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MarkCode" type="clt_ru:MarkCarCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код марки транспортного средства в соответствии с классификатором марок дорожных транспортных средств</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Mark" type="clt_ru:MarkCarNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование марки транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Model" type="clt_ru:MarkCarNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование модели транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OfftakeYear" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Момент выпуска (дата изготовления транспортного средства)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EngineVolumeQuanity" type="catESAD_cu:UnifiedPhysicalMeasureType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Объем двигателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Engine" type="pas_d:EngineType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о двигателе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportCarryingCapacityMeasure" type="clt_ru:QuantityBasis0Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>«Технически допустимая максимальная масса (т)» — для транспортных средств (шасси), «Грузоподъемность (т)» — для прицепов самоходных машин</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustCost" type="RUScat_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Стоимость</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportKindName" type="clt_ru:TransportNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование вида транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LengthMeasure" type="catESAD_cu:UnifiedPhysicalMeasureType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Длина корпуса водного судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportGrossMass" type="catESAD_cu:UnifiedPhysicalMeasureType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Масса воздушного или водного транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportMeansType">
    <xs:annotation>
      <xs:documentation>Сведения о транспортных средствах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TransferPurposeCode" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение цели ввоза, вывоза или нахождения товаров на таможенной территории Евразийского экономического союза                          1 – ввоз (свободное обращение);
2 – временный ввоз;
3 – вывоз;
4 – временный вывоз;
5 – транзит
</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaxFreeIndicator" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак декларирования транспортных средств, ввозимых с освобождением от уплаты таможенных пошлин, налогов (ввоз со льготой)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportMeansDetails" type="pas_d:TransportMeansDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о транспортных средствах</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SharePartItemDetails" type="pas_d:SharePartItemDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о части транспортного средства, замененной в государстве, не являющемся членом Евразийского экономического союза</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>