XsltProcessor/xsd/5.23.0/PaymentConfirmDocs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:paycd="urn:customs.ru:Information:ExchangeDocuments:PaymentConfirmDocs:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:ExchangeDocuments:PaymentConfirmDocs:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Подтверждение уплаты таможенных платежей</xs:documentation>
  </xs:annotation>
  <xs:element name="PaymentConfirmDocs" type="paycd:PaymentConfirmDocsType">
    <xs:annotation>
      <xs:documentation>Подтверждение уплаты таможенных платежей</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PaymentConfirmDocsType">
    <xs:annotation>
      <xs:documentation>Подтверждение уплаты таможенных платежей</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Comment" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TPORegNumber" type="paycd:TPORegNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Справочный номер ТПО</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocID" type="paycd:DocIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный  номер таможенного документа, на основании которого осуществляется таможенное декларирование</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PaymentDocument" type="paycd:PaymentDocumentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Платежный документ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrderPayment" type="RUScat_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сумма авансовых платежей, подлежащих списанию с лицевого счета по распоряжению плательщика  </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Payer" type="paycd:PayerType">
            <xs:annotation>
              <xs:documentation>Реквизиты плательщика</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1004114E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="PayerType">
    <xs:annotation>
      <xs:documentation>Реквизиты плательщика</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType">
        <xs:sequence>
          <xs:element name="CardNumber" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер универсальной электронной карты</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PaymentDocumentType">
    <xs:annotation>
      <xs:documentation>Платежный документ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="Amount" type="clt_ru:AmountType">
            <xs:annotation>
              <xs:documentation>Сумма подлежащих к уплате платежей</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TotalAmount" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Исходная сумма платежного документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PaymentMethodCode" type="clt_ru:Code2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Способ платежа в соответствии с классификатором способов и особенностей уплаты таможенных и иных платежей</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CurrencyCode" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код  валюты</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TPORegNumberType">
    <xs:annotation>
      <xs:documentation>Справочный номер ТПО</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата регистрации документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocNumber" type="clt_ru:Code10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер документа по журналу регистрации/типографский номер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumPP" type="clt_ru:Code2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порядковый номер вносимых изменений</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MPORegNumType">
    <xs:annotation>
      <xs:documentation>Номер МПО</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата регистрации документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MPO_Number" type="clt_ru:Code13Type">
        <xs:annotation>
          <xs:documentation>Уникальный номер МПО</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocIDType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер документа</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="DTRegNum" type="cat_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер ДТ/ реестра товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MPORegNum" type="paycd:MPORegNumType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер МПО</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:schema>