XsltProcessor/xsd/5.23.0/PaymentRequirements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- до версии 5.13.4 ГУФТДиТР 2018 № 00415 ФТ на ЛК и Задолженность по формам (пошлины) (приложение).tif (Приложения №№ 1, 9, 10, 11, 12, 13, 14) 
с версии 5.13.4 проекты Приказов ФТС в письме ГУФТДиТР 56307.pdf (примечания: РДЗ разделён на два - РДЗ и РПЗ) 
Сейчас (актуально с 5.14.3):
prs:DocType = РБП - Приказ ФТС России от 21.11.2018 № 1883
- prs:DocType = ТГП - в приказах нет, оставлен, т.к. есть в п.26 ст.76 289-ФЗ; (был в ГУФТДиТР 2018 № 00415 ФТ на ЛК и Задолженность по формам (пошлины) (приложение).tif) - УБРАН отсюда в версии 5.14.5 (переехал в ReqGuarant.xsd)
- prs:DocType = ТА   - Приказ ФТС России от 21.11.2018 № 1882 - УБРАН отсюда в версии 5.14.5 (переехал в ReqGuarant.xsd)
prs:DocType = РДЗ - Приказ ФТС России от 21.11.2018 № 1881
prs:DocType = РПЗ - Приказ ФТС России от 21.11.2018 № 1880
- prs:DocType = УДЗ - Приказ ФТС России от 27.12.2018 № 2137 (Приложение № 1) - УБРАН отсюда в версии 5.14.5 (переехал в NotifAdvDep.xsd)
prs:DocType = РА   - Приказ ФТС России от 21.11.2018 № 1878
- prs:DocType = УАИ - Приказ ФТС России от 27.12.2018 № 2137 (Приложение № 2) - УБРАН отсюда в версии 5.14.5 (переехал в NotifAdvDep.xsd)
prs:DocType = РИ - Приказ ФТС России от 21.11.2018 № 1877 (Приложение № 1)
prs:DocType = ПИ - Приказ ФТС России от 21.11.2018 № 1877 (Приложение № 2)
-->
<xs:schema xmlns:prs="urn:customs.ru:Information:CommercialFinanceDocuments:PaymentRequirements:5.23.0" xmlns:catComFin_ru="urn:customs.ru:Information:CommercialFinanceDocuments:CommercialFinanceCommonAgregateTypesCust:5.22.0" xmlns:RUDECLcat="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.23.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CommercialFinanceDocuments:PaymentRequirements:5.23.0" elementFormDefault="qualified" version="5.23.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:CommercialFinanceDocuments:CommercialFinanceCommonAgregateTypesCust:5.22.0" schemaLocation="CommercialFinanceCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.23.0" schemaLocation="RUDeclCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Решение таможенного органа о взыскании денежных средств со счетов в бесспорном порядке/ об обращении взыскания на денежный залог, внесенный для обеспечения исполнения обязанностей/решение об обращении взыскания на предмет залога/решение таможенного органа о взыскании таможенных платежей, специальных, антидемпинговых, компенсационных пошлин, процентов и пеней за счет авансовых платежей/решение/постановление таможенного органа о взыскании таможенных платежей, специальных, антидемпинговых, компенсационных пошлин, процентов и пеней за счет имущества</xs:documentation>
  </xs:annotation>
  <xs:element name="PaymentRequirements" type="prs:PaymentRequirementsType">
    <xs:annotation>
      <xs:documentation>Решение таможенного органа о взыскании денежных средств со счетов в бесспорном порядке/ об обращении взыскания на денежный залог, внесенный для обеспечения исполнения обязанностей/решение об обращении взыскания на предмет залога/решение таможенного органа о взыскании таможенных платежей, специальных, антидемпинговых, компенсационных пошлин, процентов и пеней за счет авансовых платежей/решение/постановление таможенного органа о взыскании таможенных платежей, специальных, антидемпинговых, компенсационных пошлин, процентов и пеней за счет имущества</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PaymentRequirementsType">
    <xs:annotation>
      <xs:documentation>Решение таможенного органа о взыскании денежных средств со счетов в бесспорном порядке/ об обращении взыскания на денежный залог, внесенный для обеспечения исполнения обязанностей/решение об обращении взыскания на предмет залога/решение таможенного органа о взыскании таможенных платежей, специальных, антидемпинговых, компенсационных пошлин, процентов и пеней за счет авансовых платежей/решение/постановление таможенного органа о взыскании таможенных платежей, специальных, антидемпинговых, компенсационных пошлин, процентов и пеней за счет имущества</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DocType" type="clt_ru:CodeVariable3Type">
            <xs:annotation>
              <xs:documentation>Тип документа: РБП - Решение таможенного органа о взыскании денежных средств в бесспорном порядке; РДЗ - Решение таможенного органа об обращении взыскания на денежный залог, внесенный для обеспечения обязанностей уполномоченного экономического оператора и (или) обязанностей юридического лица, осуществляющего деятельность в сфере таможенного дела; РПЗ - Решение таможенного органа об обращении взыскания на предмет залога; РА - Решение таможенного органа о взыскании таможенных платежей, специальных, антидемпинговых,компенсационных пошлин, процентов и пеней за счет авансовых платежей; РИ - Решение таможенного органа о взыскании таможенных платежей, специальных, антидемпинговых, компенсационных пошлин, процентов и пеней за счет имущества; ПИ - Постановление таможенного органа о взыскании таможенных платежей, специальных, антидемпинговых, компенсационных пошлин, процентов и пеней за счет имущества.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PlaceName" type="clt_ru:NameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Населенный пункт</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PRSRegNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Номер документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер принятого решения о взыскании таможенных платежей, специальных, антидемпинговых, компенсационных пошлин, процентов и пеней</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата принятого решения о взыскании таможенных платежей, специальных, антидемпинговых, компенсационных пошлин, процентов и пеней</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IssueDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата выдачи постановления  о взыскании таможенных платежей, специальных, антидемпинговых, компенсационных пошлин, процентов и пеней</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PRSCustoms" type="prs:PRSCustomsType">
            <xs:annotation>
              <xs:documentation>Таможенный орган</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PrincipalInfo" type="prs:RrincipalInfoType">
            <xs:annotation>
              <xs:documentation>Лицо, в отношении которого принято
решение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Guarantor" type="prs:GuarantorType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о гаранте и (или) лице, несущем солидарную ответственность</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GuaranteeInfo" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Реквизиты банковской гарантии (договора поручительства, договора залога)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Amount" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сумма денежных средств, авансовых платежей или за счет залога, рубли</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PrePaydAmount" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сумма излишне уплаченных (взысканных) таможенных платежей, специальных, антидемпинговых, компенсационных пошлин, процентов, рубли</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PaymentsFeesAmount" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сумма таможенных платежей, специальный, антидемпинговых и компенсационных пошлин, подлежащая взысканию за счет имущества, рубли</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PenaltyAmount" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сумма пеней, подлежащая взысканию за счет имущества, рубли</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PercentAmount" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сумма процентов, подлежащая взысканию за счет имущества, рубли</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FineAmount" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сумма пени и(или) процентов, рубли</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ChargesRecover" type="prs:ChargesRecoverType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о начислениях на день принятия решения, подлежащих взысканию</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PaymentRequisitions" type="prs:PaymentRequisitionsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Счет Федерального казначейcтва</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NoticePayment" type="prs:NoticePaymentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Уведомление (уточнение к уведомлению) о не уплаченных в установленный срок суммах таможенных платежей, специальных, антидемпинговых, компенсационных пошлин, процентов и пеней</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Paragraph" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер пункта части 10 статьи 80 ФЗ  от 3 августа 2018 г. № 289-ФЗ «О таможенном регулировании в Российской Федерации и о внесении изменений в отдельные
законодательные акты Российской Федерации», в соответствии с которым принято решение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CPCID" type="RUDECLcat:CustomDocIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер расчета таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocUsed" type="prs:DocUsedType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата и номер книжки МДП (карнета АТА) </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="KDTorCPCID" type="prs:KDTorCPCIDType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Реквизиты корректировки декларации на товары или расчета таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин, расчета таможенных пошлин, налогов, взимаемых по единым ставкам, либо таможенных пошлин, налогов, взимаемых в виде совокупного таможенного платежа, корректировки таможенного приходного ордера, заявления, предусмотренного пунктом 4 статьи 277 ТК ЕАЭС, либо иного таможенного документа, определенного Евразийской экономической комиссией в соответствии с пунктом 24 статьи 266 ТК ЕАЭС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="KDTorCPCID_PModeInfo" type="prs:KDTorCPCID_PModeInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о реквизитах документов исполнения обязанности по уплате таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsReceiptInfo" type="prs:CustomsReceiptInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о таможенных расписках</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsChief" type="cat_ru:CustomsPersonType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Подпись начальника (заместителя начальника) таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Executor" type="prs:ExecutorType">
            <xs:annotation>
              <xs:documentation>Исполнитель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TaxPeriod" type="clt_ru:CodeVariable2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Налоговый период</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1002030E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ChargesRecoverType">
    <xs:annotation>
      <xs:documentation>Сведения о начислениях на день принятия решения, подлежащих взысканию</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PaymentModeCode" type="clt_ru:CUCustomsPaymentCodeType">
        <xs:annotation>
          <xs:documentation>Код вида платежа  по классификатору видов налогов, сборов и иных платежей, взимание которых возложено на таможенные органы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CompAmount" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма начисления, рубли</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsReceiptInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о таможенных расписках</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsReceipt" type="prs:CustomsReceiptType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Реквизиты таможенной расписки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalCompAmount" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Итого взыскиваемая сумма, рубли</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsReceiptRegNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер таможенной расписки</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="DocNumberPrefix" type="clt_ru:CodeVariable3Type">
            <xs:annotation>
              <xs:documentation>Префикс порядкового номера таможенной расписки</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CustomsReceiptType">
    <xs:annotation>
      <xs:documentation>Реквизиты таможенной расписки</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsReceiptID" type="prs:CustomsReceiptRegNumberType">
        <xs:annotation>
          <xs:documentation>Реквизиты таможенной расписки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CRAmount" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма по таможенной расписке, рубли</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CompAmount" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Взыскиваемая сумма, рубли</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocUsedType">
    <xs:annotation>
      <xs:documentation>Реквизиты книжки МДП или карнета АТА</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocUsedDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="TIRIdDetails" type="RUDECLcat:TIRIdDetailsType">
          <xs:annotation>
            <xs:documentation>Номер книжки МДП</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="CarnetNumber" type="clt_ru:CodeVariable20Type">
          <xs:annotation>
            <xs:documentation>Номер карнета АТА</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExecutorType">
    <xs:annotation>
      <xs:documentation>Исполнитель</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonBaseType">
        <xs:sequence>
          <xs:element name="ExecutivePhone" type="clt_ru:PhoneNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Контактный телефон</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GuarantorType">
    <xs:annotation>
      <xs:documentation>Сведения о гаранте и (или) лице, несущем солидарную ответственность</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationBaseType">
        <xs:sequence>
          <xs:element name="GuarantorKind" type="clt_ru:DigitalIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Тип лица (0 - гарант, 1 – солидарная ответственность)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="KDTorCPCID_PModeInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о реквизитах документов исполнения обязанности по уплате таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин с указанием кода платежа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="KDTorCPCID_PMode" type="prs:KDTorCPCID_PModeType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Реквизиты документов исполнения обязанности по уплате таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин с указанием кода платежа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalCompAmount" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Итого сумма взыскания, рубли</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KDTorCPCID_PModeType">
    <xs:annotation>
      <xs:documentation>Реквизиты корректировки декларации на товары или расчета таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин с указанием кода платежа</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="prs:KDTorCPCIDType">
        <xs:sequence>
          <xs:element name="PaymentModeCode" type="clt_ru:CUCustomsPaymentCodeType">
            <xs:annotation>
              <xs:documentation>Код вида платежа  по классификатору видов налогов, сборов и иных платежей, взимание которых возложено на таможенные органы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CompAmount" type="clt_ru:AmountType">
            <xs:annotation>
              <xs:documentation>Сумма взыскания, рубли</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="KDTorCPCIDType">
    <xs:annotation>
      <xs:documentation>Реквизиты корректировки декларации на товары / расчета таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин/корректировки ТПО / заявления, предусмотренного п.4 ст.277 ТК ЕАЭС / иного таможенного документа, определенного Евразийской экономической комиссией в соответствии с пунктом 24 статьи 266 ТК ЕАЭС</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="KDTID" type="RUDECLcat:CustomDocIDType">
          <xs:annotation>
            <xs:documentation>Реквизиты корректировки декларации на товары</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="CPCID" type="RUDECLcat:CustomDocIDType">
          <xs:annotation>
            <xs:documentation>Реквизиты расчета таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин, расчета таможенных пошлин, налогов, взимаемых по единым ставкам, либо таможенных пошлин, налогов, взимаемых в виде совокупного таможенного платежа</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="KTPOID" type="prs:KTPORegNumberType">
          <xs:annotation>
            <xs:documentation>Реквизиты корректировки таможенного приходного ордера</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Application" type="cat_ru:DocumentBaseType">
          <xs:annotation>
            <xs:documentation>Реквизиты заявления, предусмотренного пунктом 4 статьи 277 ТК ЕАЭС</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="OtherCustDocInfoID" type="prs:OtherCustDocInfoType">
          <xs:annotation>
            <xs:documentation>Реквизиты иного таможенного документа, определенного Евразийской экономической комиссией в соответствии с пунктом 24 статьи 266 ТК ЕАЭС</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KTPORegNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер корректировки таможенного приходного ордера</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="prs:TPORegNumberType">
        <xs:sequence>
          <xs:element name="Code" type="clt_ru:CodeVariable2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер (идентификатор) вносимых изменений и (или) дополнений</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NoticePaymentType">
    <xs:annotation>
      <xs:documentation>Уведомление (уточнение к уведомлению) об уплате таможенных платежей, специальных, антидемпинговых, коипенсационных пошлин, процентов и пени</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="PeriodExecution" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Срок исполнения</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OtherCustDocInfoType">
    <xs:annotation>
      <xs:documentation>Реквизиты иного таможенного документа, определенного Евразийской экономической комиссией в соответствии с пунктом 24 статьи 266 ТК ЕАЭС</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="TPOID" type="prs:TPORegNumberType">
          <xs:annotation>
            <xs:documentation>Реквизиты таможенного приходного ордера</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="OtherCustDoc" type="cat_ru:DocumentBaseType">
          <xs:annotation>
            <xs:documentation>Реквизиты документа об уплате таможенных пошлин, налогов в отношении товаров для личного пользования, таможенное декларирование которых осуществляется с использованием пассажирской таможенной декларации для экспресс-грузов</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentRequisitionsType">
    <xs:annotation>
      <xs:documentation>Счет Федерального казначейcтва</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catComFin_ru:PaymentRequisitionsType">
        <xs:sequence>
          <xs:element name="RecipientName" type="clt_ru:NameType">
            <xs:annotation>
              <xs:documentation>Получатель платежа, наименование</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RecipientINN" type="clt_ru:INNIDType">
            <xs:annotation>
              <xs:documentation>Получатель платежа. ИНН</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RecipientKPP" type="clt_ru:KPPCodeType">
            <xs:annotation>
              <xs:documentation>Получатель платежа. КПП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExtPaymentInfo" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дополнительная информация для указания в платежном поручении</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PRSCustomsType">
    <xs:annotation>
      <xs:documentation>Сведения о таможенном органе</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:CustomsType">
        <xs:sequence>
          <xs:element name="FullOfficeName" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Полное наименование таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="INN" type="clt_ru:INNIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ИНН таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsAddress" type="RUScat_ru:RUAddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Адрес таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RrincipalInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о принципале</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:OrganizationType">
        <xs:sequence>
          <xs:element name="FactAddressDetails" type="RUScat_ru:RUAddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Адрес местонахождения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistrationDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата государственной регистрации в качестве юридического лица/индивидуального предпринимателя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistrationPlace" type="clt_ru:NameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Место государственной регистрации (для физ. лиц)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Gender" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Пол: 1 - женский; 2- мужской</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BirthDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата рождения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BirthPlace" type="clt_ru:NameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Место рождения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Job" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Место работы</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TPORegNumberType">
    <xs:annotation>
      <xs:documentation>Справочный номер ТПО</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocNumber" type="clt_ru:Code10Type">
        <xs:annotation>
          <xs:documentation>Номер документа по журналу регистрации/типографский номер</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>