XsltProcessor/xsd/5.23.0/PermitExpRepairAndTestingGoodsSTZ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Приказ Минфина России № 309н от 16 декабря 2020 года "Об определении формы заявления на вывоз товаров, помещенных под таможенную процедуру свободной таможенной зоны, и (или) товаров, изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободной таможенной зоны, с территории Арктической зоны Российской Федерации, на которой применяется таможенная процедура свободной таможенной зоны, на остальную часть таможенной территории Евразийского экономического союза без завершения действия таможенной процедуры свободной таможенной зоны для совершения операций, предусмотренных подпунктами 1 и 2 пункта 4 статьи 205 Таможенного кодекса Евразийского экономического союза, и формы разрешения таможенного органа на такой вывоз"-->
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:pertg_stz="urn:customs.ru:Information:CustomsDocuments:PermitExpRepairAndTestingGoodsSTZ:5.23.0" xmlns:catProc_ru="urn:customs.ru:Information:ProcessingDocuments:ProcessingCommonAggregateTypes:5.23.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:PermitExpRepairAndTestingGoodsSTZ:5.23.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.23.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:ProcessingDocuments:ProcessingCommonAggregateTypes:5.23.0" schemaLocation="ProcessingCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Разрешение таможенного органа на вывоз товаров, помещенных под таможенную процедуру свободной таможенной зоны, и (или) товаров, изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободной таможенной зоны, с территории Арктической зоны Российской Федерации, на которой применяется таможенная процедура свободной таможенной зоны, на остальную часть таможенной территории Евразийского экономического союза без завершения действия таможенной процедуры свободной таможенной зоны для совершения операций, предусмотренных подпунктами 1 и 2 пункта 4 статьи 205 Таможенного кодекса Евразийского экономического союза</xs:documentation>
  </xs:annotation>
  <xs:element name="PermitExpRepairAndTestingGoodsSTZ" type="pertg_stz:PermitExpRepairAndTestingGoodsSTZType">
    <xs:annotation>
      <xs:documentation>Разрешение таможенного органа на вывоз товаров, помещенных под таможенную процедуру свободной таможенной зоны, и (или) товаров, изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободной таможенной зоны, с территории Арктической зоны Российской Федерации, на которой применяется таможенная процедура свободной таможенной зоны, на остальную часть таможенной территории Евразийского экономического союза без завершения действия таможенной процедуры свободной таможенной зоны для совершения операций, предусмотренных подпунктами 1 и 2 пункта 4 статьи 205 Таможенного кодекса Евразийского экономического союза</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PermitExpRepairAndTestingGoodsSTZType">
    <xs:annotation>
      <xs:documentation>Разрешение таможенного органа на вывоз товаров, помещенных под таможенную процедуру свободной таможенной зоны, и (или) товаров, изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободной таможенной зоны, с территории Арктической зоны Российской Федерации, на которой применяется таможенная процедура свободной таможенной зоны, на остальную часть таможенной территории Евразийского экономического союза без завершения действия таможенной процедуры свободной таможенной зоны для совершения операций, предусмотренных подпунктами 1 и 2 пункта 4 статьи 205 Таможенного кодекса Евразийского экономического союза</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Resident" type="pertg_stz:ResidentType">
            <xs:annotation>
              <xs:documentation>Сведения о резиденте СТЗ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PermissionRegNumber" type="pertg_stz:RegNumType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер разрешения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResidentFromPlace" type="pertg_stz:ResidentType">
            <xs:annotation>
              <xs:documentation>Резидент СТЗ, с участка которого осуществляется вывоз товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AppRegNumber" type="pertg_stz:AppRegNumType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер Заявления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RepairAndTestingOperations" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Операция, для проведения которой товары временно вывозятся</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RepairAndTestingPerson" type="pertg_stz:RepairAndTestingPersonType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о лице(ах), которое(ые) непосредственно будет(ут) совершать операции</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RepairAndTestingAddress" type="RUScat_ru:RUAddressType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Место проведения операций (адрес)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EntryGoodsTerm" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Срок обратного ввоза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ProlongTerm" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Продление срока ввоза товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionProlongTerm" type="pertg_stz:DecRegNumType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер Решения таможенного органа о продлении срока обратного ввоза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsSignature" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Подпись начальника таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006328E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="AddNumberAppRegNumType">
    <xs:annotation>
      <xs:documentation>4-ая часть Регистрационного номера заявления ("ЗВР")</xs:documentation>
    </xs:annotation>
    <xs:restriction base="clt_ru:Code3Type">
      <xs:enumeration value="ЗВР" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AddNumberDecRegNumType">
    <xs:annotation>
      <xs:documentation>4-ая часть Регистрационного номера решения о продлении срока обратного ввоза ("РВРПС")</xs:documentation>
    </xs:annotation>
    <xs:restriction base="clt_ru:Code5Type">
      <xs:enumeration value="РВРПС" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AddNumberRegNumType">
    <xs:annotation>
      <xs:documentation>4-ая часть Регистрационного номера разрешения ("РВР")</xs:documentation>
    </xs:annotation>
    <xs:restriction base="clt_ru:Code3Type">
      <xs:enumeration value="РВР" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AppRegNumType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер заявления</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, зарегистрировавшего Заявление</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации Заявления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:CodeVariable10Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер Заявления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AddNumber" type="pertg_stz:AddNumberAppRegNumType">
        <xs:annotation>
          <xs:documentation>4-ая часть номера "ЗВР"</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DecRegNumType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер решения о продлении срока обратного ввоза</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, зарегистрировавшего Заявление</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации Заявления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:CodeVariable10Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер Заявления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AddNumber" type="pertg_stz:AddNumberDecRegNumType">
        <xs:annotation>
          <xs:documentation>4-ая часть номера "РВРПС"</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegNumType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер Решения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:CodeVariable10Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AddNumber" type="pertg_stz:AddNumberRegNumType">
        <xs:annotation>
          <xs:documentation>4-ая часть номера "РВР"</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RepairAndTestingPersonType">
    <xs:annotation>
      <xs:documentation>Сведения о лице, которое непосредственно будет совершать операции</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType">
        <xs:sequence>
          <xs:element name="ConfirmTransferDoc" type="catProc_ru:DocExtendedType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Документ (документы), подтверждающий(ие) передачу вывозимых товаров лицу, которое будет непосредственно совершать операции</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ResidentCertificateType">
    <xs:annotation>
      <xs:documentation>Сведения о включении в реестр резидентов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CertificateNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер свидетельства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CertificateDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата выдачи свидетельства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CertificateValidity" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Срок действия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CertificateAgency" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование органа, выдавшего свидетельство</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResidentType">
    <xs:annotation>
      <xs:documentation>Сведения о резиденте</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType">
        <xs:sequence>
          <xs:element name="ResidentCertificate" type="pertg_stz:ResidentCertificateType">
            <xs:annotation>
              <xs:documentation>Cвидетельство о включении в реестр резидентов СТЗ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>