XsltProcessor/xsd/5.23.0/PermitReplaceProdEquivForeign.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Проект Приказа Минфина России "Об утверждении порядка выдачи разрешения на переработку товаров ..." -->
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:catProc_ru="urn:customs.ru:Information:ProcessingDocuments:ProcessingCommonAggregateTypes:5.23.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:prpef="urn:customs.ru:Information:ProcessingDocuments:PermitReplaceProdEquivForeign:5.23.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:ProcessingDocuments:PermitReplaceProdEquivForeign:5.23.0" elementFormDefault="qualified" version="5.23.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:ProcessingDocuments:ProcessingCommonAggregateTypes:5.23.0" schemaLocation="ProcessingCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Разрешение на замену продуктов переработки эквивалентными иностранными товарами при совершении операций по гарантийному (безвозмездному) ремонту</xs:documentation>
  </xs:annotation>
  <xs:element name="PermitReplaceProdEquivForeign" type="prpef:PermitReplaceProdEquivForeignType">
    <xs:annotation>
      <xs:documentation>Разрешение на замену продуктов переработки эквивалентными иностранными товарами при совершении операций по гарантийному (безвозмездному) ремонту</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PermitReplaceProdEquivForeignType">
    <xs:annotation>
      <xs:documentation>Разрешение на замену продуктов переработки эквивалентными иностранными товарами при совершении операций по гарантийному (безвозмездному) ремонту</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="CustomsAdministration" type="clt_ru:Text150Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование таможенного управления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Сведения о таможне, выдавшей разрешение на переработку товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PermitDTNumber" type="cat_ru:GTDIDType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер разрешения на переработку товаров вне таможенной территории в форме декларации на товары</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApplicantInfomation" type="prpef:ApplicantInfomationType">
            <xs:annotation>
              <xs:documentation>Сведения о лице, получившем разрешение на переработку товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PossiblReplaceDoc" type="catProc_ru:DocExtendedType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Документы, которыми предусмотрена возможность замены продуктов переработки эквивалентными иностранными товарами</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EquivForeignGoods" type="prpef:EquivForeignGoodsType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Эквивалентные иностранные товары</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonSignature" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Подпись начальника таможни (лица, его заменяющего)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1007023E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ApplicantInfomationType">
    <xs:annotation>
      <xs:documentation>Сведения о лице, получившем разрешение на переработку товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="INN" type="clt_ru:INNIDType">
        <xs:annotation>
          <xs:documentation>ИНН заявителя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrganizationName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование организации / ФИО физического лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShortName" type="clt_ru:ShortNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Краткое наименование организации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="RUScat_ru:RUAddressType">
        <xs:annotation>
          <xs:documentation>Юридический адрес организации</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EquivForeignGoodsType">
    <xs:annotation>
      <xs:documentation>Эквивалентные иностранные товары</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catProc_ru:ProcessingBaseGoodsType">
        <xs:sequence>
          <xs:element name="GoodsRubCost" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Стоимость, руб</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>