XsltProcessor/xsd/5.23.0/PermitProcessingGoods.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приказ Минфина России № 246н от 24 декабря 2019 года, Приказ Минфина России № 7н от 14 января 2020 года, Приказ Минфина России № 5н от 14 января 2020 года -->
<!-- Разрешение на переработку товаров на / вне таможенной территории / для внутреннего потребления -->
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:catProc_ru="urn:customs.ru:Information:ProcessingDocuments:ProcessingCommonAggregateTypes:5.23.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:ppg="urn:customs.ru:Information:ProcessingDocuments:PermitProcessingGoods:5.23.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:ProcessingDocuments:PermitProcessingGoods:5.23.0" elementFormDefault="qualified" version="5.23.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:ProcessingDocuments:ProcessingCommonAggregateTypes:5.23.0" schemaLocation="ProcessingCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Разрешение на переработку товаров на таможенной территории/вне таможенной территории/для внутреннего потребления </xs:documentation>
  </xs:annotation>
  <xs:element name="PermitProcessingGoods" type="ppg:PermitProcessingGoodsType">
    <xs:annotation>
      <xs:documentation>Разрешение на переработку товаров на таможенной территории/вне таможенной территории/для внутреннего потребления </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PermitProcessingGoodsType">
    <xs:annotation>
      <xs:documentation>Разрешение на переработку товаров на таможенной территории/вне таможенной территории/для внутреннего потребления </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="OperationStatus" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
              <xs:documentation>Статус операции: 1 - выдача Разрешения на переработку, 2 - отзыв Разрешения, 3 - аннулирование Разрешения, 4 - восстановление Разрешения, 5 - разрешение на передачу Разрешения на переработку иному лицу</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentStatus" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
              <xs:documentation>Статус документа: 1 -  Подготовлено, 2 - Действует, 3 - Исполнено, 4 - Истек срок действия, 5 - Аннулировано, 6 - Отозвано</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ProcessingProcedureCode" type="clt_ru:Code2Type">
            <xs:annotation>
              <xs:documentation>Код таможенной процедуры переработки: 21- переработка вне ТТ; 51 - переработка на ТТ; 91 - переработка для внутреннего потребления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AppInfomation" type="ppg:AppInfomationType">
            <xs:annotation>
              <xs:documentation>Сведения о заявлении на переработку</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsAdministration" type="cat_ru:CustomsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о таможенном управлении</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Сведения о таможне, выдавшей разрешение на переработку товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PermitNumber" type="catProc_ru:PermitNumberType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер разрешения на переработку товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ChangeRequestsNumber" type="catProc_ru:DocExtendedType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Регистрационный номер Завяления о внесении изменений в Разрешение на переработку товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransferPermitionNumber" type="catProc_ru:DocExtendedType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Регистрационный номер Завяления о передаче Разрешения на переработку товаров иному лицу (только при  переработке НА таможенной территории)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SubstituteIndicator" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Признак замены продуктов переработки: 1 - предполагается, 0 - не предполагается</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateLimit" type="ppg:DateLimitType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Срок переработки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MovingGoodsDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Срок вывоза продуктов переработки до ввоза иностранных товаров (для перерабтки НА там территории)/ Срок ввоза эквивалентных иностранных товаров до вывоза товаров ЕАЭС (для перерабтки ВНЕ там территории) - заполняется при  разрешении замены продуктов переработки иностранными товарами</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Recipient" type="ppg:ApplicantType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения об ином лице, в отношении которого принято решение о передаче разрешения на переработку товаров на таможенной территории</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WasteProcessingProcedureCode" type="clt_ru:Code2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код таможенной процедуры для отходов переработки </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsMark" type="ppg:CustomsMarkType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Особые отметки таможни</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonSignature" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Подпись начальника таможни</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1007016E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AppInfomationType">
    <xs:annotation>
      <xs:documentation>Сведения о заявлении на переработку</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="InfoFromApp" type="ppg:InfoFromAppType">
            <xs:annotation>
              <xs:documentation>Сведения из заявления на переработку, необходимые для заполнения Разрешения</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ApplicantType">
    <xs:annotation>
      <xs:documentation>Сведения о заявителе</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType">
        <xs:sequence>
          <xs:element name="FactoryPlace" type="cat_ru:AddressType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Местонахождение производственных мощностей </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BankReqInfo" type="catProc_ru:BankInfoType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Информация о банках и банковских счетах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ParticipantID" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Идентификатор лица</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CustomsMarkType">
    <xs:annotation>
      <xs:documentation>Особые отметки таможни</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CancelDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата отзыва (аннулирования) разрешения на переработку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecoveryDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата восстановления разрешения на переработку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReasonDocuments" type="catProc_ru:DocExtendedType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Реквизиты документов, на основании которых производится отзыв/ аннулирование/ восстановление Разрешения на переработку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LawDocuments" type="ppg:LawDocumentType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Ссылки на правовые акты</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AddInformation" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Иная дополнительная информация</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateLimitType">
    <xs:annotation>
      <xs:documentation>Сведения о сроках переработки</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ProcessingTerm" type="ppg:ProcessingTermType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Срок переработки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExtensionTerm" type="ppg:ExtensionTermType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Продление срока переработки</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExtensionTermType">
    <xs:annotation>
      <xs:documentation>Продление срока переработки</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TermExtensionAt" type="clt_ru:CodeVariable3Type">
        <xs:annotation>
          <xs:documentation>Срок продлен на (в полных календарных месяцах)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TermEnd" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата окончания срока переработки</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InfoFromAppType">
    <xs:annotation>
      <xs:documentation>Сведения из заявления на переработку, необходимые для заполнения Разрешения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Applicant" type="ppg:ApplicantType">
        <xs:annotation>
          <xs:documentation>Сведения о заявителе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProcessingDocuments" type="catProc_ru:ProcessingDocsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Документы, подтверждающие право владения, пользования и (или) распоряжения иностранными товарами (Реквизиты договора (договоров), на основании которого (-ых) товары помещаются под таможенную процедуру переработки) (для переработки на ТТ и для внутреннего потребления)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProcessingGoods" type="catProc_ru:ProcessingGoodsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Товары для переработки (товары ЕАЭС - для переработки вне ТТ, иностранные товары - для переработки на ТТ и для ВП)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="YieldNorm" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Норма выхода</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrResult" type="catProc_ru:ProcessingGoodsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Продукты переработки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WasteProductsItem" type="catProc_ru:ProcessingGoodsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Отходы переработки (для переработки на ТТ и для ВП). Отходы переработки - описание товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Heels" type="catProc_ru:ProcessingGoodsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Остатки (для переработки на ТТ и для ВП)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Loss" type="catProc_ru:ProcessingBaseGoodsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Производственные потери иностранных товаров (для переработки на ТТ и для ВП)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentificationMethod" type="catProc_ru:IdentificationMethodType">
        <xs:annotation>
          <xs:documentation>Способ (способы) идентификации иностранных товаров (переработка на ТТ или для ВП) или товаров ЕАЭС (переработка вне ТТ) в продуктах переработки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SubstituteGoods" type="catProc_ru:ProcessingSubstituteGoodsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Замена продуктов переработки эквивалентными товарами. Описание товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SubstituteMovingGoods" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Замена продуктов переработки эквивалентными товарами. Сведения о вывозе продуктов переработки до ввоза иностранных товаров (для перерабтки НА там территории)/ Сведения о ввозе эквивалентных иностранных товаров до вывоза товаров ЕАЭС (для перерабтки ВНЕ там территории)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProcOrganization" type="catProc_ru:ProcessingOrganizationType" minOccurs="0" maxOccurs="5">
        <xs:annotation>
          <xs:documentation>Лицо (лица), непосредственно осуществляющее (ие) операции по переработке товаров (заполняется, если не совпадает с Заявителем)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsProcessImplementation" type="catProc_ru:ProcessingBaseGoodsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Товары ЕАЭС, используемые при соверщении операций по переработке на ТТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProcessingOperations" type="catProc_ru:ProcessingOperationsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание операций по переработке товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LawDocumentType">
    <xs:annotation>
      <xs:documentation>Cсылка на положения правовых актов </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="ArticleNumber" type="clt_ru:Text10Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Статья</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PartNumber" type="clt_ru:Text10Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Часть</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ClauseNumber" type="clt_ru:Text10Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Пункт</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProcessingTermType">
    <xs:annotation>
      <xs:documentation>Срок переработки</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TermType" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Тип срока переработки: 0 - первично установленный; 1 - возобновленный;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GeneralTerm" type="clt_ru:CodeVariable3Type">
        <xs:annotation>
          <xs:documentation>Срок переработки в полных календарных месяцах</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TermBegin" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата начала исчисления срока переработки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TermEnd" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата окончания срока переработки</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>