XsltProcessor/xsd/5.23.0/PI_AutoArrive.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:catpi_ru="urn:customs.ru:Information:PriorInformation:PriorCommonAggregateTypes:5.23.0" xmlns:piaut="urn:customs.ru:Information:PriorInformation:PI_AutoArrive:5.23.0" targetNamespace="urn:customs.ru:Information:PriorInformation:PI_AutoArrive:5.23.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.23.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:PriorInformation:PriorCommonAggregateTypes:5.23.0" schemaLocation="PriorCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Предварительное уведомление о прибытии товаров, перевозимых автомобильным транспортном</xs:documentation>
  </xs:annotation>
  <xs:element name="PI_AutoArrive" type="piaut:PI_AutoArriveType" />
  <xs:complexType name="PI_AutoArriveType">
    <xs:annotation>
      <xs:documentation>Предварительное уведомление о прибытии товаров, перевозимых автомобильным транспортном</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="PI_URN" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор товарной партии. Формат - URN</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Exp_DTNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер экспортной ДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Exp_CountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код страны экспорта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignee" type="piaut:OrganizationInfoType">
            <xs:annotation>
              <xs:documentation>Информация о получателе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Carrier" type="piaut:OrganizationInfoType">
            <xs:annotation>
              <xs:documentation>Информация о перевозчике</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignor" type="piaut:OrganizationInfoType">
            <xs:annotation>
              <xs:documentation>Информация об отправителе товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsInform" type="piaut:GoodsInformType">
            <xs:annotation>
              <xs:documentation>Информация о перевозимых товарах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ShippingInformation" type="piaut:ShippingInformationType">
            <xs:annotation>
              <xs:documentation>Информация о перевозке груза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PI_DTNumber" type="cat_ru:GTDIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер предварительной декларации на товары </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006814E">
          <xs:annotation>
            <xs:documentation>Уникальный идентификатор документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="GoodsInformType">
    <xs:annotation>
      <xs:documentation>Информация о перевозимых товарах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TotalGoodsNameQuantity" type="clt_ru:Count5Type">
        <xs:annotation>
          <xs:documentation>Всего наименований товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShipSpecifQuantity" type="clt_ru:Count5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество отгрузочных спецификаций</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShipSpecifGoodsQuantity" type="clt_ru:Count5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товаров по отгрузочным спецификациям</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateExpectedArrival" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата ожидаемого прибытия товаров и транспортных средств в пограничный пункт пропуска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TimeExpectedArrival" type="clt_ru:TimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Время ожидаемого прибытия товаров и транспортных средств в пограничный пункт пропуска</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Goods" type="piaut:GoodsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товарах</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BorderCustoms" type="cat_ru:CUCustomsType">
        <xs:annotation>
          <xs:documentation>Таможенный орган (пограничный пункт пропуска), в который ожидается прибытие товаров и транспортных средств.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Товар</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catpi_ru:PI_GoodsType">
        <xs:sequence>
          <xs:element name="GoodsName" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Торговое название товара</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganizationInfoType">
    <xs:annotation>
      <xs:documentation>Информация об организации</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationBaseType">
        <xs:sequence>
          <xs:element name="Address" type="catpi_ru:AddressType">
            <xs:annotation>
              <xs:documentation>Адрес</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ShippingInformationType">
    <xs:annotation>
      <xs:documentation>Информация о перевозке груза</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ContainerIndicator" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак контейнерной перевозки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BorderTransport" type="catpi_ru:TransportMeansType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Транспортное средство</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DispatchCountry" type="catpi_ru:CountryInformationType">
        <xs:annotation>
          <xs:documentation>Страна отправления товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DestinationCountry" type="catpi_ru:CountryInformationType">
        <xs:annotation>
          <xs:documentation>Страна назначения товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransControl" type="catpi_ru:TransControlType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Транспортный контроль</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>