XsltProcessor/xsd/5.23.0/PIAirInformationCU.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:pia="urn:customs.ru:Information:CustomsDocuments:PIAirInformationCU:5.22.0" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:PIAirInformationCU:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Предварительная информация о товарах, ввозимых на таможенную территорию Евразийского экономического союза воздушным транспортом</xs:documentation>
  </xs:annotation>
  <xs:element name="PIAirInformationCU" type="pia:PIAirInformationCUType" />
  <xs:complexType name="PIAirInformationCUType">
    <xs:annotation>
      <xs:documentation>Предварительная информация о товарах, ввозимых на таможенную территорию Евразийского экономического союза воздушным транспортом</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="LanguageCode" type="clt_ru:LanguageCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код языка заполнения документа в соответствии с международным стандартом ISO 639-1</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PrevPointDepartureDateTime" type="clt_ru:DateTimeCustType">
            <xs:annotation>
              <xs:documentation>Дата и время убытия из аэропорта, предшествующего аэропорту места прибытия</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CheckPointArriveDateTime" type="clt_ru:DateTimeCustType">
            <xs:annotation>
              <xs:documentation>Планируемые (расчетные) дата и  время прибытия в аэропорт пункта пропуска через таможенную границу Евразийского экономического союза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AircraftInformation" type="pia:AircraftInformationType">
            <xs:annotation>
              <xs:documentation>Сведения о регистрации и национальной принадлежности воздушного судна</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AircraftOperator" type="pia:AircraftOperatorType">
            <xs:annotation>
              <xs:documentation>Сведения об эксплуатанте воздушного судна</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FlightInformation" type="pia:FlightInformationType">
            <xs:annotation>
              <xs:documentation>Сведения о рейсе отправления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AircraftRoute" type="pia:AircraftRouteType">
            <xs:annotation>
              <xs:documentation>Сведения о маршруте полета</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ProhibitedGoods" type="pia:DangerousCargoType">
            <xs:annotation>
              <xs:documentation>Сведения о наличии (отсутствии) на борту воздушного судна товаров, ввоз которых на таможенную территорию Евразийского экономического союза запрещен или ограничен</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WeaponInfo" type="pia:DangerousCargoType">
            <xs:annotation>
              <xs:documentation>Сведения о наличии (отсутствии) на борту воздушного судна оружия и (или) боеприпасов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NarcoticInfo" type="pia:DangerousCargoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о наличии (отсутствии) на борту воздушного судна лекарственных средств, в составе которых содержатся наркотические, сильнодействующие средства, психотропные и ядовитые вещества</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PIAIR_GoodsShipment" type="pia:PIAIR_GoodsShipmentType">
            <xs:annotation>
              <xs:documentation>Сведения о перевозке товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006824E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AWBNumberType">
    <xs:annotation>
      <xs:documentation>Номер грузовой авианакладной</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AirlineNumberCode" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Трехзначный цифровой код авиакомпании - перевозчика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentNumber" type="clt_ru:Code8Type">
        <xs:annotation>
          <xs:documentation>Номер авианакладной</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AircraftInformationType">
    <xs:annotation>
      <xs:documentation>Сведения о регистрации и национальной  принадлежности воздушного судна</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AircraftRegNumber" type="clt_ru:CodeVariable11Type">
        <xs:annotation>
          <xs:documentation>Регистрационный знак (номер) воздушного судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AircraftCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение страны регистрации воздушного судна</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AircraftOperatorType">
    <xs:annotation>
      <xs:documentation>Эксплуатант воздушного судна</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AircraftOperatorName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Наименование эксплуатанта воздушного судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AirlineCode" type="clt_ru:CodeVariable3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код авиакомпании - эксплуатанта воздушного судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение страны, в которой зарегистрирован эксплуатант воздушного судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UITNCode" type="pia:UITNCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Уникальный идентификационный таможенный номер</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AircraftRouteType">
    <xs:annotation>
      <xs:documentation>Сведения о маршруте полета</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RoutePointAirport" type="pia:RoutePointType" minOccurs="2" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о пункте маршрута</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AirportInformationType">
    <xs:annotation>
      <xs:documentation>Сведения об аэропорте</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IATAAirportCode" type="clt_ru:Code3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код ИАТА аэропорта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AirportName" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Наименование аэропорта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PlaceName" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Название географического пункта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение страны, в которой находится аэропорт</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsignmentGTDIDType">
    <xs:annotation>
      <xs:documentation>Сведения о регистрационном номере декларации на товары</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="DTGoodsNumber" type="clt_ru:Count3Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Номер товара в декларации на товары</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DangerousCargoType">
    <xs:annotation>
      <xs:documentation>Сведения об опасных грузах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsFlag" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак присутствия товара на борту воздушного судна: 0 - отсутствует; 1 - присутствует</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DangerousGoodsDetails" type="pia:DangerousGoodsDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товарах, запрещенных или ограниченных к перемещению / об оружии и боеприпасах / о наркотических веществах</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DangerousGoodsDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах, запрещенных или ограниченных к перемещению / об оружии и боеприпасах / о наркотических веществах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DangerousGoodsCode" type="clt_ru:CodeVariable10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара в соответствии с ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DangerousDocument" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о документе, устанавливающем запреты и ограничения на ввоз товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FlightInformationType">
    <xs:annotation>
      <xs:documentation>Сведения о рейсе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AirlineCode" type="clt_ru:CodeVariable3Type">
        <xs:annotation>
          <xs:documentation>Номер рейса - код авиакомпании (первая часть номера рейса)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FlightNumber" type="clt_ru:CodeVariable4Type">
        <xs:annotation>
          <xs:documentation>Номер рейса - числовое обозначение номера рейса (вторая часть номера рейса)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FlightDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата рейса по расписанию</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PIAIR_ConsignmentType">
    <xs:annotation>
      <xs:documentation>Сведения о товарной партии</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AWBNumber" type="pia:AWBNumberType">
        <xs:annotation>
          <xs:documentation>Номер грузовой авианакладной</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Consignee" type="pia:PIAirOrganizationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Получатель</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Consignor" type="pia:PIAirOrganizationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отправитель</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LoadingAirport" type="pia:AirportInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Аэропорт (пункт) погрузки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UnloadingAirport" type="pia:UnloadingAirportType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Аэропорт (пункт) разгрузки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="ConsignmentGTDID" type="pia:ConsignmentGTDIDType" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Сведения о регистрационном номере декларации на товары</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="PIGoodsItem" type="pia:PIGoodsItemType" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Детализированные сведения о товаре</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PIAIR_GoodsShipmentType">
    <xs:annotation>
      <xs:documentation>Сведения о перевозке</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PIAIR_Consignment" type="pia:PIAIR_ConsignmentType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товарной партии</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PIAWGoodsPackagingType">
    <xs:annotation>
      <xs:documentation>Сведения о грузовых местах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PakageQuantity" type="clt_ru:PakageNumberType">
        <xs:annotation>
          <xs:documentation>Общее количество грузовых мест, занятых товаром</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PakageTypeCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код наличия упаковки товара: 0 - Без упаковки; 1 - С упаковкой; 2 - Без упаковки в оборудованных емкостях транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PakagePartQuantity" type="clt_ru:PakageNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество грузовых мест, частично занятых товаром</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RBCargoKind" type="clt_ru:CodeVariable14Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид грузовых мест</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PackageCode" type="clt_ru:PackageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код вида груза в соответствии с классификатором видов груза, упаковки и упаковочных материалов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PackingInformation" type="pia:PIGoodsPackingInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о виде груза и упаковке товара</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PIAirOrganizationType">
    <xs:annotation>
      <xs:documentation>Сведения об организации</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationBaseType">
        <xs:sequence>
          <xs:element name="UITNCode" type="pia:UITNCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификационный таможенный номер</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PIGoodsItemType">
    <xs:annotation>
      <xs:documentation>Детализированные сведения о товаре</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count5Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер товара в представленной предварительной информации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrossWeightQuantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Вес товара брутто (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NetWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес товара нетто (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsVolume" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Объем, занимаемый товаром без указания единиц измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VolumeUnitQualifierCode" type="clt_ru:Code2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код единицы измерения объема</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PIAWGoodsPackaging" type="pia:PIAWGoodsPackagingType">
        <xs:annotation>
          <xs:documentation>Сведения о виде груза, грузовых местах и упаковке товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PIGoodsPackingInformationType">
    <xs:annotation>
      <xs:documentation>Сведения об упаковке и маркировке товаров</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catESAD_cu:PackagePalleteInformationType">
        <xs:sequence>
          <xs:element name="PackageMark" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Маркировка грузовых мест</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RoutePointType">
    <xs:annotation>
      <xs:documentation>Сведения о пункте маршрута</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PointNumber" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер пункта маршрута </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RouteAirport" type="pia:AirportInformationType">
        <xs:annotation>
          <xs:documentation>Сведения об аэропорте</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="UITNCodeType">
    <xs:annotation>
      <xs:documentation>Код. Универсальный идентификационный таможенный номер. От 1 до 17 символов. Текстовый</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:CodeCategoriesCust">
      <xs:minLength value="1" />
      <xs:maxLength value="17" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="UnloadingAirportType">
    <xs:annotation>
      <xs:documentation>Сведения об аэропорте разгрузки</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="pia:AirportInformationType">
        <xs:sequence>
          <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код таможенного органа, осуществляющего таможенные операции в аэропорту разгрузки</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>