XsltProcessor/xsd/5.23.0/PrelimDecisionMsg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:cltTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.14.3" xmlns:catTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.23.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:predec="urn:customs.ru:Information:TransportDocuments:PrelimDecisionMsg:5.23.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:TransportDocuments:PrelimDecisionMsg:5.23.0" elementFormDefault="qualified" version="5.23.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.14.3" schemaLocation="TransportCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.23.0" schemaLocation="TransportCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Сообщение о принятии предварительного решения в ТО</xs:documentation>
  </xs:annotation>
  <xs:element name="PrelimDecisionMsg" type="predec:PrelimDecisionMsgType">
    <xs:annotation>
      <xs:documentation>Сообщение о принятии предварительного решения в ТО</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PrelimDecisionMsgType">
    <xs:annotation>
      <xs:documentation>Сообщение о принятии предварительного решения в ТО</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="PI_URN" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор товарной партии. Формат - URN</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата принятия решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionTime" type="clt_ru:TimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Время принятия решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
            <xs:annotation>
              <xs:documentation>Код таможенного поста</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TSControlDecision" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Принятое решение по ТС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPerson" type="cat_ru:CustomsPersonType">
            <xs:annotation>
              <xs:documentation>Должностное лицо, принимающее решение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignments" type="predec:ConsignmentsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о товарных партиях</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Railway" type="predec:RailwayType">
            <xs:annotation>
              <xs:documentation>Сведения о железной дороге</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1003005E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ConsignmentsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарных партиях</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ConsignmentNum" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Номер товарной партии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Goods" type="predec:GoodsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товарах</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="BillSerialNumber" type="clt_ru:DocumentNumberType">
          <xs:annotation>
            <xs:documentation>Серийный номер накладной (для всех видов транспорта, кроме воздушного)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="AWBillNumber" type="catTrans_ru:AWBNumberType">
          <xs:annotation>
            <xs:documentation>Номер авианакладной</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GoodsBaseType">
        <xs:sequence>
          <xs:element name="CustControlForm" type="clt_ru:Text50Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Форма таможенного контроля</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustControlResult" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Результат таможенного контроля</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustControlDecision" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Принятое решение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WagonNumber" type="clt_ru:TransportMeansIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер вагона</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ContainerNumber" type="clt_ru:TransportMeansIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер контейнера</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RailwayType">
    <xs:annotation>
      <xs:documentation>Сведения о железной дороге</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RailwayCode" type="cltTrans_ru:RailwayCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код железнодорожной дороги </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StationCode" type="clt_ru:RailwayStationCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код железнодорожной станции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RailwayAndStationName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование дороги и станции назначения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TrainIndex" type="clt_ru:Code15Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Индекс поезда</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TrainNumber" type="clt_ru:TransportMeansIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер поезда</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>