XsltProcessor/xsd/5.23.0/PreliminaryOriginCountry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Форма предварительного решения о происхождении товара, ввозимого на таможенную территорию Евразийского экономического союза. Утв. Решением Коллегии ЕЭК от 16.01.2018 № 7 -->
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:porc="urn:customs.ru:Information:CustomsDocuments:PreliminaryOriginCountry:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:PreliminaryOriginCountry:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Предварительное решение о происхождении товара, ввозимого на таможенную территорию ЕАЭС</xs:documentation>
  </xs:annotation>
  <xs:element name="PreliminaryOriginCountry" type="porc:PreliminaryOriginCountryType" />
  <xs:complexType name="PreliminaryOriginCountryType">
    <xs:annotation>
      <xs:documentation>Предварительное решение о происхождении товара, ввозимого на таможенную территорию ЕАЭС</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="RegistrationNumber" type="porc:RegistrationNumberType">
            <xs:annotation>
              <xs:documentation>Гр.1 Регистрационный номер предварительного решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PORC_Customs" type="porc:PORC_CustomsType">
            <xs:annotation>
              <xs:documentation>Гр.2 Наименование таможенного органа, принявшего предварительное решение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateEnd" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Гр.3 Дата окончания срока действия предварительного решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Applicant" type="RUScat_ru:OrganizationType">
            <xs:annotation>
              <xs:documentation>Гр. 4 Заявитель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransactionDetails" type="porc:TransactionDetailsType">
            <xs:annotation>
              <xs:documentation>Гр. 5 Сведения о сделке</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Document" type="cat_ru:DocumentBaseType">
            <xs:annotation>
              <xs:documentation>Гр. 6 Реквизиты документа в соответствии с которыми определено происхождение товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Certificate" type="porc:CertificateType">
            <xs:annotation>
              <xs:documentation>Гр. 7 Сертификат о происхождении товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Verification" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Гр. 8 Отметка о верификации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsManufacturer" type="porc:GoodsManufacturerType">
            <xs:annotation>
              <xs:documentation>Гр.9 Сведения о производителе товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Goods" type="porc:GoodsType">
            <xs:annotation>
              <xs:documentation>Гр.10 Описание товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Criterion" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Гр.11 Критерий происхождения товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OriginCountryName" type="clt_ru:CountryNameType">
            <xs:annotation>
              <xs:documentation>Гр.12 Происхождение товара (краткое название страны)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Mark" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Гр.13 Служебные отметки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonSignature" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Гр.14 Уполномоченное лицо таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006101E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CertificateType">
    <xs:annotation>
      <xs:documentation>Сертификат о происхождении товара</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="OrganizationFullName" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Полное наименование уполномоченного государственного органа (уполномоченной организации), выдавшего этот сертификат о происхождении товара</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GoodsInformationType">
    <xs:annotation>
      <xs:documentation>Характеристика товара</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FunctionalPurpose" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Функциональное назначение товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsMark" type="cltESAD_cu:GoodsArticulType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Марка (модель) товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsMarking" type="cltESAD_cu:GoodsArticulType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Артикул товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PackagingDescription" type="cltESAD_cu:PackageDescriptionType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание упаковки товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsStandard" type="cltESAD_cu:GoodsArticulType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Стандарт (ГОСТ, ОСТ, СПП, СТО, ТУ)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsSort" type="cltESAD_cu:GoodsArticulType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сорт / Сорт или группа сортов (для лесо- и пиломатериалов)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WoodSortiment" type="cltESAD_cu:WoodAssortiment" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование сортимента (для лесоматериалов товарной позиции 4403)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WoodKind" type="cltESAD_cu:WoodKindType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порода древесины</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Dimensions" type="cltESAD_cu:GoodsArticulType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Размеры</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsManufacturerType">
    <xs:annotation>
      <xs:documentation>Сведения о производителе товара </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Manufacturer" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование производителя товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ManufacturerAddress" type="RUScat_ru:RUAddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес производителя товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PlaceManufactur" type="RUScat_ru:RUAddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес места производства товара</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Товар</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsCharacteristics" type="porc:GoodsInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Характеристики товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsValue" type="RUScat_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Стоимость товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsOtherCharacteristics" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Иные характеристики товара</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PORC_CustomsType">
    <xs:annotation>
      <xs:documentation>Код и наименование таможенного органа</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:CustomsType">
        <xs:sequence>
          <xs:element name="FullOfficeName" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Полное наименование таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RegistrationNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер предварительного решения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType">
        <xs:annotation>
          <xs:documentation>Код государства-члена</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Date" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата принятия предварительного решения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SerialNumber" type="clt_ru:Count4Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер предварительного решения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IndexElement" type="clt_ru:Count2Type">
        <xs:annotation>
          <xs:documentation>элемент «01»по умолчанию</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о сделке</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TransactionDetailsDocument" type="cat_ru:DocumentBaseType">
        <xs:annotation>
          <xs:documentation>Документ, подтверждающий совершение сделки, предусматривающей ввоз товара на таможенную территорию Союза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CommercialDocument" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Номера и даты коммерческих документов, имеющихся у заявителя</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>