XsltProcessor/xsd/5.23.0/ProvidingIndicationList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:pil="urn:customs.ru:Information:CustomsDocuments:ProvidingIndicationList:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:ProvidingIndicationList:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Лист контроля однократности предоставления документов при декларировании</xs:documentation>
  </xs:annotation>
  <xs:element name="ProvidingIndicationList" type="pil:ProvidingIndicationListType">
    <xs:annotation>
      <xs:documentation>Лист контроля однократности предоставления документов при декларировании</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ProvidingIndicationListType">
    <xs:annotation>
      <xs:documentation>Лист контроля однократности предоставления документов при декларировании</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DocList" type="pil:DocListType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Документ при декларировании</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1004128E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="DocListType">
    <xs:annotation>
      <xs:documentation>Документ при декларировании</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="DocCode" type="clt_ru:CustomsDocumentCodeType">
            <xs:annotation>
              <xs:documentation>Код вида запрашиваемого документа (заполняется в соответствии с классификатором видов документов, используемых при заявлении сведений в графе 44)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArchID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор архива декларанта </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArchDocID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор документа в архиве </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RecordID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор записи в графе 44 ДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExecutiveBodyID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор исполнительного органа, выдавшего разрешительный документ / Идентификатор сервиса СМЭВ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentModeID" type="clt_ru:DocumentModeIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код вида представленного документа в соответствии с альбомом форматов электронных форм документов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ProvidingIndicationMark" type="clt_ru:DigitalIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Декларируемый признак представления документа: 0 - документ не представлен при подаче ДТ; 1 - документ представлен при подаче ДТ; 2 - документ не  представлен в соответствии с частью 1 п.2 ст. 80 ТК ЕАЭС; 3 - документ представлен (будет представлен) после выпуска товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FirstDT" type="cat_ru:GTDIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер первой ДТ, при подаче который использован документ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResultCode" type="clt_ru:CodeVariable3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код ошибки при размещении в архив</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResultDescription" type="clt_ru:Text150Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Описание ошибки при размещении в архив</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>