XsltProcessor/xsd/5.23.0/QuarantineCertificate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:SertifDocuments:QuarantineCertificate:5.22.0" version="5.22.0.0" xmlns:catSert_ru="urn:customs.ru:Information:SertifDocuments:SertifCommonAggregateTypesCust:5.22.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:qcer="urn:customs.ru:Information:SertifDocuments:QuarantineCertificate:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:SertifDocuments:SertifCommonAggregateTypesCust:5.22.0" schemaLocation="SertifCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Карантинный сертификат</xs:documentation>
  </xs:annotation>
  <xs:element name="QuarantineCertificate" type="qcer:QuarantineCertificateType" />
  <xs:complexType name="QuarantineCertificateType">
    <xs:annotation>
      <xs:documentation>Карантинный сертификат</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="RegistrationNumber" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IssueDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата выдачи</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExpirationDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата окончания действия сертификата</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" name="StatusGoodsInfo" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Сведения о состоянии товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegionManagement" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Республика, край, область, город</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" name="AdditionalActivities" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Дополнительные мероприятия</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="UnloadingPlace" type="clt_ru:PlaceNameType">
            <xs:annotation>
              <xs:documentation>Наименование пункта выгрузки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="UnloadingRegion" type="clt_ru:RegionType">
            <xs:annotation>
              <xs:documentation>Наименование региона выгрузки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SubjectInfo" type="catSert_ru:SertifOrgBaseType">
            <xs:annotation>
              <xs:documentation>Сведения о субъекте</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeclarantInfo" type="catSert_ru:SertifOrgBaseType">
            <xs:annotation>
              <xs:documentation>Сведение о заявителе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReceiverInfo" type="catSert_ru:SertifOrgBaseType">
            <xs:annotation>
              <xs:documentation>Сведения о получателе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" name="Goods" type="qcer:GoodsType">
            <xs:annotation>
              <xs:documentation>Сведения о товаре</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AddressSearch" type="qcer:AddressSearchType">
            <xs:annotation>
              <xs:documentation>Адрес проведения карантинного досмотра</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InspectorSignature" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Подпись инспектора</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" name="AuthorityCertificate" type="cat_ru:DocumentBaseType">
            <xs:annotation>
              <xs:documentation>Основание выдачи сертификата </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute fixed="1009010E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AddressSearchType">
    <xs:annotation>
      <xs:documentation>Адрес проведения карантинного досмотра</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:AddressType">
        <xs:sequence>
          <xs:element minOccurs="0" name="Phone" type="clt_ru:PhoneNumberType">
            <xs:annotation>
              <xs:documentation>Телефон</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товаре</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="GoodsName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование  ввозимого товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalWeigh" type="clt_ru:WeighQuantityType">
        <xs:annotation>
          <xs:documentation>Общий вес товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasureUnitWeigh" type="clt_ru:MeasureUnitQualifierNameType">
        <xs:annotation>
          <xs:documentation>Единица измерения вес </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PackagesQuantity" type="clt_ru:PackagesQuantityType">
        <xs:annotation>
          <xs:documentation>Количество мест. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Mark" type="clt_ru:Text10Type">
        <xs:annotation>
          <xs:documentation>Маркировка товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MethodTransportation" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Способ транспортироки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SenderStation" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Станция отправления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecipientStation" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Станция прибытия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Volume" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Объем</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="MeasureUnitVolume" type="clt_ru:MeasureUnitQualifierNameType">
        <xs:annotation>
          <xs:documentation>Единица измерения объема</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Origin" type="cat_ru:AddressType">
        <xs:annotation>
          <xs:documentation>Происхождение товара</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>