XsltProcessor/xsd/5.23.0/RailwayBill.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:cltTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.14.3" xmlns:catTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.23.0" xmlns:rwb="urn:customs.ru:Information:TransportDocuments:Railway:RailwayBill:5.23.0" targetNamespace="urn:customs.ru:Information:TransportDocuments:Railway:RailwayBill:5.23.0" elementFormDefault="qualified" version="5.23.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.14.3" schemaLocation="TransportCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.23.0" schemaLocation="TransportCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Международная железнодорожная накладная по форме СМГС</xs:documentation>
  </xs:annotation>
  <xs:element name="RailwayBill" type="rwb:RailwayBillType" />
  <xs:complexType name="RailwayBillType">
    <xs:annotation>
      <xs:documentation>Международная железнодорожная накладная по форме СМГС </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="RWBMain_ID" type="xs:decimal" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор цепочки документов </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Number" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Номер отправки (графа 29 СМГС)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistrationDocument" type="cat_ru:DocumentBaseType">
            <xs:annotation>
              <xs:documentation>Информация о регистрации СМГС </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConsignorNotice" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Особые заявления отправителя (графа 3 СМГС)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConsignorOptionNotice" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Отметки отправителя, необязательные для железной дороги</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PlacesQuantity" type="clt_ru:Quantity11Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Общее количество грузовых мест отправки товаров накладной.  В случае транспортировке "Навалом" или "Налив"  не заполняется.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GrossWeightQuantity" type="clt_ru:QuantityBasisType">
            <xs:annotation>
              <xs:documentation>Общий вес товаров, определенный отправителем, брутто (кг)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DepartureModeDescription" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Описание рода отправки </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LoaderModeDescription" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Описание кем погружено  (графа 20 СМГС)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AdditionalSheetQuantity" type="clt_ru:Count5Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество приложенных дополнительных листов к накладной</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CargoValue" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Объявленная ценность груза, руб.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsNotice" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Отметки таможенных органов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WeightDefinitionModeDescription" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Cпособ определения веса (графа 21 СМГС)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignor" type="rwb:RBOrganizationType">
            <xs:annotation>
              <xs:documentation>Сведения о грузоотправителе (графа 1 СМГС)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignee" type="rwb:RBOrganizationType">
            <xs:annotation>
              <xs:documentation>Сведения о грузополучателе (графа 4 СМГС)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DepartureStation" type="rwb:StationType">
            <xs:annotation>
              <xs:documentation>Ж/д станция и дорога отправления (графа 2 СМГС)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DestinationStation" type="rwb:RailwayType">
            <xs:annotation>
              <xs:documentation>Ж/д станция и дорога назначения (графа 5 СМГС)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BorderStation" type="rwb:StationType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Пограничные ж/д станции и дорога назначения (графа 6 СМГС)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Contract" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Реквизиты договора на поставку, заключенного между экспортером и импортером (графа 25 СМГС)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RWBGoods" type="rwb:RWBGoodsType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о товарах накладной</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExchangePallet" type="rwb:ExchangePalletType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения об обменных поддонах </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WorkTool" type="rwb:WorkToolType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Описание перевозочных приспособлений</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Container" type="rwb:ContainerType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о контейнере</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Auto" type="rwb:AutoType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>ИТЕ или АТС </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConsignorDocument" type="rwb:RWDocumentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Документы, приложенные отправителем (графа 24 СМГС)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Carriage" type="rwb:CarriageType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Данные об используемых вагонах (графы 7-14 СМГС)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Seal" type="rwb:SealType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Количество и знаки пломб,  наложенных на вагон или контейнер (графа 19 СМГС)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Carrier" type="rwb:CarrierType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Перевозчики (графа 22 СМГС)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PaidRailwayCodeName" type="rwb:PaidRailwayCodeNameType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Наименования и коды транзитных железнодорожных дорог,  уплата провозных платежей (графа 23 СМГС )</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Mark" type="rwb:MarkType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Отметки о прохождении товарами таможенного и иных видов государственного контроля.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ContractCarrierDate" type="rwb:StampType">
            <xs:annotation>
              <xs:documentation>Дата заключения договора перевозки (графа 26 СМГС) </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArrivalDate" type="rwb:StampType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата прибытия (графа 27 СМГС) </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CarrierNotice" type="clt_ru:FreeText500Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Отметки перевозчика (графа 30 СМГС)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CommerceAkt" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Коммерческий акт (графа 31 СМГС)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Prolongation" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="2">
            <xs:annotation>
              <xs:documentation>Удлинение срока доставки (графа 32 СМГС)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Stamp33" type="rwb:StampType" minOccurs="0" maxOccurs="12">
            <xs:annotation>
              <xs:documentation>Отметки о передаче груза (графа 33 СМГС)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Stamp34" type="rwb:StampType" minOccurs="0" maxOccurs="12">
            <xs:annotation>
              <xs:documentation>Отметки о проследовании погран станций (графа 34 СМГС)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Stamp35" type="rwb:StampType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уведомление о прибытии груза (графа 35 СМГС)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IssueStamp" type="rwb:StampType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Штамп выдачи (графа 36 СМГС)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IssueMarks" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Отметки о выдаче груза (графа 36 СМГС)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CarrierCharge" type="rwb:ChargeType" minOccurs="0" maxOccurs="6">
            <xs:annotation>
              <xs:documentation>Разделы по расчету провозных платежей (графы 37-59)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Amount60" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сумма всего в валюте тарифа с отправителя (графа 60 СМГС)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Amount61" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сумма всего в валюте расчетов с отправителя (графа 61 СМГС)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Amount62" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сумма всего в валюте тарифа с получателя (графа 62 СМГС)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Amount63" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сумма итого в валюте расчетов с получателя (графа 63 СМГС)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CalculationNotice" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Отметки для исчисления и взымания провозных платежей (графа 64 СМГС)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AdditionPayment" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дополнительно взыскать с отправителя (графа 65 СМГС)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1003401E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CarriageType">
    <xs:annotation>
      <xs:documentation>Данные об используемых вагонах </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CarriageID" type="clt_ru:TransportMeansIDType">
        <xs:annotation>
          <xs:documentation>Номер вагона  (графа 7 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RWName" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование железной дороги (графа 7 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OwnerName" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование собственника вагона (графа 7 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OwnerType" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Вагон предоставлен (О- отправителем, П-перевозчиком)
(графа 8 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Power" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Подъемная сила вагона в тоннах (графа 9 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AxisQuantity" type="clt_ru:Quantity11Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество осей вагона (графа 10 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Tare" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес тары в кг (графа 11 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsWeight" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес груза после перегрузки (графа 13 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Caliber" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип цистерны (калибр котла) Г(рафа 12 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContainerType">
    <xs:annotation>
      <xs:documentation>Сведения о контейнере</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RailwayCode" type="cltTrans_ru:RailwayCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код железнодорожной дороги - владельца контейнера. Не указывается, если контейнер не принадлежит железным дорогам</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContainerID" type="clt_ru:TransportMeansIDType">
        <xs:annotation>
          <xs:documentation>Номер контейнера</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContainerKind" type="clt_ru:PackageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип контейнера в соответствии с классификатором видов груза, упаковки и упаковочных материалов </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContainerModeDescription" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание вида контейнера</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContainerCapacity" type="clt_ru:Quantity11Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Емкость контейнера</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContainerCapacityUnitQualifierCode" type="clt_ru:MeasureUnitQualifierNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Название единицы измерения емкости контейнера</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Tare" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Масса тары контейнера в кг</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsWeight" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Масса груза в контейнере в кг</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PlacesQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество мест груза в вагоне</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PocketQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество транспортных пакетов в вагоне</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContainerLength" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Длина контейнера в футах</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DTInfoType">
    <xs:annotation>
      <xs:documentation>Сведения из декларации на товары</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Номер товара по ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DTNumber" type="cat_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер декларации на товары</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExchangePalletType">
    <xs:annotation>
      <xs:documentation>Сведения об обменных поддонах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FlatPalletQuantity" type="clt_ru:Quantity11Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество плоских поддонов </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BoxPalletQuantity" type="clt_ru:Quantity11Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество поддонов ящичного типа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExchangeMode" type="cltTrans_ru:ExchangeModeCodeType">
        <xs:annotation>
          <xs:documentation>Код режим обмена поддонов. </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InfoPayerType">
    <xs:annotation>
      <xs:documentation>Сведения о плательщике</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PayerName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование плательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PayerCode" type="clt_ru:Code2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код плательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MarkType">
    <xs:annotation>
      <xs:documentation>Отметки о прохождении товарами таможенного и иных видов государственного контроля.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MarkSing" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак наличия отметки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MarkKind" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Тип отметки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResultControl" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Результат прохождения контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaidRailwayCodeNameType">
    <xs:annotation>
      <xs:documentation>Наименования и коды транзитных железнодорожных дорог, за перевозку по которым отправитель принимает на себя платежи </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PaidRailwayCode" type="cltTrans_ru:RailwayCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Коды транзитных железнодорожных дорог</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaidRailwayName" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименования транзитных железнодорожных дорог</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaidRailwayShortName" type="clt_ru:ShortNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сокращенное наименование транзитных железнодорожных дорог</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InfoPayer" type="rwb:InfoPayerType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о плательщике</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RBOrganizationType">
    <xs:annotation>
      <xs:documentation>Сведения о грузополучателе/грузоотправителе </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationType">
        <xs:sequence>
          <xs:element name="RBCode" type="clt_ru:CodeVariable18Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код грузополучателя/грузоотправителя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConsignorSign" type="clt_ru:NameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ФИО представителя отправителя (графа 1 СМГС)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RWBGoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах накладной</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catTrans_ru:TransportGoodsType">
        <xs:sequence>
          <xs:element name="ContainerIndicator" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Отметка перевозки грузов в контейнерах </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WorkToolDescription" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>В случае осуществления перевозки с применением перевозочных приспособлений указывается наименование применяемых перевозочных приспособлений</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConductorDescription" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Заполняется при перевозках грузов с проводниками. Указываются сведения о проводниках и в соответствующих случаях — название пограничной станции, на которой производится замена проводников. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PlaceGoodsQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество товара в грузовом месте</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PlacesQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Общее количество грузовых мест товара, если "навал" или налив" то не заполняется</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GrossWeightQuantity" type="clt_ru:QuantityBasisType">
            <xs:annotation>
              <xs:documentation>Вес товара определенный отправителем, брутто (кг)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PlacesDescription" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Описание грузовых мест (коробок, упаковок, паллет и т.д.)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="HarmonizedRangeGoods" type="clt_ru:Count8Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код товара по ГНГ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Packing" type="clt_ru:Text50Type">
            <xs:annotation>
              <xs:documentation>Упаковка</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Marking" type="clt_ru:Text50Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Маркировка</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CarriageNumber" type="clt_ru:TransportMeansIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер вагона</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ContainerNumber" type="clt_ru:TransportMeansIDType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Номер контейнера</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTInfo" type="rwb:DTInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения из декларации на товары</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GCost" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Cтоимость товаров по инвойсу</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CurrencyCode" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код иностранной валюты инвойса. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MRN" type="clt_ru:CodeVariable20Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Номер MRN (идентификационный номер перевозки)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RWDocumentType">
    <xs:annotation>
      <xs:documentation>Документы, приложенные отправителем</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catTrans_ru:DocumentType">
        <xs:sequence>
          <xs:element name="ExpirationDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата окончания действия документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReleaseCustoms" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Таможенный орган выдавший документ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RailwayType">
    <xs:annotation>
      <xs:documentation>Сведения о железной дороге</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RailwayCode" type="cltTrans_ru:RailwayCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код железнодорожной дороги </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StationCode" type="clt_ru:Count10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код железнодорожной станции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RailwayAndStationName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование дороги и станции назначения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SealType">
    <xs:annotation>
      <xs:documentation>Количество и знаки пломб,  наложенных на вагон или контейнер</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SealID" type="cltTrans_ru:SealIDType">
        <xs:annotation>
          <xs:documentation>Номер пломбы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SealQuantity" type="clt_ru:Quantity11Type">
        <xs:annotation>
          <xs:documentation>Количество пломб,  наложенных на вагон или контейнер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentKind" type="clt_ru:Numeric1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид средств идентификации: 1 - пломба, 2 - печать, 3 - иное</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentDesc" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Примечание по средству идентификации</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StationType">
    <xs:annotation>
      <xs:documentation>Сведения о железнодорожной станции и дороге</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StationCode" type="clt_ru:RailwayStationCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код станции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StationName" type="clt_ru:PlaceNameType">
        <xs:annotation>
          <xs:documentation>Тарифное наименование станции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RailwayCode" type="cltTrans_ru:RailwayCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код железной дороги </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RWName" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование железной дороги</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Буквенный код страны расположения станции в соответствии с классификатором стран мира</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WorkToolType">
    <xs:annotation>
      <xs:documentation>Описание перевозочных приспособлений</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RailwayCode" type="cltTrans_ru:RailwayCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код железнодорожной дороги - владельца перевозочного приспособления. Не указывается, если приспособление не принадлежит железным дорогам</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WorkToolID" type="clt_ru:TransportMeansIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Знак и номер перевозочного приспособления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContainerModeDescription" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Описание вида контейнера</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CarrierType">
    <xs:annotation>
      <xs:documentation>Тип для описания участков и перевозчиков (графы 22 СМГС)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CarrierName" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Наименование перевозчика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CarrierCode" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код перевозчика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FromStation" type="rwb:StationType">
        <xs:annotation>
          <xs:documentation>Перевозка от станции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TechnologicalStation" type="rwb:StationTechnologicalType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Станции, где производятся технологические операции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ToStation" type="rwb:StationType">
        <xs:annotation>
          <xs:documentation>Перевозка до станции</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StationTechnologicalType">
    <xs:annotation>
      <xs:documentation>Тип для описания станций, где производятся какие-либо технологические операции</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OrderNumber" type="clt_ru:Count5Type">
        <xs:annotation>
          <xs:documentation>Номер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TechnologicalSigns" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Технологические отметки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Station" type="rwb:StationType">
        <xs:annotation>
          <xs:documentation>Станция, где производятся операции</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StampType">
    <xs:annotation>
      <xs:documentation>Тип для описания штемпеля</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CarrierName" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Наименование перевозчика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Date" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Календарная дата штемпеля (местное время)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Time" type="clt_ru:TimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Время</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateTimeMoscow" type="clt_ru:DateTimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата и время московское</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Station" type="rwb:StationType">
        <xs:annotation>
          <xs:documentation>Станция простановки штемпеля</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AutoType">
    <xs:annotation>
      <xs:documentation>Тип, описывающий автотранспортные средства (АТС) и интермодальные единицы (ИТЕ), кроме контейнеров</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:TransportMeansBaseType">
        <xs:sequence>
          <xs:element name="WagonNumber" type="clt_ru:TransportMeansIDType">
            <xs:annotation>
              <xs:documentation>Номер вагона c ИТЕ, АТС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Tare" type="clt_ru:QuantityBasisType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Масса тары ИТЕ, АТС в кг</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsWeight" type="xs:int" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Масса груза в ИТЕ, АТС в кг</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PlacesQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество мест груза в ИТЕ, АТС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PocketQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество транспортных пакетов в ИТЕ, АТС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ContainerLength" type="clt_ru:QuantityBasisType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Длина ИТЕ, АТС в м</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ChargeType">
    <xs:annotation>
      <xs:documentation>Тип для описания расчетов по участку маршрута</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OrderNo" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер участка расчета</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CarrierCode" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Код перевозчика на участке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FromStation" type="rwb:StationType">
        <xs:annotation>
          <xs:documentation>Начало участка (графа 37 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ToStation" type="rwb:StationType">
        <xs:annotation>
          <xs:documentation>Конец участка (графа 37 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Distance" type="clt_ru:Quantity11Type">
        <xs:annotation>
          <xs:documentation>Расстояние (графа 38 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CalcWeight" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Расчетная масса, кг (графа 39 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExtraCharge" type="rwb:ExtraChargeType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Дополнительные сборы (графа 40 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TarifCode" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код тарифа (графа 41 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CalcCargoCode" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код груза для расчета (графа 42 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyRate" type="clt_ru:CurrencyRateType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Курс пересчета валюты тарифа (графа 43 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SndTarifCurrencyCode" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Валюта тарифа для отправителя (графа 44 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SndPaymentCurrency" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Валюта платежа расчетов с отправителем (графа 45 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RcvTarifCurrencyCode" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Валюта тарифа для получателя (графа 46 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RcvPaymentCurrency" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Валюта платежа расчетов с получателем (графа 47 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Amount48" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма провозной платы в валюте тарифа для отправителя (графа 48 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Amount49" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма провозной платы в валюте расчетов с отправителем (графа 49 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Amount50" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма провозной платы в валюте тарифа для получателя (графа 50 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Amount51" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма провозной платы в  в валюте расчетов с получателем (графа 51 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Amount52" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общая сумма дополнительных сборов в валюте тарифа для отправителя (графа 52 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Amount53" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общая сумма дополнительных сборов в валюте расчетов с отправителем (графа 53 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Amount54" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общая сумма дополнительных сборов в валюте тарифа для получателя (графа 54 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Amount55" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общая сумма дополнительных сборов в валюте расчетов с получателем (графа 55 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Amount56" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Итого сумма в валюте тарифа для отправителя (графа 56 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Amount57" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Итого сумма в валюте расчетов с отправителем (графа 57 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Amount58" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Итого сумма в валюте тарифа для получателя (графа 58 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Amount59" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Итого сумма в валюте расчетов с получателем (графа 59 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExtraChargeType">
    <xs:annotation>
      <xs:documentation>Тип для описания дополнительных сборов (графа 40 СМГС)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ChargeCode" type="clt_ru:Code4Type">
        <xs:annotation>
          <xs:documentation>Код дополнительного сбора</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChargeName" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Наименование дополнительного сбора (графа 40 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChargeAmount" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма дополнительного сбора (графа 40 СМГС)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>