XsltProcessor/xsd/5.23.0/RailwayBillFinn.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:catTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.23.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:cltTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.14.3" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:rwbf="urn:customs.ru:Information:TransportDocuments:Railway:RailwayBillFinn:5.23.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:TransportDocuments:Railway:RailwayBillFinn:5.23.0" elementFormDefault="qualified" version="5.23.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.14.3" schemaLocation="TransportCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.23.0" schemaLocation="TransportCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Накладная российско-финляндского прямого железнодорожного сообщения</xs:documentation>
  </xs:annotation>
  <xs:element name="RailwayBillFinn" type="rwbf:RailwayBillFinnType">
    <xs:annotation>
      <xs:documentation>Накладная российско-финляндского прямого железнодорожного сообщения</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RailwayBillFinnType">
    <xs:annotation>
      <xs:documentation>Накладная российско-финляндского прямого железнодорожного сообщения (тип)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Consignor" type="rwbf:RBOrganizationType">
            <xs:annotation>
              <xs:documentation>Сведения об отправителе (Графа 1, Графа 45)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Contract" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Реквизиты договора на поставку, заключенного между экспортером и импортером (Графа 2)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StationDeparture" type="rwbf:StationDepartureType">
            <xs:annotation>
              <xs:documentation>Cтанция и дорога отправления (Графа 3, Графа 40)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConsignorNotice" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Особые заявления отправителя (Графа 4)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignee" type="rwbf:RBOrganizationType">
            <xs:annotation>
              <xs:documentation>Сведения о получателе (Графа 5, Графа 46)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConsignorOptionNotice" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Отметки отправителя, необязательные для железной дороги (Графа 6)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StationBorder" type="rwbf:StationBorderType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Пограничные станции (Графа 7)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StationDestination" type="rwbf:StationDestinationType">
            <xs:annotation>
              <xs:documentation>Cтанция и дорога назначения (Графа 8, Графа 41)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsPacking" type="rwbf:GoodsPackagingType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о грузовых местах, и упаковке товаров (Графы 9,10,11,13)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Container" type="rwbf:ContainerType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о контейнерах (Графы 9,10,11,13)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsNameNotes" type="rwbf:GoodsNameNotesType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Наименование и код груза (Графа 12)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GrossWeightQuantity" type="rwbf:QuantityType">
            <xs:annotation>
              <xs:documentation>Общая масса товаров, определенная отправителем, брутто (кг)  (Графа 14, Графа 17)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GrossWeightQuantityRW" type="rwbf:StationWeighingType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Общая масса товаров, определенная железной дорогой, брутто (кг)  (Графа 32, Графа 43)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConsignorSign" type="clt_ru:Text150Type">
            <xs:annotation>
              <xs:documentation>Подпись отправителя (Графа 15)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PlacesQuantity" type="rwbf:QuantityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Общее количество грузовых мест/контейнеров  (Графа 16)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PaidRailwayCodeName" type="rwbf:PaidRailwayCodeNameType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Информация, кто оплачивает платежи за перевозку (Графа 20)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DepartureMode" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
              <xs:documentation>Род отправки (1 - мелкая; 2 - повагонная; 3 -  контейнерная)  (Графа 21)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LoaderMode" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
              <xs:documentation>Погружено (1 - отправителем; 2 -  железной дорогой)  (Графа 22)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConsignorDocument" type="rwbf:RWDocumentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Документы, приложенные отправителем (Графа 23)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AdditionalSheetQuantity" type="clt_ru:Count5Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество приложенных дополнительных листов (Графа 23)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CargoValue" type="rwbf:CargoValueType" minOccurs="0" maxOccurs="2">
            <xs:annotation>
              <xs:documentation>Объявленная ценность груза, РУБЛЬ / ЕВРО (Графа 24)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistrationDocument" type="cat_ru:DocumentBaseType">
            <xs:annotation>
              <xs:documentation>Информация о регистрации отправки (Графа 25)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsNotice" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Отметки таможенных органов (Графа 26)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Carriage" type="rwbf:CarriageType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Данные об используемых вагонах  (Графы 27 - 31)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CarriageSheetSign" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Признак наличия вагонной ведомости (true - да, false - нет)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NoteInfo" type="rwbf:NoteInfoType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Отметка о правильности погрузки и крепления грузов  (Графы 34 - 38)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Seal" type="rwbf:SealType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Количество и знаки пломб или ЗПУ,  наложенных на вагоны (Графа 39)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WeightDefinitionModeDescription" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Cпособ определения массы груза (Графа 42)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PermissionDocument" type="rwbf:PermissionDocumentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Разрешение на перевозку (Графа 44 )</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MRN" type="clt_ru:CodeVariable20Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Номер MRN (идентификационный номер перевозки)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1003408E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CarriageType">
    <xs:annotation>
      <xs:documentation>Данные об используемых вагонах </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CarriageNumber" type="rwbf:CarriageNumberType">
        <xs:annotation>
          <xs:documentation>Номер вагона</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Power" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Трафаретная грузоподъемность вагона в тоннах</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AxisQuantity" type="clt_ru:Quantity11Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество осей вагона</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TrafaretTareMass" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Трафаретная масса тары в тоннах (в кол-ве знаков, нанесенных на вагоне)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CheckTareMass" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Проверенная масса тары в тоннах  (с точностью до двух знаков после зпт)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReloadingInfo" type="rwbf:ReloadingInfoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Информация о перегрузке</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CarriageNumberType">
    <xs:annotation>
      <xs:documentation>Данные о номерах вагонов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CarriageID" type="clt_ru:TransportMeansIDType">
        <xs:annotation>
          <xs:documentation>Номер вагона</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RailwayCode" type="cltTrans_ru:RailwayCodeType">
        <xs:annotation>
          <xs:documentation>Код железной дороги приписки вагона</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReloadingInfoType">
    <xs:annotation>
      <xs:documentation>Информация о перегрузке </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RailwayCode" type="cltTrans_ru:RailwayCodeType">
        <xs:annotation>
          <xs:documentation>Код железной дороги, где произведена перегрузка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StationCode" type="clt_ru:Count10Type">
        <xs:annotation>
          <xs:documentation>Код железнодорожной станции, где произведена перегрузка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReloadCarriage" type="rwbf:CarriageNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о вагонах, в которые была осуществлена перегрузка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OfficerStation" type="cat_ru:PersonBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Подпись работника станции, вносящего в накладную информацию о перегрузке</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContainerType">
    <xs:annotation>
      <xs:documentation>Сведения о контейнерах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ContainerID" type="clt_ru:TransportMeansIDType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Номер контейнера (Графа  9)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContainerQuantity" type="clt_ru:Quantity8Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество контейнеров (Графа 10)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContainerCategory" type="clt_ru:Text40Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Категория контейнеров (Графа 10)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContainerKind" type="clt_ru:PackageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип контейнера в соответствии с классификатором видов груза, упаковки и упаковочных материалов (Графа 11)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContainerDescription" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Описание вида контейнера (Графа 11)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContainerCapacity" type="clt_ru:Quantity11Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Емкость контейнера в куб.м (Графа 13)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InfoPayerType">
    <xs:annotation>
      <xs:documentation>Сведения о плательщике</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PayerName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование плательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PayerCode" type="clt_ru:Code2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код плательщика</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaidRailwayCodeNameType">
    <xs:annotation>
      <xs:documentation>Наименования и коды транзитных железнодорожных дорог, за перевозку по которым отправитель принимает на себя платежи </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PaidRailwayCode" type="cltTrans_ru:RailwayCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код транзитной железной дороги</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaidRailwayName" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование транзитной железной дороги</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaidRailwayShortName" type="clt_ru:ShortNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сокращенное наименование транзитной железнодорожной дороги</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InfoPayer" type="rwbf:InfoPayerType">
        <xs:annotation>
          <xs:documentation>Сведения о плательщике</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IDPaid" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Оплачивается перевозка по ж/д :  1 - страны отправления; 2 - транзитной страны; 3 - страны назначения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RBOrganizationType">
    <xs:annotation>
      <xs:documentation>Сведения о грузополучателе/грузоотправителе </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationType">
        <xs:sequence>
          <xs:element name="RBCode" type="clt_ru:Code4Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код грузополучателя (Графа 46)/ код грузоотправителя (Графа 45)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PortName" type="clt_ru:Text50Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование порта, пристани при дальнеейшей отправке груза водным путем</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GoodsNameNotesType">
    <xs:annotation>
      <xs:documentation>Наименование и код груза, отметки</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порядковый номер товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Наименование груза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsNomenclatureCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HarmonizedRangeGoods" type="clt_ru:Count8Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по ГНГ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HazardousCargoCode" type="cltTrans_ru:HazardousCargoCodeType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код класса опасности груза по МОПОГ/ДОПОГ для опасных грузов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WorkToolDescription" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>В случае осуществления перевозки с применением перевозочных приспособлений указывается наименование применяемых перевозочных приспособлений</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConductorDescription" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Заполняется при перевозках грузов с проводниками. Указываются сведения о проводниках и в соответствующих случаях — название пограничной станции, на которой производится замена проводников. </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RWDocumentType">
    <xs:annotation>
      <xs:documentation>Документы, приложенные отправителем</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catTrans_ru:DocumentType">
        <xs:sequence>
          <xs:element name="ExpirationDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата окончания действия документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReleaseCustoms" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Таможенный орган выдавший документ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SealType">
    <xs:annotation>
      <xs:documentation>Количество и знаки пломб или ЗПУ,  наложенных на вагон</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SealID" type="cltTrans_ru:SealIDType">
        <xs:annotation>
          <xs:documentation>Знаки и контрольные номера пломб или ЗПУ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SealQuantity" type="clt_ru:Quantity11Type">
        <xs:annotation>
          <xs:documentation>Количество пломб или ЗПУ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SealOwner" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Кем наложены пломбы или ЗПУ (1 - отправителем; 2- железной дорогой)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StationDepartureType">
    <xs:annotation>
      <xs:documentation>Сведения о железнодорожной станции и дороге отправления</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StationCode" type="clt_ru:RailwayStationCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код железнодорожной станции отправления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StationName" type="clt_ru:PlaceNameType">
        <xs:annotation>
          <xs:documentation>Тарифное наименование станции отправления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RailwayCode" type="cltTrans_ru:RailwayCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код железной дороги ( при перевозке грузов из России в Финляндию ) </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RailwayName" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование железной дороги отправления (при отправлении грузов в Финляндию)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryA2Code" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Буквенный код первоначальной страны отправления (при перевозке грузов из/через Финляндию в Россию)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateStamp" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата календарного штемпеля станции отправления (Графа 40)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StationBorderType">
    <xs:annotation>
      <xs:documentation>Сведения о пограничной железнодорожной станции</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StationCode" type="clt_ru:RailwayStationCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код выходной пограничной железнодорожной станции </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StationName" type="clt_ru:PlaceNameType">
        <xs:annotation>
          <xs:documentation>Наименование выходной пограничной железнодорожной  станции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RailwayCode" type="cltTrans_ru:RailwayCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код железной дороги </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RailwayName" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сокращенное наименование железной дороги</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StationDestinationType">
    <xs:annotation>
      <xs:documentation>Сведения о железнодорожной станции и дороге назначения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StationCode" type="clt_ru:RailwayStationCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код железнодорожной станции назначения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StationName" type="clt_ru:PlaceNameType">
        <xs:annotation>
          <xs:documentation>Полное тарифное наименование станции назначения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RailwayCode" type="cltTrans_ru:RailwayCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код железной дороги </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RailwayName" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование железной дороги назначения, входящей с состав РЖД (при отправлении грузов из Финляндии в Россию)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Note" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отметка отправителя о выдаче груза  на подъездном пути получателя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateStamp" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата календарного штемпеля станции назначения (Графа 41)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StationWeighingType">
    <xs:annotation>
      <xs:documentation>Сведения о железнодорожной станции взвешивания</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GrossWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общая масса товаров, определенная железной дорогой, брутто (кг)  (Графа 32)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RailwayCode" type="cltTrans_ru:RailwayCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код железной дороги </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StationCode" type="clt_ru:Count10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код железнодорожной станции взвешивания</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateStamp" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата календарного штемпеля станции взвешивания  (Графа 43)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PermissionDocumentType">
    <xs:annotation>
      <xs:documentation>Разрешающий документ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="RailwayID" type="clt_ru:CodeVariable3Type">
            <xs:annotation>
              <xs:documentation>Идентификатор железной дороги, выдавшей разрешение на перевозку (VR или RZD)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NoteInfoType">
    <xs:annotation>
      <xs:documentation>Отметка о правильности погрузки и крепления грузов </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GrafaID" type="clt_ru:CodeVariable2Type">
        <xs:annotation>
          <xs:documentation>Номер графы  (34 - 38)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Note" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Отметка о правильности погрузки и крепления грузов </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SignatureResponsiblePerson" type="cat_ru:PersonBaseType">
        <xs:annotation>
          <xs:documentation>Подпись ответственного лица</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuantityType">
    <xs:annotation>
      <xs:documentation>Количество</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="QuantityNumber" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество числом</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuantityWords" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество прописью</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CargoValueType">
    <xs:annotation>
      <xs:documentation>Объявленная ценность груза</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SumWords" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма прописью</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SumNumber" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сумма</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyCode" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код валюты  (РУБЛЬ / ЕВРО)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsPackagingType">
    <xs:annotation>
      <xs:documentation>Сведения о грузовых местах, и упаковке товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PackingMark" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Маркировка грузовых мест (знаки, марки номера) (Графа 9)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CargoQuantity" type="clt_ru:PakageNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Число грузовых мест (Графа 10)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CargoQuantityWords" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Навалом / наливом (Графа 10)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PackingCode" type="clt_ru:PackageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код вида упаковки в соответствии с  классификатором видов груза, упаковки и упаковочных материалов (Графа 11)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PackingDescription" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Описание вида упаковки (Графа 11)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VolumeQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Объем товара (груза) в кубометрах (Графа 13)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>