XsltProcessor/xsd/5.23.0/RejectDeclReqOperation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:ExchangeDocuments:RejectDeclReqOperation:5.22.0" version="5.22.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:rdro="urn:customs.ru:Information:ExchangeDocuments:RejectDeclReqOperation:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Отказ декларанта в запрашиваемых действиях</xs:documentation>
  </xs:annotation>
  <xs:element name="RejectDeclReqOperation" type="rdro:RejectDeclReqOperationType" />
  <xs:complexType name="RejectDeclReqOperationType">
    <xs:annotation>
      <xs:documentation>Отказ декларанта в запрашиваемых действиях.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element minOccurs="0" name="RejectNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Исходящий номер документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RejectDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата создания документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RejectTime" type="clt_ru:TimeCustType">
            <xs:annotation>
              <xs:documentation>Время создания документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ReqNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Номер запроса от инспектора</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReqDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата запроса от инспектора</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" name="RejectReason" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Обоснование отказа декларанта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Declarant" type="cat_ru:OrganizationBaseType">
            <xs:annotation>
              <xs:documentation>Лицо,  декларирующее товары. Наименование / ФИО (для физических лиц)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonSignature" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Подпись должностного лица сформировавшего отказ. (ФИО, должность, дата)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute fixed="1004001E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>