XsltProcessor/xsd/5.23.0/ReqCustProcessingInvent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:rcpi="urn:customs.ru:Information:TreatmentDocuments:ReqCustProcessingInvent:5.22.0" targetNamespace="urn:customs.ru:Information:TreatmentDocuments:ReqCustProcessingInvent:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Запрос документов из описи, прилагаемой к заявлению  на переработку товаров</xs:documentation>
  </xs:annotation>
  <xs:element name="ReqCustProcessingInvent" type="rcpi:ReqCustProcessingInventType" />
  <xs:complexType name="ReqCustProcessingInventType">
    <xs:annotation>
      <xs:documentation>Запрос документов, подтверждающих сведения, указанные в заявлении на переработку товаров</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="SendDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата направления запроса</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SendTime" type="clt_ru:TimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Время направления запроса</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RequestDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата формирования запроса</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RequestTime" type="clt_ru:TimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Время формирования запроса</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateLimit" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Срок предоставления документов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Таможенный орган, сформировавший запрос</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPerson" type="cat_ru:CustomsPersonType">
            <xs:annotation>
              <xs:documentation>Должностное лицо таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RequestedDoc" type="rcpi:RequestedDocType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Запрашиваемый документ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1007014E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="RequestedDocType">
    <xs:annotation>
      <xs:documentation>Запрашиваемый документ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="RequestPositionID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор позиции в запросе. Используется в АПС "Электронное представление сведений"</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код вида запрашиваемого документа (заполняется в соответствии с классификатором видов документов, используемых при заявлении сведений в графе 44)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArchDeclID" type="clt_ru:ArchiveDeclarantIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор декларанта в Электронном Архиве Декларанта.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArchID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор архива декларанта (используется при запросе документа из архива)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArchDocID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор документа в архиве (используется при запросе документа из архива)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ADocumentID" type="clt_ru:ArchiveDocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор документа (используется при запросе документа из архива)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReqPurpose" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Цель, для которой запрашивается документ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Note" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RequestorName" type="clt_ru:NameType">
            <xs:annotation>
              <xs:documentation>ФИО должностного лица, запрашивающего дополнительные документы и сведения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InventLineID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор строки в описи. GUID. Заполняется при запросе документа из описи.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>