XsltProcessor/xsd/5.23.0/ReqInventoryDoc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:rid="urn:customs.ru:Information:CustomsDocuments:ReqInventoryDoc:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:ReqInventoryDoc:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
	<xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Запрос о представлении электронных документов</xs:documentation>
	</xs:annotation>
	<xs:element name="ReqInventoryDoc" type="rid:ReqInventoryDocType">
		<xs:annotation>
			<xs:documentation>Запрос о представлении электронных документов</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ReqInventoryDocType">
		<xs:annotation>
			<xs:documentation>Запрос о представлении электронных документов</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="DocType" type="clt_ru:Numeric1Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Тип документа: 0 - запрос у декларанта/ЭАДД, 1 - запрос в ФОИВ, 2 - запрос в ТПФК, 3 - запрос  у декларанта на предоставление оригинала документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RequestNumber" type="clt_ru:Count5Type">
						<xs:annotation>
							<xs:documentation>Порядковый номер запроса по ДТ о представлении дополнительных документов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SendDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата направления запроса</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SendTime" type="clt_ru:TimeCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Время направления запроса</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RequestDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата формирования запроса</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RequestTime" type="clt_ru:TimeCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Время формирования запроса</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DateLimit" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Срок предоставления документов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ApplicationSourceSystemID" type="clt_ru:DocumentIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор заявления на ЕПГУ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ApplicationID" type="clt_ru:DocumentIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор заявки в АПС "Электронные Госуслуги-2"</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocSign" type="clt_ru:DigitalIndicatorType">
						<xs:annotation>
							<xs:documentation>Запрос о представлении недостающих документов и сведений: 1 - в случае подачи заявления на уничтожение; 0 - иное; 2- по процедуре отказ в пользу государства</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Communication" type="rid:CommunicationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Средство связи</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RequestedDoc" type="rid:RequestedDocType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Запрашиваемый документ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Entity" type="rid:EntityType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Юридическое или физическое лицо. Значение UL - юридическое лицо; значение FL - физическое лицо</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsPerson" type="cat_ru:CustomsPersonType">
						<xs:annotation>
							<xs:documentation>Должностное лицо таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Customs" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Таможенный орган</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GTDNumber" type="cat_ru:GTDIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Справочный номер ДТ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PrevGTDNumber" type="cat_ru:GTDIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Справочный номер предшествующей ДТ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OEZ_RegistrationNumber" type="rid:OEZ_RegistrationNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер уведомления о ввозе/вывозе товаров на территорию ОЭЗ/Заявления на уничтожение</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MPORegNum" type="rid:MPORegNumType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер МПО</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006006E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы.</xs:documentation>
	</xs:annotation>
	<xs:complexType name="CommunicationType">
		<xs:annotation>
			<xs:documentation>Средство связи</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CommCode" type="clt_ru:LetterIndicatorType">
				<xs:annotation>
					<xs:documentation>Код средства связи: "1"-телефон, "2"-факс, "3"-телекс, "4"-телеграф, "5"-e-mail, "6"-почта, "7" - электронное представление сведений, "8" - представить ренгеновские снимки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommNumberAddress" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер средства связи / адрес / код рабочего предоставления рентгеновских снимков</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OEZ_RegistrationNumberType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер уведомления о ввозе/вывозе товаров на территорию ОЭЗ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата регистрации документа.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="clt_ru:Code9Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequestedDocType">
		<xs:annotation>
			<xs:documentation>Запрашиваемый документ</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="RequestPositionID" type="clt_ru:DocumentIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор позиции в запросе. Используется в АПС "Электронное представление сведений"</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Position" type="clt_ru:Count3Type">
						<xs:annotation>
							<xs:documentation>Порядковый номер записи в запросе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocCode" type="clt_ru:CustomsDocumentCodeType">
						<xs:annotation>
							<xs:documentation>Код вида запрашиваемого документа (заполняется в соответствии с классификатором видов документов, используемых при заявлении сведений в графе 44)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ArchDeclID" type="clt_ru:ArchiveDeclarantIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Уникальный идентификатор декларанта в Электронном Архиве Декларанта.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ArchID" type="clt_ru:DocumentIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Уникальный идентификатор архива декларанта (используется при запросе документа из архива)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ArchDocID" type="clt_ru:DocumentIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Уникальный идентификатор документа в архиве (используется при запросе документа из архива)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ADocumentID" type="clt_ru:ArchiveDocumentIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Уникальный идентификатор документа (используется при запросе документа из архива)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReqPurpose" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Цель, для которой запрашивается документ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Note" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Примечание</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RequestorName" type="clt_ru:NameType">
						<xs:annotation>
							<xs:documentation>ФИО должностного лица, запрашивающего дополнительные документы и сведения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InventLineID" type="clt_ru:DocumentIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Уникальный идентификатор строки в описи. GUID. Заполняется при запросе документа из описи.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExecutiveBodyID" type="clt_ru:DocumentIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор исполнительного органа, выдавшего разрешительный документ / Идентификатор сервиса СМЭВ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocumentModeID" type="clt_ru:DocumentModeIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код вида представленного документа в соответствии с альбомом форматов электронных форм документов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CommKind" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Способ представления документа : 0 - документ из архива декларанта, 1 - представление оригинала документа, в том числе сканирование в ТО </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Preferencii" type="catESAD_cu:CUPreferenciiType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Преференции при декларировании</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsNumeric" type="clt_ru:Count3Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Порядковый номер декларируемого товара </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DateLimit" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Срок предоставления документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SerialNumb" type="clt_ru:CodeVariable20Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Типографский номер бланка</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GTIN" type="clt_ru:Text50Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>GTIN-код</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MPORegNumType">
		<xs:annotation>
			<xs:documentation>Номер МПО</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата регистрации документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MPO_Number" type="clt_ru:Code13Type">
				<xs:annotation>
					<xs:documentation>Уникальный номер МПО</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="EntityType">
		<xs:annotation>
			<xs:documentation>Признак. Юридическое или физическое лицо. Возможные значения UL или FL</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:CodeCategoriesCust">
			<xs:enumeration value="UL"/>
			<xs:enumeration value="FL"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
