XsltProcessor/xsd/5.23.0/ReqMPOChange.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:rmc="urn:customs.ru:Information:CustomsDocuments:ReqMPOChange:5.22.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:ReqMPOChange:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Требование на внесение изменений в Реестр МПО</xs:documentation>
  </xs:annotation>
  <xs:element name="ReqMPOChange" type="rmc:ReqMPOChangeType">
    <xs:annotation>
      <xs:documentation>Требование на внесение изменений в Реестр МПО</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ReqMPOChangeType">
    <xs:annotation>
      <xs:documentation>Требование на внесение изменений в Реестр МПО</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Reestr_ID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный номер реестра</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReqDate" type="clt_ru:DateTimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата и время формирования Требования</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MPODetail" type="rmc:MPODetailType">
            <xs:annotation>
              <xs:documentation>Строки реестра МПО</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006353E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="MPODeclType">
    <xs:annotation>
      <xs:documentation>Общая информация о МПО</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MPO_Number" type="clt_ru:Code13Type">
        <xs:annotation>
          <xs:documentation>Номер МПО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, обладающего компетенцией по совершению таможенных операций, связанных с выпуском товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalCost" type="RUScat_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Заявленная общая стоимость товаров МПО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CorrectTotalCost" type="RUScat_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Скорректированная общая стоимость товаров МПО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Comment" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Примечания по изменению сведений в МПО</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Goods" type="rmc:GoodsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товарах</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VATReturn" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак возврата НДС</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MPODetailType">
    <xs:annotation>
      <xs:documentation>Данные МПО</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MPO_ID" type="clt_ru:DocumentIDType">
        <xs:annotation>
          <xs:documentation>Уникальный номер записи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecNum" type="clt_ru:Count4Type">
        <xs:annotation>
          <xs:documentation>Номер по порядку в списке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MPODecl" type="rmc:MPODeclType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Изменения по МПО</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ListNumeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Номер товара по порядку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Заявленное наименование товара </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CorrectGoodDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Скорректированное наименование товара </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TradeMark" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование объекта интеллектуальной собственности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Заявленный код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CorrectTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Скорректированный код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Cost" type="RUScat_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Заявленная стоимость товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CorrectCost" type="RUScat_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Скорректированная стоимость товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsComment" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Примечания по изменению сведений в товаре</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>