XsltProcessor/xsd/5.23.0/ReqWHDoc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:catWH_ru="urn:customs.ru:Information:WarehouseDocuments:WarehouseCommonAggregateTypesCust:5.22.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:rqwhd="urn:customs.ru:Information:WarehouseDocuments:ReqWHDoc:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:WarehouseDocuments:ReqWHDoc:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:Information:WarehouseDocuments:WarehouseCommonAggregateTypesCust:5.22.0" schemaLocation="WarehouseCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Запрос на предоставление документов</xs:documentation>
  </xs:annotation>
  <xs:element name="ReqWHDoc" type="rqwhd:ReqWHDocType" />
  <xs:complexType name="ReqWHDocType">
    <xs:annotation>
      <xs:documentation>Запрос на предоставление документов</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="SendDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата направления запроса</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SendTime" type="clt_ru:TimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Время направления запроса</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RequestedDoc" type="catWH_ru:WhPresentDocType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Список запрашиваемых документов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SVHPerson" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>Представить СВХ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegNumberConfirmDoc" type="cat_ru:GTDIDType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер представления документов для помещения товаров на ВХ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1008016E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>