XsltProcessor/xsd/5.23.0/ResidentApplication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:ra="urn:customs.ru:Information:CustomsDocuments:ResidentApplication:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:ResidentApplication:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Заявление резидента особой экономической зоны</xs:documentation>
  </xs:annotation>
  <xs:element name="ResidentApplication" type="ra:ResidentApplicationType" />
  <xs:complexType name="ResidentApplicationType">
    <xs:annotation>
      <xs:documentation>Заявление резидента особой экономической зоны</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ApplicationType" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Тип документа: 0 - сведения; 1 - изменения и (или) дополнения к сведениям</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsTreatmentYear" type="clt_ru:DateYearCustType">
            <xs:annotation>
              <xs:documentation>Год таможенного режима свободной таможенной зоны</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Notes" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Служебные отметки </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistryNumber" type="ra:RegistryNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер заявления вида ХХХХХХХХ/ХХХХХХ/ХХХХХХХ/ХХ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Код и наименование таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPersonSignature" type="cat_ru:CustomsPersonType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ФИО и личная номерная печать таможенного инспектора </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Resident" type="ra:ResidentType">
            <xs:annotation>
              <xs:documentation>Сведения о резиденте ОЭЗ </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResidentPersonSignature" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>ФИО и подпись уполномоченного лица организации - резидента ОЭЗ </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ActivitiesAgreement" type="ra:ActivitiesAgreementType">
            <xs:annotation>
              <xs:documentation>Соглашение о ведении деятельности </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FormOne" type="ra:FormOneType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Форма №1. Сведения о товарах, предполагаемых к ввозу на территорию ОЭЗ в соответствии с таможенным режимом свободной таможенной зоны, для проведения в отношении них операций, не связанных с переработкой товаров и изготовлением продуктов их переработки. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FormTwo" type="ra:FormTwoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Форма №2. Сведения о товарах, предполагаемых к ввозу на территорию ОЭЗ в соответствии с таможенным режимом свободной таможенной зоны с целью переработки товаров, о продуктах переработки и отходах </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006054E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ActivitiesAgreementType">
    <xs:annotation>
      <xs:documentation>Соглашение о ведении деятельности </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AgreementDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата соглашения о ведении деятельности </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AgreementPlace" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Место заключения соглашения о ведении деятельности </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ActivitiesType" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Тип деятельности: 0 - промышленно-производственная; 1 - технико-внедренческая </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumberOfPages" type="clt_ru:SheetNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество листов соглашения о ведении деятельности </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormOneType">
    <xs:annotation>
      <xs:documentation>Форма №1. Сведения о товарах, предполагаемых к ввозу на территорию ОЭЗ в соответствии с таможенным режимом свободной таможенной зоны, для проведения в отношении них операций, не связанных с переработкой товаров и изготовлением продуктов их переработки. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ResidentPersonSignature" type="cat_ru:PersonSignatureType">
        <xs:annotation>
          <xs:documentation>ФИО и подпись уполномоченного лица организации - резидента ОЭЗ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EconZonePersonSignature" type="cat_ru:PersonSignatureType">
        <xs:annotation>
          <xs:documentation>ФИО и подпись уполномоченного лица органа управления ОЭЗ </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Operation" type="ra:OperationType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Наименование операции в соответствии с условиями соглашения </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormTwoSectionType">
    <xs:annotation>
      <xs:documentation>Раздел в форме №2 </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Name" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Название раздела </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductForRecycling" type="ra:ProductType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Товар для переработки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductOfRecycling" type="ra:ProductOfRecyclingType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Продукт переработки </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WasteProduct" type="ra:ProductOfRecyclingType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Отходы </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FormTwoType">
    <xs:annotation>
      <xs:documentation>Форма №2. Сведения о товарах, предполагаемых к ввозу на территорию ОЭЗ в соответствии с таможенным режимом свободной таможенной зоны с целью переработки товаров, о продуктах переработки и отходах </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ResidentPersonSignature" type="cat_ru:PersonSignatureType">
        <xs:annotation>
          <xs:documentation>ФИО и подпись уполномоченного лица организации - резидента ОЭЗ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EconZonePersonSignature" type="cat_ru:PersonSignatureType">
        <xs:annotation>
          <xs:documentation>ФИО и подпись уполномоченного лица органа управления ОЭЗ </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Section" type="ra:FormTwoSectionType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Раздел </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OperationType">
    <xs:annotation>
      <xs:documentation>Наименование операции в соответствии с условиями соглашения </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OperationName" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование операции в соответствии с условиями соглашения </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OperationNumber" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер операции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Product" type="ra:ProductType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Товар</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductOfRecyclingType">
    <xs:annotation>
      <xs:documentation>Продукт переработки и отходы </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Number" type="clt_ru:Count5Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Наименование продукта переработки или отхода </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TNVEDCode" type="clt_ru:GoodsNomenclatureCodeType">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Status" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Статус: 0 - РОС (Российский); 1 - ИН (иностранный) </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsDutyRateSystem" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Система исчисления ставок таможенных пошлин</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductType">
    <xs:annotation>
      <xs:documentation>Товар</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Number" type="clt_ru:Count5Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Наименование товара </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TNVEDCode" type="clt_ru:GoodsNomenclatureCodeType">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Status" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Статус: 0 - РОС (Российский); 1 - ИН (иностранный) </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasureUnitQualifierName" type="clt_ru:MeasureUnitQualifierNameType">
        <xs:annotation>
          <xs:documentation>Название единицы измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasureUnitQualifierCode" type="clt_ru:MeasureUnitQualifierCodeType">
        <xs:annotation>
          <xs:documentation>Код единицы измерения </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество в указанной ед. изм. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuantityChangesQ1" type="ra:SignedQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о внесении изменений в квартале 1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuantityChangesQ2" type="ra:SignedQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о внесении изменений в квартале 2</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuantityChangesQ3" type="ra:SignedQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о внесении изменений в квартале 3</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuantityChangesQ4" type="ra:SignedQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о внесении изменений в квартале 4</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuantityTotal" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Всего</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistryNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер заявления вида ХХХХХХХХ/ХХХХХХ/ХХХХХХХ/ХХ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="RevisionNumber" type="clt_ru:Count2Type">
            <xs:annotation>
              <xs:documentation>Номер редакции заявления : 01 - для первичной подачи, при каждом внесении изменений и (или) дополнений номер должен быть увеличен на единицу</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ResidentType">
    <xs:annotation>
      <xs:documentation>Сведения о резиденте ОЭЗ </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Organisation" type="cat_ru:OrganizationBaseType">
        <xs:annotation>
          <xs:documentation>Информация об организации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Паспорт резидента ОЭЗ </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LicenseNumber" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Свидетельство, удостоверяющее регистрацию лица в качестве резидента ОЭЗ </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="cat_ru:AddressType">
        <xs:annotation>
          <xs:documentation>Адрес резидента ОЭЗ </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные простые прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="SignedQuantityType">
    <xs:annotation>
      <xs:documentation>Количество в единицах измерения. Допускает отрицательные значения. Всего до 19 цифр. 6 знаков после запятой</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:NumericCategoriesCust">
      <xs:fractionDigits value="6" />
      <xs:totalDigits value="19" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>