XsltProcessor/xsd/5.23.0/ResolutionCommissionExportControl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--приложение №4 из "УТОВиЭК 2016 № 46547 Бланки ФСТЭК.tif"  (Письмо УТОВиЭК №14-153/46547 от 14.09.2016) (код вида документа 01153, но возможно этот же код у FsTekConclPermit (DocType=3 или 4))-->
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:rcec="urn:customs.ru:Information:SertifDocuments:ResolutionCommissionExportControl:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:SertifDocuments:ResolutionCommissionExportControl:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Разрешение Комиссии по экспортному контролю РФ на вывоз товаров, подлежащих экспортному контролю</xs:documentation>
  </xs:annotation>
  <xs:element name="ResolutionCommissionExportControl" type="rcec:ResolutionCommissionExportControlType">
    <xs:annotation>
      <xs:documentation>Разрешение Комиссии по экспортному контролю РФ на вывоз товаров, подлежащих экспортному контролю</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ResolutionCommissionExportControlType">
    <xs:annotation>
      <xs:documentation>Разрешение Комиссии по экспортному контролю РФ на вывоз товаров, подлежащих экспортному контролю</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="RegNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер разрешения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EndDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата окончания дейсвтия разрешения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Status" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Статус документа: 1 - действует, 2 - приостановлено, 3 - возобновлено действие, 4 - действие прекращено, 5 - действие завершено</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ChangeStatusDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата изменения статуса документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TermsAction" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Условия действия разрешения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:choice>
            <xs:annotation>
              <xs:documentation>Сведение о лице, получившее разрешение </xs:documentation>
            </xs:annotation>
            <xs:element name="JuridicalPerson" type="rcec:JuridicalPersonType">
              <xs:annotation>
                <xs:documentation>Юридическое лицо</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="IndividualPerson" type="rcec:IndividualPersonType">
              <xs:annotation>
                <xs:documentation>Физическое лицо</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element name="Application" type="rcec:ApplicationType">
            <xs:annotation>
              <xs:documentation>Сведения из заявления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IssueBase" type="cat_ru:DocumentBaseType">
            <xs:annotation>
              <xs:documentation>Разрешение выдано на основании</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonSignature" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Подпись</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009007E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ApplicationType">
    <xs:annotation>
      <xs:documentation>Сведения из заявления</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ApplicationNumber" type="clt_ru:DocumentNumberType">
        <xs:annotation>
          <xs:documentation>Номер заявления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ApplicationDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата заявления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Action" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Заявление на: 1- экспорт; 2 - временный вывоз; 3 - выполнение работ; 4 - оказание услуг.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание продукции, являющейся предметом внешнеэкономической операции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StateDestination" type="clt_ru:CountryNameType">
        <xs:annotation>
          <xs:documentation>Государство назначения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConformityDocument" type="cat_ru:DocumentBaseType">
        <xs:annotation>
          <xs:documentation>В соответствии с документом</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IndividualPersonType">
    <xs:annotation>
      <xs:documentation>Физическое лицо</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationBaseType">
        <xs:sequence>
          <xs:element name="Address" type="cat_ru:AddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Адрес физического лицо</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType">
            <xs:annotation>
              <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="JuridicalPersonType">
    <xs:annotation>
      <xs:documentation>Юридическое лицо</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationBaseType">
        <xs:sequence>
          <xs:element name="Address" type="cat_ru:AddressType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Адрес юридического лица</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>