XsltProcessor/xsd/5.23.0/ResolutionAdministrativeOffense.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:els_leaf="urn:customs.ru:Information:ELSDocuments:ELSLeafTypes:5.21.0" xmlns:resao="urn:customs.ru:Information:CustomsAuditDocuments:ResolutionAdministrativeOffense:5.23.0" targetNamespace="urn:customs.ru:Information:CustomsAuditDocuments:ResolutionAdministrativeOffense:5.23.0" elementFormDefault="qualified" version="5.23.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:Information:ELSDocuments:ELSLeafTypes:5.21.0" schemaLocation="ELSLeafTypes.xsd"/>
	<xs:annotation>
		<xs:documentation>Постановление по делу об АП</xs:documentation>
	</xs:annotation>
	<xs:element name="ResolutionAdministrativeOffense" type="resao:ResolutionAdministrativeOffenseType">
		<xs:annotation>
			<xs:documentation>Постановление по делу об АП</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ResolutionAdministrativeOffenseType">
		<xs:annotation>
			<xs:documentation>Постановление по делу об АП</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="DocumentForm" type="clt_ru:Numeric1Type">
						<xs:annotation>
							<xs:documentation>Форма документа: 1 - постановление (решение) по делу об АП, вынесенное в форме электронного документа; 2 - копия (дубликат) постановления (решения) по делу об АП, вынесенного в форме бумажного документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OffenceCaseInfo" type="resao:OffenceCaseInfoType">
						<xs:annotation>
							<xs:documentation>Сведения о деле об АП</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Offender" type="resao:OffenderType">
						<xs:annotation>
							<xs:documentation>Субъект АП</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OffenceDecisionInfo" type="resao:OffenceDecisionInfoType">
						<xs:annotation>
							<xs:documentation>Описательная часть постановления (решения) по делу об АП</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OffenceDecisionResolution" type="resao:OffenceDecisionResolutionType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Резолютивная часть постановления (решения) по делу об АП</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AppealInfo" type="resao:AppealInfoType">
						<xs:annotation>
							<xs:documentation>Сведения о порядке обжалования постановления (решения) по делу об АП</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OffenceDecisionDeliveryDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата получения постановления (решения) по делу об АП</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OffenceDecisionDirectionDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата направления копии постановления (решения) по делу об АП</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OffenceDecisionDirectionNum" type="clt_ru:DocumentNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер исходящего письма</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OffenceDecisionDirectionAdress" type="RUSclt_ru:AddressTextType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Адрес, по которому направлена копия постановления (решения) по делу об АП</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OffenceDecisionForceDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата вступления решения в законную силу постановления (решения) по делу об АП</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MissedPaymentCheckDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата, по состоянию на которую административный штраф не уплачен</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Comments" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Примечание</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentPropertiesFine" type="resao:PaymentPropertiesFineType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Реквизиты для перечисления денежных средств для уплаты штрафа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentPropertiesCosts" type="resao:PaymentPropertiesCostsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Реквизиты для перечисления денежных средств для уплаты издержек</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006929E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="Text100kB">
		<xs:annotation>
			<xs:documentation>Текстовая информация. До 100кбайт</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="102400"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AppealInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о порядке обжалования постановления (решения) по делу об АП</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SrokAppeal" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Срок для обжалования решения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AppealPeriodType" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Тип периода срока обжалования решения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HigherCustomsAppealCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код вышестоящего таможенного органа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HigherCustomsAppealName" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Полное наименование вышестоящего таможенного органа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HigherCustomsAppealAdress" type="RUSclt_ru:AddressTextType">
				<xs:annotation>
					<xs:documentation>Адрес вышестоящего таможенного органа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HigherCustomsAppealPhone" type="clt_ru:PhoneNumberType">
				<xs:annotation>
					<xs:documentation>Телефон вышестоящего таможенного органа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CourtAppealName" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Наименование судебного органа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CourtAppealAdress" type="RUSclt_ru:AddressTextType">
				<xs:annotation>
					<xs:documentation>Адрес судебного органа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArrestGoodsDecisionType">
		<xs:annotation>
			<xs:documentation>Решение по арестованным товарам</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ArrestGoodsState" type="clt_ru:IndicatorType">
				<xs:annotation>
					<xs:documentation>Признак наличия арестованных товаров: 0 - нет; 1 - есть</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Goods" type="resao:GoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о товаре</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDecision" type="resao:GoodsDecisionType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о решении по товару</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BudgetIndexType">
		<xs:annotation>
			<xs:documentation>Реквизиты платежа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Status" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Статус плательщика</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaytReason" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxPeriod" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxDocNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxDocDate" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата документа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CircumstanceDetailsType">
		<xs:annotation>
			<xs:documentation>Детализация обстоятельства по КоАП РФ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NpaArticleParts" type="clt_ru:Text5Type">
				<xs:annotation>
					<xs:documentation>Номер структурной единицы НПА</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NpaArticleVariety" type="clt_ru:Count2Type">
				<xs:annotation>
					<xs:documentation>Вид структурной единицы НПА: 1 - раздел; 2 - глава; 3 - статья; 4 - параграф; 5 - пункт; 6 - подпункт; 7 - часть; 8 - абзац; 9 - приложение; 10 - примечание</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CircumstanceType">
		<xs:annotation>
			<xs:documentation>Обстоятельства по КоАП РФ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CircumstanceDetails" type="resao:CircumstanceDetailsType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Детализация обстоятельства по КоАП РФ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CostsDecisionType">
		<xs:annotation>
			<xs:documentation>Издержки по делу об АП</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CostsState" type="clt_ru:IndicatorType">
				<xs:annotation>
					<xs:documentation>Признак наличия издержек по делу об АП: 0 - нет; 1 - есть</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CostsDetails" type="resao:CostsDetailsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения об издержках по делу об АП</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CostsDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения об издержках по делу об АП</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TypeCostsID" type="clt_ru:Numeric1Type">
				<xs:annotation>
					<xs:documentation>Идентификатор типа издержек по делу об АП: 1 - экспертиза; 2 - хранение; 3 - переводы; 4 - иное</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeCosts" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Тип издержек по делу об АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CostsSum" type="clt_ru:AmountType">
				<xs:annotation>
					<xs:documentation>Сумма издержек по делу об АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeCostsPayerID" type="clt_ru:Numeric1Type">
				<xs:annotation>
					<xs:documentation>Идентификатор вида плательщика издержек по делу об АП: 1 - субъект АП; 2 - федеральный бюджет; 3 - бюджет субъекта РФ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeCostsPayer" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Вид плательщика издержек по делу об АП</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DecisionPersonType">
		<xs:annotation>
			<xs:documentation>Должностное лицо таможенного органа, вынесшее постановление (решение) по делу об АП</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DecisionPersonSurname" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Фамилия должностного лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DecisionPersonName" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Имя должностного лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DecisionPersonMiddleName" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Отчество должностного лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DecisionCustomsSubUnit" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Наименование подразделения таможенного органа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DecisionPersonCodePost" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Идентификатор должности по классификатору ФТС России</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DecisionPersonPostName" type="clt_ru:PostType">
				<xs:annotation>
					<xs:documentation>Наименование должности по классификатору ФТС России</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DecisionCustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DecisionCustomsFullName" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Наименование таможенного органа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DecisionOrganAdress" type="RUSclt_ru:AddressTextType">
				<xs:annotation>
					<xs:documentation>Адрес таможенного органа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DiscountSizeType">
		<xs:annotation>
			<xs:documentation>Условия оплаты со скидкой</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="clt_ru:ProcentNumericType">
				<xs:annotation>
					<xs:documentation>Процент скидки от суммы начисления</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Expiry" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Срок действия скидки</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsDecisionType">
		<xs:annotation>
			<xs:documentation>Сведения о решении по товару</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsDecisionID" type="clt_ru:DocumentIDType">
				<xs:annotation>
					<xs:documentation>Идентификатор решения по товару</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDecisionName" type="clt_ru:DocumentNameType">
				<xs:annotation>
					<xs:documentation>Наименование решения по товару</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsType">
		<xs:annotation>
			<xs:documentation>Сведения о товаре</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsID" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsName" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Наименование товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Quantity" type="clt_ru:QuantityBasisType">
				<xs:annotation>
					<xs:documentation>Количество товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EdIzmID" type="clt_ru:MeasureUnitQualifierCodeType">
				<xs:annotation>
					<xs:documentation>Идентификатор единицы измерения количества товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EdIzmName" type="clt_ru:MeasureUnitQualifierNameType">
				<xs:annotation>
					<xs:documentation>Наименование единицы измерения количества товара</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KoAPArticleType">
		<xs:annotation>
			<xs:documentation>Состав АП</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NpaArticle" type="resao:NpaType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Номер статьи КоАП РФ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NpaArticleParts" type="resao:NpaType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Номер части статьи КоАП РФ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NpaType">
		<xs:annotation>
			<xs:documentation>Признак основной статьи</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NpaNumber" type="clt_ru:Text10Type">
				<xs:annotation>
					<xs:documentation>Номер статьи / части статьи КоАП РФ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsMain" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак основной части: 0 - не основная; 1 - основная</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OffenceCaseInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о деле об АП</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CaseID" type="clt_ru:DocumentIDType">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор дела об АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CaseRegNumber" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Регистрационный номер дела об АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CaseRegDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата регистрации дела об АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CaseRegCustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего дело об АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CaseRegCustomsFullName" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Полное наименование таможенного органа, зарегистрировавшего дело об АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenceDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата совершения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffencePlace" type="RUSclt_ru:AddressTextType">
				<xs:annotation>
					<xs:documentation>Место совершения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenceCost" type="clt_ru:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Стоимость предмета АП, размер невозвращенной валюты либо неуплаченных таможенных пошлин, налогов</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OffenceDecisionInfoType">
		<xs:annotation>
			<xs:documentation>Описательная часть постановления (решения) по делу об АП</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DecisionTypeCode" type="clt_ru:DocumentIDType">
				<xs:annotation>
					<xs:documentation>Идентификатор вида постановления (решения) по делу об АП (соответствуют видам процессуальных документов в АИС "Правоохрана")</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DecisionTypeName" type="clt_ru:DocumentNameType">
				<xs:annotation>
					<xs:documentation>Наименование постановления (решения) по делу об АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DecisionDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата постановления (решения) по делу об АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DecisionPlace" type="RUSclt_ru:AddressTextType">
				<xs:annotation>
					<xs:documentation>Место вынесения постановления (решения) по делу об АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DecisionNumber" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Номер постановления (решения) по делу об АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DecisionPerson" type="resao:DecisionPersonType">
				<xs:annotation>
					<xs:documentation>Должностное лицо таможенного органа, вынесшее постановление (решение) по делу об АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SofteningCircumstance" type="resao:CircumstanceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Смягчающие обстоятельства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AggravatingCircumstances" type="resao:CircumstanceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Отягчающие обстоятельства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TerminationCircumstances" type="resao:CircumstanceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Обстоятельства, исключающие производство по делу об АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherCircumstances" type="resao:CircumstanceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Иные обстоятельства, характеризующие совершенное АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenceDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Описание обстоятельств, установленных при рассмотрении дела об АП (блок «Установил»)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OffenceDecisionResolutionType">
		<xs:annotation>
			<xs:documentation>Резолютивная часть постановления (решения) по делу об АП</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KoAPArticle" type="resao:KoAPArticleType">
				<xs:annotation>
					<xs:documentation>Состав АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Punishment" type="resao:PunishmentType">
				<xs:annotation>
					<xs:documentation>Вид административного наказания</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SeizedGoodsDecision" type="resao:SeizedGoodsDecisionType">
				<xs:annotation>
					<xs:documentation>Решение по изъятым товарам</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrestGoodsDecision" type="resao:ArrestGoodsDecisionType">
				<xs:annotation>
					<xs:documentation>Решение по арестованным товарам</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhysicalEvidenceDecision" type="resao:PhysicalEvidenceDecisionType">
				<xs:annotation>
					<xs:documentation>Решение по вещественным доказательствам</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CostsDecision" type="resao:CostsDecisionType">
				<xs:annotation>
					<xs:documentation>Издержки по делу об АП</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OffenderAdditionalMonthlyIncomeType">
		<xs:annotation>
			<xs:documentation>Сведения о дополнительном ежемесячном доходе</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type" type="clt_ru:Text50Type">
				<xs:annotation>
					<xs:documentation>Источник дополнительного дохода</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Size" type="clt_ru:AmountType">
				<xs:annotation>
					<xs:documentation>Размер дополнительного дохода</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OffenderBankAccountType">
		<xs:annotation>
			<xs:documentation>Сведения о банковских счетах</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AccNum" type="clt_ru:ForeignAccountType">
				<xs:annotation>
					<xs:documentation>Номер счета</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyCode" type="clt_ru:CurrencyA3CodeType">
				<xs:annotation>
					<xs:documentation>Валюта счета</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BankName" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Наименование банка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BankINN" type="clt_ru:INNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ИНН банка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BankBic" type="clt_ru:BICIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>БИК банка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Актуальность сведений</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OffenderDocumentType">
		<xs:annotation>
			<xs:documentation>Документ, удостоверяющий личность</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TypeDocCode" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Тип документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumDoc" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SerDoc" type="clt_ru:Text5Type">
				<xs:annotation>
					<xs:documentation>Серия документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateDoc" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата выдачи документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodeDep" type="clt_ru:CodeVariable20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код подразделения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IssuedDoc" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кем выдан</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryCode" type="clt_ru:CountryA2CodeType">
				<xs:annotation>
					<xs:documentation>Код страны, выдавшей документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FioDoc" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Фамилия, Имя, Отчество</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BirthDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BirthPlace" type="RUSclt_ru:AddressTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Место рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Adress" type="RUSclt_ru:AddressTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActualDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Актуальность сведений</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OffenderFinancialObligationsType">
		<xs:annotation>
			<xs:documentation>Сведения об обязательствах финансового характера (алименты, кредиты и т.п.)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type" type="clt_ru:Text50Type">
				<xs:annotation>
					<xs:documentation>Источник обязательства (алименты, кредиты и т.п.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Size" type="clt_ru:AmountType">
				<xs:annotation>
					<xs:documentation>Размер обязательства</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OffenderJobType">
		<xs:annotation>
			<xs:documentation>Сведения о работодателе</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TypeEmployer" type="clt_ru:Numeric1Type">
				<xs:annotation>
					<xs:documentation>Тип работодателя: 1 - юридическое лицо; 3 - индивидуальный предприниматель</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmployerName" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Наименование работодателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmployerCountryCode" type="clt_ru:CountryA2CodeType">
				<xs:annotation>
					<xs:documentation>Код страны принадлежности работодателя по Общероссийскому классификатору стран мира</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmployerINN" type="clt_ru:INNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ИНН работодателя в РФ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmployerKPP" type="clt_ru:KPPCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>КПП работодателя в РФ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmployerOGRN" type="clt_ru:OGRNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОГРН (НЗА, ОГРНИП) работодателя в РФ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmployerRN" type="clt_ru:RNNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер работодателя в стране регистрации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmployerNN" type="clt_ru:KGINNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Налоговый орган работодателя в стране регистрации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmployerRegDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата регистрации работодателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmployerRegPlace" type="RUSclt_ru:AddressTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Место регистрации работодателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmployerAdress" type="RUSclt_ru:AddressTextType">
				<xs:annotation>
					<xs:documentation>Адрес места нахождения работодателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmployerAdressFakt" type="RUSclt_ru:AddressTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес места фактического нахождения работодателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmployerPostName" type="clt_ru:PostType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Занимаемая субъектом АП должность</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MonthlyIncome" type="clt_ru:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ежемесячный доход</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActualDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата актуальности сведений</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OffenderRealEstateType">
		<xs:annotation>
			<xs:documentation>Сведения о недвижимом имуществе</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NaimNedv" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Наименование объекта недвижимости</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sNedv" type="clt_ru:QuantityBasisType">
				<xs:annotation>
					<xs:documentation>Площадь</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kadastrN" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Кадастровый (условный) номер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddressNedv" type="RUSclt_ru:AddressTextType">
				<xs:annotation>
					<xs:documentation>Точный адрес (местоположение)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="literN" type="clt_ru:CodeVariable5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Литер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="floor" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Этаж</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="invNNedv" type="clt_ru:DocumentNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Инвентарный номер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nFloor" type="clt_ru:Count5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер на поэтажном плане</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Актуальность сведений</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OffenderTransportType">
		<xs:annotation>
			<xs:documentation>Сведения о транспортных средствах</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AutomType" type="clt_ru:TransportCategoryCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Категория транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Producer" type="clt_ru:MarkCarNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Марка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Model" type="clt_ru:TransportNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Модель</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Engine" type="clt_ru:EngineIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер двигателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Color" type="clt_ru:TransportMeansColorCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Цвет</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegNo" type="clt_ru:TransportStateSignIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Государственный регистрационный знак</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegAuto" type="clt_ru:CodeVariable20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Свидетельство о регистрации транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Vin" type="clt_ru:VINIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>VIN</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MadeYear" type="clt_ru:DateYearCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Год выпуска транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeptCode" type="clt_ru:CodeVariable7Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код подразделения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Актуальность сведений</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OffenderType">
		<xs:annotation>
			<xs:documentation>Субъект АП</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TypeOffender" type="clt_ru:Numeric1Type">
				<xs:annotation>
					<xs:documentation>Тип субъекта АП: 1 - юридическое лицо; 2 - физическое лицо; 3 - индивидуальный предприниматель; 4 - должностное лицо</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenderFullName" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование субъекта АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenderSurname" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Фамилия субъекта АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenderName" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Имя субъекта АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenderMiddleName" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отчество субъекта АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenderBirthDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата рождения субъекта АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenderBirthPlace" type="RUSclt_ru:AddressTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Место рождения субъекта АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenderGender" type="clt_ru:Numeric1Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Пол субъекта АП: 1 - мужской; 2 - женский</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenderSNILS" type="clt_ru:DocumentIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Страховой номер индивидуального лицевого счета субъекта АП в РФ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenderINN" type="clt_ru:INNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ИНН субъекта АП в РФ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenderKPP" type="clt_ru:KPPCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>КПП субъекта АП в РФ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenderOGRN" type="clt_ru:OGRNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОГРН (НЗА, ОГРНИП) субъекта АП в РФ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenderOKPO" type="clt_ru:OKPOIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОКПО субъекта АП в РФ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenderRN" type="clt_ru:RNNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер субъекта АП в стране регистрации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenderNN" type="clt_ru:KGINNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Налоговый номер субъекта АП в стране регистрации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenderRegDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата регистрации субъекта АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenderRegPlace" type="RUSclt_ru:AddressTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Место регистрации субъекта АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenderCountryCode" type="clt_ru:CountryA2CodeType">
				<xs:annotation>
					<xs:documentation>Код страны принадлежности субъекта АП по Общероссийскому классификатору стран мира</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenderAdress" type="RUSclt_ru:AddressTextType">
				<xs:annotation>
					<xs:documentation>Адрес проживания (места нахождения) субъекта АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenderAdressFakt" type="RUSclt_ru:AddressTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес фактического проживания (места фактического нахождения) субъекта АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenderPayerIdentifier" type="RUSclt_ru:UITNCode40Type">
				<xs:annotation>
					<xs:documentation>Основной идентификатор плательщика в ГИС ГМП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenderAdditionalPayerIdentifier" type="RUSclt_ru:UITNCode40Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Дополнительный идентификатор плательщика в ГИС ГМП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenderPhone" type="clt_ru:PhoneNumberType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Телефон</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenderEMail" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Электронная почта</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenderEducation" type="clt_ru:Numeric1Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Образование субъекта АП: 1 - высшее; 2 - среднее специальное; 3 - общее среднее; 4 - профессиональнотехническое</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenderDocument" type="resao:OffenderDocumentType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Документ, удостоверяющий личность</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenderJob" type="resao:OffenderJobType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Место работы субъекта АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenderBankAccount" type="resao:OffenderBankAccountType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о банковских счетах</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenderRealEstate" type="resao:OffenderRealEstateType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о недвижимом имуществе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenderTransport" type="resao:OffenderTransportType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о транспортных средствах</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenderAdditionalMonthlyIncome" type="resao:OffenderAdditionalMonthlyIncomeType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о дополнительном ежемесячном доходе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OffenderFinancialObligations" type="resao:OffenderFinancialObligationsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения об обязательствах финансового характера (алименты, кредиты и т.п.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherPerson" type="resao:OtherPersonType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о солидарных должниках (супруг, супруга), законных представителях, лиц не достигших совершеннолетия</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OtherPersonType">
		<xs:annotation>
			<xs:documentation>Сведения о солидарных должниках (супруг, супруга), законных представителях, лиц не достигших совершеннолетия</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EnttTypeid" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Код роли лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnttFio" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Фамилия, имя, отчество</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnttAddress" type="RUSclt_ru:AddressTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnttInn" type="clt_ru:INNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификационный номер налогоплательщика</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnttSnils" type="clt_ru:DocumentNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Страховой номер индивидуального лицевого счета</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnttGender" type="clt_ru:Numeric1Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Пол: 1 - мужской; 2 - женский</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnttBorndate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnttBirthPlace" type="RUSclt_ru:AddressTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Место рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnttPhone" type="clt_ru:PhoneNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Телефон</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnttJob" type="resao:OffenderJobType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о работодателе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnttBankAccount" type="resao:OffenderBankAccountType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о банковских счетах</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnttRealEstate" type="resao:OffenderRealEstateType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о недвижимом имуществе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnttTransport" type="resao:OffenderTransportType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о транспортных средствах</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnttAdditionalMonthlyIncome" type="resao:OffenderAdditionalMonthlyIncomeType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о дополнительном ежемесячном доходе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnttFinancialObligations" type="resao:OffenderFinancialObligationsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения об обязательствах финансового характера (алименты, кредиты и т.п.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Актуальность сведений</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PayeeBankType">
		<xs:annotation>
			<xs:documentation>Сведения о банке получателя</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Наименование банка получателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BIK" type="clt_ru:BICIDType">
				<xs:annotation>
					<xs:documentation>Банковский идентификационный код банка получателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CorrespondentBankAccount" type="clt_ru:AccountType">
				<xs:annotation>
					<xs:documentation>Корреспондентский счет банка получателя</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PayeeType">
		<xs:annotation>
			<xs:documentation>Сведения о получателе</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PayeeName" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Наименование получателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PayeeINN" type="clt_ru:INNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификационный номер налогоплательщика получателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PayeeKPP" type="clt_ru:KPPCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код причины постановки на учет получателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PayeeOGRN" type="clt_ru:OGRNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОГРН получателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PayeeAccountNumber" type="clt_ru:AccountType">
				<xs:annotation>
					<xs:documentation>Счет получателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonalAccount" type="clt_ru:AccountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Лицевой счет</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PayeeBank" type="resao:PayeeBankType">
				<xs:annotation>
					<xs:documentation>Сведения о банке получателя</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentPropertiesCostsType">
		<xs:annotation>
			<xs:documentation>Реквизиты для перечисления денежных средств для уплаты издержек</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SupplierBillID" type="clt_ru:DocumentIDType">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор начисления</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Purpose" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Назначение платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalAmount" type="clt_ru:Quantity11Type">
				<xs:annotation>
					<xs:documentation>Начисленная сумма (в копейках)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KBK" type="els_leaf:BCCType">
				<xs:annotation>
					<xs:documentation>Код бюджетной классификации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OKTMO" type="clt_ru:CodeVariable11Type">
				<xs:annotation>
					<xs:documentation>Код по ОКТМО получателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Payee" type="resao:PayeeType">
				<xs:annotation>
					<xs:documentation>Сведения о получателе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BudgetIndex" type="resao:BudgetIndexType">
				<xs:annotation>
					<xs:documentation>Реквизиты платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QRCode" type="clt_ru:Text3MB">
				<xs:annotation>
					<xs:documentation>Строка платежных реквизитов, отображаемая в формате штрих-кода</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BarCode" type="resao:Text100kB" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Строка платежных реквизитов, отображаемая в формате штрих-кода</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentPropertiesFineType">
		<xs:annotation>
			<xs:documentation>Реквизиты для перечисления денежных средств для уплаты штрафа</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="resao:PaymentPropertiesCostsType">
				<xs:sequence>
					<xs:element name="DiscountSize" type="resao:DiscountSizeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Условия оплаты со скидкой</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PhysicalEvidenceDecisionDetailsType">
		<xs:annotation>
			<xs:documentation>Решение по вещественным доказательствам</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PhysicalEvidenceDecisionID" type="clt_ru:DocumentIDType">
				<xs:annotation>
					<xs:documentation>Идентификатор решения по вещественному доказательству</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhysicalEvidenceDecisionName" type="clt_ru:DocumentNameType">
				<xs:annotation>
					<xs:documentation>Наименование решения по вещественному доказательству</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PhysicalEvidenceDecisionType">
		<xs:annotation>
			<xs:documentation>Решение по вещественным доказательствам</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PhysicalEvidenceState" type="clt_ru:IndicatorType">
				<xs:annotation>
					<xs:documentation>Признак наличия вещественных доказательств: 0 - нет; 1 - есть</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhysicalEvidenceName" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Наименование вещественного доказательства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhysicalEvidenceDecision" type="resao:PhysicalEvidenceDecisionDetailsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о решении по вещественному доказательству</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PunishmentMeasureType">
		<xs:annotation>
			<xs:documentation>Измерение дополнительного административного наказания</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CodeMeasurePunishment" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Идентификатор измерения административного наказания</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameMeasurePunishment" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Наименование измерения административного наказания</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueMeasurePunishment" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Значение измерения административного наказания</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PunishmentType">
		<xs:annotation>
			<xs:documentation>Вид административного наказания</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PunishmentMainCode" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Идентификатор вида основного наказания</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PunishmentMainName" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Наименование основного наказания</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PunishmentMainRatio" type="clt_ru:Quantity8Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Коэффициент кратности основного наказания к размеру предмета АП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PunishmentMainMeasure" type="resao:PunishmentMeasureType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Измерение основного административного наказания</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PunishmentAdditionalCode" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор вида дополнительного наказания</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PunishmentAdditionalName" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование дополнительного наказания</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PunishmentAdditionalMeasure" type="resao:PunishmentMeasureType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Измерение дополнительного административного наказания</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SeizedGoodsDecisionType">
		<xs:annotation>
			<xs:documentation>Решение по изъятым товарам</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SeizedGoodsState" type="clt_ru:IndicatorType">
				<xs:annotation>
					<xs:documentation>Признак наличия изъятых товаров: 0 - нет; 1 - есть</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Goods" type="resao:GoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о товаре</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDecision" type="resao:GoodsDecisionType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о решении по товару</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
