XsltProcessor/xsd/5.23.0/ResTransferTempImport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Приказ ФТС России от 18.03.2019 г. № 442  "Об утверждении формы заявления о передаче товаров, помещенных под таможенную процедуру временного ввоза (допуска), 
формы обязательства лица, которому передаются товары, о соблюдении условий использования товаров в соответствии с таможенной процедурой 
временного ввоза (допуска), требований и условий временного ввоза и формы решения таможенного органа по результатам рассмотрения указанного заявления"
Приложение № 2 - Решение таможенного органа о возможности передачи товаров, помещенных под таможенную процедуру временного ввоза (допуска), во владение и пользование иным лицам
-->
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:rtti="urn:customs.ru:Information:TransportDocuments:ResTransferTempImport:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:TransportDocuments:ResTransferTempImport:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Решение таможенного органа о возможности передачи товаров, помещенных под таможенную процедуру временного ввоза (допуска), во владение и пользование иным лицам</xs:documentation>
  </xs:annotation>
  <xs:element name="ResTransferTempImport" type="rtti:ResTransferTempImportType">
    <xs:annotation>
      <xs:documentation>Решение таможенного органа о возможности передачи товаров, помещенных под таможенную процедуру временного ввоза (допуска), во владение и пользование иным лицам</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ResTransferTempImportType">
    <xs:annotation>
      <xs:documentation>Решение таможенного органа о возможности передачи товаров, помещенных под таможенную процедуру временного ввоза (допуска), во владение и пользование иным лицам</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="ResDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Код и наименование таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Applicant" type="RUScat_ru:SubjectDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о заявителе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AppDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата заявления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegAppNumber" type="rtti:RegAppNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер Заявления о передаче товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GTDID" type="cat_ru:GTDIDType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер декларации на товары</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Resolution" type="rtti:ResolutionType">
            <xs:annotation>
              <xs:documentation>Решение таможенного органа о возможности передачи товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ChiefType" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Тип лица: 1 - начальник таможенного органа, 2 - заместитель начальникатаможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsChief" type="cat_ru:CustomsPersonType">
            <xs:annotation>
              <xs:documentation>Подпись начальника (заместителя начальника) таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1003014E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="GoodsInfoType">
    <xs:annotation>
      <xs:documentation>Информация о товаре</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GoodsBaseType">
        <xs:sequence>
          <xs:element name="GoodsNumberInGTD" type="clt_ru:Count5Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер товара в таможенной декларации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IndividualCharacteristics" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Индивидуальные признаки товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество товара в дополнительной единице измерения</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IssuePermitTransferType">
    <xs:annotation>
      <xs:documentation>Выдача разрешения на передачу товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="WhomTransfer" type="RUScat_ru:SubjectDetailsType">
        <xs:annotation>
          <xs:documentation>Кому передать товары, помещенные под таможенную процедуру временного ввоза (допуска)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsInfo" type="rtti:GoodsInfoType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товарах</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateTransfer" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата передачи временно ввезенных товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EnsuringSign" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак предоставления лицом, принимающим товары, обеспечения исполнения обязанности по уплате таможенных пошлин, налогов: 1 - с предоставлением; 0 - без предоставления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EnsuringDoc" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Документ, подтверждающий принятие таможенным органом обеспечения исполнения обязанности по уплате таможенных пошлин, налогов</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReasonsType">
    <xs:annotation>
      <xs:documentation>Причина отказа в выдаче разрешения со ссылкой на норму (статья 168) ФЗ от 03.08.2018 № 289-ФЗ, в соответствии с которой принято решение</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ReferenceNormFederalLaw" type="clt_ru:LetterIndicatorType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Ссылка на норму (статья 168) ФЗ (1 - несоблюдения условий использования товаров в соответствии с таможенной процедурой временного ввоза (допуска), установленных пунктом 2 статьи 220 Кодекса Союза; 2 - несоблюдения условий, установленных частями 4 и 5 статьи 168 Федерпльного закона от 03.08.2018 № 289-ФЗ; 3 - неисполнение требований таможенного органа, предусмотренных частью 6 статьи 168  Федерпльного закона от 03.08.2018 № 289-ФЗ.)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReasonText" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Доп. сведения о причине отказа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RefusalPermitTransferType">
    <xs:annotation>
      <xs:documentation>Отказ в выдаче разрешения на передачу товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Reason" type="rtti:ReasonsType">
        <xs:annotation>
          <xs:documentation>Причина отказа в выдаче разрешения со ссылкой на норму (статья 168) ФЗ от 03.08.2018 № 289-ФЗ, в соответствии с которой принято решение</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResolutionType">
    <xs:annotation>
      <xs:documentation>Решение таможенного органа о возможности передачи товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="IssuePermitTransfer" type="rtti:IssuePermitTransferType">
          <xs:annotation>
            <xs:documentation>Выдача разрешения на передачу товаров</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="RefusalPermitTransfer" type="rtti:RefusalPermitTransferType">
          <xs:annotation>
            <xs:documentation>Отказ в выдаче разрешения на передачу товаров</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegAppNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер Заявления</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDID5Type">
        <xs:sequence>
          <xs:element name="AddNumber" type="clt_ru:Code4Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дополнительная составляющая номера </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>