XsltProcessor/xsd/5.23.0/ResUnloadingStore.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Приказ ФТС России № 446 от 18 марта 2019 года "Об утверждении формы заявления перевозчика на выгрузку (передачу) припасов и формы решения таможенного органа по результатам рассмотрения указанного заявления". Приложение № 2 - Решение таможенного органа о выдаче разрешения на выгрузку (передачу) припасов -->
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:res_us="urn:customs.ru:Information:TransportDocuments:ResUnloadingStore:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:TransportDocuments:ResUnloadingStore:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Решение таможенного органа о выдаче разрешения на выгрузку (передачу) припасов</xs:documentation>
  </xs:annotation>
  <xs:element name="ResUnloadingStore" type="res_us:ResUnloadingStoreType">
    <xs:annotation>
      <xs:documentation>Решение таможенного органа о выдаче разрешения на выгрузку (передачу) припасов</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ResUnloadingStoreType">
    <xs:annotation>
      <xs:documentation>Решение таможенного органа о выдаче разрешения на выгрузку (передачу) припасов</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DecisionKind" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
              <xs:documentation>Принятое решение: 1 - Разрешение на выгрузку (передачу) припасов, 2 - Отказ в выдаче разрешения на выгрузку (передачу) припасов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Код и наименование таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AppCarrier" type="RUScat_ru:OrganizationType">
            <xs:annotation>
              <xs:documentation>Сведения о заявителе (перевозчике)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AppDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата заявления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PlaceStoreInfo" type="res_us:PlaceStoreInfoType">
            <xs:annotation>
              <xs:documentation>Местонахождение припасов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ActionStore" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Предполагаемое действие с припасами: 1 - выгрузка, 2 - передача</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StoresInfo" type="res_us:StoresInfoType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о выгружаемых (передаваемых) припасах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OtherCarrier" type="RUScat_ru:OrganizationType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о перевозчике, которому передаются припасы (в случае передачи припасов иному перевозчику)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="WhereStoragePlace" type="res_us:PlaceStoreInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Место размещения припасов после их выгрузки  (передачи)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AttachedDocuments" type="res_us:AttachedDocumentsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Перечень прилагаемых документов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Reason" type="res_us:ReasonsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Причина отказа в выдаче разрешения со ссылкой на норму (статья 201) ФЗ  от 3 августа 2018 г. № 289-ФЗ «О таможенном регулировании в Российской Федерации и о внесении изменений в отдельные
законодательные акты Российской Федерации», в соответствии с которой принято решение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsChief" type="cat_ru:CustomsPersonType">
            <xs:annotation>
              <xs:documentation>Подпись начальника (заместителя начальника) таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1003008E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AircraftInformationType">
    <xs:annotation>
      <xs:documentation>Сведения о регистрации и национальной  принадлежности воздушного судна</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AircraftRegNumber" type="clt_ru:CodeVariable11Type">
        <xs:annotation>
          <xs:documentation>Регистрационный знак (номер) воздушного судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AircraftCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение страны регистрации воздушного судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AircraftCountryName" type="clt_ru:CountryNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование страны регистрации воздушного судна</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttachedDocumentsType">
    <xs:annotation>
      <xs:documentation>Сведения о прилагаемом документе</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="ElectronicDocumentID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор документа, присвоенный информационной системой таможенных органов при представлении документа в электронном виде</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ElectronicArchID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор хранилища электронных документов при представлении документа в электронном виде</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentModeID" type="clt_ru:DocumentModeIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код вида представленного документа в соответствии с альбомом форматов электронных форм документов</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PlaceStoreInfoType">
    <xs:annotation>
      <xs:documentation>Местонахождение припасов</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PlaceKind" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Идентификатор места: 1 - воздушное судно, 2- водное судно, 3 - поезд, 4 - зона таможенного контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="AircraftInformation" type="res_us:AircraftInformationType">
          <xs:annotation>
            <xs:documentation>Сведения о регистрации и национальной принадлежности воздушного судна</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ShipDetails" type="res_us:ShipDetailsType">
          <xs:annotation>
            <xs:documentation>Реквизиты и характеристики водного судна</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Train" type="res_us:TrainInformationType">
          <xs:annotation>
            <xs:documentation>Сведения о номере и индексе поезда</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="StoragePlace" type="res_us:ZTKType">
          <xs:annotation>
            <xs:documentation>Место хранения выгруженных припасов</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="AddInfoPlaceStore" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Дополнительная информация о местонахождении припасов</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReasonsType">
    <xs:annotation>
      <xs:documentation>Причина отказа в выдаче разрешения со ссылкой на норму (статья 201) ФЗ от 3 августа 2018 г. № 289-ФЗ «О таможенном регулировании в Российской Федерации и о внесении изменений в отдельные
законодательные акты Российской Федерации», в соответствии с которой принято решение</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ReferenceNormFederalLaw" type="clt_ru:LetterIndicatorType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Ссылка на норму (статья 201) ФЗ (1 - заявление на передачу временно ввезенных товаров во владение и пользование иным перевозчикам не содержит сведения, предусмотренные частью 2 статьи 201 ФЗ от 3 августа 2018 г. № 289-ФЗ «О таможенном регулировании в Российской Федерации и о внесении изменений в отдельные
законодательные акты Российской Федерации»; 2 - несоблюдения условия, установленного частью 5 статьи 201 ФЗ от 3 августа 2018 г. № 289-ФЗ «О таможенном регулировании в Российской Федерации и о внесении изменений в отдельные
законодательные акты Российской Федерации»; 3 - подачи заявления на выгрузку (передачу) припасов в таможенный орган, которому не производилось таможенное декларирование находящихся на транспортном средстве международной перевозки (на борту водного или воздушного судна либо в поезде), прибывшем на таможенную территорию Союза.)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Reason" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="2">
        <xs:annotation>
          <xs:documentation>Доп. сведения о причине отказа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ShipDetailsType">
    <xs:annotation>
      <xs:documentation>Реквизиты и характеристики судна</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ShipIMONumber" type="clt_ru:CodeVariable7Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИМО номер судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShipName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Наименование судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShipCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код страны принадлежности судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShipCountryName" type="clt_ru:CountryNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование страны принадлежности судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShipRegDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата регистрации судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShipRegNum" type="clt_ru:CodeVariable10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер регистрации судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShipRegPort" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порт регистрации судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShipOwnerName" type="clt_ru:NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование судовладельца</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShipType" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShipRegistrationOtherInfo" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Иные сведения о регистрации водного судна</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StoresInfoType">
    <xs:annotation>
      <xs:documentation>Информация о выгружаемых (передаваемых) припасах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NumPP" type="clt_ru:CodeVariable10Type">
        <xs:annotation>
          <xs:documentation>№ п/п </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NameStores" type="clt_ru:FreeText250Type" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Наименование припасов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StoresQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество припасов в основной единице измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество припасов в дополнительной единице измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsNomenclatureCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TrainInformationType">
    <xs:annotation>
      <xs:documentation>Сведения о номере и индексе поезда</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TrainNumber" type="clt_ru:TransportMeansIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер поезда</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TrainIndex" type="clt_ru:Code15Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Индекс поезда</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ZTKType">
    <xs:annotation>
      <xs:documentation>Место хранения припасов в зоне таможенного контроля</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Customs" type="cat_ru:CustomsType">
        <xs:annotation>
          <xs:documentation>Код и наименование таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="RUScat_ru:RUAddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Почтовый адрес</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер документа, подтверждающего создание зоны таможенного контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата документа, подтверждающего создание зоны таможенного контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateBegin" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата создания зоны таможенного контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateEnd" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата ликвидации зоны таможенного контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>