XsltProcessor/xsd/5.23.0/Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:cltExch_ru="urn:customs.ru:Information:ExchangeDocuments:ExchangeCommonLeafTypes:5.0.8" xmlns:rslt="urn:customs.ru:Information:ExchangeDocuments:Result:5.22.0" targetNamespace="urn:customs.ru:Information:ExchangeDocuments:Result:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:ExchangeDocuments:ExchangeCommonLeafTypes:5.0.8" schemaLocation="ExchangeCommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Результат обработки сообщения / выполнения операции.</xs:documentation>
  </xs:annotation>
  <xs:element name="Result" type="rslt:ResultType" />
  <xs:complexType name="ResultType">
    <xs:annotation>
      <xs:documentation>Уведомление о результате проверки / обработке сообщения</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Response" type="rslt:ResponseType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Результат выполнения операции</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1004054E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="DocumentResultType">
    <xs:annotation>
      <xs:documentation>Результат обработки документа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ResultCode" type="cltExch_ru:ResultCodeType">
        <xs:annotation>
          <xs:documentation>Код обработки сообщения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор документа - результата обработки.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EADInfoType">
    <xs:annotation>
      <xs:documentation>Информация о документах в архиве декларанта</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ArchDeclID" type="clt_ru:ArchiveDeclarantIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор декларанта а ЭАД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArchID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор архива</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArchDocID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор документа в архиве декларанта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArchDocStatus" type="clt_ru:ArchStatusCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Статус документа в архиве.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EventListType">
    <xs:annotation>
      <xs:documentation>Информация о событиях / сообщениях</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MessageCode" type="cltExch_ru:MessageCodeType">
        <xs:annotation>
          <xs:documentation>Код сообщения согласно спецификации обмена.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MessageDescription" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание сообщения (справочник сообщений).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProcState" type="clt_ru:ArchStatusCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Статус процесса после обработки сообщения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecvDateTime" type="clt_ru:DateTimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата и время приема сообщения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SendDateTime" type="clt_ru:DateTimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата/время отправки сообщения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentCode" type="clt_ru:DocumentModeIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код вида документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentDescription" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание вида документа (справочник)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MessageID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор обработанного сообщения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MsgInitialEnvelopeID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ссылочный идентификатор сообщения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MsgPreparationDateTime" type="clt_ru:DateTimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата/время  создания сообщения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MsgDocumentID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MsgRefDocumentID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ссылочный идентификатор документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentResult" type="rslt:DocumentResultType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Результат обработки документа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemInfoType">
    <xs:annotation>
      <xs:documentation>Описание элемента документа, в котором допущена ошибка</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefItem" type="cltExch_ru:ReferenceItemType">
        <xs:annotation>
          <xs:documentation>Ссылка на элемент с ошибкой.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecommendValue" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Рекомендуемое значение.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProcInformationType">
    <xs:annotation>
      <xs:documentation>Информация о процессе для которого запрашивается статус/история</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ProcState" type="clt_ru:ArchStatusCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Текущий статус процесса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProcessID" type="cltExch_ru:ProcessIDType">
        <xs:annotation>
          <xs:documentation>Идентификатор процесса, для которого запрашивается статус / история</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MainProcessID" type="cltExch_ru:ProcessIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор основного процесса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StateDescription" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание статусного состояния</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SoftVersion" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Версия программного обеспечения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EventList" type="rslt:EventListType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Информация о событиях / сообщениях</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResponseType">
    <xs:annotation>
      <xs:documentation>Элемент, содержащий результат выполнения операции (положительный или отрицательный)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefDocumentID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор документа, в котором была допущена ошибка.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocumentNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Прикладной номер исходного документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CreateDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата создания документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CreateTime" type="clt_ru:TimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Время создания документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResultInformation" type="rslt:ResultInformationType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код возврата при обработке сообщения, результат выполнения операции (запрос к ЭАД, запрос статуса/истории процесса)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResultInformationType">
    <xs:annotation>
      <xs:documentation>Информация  о  результате обработки документа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ResultSource" type="cltExch_ru:ResultSourceType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Источник ошибки. Код подсистемы, вернувшей ошибку.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResultCode" type="cltExch_ru:ResultCodeType">
        <xs:annotation>
          <xs:documentation>Код ошибки.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResultDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Текстовое описание ошибки.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResultCategory" type="cltExch_ru:ResultCategoryType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Степень критичности ошибки. Код или мнемоническое описание.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RefLineID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор строки запроса к электронному архиву</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ItemInfo" type="rslt:ItemInfoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ссылка на элемент с ошибкой.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EADInfo" type="rslt:EADInfoType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Информация о документах в архиве декларанта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProcInformation" type="rslt:ProcInformationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Информация о процессе, для которого запрашивается статус/история</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>