XsltProcessor/xsd/5.23.0/ReturnExpressCargoDeclaration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Реестр возвращаемых экспресс-грузов -->
<!-- Решение Коллегии ЕЭК от 28.08.2018 № 142,  Решение Коллегии ЕЭК от 16.10.2018 № 158. технология ФТС -->
<xs:schema xmlns:recd="urn:customs.ru:Information:CustomsDocuments:ReturnExpressCargoDeclaration:5.23.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:RUDECLcat="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.23.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:ReturnExpressCargoDeclaration:5.23.0" elementFormDefault="qualified" version="5.23.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.23.0" schemaLocation="RUDeclCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Декларация на товары и пассажирская таможенная декларация для экспресс-грузов (возвращаемые грузы)</xs:documentation>
  </xs:annotation>
  <xs:element name="ReturnExpressCargoDeclaration" type="recd:ReturnExpressCargoDeclarationType">
    <xs:annotation>
      <xs:documentation>Реестр возвращаемых экспресс-грузов </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ConsigneeDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о получателе</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUDECLcat:GoodsShipmentSubjectDetailsType">
        <xs:sequence>
          <xs:element name="PersonSign" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак физического лица</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ReturnExpressCargoDeclarationType">
    <xs:annotation>
      <xs:documentation>Декларация на товары и пассажирская таможенная декларация для экспресс-грузов (возвращаемые грузы)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="EECEDocHeaderAddInfo" type="RUScat_ru:EECEDocHeaderAddInfoType">
            <xs:annotation>
              <xs:documentation>Дополнительные технологические реквизиты электронного документа (сведений)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExpressRegistryKindCode" type="clt_ru:CodeVariable5Type">
            <xs:annotation>
              <xs:documentation>Кодовое обозначение вида таможенной декларации для экспресс-грузов: ДТЭГ-декларация на товары для экспресс-грузов; ПТДЭГ-пассажирская таможенная декларация для экспресс-грузов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeclarationKindCode" type="clt_ru:CUCustomsProcedureType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код типа таможенной декларации (ИМ/ЭК) </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsModeCode" type="cltESAD_cu:CustomsModeCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Кодовое обозначение вида заявляемой таможенной процедуры</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PreviousCustomsModeCode" type="cltESAD_cu:CustomsModeCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Кодовое обозначение вида предшествующей таможенной процедуры </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeclarationKind" type="cltESAD_cu:CustomsDeclarationKindType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Кодовое обозначение особенности таможенного декларирования товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReturnNumber" type="clt_ru:Count3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Порядковый номер возвращаемого реестра к ввозному реестру</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsShipment" type="recd:GoodsShipmentType">
            <xs:annotation>
              <xs:documentation>Сведения о товарной партии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BrokerName" type="clt_ru:NameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование таможенного представителя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BrokerRegistryDocDetails" type="RUDECLcat:BrokerRegistryDocDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о включении лица в реестр таможенных представителей</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SignatoryPerson" type="recd:SignatoryPersonDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о физическом лице, заполнившем (подписавшем) таможенный документ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006349E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="GoodsLocationDetailsType">
    <xs:annotation>
      <xs:documentation>Местонахождение товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsLocationPlaceCode" type="clt_ru:Code2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение места нахождения товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsOfficeCode" type="clt_ru:CustomsCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PlaceName" type="clt_ru:ShortNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование места нахождения товаров (железнодорожной станции, морского (речного) порта, воздушного пункта пропуска)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsControlZoneID" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер (регистрационный номер) зоны таможенного контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegisterDocumentIdDetails" type="catESAD_cu:AEORegistryIdDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Свидетельство о включении в : реестр уполномоченных экономических операторов, реестр владельцев складов временного хранения, складов хранения собственных товаров, таможенных складов, свободных складов или магазинов беспошлинной торговли</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodLocationTransportMeansDetails" type="catESAD_cu:CUTransportType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о транспортном средстве, на котором находятся товары.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SubjectAddressDetails" type="RUScat_ru:RUAddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес местонахождения товаров. </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsShipmentType">
    <xs:annotation>
      <xs:documentation>Сведения о товарной партии</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsLocation" type="recd:GoodsLocationDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о местонахождении товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HouseShipment" type="recd:HouseShipmentDetailsType" maxOccurs="500">
        <xs:annotation>
          <xs:documentation>Сведения о товарной партии по индивидуальной накладной</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UnifiedGrossWeightQuantity" type="cat_ru:SupplementaryQuantityType">
        <xs:annotation>
          <xs:documentation>Общий вес брутто по возвращаемому реестру</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HouseShipmentDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарной партии по индивидуальной накладной</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="WayBillID" type="clt_ru:DocumentIDType">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор партии товаров в текущем реестре</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ObjectOrdinal" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер индивидуальной накладной в текущем реестре</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrevApplicationRegNum" type="cat_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер исходного реестра</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrevWayBillID" type="clt_ru:DocumentIDType">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор партии товаров в ввозном реестре</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrevListNumeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Номер партии товаров в ввозном реестре </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HouseWaybillDetails" type="recd:WaybillDetailsType">
        <xs:annotation>
          <xs:documentation>Сведения об индивидуальной накладной</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConsigneeDetails" type="recd:ConsigneeDetailsType">
        <xs:annotation>
          <xs:documentation>Сведения о получателе по индивидуальной накладной</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UnifiedGrossWeightQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общий вес брутто по индивидуальной накладной</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SignatoryPersonDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о физическом лице, заполнившем (подписавшем) таможенный документ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SigningDetails" type="RUScat_ru:SigningDetailsType">
        <xs:annotation>
          <xs:documentation>Cведения о должностном лице, подписавшем документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SignatoryPersonIdentityDetails" type="RUDECLcat:SignatoryPersonIdentityDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о документе, удостоверяющем личность лица, заполнившего (подписавшего) таможенный документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QualificationCertificate" type="clt_ru:CodeVariable6Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер квалификационного аттестата специалиста по таможенному оформлению</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PowerOfAttorneyDetails" type="catESAD_cu:DocBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Документ, удостоверяющий полномочия</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WaybillDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о накладной</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="DocKindCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Кодовое обозначение вида документа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>