XsltProcessor/xsd/5.23.0/RosstandartVehicleApproval.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
DocKind=0 и 1 - Постановление Госстандарта России от 17.03.1998 г. № 12, Приложение В
DocKind=2 - Решение Коллегии ЕЭК от 09.12.2014 г. № 232, Раздел III Приложения 1
DocKind=3 - Приказ Росстандарта от 30.11.2010 г. № 4777, Приложение 1а, 1б
DocKind=4 - Решение Коллегии ЕЭК от 09.12.2014 г. № 232, Раздел VI Приложения 1
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:rstvha="urn:customs.ru:Information:SQDocuments:RosstandartVehicleApproval:5.22.0" targetNamespace="urn:customs.ru:Information:SQDocuments:RosstandartVehicleApproval:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
	<xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:annotation>
		<xs:documentation>Одобрение типа транспортного средства/ Свидетельство о безопасности конструкции транспортного средства/ Сертификат соответствия при обязательной сертификации продукции/ Сертификат соответствия при добровольной сертификации продукции</xs:documentation>
	</xs:annotation>
	<xs:element name="RosstandartVehicleApproval" type="rstvha:RosstandartVehicleApprovalType">
		<xs:annotation>
			<xs:documentation>Одобрение типа транспортного средства/ Свидетельство о безопасности конструкции транспортного средства/ Сертификат соответствия при обязательной сертификации продукции/ Сертификат соответствия при добровольной сертификации продукции</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RosstandartVehicleApprovalType">
		<xs:annotation>
			<xs:documentation>Одобрение типа транспортного средства/ Свидетельство о безопасности конструкции транспортного средства/ Сертификат соответствия при обязательной сертификации продукции/ Сертификат соответствия при добровольной сертификации продукции</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="DocKind" type="clt_ru:Numeric1Type">
						<xs:annotation>
							<xs:documentation>Тип документа: 0 - Сертификат соответствия при обязательной сертификации продукции по форме Приложения В Постановления Госстандарта России от 17.03.1998 г. № 12; 1 - Сертификат соответствия при добровольной сертификации продукции по форме Приложения В Постановления Госстандарта России от 17.03.1998 г. № 12; 2 - Одобрение типа транспортного средства по форме Раздела III Приложения 1 Решения Коллегии ЕЭК от 09.12.2014 г. № 232; 3 - Одобрение типа транспортного средства по форме Приложений 1а и 1б Приказа Росстандарта от 30.11.2010 г. № 4777; 4 - Свидетельство о безопасности конструкции транспортного средства по форме Раздела VI Приложения 1 Решения Коллегии ЕЭК от 09.12.2014 г. № 232. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocId" type="clt_ru:DocumentNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер Сертификата/ОТТС</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BlankNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Учетный номер бланка</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocRegNumber" type="rstvha:DocRegNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер одобрения типа транспортного средства/ одобрения типа шасси/ свидетельства о безопасности конструкции транспортного средства</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocRegNumber_1" type="clt_ru:Text50Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер одобрения типа транспортного средства/ одобрения типа шасси/ свидетельства о безопасности конструкции транспортного средства одной строкой</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IssueDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата оформления</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TCvalidityBegin" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата начала действия ОТТС/Сертификата</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TCvalidityEnd" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата окончания действия ОТТС/Сертификата</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CertificateOrg" type="rstvha:CertificateOrgType">
						<xs:annotation>
							<xs:documentation>Наименование, регистрационный номер и местонахождение органа по сертификации, выдавшего документ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TCtypeApprovalsAddition" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Примечание (дополнительная информация)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TCtypeResult" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак положительного ответа (1 - да. 0 - нет)/ Признак соответствия требованиям ТР ТС «О безопасности колесных транспортных средств».(1 - соответствует, 0 - не соответствует)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransportMean" type="rstvha:TransportMeanType">
						<xs:annotation>
							<xs:documentation>Транспортное средство</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VehicleLabel" type="rstvha:VehicleLabelType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Описание маркировки транспортного средства (Приложение 3 к Приложению 1 Решения Коллегии ЕЭК от 09.12.2014 г. № 232)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NotifLawArticle" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Обозначение нормативных документов, на соответствие которым проведена сертификация (с указанием разделов или пунктов, содержащих подтверждаемые требования)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BaseDocuments" type="rstvha:BaseDocumentsType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Документы, на основании которых органом по сертификации выдан сертификат</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ApprovalBaseDocuments" type="rstvha:ApprovalBaseDocumentsType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Перечень документов, явившихся основанием для оформления Одобрения типа транспортного средства</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Applicant" type="RUScat_ru:SubjectDetailsType">
						<xs:annotation>
							<xs:documentation>Заявитель/Получатель сертификата</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RegisterSignature" type="cat_ru:PersonBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Руководитель органа, выдавшего сертификат</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Expert" type="cat_ru:PersonBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Эксперт</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009053E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы.</xs:documentation>
	</xs:annotation>
	<xs:complexType name="ApprovalBaseDocumentsType">
		<xs:annotation>
			<xs:documentation>Документ, явившийся основанием для оформления Одобрения типа транспортного средства</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ElementsObjTechnReg" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Элементы объектов технического регулирования, в отношении которых установлены требования безопасности</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameAndOriginDoc" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование и происхождение документа, подтверждающего соответствие</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата документа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BaseDocumentsType">
		<xs:annotation>
			<xs:documentation>Документ, на основании которого органом по сертификации выдан сертификат</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="DocKind" type="clt_ru:DocumentNameType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Вида документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocumentBeginActionsDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата начала действия документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocumentEndActionsDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата окончания действия документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrganizationName" type="clt_ru:FreeText500Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Орган, выдавший документ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Address" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Адрес</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BrakeSystemsType">
		<xs:annotation>
			<xs:documentation>Тормозные системы</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Working" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Рабочая (описание)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Spare" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Запасная (описание)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Parking" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Стояночная (описание)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Auxiliary" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вспомогательная (износостойкая) (описание)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CertificateOrgType">
		<xs:annotation>
			<xs:documentation>Орган сертификации</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:SubjectDetailsType">
				<xs:sequence>
					<xs:element name="DocumentNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер аттестата аккредитации органа по сертификации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocumentDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата окончания срока действия аттестата аккредитации органа по сертификации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Principal" type="rstvha:Text60Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Руководитель</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DimensionInfoType">
		<xs:annotation>
			<xs:documentation>Габаритные размеры, мм</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Lenght" type="clt_ru:OverallDimensionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Длина</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Wight" type="clt_ru:OverallDimensionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ширина</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Height" type="clt_ru:OverallDimensionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Высота (для контейнеровозов - погрузочная)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxHeight" type="clt_ru:OverallDimensionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Высота для контейнеровозов - максимальная допустимая</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocRegNumberType">
		<xs:annotation>
			<xs:documentation>Номер одобрения типа транспортного средства/ одобрения типа шасси/ свидетельства о безопасности конструкции транспортного средства</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CountryCode" type="clt_ru:CountryA2CodeType">
				<xs:annotation>
					<xs:documentation>Код выдавшего документ государства-члена</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocCode" type="clt_ru:LetterIndicatorType">
				<xs:annotation>
					<xs:documentation>Код документа, удостоверяющего соответствие техническому регламенту, который состоит из 1 прописной буквы кириллицы (А - свидетельство о безопасности конструкции транспортного средства, Е - одобрение типа транспортного средства, К - одобрение типа шасси)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManufacturerCountryCode" type="clt_ru:CountryA2CodeType">
				<xs:annotation>
					<xs:documentation>Код государства места нахождения изготовителя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrganizationCode" type="clt_ru:Code4Type">
				<xs:annotation>
					<xs:documentation>Код организации, оформившей и выдавшей документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocNumber" type="clt_ru:Code5Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер документа, начиная с 00001 </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumPP" type="clt_ru:Code2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код пересмотра документа. Первую позицию занимает прописная буква кириллицы (И - исправление, Р - распространение, П - продление). Вторая позиция - цифра, обозначающая порядковый номер пересмотра документа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ElectricEngineType">
		<xs:annotation>
			<xs:documentation>Электродвигатель электромобиля</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BrandEngine" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Марка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeEngine" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatingVoltage" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Рабочее напряжение, В</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineMaxPowerMeasure" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Максимальная 30-минутная мощность, кВт</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EnergyStorageDeviceType">
		<xs:annotation>
			<xs:documentation>Устройство накопления энергии</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BrandBattery" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Батарея (марка)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeBattery" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Батарея (тип)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ElChemicSteam" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Электрохимическая пара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QuantityEl" type="clt_ru:Quantity5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество элементов</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Mass" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Масса, кг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatingVoltage" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Рабочее напряжение, В</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Capacity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Емкость, А-ч</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Location" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Место расположения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BrandCapacitor" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Конденсатор (марка)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeCapacitor" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Конденсатор (тип)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnergyIntensity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Энергоемкость, Дж</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BrandGenerator" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Маховик/генератор (марка)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeGenerator" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Маховик/генератор (тип)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PowerReserve" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Запас хода, км</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExhaustSystemGasType">
		<xs:annotation>
			<xs:documentation>Система выпуска и нейтрализации отработавших газов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Neutralizers" type="rstvha:NeutralizersType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Нейтрализаторы (маркировка)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IntakeSilencers" type="rstvha:IntakeSilencersType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Глушители (маркировка)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ParticulateFilter" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Фильтр твердых частиц</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HybridVehicleType">
		<xs:annotation>
			<xs:documentation>Описание гибридного транспортного средства</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Recharging" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Предусмотрена или не предусмотрена подзарядка от внешнего источника (1 - предусмотрена; 0 - не предусмотрена)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatingModes" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Предусмотренные режимы работы (0 - только двигатель внутреннего сгорания; 1 - только  электродвигатель; 2 - совмещенный)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CombinedMode" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Краткое  описание совмещенного режима работы</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IntakeSilencersType">
		<xs:annotation>
			<xs:documentation>Глушители шума (маркировка)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Stage1Mark" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>1 ступень</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stage2Mark" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>2 ступень</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stage3Mark" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>3 ступень</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InternalCombustionEngineType">
		<xs:annotation>
			<xs:documentation>Двигатель внутреннего сгорания</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BrandEngine" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Марка / марка и тип для DocKind=«4»</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeEngine" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cylinders" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество и расположение цилиндров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineVolumeQuanity" type="clt_ru:EngineVolumeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Рабочий объем цилиндров, см3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompressionRatio" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Степень сжатия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineMaxPowerMeasure" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Максимальная мощность, кВт (мин.-1)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineMaxTorque" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Максимальный крутящий момент, Н-м (мин.-1)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Fuel" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Топливо</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddInfo" type="RUSclt_ru:FreeText1000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дополнительная информация по ДВС</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MainGearType">
		<xs:annotation>
			<xs:documentation>Главная передача</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TypeMainGear" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип главной передачи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GearRatio" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Передаточное число</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IntermediateGearRatio" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Передаточное число промежуточной передачи</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NeutralizersType">
		<xs:annotation>
			<xs:documentation>Нейтрализаторы (маркировка)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Stage1Mark" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>1 ступень</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Stage2Mark" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>2 ступень</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShippingDocumentsType">
		<xs:annotation>
			<xs:documentation>Товаросопроводительный документ</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="PresentedDocumentModeCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код вида представляемого документа. Заполняется в соответствии с классификатором видов документов, используемых при заявлении сведений в графе 44 ДТ (справочник docg44.dbf).</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SteeringType">
		<xs:annotation>
			<xs:documentation>Рулевое управление</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Description" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Описание</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeMechanism" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Рулевой механизм (тип)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubjectDetailsType">
		<xs:annotation>
			<xs:documentation>Сборочные заводы и их адреса / Адреса мест изготовления</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:SubjectDetailsType">
				<xs:sequence>
					<xs:element name="NameAddress" type="clt_ru:FreeText500Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Наименование и адрес завода одной строкой&gt;</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TransmissionType">
		<xs:annotation>
			<xs:documentation>Трансмиссия</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BrandElectricMachine" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Электромашина (марка)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeElectricMachine" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Электромашина (тип)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OperatingVoltage" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Рабочее напряжение, В</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineMaxPowerMeasure" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Максимальная 30-минутная мощность, кВт</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BrandClutch" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сцепление (марка)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeClutch" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сцепление (тип)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BrandGearbox" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Коробка передач (марка)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeGearbox" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Коробка передач (тип)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GearRatios" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Число передач и передаточные числа коробки передач</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeTransferBox" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Раздаточная коробка (тип)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GearRatiosTransferBox" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Число передач и передаточные числа раздаточной коробки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MainGear" type="rstvha:MainGearType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Главная передача</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransportMeanType">
		<xs:annotation>
			<xs:documentation>Транспортное средство</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TCtradeName" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Коммерческое наименование ТС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tctype" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип транспортного средства, присвоенный изготовителем</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Vctype" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вид транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tcbrand" type="clt_ru:TransportNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Марка транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TcchassisBrand" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Марка шасси транспортного средства, присвоенная изготовителем </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TcchassisBrandOtherManuf" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Марка шасси транспортного средства другого изготовителя, используемых в качестве базовых при производстве транспортного средства, на которое оформляется одобрение</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TcchassisType" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип шасси транспортного средства, присвоенный изготовителем</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TctypeOtherManufacturer" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип транспортного средства или шасси транспортного средства другого изготовителя, используемых в качестве базовых при производстве транспортного средства, на которое оформляется одобрение</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Standard" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Стандарт (ГОСТ, ОСТ, СПП, СТО, ТУ)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SeriesSign" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак: 1 - "единичное изделие", 2 - "партия", 3 - "серийный выпуск"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartySize" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Размер партии</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SerialNumber" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер партии/изделия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShippingDocuments" type="rstvha:ShippingDocumentsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товаросопроводительные документы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EcoClass" type="clt_ru:CodeVariable7Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Экологический класс ТС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tcmodifications" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Модификации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tccategory" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Категория</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductCode" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код продукции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tnved" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Manufacturer" type="RUScat_ru:SubjectDetailsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения об изготовителе(ях)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManufacturerAgent" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Представитель изготовителя и его адрес</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AssemblyPlant" type="rstvha:SubjectDetailsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сборочные заводы и их адреса / Адреса мест изготовления</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Supplier" type="RUScat_ru:SubjectDetailsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Поставщик сборочных комплектов и его адрес</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VINIDDetails" type="rstvha:VINIDDetailsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения об идентификационных номерах (VIN)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WheelsInfoKatL" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество  и расположение колес (только для транспортных средств категории L)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WheelsInfoKatO" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество осей/колес (только для транспортных средств категории O)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WheelsInfoNotKatO" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Колесная формула/ведущие колеса (за  исключением  транспортных  средств категории O)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehicleLayout" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Схема компоновки транспортного средства (за исключением транспортных средств категории O)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineLocation" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Расположение двигателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehicleBody" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип кузова/количество дверей (только для транспортных средств категории M)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BootSpaceExecution" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Исполнение загрузочного пространства (только  для  транспортных  средств категорий N и O)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehicleFunction" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Назначение (только для специальных и специализированных транспортных средств)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumberSeats" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество мест для сидения (только для транспортных средств категорий M и L, для транспортных средств категории M1 - с распределением по рядам)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PassengerCapacity" type="clt_ru:Quantity3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Пассажировместимость (только для транспортных средств категорий M2 и M3)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalLuggageSpace" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Общий объем багажных отделений (только для транспортных средств категории класса III)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cabin" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кабина (только для транспортных средств категории N)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Frame" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Рама (только для транспортных средств категории L)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Base" type="clt_ru:OverallDimensionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>База</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DimensionInfo" type="rstvha:DimensionInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Габаритные размеры, мм</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FrontTrack" type="clt_ru:OverallDimensionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Колея передних колес (за исключением одноколейных транспортных средств категории L), мм</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BackTrack" type="clt_ru:OverallDimensionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Колея передних колес (за исключением одноколейных транспортных средств категории L), мм</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehicleMass" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Масса транспортного средства в снаряженном состоянии, кг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehicleMaxMass" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Технически допустимая максимальная масса транспортного средства, кг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehicleMaxMassAxle" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Технически допустимая максимальная масса, приходящаяся на каждую из осей транспортного средства, начиная с передней оси, кг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RoadTrainMaxMass" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Технически допустимая максимальная масса автопоезда (только для транспортных средств категории N), кг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrailerNotBrakeMaxMass" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Максимальная масса прицепа (прицеп без тормозной системы), кг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrailerBrakeMaxMass" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Максимальная масса прицепа (прицеп с тормозной системой), кг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxLoadFifthWheel" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Технически допустимая максимальная нагрузка на опорно-сцепное устройство, даН</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HybridVehicle" type="rstvha:HybridVehicleType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Описание гибридного транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InternalCombustionEngine" type="rstvha:InternalCombustionEngineType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Двигатель внутреннего сгорания</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PowerSystem" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Система питания (тип)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CarburetorKind" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Карбюратор (тип)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CarburetorMark" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Карбюратор (маркировка)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ControlBlock" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Блок управления (маркировка)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HPFPKind" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ТНВД (тип)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HPFPMark" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ТНВД (маркировка)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NozzlesKind" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Форсунки (тип)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NozzlesMark" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Форсунки (маркировка)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirBlowerKind" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Нагнетатель воздуха (тип)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirBlowerMark" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Нагнетатель воздуха (маркировка)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirFilterKind" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Воздушный фильтр (тип)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AirFilterMark" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Воздушный фильтр (маркировка)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IntakeSilencers" type="rstvha:IntakeSilencersType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Глушители шума впуска (маркировка)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IgnitionSystemKind" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Система зажигания (тип)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DistributorMark" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Распределитель (маркировка)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommutatorMark" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Коммутатор (маркировка)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IgnitionCoilMark" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Катушка (модуль) зажигания (маркировка)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CandlesMark" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Свечи (маркировка)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExhaustSystemGas" type="rstvha:ExhaustSystemGasType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Система выпуска и нейтрализации отработавших газов</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ElectricEngine" type="rstvha:ElectricEngineType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Электродвигатель электромобиля</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnergyStorageDevice" type="rstvha:EnergyStorageDeviceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Устройство накопления энергии</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Transmission" type="rstvha:TransmissionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Трансмиссия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FrontSuspension" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Подвеска передняя (описание)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BackSuspension" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Подвеска задняя (описание)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Steering" type="rstvha:SteeringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Рулевое управление</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BrakeSystems" type="rstvha:BrakeSystemsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тормозные системы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tyres" type="rstvha:TyresType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Шины</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Equipment" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Оборудование транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductionYear" type="clt_ru:DateYearCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Год производства транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TyresType">
		<xs:annotation>
			<xs:documentation>Шины</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SizeDesign" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Обозначение размера</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LoadCapacityIndex" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Индекс несущей способности для максимально допустимой нагрузки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpeedCategoryDesign" type="clt_ru:Text150Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Обозначение категории скорости</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VehicleLabelType">
		<xs:annotation>
			<xs:documentation>Описание маркировки транспортного средства</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LocationSingleSign" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Место расположения и форма единого знака обращения на рынке государств - членов Евразийского экономического союза</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManufNameplateLocation" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Место расположения таблички изготовителя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IDNumberLocation" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Место расположения идентификационного номера</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IDNumber" type="clt_ru:VINIDType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Структура и содержание идентификационного номера (номеров) транспортных средств</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IDNumberContents" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Содержание идентификационного номера с указанием значений символов, составляющих идентификационный номер</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VINIDDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения об идентификационных номерах (VIN)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VinList" type="rstvha:VinListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Перечень идентификационных номеров (VIN)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VINRange" type="rstvha:VINRangeType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Диапазон идентификационных номеров (VIN)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VinListType">
		<xs:annotation>
			<xs:documentation>Перечень идентификационных номеров (VIN)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VINID" type="clt_ru:VINIDType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Идентификационный номер (идентификатор) контрольного (идентификационного) знака</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VINRangeType">
		<xs:annotation>
			<xs:documentation>Диапазон идентификационных номеров (идентификаторов) контрольных (идентификационных) знаков</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FirstVIN" type="clt_ru:VINIDType">
				<xs:annotation>
					<xs:documentation>Первый номер диапазона идентификационных номеров (VIN)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastVIN" type="clt_ru:VINIDType">
				<xs:annotation>
					<xs:documentation>Последний номер диапазона идентификационных номеров (VIN)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Text60Type">
		<xs:annotation>
			<xs:documentation>Символьные данные. До 60 символов. Текстовый</xs:documentation>
		</xs:annotation>
		<xs:restriction base="CategoryCust:TextCategoriesCust">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
