XsltProcessor/xsd/5.23.0/RUESADDTSCommonAggregateTypesCust.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:catESAD_ru="urn:customs.ru:RUCommonAggregateTypes:5.23.0" xmlns:cat_EDTS_cu="urn:customs.ru:CUESADDTSCommonAggregateTypes:5.22.0" xmlns:cat_EDTS_ru="urn:customs.ru:RUESADDTSCommonAggregateTypes:5.23.0" targetNamespace="urn:customs.ru:RUESADDTSCommonAggregateTypes:5.23.0" elementFormDefault="qualified" version="5.23.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUCommonAggregateTypes:5.23.0" schemaLocation="RUESADCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADDTSCommonAggregateTypes:5.22.0" schemaLocation="CUESADDTSCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation> ДТС. Общие сложные типы. России</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CustomsCostDecisionType">
    <xs:annotation>
      <xs:documentation>Сведение о решении по таможенной стоимости.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DecisionCode" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Код решения о таможенной стоимости</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LNP" type="clt_ru:LNPIDType">
        <xs:annotation>
          <xs:documentation>ЛНП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateInf" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecisionDescription" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание принятого решения.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DTS3Method1AdditionalSumType">
    <xs:annotation>
      <xs:documentation>Дополнительные начисления. Гр. Б (13-17)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AgentBonus" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Расходы, произведенные покупателем на выплату вознаграждения агенту (посреднику), за исключением вознаграждений за оказание услуг, связанных с покупкой товаров. 13а</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PackageExpenses" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Расходы на тару и упаковку. 13б</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StoreCost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Стоимость сырья, материалов и комплектующих, которые являются составной частью вывозимых товаров. 14а</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductionToolkitCost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Стоимость инструментов, штампов, форм и других подобных предметов, использованных при производстве вывозимых товаров. 14б</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WorkingStockCost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Стоимость  материалов, израсходованных при производстве вывозимых товаров. 14в</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DesignPayment" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Стоимость проектирования, разработки, дизайна, оформления и пр., необходимых для производства оцениваемых товаров. 14г.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IntellectualPropertyPayment" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Платежи за использование объектов интеллектуальной собственности - см. графу 9 (а). 15</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SellerIncome" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Часть дохода, полученного в результате последующей продажи, распоряжения иным способом или использования товаров, которая прямо или косвенно причитается продавцу - см. графу 9 (б) 16</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalAdditionalSum" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Итого Б в национальной валюте. 17.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DTS3Method1DeductionType">
    <xs:annotation>
      <xs:documentation>Вычеты: Расходы в национальной валюте, которые включены в А. (гр. В 18-21)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="UnionTransportCharge" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Расходы по перевозке (транспортировке) товаров, осуществляемой для их вывоза с таможенной территории  Евразийского экономического союза, и расходы по последующей перевозке (транспортировке). 18</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UnionTaxPayment" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Пошлины, налоги и сборы, взимаемые на таможенной территории Евразийского экономического союза в связи с вывозом товаров. 19.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExportCountryTaxPayment" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Пошлины, налоги и сборы, взимаемые в отношении оцениваемых товаров в стране, в которую ввозятся эти товары. 20.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalDeductionAmount" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Итого В в национальной валюте. 21</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DTS3Method1Type">
    <xs:annotation>
      <xs:documentation>Подробности расчета таможенной стоимости по методу 1. ДТС3</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Method1CalculationBasis" type="cat_EDTS_cu:Method1CalculationBasisType">
        <xs:annotation>
          <xs:documentation>Основа расчета таможенной стоимости по методу 1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DTS3Method1AdditionalSum" type="cat_EDTS_ru:DTS3Method1AdditionalSumType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дополнительные начисления. Гр. Б (13-17)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DTS4Method236Type">
    <xs:annotation>
      <xs:documentation>Подробности расчета таможенной стоимости по методу 2,3,6</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Method2Basis" type="cat_EDTS_cu:Method2BasisType">
        <xs:annotation>
          <xs:documentation>Основа расчета таможенной стоимости по методу 2,3,6.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Method2DealCorrect" type="cat_EDTS_ru:DTS4Method2DealCorrectType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Корректировка стоимости  сделки.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DeclaratedGoodsQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество декларируемых (оцениваемых) товаров. 16б</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdenticalGoodsQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество идентичных/однородных товаров.16а</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DTS4Method2DealCorrectType">
    <xs:annotation>
      <xs:documentation>Корректировка стоимости  сделки. Гр. Б (13-15)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="QuantityCorrect" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Корректировка на количество. 13а</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CommerceCorrect" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Корректировка на коммерческий уровень. 13б</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalSum" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Итого графа 13  в национальной валюте. 14</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalDealCorrect" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>15. Стоимость сделки с учетом корректировок в национальной валюте 11+-14  </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DTS4Method56Type">
    <xs:annotation>
      <xs:documentation>Подробности расчета таможенной стоимости по методу 5,6</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TotalBasisSum" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Расчетная стоимость вывозимых товаров. 12</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductionStoreExpense" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Суммы расходов, произведенных на изготовление или приобретение материалов, и расходов на производство, а также иные операции, связанные с производством вывозимых товаров 12а</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CommerceExpense" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Суммы прибыли и коммерческих и управленческих расходов 12б</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DTSCustomsCostCalculationType">
    <xs:annotation>
      <xs:documentation>Расчет таможенной стоимости.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="DTS3Method1" type="cat_EDTS_ru:DTS3Method1Type">
          <xs:annotation>
            <xs:documentation>ДТС-3   Подробности расчета таможенной стоимости по методу 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="DTS4Method236" type="cat_EDTS_ru:DTS4Method236Type">
          <xs:annotation>
            <xs:documentation>ДТС 4 Подробности расчета таможенной стоимости по методу 2,3,6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="DTS4Method56" type="cat_EDTS_ru:DTS4Method56Type">
          <xs:annotation>
            <xs:documentation>Подробности расчета таможенной стоимости по методу 5,6</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DTSGoodsCustomsCostType">
    <xs:annotation>
      <xs:documentation>Таможенная стоимость по товару.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SheetNumber" type="clt_ru:SheetNumberType">
        <xs:annotation>
          <xs:documentation>Номер листа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SheetGoodsSerialNumber" type="clt_ru:DigitalIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порядковый номер товара на листе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MethodNumberCode" type="cltESAD_cu:CustomsCostAppraiseMethodType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер метода. (Заполняется в соответствии с классификатором методов определения таможенной стоимости товаров, помещаемых под таможенные режимы, применимые к ввозимым товарам.)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BaseMethodNumberCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер базового метода </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GTDGoodsNumber" type="clt_ru:Count5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер товара по ДТ/списку </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NationalDeclaredCustomsCost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Заявленная таможенная стоимость в национальной валюте</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DollarDeclaredCustomsCost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Заявленная таможенная стоимость в долларах США</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsAddTNVEDCode" type="clt_ru:CodeVariable4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по классификатору дополнительной таможенной информации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCostCalculation" type="cat_EDTS_ru:DTSCustomsCostCalculationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Расчет таможенной стоимости.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DTSCurrencyPayment" type="cat_EDTS_cu:DTSCurrencyPaymentType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Информация  по сумме оплаты в валюте.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdditionalData" type="cat_EDTS_cu:AdditionalDataType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Дополнительная информация. Кроме предусмотренной в соответствующих графах.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DTSMethod4Type">
    <xs:annotation>
      <xs:documentation>Метод вычитания. (4)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Method4Basis" type="cat_EDTS_ru:Method4BasisType">
        <xs:annotation>
          <xs:documentation>Основа для расчета таможенной стоимости по методу 4 гр. А (11)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Method4Deduction" type="cat_EDTS_ru:Method4DeductionType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вычеты сумм, которые вошли в раздел А гр. Б (12-17)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DTSMethod5Type">
    <xs:annotation>
      <xs:documentation>Метод сложения таможенной стоимости. (5)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Method5Basis" type="cat_EDTS_ru:Method5BasisType">
        <xs:annotation>
          <xs:documentation>Основа для расчета таможенной стоимости по методу 5. Гр. А (11-15)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Method5AdditionalSum" type="cat_EDTS_ru:Method5AdditionalSumType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дополнительные начисления  (иные затраты) гр. Б (16-17)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DTSMethod6Type">
    <xs:annotation>
      <xs:documentation>Резервный метод определения таможенной стоимости.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ValueBasisCustAmountRUR" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Величина основы для определения таможенной стоимости  в рублях.гр 11</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ValueBasisCustAmount" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Величина основы для определения таможенной стоимости в валюте. гр 11</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyRate" type="clt_ru:CurrencyRateType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Курс пересчета</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyCode" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код валюты</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Method6Calculation" type="cat_EDTS_ru:Method6CalculationType">
        <xs:annotation>
          <xs:documentation>Расчет  стоимости.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DTSOfficialMarkType">
    <xs:annotation>
      <xs:documentation> ДТС. Служебные отметки.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MarkIdentifier" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Идентификатор отметки </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MarkDescription" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Служебная запись </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>ФИО должностного лица, внесшего отметку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LNP" type="clt_ru:LNPIDType">
        <xs:annotation>
          <xs:documentation>ЛНП должностного лица, внесшего отметку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateInf" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата внесения служебной отметки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TimeInf" type="clt_ru:TimeCustType">
        <xs:annotation>
          <xs:documentation>Время внесения служебной отметки</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DTSOrganizationType">
    <xs:annotation>
      <xs:documentation>ДТС. Сведения об организации.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catESAD_ru:ESADOrganizationInType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Method4BasisType">
    <xs:annotation>
      <xs:documentation>Основа для расчета таможенной стоимости по методу 4 гр. А (11)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IdenticalDealRoublePrice" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Цена единицы оцениваемых, идентичных или однородных товаров  в рублях. 11.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Method4DeductionType">
    <xs:annotation>
      <xs:documentation>Вычеты сумм, которые вошли в раздел А гр. Б (12-17)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ExtraCharge" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Прибыль, комиссионные, торговые и иные подобные наценки (12)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RussiansTaxPayment" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ввозные таможенные пошлины, налоги, сборы и иные платежи в пользу государства, подлежащие уплате в Российской Федерации. 13.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RussianTransportCharge" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Расходы по транспортировке и иные накладные расходы после ввоза товаров в Российскую Федерацию. 14</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RussianProcessingCost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Стоимость переработки товаров в Российской Федерации. 15</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RussianAnyCarge" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Прочие расходы, включенные в цену продажи в Российской Федерации. 16</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalDeductionAmount" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Итого сумма вычетов. 17</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Method5AdditionalSumType">
    <xs:annotation>
      <xs:documentation>Дополнительные начисления  (иные затраты) гр. Б  (16-17)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="WorkingStockCost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Стоимость или соответствующая часть стоимости товаров и услуг, предоставленных изготовителю: сырьё, материалы, детали, полуфабрикаты и другие составляющие ввозимых товаров  16а</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductionToolkitCost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Стоимость инструментов, штампов, форм и други подобных предметов, использованных при производстве ввозимых товаров. 16б</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductionStoreCost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Материалы израсходованные при производстве. 16в</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DesignPayment" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Стоимость проектирования, разработки, дизайна, оформления и пр. выполненных вне территории Российской Федерации. 16г</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalAdditionalPayment" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Итого дополнительных начислений. 17</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Method5BasisType">
    <xs:annotation>
      <xs:documentation>Основа для расчета таможенной стоимости по методу 5.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StoreExpense" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Затраты на сырьё, материалы, детали, полуфабрикаты и другие составляющие оцениваемых товаров, понесённые изготовителем. 11</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductionExpense" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Издержки, понесённые изготовителем в связи с производством оцениваемых товаров (за исключением вошедших в графу 11) 12</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BorderTransportCharge" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Расходы по доставке до места ввоза в Российскую Федерацию. 13а</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PackageExpense" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Расходы на тару и упаковку. 13б</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OtherExpense" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Иные затраты. 13в.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExportProfit" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Величина прибыли, обычно получаемая экспортёром. 14.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalBasisAmount" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Итого А в рублях. 15</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Method6BasisType">
    <xs:annotation>
      <xs:documentation>Основа для расчета по методу 6</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CurrencyAmount" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Цена в валюте счета.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyCode" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код валюты счета</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NationalAmount" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Цена сделки в национальной валюте</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyRate" type="clt_ru:CurrencyRateType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Курс пересчета</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Method6CalculationType">
    <xs:annotation>
      <xs:documentation>Расчет  стоимости.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CalcilationDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание расчета.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>