XsltProcessor/xsd/5.23.0/ScanDoc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:scd="urn:customs.ru:Information:ExchangeDocuments:ScanDoc:5.22.0" targetNamespace="urn:customs.ru:Information:ExchangeDocuments:ScanDoc:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Запрос на сканирование документов / Предоставление информации о сканированных документах</xs:documentation>
  </xs:annotation>
  <xs:element name="ScanDoc" type="scd:ScanDocType">
    <xs:annotation>
      <xs:documentation>Запрос на сканирование документов / Предоставление информации о сканированных документах</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ScanDocType">
    <xs:annotation>
      <xs:documentation>Запрос на сканирование документов / Предоставление информации о сканированных документах</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DocSign" type="clt_ru:DigitalIndicatorType">
            <xs:annotation>
              <xs:documentation>Тип документа: 0 - Запрос на сканирование документов; 1 - Предоставление информации о сканированных документах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Stage" type="clt_ru:DigitalIndicatorType">
            <xs:annotation>
              <xs:documentation>Этап подачи документа: 1 - до таможенного декларирования; 2 - после подачи ДТ, до ее выпуска; 3 - после выпуска товаров; 9 - иное</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SendDate" type="clt_ru:DateTimeCustType">
            <xs:annotation>
              <xs:documentation>Дата и время документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ScanDate" type="clt_ru:DateTimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Желательная дата и время сканирования документов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RequestedDoc" type="scd:RequestedDocType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сканируемые документы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Declarant" type="RUScat_ru:SubjectBranchDetailsType">
            <xs:annotation>
              <xs:documentation>Декларант</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Таможенный орган сканирования</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustDocNumber" type="scd:CustDocNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер таможенного документа, к которому предъявляется документ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1004142E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CustDocNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер таможенного документа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice minOccurs="0">
        <xs:element name="DTRegNum" type="scd:DTRegNumType">
          <xs:annotation>
            <xs:documentation>Регистрационный номер ДТ / ТД / Уведомления о прибытии / Заявления о выпуске до подачи ДТ</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="OtherDoc" type="cat_ru:DocumentBaseType">
          <xs:annotation>
            <xs:documentation>Сведения об ином документе</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DTRegNumType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер ДТ / ТД / Уведомления о прибытии / Заявления о выпуске до подачи ДТ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="AddNumber" type="clt_ru:CodeVariable2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дополнительная составляющая номера </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodNumber" type="clt_ru:Count3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер товара по ДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RequestedDocType">
    <xs:annotation>
      <xs:documentation>Запрашиваемый документ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="RequestPositionID" type="clt_ru:DocumentIDType">
            <xs:annotation>
              <xs:documentation>Идентификатор позиции</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Position" type="clt_ru:Count2Type">
            <xs:annotation>
              <xs:documentation>Порядковый номер записи в перечне</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocCode" type="clt_ru:CustomsDocumentCodeType">
            <xs:annotation>
              <xs:documentation>Код вида запрашиваемого документа (заполняется в соответствии с классификатором видов документов, используемых при заявлении сведений в графе 44)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArchID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор архива декларанта (если формализованный вид размещен в ЭАДД)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArchDocID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор документа в архиве (если формализованный вид размещен в ЭАДД)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Note" type="clt_ru:CodeVariable2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Причина представления документа на бумажном носителе:
1 - в соответствии с регулирующими таможенные правоотношения международными договорами Российской Федерации;
2 - в соответствии с актами, составляющими право Евразийского экономического союза; 
3 - в соответствии с законодательством Российской Федерации;
4 - в соответствии с запросом центра электронного декларирования;
5 - в соответствии с запросом таможенного органа в рамках контроля после выпуска товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NoteDetails" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Причина представления документа на бумажном носителе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ScanID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Присвоенный идентификатор сканированного документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountPage" type="clt_ru:Count3Type">
            <xs:annotation>
              <xs:documentation>Кол-во страниц</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FormPage" type="clt_ru:CodeVariable3Type">
            <xs:annotation>
              <xs:documentation>Формат листа (например A4)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentModeID" type="clt_ru:DocumentModeIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код вида представленного документа в соответствии с альбомом форматов электронных форм документов</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>