XsltProcessor/xsd/5.23.0/SeaPreliminary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Решение Коллегии Евразийской экономической комиссии от 02.04.2019 г. № 48
"О внесении изменений в структуру и формат предварительной информации о товарах, предполагаемых к ввозу на таможенную территорию Евразийского экономического союза водным транспортом" -->
<!--Решение Коллегии ЕЭК от 20.10.2020 № 130 "О внесении изменений в некоторые решения Коллегии Евразийской экономической комиссии"-->
<!--Решение Коллегии Евразийской экономической комиссии от 15.08.2023 г. № 115"О внесении изменений в структуру и формат предварительной информации о товарах, предполагаемых к ввозу на таможенную территорию Евразийского экономического союза водным транспортом-->
<xs:schema xmlns:sp="urn:customs.ru:Information:CustomsDocuments:SeaPreliminary:5.23.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:RUDECLcat="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.23.0" xmlns:cltpi_ru="urn:customs.ru:Information:PriorInformation:PriorCommonLeafTypes:5.17.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:catpi_ru="urn:customs.ru:Information:PriorInformation:PriorCommonAggregateTypes:5.23.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:SeaPreliminary:5.23.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.23.0.0">
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:import namespace="urn:customs.ru:Information:PriorInformation:PriorCommonLeafTypes:5.17.0" schemaLocation="PriorCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:PriorInformation:PriorCommonAggregateTypes:5.23.0" schemaLocation="PriorCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.23.0" schemaLocation="RUDeclCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Предварительная информация о товарах, предполагаемых к ввозу на таможенную территорию Евразийского экономического союза водным транспортом </xs:documentation>
  </xs:annotation>
  <xs:element name="SeaPreliminary" type="sp:SeaPreliminaryType">
    <xs:annotation>
      <xs:documentation>Предварительная информация о товарах, предполагаемых к ввозу на таможенную территорию Евразийского экономического союза водным транспортом </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SeaPreliminaryType">
    <xs:annotation>
      <xs:documentation>Предварительная информация о товарах, предполагаемых к ввозу на таможенную территорию Евразийского экономического союза водным транспортом </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="EECEDocHeaderAddInfo" type="RUScat_ru:EECEDocHeaderAddInfoType">
            <xs:annotation>
              <xs:documentation>Дополнительные технологические реквизиты электронного документа (сведений)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ElectronicDocumentSign" type="clt_ru:Code2Type">
            <xs:annotation>
              <xs:documentation>Признак электронного документа "ЭД"</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegNumber" type="catpi_ru:PIRegNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер предварительной информации, содержащей обязательный состав сведений</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RefRegNumber" type="catpi_ru:PIRegNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер предварительной информации, в отношении которой осуществляется повторное представление предварительной информации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UsageCode" type="clt_ru:Code2Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Код цели представления предварительной информации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArrivalDateTime" type="clt_ru:DateTimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Планируемые дата и время прибытия</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EntryCheckPointDetails" type="sp:EntryCheckPointDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Место прибытия товаров на таможенную территорию Евразийского экономического союза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeclarantDetails" type="catpi_ru:PI_EEC_DeclarantDetailsType">
            <xs:annotation>
              <xs:documentation>Лицо, представившее предварительную информацию</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BorderTransportDetails" type="sp:BorderTransportDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о транспортном средстве, прибывающем на таможенную территорию Евразийского экономического союза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConsignmentDetails" type="sp:ConsignmentDetailsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о товарной партии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CarrierDetails" type="catpi_ru:PI_EEC_CarrierDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о перевозчике, осуществляющем ввоз товаров на таможенную территорию Евразийского экономического союза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AgentDetails" type="sp:AgentDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о судовом агенте</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ControlledItemsDetails" type="catpi_ru:ControlledItemsDetailsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о припасах, запасных частях и оборудовании, подлежащие указанию при предоставлении предварительной информации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EpidemicControlDetails" type="sp:EpidemicControlDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения, представляемые в целях санитарно-эпидемиологического надзора</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DiseasedPersonDetails" type="sp:DiseasedPersonDetailsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Лицо, у которого выявлено заболевание или обнаружено подозрение на заболевание</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006828E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа. Код документа в Альбоме форматов</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AffectedPortDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о заходе в порт на зараженной территории</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PlaceName" type="RUSclt_ru:Name120Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование места</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LocationCode" type="RUSclt_ru:LocationCodeType">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение порта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EventDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgentDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о судовом агенте</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType">
        <xs:sequence>
          <xs:element name="AgentRepresentativeDetails" type="sp:AgentRepresentativeDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о лице, являющимся представителем агента</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AgentRepresentativeDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о лице, являющимся представителем агента</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonBaseType">
        <xs:sequence>
          <xs:element name="CommunicationDetails" type="cat_ru:ContactType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Контактный реквизит должностного лица</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BorderTransportDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о транспортном средстве, прибывающем на таможенную территорию Евразийского экономического союза</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ObjectOrdinal" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>порядковый номер транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportModeCode" type="clt_ru:TransportModeCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код вида транспортного средства по классификатору видов транспорта и транспортировки товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContainerIndicator" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак контейнерных перевозок (1 - товары перевозятся в контейнере; 0 - товары перевозятся не в контейнере)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShipName" type="clt_ru:TransportMeansIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NationalityCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код страны принадлежности транспорта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShipIMONumber" type="cltpi_ru:IMONumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>ИМО номер судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShipType" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Тип судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShipTypeCode" type="clt_ru:CodeVariable4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код типа судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrossTonnage" type="catpi_ru:UnifiedPhysicalMeasureType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Брутто регистровый тоннаж судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShipDetails" type="sp:ShipDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о национальной регистрации водного судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VoyageId" type="clt_ru:CodeVariable8Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер рейса водного судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RouteDetails" type="sp:RouteDetailsType" minOccurs="0" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Сведения о маршруте</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportMeansEntryPurpose" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение цели ввоза ТСМП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CrewQuantity" type="clt_ru:Quantity4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество членов экипажа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PassengerQuantity" type="clt_ru:Quantity5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество пассажиров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Captain" type="sp:CrewDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о капитане водного судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CrewMemberDetails" type="sp:CrewDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о члене экипажа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PassengerDetails" type="sp:PassengerInfoType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о пассажире</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsignmentDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарной партии</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ObjectOrdinal" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер товарной партии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UsageCode" type="clt_ru:Code2Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Код цели представления предварительной информации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportDocumentDetails" type="RUScat_ru:DocBaseV4Type">
        <xs:annotation>
          <xs:documentation>Сведения о транспортном (перевозочном документе)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsDocIdDetails" type="catpi_ru:CustomDocIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер таможенной декларации, в соответствии с которой осуществлено предварительное таможенное декларирование</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsProcedure" type="clt_ru:CUCustomsProcedureType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код типа таможенной декларации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DeclarationFeatureCode" type="cltESAD_cu:CustomsDeclarationKindType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение особенности таможенного декларирования товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransitDirectionCode" type="clt_ru:TransitDirectionCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение особенности перевозки (транспортировки) товаров при применении таможенной процедуры таможенного транзита</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransitFeature" type="clt_ru:CodeVariable3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Особенность помещения товаров под процедуру таможенного транзита (МПО - международные почтовые отправления, ФЛ - товары и (или) транспортные средства для личного пользования)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocUsageCode" type="clt_ru:CodeVariable3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение использования транспортных (перевозочных), коммерческих и (или) иных документов в качестве транзитной декларации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PageQuantity" type="clt_ru:Count4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общее количество листов в документе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalGoodsNumber" type="clt_ru:Quantity5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общее число товаров по транспортному (перевозочному) документу</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalPackageNumber" type="clt_ru:PakageNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общее количество грузовых мест</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DispatchCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна отправления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DestinationCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна назначения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalAmount" type="RUScat_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общая стоимость товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrossWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общий вес брутто товаров в товарной партии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConsignorDetails" type="catpi_ru:PI_EEC_SubjectDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения об отправителе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConsigneeDetails" type="catpi_ru:PI_EEC_SubjectDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о получателе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LoadingLocationDetails" type="catpi_ru:PI_EEC_CargoLocationDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о месте погрузки товаров на судно</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UnloadingIndicator" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак выгрузки товаров в портах государства - члена Евразийского экономического союза (0 - нет; 1- да)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UnLoadingLocationDetails" type="catpi_ru:PI_EEC_CargoLocationDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о месте выгрузки товаров с судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DestinationCustomsOfficeCode" type="clt_ru:CustomsCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о таможенном органе назначения, указываемые при принятии решения в отношении подкарантинной продукции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FactLocationDepartureDetails" type="catpi_ru:PI_EEC_CargoLocationDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о месте первоначального отправления товаров при мультимодальных перевозках или перевозках по сквозным коносаментам</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContainerDetails" type="catpi_ru:PI_EEC_ContainerDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о контейнере</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsIdentificationDetails" type="catpi_ru:PI_EEC_CustomsIdentificationDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о средствах идентификации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PITransitTransportMeansDetails" type="catpi_ru:PI_EEC_TransitTransportMeansDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о транспортных средствах, используемых при перевозке товаров в соответствии с таможенной процедурой таможенного транзита</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransitTerminationDetails" type="catpi_ru:TransitTerminationDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о предполагаемом таможенном органе и пункте назначения при осуществлении перевозки товаров в соответствии с таможенной процедурой таможенного транзита</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PITranshipmentDetails" type="catpi_ru:PI_EEC_TranshipmentDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о планируемых грузовых операциях</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UnloadWarehouseDetails" type="catpi_ru:PI_EEC_UnloadWarehouseDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о планируемом месте временного хранения товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsItem" type="sp:GoodsItemDetailsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товаре</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransitGuaranteeDetails" type="catpi_ru:PITDGuaranteeType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения об обеспечении исполнения обязанности по уплате таможенных и иных платежей при таможенной процедуре таможенного транзита</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransitDeclarantDetails" type="catpi_ru:PI_EEC_TransitDeclarantDetails" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Декларант таможенной процедуры таможенного транзита</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UnionCarrierDetails" type="catpi_ru:PI_EEC_CarrierDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Перевозчик товаров по таможенной территории Евразийского экономического союза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SignatoryRepresentativeDetails" type="catpi_ru:SignatoryRepresentativeDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о таможенном представителе, заполнившем (подписавшем) таможенный документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SignatoryPersonDetails" type="RUDECLcat:SignatoryPersonDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о работнике таможенного представителя</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CrewDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о членах экипажа</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonBaseType">
        <xs:sequence>
          <xs:element name="NationalityCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код страны гражданства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BirthDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата рождения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BirthPlace" type="RUSclt_ru:Name120Type">
            <xs:annotation>
              <xs:documentation>Место рождения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IdentityDocDetails" type="RUScat_ru:RUIdentityCardType">
            <xs:annotation>
              <xs:documentation>Сведения о документе, удостоверяющем личность</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DiseasedPersonDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о лице, у которого выявлено заболевание или обнаружено подозрение на заболевание</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Person" type="cat_ru:PersonBaseType">
        <xs:annotation>
          <xs:documentation>ФИО лица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RoleCode" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение роли лица (1 - член экипажа; 2 - пассажир)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NationalityCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение страны гражданства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EmbarkationPlaceDetails" type="sp:EmbarkationPlaceDetailsType">
        <xs:annotation>
          <xs:documentation>Сведения о месте и дате посадки на борт транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArrivalPort" type="sp:EmbarkationPlaceDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о месте и дате высадки с борта транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AgeDuration" type="RUSclt_ru:DurationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Возрат</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SexCode" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Пол: F - женский; M- мужской</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DiseaseConfirmCode" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Подтверждение заболевания (0 -нет; 1- да)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DiseaseDescription" type="RUSclt_ru:FreeText4000Type">
        <xs:annotation>
          <xs:documentation>Описание характера болезани</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DiseaseDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата проявления симптомов болезни</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TreatmentDescriptionText" type="RUSclt_ru:FreeText4000Type">
        <xs:annotation>
          <xs:documentation>Описание лечения и назначенных лекарственных средств</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InformationIndicator" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Информирование врача в порту  (0 - нет; 1 - да)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DiseaseOutcomeCode" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Код исхода болезни: 1 - больной выздоровел; 2 - больной продолжает болеть; 3 - больной умер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DiseasedPersonLocationCode" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Код места нахождения больного: 1 - больной находится на борту судна; 2 - больной покинул судно; 3 - погребен в море </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmbarkationPlaceDetailsType">
    <xs:annotation>
      <xs:documentation>Cведения о месте и дате посадки/высадки на борт транспортного средства</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="LocationCode" type="RUSclt_ru:LocationCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение порта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EventDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата посадки / высадки </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EntryCheckPointDetailsType">
    <xs:annotation>
      <xs:documentation>Место прибытия на таможенную территорию Евразийского экономического союза</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsOfficeCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PortCode" type="RUSclt_ru:LocationCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение порта</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EpidemicControlDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения, представляемые в целях санитарно-эпидемиологического надзора</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MaritimeHealthDeclarationDetails" type="sp:MaritimeHealthDeclarationDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Морская медико-санитарная декларация</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SanitaryRoadsteadIndicator" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Необходимости размещения судна на санитарном рейде (0 - нет; 1 - да)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FreePracticeDetails" type="sp:FreePracticeDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Свободная практика в порту</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreePracticeDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о разрешении (ограничении) свободной практики в порту в отношении пассажиров и членов экипажа </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FreePracticeRestrictionIndicator" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Ограничение свободной практики в порту (0 - нет; 1 - да)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocV4Details" type="RUScat_ru:DocBaseV4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о документе, подтверждающем разрешение (ограничение) свободной практики в порту в отношении пассажиров и членов экипажа </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsItemDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о товаре</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catpi_ru:PI_EEC_GoodsItemType">
        <xs:sequence>
          <xs:element name="UNDGClassId" type="clt_ru:CodeVariable3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Класс опасного груза, вещества или изделия</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UNDGNumberId" type="cltpi_ru:UNDGNumberIdType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер опасного груза</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MaritimeHealthDeclarationDetailsType">
    <xs:annotation>
      <xs:documentation>Cведения из морской медико-санитарной декларации </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DisinfestationIndicator" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Освобождение от санитарного контроля (0 - нет; 1 - да)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SanitaryControlDocDetails" type="sp:SanitaryControlDocDetailsType">
        <xs:annotation>
          <xs:documentation>Сведения о свидетельстве о санитарном контроле (освобождении от санитарного контроля)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RepeatInspection" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак необходимости повторной инспекции
 (0 - нет; 1 - да)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AffectedAreaVisitIndicator" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак посещения зараженной территории (0 - нет; 1 - да)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AffectedPortDetails" type="sp:AffectedPortDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о заходе в порт на зараженной территории</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DeadIndicator" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак наличия случаев смерти (0 - нет; 1 - да)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DeadQuantity" type="clt_ru:Quantity4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Число умерших</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AbnormalDiseasePersonIndicator" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Наличие необычного уровня заболеваемости (0 - нет; 1 - да)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DiseasedPerson" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Наличие случаев заболеваний или лиц с подозрениями на инфекционные заболевания на борту (0 - нет; 1 - да)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DiseasedPersonQuantity" type="clt_ru:Quantity4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Число заболевших и лиц с подозрением на заболевание</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MedicalConsultationIndicator" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Проведение консультации с врачом (0 - нет; 1 - да)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DiseaseSpreadIndicator" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наличие информации об обстоятельствах, ведущих к заражению или распространению болезни (0 - нет; 1 - да)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DiseaseSpreadText" type="RUSclt_ru:FreeText4000Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание обстоятельств, ведущих к заражению или распространению болезни</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SanitaryMeasureIndicator" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Провдение медико-санитарных мер (0 - нет; 1 - да)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SanitaryMeasureDetails" type="sp:SanitaryMeasureDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о проведении медико-санитарных мер на борту судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StowawaysIndicator" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Наличие безбилетных пассажиров (0 - нет; 1 - да)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EmbarkationDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата появления на борту безбилетных пассажиров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SickAnimalIndicator" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Наличие на борту больных животных  (0 - нет; 1 - да)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PassengerInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о пассажирах</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonBaseType">
        <xs:sequence>
          <xs:element name="NationalityCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код страны гражданства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BirthDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата рождения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BirthPlace" type="RUSclt_ru:Name120Type">
            <xs:annotation>
              <xs:documentation>Место рождения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IdentityDocDetails" type="RUScat_ru:RUIdentityCardType">
            <xs:annotation>
              <xs:documentation>Сведения о документе, удостоверяющем личность</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EmbarkationPlaceDetails" type="sp:EmbarkationPlaceDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о месте и дате посадки на борт транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArrivalPort" type="sp:EmbarkationPlaceDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о месте и дате высадки с борта транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RouteDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о маршруте </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="LocationCode" type="RUSclt_ru:LocationCodeType">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение пункта маршрута</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PointCode" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение типа пункта маршрута: 1 - порт отхода, 2 - порт последнего захода, 3 - порт прихода, 4 - порт следующего захода
</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SanitaryControlDocDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о свидетельстве о санитарном контроле (освобождении от санитарного контроля)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:DocBaseV4Type">
        <xs:sequence>
          <xs:element name="AuthorityName" type="RUSclt_ru:Name300Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Полное наименование органа государственной власти государства-члена либо уполномоченной им организации, выдавшей документ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AuthorityId" type="clt_ru:CodeVariable20Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Строка символов, идентифицирующая государственный или межгосударственный орган (организацию), выдавший или утвердивший документ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SanitaryMeasureDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о проведении медико-санитарных мер</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SanitaryMeasureCode" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение принятой медико-санитарной меры: 1 - карантин; 2 - изоляция; 3 - дезинфекция; 4 - деконтаминация; 9 - иное</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DescriptionText" type="RUSclt_ru:FreeText4000Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание принятой медико-санитарной меры</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EventDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата проведения медико-санитарной меры</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SanitaryMeasureLocationDetails" type="sp:SanitaryMeasureLocationDetailsType">
        <xs:annotation>
          <xs:documentation>Сведения о месте проведения медико-санитарных мер</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SanitaryMeasureLocationDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о месте проведения медико-санитарных мер</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код страны</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PlaceName" type="RUSclt_ru:Name120Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование места</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LocationCode" type="RUSclt_ru:LocationCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение порта</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ShipDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о национальной регистрации судна</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ShipCountryCode" type="clt_ru:CountryA2CodeType">
        <xs:annotation>
          <xs:documentation>Код страны регистрации (государства флага) судна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShipId" type="clt_ru:CodeVariable20Type">
        <xs:annotation>
          <xs:documentation>Идентификатор, присвоенный водному судну при внесении в реестр</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistryKind" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид реестра: 1 - Государственный реестр (Государственный судовой реестр); 2 - Международный реестр судов; 3 - Бербоут-чартерный реестр; 4 - Реестр маломерных судов (судовой реестр)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PortCode" type="RUSclt_ru:LocationCodeType">
        <xs:annotation>
          <xs:documentation>Кодовое обозначение порта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации судна в реестре</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>