XsltProcessor/xsd/5.23.0/SertifAForm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:catSert_ru="urn:customs.ru:Information:SertifDocuments:SertifCommonAggregateTypesCust:5.22.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:cltSert_ru="urn:customs.ru:Information:SertifDocuments:SertifCommonLeafTypesCust:5.0.11" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:saf="urn:customs.ru:Information:SertifDocuments:SertifAForm:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:SertifDocuments:SertifAForm:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:SertifDocuments:SertifCommonLeafTypesCust:5.0.11" schemaLocation="SertifCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:SertifDocuments:SertifCommonAggregateTypesCust:5.22.0" schemaLocation="SertifCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Декларация-сертификат о происхождении товара по форме "А" на товары, происходящие из развивающихся и наименее развитых стран-пользователей схемой преференций Российской Федерации, и предъявляемые при ввозе на таможенную территорию Российской Федерации для предоставления тарифных преференций в рамках Общей системы преференций</xs:documentation>
  </xs:annotation>
  <xs:element name="SertifAForm" type="saf:SertifAFormType" />
  <xs:complexType name="SertifAFormType">
    <xs:annotation>
      <xs:documentation>Сертификат о происхождении товаров по форме "А"</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
              <xs:documentation>Код страны, в которой выдан сертификат</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Route" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Cведения о маршруте транспортировки товаров и транспортных средствах (насколько это известно)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SpecialComments" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Специальные отметки ("duplicate" ("дубликат"), "issued retrospectively" ("выдан впоследствии") или  "issued instead" ("выдан взамен") )</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FilledDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата заполнения сертификата</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Place" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Место заполнения сертификата</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountryOriginCode" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
              <xs:documentation>Код страны происхождения товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DestinationCountryCode" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
              <xs:documentation>Код страны назначения товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountryOriginName" type="clt_ru:CountryNameType">
            <xs:annotation>
              <xs:documentation>Наименование страны происхождения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DestinationCountryName" type="clt_ru:CountryNameType">
            <xs:annotation>
              <xs:documentation>Наименование страны назначения товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistrationDocument" type="saf:AuthenticationType">
            <xs:annotation>
              <xs:documentation>Сведения об удостоверении сертификата</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignor" type="catSert_ru:SertifOrgBaseType">
            <xs:annotation>
              <xs:documentation>Наименование и адрес лица, которое является экспортером (поставщиком) товара (продавца товара по контракту или иного лица, если ему переданы права на поставку товара, в том числе производителя товара).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:choice>
            <xs:annotation>
              <xs:documentation>Информация о грузополучателе при ее наличии. Указываются наименование и адрес лица, которое получает товар или название государства - участника или не заполняется</xs:documentation>
            </xs:annotation>
            <xs:element name="ToOrderFlag" type="clt_ru:IndicatorType">
              <xs:annotation>
                <xs:documentation>Признак проставления записи "to order"</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="ConsigneeName" type="catSert_ru:SertifOrgBaseType" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Наименование и адрес грузополучателя</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="ConsigneeCountry" type="saf:ConsigneeCountryType" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Страна грузополучателя</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element name="AnnuledSertifAForm" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения аннулированного сертификата</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Goods" type="saf:GoodsType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о товарах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Invoice" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Номер и дата счета-фактуры (инвойса) или счета-проформы без  привязки к товару</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExportSign" type="cat_ru:PersonSignatureType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Подпись уполномоченного лица экспортера</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009003E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AuthenticationType">
    <xs:annotation>
      <xs:documentation>Сведения об удостоверении сертификата</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="Agency" type="clt_ru:NameType">
            <xs:annotation>
              <xs:documentation>Наименование органа, уполномоченного в соответствии с национальным законодательством удостоверять происхождение товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Place" type="clt_ru:PlaceNameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Место выдачи.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AuthSign" type="cat_ru:PersonSignatureType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Подпись должностного лица организации, удостоверяющей происхождение товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ConsigneeCountryType">
    <xs:annotation>
      <xs:documentation>Государство грузополучателя</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType">
        <xs:annotation>
          <xs:documentation>Код страны</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порядковый номер товара свидетельства</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Описание товара текстовое (коммерческое наименование товара, его модель, марка, модификация, артикул, другие данные, позволяющие провести однозначную идентификацию товара с заявленным для целей таможенного оформления)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товара без указания единицы измерения </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplementaryGoodsQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товара без учета единицы измерения в дополнительных единицах измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasureUnitQualifierCode" type="clt_ru:MeasureUnitQualifierNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Название единицы измерения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplementaryMeasureUnitQualifierCode" type="clt_ru:MeasureUnitQualifierNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Название дополнительной единицы измерения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsPlacesQuantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Количество мест товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PlacesQuantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Общее количество грузовых мест товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PlacesDescription" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Описание вида грузовых мест (коробок, упаковок, паллет и т.д.)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Marking" type="cltSert_ru:MarkingType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Маркировка грузовых мест</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrossWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес товара, брутто (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginCriterionCode" type="cltSert_ru:OriginCriterionCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Критерий происхождения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PercentPart" type="clt_ru:ProcentNumericType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Процентная доля стоимости сырьевых материалов, полуфабрикатов или готовых изделий, происходящих из другой страны или неизвестного происхождения, использованных при производстве товара, в стоимости экспортируемого товара, определяемой на базе цены франко-завод изготовителя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsInvoice" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Номер и дата счета-фактуры (инвойса) или счета-проформы по товарно</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>