XsltProcessor/xsd/5.23.0/SertifST2Form.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:SertifDocuments:SertifST2Form:5.22.0" version="5.22.0.0" xmlns:catSert_ru="urn:customs.ru:Information:SertifDocuments:SertifCommonAggregateTypesCust:5.22.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:sst2="urn:customs.ru:Information:SertifDocuments:SertifST2Form:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:SertifDocuments:SertifCommonAggregateTypesCust:5.22.0" schemaLocation="SertifCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Сертификат о происхождении товаров по форме СТ-2</xs:documentation>
  </xs:annotation>
  <xs:element name="SertifST2Form" type="sst2:SertifST2FormType" />
  <xs:complexType name="SertifST2FormType">
    <xs:annotation>
      <xs:documentation>Сертификат о происхождении товаров по форме СТ-2</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="SertifNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Номер и серия сертификата</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер документа. В случае отсутствия номера ставится "б/н"</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IssueCountryCode" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
              <xs:documentation>Код страны, в которой выдан сертификат</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DestinCountryCode" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
              <xs:documentation>Код страны, куда предоставляется сертификат</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="TransportMeansRoute" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Средство транспорта и сведения о маршруте транспортировки товаров и транспортных средствах (насколько это известно)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="SpecialComments" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Служебные отметки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LNPSign" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Признак наличия оттиска печати</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IssueCountryName" type="clt_ru:CountryNameType">
            <xs:annotation>
              <xs:documentation>Наименование страны в которой выдан сертификат</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DestinCountryName" type="clt_ru:CountryNameType">
            <xs:annotation>
              <xs:documentation>Наименование страны для которой выдан сертификат</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SenderInformation" type="catSert_ru:SertifOrgBaseType">
            <xs:annotation>
              <xs:documentation>Информация о лице, которое является отправителем</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Recipient" type="catSert_ru:SertifOrgBaseType">
            <xs:annotation>
              <xs:documentation>Информация о получателе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Importer" type="catSert_ru:SertifOrgBaseType">
            <xs:annotation>
              <xs:documentation>Наименование и адрес импортера. Заполняется если получатель и импортер - разные юридические лица</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SertifInf" type="sst2:SertifInfType">
            <xs:annotation>
              <xs:documentation>Сведения об удостоверении сертификата</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AppDeclaration" type="sst2:AppDeclarationType">
            <xs:annotation>
              <xs:documentation>Декларация заявителя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" name="Goods" type="sst2:GoodsType">
            <xs:annotation>
              <xs:documentation>Сведения о товарах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ExporterInformation" type="catSert_ru:SertifOrgBaseType">
            <xs:annotation>
              <xs:documentation>Информация о лице, которое является экспортером. Заполняется если экспортер и отправитель являются разными юридическими лицами</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute fixed="1009017E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AppDeclarationType">
    <xs:annotation>
      <xs:documentation>Декларация заявителя</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DateInf" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата удостоверения документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="AppCountry" type="clt_ru:CountryNameType">
        <xs:annotation>
          <xs:documentation>Наименование страны в декларации заявителя сертификата</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="FIO" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>ФИО заявителя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SignPlace" type="clt_ru:PlaceNameType">
        <xs:annotation>
          <xs:documentation>Место  подписи</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="GoodsNumeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="4" name="GoodsDescription" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Описание товара текстовое (коммерческое наименование товара, его модель, марка, модификация, артикул, другие данные, позволяющие провести однозначную идентификацию товара с заявленным для целей таможенного оформления)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="GoodsQuantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Количество товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="MeasureUnitQualifierCode" type="clt_ru:MeasureUnitQualifierNameType">
        <xs:annotation>
          <xs:documentation>Единица измерения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SupplementaryGoodsQuantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Количество товара в дополнительных единицах измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SupplementaryMeasureUnitQualifierCode" type="clt_ru:MeasureUnitQualifierNameType">
        <xs:annotation>
          <xs:documentation>Дополнительная единица измерения товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="GoodsPlacesQuantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Количество мест товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PlacesDescription" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Описание вида грузовых мест (коробок, упаковок, паллет и т.д.)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="OriginCriterionCode" type="clt_ru:Text5Type">
        <xs:annotation>
          <xs:documentation>Критерий происхождения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrossWeightQuantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Вес товара, брутто (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="NetWeightQuantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Вес товара, нетто (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="GoodsInvoice" type="cat_ru:DocumentBaseType">
        <xs:annotation>
          <xs:documentation>Счет-фактура или другой документ, отражающий финансово-количественные параметры товара  (с привязкой к товару)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SertifInfType">
    <xs:annotation>
      <xs:documentation>Сведения об удостоверении сертификата</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="OrganizationName" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>Наименование органа, уполномоченного в соответствии с национальным законодательством удостоверять происхождение товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateInf" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата удостоверения документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="FIO" type="clt_ru:NameType">
        <xs:annotation>
          <xs:documentation>ФИО лица удостоверившего сертификат</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SignPlace" type="clt_ru:PlaceNameType">
        <xs:annotation>
          <xs:documentation>Место  подписи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Place" type="cat_ru:AddressType">
        <xs:annotation>
          <xs:documentation>Адрес органа, уполномоченного в соответствии с национальным законодательством удостоверять происхождение товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>