XsltProcessor/xsd/5.23.0/SEZReportForm3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приказ ФТС России от 23 июня 2011 г. N 1327 "Об утверждении форм отчетности о товарах, помещенных под таможенную процедуру свободной таможенной зоны, и товарах, изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободной таможенной зоны, и порядка представления таможенному органу отчетности о таких товарах" -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:sez_rf3="urn:customs.ru:Information:CustomsDocuments:SEZReportForm3:5.22.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:SEZReportForm3:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Формы отчетности о товарах, помещенных под таможенную процедуру свободной таможенной зоны, и товарах, изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободной таможенной зоны. Форма №3</xs:documentation>
	</xs:annotation>
	<xs:element name="SEZReportForm3" type="sez_rf3:SEZReportForm3Type">
		<xs:annotation>
			<xs:documentation>Формы отчетности о товарах, помещенных под таможенную процедуру свободной таможенной зоны, и товарах, изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободной таможенной зоны. Форма №3</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SEZReportForm3Type">
		<xs:annotation>
			<xs:documentation>Формы отчетности о товарах, помещенных под таможенную процедуру свободной таможенной зоны, и товарах, изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободной таможенной зоны. Форма №3</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="GTDID" type="cat_ru:GTDIDType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Номер таможенной декларации, по товарам которой представляется отчетность</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReportDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата отчета</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SheetsNumber" type="clt_ru:Count3Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество листов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Organization" type="sez_rf3:OrganizationType">
						<xs:annotation>
							<xs:documentation>Сведения об организации, предоставляющей отчетность</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReportPerson" type="cat_ru:PersonSignatureType">
						<xs:annotation>
							<xs:documentation>Сведения об уполномоченном лице, на которое возложена ответственность составления отчетности</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RecyclingForeign" type="sez_rf3:RecyclingForeignType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Раздел 1. Иностранные товары, помещенные под таможенную процедуру СТЗ для целей совершения операций по переработке (обработке)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RecyclingGU" type="sez_rf3:RecyclingGUType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Раздел 1. Товары ЕАЭС использованные в операций по переработке (обработке)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProducedGoodsForeign" type="sez_rf3:ProducedGoodsForeignType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Раздел 2. Товары, изготовленные (полученные) из иностранных товаров и товаров ЕАЭС, помещенных под таможенную процедуру СТЗ на отчетную дату согласно сведениям, указанным в разделе 1</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProducedGoodsGU" type="sez_rf3:ProducedGoodsGUType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Раздел 2. Товары, изготовленные (полученные) из товаров ЕАЭС , помещенных под таможенную процедуру СТЗ на отчетную дату согласно сведениям, указанным в разделе 1</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1004153E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы.</xs:documentation>
	</xs:annotation>
	<xs:complexType name="DTGoodsType">
		<xs:annotation>
			<xs:documentation>Товары ДТ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Quantity" type="clt_ru:QuantityBasisType">
				<xs:annotation>
					<xs:documentation>Количество артикула в единице измерения отчета</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DTType">
		<xs:annotation>
			<xs:documentation>Сведения о ДТ </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GTDID" type="cat_ru:GTDIDType">
				<xs:annotation>
					<xs:documentation>Номер таможенной декларации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTGoods" type="sez_rf3:DTGoodsType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsUseType">
		<xs:annotation>
			<xs:documentation>Иное использование товаров (графы 10-11)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocumentInfo" type="cat_ru:DocumentBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата и номер документа, подтверждающего факт использования товаров (графа 10)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Quantity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество товаров в соответствии с документом, подтверждающим факт использования товарf, указанным в графе 10 (графа 11)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganizationType">
		<xs:annotation>
			<xs:documentation>Сведения о плательщике</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:OrganizationBaseType">
				<xs:sequence>
					<xs:element name="OKPOID" type="clt_ru:OKPOIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код организации по ОКПО</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OKATOCode" type="clt_ru:OKATOCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код ОКАТО</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Address" type="RUScat_ru:RUAddressType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Адрес </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Contact" type="cat_ru:ContactType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Контактная информация</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PrevMaterialType">
		<xs:annotation>
			<xs:documentation>Сырье для продукции</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PrevNumPP" type="clt_ru:Count5Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер записи из раздела 1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Использованное количество товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrevTechID" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Технические идентификаторы</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProcedureType">
		<xs:annotation>
			<xs:documentation>Помещено под таможенную процедуру (графы 6-9)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsModeCode" type="cltESAD_cu:CustomsModeCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код таможенной процедуры (графа 6)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DT" type="sez_rf3:DTType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>№ таможенной декларации, в соответствии с которой товары помещены под таможенную процедуру (графа 7)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Quantity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество товара по позиции (графа 8)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentDoc" type="cat_ru:DocumentBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер заключения о приемлемости способа идентификации, заявляемого заинтересованным лицом/
Регистрационный номер заключения  о возможности идентификации ввозимых товаров в товарах, изготовленных (полученных) на территории особой экономической зоны/
Регистрационный номер документа, подтверждающего статус товара, изготовленного (полученного) с использованием иностранных товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Prim" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Примечание (графа 9)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProducedGoodsDisposalType">
		<xs:annotation>
			<xs:documentation>Распоряжение товарами, изготовленными (полученными) из товаров, помещенных под таможенную процедуру СТЗ (графы 6-13)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Procedure" type="sez_rf3:ProcedureType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Помещено под таможенную процедуру (графы 6-9)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherUse" type="sez_rf3:GoodsUseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Иное использование товаров (графы 10-11)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UsedGoods" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Товары, изготовленные (полученные) из товаров, помещенных под таможенную процедуру СТЗ, которые были использованы в соответствии с пунктом 4 статьи 13 Соглашения о СЭЗ (графа 12)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StorageGoods" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Товары, находящиеся в распоряжении резидента ОЭЗ и в отношении которых осуществляется хранение (складирование) на территории ОЭЗ (графа 13)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProducedGoodsType">
		<xs:annotation>
			<xs:documentation>Раздел 2. Базовый тип</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>№ п/п (графа 1)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsMarking" type="cltESAD_cu:GoodsArticulType">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор вида продукта (товара) или артикул товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="clt_ru:FreeText500Type">
				<xs:annotation>
					<xs:documentation>Наименование товара, изготовленного (полученного) из товара, изготовленного (полученного) из товаров, помещенных под таможенную процедуру СТЗ (графа 2)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TNVEDCode" type="clt_ru:GoodsNomenclatureCodeType">
				<xs:annotation>
					<xs:documentation>Код товаров по ТН ВЭД ЕАЭС (6 знаков) (графа 3)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Quantity" type="clt_ru:QuantityBasisType">
				<xs:annotation>
					<xs:documentation>Количество товара (графа 4)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeasureUnitQualifierCode" type="clt_ru:MeasureUnitQualifierCodeType">
				<xs:annotation>
					<xs:documentation>Код единицы измерения количества товаров, указанного в графах 4, 8, 11-13 (графа 5)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeasureUnitQualifierName" type="cltESAD_cu:MeasureUnitQualifierNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Условное обозначение единицы измерения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProducedGoodsDisposal" type="sez_rf3:ProducedGoodsDisposalType">
				<xs:annotation>
					<xs:documentation>Распоряжение товарами, изготовленными (полученными) из товаров, помещенных под таможенную процедуру СТЗ (графы 6-13)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProducedGoodsGUType">
		<xs:annotation>
			<xs:documentation>Раздел 2. Товары, изготовленные (полученные) из товаров ЕАЭС , помещенных под таможенную процедуру СТЗ на отчетную дату согласно сведениям, указанным в разделе 1</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="sez_rf3:ProducedGoodsType">
				<xs:sequence>
					<xs:element name="GUPrevMaterial" type="sez_rf3:PrevMaterialType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Ссылки на товары ЕАЭС, использованные в операций по переработке (обработке) продукции</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProducedGoodsForeignType">
		<xs:annotation>
			<xs:documentation>Раздел 2. Товары, изготовленные (полученные) из иностранных товаров и товаров ЕАЭС, помещенных под таможенную процедуру СТЗ на отчетную дату согласно сведениям, указанным в разделе 1</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="sez_rf3:ProducedGoodsType">
				<xs:sequence>
					<xs:element name="PrevMaterial" type="sez_rf3:PrevMaterialType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Ссылки на иностранные товары, помещенные под таможенную процедуру СТЗ, из которых изготовлена продукция</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AddPrevMaterial" type="sez_rf3:PrevMaterialType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Ссылки на иностранные товары, помещенные под таможенную процедуру СТЗ, которые использованы при изготовлении продукции, но не вошедшие в нее</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GUPrevMaterial" type="sez_rf3:PrevMaterialType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Ссылки на товары ЕАЭС, использованные в операций по переработке (обработке) продукции</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RecyclingForeignType">
		<xs:annotation>
			<xs:documentation>Раздел 1. Иностранные товары, помещенные под таможенную процедуру СТЗ для целей совершения операций по переработке (обработке)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="sez_rf3:RecyclingGoodsType">
				<xs:sequence>
					<xs:element name="DT" type="sez_rf3:DTType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>№ таможенной декларации, в соответствии с которой товар был помещен под таможенную процедуру СТЗ (графа 4)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RecyclingGoodsType">
		<xs:annotation>
			<xs:documentation>Раздел 1. Товары, помещенные под таможенную процедуру СТЗ для целей совершения операций по переработке (обработке)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>№ п/п (графа 1)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsMarking" type="cltESAD_cu:GoodsArticulType">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор вида продукта (товара) или артикул товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование товара (графа 2)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код товаров по ТН ВЭД ЕАЭС (графа 3)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Quantity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество товара по позиции (графа 5)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeasureUnitQualifierCode" type="clt_ru:MeasureUnitQualifierCodeType">
				<xs:annotation>
					<xs:documentation>Код единицы измерения количества товаров (графа 6)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeasureUnitQualifierName" type="cltESAD_cu:MeasureUnitQualifierNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Условное обозначение единицы измерения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProducedGoodsName" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Наименование товаров, изготовленных (полученных) на территории ОЭЗ (графа 7)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentDoc" type="cat_ru:DocumentBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер заключения о приемлемости способа идентификации, заявляемого заинтересованным лицом/
Регистрационный номер заключения  о возможности идентификации ввозимых товаров в товарах, изготовленных (полученных) на территории особой экономической зоны</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Prim" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Примечание (графа 8)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LeftGoods" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Остаток товаров, в отношении которых не совершены операции по переработке (обработке), находящихся у резидента ОЭЗ на отчетную дату (графа 9)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TechID" type="clt_ru:Text50Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Технические идентификаторы</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RecyclingGUType">
		<xs:annotation>
			<xs:documentation>Раздел 1. Товары ЕАЭС использованные в операций по переработке (обработке)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="sez_rf3:RecyclingGoodsType">
				<xs:sequence>
					<xs:element name="TUGoods" type="sez_rf3:TUGoodsType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Ввезенные товары ЕАЭС</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RegistrationNumberType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер разрешения на ввоз</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата регистрации документа.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="clt_ru:CodeVariable10Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TUGoodsType">
		<xs:annotation>
			<xs:documentation>Ввезенные товары ЕАЭС</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RegistrationNumber" type="sez_rf3:RegistrationNumberType">
				<xs:annotation>
					<xs:documentation>Регистрационный номер разрешения на ввоз</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTGoods" type="sez_rf3:DTGoodsType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
