XsltProcessor/xsd/5.23.0/SEZReportForm2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приказ ФТС России от 23 июня 2011 г. N 1327 "Об утверждении форм отчетности о товарах, помещенных под таможенную процедуру свободной таможенной зоны, и товарах, изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободной таможенной зоны, и порядка представления таможенному органу отчетности о таких товарах" -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:sez_rf2="urn:customs.ru:Information:CustomsDocuments:SEZReportForm2:5.22.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:SEZReportForm2:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Формы отчетности о товарах, помещенных под таможенную процедуру свободной таможенной зоны, и товарах, изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободной таможенной зоны. Форма №2</xs:documentation>
	</xs:annotation>
	<xs:element name="SEZReportForm2" type="sez_rf2:SEZReportForm2Type">
		<xs:annotation>
			<xs:documentation>Формы отчетности о товарах, помещенных под таможенную процедуру свободной таможенной зоны, и товарах, изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободной таможенной зоны. Форма №2</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SEZReportForm2Type">
		<xs:annotation>
			<xs:documentation>Формы отчетности о товарах, помещенных под таможенную процедуру свободной таможенной зоны, и товарах, изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободной таможенной зоны. Форма №2</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="GTDID" type="cat_ru:GTDIDType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Номер таможенной декларации, по товарам которой представляется отчетность</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReportDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата отчета</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SheetsNumber" type="clt_ru:Count3Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество листов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Organization" type="sez_rf2:OrganizationType">
						<xs:annotation>
							<xs:documentation>Сведения об организации, предоставляющей отчетность</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReportPerson" type="cat_ru:PersonSignatureType">
						<xs:annotation>
							<xs:documentation>Сведения об уполномоченном лице, на которое возложена ответственность составления отчетности</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Goods" type="sez_rf2:GoodsType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о товарах, по которым предоставляется отчетность</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1004152E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы.</xs:documentation>
	</xs:annotation>
	<xs:complexType name="BankAccountType">
		<xs:annotation>
			<xs:documentation>Товары, поступившие в организацию (графы 6-8) | Товары, переданные в производство и фактически израсходованные (графы 9-11) | Товары, которые выбыли (проданы, списаны) (графы 12-14)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AccountNumber" type="clt_ru:ForeignAccountType">
				<xs:annotation>
					<xs:documentation>№ счета согласно Плану счетов бухгалтерского учета, на которых отражены товары</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubAccountNumber" type="clt_ru:ForeignAccountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>№ субсчета согласно Плану счетов бухгалтерского учета, на которых отражены товары</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsType">
		<xs:annotation>
			<xs:documentation>Сведения о товарах, по которым предоставляется отчетность</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>№ п/п (графа 1)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsMarking" type="cltESAD_cu:GoodsArticulType">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор вида продукта (товара) или артикул товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="clt_ru:FreeText500Type">
				<xs:annotation>
					<xs:documentation>Наименование товара (графа 2)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код товаров по ТН ВЭД ЕАЭС (графа 3)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="STZ_DT" type="sez_rf2:STZ_DTType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>ДТ, в соответствии с которой товар был помещен под таможенную процедуру СТЗ (графа 4)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeasureUnitQualifierCode" type="clt_ru:MeasureUnitQualifierCodeType">
				<xs:annotation>
					<xs:documentation>Единица измерения количества товара, указанного в графах 6, 9, 12 и 15 (графа 5)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeasureUnitQualifierName" type="cltESAD_cu:MeasureUnitQualifierNameType">
				<xs:annotation>
					<xs:documentation>Условное обозначение единицы измерения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReceivedGoods" type="sez_rf2:ProcedureChangingType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Товары, поступившие в организацию (графы 6-8)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpentGoods" type="sez_rf2:ProcedureChangingType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Товары, переданные в производство и фактически израсходованные (графы 9-11)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetiredGoods" type="sez_rf2:ProcedureChangingType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Товары, которые выбыли (проданы, списаны) (графы 12-14)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StorageGoods" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Товары, находящиеся у резидента ОЭЗ, в отношении которых осуществляется хранение (складирование) (графа 15)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganizationType">
		<xs:annotation>
			<xs:documentation>Сведения о плательщике</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:OrganizationBaseType">
				<xs:sequence>
					<xs:element name="OKPOID" type="clt_ru:OKPOIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код организации по ОКПО</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OKATOCode" type="clt_ru:OKATOCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код ОКАТО</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Address" type="RUScat_ru:RUAddressType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Адрес </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Contact" type="cat_ru:ContactType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Контактная информация</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProcedureChangingType">
		<xs:annotation>
			<xs:documentation>Товары, поступившие в организацию (графы 6-8) | Товары, переданные в производство и фактически израсходованные (графы 9-11) | Товары, которые выбыли (проданы, списаны) (графы 12-14)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Quantity" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество товара (графа 6 / 9 / 12)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cost" type="clt_ru:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Стоимость товара в тысячах рублей согласно учетным ценам (графа 7 / 10 / 13)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BankAccount" type="sez_rf2:BankAccountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>№№ счета и субсчета согласно Плану счетов бухгалтерского учета, на которых отражены товары (графа 8 / 11 / 14)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="STZ_DTGoodsType">
		<xs:annotation>
			<xs:documentation>Товары ДТ при помещении под СТЗ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Quantity" type="clt_ru:QuantityBasisType">
				<xs:annotation>
					<xs:documentation>Количество артикула в единице измерения отчета</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="STZ_DTType">
		<xs:annotation>
			<xs:documentation>ДТ при помещении под СТЗ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GTDID" type="cat_ru:GTDIDType">
				<xs:annotation>
					<xs:documentation>№ таможенной декларации, в соответствии с которой товары помещены под процедуру СТЗ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="STZ_DTGoods" type="sez_rf2:STZ_DTGoodsType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Товары ДТ</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
