XsltProcessor/xsd/5.23.0/STZ_Report.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--  Приложения к приказу ФТС России от 09.06.2015 №1116  (ТОСЭР)
Приказ МИНФИНа России от 08.06.2016 №79н (свободный порт Владивосток)  -->
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:stz="urn:customs.ru:Information:CustomsDocuments:STZ_Report:5.22.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:STZ_Report:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Отчёт о товарах, помещенных под таможенную процедуру свободной таможенной зоны и товарах, произведенных с их использованием</xs:documentation>
  </xs:annotation>
  <xs:element name="STZ_Report" type="stz:STZ_ReportType">
    <xs:annotation>
      <xs:documentation>Отчёт о товарах, помещенных под таможенную процедуру свободной таможенной зоны и товарах, произведенных с их использованием</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="STZ_ReportType">
    <xs:annotation>
      <xs:documentation>Отчёт о товарах, помещенных под таможенную процедуру свободной таможенной зоны и товарах, произведенных с их использованием</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="TerritoryFlag" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
              <xs:documentation>Флаг территории СТЗ : 0 - участки ТОСЭР, 1 - свободный порт Владивосток</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReportDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата подачи отчёта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NameTerritoryAdvancedDevelopment" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование территории опережающего социально-экономического развития (ТОСЭР)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код и наименование таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Declarant" type="stz:CompanyType">
            <xs:annotation>
              <xs:documentation>Сведения о лице или об организации, которая подаёт отчёт</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReportingPeriod" type="stz:ReportingPeriodType">
            <xs:annotation>
              <xs:documentation>Отчётный период</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SheetNumber" type="clt_ru:Count5Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество листов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResidentPersonSignature" type="cat_ru:PersonSignatureType" maxOccurs="2">
            <xs:annotation>
              <xs:documentation>Ф.И.О., подпись уполномоченного лица, на которое возложена ответственность составления отчетности, дата</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Form1Table1" type="stz:Form1Table1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Отчет о товарах, помещенных под  таможенную процедуру СТЗ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NonRezidentTable" type="stz:NonRezidentTableType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Отчет о товарах, помещенных под  таможенную процедуру СТЗ нерезидентом и принятых резидентом в целях складирования (хранения) и/или совершения иных операций</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Form2Table1" type="stz:Form2Table1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Отчет о товарах, изготовленных (полученных) с использованием иностраных товаров, помещенных под таможенную процедуру СТЗ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Form2Table2" type="stz:Form2Table2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Распоряжение товарами, изготовленными (полученными) с использованием товаров, помещенных под таможенную процедуру СТЗ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistryNumber" type="cat_ru:GTDIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер отчёта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeclarationNumForReport" type="cat_ru:GTDIDType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Номер таможенной декларации, содержащий информацию о товарах, помещенных под таможенную процедуру СТЗ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006068E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CompanyType">
    <xs:annotation>
      <xs:documentation>Сведения о лице или об организации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ResidentLicenseNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер свидетельства о регистрации резидента ТОСЭР/свободного порта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Organisation" type="cat_ru:OrganizationBaseType">
        <xs:annotation>
          <xs:documentation>Реквизиты организации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="cat_ru:AddressType">
        <xs:annotation>
          <xs:documentation>Адрес организации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FactAddress" type="cat_ru:AddressType">
        <xs:annotation>
          <xs:documentation>Местонахождение</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Phone" type="clt_ru:PhoneNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Телефон </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsModeQuantityType">
    <xs:annotation>
      <xs:documentation>Количество товара, соответствующее определённому коду таможенной процедуры</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsModeCode" type="cltESAD_cu:CustomsModeCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенной процедуры</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Количество товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuantityUnitQualifierName" type="clt_ru:MeasureUnitQualifierNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование единицы измерения количества</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DeclarationNumber" type="cat_ru:GTDIDType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Номер таможенной декларации</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsProcedurePlaced4MadeGoodsType">
    <xs:annotation>
      <xs:documentation>Сведения об изготовленных товарах, помещенных под таможенную процедуру</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="stz:CustomsModeQuantityType">
        <xs:sequence>
          <xs:element name="Status" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Статус товара: 0 -  ТТС (Таможенного союза), 1 - ИТ  (иностранные), 3 - ТЕАЭС (Евразийского экономического союза)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Conclusion" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер и дата заключения о признании товара, изготовленного (полученного) с использованием иностранных товаров, помещенных под таможенную процедуру СТЗ, товаром Таможенного союза или иностранным товаром</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GoodsBaseType">
    <xs:annotation>
      <xs:documentation>Базовый тип для позиций во всех таблицах отчёта. Содержит обшие для всех товаров поля, включая ИН/РОС. Позиции всех таблиц должны наследоваться от этого типа </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="stz:GoodsWithoutStatusBaseType">
        <xs:sequence>
          <xs:element name="Status" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Статус товара: 0 -  ТТС (Таможенного союза), 1 - ИТ  (иностранные), 3 - ТЕАЭС (Евразийского экономического союза)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GoodsUsageType">
    <xs:annotation>
      <xs:documentation>Использование товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Quantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Количество товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConfirmUsageDoc" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Документ, подтверждающий факт уничтожения, или разрешение на уничтожение</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Amount" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общая стоимость выбывшего товара (в тыс.руб)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OtherUsageType">
    <xs:annotation>
      <xs:documentation>Иное использование товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Quantity" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Количество товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Note" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Примечание</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsWithoutStatusBaseType">
    <xs:annotation>
      <xs:documentation>Базовый тип для позиций во всех таблицах отчёта. Содержит обшие для всех товаров поля, кроме ИН/РОС. Позиции всех таблиц должны наследоваться от этого типа </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Name" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TNVED" type="clt_ru:GoodsNomenclatureCodeType">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasureUnitQualifier" type="clt_ru:MeasureUnitQualifierNameType">
        <xs:annotation>
          <xs:documentation>Единица измерения количества товара</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuantityPutType">
    <xs:annotation>
      <xs:documentation>Количество товара, помещённое под таможенный режим СТЗ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="QuantityAtTheBeginning" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товара в начале отчётного периода/всего ввезено по таможенной декларации (разрешению на ввоз)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuantityInTheEnd" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товара (остаток), на конец отчетного периода</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuantityTotal" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Всего за отчётный период</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReportingPeriodType">
    <xs:annotation>
      <xs:documentation>Отчётный период</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StartDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата начала отчётного периода</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EndDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата окончания отчётного периода</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StateDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>По состоянию на дату</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusDisguiseGoodsType">
    <xs:annotation>
      <xs:documentation>Сведения товарах с изменным статусом</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="EquipmentQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество оборудования, введенного в эксплуатацию в соответствии с п.5 статьи 15 Соглашения о СЭЗ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Form1Table1GoodsType">
    <xs:annotation>
      <xs:documentation>Товар, помещенный под таможенную процедуру СТЗ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="stz:GoodsBaseType">
        <xs:sequence>
          <xs:element name="Put" type="stz:QuantityPutType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество товара, помещённого под таможенную процедуру СТЗ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Used" type="stz:Form1Table1QuantityUsedType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Использование товаров, помещенных под таможенную процедуру СТЗ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Form1Table1QuantityUsedType">
    <xs:annotation>
      <xs:documentation>Количество товара, использованное в отчётном периоде </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RecyclingGoodsQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товаров, в отношении которых совершены операции по переработке</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CreationRealEstateGoods" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товаров, использованных для создания объектов недвижимости</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuantityConsumed" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество потребленных товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StatusDisguiseGoods" type="stz:StatusDisguiseGoodsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товарах с изменным статусом</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DestructedGoods" type="stz:GoodsUsageType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения об  уничтоженных,  выбывших (списанных) товарах</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConstructionInfrastructure" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товаров, использованное для строительства или реконструкции объектов инфрмструктуры свободного порта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PlacedInStorage" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товаров, складированных, помещенных на хранение</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OtherUsage" type="stz:OtherUsageType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Иное распоряжение товарами </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsTreatmentModeChanged" type="stz:CustomsModeQuantityType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Завершение таможенной процедуры СТЗ помещением под иные таможенные процедуры</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Form1Table1Type">
    <xs:annotation>
      <xs:documentation>Отчет о товарах, помещенных под таможенную процедуру СТЗ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Form1Table1Goods" type="stz:Form1Table1GoodsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Товар, помещенный под таможенную процедуру СТЗ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Form2Table1GoodsType">
    <xs:annotation>
      <xs:documentation>Форма 2 Таблица 1 Данные по товарам</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="stz:GoodsBaseType">
        <xs:sequence>
          <xs:element name="Quantity" type="clt_ru:QuantityBasisType">
            <xs:annotation>
              <xs:documentation>Количество товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GTDNumber" type="cat_ru:GTDIDType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Номер ДТ,  в соответствии с которой товары были помещены под таможенный режим СТЗ </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Form2Table1Type">
    <xs:annotation>
      <xs:documentation>Форма 2 Таблица 1 Товары, помещенные под таможенную процедуру СТЗ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Form2Table1Section1" type="stz:Form2Table1GoodsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Раздел 1  Товары, изготовленные (полученные) с использованием товаров, помещенных под таможенную процедуру СТЗ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Form2Table1Section2" type="stz:Form2Table1GoodsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Раздел 2  Товары, помещенные под таможенную процедуру СТЗ, использованные при изготовлении (получении) товаров </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Form2Table2GoodsType">
    <xs:annotation>
      <xs:documentation>Форма 2 Таблица 2 Распоряжение товарами, изготовленными (полученными) на ТОСЭР</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="stz:GoodsWithoutStatusBaseType">
        <xs:sequence>
          <xs:element name="QuantityGoods" type="stz:QuantityPutType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество товара, изготовленного (полученного) </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Usage" type="stz:Form2Table2QuantityUsedType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Распоряжение товаром, изготовленным (полученным) </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Form2Table2QuantityUsedType">
    <xs:annotation>
      <xs:documentation>Форма 2 Таблица 2. Распоряжение товаром</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsProcedurePlaced" type="stz:CustomsProcedurePlaced4MadeGoodsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Товары, помещенные под таможенные процедуры</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OtherUsage" type="stz:OtherUsageType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Иное распоряжение товарами (потребление, утрата вследствие аварии, уничтожение)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Form2Table2Type">
    <xs:annotation>
      <xs:documentation>Форма 2 Таблица 2  Распоряжение товарами, изготовленными (полученными) на ТОСЭР</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Form2Table2Goods" type="stz:Form2Table2GoodsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Таблица 2 Распоряжение изготовленными (полученными) товарами</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NonRezidentTableType">
    <xs:annotation>
      <xs:documentation>Отчет о товарах, помещенных под  таможенную процедуру СТЗ резидентом и принятых резидентом в целях складирования (хранения) и/или совершения иных операций</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NonRezidentGoods" type="stz:NonRezidentGoodsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Товар, помещенный под таможенную процедуру СТЗ нерезидентом и принятый резидентом для хранения и/или совершения иных операций</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NonRezidentGoodsType">
    <xs:annotation>
      <xs:documentation>Отчет о товарах, помещенных под  таможенную процедуру СТЗ резидентом и принятых резидентом в целях складирования (хранения) и/или совершения иных операций</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="stz:GoodsBaseType">
        <xs:sequence>
          <xs:element name="Organisation" type="cat_ru:OrganizationBaseType">
            <xs:annotation>
              <xs:documentation>Реквизиты лица, заключившего с резидентом договор об оказании услуг</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Contract" type="cat_ru:DocumentBaseType">
            <xs:annotation>
              <xs:documentation>Реквизиты договора об оказании услуг по складированию (хранению) и совершению иных операций</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NumberImportDocument" type="stz:NumberImportDocumentType">
            <xs:annotation>
              <xs:documentation>Номер таможенной декларации (разрешения на ввоз товаров) / номер товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Put" type="stz:QuantityPutType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество товара, помещённого под таможенную процедуру СТЗ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Operation" type="stz:OperationType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Совершение операций с товарами</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsTreatmentModeChanged" type="stz:CustomsModeQuantityType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Завершение таможенной процедуры СТЗ помещением под иные таможенные процедуры</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OperationType">
    <xs:annotation>
      <xs:documentation>Операции, совершаемые c товарами</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PlacedInStorage" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товаров, складированных, помещенных на хранение</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FormationPackage" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Формирование (дробление) грузового места</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Marking" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Нанесение маркировки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Packing" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Упаковка/переупаковка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OtherUsage" type="stz:OtherUsageType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Иное распоряжение товарами (потребление, утрата вследствие аварии, уничтожение)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrationNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер разрешения на ввоз товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, зарегистрировавшего документ.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации документа.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:CodeVariable10Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер документа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NumberImportDocumentType">
    <xs:annotation>
      <xs:documentation>Регистрационные данные документов на ввоз товаров</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DeclarationNumber" type="cat_ru:GTDIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер таможенной декларации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Permission" type="stz:RegistrationNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер разрешения на ввоз товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsNumeric" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер товара </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>