XsltProcessor/xsd/5.23.0/TIR_Carnet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:catTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.23.0" xmlns:cltTrans_cu="urn:customs.ru:Information:TransportDocuments:CUTransportCommonLeafTypesCust:5.10.0" xmlns:catTrans_cu="urn:customs.ru:Information:TransportDocuments:CUTransportCommonAgregateTypesCust:5.22.0" xmlns:tirc="urn:customs.ru:Information:TransportDocuments:Car:TIR_Carnet:5.23.0" targetNamespace="urn:customs.ru:Information:TransportDocuments:Car:TIR_Carnet:5.23.0" elementFormDefault="qualified" version="5.23.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.23.0" schemaLocation="TransportCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:TransportDocuments:CUTransportCommonAgregateTypesCust:5.22.0" schemaLocation="CUTransportCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:TransportDocuments:CUTransportCommonLeafTypesCust:5.10.0" schemaLocation="CUTransportCommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Книжка МДП</xs:documentation>
  </xs:annotation>
  <xs:element name="TIR_Carnet" type="tirc:TIR_CarnetType" />
  <xs:complexType name="TIR_CarnetType">
    <xs:annotation>
      <xs:documentation>Книжка МДП</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="TIRHolderID" type="clt_ru:TIRHolderIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификационный номер держателя книжки МДП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TIRCustomstCode" type="clt_ru:CustomsCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Резерв. Не используется. Код таможенного органа оформления МДП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsQuantity" type="clt_ru:Count3Type">
            <xs:annotation>
              <xs:documentation>Общее число  товаров по книжке МДП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ShipSpecifGoodsQuantity" type="clt_ru:Quantity3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество товаров по отгрузочным спецификациям</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DispatchCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Буквенный код страны отправления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DestinationCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Буквенный код страны назначения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TotalInvoicedCost" type="clt_ru:AmountType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Общая фактурная стоимость</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TotalPageQuantity" type="clt_ru:Count3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество листов всех документов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DestinationCountryName" type="clt_ru:CountryNameType">
            <xs:annotation>
              <xs:documentation>Наименование страны назначения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DispatchCountryName" type="clt_ru:CountryNameType">
            <xs:annotation>
              <xs:documentation>Наименование страны отправления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DispatchCountryA3Code" type="clt_ru:CountryA3CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Буквенный  ISO Alpha 3 код страны отправления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DestinationCountryA3Code" type="clt_ru:CountryA3CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Буквенный  ISO Alpha 3 код страны назначения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TIRIdentifier" type="tirc:TIRIdentifierType">
            <xs:annotation>
              <xs:documentation>Идентификатор книжки МДП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Carrier" type="tirc:TIRCarrierType">
            <xs:annotation>
              <xs:documentation>Перевозчик / Держатель книжки МДП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Forwarder" type="catTrans_cu:TIRForwarderType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Экспедитор</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Guarantee" type="catTrans_ru:TDGuaranteeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Обеспечение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransportMeans" type="tirc:TIRTransportMeansType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Транспортные средства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PrecedingDocument" type="tirc:TIRPrecedingDocumentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Предшествующий документ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TIR_Shipment" type="tirc:TIR_ShipmentType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о товарной партии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DispatchCustomsMark" type="tirc:TIRCustomsMarkType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Отметки таможни отправления или промежуточной таможни при въезде</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DepartureCustomsMark" type="tirc:TIRCustomsMarkType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Отметки таможни назначения или промежуточной таможни при выезде</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Mark" type="tirc:MarkType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Отметки о прохождении товарами таможенного и иных видов государственного контроля.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1003104E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="GeneralParticipantInfoType">
    <xs:annotation>
      <xs:documentation>Общие сведения об участнике</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationBaseType">
        <xs:sequence>
          <xs:element name="Address" type="cat_ru:AddressType">
            <xs:annotation>
              <xs:documentation>Адрес</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MarkType">
    <xs:annotation>
      <xs:documentation>Отметки о прохождении товарами таможенного и иных видов государственного контроля.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MarkSing" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак наличия отметки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MarkKind" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Тип отметки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResultControl" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Результат прохождения контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>Отправитель/получатель товаров в книжке МДП</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tirc:GeneralParticipantInfoType">
        <xs:sequence>
          <xs:element name="ITN" type="clt_ru:ITNType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ИТН</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TIRCarrierType">
    <xs:annotation>
      <xs:documentation>Перевозчик в книжке МДП</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationBaseType">
        <xs:sequence>
          <xs:element name="ITN" type="clt_ru:ITNType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ИТН</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TIRSignature" type="tirc:TIRSignatureType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Подпись держателя. Место и дата  проставления подписи.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Address" type="cat_ru:AddressType">
            <xs:annotation>
              <xs:documentation>Адрес</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TIRCustomsMarkType">
    <xs:annotation>
      <xs:documentation>Отметки таможни</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsAcceptInfo" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Свидетельство о принятии груза к оформлению (таможня отправления или таможня при въезде)/  Свидетельство о прекращении операции МДП (таможня места назначения или таможня при выезде)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentityNoBroken" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наложенные печати,  пломбы или опознавательные знаки признаны не поврежденными</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransitTime" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Продолжительность транзитной перевозки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsDocNum" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер таможенного документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Comments" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Разное</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PackProcFinish" type="clt_ru:Quantity11Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Число грузовых мест в отношении которых  удостоверено прекращение операции МДП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsPerson" type="tirc:TIRCustomsPersonType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Подпись и печать должностного лица  таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Customs" type="cat_ru:CustomsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Зарегистрировано таможней (какой</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TIRCustomsPersonType">
    <xs:annotation>
      <xs:documentation>Должностное лицо таможенного органа.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:CustomsPersonType">
        <xs:sequence>
          <xs:element name="Date" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TIRGoodsType">
    <xs:annotation>
      <xs:documentation>Товары в книжке МДП</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catTrans_ru:TDGoodsBaseType">
        <xs:sequence>
          <xs:element name="TTNNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер товарно-транспортной накладной</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TIRIdentifierType">
    <xs:annotation>
      <xs:documentation>Идентификатор книжки МДП</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TIRID" type="cltTrans_cu:TIRIDType">
        <xs:annotation>
          <xs:documentation>Номер книжки МДП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TIRSeries" type="cltTrans_cu:TIRSeriesCodeType">
        <xs:annotation>
          <xs:documentation>Серия книжки МДП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TIRWhitePageNumber" type="clt_ru:Count5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порядковый номер белого листа книжки МДП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TIRGreenPageNumber" type="clt_ru:Count5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порядковый номер  зеленого листа книжки МДП</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TIRPrecedingDocumentType">
    <xs:annotation>
      <xs:documentation>Предшествующий документ в МДП</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="DocumentKind" type="clt_ru:Code2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Тип предшествующего документа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TIRSignatureType">
    <xs:annotation>
      <xs:documentation>Подпись держателя. Место и дата  проставления подписи.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SignPlace" type="clt_ru:PlaceNameType">
        <xs:annotation>
          <xs:documentation>Место подписи. Наименование места </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SignPlaceCountry" type="clt_ru:CountryNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Место  проставления подписи. Страна.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SignDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата проставления подписи.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SignPerson" type="cat_ru:PersonBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о лице, проставившем подпись</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TIRTransportMeansType">
    <xs:annotation>
      <xs:documentation>Транспортное средство в МДП</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catTrans_ru:TDTransportMeansType">
        <xs:sequence>
          <xs:element name="TrailerNumber" type="clt_ru:TransportMeansIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер прицепного транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TrailerNumber2" type="clt_ru:TransportMeansIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер второго прицепного транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TIR_ShipmentType">
    <xs:annotation>
      <xs:documentation>Сведения о товарной партии</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsPlaceID" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Опознавательные знаки, номера грузовых  мест или предметов</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContainerID" type="clt_ru:ContainerIdentityType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Номер контейнера.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalPlacesQuantity" type="clt_ru:Quantity11Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общее число грузовых  мест</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DepartureCustomsOffice" type="clt_ru:CustomsOfficeNameType">
        <xs:annotation>
          <xs:documentation>Наименование таможенного органа отправления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UnloadMark" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак выгрузки товарной партии</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Consignor" type="tirc:PersonType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отправитель</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Consignee" type="tirc:PersonType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Получатель</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Destination" type="catTrans_cu:TIRDestinationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Место назначения/доставки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Goods" type="tirc:TIRGoodsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Товары в книжке МДП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentityMark" type="catTrans_cu:IdentityMarkType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Пломбы или опознавательные знаки. (число, идентификация)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentityCustPerson" type="tirc:TIRCustomsPersonType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>гр.17. Таможня места отправления. Подпись должностного лица и штемпель таможни с датой.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UnloadCustoms" type="tirc:UnloadCustomSignType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Реквизиты таможни,принимающей товарную партию.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnloadCustomSignType">
    <xs:annotation>
      <xs:documentation>Реквизиты таможни,принимающей товарную партию.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustComments" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Комментарий к получению груза.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Customs" type="cat_ru:CustomsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код и наименование таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Person" type="cat_ru:CustomsPersonType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Должностное лицо таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>