XsltProcessor/xsd/5.23.0/TOR_NotifOutConditions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--  Приказ ФТС России от 30.07.2015 N 1526 (Приложение 5 и п.27)   -->
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:tor_noc="urn:customs.ru:Information:CustomsDocuments:TOR_NotifOutConditions:5.22.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:TOR_NotifOutConditions:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Уведомление о невыполнении условий вывоза с ТОСЭР</xs:documentation>
  </xs:annotation>
  <xs:element name="TOR_NotifOutConditions" type="tor_noc:TOR_NotifOutConditionsType" />
  <xs:complexType name="TOR_NotifOutConditionsType">
    <xs:annotation>
      <xs:documentation>Уведомление о невыполнении условий вывоза с ТОСЭР (тип)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="RegDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата регистрации уведомления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Наименование таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResidentTOR" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование резидента ТОСЭР, лица, действующего по его поручению</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Conditions" type="tor_noc:ConditionsType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Условия вывоза, которые не были выполнены</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006223E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ConditionsType">
    <xs:annotation>
      <xs:documentation>Сведения о невыполненных условиях вывоза</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Note" type="clt_ru:FreeText500Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Описание невыполненного условия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Sign" type="clt_ru:Numeric1Type">
        <xs:annotation>
          <xs:documentation>Признак невыполненного условия : 1 - отсутствуют сведения о регистрационном номере транспортного средства в информационно-программных средствах ЕАИС таможенных органов; 2 - 	несоответствие веса транспортного средства, перевозящего товары, сведениям, содержащимся в Разрешении на вывоз товаров и транспортных средств; 3 -  иное</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CompareDoc" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Данные документа, в сравнении с которым выявлены расхождения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>