XsltProcessor/xsd/5.23.0/TransportDeclaration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:trdecl="urn:customs.ru:Information:CustomsDocuments:TransportDeclaration:5.22.0" xmlns:cltTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.14.3" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:TransportDeclaration:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.14.3" schemaLocation="TransportCommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Электронная копия таможенной декларации на транспортное средство</xs:documentation>
  </xs:annotation>
  <xs:element name="TransportDeclaration" type="trdecl:TransportDeclarationType" />
  <xs:complexType name="TransportDeclarationType">
    <xs:annotation>
      <xs:documentation>«Электронная копия таможенной декларации на транспортное средство»</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Status" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>0 - Ввоз; 1 - Вывоз . Графа 1 ТДТС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StoreInfo" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наличие припасов в ТСМП (0 - нет; 1 - да). Графа 8 ТДТС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsInfo" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Сведения о товаре. Наличие товаров в ТСМП (0 - нет; 1 - да). Графа 9 ТДТС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Purpose" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Цель ввоза/вывоза (1 - для начала международной перевозки грузов, пассажиров и (или) багажа на таможенной территории; 2 - для начала международной перевозки грузов, пассажиров и (или) багажа за пределы таможенной территории; 3 - для завершения международной перевозки грузов, пассажиров и (или) багажа на таможенной территории; 4 - для завершения международной перевозки грузов, пассажиров и (или) багажа за пределами таможенной территории). Графа 11 ТДТС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AdditionalInfo" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Дополнительные сведения. Графа 12 ТДТС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Таможенный орган, в который представляется ТДТС </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TSInfo" type="trdecl:TSInfoType">
            <xs:annotation>
              <xs:documentation>Транспортное средство</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Shipping" type="trdecl:ShippingType">
            <xs:annotation>
              <xs:documentation>Сведения о перевозке груза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Route" type="trdecl:RouteType">
            <xs:annotation>
              <xs:documentation>Маршрут. Графа 5 ТДТС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CrewInfo" type="trdecl:CrewInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Экипаж. Графа 6 ТДТС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Passengers" type="trdecl:PassengersType">
            <xs:annotation>
              <xs:documentation>Пассажиры</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OperatingEquipment" type="trdecl:OperatingEquipmentType">
            <xs:annotation>
              <xs:documentation>Запасные части и оборудование</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Signer" type="trdecl:SignerType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Подпись лица, заявляющего сведения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TDTSOpenRegNum" type="trdecl:TDTSRegNumType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер ТДТС при начале международной перевозки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TDTSCloseRegNum" type="trdecl:TDTSRegNumType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер ТДТС при окончании международной перевозки</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006159E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CarrierType">
    <xs:annotation>
      <xs:documentation>Лицо, осуществляющее перевозку товаров</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationBaseType">
        <xs:sequence>
          <xs:element name="CarrierAddress" type="cat_ru:AddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Место нахождения перевозчика в соответствии с транспортными (перевозочными) документами</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Representative" type="cat_ru:PersonBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Представитель перевозчика</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CrewInfoType">
    <xs:annotation>
      <xs:documentation>Экипаж. Графа 6 ТДТС</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CrewDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Экипаж (команда судна, поездная бригада и т.п.)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalMemberCount" type="clt_ru:CodeVariable4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общее количество членов экипажа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsRepresCertificateType">
    <xs:annotation>
      <xs:documentation>Свидетельство о включении лица в реестр таможенных представителей</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="DocumentModeCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Тип документа: 2 - свидетельство таможенного представителя (брокера); 3 - свидетельство таможенного представителя</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DateStampType">
    <xs:annotation>
      <xs:documentation>Сведения, указанные на календарном штемпеле</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Date" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата проставления штемпеля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RWStation" type="trdecl:RWStationType">
        <xs:annotation>
          <xs:documentation>Ж/д станция проставления штемпеля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Officer" type="cat_ru:PersonBaseType">
        <xs:annotation>
          <xs:documentation>Ответственный работник станции</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DestinationType">
    <xs:annotation>
      <xs:documentation>Место назначения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DestinationPlace" type="clt_ru:PlaceNameType">
        <xs:annotation>
          <xs:documentation>Пункт назначения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DestinationCountry" type="clt_ru:CountryNameType">
        <xs:annotation>
          <xs:documentation>Страна назначения. Краткое название страны в соответствии с классификатором стран мира</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DestinationCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна назначения. Буквенный код страны в соответствии с классификатором стран мира</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EquipmentType">
    <xs:annotation>
      <xs:documentation>Сведения о запасных частях и оборудовании</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:SupplementaryQuantityType">
        <xs:sequence>
          <xs:element name="EquipmentName" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
            <xs:annotation>
              <xs:documentation>Наименование запасных частей и оборудования</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FlightInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о рейсе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FlightNumber" type="cltTrans_ru:FlightNumberType">
        <xs:annotation>
          <xs:documentation>Номер рейса.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FlightDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата рейса</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FlightTime" type="clt_ru:TimeCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Время вылета рейса</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OperatingEquipmentType">
    <xs:annotation>
      <xs:documentation>Запасные части и оборудование</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsSign" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Наличие запасных частей и оборудования, предназначенных для ремонта и эксплуатации ТСМП</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EquipmentDescription" type="trdecl:EquipmentType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Краткое описание и количество запасных частей и оборудования</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PassengersType">
    <xs:annotation>
      <xs:documentation>Пассажиры</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TSMPPassenger" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Наличие пассажиров, перевозимых в ТСМП (0 - нет; 1- да)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MemberCount" type="clt_ru:CodeVariable4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество пассажиров, перевозимых в ТСМП</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RWStationType">
    <xs:annotation>
      <xs:documentation>Ж/д станция</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StationCode" type="clt_ru:RailwayStationCodeType">
        <xs:annotation>
          <xs:documentation>Код станции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StationName" type="clt_ru:PlaceNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование станции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RailwayCode" type="clt_ru:CodeVariable4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код железной дороги </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RouteType">
    <xs:annotation>
      <xs:documentation>Маршрут. Графа 5 ТДТС</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Destination" type="trdecl:DestinationType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Место назначения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FlightInfo" type="trdecl:FlightInfoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о рейсе</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ShippingType">
    <xs:annotation>
      <xs:documentation>Сведения о перевозке груза</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Carrier" type="trdecl:CarrierType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Лицо, осуществляющее перевозку товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateStamp" type="trdecl:DateStampType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения, указанные на календарном штемпеле</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SignerType">
    <xs:annotation>
      <xs:documentation>Подпись лица, заявляющего сведения</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonSignatureType">
        <xs:sequence>
          <xs:element name="RepresentativeName" type="clt_ru:NameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование таможенного представителя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Sertificate" type="trdecl:CustomsRepresCertificateType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Свидетельство о включении лица в реестр таможенных представителей</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ServiceContract" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Договор на оказание услуг по совершению таможенных операций в отношении временно ввозимых (вывозимых) ТСМП</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TDTSRegNumType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер ТДТС</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="TransportModeCode" type="clt_ru:TransportModeCodeType">
            <xs:annotation>
              <xs:documentation>Код вида транспортного средства по классификатору видов транспорта и транспортировки товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TSInfoType">
    <xs:annotation>
      <xs:documentation>Транспортное средство</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TransportModeCode" type="clt_ru:TransportModeCodeType">
        <xs:annotation>
          <xs:documentation>Код вида транспортного средства по классификатору видов транспорта и транспортировки товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportMeans" type="trdecl:TransportMeansType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание транспортного средства</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportMeansType">
    <xs:annotation>
      <xs:documentation>Описание транспортного средства</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TDTSOpenVVRegNum" type="trdecl:TDTSRegNumType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер ТДТС при открытии временного ввоза/вывоза</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportNationalityCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Буквенный код страны принадлежности (регистрации) транспортных средств по классификатору стран мира. 00-неизвестна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportNationalityName" type="clt_ru:CountryNameType">
        <xs:annotation>
          <xs:documentation>Краткое наименование страны регистрации ТСМП в соответствии с классификатором стран мира.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Kind" type="clt_ru:Text150Type">
        <xs:annotation>
          <xs:documentation>Наименование типа ТСМП соответствии с классификатором типов транспортных средств международной перевозки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Model" type="clt_ru:TransportNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Модель</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Mark" type="clt_ru:MarkCarNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование марки транспортного средства в соответствии с классификатором марок дорожных транспортных средств</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BodyID" type="clt_ru:VINIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификационный номер кузова (прицепа), присвоенный и нанесенный на него организацией-изготовителем</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VIN" type="clt_ru:VINIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер шасси (VIN)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportKindCode" type="clt_ru:Code3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код типа ТСМП в соответствии с классификатором типов транспортных средств международной перевозки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportMarkCode" type="clt_ru:MarkCarCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код марки транспортного средства в соответствии с классификатором марок дорожных транспортных средств</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportIdentifier" type="clt_ru:TransportMeansIDType">
        <xs:annotation>
          <xs:documentation>Идентификатор. Номер транспортного средства, наименование судна, номер авиарейса, номер поезда, номер железнодорожного вагона (платформ, цистерн и т.п.)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ActiveTransportIdentifier" type="clt_ru:TransportMeansIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор активного транспортного средства для прицепов, полуприцепов и др.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportRegNumber" type="clt_ru:CodeVariable20Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер свидетельства о регистрации транспортного средства для РБ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>