XsltProcessor/xsd/5.23.0/TransportMeansPassport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:catESAD_ru="urn:customs.ru:RUCommonAggregateTypes:5.23.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:cltESAD_ru="urn:customs.ru:RUCommonLeafTypes:5.4.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" xmlns:tmp="urn:customs.ru:Information:CustomsDocuments:TransportMeansPassport:5.23.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:TransportMeansPassport:5.23.0" elementFormDefault="qualified" version="5.23.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUCommonLeafTypes:5.4.0" schemaLocation="RUESADCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUCommonAggregateTypes:5.23.0" schemaLocation="RUESADCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Паспорт транспортного средства</xs:documentation>
  </xs:annotation>
  <xs:element name="TransportMeansPassport" type="tmp:TransportMeansPassportType">
    <xs:annotation>
      <xs:documentation>Паспорт транспортного средства. </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="TransportMeansPassportType">
    <xs:annotation>
      <xs:documentation>Паспорт транспортного средства. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="IssueDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата выдачи паспорта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrganizationName" type="clt_ru:NameType">
            <xs:annotation>
              <xs:documentation>Наименование организации, выдавшей паспорт</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountryCode" type="clt_ru:CountryN3CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код страны ввоза/вывоза ТС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsRestriction" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Установленные таможенными органами ограничения по использованию и распоряжению транспортными средствами, ввозимыми на территорию Российской Федерации </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PTSSerialNumber" type="cat_ru:TransportMeansPassportType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Серия и номер Паспорта транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Manufacturer" type="catESAD_ru:TransportManufacturerType">
            <xs:annotation>
              <xs:documentation>Юридический адрес организации (изготовителя, таможни или подразделения Госавтоинспекции), выдавшей паспорт</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PTSData" type="tmp:PTSDataType">
            <xs:annotation>
              <xs:documentation>Сведения о транспортном средстве</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:choice>
            <xs:annotation>
              <xs:documentation>Серия, N удостоверения или номер ДТ</xs:documentation>
            </xs:annotation>
            <xs:element name="ImportCertification" type="tmp:FederalDocType" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Документ по которому проведено обращение ТС в федеральную собственность.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="CustomsProfitOrder" type="tmp:CustomsProfitOrderType" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Номер таможенного приходного ордера (ТПО)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="GTDID" type="cat_ru:GTDIDType" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Номер ДТ</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element name="OrganizationlegalAddress" type="cat_ru:AddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Адрес организации, выдавшей паспорт</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransportMeansOwner" type="catESAD_ru:TransportOwnerType">
            <xs:annotation>
              <xs:documentation>Сведения о собственнике транспортного средства (адрес, наименование организации или фамилия физического лица)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TSBargain" type="tmp:TSBargainType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о сделках с транспортным средством</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="VehicleEPassportId" type="tmp:VehicleEPassportIdType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер электронного паспорта транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006085E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CertificateRegistrationType">
    <xs:annotation>
      <xs:documentation>Свидетельство о регистрации ТС</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Series" type="clt_ru:Code4Type">
        <xs:annotation>
          <xs:documentation>Серия</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:Code6Type">
        <xs:annotation>
          <xs:documentation>Номер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegSign" type="clt_ru:Code6Type">
        <xs:annotation>
          <xs:documentation>Регистрационный номер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegData" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IssuedGIBDD" type="clt_ru:FreeText250Type">
        <xs:annotation>
          <xs:documentation>Выдано ГИБДД</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegionCode" type="clt_ru:RegionCodeType">
        <xs:annotation>
          <xs:documentation>Код региона</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsProfitOrderType">
    <xs:annotation>
      <xs:documentation>Номер таможенного приходного ордера (ТПО)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации документа.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Номер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Series" type="clt_ru:SeriesCodeType">
        <xs:annotation>
          <xs:documentation>Серия</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FederalDocType">
    <xs:annotation>
      <xs:documentation>Документ по которому ТС обращено в федеральную  собственность</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="Series" type="clt_ru:SeriesCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Серия</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GIBDDRegistrationType">
    <xs:annotation>
      <xs:documentation>Сведения об учете ТС в ГИБДД</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StrakeOffDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата снятия с учета</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CertificateRegistration" type="tmp:CertificateRegistrationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Свидетельство о регистрации ТС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationSign" type="cat_ru:PersonBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Подпись лица при  регистрации ТС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrikeOffSign" type="cat_ru:PersonBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Подпись лица при снятии с учета</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IssuingDocuments" type="cat_ru:PersonBaseType">
        <xs:annotation>
          <xs:documentation>Подпись лица, выдавшего ПТС.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PTSDataType">
    <xs:annotation>
      <xs:documentation>Сведения о транспортном средстве</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catESAD_cu:AutomobileBaseType">
        <xs:sequence>
          <xs:element name="Kind" type="cltESAD_cu:TransportKindCodeType">
            <xs:annotation>
              <xs:documentation>Тип транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransportCategoryCode" type="clt_ru:CodeVariable3Type">
            <xs:annotation>
              <xs:documentation>Категория транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransportMeansColorCode" type="clt_ru:TransportMeansColorCodeType">
            <xs:annotation>
              <xs:documentation>Код цвета транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EngineModel" type="cltESAD_ru:EngineModelType">
            <xs:annotation>
              <xs:documentation>Модель двигателя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EnginePowerKvtQuanity" type="clt_ru:EnginePowerQuanityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Мощность двигателя в киловаттах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EnginePowerHpQuanity" type="clt_ru:EnginePowerQuanityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Мощность двигателя в лошадиных силах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MaxWeightQuantity" type="clt_ru:WeighQuantityType">
            <xs:annotation>
              <xs:documentation>Разрешенная максимальная масса ТС в кг</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MinWeightQuantity" type="clt_ru:WeighQuantityType">
            <xs:annotation>
              <xs:documentation>Масса без нагрузки в кг</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EngineModeCode" type="clt_ru:Code2Type">
            <xs:annotation>
              <xs:documentation>Код типа двигателя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Ekoclass" type="clt_ru:DigitalIndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Экологический класс ("0"-нулевой, "1" - первый, "2" - второй, "3" - третий, "4" - четвертый, "5" - пятый)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SpecialMark" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Особые отметки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConformanceCertificate" type="catESAD_ru:ConformanceCertificateType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Реквизиты Одобрения типа ТС /Сертификата соответствия</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransportMeansColorList" type="tmp:TransportColorListType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Список цветов ТС, шасси ТС. Заполняется названиями основных  цветов,  если цвет - многоцветный.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TSBargainType">
    <xs:annotation>
      <xs:documentation>Сведения о сделках с транспортным средством</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SellingDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата продажи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SpecialMark" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Особые отметки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocPropertyRights" type="cat_ru:DocumentBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Документы на право собственности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NewTransportOwner" type="catESAD_ru:TransportOwnerType">
        <xs:annotation>
          <xs:documentation>Сведения о новом собственнике ТС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrevOwnerSign" type="cat_ru:PersonBaseType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Подпись прежнего собственника</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NewOwnerSign" type="cat_ru:PersonBaseType">
        <xs:annotation>
          <xs:documentation>Подпись настоящего собственника</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GIBDDRegistration" type="tmp:GIBDDRegistrationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения об учете ТС в ГИБДД</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportColorListType">
    <xs:annotation>
      <xs:documentation>Список цветов ТС, шасси ТС. Заполняется названиями основных  цветов,  если цвет - многоцветный.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ColorCode" type="clt_ru:TransportMeansColorCodeType">
        <xs:annotation>
          <xs:documentation>Код цвета кабины, кузова</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ColorName" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Наименование цвета кабины, кузова</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="VehicleEPassportIdType">
    <xs:annotation>
      <xs:documentation>Строка символов, идентифицирующая электронный паспорт транспортного средства</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:pattern value="[0-9]{15}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>