XsltProcessor/xsd/5.23.0/TransitInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:RUDECLcat="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.23.0" xmlns:tci="urn:customs.ru:Information:CustomsDocuments:TransitInfo:5.23.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:TransitInfo:5.23.0" elementFormDefault="qualified" version="5.23.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.22.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.23.0" schemaLocation="RUDeclCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Информация о транзитных товарах</xs:documentation>
  </xs:annotation>
  <xs:element name="TransitInfo" type="tci:TransitInfoType" />
  <xs:complexType name="TransitInfoType">
    <xs:annotation>
      <xs:documentation>Информация о транзитных товарах</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="StatusName" type="clt_ru:Text40Type">
            <xs:annotation>
              <xs:documentation>Прикладное статусное состояние транзитной перевозки.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocumentDateTime" type="clt_ru:DateTimeCustType">
            <xs:annotation>
              <xs:documentation>Дата и время создания документа.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Reason" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Обоснование</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AddInfoForEndTransit" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дополнительная информация для направления перевозчику в сообщении о завершении таможенной процедуры таможенного транзита</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ActNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер акта таможенного досмотра</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
            <xs:annotation>
              <xs:documentation>Код таможенного органа отправления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransitStampDateTime" type="clt_ru:DateTimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата и время из штампа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsOfficial" type="cat_ru:CustomsPersonType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о должностном лице таможенного органа, проставившем штамп.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Header" type="tci:HeaderType">
            <xs:annotation>
              <xs:documentation>Заголовок ТД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consigment" type="tci:ConsigmentType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Товарно-транспортная накладная.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PrecedingDocument" type="tci:ProducedDocumentType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Предшествующий документ (при открытии процедуры транзита)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DestinationPlace" type="tci:DestinationPlaceType">
            <xs:annotation>
              <xs:documentation>Сведения о месте назначения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Seal" type="tci:SealType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Информация о пломбах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Guarantee" type="RUDECLcat:TDGuaranteeType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Гарантия</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RouteCustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Код таможенного органа по маршруту</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006154E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ArchDocInfoType">
    <xs:annotation>
      <xs:documentation>Информация о размещении электронного документа в электронном архиве</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ArchID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор электронного архива декларанта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArchDocID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор документа в электронном архиве декларанта</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsigmentType">
    <xs:annotation>
      <xs:documentation>Товарно-транспортная накладная.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tci:ProducedDocumentType">
        <xs:sequence>
          <xs:element name="Sequence" type="clt_ru:Count3Type">
            <xs:annotation>
              <xs:documentation>Порядковый номер накладной.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsInvoiceNumber" type="clt_ru:Text40Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Таможенный номер накладной.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignor" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Грузоотправитель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignee" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Грузополучатель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsItem" type="tci:TransitGoodsType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Описание товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ProducedDocument" type="tci:ProducedDocumentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Представляемые документы (сертификаты).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DestinationPlaceType">
    <xs:annotation>
      <xs:documentation>Сведения о месте назначения</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:CUCustomsType">
        <xs:sequence>
          <xs:element name="PlaceDescription" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Место доставки товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistrationCertificate" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Свидетельство о включении в реестр УЭО</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RWstation" type="tci:RWstationType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ЖД станция</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HeaderType">
    <xs:annotation>
      <xs:documentation>Заголовок ТД</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DeclarationKind" type="clt_ru:Text40Type">
        <xs:annotation>
          <xs:documentation>Тип транзитной декларации.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalNumberOfGoods" type="clt_ru:Count6Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общее количество товаров.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalNumberOfPackages" type="clt_ru:PakageNumberType">
        <xs:annotation>
          <xs:documentation>Общее количество грузовых мест.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalGrossMass" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Общий вес брутто</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Comment" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Комментарий.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DepartureCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код страны отправления.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DestinationCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код страны назначения.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransitDateLimit" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Срок таможенного транзита</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Transport" type="tci:TransportType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Транспортное средство</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="TDNumber" type="cat_ru:GTDIDType">
          <xs:annotation>
            <xs:documentation>Номер транзитной декларации</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="TIRID" type="tci:TIRIDType">
          <xs:annotation>
            <xs:documentation>Номер книжки МДП.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="Carrier" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Перевозчик</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ParticipantID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор участника ВЭД, использованный перевозчиком для представления документов при завершении ТТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PI_RegID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный идентификатор предварительной информации</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProducedDocumentType">
    <xs:annotation>
      <xs:documentation>Представляемые документы (сертификаты).</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="DocumentKind" type="clt_ru:CustomsDocumentCodeType">
            <xs:annotation>
              <xs:documentation>Тип представленного документа.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArchDocInfo" type="tci:ArchDocInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Информация о размещении документа в электронном архиве</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RWstationType">
    <xs:annotation>
      <xs:documentation>ЖД станция</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StationCode" type="clt_ru:RailwayStationCodeType">
        <xs:annotation>
          <xs:documentation>Код станции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StationName" type="clt_ru:PlaceNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование станции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RailwayCode" type="clt_ru:CodeVariable4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код железной дороги</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SealType">
    <xs:annotation>
      <xs:documentation>Информация о пломбах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IdentNumber" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Номер наложенного средства идентификации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentKind" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Вид средств идентификации: 1 - пломба, 2 - печать, 3 - иное</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentDesc" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Примечание по средству идентификации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TIRIDType">
    <xs:annotation>
      <xs:documentation>Номер книжки МДП.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TIRID" type="clt_ru:Code8Type">
        <xs:annotation>
          <xs:documentation>Номер книжки МДП.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TIRSeries" type="clt_ru:Code2Type">
        <xs:annotation>
          <xs:documentation>Серия книжки МДП.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TIRPageNumber" type="clt_ru:Count5Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер листа книжки МДП.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата регистрации документа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransitGoodsType">
    <xs:annotation>
      <xs:documentation>Описание товара</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catESAD_cu:GoodsItemBaseType">
        <xs:sequence>
          <xs:element name="TNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CurrencyCode" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код валюты фактурной стоимости</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SupplementaryGoodsQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество товара в дополнительной единице измерения.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ContainerIdentificator" type="clt_ru:ContainerIdentityType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Номера (идентификаторы) контейнеров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsPackaging" type="catESAD_cu:ESADGoodsPackagingType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения об упаковке товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TransportType">
    <xs:annotation>
      <xs:documentation>Транспортное средство</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:CUTransportMeansType">
        <xs:sequence>
          <xs:element name="TransportMeans" type="cat_ru:TransportMeansBaseType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Описание транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>