XsltProcessor/xsd/5.23.0/VehiclePresentDemand.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приказ ФТС России № 489 от 25 марта 2019 года "Об утверждении порядка разработки, опубликования и внесения изменений в форматы и структуры электронных документов, участвующих в обмене при взаимодействии таможенных органов Российской Федерации и заинтересованных лиц" -->
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:vpd="urn:customs.ru:Information:CustomsDocuments:VehiclePresentDemand:5.22.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:VehiclePresentDemand:5.22.0" elementFormDefault="qualified" version="5.22.0.0">
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Требование о представлении транспортного средства для целей осмотра и (или) идентификационной сверки</xs:documentation>
	</xs:annotation>
	<xs:element name="VehiclePresentDemand" type="vpd:VehiclePresentDemandType">
		<xs:annotation>
			<xs:documentation>Требование о представлении транспортного средства для целей осмотра и (или) идентификационной сверки</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="VehiclePresentDemandType">
		<xs:annotation>
			<xs:documentation>Требование о представлении транспортного средства для целей осмотра и (или) идентификационной сверки</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="CustomsDetails" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Таможенный орган, сформировавший требование</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PayerInfo" type="vpd:OrganizationType">
						<xs:annotation>
							<xs:documentation>Сведения о плательщике</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DemandFormDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата формирования требования</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VehicleInfo" type="vpd:VehicleType">
						<xs:annotation>
							<xs:documentation>Сведения о транспортном средстве</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ZTKCustoms" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Таможенный орган, в регионе деятельности которого находится зона таможенного контроля</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ZTKAddress" type="RUScat_ru:RUAddressType">
						<xs:annotation>
							<xs:documentation>Адрес зоны таможенного контроля</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VehiclePresentationTerm" type="clt_ru:DateTimeCustType">
						<xs:annotation>
							<xs:documentation>Срок предъявления транспортного средства</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsContact" type="cat_ru:ContactType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Контакты таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsPerson" type="RUScat_ru:CustomsPersonDetails">
						<xs:annotation>
							<xs:documentation>Сведения об уполномоченном должностном лице, подписавшем
Требование</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DemandDirectionDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата направления Требования</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsPersonSign" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак подписания Требования электронной цифровой
подписью уполномоченного должностного лица: 0 - нет, 1 - да</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VehicleOwner" type="cat_ru:PersonBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о лице, получившем Требование</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DemandReceivingDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата получения Требования</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VehicleOwnerSign" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак подписания Требования лицом, получившим Требование: 0 - нет, 1 - да</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OtherWayDirection" type="clt_ru:Text150Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о месте, куда направлено требование, и способе его направления</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InspectionResult" type="vpd:InspectionResultType">
						<xs:annotation>
							<xs:documentation>Сведения о результатах осмотра (Раздел I)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InspectionInfo" type="vpd:InspectionInfoType">
						<xs:annotation>
							<xs:documentation>Сведения о проведении осмотра (идентификационной сверки) самоходной машины и/или прицепа по фактическому месту нахождения плательщика (Раздел II)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006361E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы.</xs:documentation>
	</xs:annotation>
	<xs:complexType name="InspectionInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о проведении осмотра (идентификационной сверки) самоходной машины и/или прицепа по фактическому месту нахождения плательщика (Раздел II)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PayerInfo" type="vpd:OrganizationType">
				<xs:annotation>
					<xs:documentation>Сведения о плательщике</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RequestInfo" type="cat_ru:DocumentBaseType">
				<xs:annotation>
					<xs:documentation>Дата и номер обращения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehicleKind" type="clt_ru:LetterIndicatorType">
				<xs:annotation>
					<xs:documentation>Вид транспортного средства: 0 - самоходная машина, 1 - прицеп</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehicleAddress" type="RUScat_ru:RUAddressType">
				<xs:annotation>
					<xs:documentation>Место нахождения самоходной машины и/или прицепа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InspectionDateTime" type="clt_ru:DateTimeCustType">
				<xs:annotation>
					<xs:documentation>Дата и время проведения осмотра (идентификационной сверки)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DecisionCustomsPerson" type="RUScat_ru:CustomsPersonDetails" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о должностном лице, принявшем решение о проведении осмотра и (или) идентификационной сверки</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InspectionResultType">
		<xs:annotation>
			<xs:documentation>Сведения о результатах осмотра (Раздел I)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ComplianceSign" type="clt_ru:IndicatorType">
				<xs:annotation>
					<xs:documentation>Признак соответствия идентификационных данных транспортного средства сведениям, представленным в расчете утилизационного сбора: 0 - не соответствуют, 1 - соответствуют</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DemandReceivingDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата расчета утилизационного сбора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegUtil" type="vpd:PresentedDocumentType">
				<xs:annotation>
					<xs:documentation>Регистрационный номер расчета утилизационного сбора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdjustedData" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о скорректированных данных</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InspectionPerson" type="RUScat_ru:CustomsPersonDetails" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о должностном лице, проводившем осмотр</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InspectionPersonSign" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак подписания Требования электронной цифровой
подписью уполномоченного должностного лица, проводившего осмотр: 0 - нет, 1 - да</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InspectionEnd" type="clt_ru:DateTimeCustType">
				<xs:annotation>
					<xs:documentation>Дата и время окончания осмотра</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganizationType">
		<xs:annotation>
			<xs:documentation>Сведения о плательщике</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:OrganizationBaseType">
				<xs:sequence>
					<xs:element name="OKPOID" type="clt_ru:OKPOIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код организации по ОКПО</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OKATOCode" type="clt_ru:OKATOCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код ОКАТО</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Address" type="RUScat_ru:RUAddressType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Адрес </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Contact" type="cat_ru:ContactType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Контактная информация</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PresentedDocumentType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер расчета утилизационного сбора</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="PresentedDocumentModeCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код вида представляемого документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UnifiedCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код страны</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AuthorityId" type="clt_ru:CodeVariable20Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор уполномоченного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BenefitCode" type="clt_ru:CodeVariable5Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код документа, подтверждающего соблюдение условий предоставления освобождения от уплаты таможенных пошлин, налогов</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VehicleType">
		<xs:annotation>
			<xs:documentation>Сведения о транспортном средстве</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VehicleKind" type="clt_ru:LetterIndicatorType">
				<xs:annotation>
					<xs:documentation>Вид транспортного средства: 0 - самоходная машина, 1 - прицеп</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Manufacturer" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Наименование производителя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Model" type="clt_ru:TransportNameType">
				<xs:annotation>
					<xs:documentation>Марка, модель</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VINID" type="clt_ru:VINIDType">
				<xs:annotation>
					<xs:documentation>Идентификационный номер (заводской номер)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
