XsltProcessor/xsd/5.23.0/VehicleStopAct.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Приказ ФТС России  от 14.01.2019 г. № 30 "Об утверждении формы акта об остановке автомобильного транспортного средства и порядка ее заполнения" -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.22.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" xmlns:vsa="urn:customs.ru:Information:CustomsAuditDocuments:VehicleStopAct:5.22.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" targetNamespace="urn:customs.ru:Information:CustomsAuditDocuments:VehicleStopAct:5.22.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.22.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.22.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.22.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Акт об остановке автомобильного транспортного средства</xs:documentation>
  </xs:annotation>
  <xs:element name="VehicleStopAct" type="vsa:VehicleStopActType">
    <xs:annotation>
      <xs:documentation>Акт об остановке автомобильного транспортного средства</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="VehicleStopActType">
    <xs:annotation>
      <xs:documentation>Акт об остановке автомобильного транспортного средства</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Наименование таможенного органа, выпустившего Акт</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MobileGroupCode" type="clt_ru:NameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код мобильной группы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ActDate" type="clt_ru:DateCustType" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Дата составления Акта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ActRegNumber" type="vsa:ActRegNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер акта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StopDate" type="clt_ru:DateTimeCustType" minOccurs="1">
            <xs:annotation>
              <xs:documentation>Дата и время остановки транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StoppingOfficial" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>Должностное лицо, остановившее транспортное средство</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FactStopPlace" type="vsa:FactStopPlaceType">
            <xs:annotation>
              <xs:documentation>Фактическое место остановки транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Vehicle" type="cat_ru:TransportMeansBaseType">
            <xs:annotation>
              <xs:documentation>Остановленное транспортное средство</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Goods" type="vsa:GoodsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о товарах </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DispatchCountry" type="RUScat_ru:CountryDetailsV3Type">
            <xs:annotation>
              <xs:documentation>Страна отправления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConsignorDetails" type="RUScat_ru:OrganizationType">
            <xs:annotation>
              <xs:documentation>Сведения об отправителе товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DestinationCountry" type="RUScat_ru:CountryDetailsV3Type">
            <xs:annotation>
              <xs:documentation>Страна назначения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CarrierOrgainization" type="RUScat_ru:OrganizationType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Организация-перевозчик</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConsigneeDetails" type="RUScat_ru:OrganizationType">
            <xs:annotation>
              <xs:documentation>Сведения о получателе товаров </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PresentedDocuments" type="RUScat_ru:DocBaseV4Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Представленные документы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocsCheckResults" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Результаты проверки документов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsCheckResult" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Результаты осмотра товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ViolationFlagCode" type="clt_ru:Code2Type">
            <xs:annotation>
              <xs:documentation>Код признака нарушения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonSignatureAuthorAct" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Подпись должностного лица таможенного органа, составившего Акт</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Carrier" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Подпись перевозчика (лица, управляющего транспортным средством)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SecondExempReceived" type="vsa:SecondExempReceivedType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Подпись лица, получившего второй экземпляр</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006941E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ActRegNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер акта</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:CodeVariable8Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FactStopPlaceType">
    <xs:annotation>
      <xs:documentation>Сведения о фактическом месте остановки транспортного средства</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="District" type="RUSclt_ru:DistrictType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Район</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="City" type="RUSclt_ru:CityNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Населенный пункт</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RoadNumber" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Учетный номер автодороги</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count5Type">
        <xs:annotation>
          <xs:documentation>Номер товара по порядку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrossWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес товара брутто (тонн)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товара в дополнительной единице измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SecondExempReceivedType">
    <xs:annotation>
      <xs:documentation>Сведения о лице, получившем второй экземпляр Акта</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonBaseType">
        <xs:sequence>
          <xs:element name="Date" type="clt_ru:DateTimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата и время получения</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>