XsltProcessor/xsd/5.15.0/AppProlongTempImpExp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
DocKind = 0
Проект Приказа ФТС "Об утверждении формы заявления о продлении срока действия таможенной процедуры временного вывоза и формы решения таможенного органа по результатам рассмотрения указанного заявления"
Приложение № 1 - Заявление о продлении срока действия таможенной процедуры временного вывоза
DocKind = 1
Проект Приказа ФТС "Об утверждении формы заявления о продлении срока действия таможенной процедуры временного ввоза (допуска) и формы решения таможенного органа о продлении (отказе в продлении) срока действия таможенной процедуры временного ввоза (допуска)"
Приложение № 1 - Заявление о продлении срока действия таможенной процедуры временного ввоза (допуска)
-->
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.15.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.10.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:apte="urn:customs.ru:Information:TransportDocuments:AppProlongTempImpExp:5.15.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:TransportDocuments:AppProlongTempImpExp:5.15.0" elementFormDefault="qualified" version="5.15.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.15.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.10.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Заявление о продлении срока действия таможенной процедуры временного вывоза / Заявление о продлении срока действия таможенной процедуры временного ввоза (допуска)</xs:documentation>
  </xs:annotation>
  <xs:element name="AppProlongTempImpExp" type="apte:AppProlongTempImpExpType">
    <xs:annotation>
      <xs:documentation>Заявление о продлении срока действия таможенной процедуры временного вывоза / Заявление о продлении срока действия таможенной процедуры временного ввоза (допуска)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AppProlongTempImpExpType">
    <xs:annotation>
      <xs:documentation>Заявление о продлении срока действия таможенной процедуры временного вывоза / Заявление о продлении срока действия таможенной процедуры временного ввоза (допуска)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DocKind" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Тип документа: 0 - Заявление о продлении срока действия таможенной процедуры временного вывоза; 1 - Заявление о продлении срока действия таможенной процедуры временного ввоза (допуска)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AppDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата заявления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Код и наименование таможенного органа в который подается заявление</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Applicant" type="RUScat_ru:SubjectDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о заявителе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GTDID" type="cat_ru:GTDIDType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер таможенной декларации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsInfo" type="apte:GoodsInfoType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о товарах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateEndTempExp" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Заявляемая дата окончания срока действия таможенной процедуры временного вывоза / ввоза (допуска)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EnsuringSign" type="clt_ru:IndicatorType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Признак предоставления обеспечения исполнения обязанности по уплате таможенных пошлин, налогов: 1 - с предоставлением; 0 - без предоставления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EnsuringDoc" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Документ, подтверждающий принятие таможенным органом обеспечения исполнения обязанности по уплате таможенных пошлин, налогов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EnsuringLegalNorm" type="clt_ru:FreeText500Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Документ, подтверждающий принятие таможенным органом обеспечения исполнения обязанности по уплате таможенных пошлин, налогов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Reason" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Обоснование необходимости продления срока действия таможенной процедуры временного вывоза</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AttachedDocuments" type="cat_ru:DocumentBaseType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Перечень прилагаемых документов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApproverPerson" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Подпись руководителя организации или уполномоченного от имени организации лица, либо физического лица</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1003015E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="GoodsInfoType">
    <xs:annotation>
      <xs:documentation>Информация о товаре</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GoodsBaseType">
        <xs:sequence>
          <xs:element name="GoodsNumberInGTD" type="clt_ru:Count5Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер товара в таможенной декларации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IndividualCharacteristics" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Индивидуальные признаки товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Количество товара в дополнительной единице измерения</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>