XsltProcessor/xsd/5.15.0/AppReleaseGoodsBeforeDT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Аналог EEC_R_031_GoodsReleaseApplication_v1.0.1.xsd альбома ЕЭК (R.031: Заявление о выпуске товаров до подачи декларации на товары (Заявление о выпуске товаров до подачи декларации на товары. Детали))-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.10.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.15.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.15.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.15.0" xmlns:RUDECLcat="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.15.0" xmlns:argb="urn:customs.ru:Information:CustomsDocuments:AppReleaseGoodsBeforeDT:5.15.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:AppReleaseGoodsBeforeDT:5.15.0" elementFormDefault="qualified" version="5.15.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.10.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.15.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.15.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.15.0" schemaLocation="RUDeclCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.15.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Заявление о выпуске товаров до подачи декларации на товары</xs:documentation>
  </xs:annotation>
  <xs:element name="AppReleaseGoodsBeforeDT" type="argb:AppReleaseGoodsBeforeDTType">
    <xs:annotation>
      <xs:documentation>Заявление о выпуске товаров до подачи декларации на товары</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AppReleaseGoodsBeforeDTType">
    <xs:annotation>
      <xs:documentation>Заявление о выпуске товаров до подачи декларации на товары</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="EECEDocHeaderAddInfo" type="RUScat_ru:EECEDocHeaderAddInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дополнительные технологические реквизиты электронного документа (сведений)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EDocIndicatorCode" type="clt_ru:Code2Type">
            <xs:annotation>
              <xs:documentation>Признак электронного документа (возможные значения: ЭД, ОО)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsModeCode" type="cltESAD_cu:CustomsModeCodeType">
            <xs:annotation>
              <xs:documentation>Код таможенной процедуры в соответствии с классификатором видов таможенных процедур.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PreviousCustomsModeCode" type="cltESAD_cu:CustomsModeCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код предшествующей таможенной процедуры в соответствии с классификатором видов таможенных процедур.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PageQuantity" type="clt_ru:Quantity4Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Общее количество листов в документе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsQuantity" type="clt_ru:Quantity5Type">
            <xs:annotation>
              <xs:documentation>Общее число заявляемых товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CategoryCode" type="clt_ru:Code2Type">
            <xs:annotation>
              <xs:documentation>Код категории заявляемых товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeclarantDetails" type="RUDECLcat:DeclarantDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о заявителе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EndDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата окончания срока подачи декларации на товары</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EndComments" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Основания для изменения срока подачи ДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsShipmentDetails" type="argb:GoodsShipmentDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о товарной партии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SignatoryRepresentativeDetails" type="RUDECLcat:SignatoryRepresentativeDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о таможенном представителе, заполнившем (подписавшем) таможенный документ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SignatoryPersonDetails" type="RUDECLcat:SignatoryPersonDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о физическом лице, заполнившем (подписавшем) таможенный документ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006238E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="GoodsItemDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о товаре</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:EECDTGoodsBaseDetailsType">
        <xs:sequence>
          <xs:element name="GoodsGroupDescription" type="RUDECLcat:GoodsGroupDescriptionType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о группе товаров одного наименования с отличающимися от других групп характеристиками</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IPObjectRegistryIdDetails" type="catESAD_cu:IPObjectRegistryNumType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Регистрационный номер объекта интеллектуальной собственности по реестру объектов интеллектуальной собственности</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OriginCountryDetails" type="RUScat_ru:CountryDetailsV3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о стране происхождения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ValueAmount" type="RUScat_ru:AmountType">
            <xs:annotation>
              <xs:documentation>Стоимость товара</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PrecedingDocDetails" type="RUDECLcat:PrecedingDocDetailsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о предшествующем документе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PresentedDocDetails" type="RUDECLcat:PresentedDocDetailsType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о представленном документе</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GoodsShipmentDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о товарной партии</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DepartureCountry" type="RUScat_ru:CountryDetailsV3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна отправления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DestinationCountry" type="RUScat_ru:CountryDetailsV3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна назначения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TradeCountry" type="RUScat_ru:TradeCountryDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Торгующая страна</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DeliveryTerms" type="cat_ru:DeliveryTermsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Условия поставки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InvoiceValueDetails" type="RUScat_ru:InvoiceValueBaseDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общая стоимость товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UnifiedGrossMassMeasure" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Общий вес брутто</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConsignorDetails" type="RUDECLcat:GoodsShipmentSubjectDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения об отправителе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConsigneeDetails" type="RUDECLcat:GoodsShipmentSubjectDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о получателе</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsLocationDetails" type="RUDECLcat:GoodsLocationDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о месте нахождения товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsItemDetails" type="argb:GoodsItemDetailsType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о товаре</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentGuaranteeDetails" type="RUDECLcat:PaymentGuaranteeDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о предоставленном обеспечении уплаты таможенных пошлин, налогов</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>