XsltProcessor/xsd/5.15.0/DecisionExpFreeWHGoods.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приказ ФТС от 04.02 2019 г. № 169 " О формах документов, предусмотренных стетьей 158 Федерального закона от 2 августа 2018 г. № 289-ФЗ "О таможенном регулировании в Российской Федерации
  и о внесении изменений в отдельные законодательные акты Российской Федерации", в целях вывоза товаров, помещенных под таможенную процедуру свободного склада, и (или) товаров,
изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободного склада, с территории свободного склада на остальную часть таможенной территории 
Евразийского экономического союза без завершения действия таможенной процедуры свободного склада"-->
<!--Приложение № 2 - Разрешение таможенного органа о вывозе товаров (DocKind1)
     Приложение № 4 - Решение таможенного органа о  продлении срока вывоза товаров (DocKind2)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:defwg="urn:customs.ru:Information:CustomsDocuments:DecisionExpFreeWHGoods:5.15.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.10.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.15.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:DecisionExpFreeWHGoods:5.15.0" elementFormDefault="qualified" version="5.15.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.10.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.15.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Решение таможенного органа о вывозе / продлении срока вывоза товаров, помещенных под таможенную процедуру свободного склада, и (или) товаров,изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободного склада, с территории свободного склада на остальную часть таможенной территории Евразийского экономического союза без завершения действия таможенной процедуры свободного склада или отказ таможенного органа от выдачи такого решения</xs:documentation>
  </xs:annotation>
  <xs:element name="DecisionExpFreeWHGoods" type="defwg:DecisionExpFreeWHGoodsType">
    <xs:annotation>
      <xs:documentation>Решение таможенного органа о вывозе / продлении срока вывоза товаров, помещенных под таможенную процедуру свободного склада, и (или) товаров,изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободного склада, с территории свободного склада на остальную часть таможенной территории Евразийского экономического союза без завершения действия таможенной процедуры свободного склада или отказ таможенного органа от выдачи такого решения</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DecisionExpFreeWHGoodsType">
    <xs:annotation>
      <xs:documentation>Решение таможенного органа о вывозе / продлении срока вывоза товаров, помещенных под таможенную процедуру свободного склада, и (или) товаров,изготовленных (полученных) из товаров, помещенных под таможенную процедуру свободного склада, с территории свободного склада на остальную часть таможенной территории Евразийского экономического союза без завершения действия таможенной процедуры свободного склада или отказ таможенного органа от выдачи такого решения</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DecisionNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистарционный номер документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DocKind" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
              <xs:documentation>Вид документа: 1- Разрешение о вывозе товаров; 2- Решение о продлении срока вывоза товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Таможенный орган</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Applicant" type="RUScat_ru:SubjectDetailsType">
            <xs:annotation>
              <xs:documentation>Сведения о заявителе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsInfo" type="defwg:GoodsInfoType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о товарах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Purpose" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Цель вывоза товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExportDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Планируемая дата вывоза товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ImportDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Планируемая дата обратного ввоза товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConsigneeInfo" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о лице, которому передаются товары</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Place" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Место совершения действий с товарами</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConfirmDocs" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Документы, подтвеждающие заявленные сведения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionText" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Решение таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReturnDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Срок обратного ввоза товров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExtensionReturnDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Срок продления обратного ввоза товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExtensionReason" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Основание для продления срока обратного ввоза товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RefusalReason" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Обоснование отказа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPersonExp" type="cat_ru:PersonSignatureType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Должностное лицо таможенного органа, принявшее решение по вывозу товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPersonProlong" type="cat_ru:PersonSignatureType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Должностное лицо таможенного органа, принявшее решение о продлении срока обратного  ввоза товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006278E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа. Код документа в Альбоме форматов</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="GoodsInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GTDID" type="defwg:DTInfoType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Реквизиты таможенной декларации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товара</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DTInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о ДТ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="GoodsNum" type="clt_ru:Count3Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер товара в ДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>