XsltProcessor/xsd/5.15.0/DecisionClassGoodOut.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.15.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.15.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.15.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.10.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:dco="urn:customs.ru:Information:CustomsDocuments:DecisionClassGoodOut:5.15.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:DecisionClassGoodOut:5.15.0" elementFormDefault="qualified" version="5.15.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.15.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.10.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.15.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.15.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Решение о классификации товара в соответствии с ТН ВЭД ЕАЭС в адрес декларанта</xs:documentation>
  </xs:annotation>
  <xs:element name="DecisionClassGoodOut" type="dco:DecisionClassGoodOutType" />
  <xs:complexType name="DecisionClassGoodOutType">
    <xs:annotation>
      <xs:documentation>Решение о классификации товара в соответствии с ТН ВЭД ЕАЭС в адрес декларанта</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="TNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Mark" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Служебные отметки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ClassDecisionChanges" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведение об отмене (изменении) решения о классификации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DepartmentalControl" type="clt_ru:FreeText500Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Решение принято по результатам проверки таможенных, иных документов и (или) сведений</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsControl" type="clt_ru:FreeText500Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Решение принято по результатам таможенной проверки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReasonCode" type="clt_ru:CodeVariable2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код основания для принятия решения:   1 – в порядке ведомственного контроля;
2 – в результате применения профиля риска (на основании полученного экспертного заключения);
3 – на основании поручения вышестоящих таможенных органов;
4 – в связи с отсутствием при выпуске товара документов, выданных ФОИВ;
5 – в связи с представлением декларантом после выпуска товаров документов, выданных ФОИВ, либо обращением декларанта о смене кода товаров (ТН ВЭД ЕАЭС 8701-8705)
6 – на основании дополнительно запрошенных товаросопроводительных, коммерческих, технических документов ;
7 – в результате применения профиля риска (за исключением экспертного заключения);
8 – прочие основания</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReasonDesc" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Описание основания для принятия решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InterpretationRules" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Правила интерпретации ТН ВЭД ЕАЭС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Наименование таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Declarant" type="RUScat_ru:SubjectDetailsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Декларант</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistrationNumber" type="dco:RegistrationNumberType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Goods" type="dco:GoodsType">
            <xs:annotation>
              <xs:documentation>Товар</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonSignature" type="cat_ru:PersonSignatureType">
            <xs:annotation>
              <xs:documentation>Подпись должностного лица таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Person" type="cat_ru:PersonBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Отвественное лицо</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsModeCode" type="cltESAD_cu:CustomsModeCodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код таможенной процедуры </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExpertDecision" type="dco:ExpertDecisionType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Обоснование принятия решения. Заключение экспертной организации</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006279E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ExpertDecisionType">
    <xs:annotation>
      <xs:documentation>Обоснование принятия решения. Заключение экспертной организации</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="ExpertOrganization" type="clt_ru:NameType">
            <xs:annotation>
              <xs:documentation>Наименование экспертной организации</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Товар</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsPartialGood" type="clt_ru:IndicatorType">
        <xs:annotation>
          <xs:documentation>Признак принятия решения в отношении части товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsClassificationCode" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак принадлежности к товарам списка</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdditionalInformation" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Дополнительная информация для идентификации товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsInformation" type="catESAD_cu:GoodsGroupInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Характеристика товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DTList" type="dco:DTListType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Перечень ДТ, по которым принято решение</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Numeric_TNVEDCodeType">
    <xs:annotation>
      <xs:documentation>Сведения о номере товара по ДТ и заявленном коде товара по ТН ВЭД ЕАЭС</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ListNumeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Номер по порядку</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Номер товара по ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС, заявленный в ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsAddTNVEDCode" type="clt_ru:GoodsNomenclatuerAddCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара в соответствии с классификатором дополнительной таможенной информации</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Наименование товара</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DTListType">
    <xs:annotation>
      <xs:documentation>Перечень ДТ, по которым принято решение</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="cat_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProcedureID" type="clt_ru:DocumentIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Идентификатор  процедуры декларирования</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Numeric_TNVEDCode" type="dco:Numeric_TNVEDCodeType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о номере товара по ДТ и заявленном коде товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrationNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SerialNumber" type="clt_ru:Code6Type">
        <xs:annotation>
          <xs:documentation>Порядковый исходящий номер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Date" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата принятия решения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocKind" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Признак "Д" - решение по различным ДТ </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>