XsltProcessor/xsd/5.15.0/DecisionCustomsAudit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Приложение №1 к Инструкции о действиях должностных лиц таможенных органов при проведении таможенного контроля в форме таможенной проверки, утвержденной приказом ФТС России от 06.07.2012 №1373 (отменено) 
Приложение (ГУТКПВТ 53522 Формы документов по ФЗ-289 (приложение).docx, форма 14) к Письму ГУТКПВТ от 24.09.2018 № 23-20/53522
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.10.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.15.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.15.0" xmlns:adt_cat="urn:customs.ru:Information:CustomsAuditDocuments:AuditCommonAggregateTypesCust:5.15.0" xmlns:dca="urn:customs.ru:Information:CustomsAuditDocuments:DecisionCustomsAudit:5.15.0" targetNamespace="urn:customs.ru:Information:CustomsAuditDocuments:DecisionCustomsAudit:5.15.0" elementFormDefault="qualified" version="5.15.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.10.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.15.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.15.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:Information:CustomsAuditDocuments:AuditCommonAggregateTypesCust:5.15.0" schemaLocation="AuditCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Решение по результатам таможенного контроля</xs:documentation>
  </xs:annotation>
  <xs:element name="DecisionCustomsAudit" type="dca:DecisionCustomsAuditType" />
  <xs:complexType name="DecisionCustomsAuditType">
    <xs:annotation>
      <xs:documentation>Решение по результатам таможенного контроля (тип)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DecisionNumber" type="adt_cat:NumberType">
            <xs:annotation>
              <xs:documentation>Реквизиты Решения по результатам таможенного контроля/Решения о внесении изменений (дополнений) в Решение по результатам таможенного контроля</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NumberPostControl" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер постконтроль</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConnectCaseCustomsControl" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Связь с делом таможенного контроля</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PrevDecisionNumber" type="adt_cat:NumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Реквизиты Решения по результатам таможенного контроля, в которое вносятся изменения (дополнения)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ActNumber" type="adt_cat:NumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер Акта по результатам таможенной проверки (п.1.2)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IdentKindAudit" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
              <xs:documentation>Вид проверки: 1 - Таможенная проверка, 2 - Проверка документов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsIssuedDecision" type="dca:CustomsIssuedType">
            <xs:annotation>
              <xs:documentation>Таможенный орган, составивший Решение, подпись должностного или уполномоченного лица (п.1.1)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsIssuedPrevDecision" type="dca:CustomsIssuedType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Таможенный орган, составивший Решение, в которое вносятся изменения (дополнения)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AuditOrganization" type="dca:AuditOrganizationType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Проверяемая организация/лицо (п.1.2)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AuditDisorders" type="adt_cat:DisorderType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Выявленные факты (признаки) нарушения таможенного законодательства и (или) законодательства РФ (п.2.2)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Reason" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Основания для внесения изменений (п.1.2)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ChangeOther" type="dca:ChangeOtherType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>2.1 Изменения за исключением вносимых в таблицы 3.2, 3.3, 3.4, 3.5</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Decisions" type="dca:DecisionsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Наименование решений в области таможенного дела, которые необходимо принять в целях устранения допущенных нарушений  (Таблица 3.2 Решения по результатам таможенного контроля)     </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ChangeDecisions" type="dca:ChangeDecisionsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>2.2 Изменения, вносимые в таблицу  3.2 Решения по результатам таможенного контроля</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsInfo" type="dca:GoodsInfoType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Информация по товарам (Таблица 3.3 Решения по результатам таможенного контроля)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ChangeGoodsInfo" type="dca:ChangeType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>2.3 Изменения, вносимые в таблицу 3.3 Решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsInfoLP" type="dca:GoodsInfoLPType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Информация по товарам для личного пользования (Таблица 3.4 Решения по результатам таможенного контроля)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ChangeInfoLP" type="dca:ChangeType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>2.4 Изменения, вносимые в таблицу 3.4 Решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsInfoTSLP" type="dca:GoodsInfoTSLPType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Информация по транспортным средствам для личного пользования (Таблица 3.5 Решения по результатам таможенного контроля)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ChangeInfoTSLP" type="dca:ChangeType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>2.5 Изменения, вносимые в таблицу 3.5 Решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SuspendedGoodsInfo" type="dca:SuspendedGoodsInfoType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Информация по товарам, которые задержаны в соответствии со статьей 379 Таможенного кодекса Евразийского экономического союза, сроки хранения которых, предусмотренные статьей 380 Таможенного кодекса Евразийского экономического союза, истекли (Таблица 3.6 Решения по результатам таможенного контроля)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ChangeSuspendedGoodsInfo" type="dca:ChangeType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>2.6 Изменения, вносимые в таблицу 3.6 Решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SecExempDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата получения второго экземпляра</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SecExempTime" type="clt_ru:TimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Время получения второго экземпляра</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SecondExempReceived" type="dca:SecondExempReceivedType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Второй экземпляр Решения на руки получил</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DirectionByPost" type="dca:DirectionByPostType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Направление Решения по почте</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Appeals" type="dca:AppealsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Решение может быть обжаловано</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AttachedFile" type="dca:AttachedFileType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Прикрепленные файлы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Comment" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006902E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AppealsType">
    <xs:annotation>
      <xs:documentation>Апелляция</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="CustomsSuperior" type="dca:CustomsSuperiorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вышестоящий таможенный орган</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArbitrationCourtAddress" type="RUScat_ru:RUAddressType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Адрес Арбитражного суда</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AttachedFileType">
    <xs:annotation>
      <xs:documentation>Прикрепленный файл</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FileName" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование файла</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FileContent" type="clt_ru:Text3MB" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Содержимое файла в формате Base64</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuditOrganizationType">
    <xs:annotation>
      <xs:documentation>Проверяемая организация/лицо</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:OrganizationType">
        <xs:sequence>
          <xs:element name="OKPO" type="clt_ru:OKPOIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код организации по ОКПО</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FactAddressDetails" type="RUScat_ru:RUAddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Адрес местонахождения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegionCustoms" type="adt_cat:CustomsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Региональное таможенное управление</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Person" type="dca:PersonType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Руководитель (представитель)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ChangeDecisionsType">
    <xs:annotation>
      <xs:documentation>2.2 Изменения, вносимые в таблицу 3.2</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PreviousDecision" type="dca:DecisionsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ранее указанные сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChangeDecisions" type="dca:DecisionsType">
        <xs:annotation>
          <xs:documentation>Измененные (дополненные) сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChangeOtherType">
    <xs:annotation>
      <xs:documentation>2.1 Изменения за исключением таблиц 3.2, 3.3, 3.4, 3.5 </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NumberString" type="clt_ru:Text10Type">
        <xs:annotation>
          <xs:documentation>Номер строки Решения по результатам таможенного контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreviousText" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Ранее указанные в строке сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChangeText" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Измененные (дополненные) сведения </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChangeType">
    <xs:annotation>
      <xs:documentation>2.3, 2.4, 2.5 Изменения в таблицах 3.3, 3.4, 3.5 </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NumberString" type="clt_ru:Text10Type">
        <xs:annotation>
          <xs:documentation>Номер строки Решения по результатам таможенного контроля</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumberGrf" type="clt_ru:Text10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер графы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreviousText" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Ранее указанные в строке сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChangeText" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Измененные (дополненные) сведения </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CostType">
    <xs:annotation>
      <xs:documentation>Cтоимость</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Cost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Стоимость в рублях</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DollarCost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Стоимость в долларах США</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EuroCost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Стоимость в евро</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomPersonType">
    <xs:annotation>
      <xs:documentation>Должностное лицо, подписавшее уведомление</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonBaseType">
        <xs:sequence>
          <xs:element name="CustomsDept" type="cat_ru:CustomsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Таможенный орган</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Phone" type="clt_ru:PhoneNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Телефон</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonCustomsID" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер служебного удостоверения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Department" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Подразделение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Rank" type="clt_ru:Text150Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Звание</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LNP" type="clt_ru:LNPIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ЛНП должностного лица таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Note" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CustomsIssuedType">
    <xs:annotation>
      <xs:documentation>Таможенный орган, подпись должностного или уполномоченного лица</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="adt_cat:CustomsIssuedType">
        <xs:sequence>
          <xs:element name="PersonCustomsID" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер служебного удостоверения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Rank" type="clt_ru:Text150Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Звание</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LNP" type="clt_ru:LNPIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ЛНП должностного лица таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Note" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CustomsSuperiorType">
    <xs:annotation>
      <xs:documentation>Вышестоящий таможенный орган для апелляции</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:CustomsType">
        <xs:sequence>
          <xs:element name="Address" type="cat_ru:AddressType">
            <xs:annotation>
              <xs:documentation>Адрес таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DecisionsType">
    <xs:annotation>
      <xs:documentation>Таблица 3.2  Решения в области таможенного дела</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NumberString" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер строки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="Decision_Variant_0" type="clt_ru:IndicatorType">
          <xs:annotation>
            <xs:documentation>true - Решения в сфере таможенного дела, принимаемые по результатам таможенного контроля в форме таможенной проверки или проверки таможенных, иных документов и (или) сведений </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Decision_Variant_1" type="clt_ru:IndicatorType">
          <xs:annotation>
            <xs:documentation>true - Решение о выявлении нарушения регулирующих таможенные правоотношения актов, составляющих право ЕвразЭС, и законодательства РФ о таможенном деле</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Decision_Variant_2" type="clt_ru:IndicatorType">
          <xs:annotation>
            <xs:documentation>true - Решение о признании товаров незаконно перемещенными через таможенную границу ЕвразЭС</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Decision_Variant_3" type="clt_ru:IndicatorType">
          <xs:annotation>
            <xs:documentation>true - Решение о признании товаров товарами, на оборот которых в РФ введен запрет в соответствии со статьей 212 ФЗ «О таможенном регулировании»</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Decision_Variant_4" type="clt_ru:IndicatorType">
          <xs:annotation>
            <xs:documentation>true - Решение о признании товаров товарами, подлежащими изъятию </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Decision_Variant_5" type="clt_ru:IndicatorType">
          <xs:annotation>
            <xs:documentation>true - Решение о признании лица, участвовавшего в незаконном перемещении товаров через   таможенную   границу   ЕвразЭС, несущим солидарную  обязанность по уплате таможенных платежей, специальных, антидемпинговых, компенсационных пошлин, процентов и пени</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Decision_Variant_6" type="clt_ru:IndicatorType">
          <xs:annotation>
            <xs:documentation>true - Решение о признании лица, которое приобрело в собственность или во владение незаконно ввезенные товары, несущим солидарную  обязанность по уплате таможенных платежей, специальных, антидемпинговых, компенсационных пошлин, процентов и пени</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="Text" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Формулировка Решения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentsInfo" type="dca:PaymentsInfoType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения о случаях исчисления платежей  (варианты 1 и 2)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="JointlyLiablePerson" type="dca:SubjectDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Лицо, несущее солидарную ответственность (варианты 5 и 6)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DisorderPerson" type="RUScat_ru:SubjectDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Лицо, незаконно переместившее товары через таможенную границу (варианты 5 и 6)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DirectionByPostType">
    <xs:annotation>
      <xs:documentation>Направление документа по почте</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="dca:CustomPersonType">
        <xs:sequence>
          <xs:element name="PostAddress" type="RUScat_ru:RUAddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Почтовый адрес</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Date" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата направления по почте</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GoodsInfoLPType">
    <xs:annotation>
      <xs:documentation>Таблица.3.4 Товары для личного пользования</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PassengerDT" type="adt_cat:NumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер и дата пассажирской таможенной декларации (гр.1)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PayerDetails" type="dca:PayerDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Плательщик (гр.2)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="JointlyLiablePersonDetails" type="dca:SubjectDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Лицо, несущее солидарную (субсидиарную) обязанность (гр.3)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyEuroRate" type="clt_ru:CurrencyRateType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Курс ЕВРО к рублю (гр.4)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyDollarRate" type="clt_ru:CurrencyRateType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Курс доллара США к рублю (гр.5)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalCost" type="dca:CostType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общая стоимость (гр.6)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Goods" type="dca:GoodsLPType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Товары (гр 7-13)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsInfoTSLPType">
    <xs:annotation>
      <xs:documentation>Таблица.3.5 ТС личного пользования</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Statement" type="adt_cat:NumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер и дата заявления, представленного таможенному органу для помещения товаров для личного пользования (ТСЛП) на временное хранение (гр.1)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PayerDetails" type="dca:PayerDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Плательщик (гр.2)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="JointlyLiablePersonDetails" type="dca:SubjectDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Лицо, несущее солидарную (субсидиарную) обязанность (гр.3)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyEuroRate" type="clt_ru:CurrencyRateType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Курс ЕВРО к рублю (гр.4)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyDollarRate" type="clt_ru:CurrencyRateType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Курс доллара США к рублю (гр.5)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalCustCost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общая таможенная стоимость (гр.6)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Guarantee" type="dca:GuaranteeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Предоставленное обеспечение исполнения обязанности по уплате таможенных пошлин, налогов в отношении товаров для личного пользования (гр 7)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Goods" type="dca:GoodsTSLPType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Товары (гр 8-16)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsInfoType">
    <xs:annotation>
      <xs:documentation>Таблица.3.3 </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PayerDetails" type="dca:PayerDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Плательщик (гр.1)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="JointlyLiablePersonDetails" type="dca:SubjectDetailsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Лицо, несущее солидарную (субсидиарную) обязанность (гр.2)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginCountryName" type="clt_ru:CountryNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Страна происхождения товара. (гр.3) Краткое название страны в соответствии с классификатором стран мира / Разные/ Неизвестна/ Евросоюз</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalCustCost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Общая таможенная стоимость (гр.4)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Guarantee" type="dca:GuaranteeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Предоставленное обеспечение исполнения обязанности по уплате таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин (гр 5)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Goods" type="dca:GoodsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Товары (гр 6-15)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SuspendedGoodsInfoType">
    <xs:annotation>
      <xs:documentation>Таблица.3.6 </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Declarant" type="dca:SubjectDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Декларант / собственник товаров / лицо, во владении которого товары находились на момент задержания (гр.1)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Goods" type="dca:SuspendedGoodsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Товары (гр 2-11)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PresentedDocuments" type="dca:PresentedDocumentsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Дополнительная информация, представленные документы (графа 12)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsLPType">
    <xs:annotation>
      <xs:documentation>Товары (гр.7-12) таблицы.3.4</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер товара  (графа 7)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Наименование и описание товара для личного пользования, достаточное для применения ставок таможенных пошлин, налогов (графа 8)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС (графа 9)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товара для личного пользования в штуках или объеме товара в литрах, необходимые для применения ставок таможенных пошлин, налогов (графа 10)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес товара (кг) для личного пользования, с учетом веса упаковки, представляющей с товаром единое целое, до его использования или потребления.
 (графа 11) </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Cost" type="dca:CostType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Cтоимость товара (графа 12)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PresentedDocuments" type="dca:PresentedDocumentsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Дополнительная информация, представленные документы (графа 13)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsTSLPType">
    <xs:annotation>
      <xs:documentation>Товары (гр.8-16) таблицы.3.5</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер ТСЛП (графа 7)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MarkaModel" type="clt_ru:MarkCarNameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о марке и модели  ТСЛП (графа 8)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransportRegNum" type="clt_ru:TransportMeansIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер ТСЛП (графа 9)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VIN" type="clt_ru:VINIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер кузова (VIN) (графа 10)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код по ТН ВЭД ЕАЭС (графа 11)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Date" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата выпуска ТСЛП (графа 12)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EngineVolumeQuanity" type="clt_ru:EngineVolumeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Рабочий объем двигателя, куб. см (графа 13)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EnginePowerHpQuanity" type="clt_ru:EnginePowerQuanityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Мощность двигателя в лошадиных силах (графа 13)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Cost" type="dca:CostType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Cтоимость товара (графа 14)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PresentedDocuments" type="dca:PresentedDocumentsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Дополнительная информация, представленные документы (графа 15)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SuspendedGoodsType">
    <xs:annotation>
      <xs:documentation>Товары (гр.2-11) таблицы.3.6</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="dca:GoodsType">
        <xs:sequence>
          <xs:element name="OriginCountryName" type="clt_ru:CountryNameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Страна происхождения товара. (гр.6)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GoodsType">
    <xs:annotation>
      <xs:documentation>Товары (гр.6-15) таблицы.3.3</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер товара  </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodFeatures" type="clt_ru:Code3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>МПО (для товаров, пересылаемых в международных почтовых отправлениях)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrossWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес товара, брутто (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OriginCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код страны происхождения в соответствии с классификатором стран мира / EU (Евросоюз) / 00 (неизвестна)/99 (разные) </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NetWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес товара, нетто (кг)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NetWeightQuantity2" type="clt_ru:QuantityBasisType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вес товара, нетто без учета всех видов упаковки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrecedingDocuments" type="dca:PrecedingDocumentsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Предшествующие документы.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplementaryGoodsQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Количество товара в дополнительной единице измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsCost" type="clt_ru:AmountType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Таможенная стоимость товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PresentedDocuments" type="dca:PresentedDocumentsType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Дополнительная информация, представленные документы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
        <xs:annotation>
          <xs:documentation>Наименование (торговое, коммерческое или иное традиционное наименование) товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsGroupDescription" type="catESAD_cu:GoodsGroupDescriptionType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание и характеристика товаров / Описание группы товаров одного наименования с отличающимися от других групп характеристиками </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplementaryGoodsQuantity1" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="3">
        <xs:annotation>
          <xs:documentation>Количество товара в единице измерения, отличной от основной и дополнительной </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OilField" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения о месторождении товара </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Excise" type="catESAD_cu:ESADExciseType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Сведения об акцизных марках</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CIMIdDetails" type="catESAD_cu:CIMIdDetailsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Сведения об идентификационных номерах (идентификаторах) нанесенных контрольных (идентификационных) знаков</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GuaranteeType">
    <xs:annotation>
      <xs:documentation>Предоставленное обеспечение исполнения обязанности по уплате таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GuaranteeModeCodeType" type="clt_ru:Code2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код вида обеспечения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код вида документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocReq" type="cat_ru:DocumentBaseType">
        <xs:annotation>
          <xs:documentation>Реквизиты документа обеспечения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GuaranteeAmount" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Сумма обеспечения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GuaranteeCurrencyCode" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код валюты обеспечения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayerDetailsType">
    <xs:annotation>
      <xs:documentation>Сведения о плательщике</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType">
        <xs:sequence>
          <xs:element name="BirthDay" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата рождения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InformationUnknownIndicator" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Признак наличия или отсутствия информации (сведений)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PaymentsInfoType">
    <xs:annotation>
      <xs:documentation>Cведения о случае исчисления таможенных и иных платежей</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PaymentCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код случая исчисления таможенных и иных платежей в соответствии с классификатором случаев исчисления таможенным органом таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин, предусмотренным приложением № 1 к Порядку заполнения расчета таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин и внесения в такой расчет изменений (дополнений), утвержденному Решением Коллегии Евразийской экономической комиссии от 07.11.2017 № 137 «О расчете таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин»</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PaymentTermDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Cрок уплаты таможенных и иных платежей</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CalculationRatesDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>День, на который применяются ставки таможенных и иных платежей </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>Представитель проверяемого лица</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonSignatureType">
        <xs:sequence>
          <xs:element name="Comment" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PrecedingDocumentsType">
    <xs:annotation>
      <xs:documentation>Предшествующий документ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="LineNumber" type="clt_ru:SheetNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Порядковый номер строки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrecedingDocumentModeCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код вида предшествующего документа (09035 – для декларации на товары, 
09013 – для транзитной декларации, 09036 – для декларации на транспортное средство, 09037 – для заявления о выпуске товаров до подачи декларации 
на товары, 09999 – для иного документа)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrecedingDocumentNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Регистрационный номер предшествующего документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrecedingDocumentGoodsNumeric" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер товара в предшествующем документе </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PresentedDocumentsType">
    <xs:annotation>
      <xs:documentation>Представленные документы</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="PresentedDocumentModeCode" type="clt_ru:CustomsDocumentCodeType">
            <xs:annotation>
              <xs:documentation>Код вида представляемого документа в соответствии с классификатором видов документов и сведений, используемых при таможенном декларировании</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SecondExempReceivedType">
    <xs:annotation>
      <xs:documentation>Представитель проверяемого лица</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="adt_cat:SecondExempReceivedType">
        <xs:sequence>
          <xs:element name="Comment" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SubjectDetailsType">
    <xs:annotation>
      <xs:documentation>Лицо, несущее солидарную ответственность / обязанность</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType">
        <xs:sequence>
          <xs:element name="BirthDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата рождения</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>