XsltProcessor/xsd/5.15.0/KimberleyProcessCertificate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.10.0" xmlns:catSert_ru="urn:customs.ru:Information:SertifDocuments:SertifCommonAggregateTypesCust:5.15.0" xmlns:kimpc="urn:customs.ru:Information:SertifDocuments:KimberleyProcessCertificate:5.15.0" targetNamespace="urn:customs.ru:Information:SertifDocuments:KimberleyProcessCertificate:5.15.0" elementFormDefault="qualified" version="5.15.0.0">
  <xs:import namespace="urn:customs.ru:Information:SertifDocuments:SertifCommonAggregateTypesCust:5.15.0" schemaLocation="SertifCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.10.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Сертификат (сведения о сертификате) международной схемы сертификации необработанных природных алмазов (сертификат Кимберлийского процесса)</xs:documentation>
  </xs:annotation>
  <xs:element name="KimberleyProcessCertificate" type="kimpc:KimberleyProcessCertificateType" />
  <xs:complexType name="KimberleyProcessCertificateType">
    <xs:annotation>
      <xs:documentation>Сертификат (сведения о сертификате) международной схемы сертификации необработанных природных алмазов (сертификат Кимберлийского процесса)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="BDRDID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Идентификатор документа по БД РД</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IssueDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата выдачи сертификата</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ValidityDateEnd" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата окончания срока действия сертификата</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PackageNumber" type="clt_ru:Count5Type">
            <xs:annotation>
              <xs:documentation>Число посылок в поставке (количество мест)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ExtractingCountry" type="clt_ru:CountryNameType">
            <xs:annotation>
              <xs:documentation>Добывающая страна</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Note" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Дополнительные отметки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Stopper" type="clt_ru:DocumentIDType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Номера пломб</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CertificateOrg" type="kimpc:CertificateOrgType">
            <xs:annotation>
              <xs:documentation>Орган сертификации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Exporter" type="kimpc:OrganizationInfoType">
            <xs:annotation>
              <xs:documentation>Сведения об экспортере</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Importer" type="catSert_ru:SertifOrgBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения об импортере</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DiamondsInfo" type="kimpc:DiamonsInfoType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения об алмазах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AuthenticateOrg" type="cat_ru:OrganizationBaseType">
            <xs:annotation>
              <xs:documentation>Орган, подтверждающий аутентичность сертификата</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CertificateNumber" type="kimpc:CertificateNumberType">
            <xs:annotation>
              <xs:documentation>Уникальный номер сертификата</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Recipient" type="kimpc:OrganizationInfoType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о получателе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ContractInfo" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Контракт</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009016E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CertificateNumberType">
    <xs:annotation>
      <xs:documentation>Уникальный номер сертификата</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType">
        <xs:annotation>
          <xs:documentation>Код страны</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:Count8Type">
        <xs:annotation>
          <xs:documentation>Номер сертификата</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CertificateOrgType">
    <xs:annotation>
      <xs:documentation>Орган сертификации</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationType">
        <xs:sequence>
          <xs:element name="LicenseDocument" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Документ, подтверждающий право на выдачу сертификатов</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DiamonsInfoType">
    <xs:annotation>
      <xs:documentation>Сведения об алмазах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TotalCost" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Стоимость алмазов в долл. США</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalWeight" type="clt_ru:QuantityBasisType">
        <xs:annotation>
          <xs:documentation>Общий вес(карат)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Characteristics" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Характеристики</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HarmonizedCode" type="clt_ru:CodeVariable10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код гармонизированной системы описания и кодирования товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Numeric" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер позиции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Currency" type="clt_ru:CurrencyN3CodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код валюты контракта</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Lefttover" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Остаток по квоте</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganizationInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о предприятии</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="catSert_ru:SertifOrgBaseType">
        <xs:sequence>
          <xs:element name="CountryName" type="clt_ru:CountryNameType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Наименование страны</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CountryCodeN" type="clt_ru:CountryN3CodeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Цифровой код страны</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>