XsltProcessor/xsd/5.15.0/NotifNotDecl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:CustomsDocuments:NotifNotDecl:5.10.0" version="5.10.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.10.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:nnt="urn:customs.ru:Information:CustomsDocuments:NotifNotDecl:5.10.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.10.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Уведомление о том, что таможенная декларация считается неподанной.</xs:documentation>
  </xs:annotation>
  <xs:element name="NotifNotDecl" type="nnt:NotifNotDeclType" />
  <xs:complexType name="NotifNotDeclType">
    <xs:annotation>
      <xs:documentation>Уведомление о том, что таможенная декларация считается неподанной</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="SendDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата направления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="SendTime" type="clt_ru:TimeCustType">
            <xs:annotation>
              <xs:documentation>Время направления</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Comments" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Комментарии</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Таможенный орган</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPerson" type="cat_ru:CustomsPersonType">
            <xs:annotation>
              <xs:documentation>Должностное лицо таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GTDID" type="cat_ru:GTDIDType">
            <xs:annotation>
              <xs:documentation>Регистрационный номер ДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute fixed="1006035E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>