XsltProcessor/xsd/5.15.0/NotifInspectionReqGoods.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.10.0" xmlns:ntfin="urn:customs.ru:Information:CustomsDocuments:NotifInspectionReqGoods:5.15.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:NotifInspectionReqGoods:5.15.0" elementFormDefault="qualified" version="5.15.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.10.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Уведомление о проведении таможенного досмотра/ Требование о предъявлении товаров </xs:documentation>
	</xs:annotation>
	<xs:element name="NotifInspectionReqGoods" type="ntfin:NotifInspectionReqGoodsType"/>
	<xs:complexType name="NotifInspectionReqGoodsType">
		<xs:annotation>
			<xs:documentation>Уведомление о проведении таможенного досмотра/ Требование о предъявлении товаров </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="FormSign" type="clt_ru:IndicatorType">
						<xs:annotation>
							<xs:documentation>Признак формы контроля: 1 - досмотр, 0 - осмотр</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Otherwise" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Иные случаи</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NotifReqDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата уведомления/требования</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InspDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата проведения досмотра /  Дата предъявления МПО</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InspTime" type="clt_ru:TimeCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Время проведения досмотра</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentificationGoods" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
						<xs:annotation>
							<xs:documentation>Информация, идентифицирующая товары</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Presence" type="clt_ru:IndicatorType">
						<xs:annotation>
							<xs:documentation>Признак того, что требуется присутствие при таможенном досмотре</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocumentKind" type="clt_ru:Numeric1Type">
						<xs:annotation>
							<xs:documentation>Тип документа: 0 - Уведомление о проведении таможенного досмотра по ДТ, 1 - Требование о предъявлении товаров при декларировании по ДТ, 2 - Уведомление о необходимости предъявления МПО в ТО, 3 - Требование о предъявлении товаров к осмотру МПО, 4 - Требование о предъявлении товаров к досмотру МПО, 5 - Уведомление о переносе сроков досмотра, 6 - Уведомление о необходимости взятия проб и образцов, 7 - Уведомление о проведении таможенного досмотра по Заявлению о выпуске до подачи, 8 - Требование о предъявлении товаров при декларировании по Заявлению о выпуске до подачи</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Customs" type="cat_ru:CUCustomsType">
						<xs:annotation>
							<xs:documentation>Сведения о таможенном органе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocID" type="ntfin:DocIDType">
						<xs:annotation>
							<xs:documentation>Регистрационный номер документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InspectionPlace" type="ntfin:InspectionPlaceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Место проведения таможенного досмотра (осмотра)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsPerson" type="cat_ru:CustomsPersonType">
						<xs:annotation>
							<xs:documentation>Должностное лицо таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DirectionNotifReq" type="ntfin:DirectionNotifReqType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>При направлении уведомления/требования по почте или иным способом</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Declarant" type="ntfin:DeclarantType">
						<xs:annotation>
							<xs:documentation>Сведения о декларанте, ином лице, обладающем полномочиями в отношении товаров и (или) транспортных средств, и их представителей.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DecisionNumber" type="ntfin:DecisionNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер Решения о проведении таможенной экспертизы</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ActThievingComment" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
						<xs:annotation>
							<xs:documentation>Комментарии к отбору проб и образцов</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006137E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы.</xs:documentation>
	</xs:annotation>
	<xs:complexType name="DeclarantType">
		<xs:annotation>
			<xs:documentation>Сведения о декларанте, ином лице, обладающем полномочиями в отношении товаров и (или) транспортных средств, и их представителей.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:OrganizationBaseType">
				<xs:sequence>
					<xs:element name="Representative" type="cat_ru:OrganizationBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Представитель</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DocNumberType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер таможенного документа</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:GTDIDType">
				<xs:sequence>
					<xs:element name="AddNumber" type="clt_ru:Code2Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дополнительная составляющая номера </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DirectionNotifReqType">
		<xs:annotation>
			<xs:documentation>При направлении уведомления/требования по почте или иным способом</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MethodDirection" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Способ направления </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateDirection" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата направления </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="cat_ru:AddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Person" type="cat_ru:PersonBaseType">
				<xs:annotation>
					<xs:documentation>Лицо, принявшее уведомление</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsPerson" type="cat_ru:CustomsPersonType">
				<xs:annotation>
					<xs:documentation>Должностное лицо, направившее уведомление</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InspectionPlaceType">
		<xs:annotation>
			<xs:documentation>Описание места проведения досмотра. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:CUCustomsType">
				<xs:sequence>
					<xs:element name="InformationTypeCode" type="clt_ru:Code2Type">
						<xs:annotation>
							<xs:documentation>Тип информации: 11- СВХ;  21- ТС; 25 - Свободный склад; 31- Склад получателя; 41 - Склад хранения собственных товаров (для РК); 52 - Транспортное средство (для РК); 60 - Помещение (площадки) УЭО; 72 - ЗТК (для РБ); 91 - Адрес места хранения  (для РБ); 99 - Иное место ВХ, 80- ОЭЗ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InspPlaceName" type="clt_ru:PlaceNameType">
						<xs:annotation>
							<xs:documentation>Наименование места досмотра, СВХ, ж/д станции</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InspPlaceDesc" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Описание места проведения досмотра. Иная информация о месте досмотра</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WarehousePlace" type="ntfin:WarehousePlaceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о СВХ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InspAddress" type="cat_ru:AddressType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Адрес места досмотра (заполняется, в случае досмотра вне СВХ)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WarehousePlaceType">
		<xs:annotation>
			<xs:documentation>Место погрузки/разгрузки. Сведения о лицензии/ свидетельстве склада.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="DocumentModeCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Тип документа:1-Лицензия 2-Свидетельство</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DocIDType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер документа</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="DTRegNum" type="cat_ru:GTDIDType">
				<xs:annotation>
					<xs:documentation>Регистрационный номер ДТ </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MPORegNum" type="ntfin:MPORegNumType">
				<xs:annotation>
					<xs:documentation>Регистрационный номер МПО</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AppRelNum" type="ntfin:DocNumberType">
				<xs:annotation>
					<xs:documentation>Регистрационный номер заявления о выпуске до подачи</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MPORegNumType">
		<xs:annotation>
			<xs:documentation>Номер МПО</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата регистрации документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MPO_Number" type="clt_ru:Code13Type">
				<xs:annotation>
					<xs:documentation>Уникальный номер МПО</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DecisionNumberType">
		<xs:annotation>
			<xs:documentation>Номер Решения о проведении таможенной экспертизы</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:GTDID6Type">
				<xs:sequence>
					<xs:element name="ExpertisePoint" type="clt_ru:Code2Type">
						<xs:annotation>
							<xs:documentation>Момент назначения экспертизы (ДВ - до выпуска ДТ, ПВ - после выпуска ДТ) </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
