XsltProcessor/xsd/5.15.0/OEZ_GoodsIdentify.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.15.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.10.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.15.0" xmlns:gooid="urn:customs.ru:Information:CustomsDocuments:OEZ_GoodsIdentify:5.15.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:OEZ_GoodsIdentify:5.15.0" elementFormDefault="qualified" version="5.15.0.0">
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.15.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.10.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.15.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Уведомление (Приказ ФТС России от 26.03.2012 № 566 Порядок Приложение 3)/Заявление  о проведении идентификации товаров, ввозимых  (ввезенных) на территорию ОЭЗ (Приказ ФТС России от 26.03.2012 № 566 Порядок п.16.1)/Заявление об идентификации иностранных товаров, помещаемых (помещенных) под таможенную процедуру СТЗ, в готовой продукции (Приказ ФТС России от 26.02.2016 №365 Порядок Приложение 1)</xs:documentation>
  </xs:annotation>
  <xs:element name="OEZ_GoodsIdentify" type="gooid:OEZ_GoodsIdentifyType" />
  <xs:complexType name="OEZ_GoodsIdentifyType">
    <xs:annotation>
      <xs:documentation>Уведомление (Приказ ФТС России от 26.03.2012 № 566 Порядок Приложение 3)/Заявление  о проведении идентификации товаров, ввозимых  (ввезенных) на территорию ОЭЗ (Приказ ФТС России от 26.03.2012 № 566 Порядок п.16.1)/Заявление об идентификации иностранных товаров, помещаемых (помещенных) под таможенную процедуру СТЗ, в готовой продукции (Приказ ФТС России от 26.02.2016 №365 Порядок Приложение 1)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DocSign" type="clt_ru:DigitalIndicatorType">
            <xs:annotation>
              <xs:documentation>Признак : 0 - уведомление инспектора (Приказ ФТС России от 26.03.2012 № 566 Порядок Приложение 3), 1 - заявление декларанта (Приказ ФТС России от 26.03.2012 № 566 Порядок п.16.1), 2 - заявление об идентификации иностранных товаров, помещаемых под процедуру СТЗ, в готовой продукции (Приказ ФТС России от 26.02.2016 №365 Порядок Приложение 1); </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistrationNumber" type="gooid:RegistrationNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер заявления  (для DocSign = 2)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateDocument" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegNumber" type="clt_ru:Text10Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер документа  (для DocSign = 0 и 1)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Reason" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Причины, по которым принято решение/ подается заявление  о необходимости проведения идентификации товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PlaceIdentify" type="clt_ru:PlaceNameType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Место проведения идентификации товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Activity" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Предполагаемые действия  в  отношении  товаров  и  средств транспорта, перевозящих такие товары</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PresentInfo" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Перечень документов и сведений, предоставляемых в уполномоченный таможенный орган</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MethodIdentify" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Cпособ идентификации ввозимых (ввезенных) на территорию ОЭЗ товаров либо средства идентификации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Сведения о таможенном органе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Consignee" type="gooid:ConsigneeType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Получатель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegistrationNumberImp" type="gooid:RegistrationNumberImpType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер уведомления о ввозе</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsInfo" type="gooid:GoodsInfoType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о товарах, которые должны быть идентифицированы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsOut" type="gooid:GoodsInfoType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о товарах, в которых производится идентификация товаров, ввезенных на территорию ОЭЗ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsUnit" type="gooid:GoodsUnitType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Товары ЕАЭС, которые  были использованы при изготовлении готовой продукции</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPerson" type="cat_ru:CustomsPersonType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Должностное лицо таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OEZ_Resident" type="gooid:OEZ_RezidentType">
            <xs:annotation>
              <xs:documentation>Заявитель - резидент ОЭЗ/иное заинтересованное лицо, действующее по поручению или от имени декларанта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Manufacturer" type="gooid:ManufacturerType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Производитель</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OtherInfo" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Иные сведения, которые заявитель сочтет нужным сообщить для целей идентификации</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006142E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ConsigneeType">
    <xs:annotation>
      <xs:documentation>Получатель</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:OrganizationBaseType">
        <xs:sequence>
          <xs:element name="SertificateNumberOEZ" type="clt_ru:Code13Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер свидетельства, удостоверяющего регистрацию лица в качестве резидента ОЭЗ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Address" type="cat_ru:AddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Адрес организации / физического лица</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GoodsInfoType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Position" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер позиции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Код товара по ТН ВЭД ЕАЭС    (первые 6 знаков классификационного кода - для DocSign = 0 или 1), (на уровне 10-ти знаков - для DocSign = 2) </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsGroupInformation" type="catESAD_cu:GoodsGroupInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Характеристика товаров </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Количество товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumberDT" type="cat_ru:GTDIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер ДТ </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsNumeric" type="clt_ru:Count3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Номер товара в ДТ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StatusDoc" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Иной документ, подтверждающий статус товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Owner" type="gooid:OwnerType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Лица, которые имели права владения, пользования и (или) распоряжения товарами, помещенными под таможенную процедуру СТЗ, включая декларанта таможенной процедуры СТЗ и заявителя</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsUnitType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Position" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер позиции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Описание товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsGroupInformation" type="catESAD_cu:GoodsGroupInformationType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Характеристика товаров </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Количество товара</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StatusDoc" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Документ, подтверждающий статус товара</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrationNumberImpType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер уведомления о ввозе</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, зарегистрировавшего документ.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации документа.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:Code9Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер документа</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrationNumberType">
    <xs:annotation>
      <xs:documentation>Регистрационный номер заявления</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:Code10Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AbbrDoc" type="clt_ru:Code3Type">
        <xs:annotation>
          <xs:documentation>Аббревиатура документа: ЗИД </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OEZ_RezidentType">
    <xs:annotation>
      <xs:documentation>Резидент ОЭЗ (нерезидент ОЭЗ) или лицо, действующее по  его поручению</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType">
        <xs:sequence>
          <xs:element name="OEZ_ResidentCertif" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Свидетельство, удостоверяющее регистрацию лица в качестве резидента ОЭЗ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FactAddress" type="cat_ru:AddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Фактический адрес организации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AuthoritesDocs" type="cat_ru:AuthoritesDocumentType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Документ, подтверждающий полномочия</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ManufacturerType">
    <xs:annotation>
      <xs:documentation>Производитель</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType">
        <xs:sequence>
          <xs:element name="OEZ_ResidentCertif" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Свидетельство, удостоверяющее регистрацию лица в качестве резидента ОЭЗ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FactAddress" type="cat_ru:AddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Фактический адрес организации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ManufacturerContract" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Реквизиты договора(ов), в соответствии с которым(и) совершаются операции по переработке/обработке/изготовлению/ремонту</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Operation" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Производимые операции</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OwnerType">
    <xs:annotation>
      <xs:documentation>Владелец</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:SubjectDetailsType">
        <xs:sequence>
          <xs:element name="OEZ_ResidentCertif" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Свидетельство, удостоверяющее регистрацию лица в качестве резидента ОЭЗ</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FactAddress" type="cat_ru:AddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Фактический адрес организации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransferOwnershipContract" type="cat_ru:DocumentBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Документ, подвтерждающий передачу прав владения/пользования/распоряжения товарами, помещенными под там.процедуру СТЗ и использованными для изготовления продукции</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>