XsltProcessor/xsd/5.15.0/TPO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Аналог EEC_R_024_R_024_CustomsReceipt_v1.0.0.xsd альбома ЕЭК (R.024: Таможенный приходный ордер. Детали))-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.10.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.15.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.15.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.14.3" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.15.0" xmlns:RUDECLcat="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.15.0" xmlns:tpo="urn:customs.ru:Information:CustomsDocuments:TPO:5.15.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:TPO:5.15.0" elementFormDefault="qualified" version="5.15.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.10.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.15.0" schemaLocation="CUESADCommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.15.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.14.3" schemaLocation="RUSCommonLeafTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.15.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:RUDeclCommonAggregateTypesCust:5.15.0" schemaLocation="RUDeclCommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Таможенный приходный ордер (ТПО)</xs:documentation>
	</xs:annotation>
	<xs:element name="TPO" type="tpo:TPOType">
		<xs:annotation>
			<xs:documentation>Таможенный приходный ордер</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="TPOType">
		<xs:annotation>
			<xs:documentation>Таможенный приходный ордер (ТПО)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="AdditionalSheetNumber" type="clt_ru:Count3Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество добавочных листов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalWeight" type="clt_ru:QuantityBasisType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Общий вес всех перемещаемых товаров, кг</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalCost" type="clt_ru:AmountType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Общая стоимость в валюте платежа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DollarTotalCost" type="clt_ru:AmountType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Общая стоимость в долларах США</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EuroTotalCost" type="clt_ru:AmountType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Общая стоимость в евро</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsIndivisibleHaveSign" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Наличие неделимых товаров весом свыше 35 кг, товаров общим весом свыше 50 кг и (или) общей таможенной стоимостью свыше 1500 евро (1 или true - да; 0 или false - нет)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UtilSign" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак ТПО на уплату утилизационного сбора (1 или true - да; 0 или false - нет)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CommonPaymentDetails" type="tpo:CommonPaymentDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Общая информация о взимаемых платежах</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TPOTypeCode" type="tpo:TPOTypeCodeType">
						<xs:annotation>
							<xs:documentation>Тип ордера</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TPODateTime" type="clt_ru:DateTimeCustType">
						<xs:annotation>
							<xs:documentation>Дата и время электронного документа (сведений)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TPOStatus" type="clt_ru:LetterIndicatorType">
						<xs:annotation>
							<xs:documentation>Статус ТПО (0 - неоплаченный, 1 - оплаченный, 2 - аннулированный)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TPORegNumber" type="tpo:TPORegNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Справочный номер ТПО</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Payer" type="tpo:PayerTPOType" maxOccurs="2">
						<xs:annotation>
							<xs:documentation>Плательщик ТПО</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Goods" type="tpo:GoodsType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Описание товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MPONotifNumber" type="cat_ru:GTDIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер уведомления о направлении МПО</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MPONumber" type="tpo:MPORegNumType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер МПО</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MPOPostalTransferNumber" type="clt_ru:Code14Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер бланка почтового перевода для оплаты МПО</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReceiverPerson" type="cat_ru:PersonBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Лицо, принявшее платеж</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsPersonName" type="tpo:CustomsPersonType">
						<xs:annotation>
							<xs:documentation>Должностное лицо таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentCurrency" type="tpo:PaymentCurrencyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Валюта платежа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AdditionalInformationDetails" type="tpo:AdditionalInformationDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о представленных документах и дополнительная информация</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UtilCollDetails" type="tpo:UtilCollDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения для уплаты утилизационного сбора</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006202E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="AddGoodsDescriptionDetailsType">
		<xs:annotation>
			<xs:documentation>Дополнительные сведения о товаре</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Manufacturer" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о производителе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TradeMark" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тов. знак, место происхождения, объект авторского права, смежных прав, патент и т.д.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsMark" type="cltESAD_cu:GoodsArticulType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Марка товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsMarking" type="cltESAD_cu:GoodsArticulType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Артикул товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsStandard" type="cltESAD_cu:GoodsArticulType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Стандарт (ГОСТ, ОСТ, СПП, СТО, ТУ)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdditionalInformationDetailsType">
		<xs:annotation>
			<xs:documentation>Дополнительная информация</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CRTaxAllowanceCode" type="clt_ru:CodeVariable2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак наличия льготы:           
S – физические лица государства-члена, временно проживавшие за границей не менее 1 года</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresentedDocument" type="tpo:PresentedDocumentType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Представляемые документы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PreviousDocDocDetails" type="tpo:PreviousDocDocDetailsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Предшествующие документы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PTD" type="cat_ru:GTDIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер таможенного документа, на основании которого составлен ТПО</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PreviousMovingDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата предыдущего ввоза товаров (транспортных средств)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInfoText" type="RUSclt_ru:FreeText4000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Иные сведения</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AutomobileInfoType">
		<xs:annotation>
			<xs:documentation>Данные об автомобиле</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Model" type="clt_ru:TransportNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Модель</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Mark" type="clt_ru:MarkCarNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Марка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MarkCode" type="clt_ru:MarkCarCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код марки </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManufactureDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата производства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManufactureYear" type="clt_ru:DateYearCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Год выпуска</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManufactureMonth" type="clt_ru:Count2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Месяц выпуска</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineVolumeQuanity" type="clt_ru:EngineVolumeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Объем двигателя, куб. см</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VINID" type="clt_ru:VINIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификационный номер (VIN)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VINChassisID" type="clt_ru:VINIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификационный номер шасси (рамы) транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VINBodyID" type="clt_ru:VINIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификационный номер кузова (кабины) транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportCategoryCode" type="clt_ru:CodeVariable3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код категории транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportTypeName" type="clt_ru:Text40Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование типа транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportColorCode" type="clt_ru:TransportMeansColorCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код цвета транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ECOClassCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Экологический класс транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineId" type="clt_ru:CodeVariable20Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификационный номер двигателя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineKindCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код типа двигателя: 1 - бензиновый, 2 - дизельный, 3 - электрический, 4 - гибридный на основе бензинового, 5 - гибридный на основе дизельного, 6 - конв. для работы на газе, 7 - иной.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineRechargingCode" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Возможность подзарядки (для электрических двигателей): 0 - нет, 1 - есть</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineMax30MinElectric" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Мощность двигателя внутреннего сгорания больше максимальной 30-минутной мощности электрического двигателя (для гибридных двигателей): 0 - нет, 1 - да</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnginePower" type="clt_ru:EnginePowerQuanityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Мощность двигателя в лошадиных силах</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnginePowerKVt" type="clt_ru:EnginePowerQuanityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Мощность двигателя в КВт</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CapacityQuantity" type="clt_ru:Quantity5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вместимость (чел)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportCarryingCapacityMeasure" type="clt_ru:QuantityBasis0Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Грузоподъемность транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrganizationName" type="RUSclt_ru:Name300Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование организации-изготовителя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnifiedCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код страны-изготовителя </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkDuration" type="clt_ru:Text40Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Срок эксплуатации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AppointmentCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Назначение транспортного средства: 1 - общего назначения, 2 - медицинского назначения, 3 - для проживания, 4 - автобусы (более 120 мест), 5 - повышенной проходимости, 6 - снегоходы/для гольфа/квадроциклы, 7 - прочие </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CRMoveDirectCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код направления перемещения: 1 – ввоз;
2 – вывоз;
3 – временный ввоз;
4 – обратный вывоз</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehicleRegistrationDetails" type="tpo:VehicleRegistrationDetailsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о регистрации ПТС (ПШТС)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportMeansRegId" type="RUScat_ru:TransportMeansRegIdType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeregistrationIndicator" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак снятия с регистрационного учета: 1 -ТС снято с учета в предыддущей стране регистрации; 0 - ТС не снято с учета в предыдущей стране регистрации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExportDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата вывоза транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommonPaymentDetailsType">
		<xs:annotation>
			<xs:documentation>Общая информация о взимаемых платежах</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TotalAmount" type="clt_ru:AmountType">
				<xs:annotation>
					<xs:documentation>Итоговая сумма подлежащих уплате платежей</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyA3Code" type="clt_ru:CurrencyA3CodeType">
				<xs:annotation>
					<xs:documentation>Буквенный код валюты</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AmountLetter" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Общая сумма подлежащих уплате платежей (прописью)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FactPaymentDetails" type="tpo:FactPaymentDetailsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения об уплате</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsTaxModeCodeDetails" type="tpo:CustomsTaxModeCodeDetailsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения об уплачиваемом платеже</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomsPersonType">
		<xs:annotation>
			<xs:documentation>Должностное лицо таможенного органа</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:SigningDetailsType">
				<xs:sequence>
					<xs:element name="LNP" type="clt_ru:LNPIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ЛНП должностного лица таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CustomsReceiptRegNumberType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер таможенной расписки</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:GTDIDType">
				<xs:sequence>
					<xs:element name="DocNumberPrefix" type="clt_ru:Code2Type">
						<xs:annotation>
							<xs:documentation>Префикс порядкового номера таможенной расписки</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CustomsTaxModeCodeDetailsType">
		<xs:annotation>
			<xs:documentation>Информация о виде таможенного платежа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsTaxModeCode" type="clt_ru:Code4Type">
				<xs:annotation>
					<xs:documentation>Кодовое обозначение вида налогов, сборов или иного платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsTaxModeName" type="RUSclt_ru:Name300Type">
				<xs:annotation>
					<xs:documentation>Наименование вида налогов, сборов или иного платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FactPaymentDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения об уплате</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catESAD_cu:ESADout_CUCustomsPaymentType">
				<xs:sequence>
					<xs:element name="PaymentName" type="clt_ru:FreeText250Type">
						<xs:annotation>
							<xs:documentation>Наименование платежа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TaxBase" type="clt_ru:QuantityBasisType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Основа начисления</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TaxBaseQualifierCode" type="clt_ru:CodeVariable18Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код единицы основы начисления платежа (специфическая ставка)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UnifiedCurrencyN3Code" type="clt_ru:CurrencyN3CodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Цифровой код валюты основы начисления (адвалорная ставка)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RateDetails" type="tpo:RateDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о ставке платежа, используемой при расчете</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CurrencyA3CodeClassifierList" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Трёхбуквенный код валюты (с указанием классификатора)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ScaleNumber" type="clt_ru:Quantity2Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Масштаб денежной суммы в десятичной системе счисления, представленный в виде показателя степени числа 10</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CurrencyDollarRate" type="clt_ru:CurrencyRateType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Курс доллара США к валюте государства - члена ТС</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CurrencyEuroRate" type="clt_ru:CurrencyRateType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Курс евро к валюте государства - члена ТС</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsTaxPaymentMethodCode" type="clt_ru:Code2Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Кодовое обозначение способа уплаты</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentDocDetails" type="tpo:PaymentDocDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения фактической уплаты и соответствующего платежного документа</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GoodsType">
		<xs:annotation>
			<xs:documentation>Описание товара</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsNumber" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsKindCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак кода декларируемого товара: 1 – товар, декларируемый с применением совокупного таможенного платежа;
2 – товар, декларируемый по единой ставке таможенного платежа.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="4">
				<xs:annotation>
					<xs:documentation>Наименование товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsGrossWeight" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес брутто товара, кг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsNetWeight" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес нетто товара, кг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlcoholWeightMore3L" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес алкоголя в части превышения нормы беспошлинного ввоза, кг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlcoholCostMore3L" type="clt_ru:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Стоимость алкоголя в части превышения нормы беспошлинного ввоза, руб</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddPageNumberl" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер добавочного листа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CRGoodsKindCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак товара: C – товар, коммерческого назначения; 
L – товар для личных целей.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cost" type="clt_ru:AmountType">
				<xs:annotation>
					<xs:documentation>Стоимость товара (услуги) в валюте платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DollarCost" type="clt_ru:AmountType">
				<xs:annotation>
					<xs:documentation>Стоимость товара (услуги) в долларах США</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EuroCost" type="clt_ru:AmountType">
				<xs:annotation>
					<xs:documentation>Стоимость товара (услуги) в евро</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddGoodsDescriptionDetails" type="tpo:AddGoodsDescriptionDetailsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Дополнительные сведения о товаре</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInformation" type="RUSclt_ru:FreeText4000Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дополнительная информация</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код страны происхождения по классификатору стран мира</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Количество в дополнительной единице измерения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentInfo" type="tpo:PaymentInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о платежах</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AutomobileInfo" type="tpo:AutomobileInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Данные об автомобиле</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MPORegNumType">
		<xs:annotation>
			<xs:documentation>Номер МПО</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата регистрации документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MPO_Number" type="clt_ru:Code13Type">
				<xs:annotation>
					<xs:documentation>Уникальный номер МПО</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PayerTPOType">
		<xs:annotation>
			<xs:documentation>Плательщик по ТПО</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:SubjectBaseDetailsType">
				<xs:sequence>
					<xs:element name="PersonIDIndicator" type="clt_ru:IndicatorType">
						<xs:annotation>
							<xs:documentation>Признак физического лица</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FactPayerIndicator" type="clt_ru:IndicatorType">
						<xs:annotation>
							<xs:documentation>Признак фактического плательщика</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CommunicationDetails" type="cat_ru:ContactType">
						<xs:annotation>
							<xs:documentation>Контактный реквизит с указанием способа и идентификатора средства (канала) связи.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TPOAddress" type="RUScat_ru:RUAddressType">
						<xs:annotation>
							<xs:documentation>Адрес</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentityDoc" type="RUScat_ru:RUIdentityCardType">
						<xs:annotation>
							<xs:documentation>Удостоверение личности</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PaymentCurrencyType">
		<xs:annotation>
			<xs:documentation>Валюта платежа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CurrencyName" type="clt_ru:CurrencyNameType">
				<xs:annotation>
					<xs:documentation>Наименование валюты платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyA3Code" type="clt_ru:CurrencyA3CodeType">
				<xs:annotation>
					<xs:documentation>Буквенный код валюты платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyN3Code" type="clt_ru:CurrencyN3CodeType">
				<xs:annotation>
					<xs:documentation>Цифровой код валюты платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyDollarRate" type="clt_ru:CurrencyRateType">
				<xs:annotation>
					<xs:documentation>Курс доллара США к валюте государства - члена ТС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyEuroRate" type="clt_ru:CurrencyRateType">
				<xs:annotation>
					<xs:documentation>Курс евро к валюте государства - члена ТС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyRate" type="clt_ru:CurrencyRateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Курс валюты платежа к валюте государства - члена ТС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyScale" type="clt_ru:Count2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Масштаб (в виде показателя степени числа 10)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TPODateTime" type="clt_ru:DateTimeCustType">
				<xs:annotation>
					<xs:documentation>Дата применения курса валюты</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentDetailsType">
		<xs:annotation>
			<xs:documentation>Подробности уплаты</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PaymentWayCode" type="clt_ru:Code2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Способ уплаты в соответствии с классификатором способов уплаты таможенных и иных платежей, взимание которых возложено на таможенные органы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentDocument" type="tpo:PaymentDocumentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Платежный документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="RFOrganizationFeatures" type="cat_ru:RFOrganizationFeaturesType">
					<xs:annotation>
						<xs:documentation>Сведения об организации. Особенности Российской Федерации</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RKOrganizationFeatures" type="cat_ru:RKOrganizationFeaturesType">
					<xs:annotation>
						<xs:documentation>Сведения об организации. Особенности Республики Казахстан</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RBOrganizationFeatures" type="cat_ru:RBOrganizationFeaturesType">
					<xs:annotation>
						<xs:documentation>Сведения об организации. Особенности Республики Беларусь</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RAOrganizationFeatures" type="cat_ru:RAOrganizationFeaturesType">
					<xs:annotation>
						<xs:documentation>Сведения об организации. Особенности Республики Армения</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="KGOrganizationFeatures" type="cat_ru:KGOrganizationFeaturesType">
					<xs:annotation>
						<xs:documentation>Сведения об организации. Особенности Кыргызской Республики</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="PersonId" type="RUSclt_ru:PersonIdType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уникальный идентификатор физического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentDocDetailsType">
		<xs:annotation>
			<xs:documentation> Сведения фактической уплаты и соответствующего платежного документа </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocKindCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кодовое обозначение вида документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocName" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocId" type="clt_ru:DocumentNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocCreationDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxpayerDetails" type="cat_ru:RFOrganizationFeaturesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Налогоплательщик</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UniqueCustomsNumberId" type="RUScat_ru:UITN40Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уникальный идентификационный номер участника экономической деятельности, предназначенный для целей таможенного контроля</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsReceiptRegNumber" type="tpo:CustomsReceiptRegNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер таможенной расписки (указывается при оплате таможенных, иных платежей, исчисленных в ТПО, за счёт денежного залога</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о платеже</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PaymentInfoDetails" type="tpo:PaymentInfoDetailsType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Детальные сведения о платеже</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalAmount" type="clt_ru:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Итоговая сумма</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TACurrencyCode" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код валюты</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentDocumentType">
		<xs:annotation>
			<xs:documentation>Платежный документ</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="PaymentDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата уплаты или взыскания (дата исполнения обязанности по уплате таможенных и иных платежей)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocumentModeCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код вида документа в соответствии с классификатором видов документов и сведений, используемых при таможенном декларировании</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PaymentInfoDetailsType">
		<xs:annotation>
			<xs:documentation>Детальные сведения о платеже</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PaymentModeCode" type="clt_ru:CUCustomsPaymentCodeType">
				<xs:annotation>
					<xs:documentation>Код вида платежа в соответствии с Классификатором видов таможенных и иных платежей</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentName" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Наименование платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxBase" type="clt_ru:QuantityBasisType">
				<xs:annotation>
					<xs:documentation>Основа начисления</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxBaseQualifierCode" type="clt_ru:CodeVariable18Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код единицы основы начисления платежа (специфическая ставка)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnifiedCurrencyN3Code" type="clt_ru:CurrencyN3CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Цифровой код валюты основы начисления (адвалорная ставка)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RateDetails" type="tpo:RateDetailsType">
				<xs:annotation>
					<xs:documentation>Сведения о ставке платежа, используемой при расчете</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WeightRatioNumber" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Весовой коэффициент</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DutyTaxFreeRateDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата применения ставки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsTaxFreePaymentFeatureCode" type="clt_ru:Code2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код особенности уплаты таможенных и иных платежей</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Amount" type="clt_ru:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сумма платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyCode" type="clt_ru:CurrencyN3CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код валюты платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CRPaymentKindeCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код типа таможенного платежа:      1 – таможенный платеж;
2 – периодический платеж;
3 – совокупный таможенный платеж</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CAPaymentAmount" type="clt_ru:AmountType">
				<xs:annotation>
					<xs:documentation>Исчисленная сумма</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CACurrencyCode" type="clt_ru:CurrencyA3CodeType">
				<xs:annotation>
					<xs:documentation>Код валюты</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PreviousPaymentAmount" type="clt_ru:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сумма ранее уплаченных платежей</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PCurrencyCode" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код валюты</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PeriodicPaymentsDetails" type="tpo:PeriodicPaymentsDetailsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о периодическом платеже</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RefinanceRate" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ставка рефинансирования</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DayQuantity" type="clt_ru:Quantity5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество дней</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentDetails" type="tpo:PaymentDetailsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Подробности уплаты</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PeriodicPaymentsDetailsType">
		<xs:annotation>
			<xs:documentation> Сведения о периодическом платеже </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StartDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Начальная дата</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Конечная дата</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StageQuantity" type="clt_ru:Quantity5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество этапов</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MonthQuantity" type="clt_ru:Quantity5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество месяцев</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsReceiptIdDetails" type="tpo:TPORegNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер ТПО основного платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PresentedDocumentType">
		<xs:annotation>
			<xs:documentation>Представляемые документы/Дополнительная информация</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="PresentedDocumentModeCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код вида представляемого документа. Заполняется в соответствии с классификатором видов документов, используемых при заявлении сведений в графе 44</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UnifiedCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код страны</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AuthorityId" type="clt_ru:CodeVariable20Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор уполномоченного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PreviousDocDocDetailsType">
		<xs:annotation>
			<xs:documentation>Предшествующие документы</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CountryN3Code" type="clt_ru:CountryN3CodeType">
				<xs:annotation>
					<xs:documentation>Код страны</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CRPreviousCustomsDocCode" type="clt_ru:LetterIndicatorType">
				<xs:annotation>
					<xs:documentation>Тип предшествующего таможенного документа: 1 – таможенный приходный ордер;
2 – декларация на товары</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsReceiptIdDetails" type="tpo:TPORegNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Справочный номер ТПО</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsDeclarationIdDetails" type="cat_ru:GTDIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер таможенной декларации</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RateDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о ставке платежа, используемой при расчете</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DutyTaxFeeRateKindCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вид ставки (% - адвалорная, * - специфическая, S – признак сборов для РК)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DutyTaxFeeRateValue" type="cltESAD_cu:RateType">
				<xs:annotation>
					<xs:documentation>Значение ставки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnifiedMeasurementUnitCode" type="clt_ru:MeasureUnitQualifierCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кодовое обозначение единицы измерения (кг, л и т.п.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnifiedCurrencyN3Code" type="clt_ru:CurrencyN3CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Цифровое кодовое обозначение валюты ставки (специфическая ставка)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RateQualifierCode" type="clt_ru:MeasureUnitQualifierCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код единицы измерения ставки</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TPORegNumberType">
		<xs:annotation>
			<xs:documentation>Справочный номер ТПО</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата регистрации документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocNumber" type="clt_ru:Code10Type">
				<xs:annotation>
					<xs:documentation>Номер документа по журналу регистрации/типографский номер</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TPOTypeCodeType">
		<xs:annotation>
			<xs:documentation>Тип ордера</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MovementPurpose" type="clt_ru:Code2Type">
				<xs:annotation>
					<xs:documentation>Код цели перемещения товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MovementWay" type="clt_ru:Code2Type">
				<xs:annotation>
					<xs:documentation>Код способа перемещения товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportKindCode" type="clt_ru:Count2Type">
				<xs:annotation>
					<xs:documentation>Код вида транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UtilCollDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о ТС для уплаты утилизационного сбора</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:element name="Vehicle" type="tpo:VehicleType">
					<xs:annotation>
						<xs:documentation>Транспортное средство</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Chassis" type="tpo:VehicleDetailsType">
					<xs:annotation>
						<xs:documentation>Шасси транспортного средства</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Trailer" type="tpo:VehicleDetailsType">
					<xs:annotation>
						<xs:documentation>Прицепы </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="VINID" type="clt_ru:VINIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификационный номер (VIN)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Lifetime" type="clt_ru:Quantity3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Срок эксплуатации для утилизационных сборов (лет) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsNumber" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер товара в ДТ </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код товара по ТН ВЭД ЕАЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Chassis2017Indicator" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ТС произведено на базе шасси ТС 2017 года выпуска (1 - да, 0 - нет)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManualInputCoefficient" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ручной ввод коэффициента (1 - да, 0 - нет)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Coefficient" type="clt_ru:QuantityBasis0Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Коэффициент для расчета утилизационного сбора</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RateDetails" type="tpo:RateDetailsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о ставке платежа, используемой при расчете (основа начисления)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegUtil" type="RUDECLcat:CustomDocIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Регистрационный номер расчета утилизационного сбора</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VehicleType">
		<xs:annotation>
			<xs:documentation>Сведения о транспортном средстве</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TransportCategoryCode" type="clt_ru:CodeVariable3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код категории транспртного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonalUseIndicator" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак автомобиля для личных целей (указывается для ТС категории М1)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineTypeIndicator" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак электрического двигателя (указывается для ТС категории М1: 1 - электрическмй двигатель, 0 - иной двигатель)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TempImpIndicator" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак временного ввоза грузового ТС (указывается для ТС категории N1, N2, N3)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="STrIndicator" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак ТС - седельный тягач (указывается для ТС категории N1, N2, N3)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpecTransportIndicator" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак специализированного ТС (указывается для ТС категории М1, М2, N1, N2, N3)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpecTrfnsportIndicator" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак ТС - автобетоносмеситель (указывается для специализированных ТС категории N1, N2, N3)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineVolumeQuanity" type="clt_ru:EngineVolumeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Объем двигателя, куб. см</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnginePower" type="clt_ru:EnginePowerQuanityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Мощность двигателя в лошадиных силах</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalWeight" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Полная масса (т)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehicleProdDate" type="tpo:VehicleProdDateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата производства транспортного средства (шасси транспортного средства)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VehicleProdDateType">
		<xs:annotation>
			<xs:documentation>Дата производства транспортного средства (шасси транспортного средства)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ManufactureDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата производства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManufactureYear" type="clt_ru:DateYearCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Год выпуска</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManufactureMonth" type="clt_ru:Count2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Месяц выпуска</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VehicleDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о прицепах / шасси транспортного средства</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tpo:VehicleProdDateType">
				<xs:sequence>
					<xs:element name="TotalWeight" type="clt_ru:QuantityBasisType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Полная масса (т) / Грузоподъемность (т)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VehicleRegistrationDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о регистрации ПТС (ПШТС)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код таможенного органа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocCreationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата выдачи, подписания, утверждения или регистрации документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportPassportID" type="cat_ru:TransportMeansPassportType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер бланка ПТС (ПШТС)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehicleEPassportId" type="RUSclt_ru:EDocCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер ПТС (ПШТС) в системе электронных паспортов</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
