XsltProcessor/xsd/5.15.0/TransportMeansChassisPassport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:CustomsDocuments:TransportMeansChassisPassport:5.15.0" version="5.15.0.0" xmlns:catESAD_ru="urn:customs.ru:RUCommonAggregateTypes:5.15.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.10.0" xmlns:cltESAD_ru="urn:customs.ru:RUCommonLeafTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:tcp="urn:customs.ru:Information:CustomsDocuments:TransportMeansChassisPassport:5.15.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.10.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUCommonLeafTypes:5.4.0" schemaLocation="RUESADCommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUCommonAggregateTypes:5.15.0" schemaLocation="RUESADCommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Паспорт шасси транспортного средства. </xs:documentation>
  </xs:annotation>
  <xs:element name="TransportMeansChassisPassport" type="tcp:TransportMeansChassisPassportType" />
  <xs:complexType name="TransportMeansChassisPassportType">
    <xs:annotation>
      <xs:documentation>Паспорт шасси транспортного средства</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="IssueDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата выдачи паспорта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrganizationName" type="clt_ru:NameType">
            <xs:annotation>
              <xs:documentation>Наименование организации, выдавшей паспорт</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="CountryCode" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
              <xs:documentation>Код страны ввоза/вывоза шасси ТС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="CustomsRestriction" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Установленные таможенными органами ограничения по использованию и распоряжению шасси транспортных средств, ввозимыми на территорию Российской Федерации </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="SpecialMark" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Особые отметки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:choice>
            <xs:annotation>
              <xs:documentation>Серия, N удостоверения или номер ДТ</xs:documentation>
            </xs:annotation>
            <xs:element minOccurs="0" name="ImportCertification" type="tcp:FederalDocType">
              <xs:annotation>
                <xs:documentation>Документ по которому проведено обращение ТС в федеральную  собственность.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="CustomsProfitOrder" type="tcp:CustomsProfitOrderType">
              <xs:annotation>
                <xs:documentation>Номер таможенного приходного ордера (ТПО)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="GTDID" type="cat_ru:GTDIDType">
              <xs:annotation>
                <xs:documentation>Номер ДТ</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element name="Manufacturer" type="catESAD_ru:TransportManufacturerType">
            <xs:annotation>
              <xs:documentation>Сведения об организации - изготовителя шасси транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PShTSData" type="tcp:PShTSDataType">
            <xs:annotation>
              <xs:documentation>Сведения о шасси транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TransportMeansChassisOwner" type="catESAD_ru:TransportOwnerType">
            <xs:annotation>
              <xs:documentation>Сведения о собственнике шасси транспортного средства (адрес, наименование организации или фамилия физического лица)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="OrganizationLegalAddress" type="cat_ru:AddressType">
            <xs:annotation>
              <xs:documentation>Юридический адрес организации (изготовителя, таможни или подразделения Госавтоинспекции), выдавшей паспорт</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PShTSSerialNumber" type="cat_ru:TransportMeansPassportType">
            <xs:annotation>
              <xs:documentation>Серия и номер Паспорта шасси транспортного средства</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="PersonSign" type="cat_ru:PersonBaseType">
            <xs:annotation>
              <xs:documentation>Подпись лица, выдавшего паспорт</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ChassicBargain" type="tcp:ChassicBargainType">
            <xs:annotation>
              <xs:documentation>Сведения о сделках  с шасси  ТС</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute fixed="1006086E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="ChassicBargainType">
    <xs:annotation>
      <xs:documentation>Сведения о сделках с шасси ТС</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="SellingDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата продажи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NewChassisOwner" type="catESAD_ru:TransportOwnerType">
        <xs:annotation>
          <xs:documentation>Сведения о новом собственнике ТС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="DocPropertyRights" type="cat_ru:DocumentBaseType">
        <xs:annotation>
          <xs:documentation>Документ на право  собственности</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PrevOwnerSign" type="cat_ru:PersonBaseType">
        <xs:annotation>
          <xs:documentation>Подпись прежнего  собственника</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NewOwnerSign" type="cat_ru:PersonBaseType">
        <xs:annotation>
          <xs:documentation>Подпись настоящего  собственника</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsProfitOrderType">
    <xs:annotation>
      <xs:documentation>Номер таможенного приходного ордера (ТПО)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
        <xs:annotation>
          <xs:documentation>Код таможенного органа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
        <xs:annotation>
          <xs:documentation>Дата регистрации документа.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="clt_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Номер</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Series" type="clt_ru:SeriesCodeType">
        <xs:annotation>
          <xs:documentation>Серия</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FederalDocType">
    <xs:annotation>
      <xs:documentation>Документ по которому ТС обращено в федеральную  собственность</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element minOccurs="0" name="Series" type="clt_ru:SeriesCodeType">
            <xs:annotation>
              <xs:documentation>Серия</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PShTSDataType">
    <xs:annotation>
      <xs:documentation>Сведения о шасси транспортного средства</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:AutomobileBaseType">
        <xs:sequence>
          <xs:element minOccurs="0" name="EngineModel" type="cltESAD_ru:EngineModelType">
            <xs:annotation>
              <xs:documentation>Модель двигателя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="EnginePowerKvtQuanity" type="clt_ru:EnginePowerQuanityType">
            <xs:annotation>
              <xs:documentation>Мощность двигателя в киловаттах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="EnginePowerHpQuanity" type="clt_ru:EnginePowerQuanityType">
            <xs:annotation>
              <xs:documentation>Мощность двигателя в лошадиных силах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="EngineModeCode" type="clt_ru:Code2Type">
            <xs:annotation>
              <xs:documentation>Код типа двигателя</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ColorCode" type="clt_ru:TransportMeansColorCodeType">
            <xs:annotation>
              <xs:documentation>Код цвета кабины, кузова</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ColorName" type="clt_ru:Text50Type">
            <xs:annotation>
              <xs:documentation>Наименование цвета кабины, кузова</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Ekoclass" type="clt_ru:DigitalIndicatorType">
            <xs:annotation>
              <xs:documentation>Экологический класс ("0"-нулевой, "1" - первый, "2" - второй, "3" - третий, "4" - четвертый, "5" - пятый)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ConformanceCertificate" type="catESAD_ru:ConformanceCertificateType">
            <xs:annotation>
              <xs:documentation>Реквизиты Одобрения типа ТС /Сертификата соответствия</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ChassisColorList" type="tcp:TransportColorListType">
            <xs:annotation>
              <xs:documentation>Список цветов шасси. Заполняется названиями основных  цветов,  если цвет - многоцветный.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TransportColorListType">
    <xs:annotation>
      <xs:documentation>Список цветов ТС, шасси ТС. Заполняется названиями основных  цветов,  если цвет - многоцветный.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ColorCode" type="clt_ru:TransportMeansColorCodeType">
        <xs:annotation>
          <xs:documentation>Код цвета кабины, кузова</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ColorName" type="clt_ru:Text50Type">
        <xs:annotation>
          <xs:documentation>Наименование цвета кабины, кузова</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>