XsltProcessor/xsd/5.27.0/DecisionPerformAuditField.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Приказ ФТС от 14.02.2019 № 258 "Об утверждении форм документов, составляемых таможенными органами при проведении таможенных проверок, порядков их заполнения и порядка внесения изменений в решение о проведении выездной таможенной проверки" (Приложения№ 1, 26)
	Приложение № 1 - Решение о проведении выездной таможенной проверки" not(dpaf:ReasonChange)
	Приложение № 26 - Решение о внесении изменений в решение о проведении выездной таможенной проверки" (dpaf:ReasonChange)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:adt_cat="urn:customs.ru:Information:CustomsAuditDocuments:AuditCommonAggregateTypesCust:5.24.0" xmlns:dpaf="urn:customs.ru:Information:CustomsAuditDocuments:DecisionPerformAuditField:5.24.0" targetNamespace="urn:customs.ru:Information:CustomsAuditDocuments:DecisionPerformAuditField:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:CustomsAuditDocuments:AuditCommonAggregateTypesCust:5.24.0" schemaLocation="AuditCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Решение о проведении выездной таможенной проверки/о внесении изменений (дополнений) в решение о проведении выездной таможенной проверки
</xs:documentation>
  </xs:annotation>
  <xs:element name="DecisionPerformAuditField" type="dpaf:DecisionPerformAuditFieldType">
    <xs:annotation>
      <xs:documentation>Решение о проведении выездной таможенной проверки/о внесении изменений (дополнений) в решение о проведении выездной таможенной проверки
</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="DecisionPerformAuditFieldType">
    <xs:annotation>
      <xs:documentation>Решение о проведении выездной таможенной проверки/о внесении изменений (дополнений) в решение о проведении выездной таможенной проверки  (тип)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="CustomsIssuedDecision" type="dpaf:CustomsIssuedType">
            <xs:annotation>
              <xs:documentation>Таможенный орган, составивший Решение, подпись должностного или уполномоченного лица</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsIssuedPrevDecision" type="dpaf:CustomsIssuedType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Таможенный орган, составивший Решение, в которое вносятся изменения (дополнения), подпись должностного или уполномоченного лица</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ConnectCaseCustomsControl" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Связь с делом таможенного контроля</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionNumber" type="adt_cat:NumberType">
            <xs:annotation>
              <xs:documentation>Реквизиты Решения о проведении выездной таможенной проверки / Решения о внесении изменений в решение о проведении выездной таможенной проверки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PrevDecisionNumber" type="adt_cat:NumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Реквизиты Решения о проведении выездной таможенной проверки, в которое вносятся изменения (дополнения)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Reason" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Основания для проведения проверки (ссылка на пункт плана проверок либо на соответствующий подпункт пункта 16 статьи 333 ТК ЕАЭС, либо на часть 5 статьи 229 ФЗ)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ReasonChange" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Основания для внесения изменений</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AuditFieldKind" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Вид выездной проверки: 1 - плановая; 2 - внеплановая; 3 - встречная внеплановая</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AuditOrganization" type="dpaf:AuditOrganizationType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения об юридическом/физическом лице, в отношении которого производится проверка</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AuditSubject" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Предмет выездной таможенной проверки в соответствии с  пунктом 6 статьи 331 ТК ЕАЭС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AuditPeriod" type="adt_cat:AuditPeriodType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Период, за который назначена таможенная проверка</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTInfo" type="dpaf:DTInfoType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Виды и номера таможенных деклараций или документов, используемых в качестве таможенной декларации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OtherInfo" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Иные сведения об объекте таможенного контроля</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ChiefAudit" type="dpaf:CustomPersonType">
            <xs:annotation>
              <xs:documentation>Руководитель комиссии по проведению выездной таможенной проверки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ListCommission" type="dpaf:CustomPersonType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Должностные лица, проводившие проверку</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ListAttractedPersons" type="adt_cat:PersonType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Привлеченные должностные лица</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SecExempDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата получения второго экземпляра</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SecExempTime" type="clt_ru:TimeCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Время получения второго экземпляра</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SecondExempReceived" type="dpaf:SecondExempReceivedType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Второй экземпляр получил</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RefusalMark" type="dpaf:RefusalMarkType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Отметка должностного лица таможенного органа об отказе адресата в получении копии решения о проведении выездной таможенной проверки </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StopProlongMark" type="dpaf:StopProlongMarkType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Отметки о приостановлении проверки (возобновлении, продлении на месяц)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Changes" type="dpaf:ChangeType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Изменения (дополнения)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DirectionByPost" type="dpaf:DirectionByPostType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Направление Решения по почте</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AttachedFile" type="dpaf:AttachedFileType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Прикрепленные файлы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Comment" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006908E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AttachedFileType">
    <xs:annotation>
      <xs:documentation>Прикрепленный файл</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FileName" type="clt_ru:FreeText250Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование файла</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FileContent" type="clt_ru:Text3MB" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Содержимое файла в формате Base64</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AuditOrganizationType">
    <xs:annotation>
      <xs:documentation>Проверяемая организация/лицо</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="RUScat_ru:OrganizationType">
        <xs:sequence>
          <xs:element name="OKPO" type="clt_ru:OKPOIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Код организации по ОКПО</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FactAddressDetails" type="RUScat_ru:RUAddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Адрес местонахождения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RegionCustoms" type="adt_cat:CustomsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Региональное таможенное управление</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Person" type="dpaf:PersonType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Руководитель (представитель)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ChangeType">
    <xs:annotation>
      <xs:documentation>Изменения</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FieldName" type="clt_ru:Text50Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Наименование поля в структуре электронного документа, в которое необходимо внести изменения (дополнения)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreviousText" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Ранее указанные в строке сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChangeText" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Измененные (дополненные) сведения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomsIssuedType">
    <xs:annotation>
      <xs:documentation>Таможенный орган, подпись должностного или уполномоченного лица</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="adt_cat:CustomsIssuedType">
        <xs:sequence>
          <xs:element name="PersonCustomsID" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер служебного удостоверения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Rank" type="clt_ru:Text150Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Звание</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LNP" type="clt_ru:LNPIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ЛНП должностного лица таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Note" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CustomPersonType">
    <xs:annotation>
      <xs:documentation>Должностное лицо, подписавшее уведомление</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonBaseType">
        <xs:sequence>
          <xs:element name="CustomsDept" type="cat_ru:CustomsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Таможенный орган</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Phone" type="clt_ru:PhoneNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Телефон</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonCustomsID" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер служебного удостоверения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Department" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Подразделение</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Rank" type="clt_ru:Text150Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Звание</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LNP" type="clt_ru:LNPIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ЛНП должностного лица таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Note" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DirectionByPostType">
    <xs:annotation>
      <xs:documentation>Направление документа по почте</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="dpaf:CustomPersonType">
        <xs:sequence>
          <xs:element name="PostAddress" type="RUScat_ru:RUAddressType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Почтовый адрес</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Date" type="clt_ru:DateCustType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Дата направления по почте</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DTInfoType">
    <xs:annotation>
      <xs:documentation>Виды и номера таможенных деклараций или документов, используемых в качестве таможенной декларации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="DTNumberInfo" type="dpaf:DTNumberInfoType">
          <xs:annotation>
            <xs:documentation>Реквизиты таможенной декларации</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="OtherDocument" type="dpaf:OtherDocumentType">
          <xs:annotation>
            <xs:documentation>Реквизиты иного документа, используемого в качестве таможенной декларации</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OtherDocumentType">
    <xs:annotation>
      <xs:documentation>Реквизиты иного документа, используемого в качестве таможенной декларации</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:DocumentBaseType">
        <xs:sequence>
          <xs:element name="DocID" type="clt_ru:DocumentIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор документа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DTNumberInfoType">
    <xs:annotation>
      <xs:documentation>Информация о ДТ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="DeclarationKind" type="cltESAD_cu:CustomsDeclarationKindType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Вид таможенной декларации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsNumeric" type="clt_ru:Count5Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Номер товара в ДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>Представитель проверяемого лица</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonSignatureType">
        <xs:sequence>
          <xs:element name="Comment" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RefusalMarkType">
    <xs:annotation>
      <xs:documentation>Отметка об отказе в получении копии решения</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonSignatureType">
        <xs:sequence>
          <xs:element name="RefusalMark" type="clt_ru:FreeText250Type">
            <xs:annotation>
              <xs:documentation>Запись об отказе в получении копии решения о проведении выездной таможенной проверки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PostDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата поступления в таможенный орган почтового отправления с отметкой о невручении письма адресату</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SecondExempReceivedType">
    <xs:annotation>
      <xs:documentation>Представитель проверяемого лица</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="adt_cat:SecondExempReceivedType">
        <xs:sequence>
          <xs:element name="Comment" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StopProlongMarkType">
    <xs:annotation>
      <xs:documentation>Отметка о приостановлении проверки (возобновлении, продлении на месяц)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:PersonSignatureType">
        <xs:sequence>
          <xs:element name="Date" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Проверка приостановлена (возобновлена) с даты</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MarkKind" type="clt_ru:Numeric1Type">
            <xs:annotation>
              <xs:documentation>Вид отметки: 1 - приостановление; 2 - возобновление; 3 - продление на месяц</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>