XsltProcessor/xsd/5.27.0/ExtractFromActAuditCameral.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Приказ ФТС от 14.02.2019 № 258 "Об утверждении форм документов, составляемых таможенными органами при проведении таможенных проверок, 
порядков их заполнения и порядка внесения изменений в решение о проведении выездной таможенной проверки" 
Приложение № 29 - Выписка из акта таможенной проверки-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:adt_cat="urn:customs.ru:Information:CustomsAuditDocuments:AuditCommonAggregateTypesCust:5.24.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" xmlns:eaac="urn:customs.ru:Information:CustomsAuditDocuments:ExtractFromActAuditCameral:5.24.0" targetNamespace="urn:customs.ru:Information:CustomsAuditDocuments:ExtractFromActAuditCameral:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:Information:CustomsAuditDocuments:AuditCommonAggregateTypesCust:5.24.0" schemaLocation="AuditCommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.17.0" schemaLocation="CUESADCommonLeafTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Выписка из акта таможенной проверки</xs:documentation>
  </xs:annotation>
  <xs:element name="ExtractFromActAuditCameral" type="eaac:ExtractFromActAuditCameralType">
    <xs:annotation>
      <xs:documentation>Выписка из акта таможенной проверки</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ExtractFromActAuditCameralType">
    <xs:annotation>
      <xs:documentation>Выписка из акта таможенной проверки</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="CustomsIssued" type="eaac:CustomsIssuedType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Таможенный орган, подпись должностного лица, составившего выписку из акта</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ActNumber" type="adt_cat:NumberType">
            <xs:annotation>
              <xs:documentation>Номер акта таможенной проверки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IdentKindAudit" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
              <xs:documentation>Вид таможенной проверки: 1-выездная; 2-камеральная</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AuditFieldKind" type="clt_ru:Numeric1Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Вид выездной проверки: 1 - выездная плановая; 2 - выездная внеплановая; 3 - выездная встречная внеплановая</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DTInfo" type="eaac:DTInfoType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Номера проверенных таможенных деклараций</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResolutionInfo" type="eaac:ResolutionInfoType">
            <xs:annotation>
              <xs:documentation>Выводы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SecExempDate" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Дата получения второго экземпляра</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SecondExempReceived" type="adt_cat:SecondExempReceivedType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Второй экземпляр выписки из акта получил</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsRepresentative" type="cat_ru:OrganizationBaseType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Сведения о таможенном представителе, в адрес которого направляется Выписка</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006927E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
  <xs:complexType name="CustomsIssuedType">
    <xs:annotation>
      <xs:documentation>Таможенный орган, подпись должностного или уполномоченного лица</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="adt_cat:CustomsIssuedType">
        <xs:sequence>
          <xs:element name="PersonCustomsID" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Номер служебного удостоверения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Rank" type="clt_ru:Text150Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Звание</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LNP" type="clt_ru:LNPIDType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>ЛНП должностного лица таможенного органа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Note" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DTInfoType">
    <xs:annotation>
      <xs:documentation>Виды и номера таможенных деклараций или документов, используемых в качестве таможенной декларации</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="DTNumberInfo" type="eaac:DTNumberInfoType">
          <xs:annotation>
            <xs:documentation>Реквизиты таможенной декларации</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="OtherDocument" type="cat_ru:DocumentBaseType">
          <xs:annotation>
            <xs:documentation>Реквизиты иного документа, используемого в качестве таможенной декларации</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="ViolationSign" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отметка о выявленном нарушении таможенного законодательства (1 - выявлено, 0 - не выявлено)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EstimatedTaxes" type="eaac:EstimatedTaxesType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Предполагаемая сумма налогов, специальных, антидемпинговых, компенсационных пошлин, подлежащих дополнительному исчислению и уплате (взысканию)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NeedDecisionCustSign" type="clt_ru:IndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Отметка о необходимости принятия решения в области таможенного дела (возможные значения: 1 - да, 0 - нет)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecisionCustKind" type="clt_ru:LetterIndicatorType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Вид решения в области таможенного дела, которое необходимо принять (в случае отметки о необходимости принятия решения) (возможные значения: 1 - решение о классификации товара; 2 - решение по результатам таможенной проверки; 3 - решение о классификации товара и решение по результатам таможенной проверки.) </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DTNumberInfoType">
    <xs:annotation>
      <xs:documentation>Информация о ДТ</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="DeclarationKind" type="cltESAD_cu:CustomsDeclarationKindType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Вид таможенной декларации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsNumeric" type="clt_ru:Count5Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Номер товара в ДТ</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EstimatedTaxesType">
    <xs:annotation>
      <xs:documentation>Предполагаемая сумма налогов, специальных, антидемпинговых, компенсационных пошлин, подлежащих дополнительному исчислению и уплате (взысканию)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PaymentModeCode" type="clt_ru:CUCustomsPaymentCodeType">
        <xs:annotation>
          <xs:documentation>Код вида платежа  по классификатору видов налогов, сборов и иных платежей, взимание которых возложено на таможенные органы</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EstimatedAmount" type="clt_ru:AmountType">
        <xs:annotation>
          <xs:documentation>Предполагаемая сумма, рубли</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResolutionInfoType">
    <xs:annotation>
      <xs:documentation>Выводы</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AmountInfo" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Информация о предполагаемых суммах таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин, подлежащих дополнительному исчислению и уплате (взысканию)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Resolution" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Выводы о необходимости принятия решений в сфере таможенного дела либо выводы об отсутствии оснований принятия решений в сфере таможенного дела, предусмотренных ТК ЕАЭС и (или) статьей 218 Федерального закона от 03.10.2018 № 289-ФЗ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>