XsltProcessor/xsd/5.27.0/LongProcConclNotImpIdentify.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:lpcn_id="urn:customs.ru:Information:CustomsDocuments:LongProcConclNotImpIdentify:5.24.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:LongProcConclNotImpIdentify:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:annotation>
    <xs:documentation>Уведомление о невозможности идентификации товаров в продуктах их переработки</xs:documentation>
  </xs:annotation>
  <xs:element name="LongProcConclNotImpIdentify" type="lpcn_id:LongProcConclNotImpIdentifyType">
    <xs:annotation>
      <xs:documentation>Уведомление о невозможности идентификации товаров в продуктах их переработки</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="LongProcConclNotImpIdentifyType">
    <xs:annotation>
      <xs:documentation>Уведомление о невозможности идентификации товаров в продуктах их переработки</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
              <xs:documentation>Таможенный орган</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CurrentDT" type="cat_ru:GTDIDType">
            <xs:annotation>
              <xs:documentation>Номер ДТ, в которой заявлены продукты переработки</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DeclaredGood" type="lpcn_id:DeclaredGoodType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Сведения о товарах</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPerson" type="lpcn_id:CustomsPersonSignatureType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Подпись должностного лица</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006379E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы</xs:documentation>
  </xs:annotation>
  <xs:complexType name="AppGoodType">
    <xs:annotation>
      <xs:documentation>Товарная позиция</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:GTDIDType">
        <xs:sequence>
          <xs:element name="GoodsNumeric" type="clt_ru:Count3Type" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Порядковый номер товара</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CustomsPersonSignatureType">
    <xs:annotation>
      <xs:documentation>Подпись должностного лица</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:CustomsPersonType">
        <xs:sequence>
          <xs:element name="IssueDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата подписания</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DeclaredGoodType">
    <xs:annotation>
      <xs:documentation>Сведения о товарах</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
        <xs:annotation>
          <xs:documentation>Порядковый номер товара в ДТ, в которой заявлены продукты переработки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PermIdentifNumber" type="cat_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Регистрационный номер разрешения на переработку товаров</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreviousDT" type="lpcn_id:AppGoodType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Номер предшествующей ДТ, в которой были заявлены идентифицируемые товары при помещении под предшествующую таможенную процедуру</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecisionText" type="clt_ru:LetterIndicatorType">
        <xs:annotation>
          <xs:documentation>Решение таможенного органа об идентификации товара: 1 - товар идентифицирован; 2 - товар не идентифицирован;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Justification" type="clt_ru:Text150Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Обоснование решения таможенного органа о невозможности идентификации товара</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>