XsltProcessor/xsd/5.27.0/MilitaryLicInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:mli="urn:customs.ru:Information:SQDocuments:MilitaryLicInfo:5.24.0" targetNamespace="urn:customs.ru:Information:SQDocuments:MilitaryLicInfo:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Сведения из лицензии на ввоз (вывоз) продукции военного назначения, выданной Федеральной службой по военно-техническому сотрудничеству </xs:documentation>
  </xs:annotation>
  <xs:element name="MilitaryLicInfo" type="mli:MilitaryLicInfoType">
    <xs:annotation>
      <xs:documentation>Сведения из лицензии на ввоз (вывоз) продукции военного назначения, выданной Федеральной службой по военно-техническому сотрудничеству </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="MilitaryLicInfoType">
    <xs:annotation>
      <xs:documentation>Сведения из лицензии на ввоз (вывоз) продукции военного назначения, выданной Федеральной службой по военно-техническому сотрудничеству </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="DocNumber" type="RUScat_ru:DocBaseV4Type">
            <xs:annotation>
              <xs:documentation>Номер и дата документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ActionEnd" type="clt_ru:DateCustType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Срок действия</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsName" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="4">
            <xs:annotation>
              <xs:documentation>Наименование товаров</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Status" type="clt_ru:CodeVariable2Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Статус документа: (1 -  Действует; 2 -  Действие приостановлено;  3 -  Аннулировано; 4 - Срок действия истек</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FindStatus" type="clt_ru:IndicatorType">
            <xs:annotation>
              <xs:documentation>Статус поиска: ( 0 - Сведения о лицензии отсутствуют в информационных ресурсах таможенных органов, требуется постановка лицензии на контроль; 1 -   Найден;</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsConrol" type="cat_ru:CustomsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Таможня, в которой лицензия ФСВТС России поставлена на контроль</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsPost" type="cat_ru:CustomsType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Таможенный пост, который осуществляет учет количества продукции военного назначения</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006367E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные типы.</xs:documentation>
  </xs:annotation>
</xs:schema>