XsltProcessor/xsd/5.27.0/MovementConfirmation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Приказ Минфина России № 71н от 29 мая 2024 года "Об утверждении Порядка и технологии совершения таможенных операций в отношении товаров (в том числе транспортных средств), ввозимых на участки территорий опережающего развития, Арктической зоны Российской Федерации, ввозимых или ввезенных на участки территории свободного порта Владивосток, на которых применяется таможенная процедура свободной таможенной зоны, в том числе связанных с осуществлением идентификации товаров, ввозимых (ввезенных) на такие участки, и вывозимых с таких участков"
И НЕ ТОЛЬКО этот приказ-->
<!--Приказ Минфина России от 13.05.2016 г. № 61н "Об утверждении Порядка совершения таможенных операций при проведении идентификации товаров Евразийского экономического союза, ввозимых на территорию особой экономической зоны с остальной части таможенной территории Евразийского экономического союза, и совершения таможенных операций при обратном вывозе таких товаров с территории особой экономической зоны на остальную часть таможенной территории Евразийского экономического союза"-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:mvcf="urn:customs.ru:Information:CustomsDocuments:MovementConfirmation:5.26.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:MovementConfirmation:5.26.0" elementFormDefault="qualified" version="5.26.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:annotation>
		<xs:documentation>Уведомление о фактическом ввозе/вывозе товара/ Сообщение о прибытии (убытии) транспортного средства в контрольно-пропускной пункт</xs:documentation>
	</xs:annotation>
	<xs:element name="MovementConfirmation" type="mvcf:MovementConfirmationType">
		<xs:annotation>
			<xs:documentation>Уведомление о фактическом ввозе/вывозе товара/ Сообщение о прибытии (убытии) транспортного средства в контрольно-пропускной пункт</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="MovementConfirmationType">
		<xs:annotation>
			<xs:documentation>Уведомление о фактическом ввозе/вывозе товара/ Сообщение о прибытии (убытии) транспортного средства в контрольно-пропускной пункт</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="DocSign" type="clt_ru:Numeric1Type">
						<xs:annotation>
							<xs:documentation>Признак уведомления: 0 - о ввозе; 1 - об убытии товаров; 2 - уведомление о завершении действия пропуска; 3 - о ввозе на территорию ОЭЗ (Приказ 61н)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Customs" type="cat_ru:CustomsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код и наименование таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Applicant" type="mvcf:SubjectDetailsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о заинтересованном лице</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MovementDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата фактического ввоза/вывоза товаров (дата завершения действия пропуска)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MovementTime" type="clt_ru:TimeCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Время фактического ввоза/ вывоза товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ImportPlace" type="mvcf:ImportPlaceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Место ввоза товаров </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ImportPlaceName" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Наименование места ввоза товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Comments" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Примечание</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RegistrationNumber" type="mvcf:RegistrationNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер уведомления о ввозе/вывозе/ Заявления о проведении идентификации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocumentNumber" type="cat_ru:DocumentBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер транспортного (перевозочного) или коммерческого документа (при ввозе)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ImExRegistrationNumber" type="mvcf:ImExRegistrationNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер разрешения на ввоз/вывоз</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MPO_Number" type="clt_ru:Code13Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Уникальный номер МПО</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PTDNum" type="cat_ru:GTDIDType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Номер предварительной таможенной декларации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransportWeight" type="clt_ru:WeighQuantityType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Вес транспортного средства по результатам взвешивания на КПП, кг</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransportIdentifier" type="clt_ru:TransportMeansIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер транспортного средства</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PersonSignature" type="cat_ru:PersonSignatureType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Подпись уполномоченного представителя Заявителя </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006194E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="ImExRegistrationNumberType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер разрешения</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата регистрации документа.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="clt_ru:CodeVariable10Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddNumber" type="clt_ru:CodeVariable5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>4-ая часть номера</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegistrationNumberType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер уведомления о ввозе/вывозе</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AddNumber" type="clt_ru:CodeVariable4Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Первая часть регистрационного номера документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата регистрации документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="clt_ru:CodeVariable10Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocKind" type="clt_ru:CodeVariable5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Четвертая часть регистрационного номера документа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubjectDetailsType">
		<xs:annotation>
			<xs:documentation>Сведения о субъекте (организации/ ФЛ)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:OrganizationBaseType">
				<xs:sequence>
					<xs:element name="Address" type="RUScat_ru:RUAddressType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Адрес</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentityCard" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о документе, удостоверяющем личность физического лица</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CertificateNumber" type="cat_ru:DocumentBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер свидетельства, удостоверяющего регистрацию лица в качестве резидента особой экономической зоны (свободного порта Владивосток, Арктической зоны Российской Федерации), или свидетельства о включении в единый реестр участников свободной экономической зоны)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ImportPlaceType">
		<xs:annotation>
			<xs:documentation>Место ввоза товаров</xs:documentation>
		</xs:annotation>
		<xs:restriction base="clt_ru:CodeVariable2Type">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>Аэропорт Калининград (Храброво)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation>Морской порт Калининград, участок в г. Балтийск</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation>Морской порт Калининград, участок в г. Светлый</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation>Морской порт Калининград, участок в г. Калининград</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="5">
				<xs:annotation>
					<xs:documentation>Морской терминал в г. Пионерский</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="6">
				<xs:annotation>
					<xs:documentation>85 км федеральной автомобильной дороги Магадан - Якутск («Колыма») </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="7">
				<xs:annotation>
					<xs:documentation>Морской порт Магадан</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="8">
				<xs:annotation>
					<xs:documentation>Аэропорт Магадан (Сокол)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="9">
				<xs:annotation>
					<xs:documentation>Комплекс зданий, сооружений и посадочная площадка для самолетов и вертолетов, предназначенные для организации воздушного движения (Магаданская область, г. Магадан, 13 км основной трассы)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="10">
				<xs:annotation>
					<xs:documentation>Аэропорт Южно-Курильск (Менделеево)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="11">
				<xs:annotation>
					<xs:documentation>Аэропорт Ясный (остров Итуруп)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="12">
				<xs:annotation>
					<xs:documentation>Морской терминал Южно-Курильск (остров Кунашир)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="13">
				<xs:annotation>
					<xs:documentation>Морской терминал Малокурильск (остров Шикотан)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="14">
				<xs:annotation>
					<xs:documentation>Морской терминал Крабозаводск (остров Шикотан)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="15">
				<xs:annotation>
					<xs:documentation>Морской терминал Курильск, бухта Ольга (остров Итуруп)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="16">
				<xs:annotation>
					<xs:documentation>Морской терминал Курильск, бухта Китовая (остров Итуруп)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="17">
				<xs:annotation>
					<xs:documentation>Морской терминал Северо-Курильск (остров Парамушир)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="99">
				<xs:annotation>
					<xs:documentation>Иное место ввоза</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
