XsltProcessor/xsd/5.27.0/NotifRegisterCustRepresentatives.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Проекты нормативных правовых актов об утверждении порядков заполнения, направления и получения таких документов заинтересованными лицами в электронном виде-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUSclt_ru="urn:customs.ru:RUSCommonLeafTypes:5.21.0" xmlns:nrcr="urn:customs.ru:Information:CustomsDocuments:NotifRegisterCustRepresentatives:5.24.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:NotifRegisterCustRepresentatives:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
  <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd" />
  <xs:import namespace="urn:customs.ru:RUSCommonLeafTypes:5.21.0" schemaLocation="RUSCommonLeafTypes.xsd" />
  <xs:annotation>
    <xs:documentation>Уведомлений о результате предоставления государственной услуги ведения реестра таможенных представителей</xs:documentation>
  </xs:annotation>
  <xs:element name="NotifRegisterCustRepresentatives" type="nrcr:NotifRegisterCustRepresentativesType">
    <xs:annotation>
      <xs:documentation>Уведомлений о результате предоставления государственной услуги ведения реестра таможенных представителей</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="NotifRegisterCustRepresentativesType">
    <xs:annotation>
      <xs:documentation>Уведомлений о результате предоставления государственной услуги ведения реестра таможенных представителей</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="cat_ru:BaseDocType">
        <xs:sequence>
          <xs:element name="NotificationKind" type="nrcr:NotificationKindType">
            <xs:annotation>
              <xs:documentation>Вид уведомления (от 1 до 15)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NotificationDate" type="clt_ru:DateCustType">
            <xs:annotation>
              <xs:documentation>Дата принятия решения/ Дата направления Уведомления (для NotificationKind=1)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrganizationName" type="clt_ru:NameType">
            <xs:annotation>
              <xs:documentation>Наименование организации</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BusinessEntityTypeName" type="RUSclt_ru:Name300Type">
            <xs:annotation>
              <xs:documentation>Наименование организационно-правовой формы, в которой зарегистрирован хозяйствующий субъект</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InformationAboutSecuring" type="RUSclt_ru:FreeText4000Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Информацмя об обеспечении уплаты таможенных пошлин, налогов</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CertificateNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Регистрационный номер в реестре таможенных представителей</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InfPublicCertificateNumber" type="clt_ru:FreeText250Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Информация об опубликовании реестра таможенных представителей на официальном сайте ФТС России в сети Интернет</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GroundsForDecision" type="RUSclt_ru:FreeText4000Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Основания принятого Решения/ отмены приятого ранее Решения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NoticeNotPaidAmounts" type="nrcr:NoticeNotPaidAmountsType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Уведомление о не уплаченных в установленный срок суммах таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин, процентов и пеней</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PartCoAP_Article" type="clt_ru:CodeVariable4Type" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Часть статьи 16.2. Кодекса Российской Федерации об административных правонарушениях</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="DocumentModeID" type="clt_ru:DocumentIDType" use="required" fixed="1006364E">
          <xs:annotation>
            <xs:documentation>Идентификатор вида документа</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>Локальные прикладные  типы</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="NotificationKindType">
    <xs:annotation>
      <xs:documentation>Вид уведомления До 2 символов. Текстовый..Может принимать значения от 1 до 15
		1– Принятие предварительного решения, 
		2 – Включение в реестр таможенных представителей, 
		3 – Внесение изменений в реестр таможенных представителей, 
		4 – Исключение из реестра таможенных представителей по заявлению таможенного представителя, 
		5 – Исключение из реестра таможенных представителей, в связи с отсутствием обеспечения исполнения обязанностей юридического лица, 
		6 – Отмена решения об исключении из реестра таможенных представителей в связи с устранением основания исключения юридического лица из реестра таможенных представителей (предоставление обеспечения исполнения обязанностей юридического лица), 
		7 – Исключение из реестра таможенных представителей в связи с неисполнением обязанности таможенного представителя по уплате таможенных пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин, процентов и пеней,
		8 – Исключение из реестра таможенных представителей в связи с неисполнением обязанности таможенного представителя по представлению в таможенные органы отчетности   с использованием информационных технологий  в соответствии с законодательством государств-членов Евразийского экономического союза, 
		9 – Отмена решения об исключении из реестра таможенных представителей в связи с устранением основания исключения юридического лица из реестра таможенных представителей (представление отчетности), 
		10 – Исключение из реестра таможенных представителей в связи с отсутствием договора страхования риска своей гражданской ответственности, 
		11 – Отмена решения об исключении из реестра таможенных представителей в связи с устранением основания исключения юридического лица из реестра таможенных представителей (предоставление договора страхования риска гражданской ответственности таможенного представителя), 
		12 – Исключение из реестра таможенных представителей в связи с наличием вступившего(их) в силу и не исполненного(ых) в установленный срок постановления(й) по делу(ам) об административном(ых) правонарушении(ях),
		13 – Отмена решения об исключении из реестра таможенных представителей в связи с устранением основания исключения юридического лица из реестра таможенных представителей (исполнение постановления(й) по делу(ам) об административном(ых) правонарушении(ях)), 
		14 – Исключение из реестра таможенных представителей в связи с ликвидацией, 
		15 – Исключение из реестра таможенных представителей в связи с реорганизацией
			</xs:documentation>
    </xs:annotation>
    <xs:restriction base="CategoryCust:CodeCategoriesCust">
      <xs:minLength value="1" />
      <xs:maxLength value="2" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
      <xs:enumeration value="4" />
      <xs:enumeration value="5" />
      <xs:enumeration value="6" />
      <xs:enumeration value="7" />
      <xs:enumeration value="8" />
      <xs:enumeration value="9" />
      <xs:enumeration value="10" />
      <xs:enumeration value="11" />
      <xs:enumeration value="12" />
      <xs:enumeration value="13" />
      <xs:enumeration value="14" />
      <xs:enumeration value="15" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="NoticeNotPaidAmountsType">
    <xs:annotation>
      <xs:documentation>Уведомления(й) о не уплаченных в установленный срок суммах 
</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocDate" type="clt_ru:DateCustType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Дата уведомления</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocNumber" type="cat_ru:GTDIDType">
        <xs:annotation>
          <xs:documentation>Номер уведомления</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>