XsltProcessor/xsd/5.27.0/NotifRequirmentExecDate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:nred="urn:customs.ru:Information:ExchangeDocuments:NotifRequirmentExecDate:5.24.0" targetNamespace="urn:customs.ru:Information:ExchangeDocuments:NotifRequirmentExecDate:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Сообщение об изменении срока уплаты по уведомлению (уточнению к уведомлению) о не уплаченных в установленный срок суммах таможенных платежей, специальных, антидемпинговых, компенсационных пошлин, процентов и пеней</xs:documentation>
	</xs:annotation>
	<xs:element name="NotifRequirmentExecDate" type="nred:NotifRequirmentExecDateType">
		<xs:annotation>
			<xs:documentation>Сообщение об изменении срока уплаты по уведомлению (уточнению к уведомлению) о не уплаченных в установленный срок суммах таможенных платежей, специальных, антидемпинговых, компенсационных пошлин, процентов и пеней</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="NotifRequirmentExecDateType">
		<xs:annotation>
			<xs:documentation>Сообщение об изменении срока уплаты по уведомлению (уточнению к уведомлению) о не уплаченных в установленный срок суммах таможенных платежей, специальных, антидемпинговых, компенсационных пошлин, процентов и пеней</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="DocKind" type="clt_ru:CodeVariable2Type">
						<xs:annotation>
							<xs:documentation>Тип документа: 8 - Уведомление о неуплате; 9 - Уточнение к Уведомлению о неуплате</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NotifNumber" type="clt_ru:DocumentNumberType">
						<xs:annotation>
							<xs:documentation>Номер уведомления об уплате (уточнения к уведомлению) XXXXXXXX/XXXXX-X</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата уведомления</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsOffice" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Код таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExecDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Предельная дата исполнения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ChangeReason" type="clt_ru:FreeText250Type">
						<xs:annotation>
							<xs:documentation>Причина изменения срока по добровольной уплате таможенных и иных платежей</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1004157E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы.</xs:documentation>
	</xs:annotation>
</xs:schema>
