XsltProcessor/xsd/5.27.0/RegistrationCommonLeafTypesCust.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:RegistrationDocuments:RegistrationCommonLeafTypes:4.8.1" version="4.8.1.0" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:cltReg_ru="urn:customs.ru:Information:RegistrationDocuments:RegistrationCommonLeafTypes:4.8.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Общие простые типы для регистрационных документов.</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="FormNumType">
      <xs:annotation>
         <xs:documentation>Код. Учетный номер бланка. Код. Учетный номер бланка  от 6 до 9 символов.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="CategoryCust:TextCategoriesCust">
         <xs:minLength value="6"/>
         <xs:maxLength value="9"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="NaturalPersonRegistrationIDType">
      <xs:annotation>
         <xs:documentation>Идентификатор. Государственный регистрационный номер записи, вносимой в Единый государственный реестр индивидуальных предпринимателей. 15 символов. Числовой</xs:documentation>
      </xs:annotation>
      <xs:restriction base="CategoryCust:IdentifierCategoriesCust">
         <xs:pattern value="\d{15}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="RegistrationNumberIDType">
      <xs:annotation>
         <xs:documentation>Идентификатор. Государственный регистрационный номер записи, вносимой в Единый государственный реестр юридических лиц. 13 символов. Числовой</xs:documentation>
      </xs:annotation>
      <xs:restriction base="CategoryCust:IdentifierCategoriesCust">
         <xs:pattern value="\d{13}"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
