XsltProcessor/xsd/5.27.0/RepGoodsNoCustomsWarehouseCancel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rgncwc="urn:customs.ru:Information:ReportingCollection:RepGoodsNoCustomsWarehouseCancel:5.25.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" targetNamespace="urn:customs.ru:Information:ReportingCollection:RepGoodsNoCustomsWarehouseCancel:5.25.0" elementFormDefault="qualified" version="5.25.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:annotation>
		<xs:documentation>Уведомление об отмене Отчета лица, поместившего товары под таможенную процедуру таможенного склада и осуществляющего их хранение в местах, не являющихся таможенными складами</xs:documentation>
	</xs:annotation>
	<xs:element name="RepGoodsNoCustomsWarehouseCancel" type="rgncwc:RepGoodsNoCustomsWarehouseCancelType">
		<xs:annotation>
			<xs:documentation>Уведомление об отмене Отчета лица, поместившего товары под таможенную процедуру таможенного склада и осуществляющего их хранение в местах, не являющихся таможенными складами</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RepGoodsNoCustomsWarehouseCancelType">
		<xs:annotation>
			<xs:documentation>Уведомление об отмене Отчета лица, поместившего товары под таможенную процедуру таможенного склада и осуществляющего их хранение в местах, не являющихся таможенными складами</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="NotifDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата подачи уведомления</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReportRegNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер отчета</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Organization" type="rgncwc:OrganizationInfoType">
						<xs:annotation>
							<xs:documentation>Сведения об организации / физическом лице</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Customs" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Таможенный орган подачи уведомления</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ApplicantSignature" type="cat_ru:PersonSignatureType">
						<xs:annotation>
							<xs:documentation>Сведения о заявителе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CancelReason" type="clt_ru:FreeText500Type" maxOccurs="2">
						<xs:annotation>
							<xs:documentation>Причина отмены</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AttachedDocuments" type="rgncwc:DocumentInfoType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Приложенные документы</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1004167E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="OrganizationInfoType">
		<xs:annotation>
			<xs:documentation>Сведения об организации / физическом лице</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:RUOrganizationType">
				<xs:sequence>
					<xs:element name="ApplicantType" type="clt_ru:DigitalIndicatorType">
						<xs:annotation>
							<xs:documentation>Тип заявителя (1 - юридическое лицо, 2 - индивидуальный предприниматель, 3 – физическое лицо)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DocumentInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о документе</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="DocCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код вида документа (заполняется в соответствии с классификатором видов документов, используемых при заявлении сведений в графе 44 ДТ)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ArchDeclID" type="clt_ru:ArchiveDeclarantIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Уникальный идентификатор декларанта в Электронном Архиве Декларанта</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ArchID" type="clt_ru:DocumentIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Уникальный идентификатор архива декларанта (используется при запросе документа из архива)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ArchDocID" type="clt_ru:DocumentIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Уникальный идентификатор документа в архиве (используется при запросе документа из архива)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ArchDocumentID" type="clt_ru:ArchiveDocumentIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Уникальный идентификатор документа (используется при запросе документа из архива)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ArchDocStatus" type="clt_ru:ArchStatusCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Статус документа в архиве</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ArchDocDate" type="clt_ru:DateTimeCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата/время помещения документа в архив (последнего изменения документа)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PrDocumentTerm" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Срок действия документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocumentModeID" type="clt_ru:DocumentModeIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код вида представленного документа в соответствии с альбомом форматов электронных форм документов</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
