XsltProcessor/xsd/5.27.0/ReportResultsDocInspection.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--ОТМЕНА Приказа ФТС России № 1560 от 25 августа 2009 года Об утверждении Порядка проведения проверки документов и сведений после выпуска товаров и (или) транспортных средств. Вместо Акта - Докладная записка-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:rrdi="urn:customs.ru:Information:CustomsAuditDocuments:ReportResultsDocInspection:5.27.0" targetNamespace="urn:customs.ru:Information:CustomsAuditDocuments:ReportResultsDocInspection:5.27.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.27.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:annotation>
		<xs:documentation>Докладная записка по результатам проверки таможенных, иных документов и (или) сведений</xs:documentation>
	</xs:annotation>
	<xs:element name="ReportResultsDocInspection" type="rrdi:ReportResultsDocInspectionType">
		<xs:annotation>
			<xs:documentation>Докладная записка по результатам проверки таможенных, иных документов и (или) сведений</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ReportResultsDocInspectionType">
		<xs:annotation>
			<xs:documentation>Докладная записка по результатам проверки таможенных, иных документов и (или) сведений</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="CustomsName" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Таможенный орган проведения проверки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DepartmentName" type="clt_ru:Text150Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Наименование подразделения, должностное лицо которого составило докладную записку</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HeadOrDeputyHead" type="cat_ru:PersonSignatureType">
						<xs:annotation>
							<xs:documentation>Начальник (заместитель начальника) таможенного органа, либо лицо, им уполномоченное</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocNumber" type="clt_ru:Text50Type">
						<xs:annotation>
							<xs:documentation>Номер документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StartControlDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата начала проведения проверки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FinishControlDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата окончания проведения проверки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ActPlace" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Место составления Акта</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PostControlNumber" type="rrdi:ActNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер Постконтроль</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VerifiedPerson" type="rrdi:VerifiedPersonType">
						<xs:annotation>
							<xs:documentation>Наименование и местонахождение проверяемого лица</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CheckDirections" type="rrdi:CheckDirectionsType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Направления проверки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InteractionSign" type="clt_ru:CodeVariable5Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Признак взаимодействия</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MainInteractionSign" type="clt_ru:CodeVariable5Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Основной признак взаимодействия</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PreviousDocDocDetails" type="rrdi:PreviousDocDocDetailsType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Номера таможенных деклараций либо документов иной формы, представленных при таможенном оформлении (Объекты контроля - правонарушения)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocumentRequest" type="RUScat_ru:DocBaseV4Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Документы, запрошенные таможенным органом при проверке</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Actions" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Мероприятия таможенного контроля, проведенные при осуществлении проверки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ResultsDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата результата проверки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ResultsDescription" type="clt_ru:FreeText500Type" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>В ходе проверки установлено </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ViolationsSign" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак выявленных нарушений: 0 - нарушения не выявлены, 1 - выявлены нарушения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ConclusionsAndOffers" type="rrdi:ConclusionsAndOffersType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Выводы и предложения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsPersons" type="rrdi:CustomsPersonType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Должностные лица, проводившие проверку</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsHeadPersons" type="cat_ru:PersonSignatureType">
						<xs:annotation>
							<xs:documentation>Начальник структурного подразделения таможенного органа, проводившего проверку, либо лицо его замещающее</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006950E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы.</xs:documentation>
	</xs:annotation>
	<xs:complexType name="ActNumberType">
		<xs:annotation>
			<xs:documentation>Номер Акта проверки документов и сведений после выпуска товаров и (или) транспортных средств</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsSubCode" type="clt_ru:Code3Type">
				<xs:annotation>
					<xs:documentation>Код структурного подразделения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата составления</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SerialNumber" type="clt_ru:Code5Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер по журналу регистрации</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CheckDirectionsType">
		<xs:annotation>
			<xs:documentation>Направления проверки</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CheckDirectionsCode" type="clt_ru:CodeVariable2Type">
				<xs:annotation>
					<xs:documentation>Код направления проверки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CheckDirectionsName" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Описание проверки</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConclusionsAndOffersType">
		<xs:annotation>
			<xs:documentation>Выводы и предложения</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ConclAndOffersText" type="clt_ru:FreeText250Type" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Описание выводов и предложений</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NeedSendActSign" type="clt_ru:LetterIndicatorType" minOccurs="0" maxOccurs="4">
				<xs:annotation>
					<xs:documentation>Признак необходимости направить докладную записку и материалы проверки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActionsSign" type="clt_ru:LetterIndicatorType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Признак необходимости проведения мероприятий: 1 - внесение изменений в нормативные правовые акты; 2 - разработка проекта профиля риска и ориентировки; 3 - назначение проведения таможенной ревизии</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomsPersonType">
		<xs:annotation>
			<xs:documentation>Лицо, проводившее проверку</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:PersonBaseType">
				<xs:sequence>
					<xs:element name="StructuralSubdivision" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Структурное подразделение</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DTNumberInfoType">
		<xs:annotation>
			<xs:documentation>Информация о ДТ</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:GTDIDType">
				<xs:sequence>
					<xs:element name="DeclarationKind" type="clt_ru:CodeVariable3Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Вид таможенной декларации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsNumeric" type="clt_ru:Count5Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Номер товара в ДТ</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PreviousDocDocDetailsType">
		<xs:annotation>
			<xs:documentation>Предшествующие документы</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsDeclarationIdDetails" type="rrdi:DTNumberInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Регистрационный номер таможенной декларации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherDocDetails" type="cat_ru:DocumentBaseType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Номер иного документа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VerifiedPersonFLType">
		<xs:annotation>
			<xs:documentation>Сведения о проверяемом физическом лице</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PersonSurname" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Фамилия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonName" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Имя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonMiddleName" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отчество</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VerifiedPersonType">
		<xs:annotation>
			<xs:documentation>Сведения о проверяемом лице</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="VerifiedPersonYUL" type="rrdi:VerifiedPersonYULType">
					<xs:annotation>
						<xs:documentation>Сведения о проверяемом юридическом лице</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="VerifiedPersonFL" type="rrdi:VerifiedPersonFLType">
					<xs:annotation>
						<xs:documentation>Сведения о проверяемом физическом лице</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="OGRN" type="clt_ru:OGRNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОГРН/ОГРНИП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INN" type="clt_ru:INNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ИНН</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KPP" type="clt_ru:KPPCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>КПП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="RUScat_ru:RUAddressType">
				<xs:annotation>
					<xs:documentation>Место государственной регистрации (для ЮЛ)/ Место регистрации или постоянного проживания (для ФЛ)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FactAddress" type="RUScat_ru:RUAddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Фактическое местонахождение (для ЮЛ)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Passport" type="RUScat_ru:RUIdentityCardType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Паспортные данные лица (для ФЛ)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VerifiedPersonYULType">
		<xs:annotation>
			<xs:documentation>Сведения о проверяемом юридическом лице</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrganizationName" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Наименование организации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShortName" type="clt_ru:ShortNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Краткое наименование организации</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
