XsltProcessor/xsd/5.27.0/ReqOperations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Приказ ФТС от 07.12.2020 № 1067 "Об утверждении форм документов, составляемых таможенными органами при проведении и по результатам проведения отдельных форм таможенного контроля и мер, обеспечивающих проведение таможенного контроля"-->
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:reqop="urn:customs.ru:Information:CustomsDocuments:ReqOperations:5.24.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:ReqOperations:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Требование/Заявление о проведении операций в отношении товаров и  транспортных средств</xs:documentation>
	</xs:annotation>
	<xs:element name="ReqOperations" type="reqop:ReqOperationsType">
		<xs:annotation>
			<xs:documentation>Требование/Заявление о проведении операций в отношении товаров и  транспортных средств</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ReqOperationsType">
		<xs:annotation>
			<xs:documentation>Требование/Заявление о проведении операций в отношении товаров и  транспортных средств</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="ReqNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер заявления / требования</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReqDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата требования</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocSign" type="clt_ru:Numeric1Type">
						<xs:annotation>
							<xs:documentation>Признак документа: 0 - Требование; 1 - Заявление</xs:documentation>
						</xs:annotation>
					</xs:element>					
					<xs:element name="Customs" type="cat_ru:CustomsType">
						<xs:annotation>
							<xs:documentation>Сведения о таможенном органе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Declarant" type="reqop:DeclarantType">
						<xs:annotation>
							<xs:documentation>Сведения о декларанте, ином лице, обладающем полномочиями в отношении товаров и (или) транспортных средств, и их представителей.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Transportation" type="reqop:OperationsType">
						<xs:annotation>
							<xs:documentation>Перевозка (транспортировка)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Weighing" type="reqop:OperationsType">
						<xs:annotation>
							<xs:documentation>Взвешивание</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DifferentDefinitionQuantity" type="reqop:OperationsType">
						<xs:annotation>
							<xs:documentation>Иное определение количества товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Loading" type="reqop:OperationsType">
						<xs:annotation>
							<xs:documentation>Погрузка</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Unloading" type="reqop:OperationsType">
						<xs:annotation>
							<xs:documentation>Разгрузка</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Overload" type="reqop:OperationsType">
						<xs:annotation>
							<xs:documentation>Перегрузка</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CorrectionPackaging" type="reqop:OperationsType">
						<xs:annotation>
							<xs:documentation>Исправление поврежденной упаковки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Unpacking" type="reqop:OperationsType">
						<xs:annotation>
							<xs:documentation>Вскрытие упаковки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Packing" type="reqop:OperationsType">
						<xs:annotation>
							<xs:documentation>Упаковка</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Repackaging" type="reqop:OperationsType">
						<xs:annotation>
							<xs:documentation>Переупаковка</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OpeningLocationGoods" type="reqop:OperationsType">
						<xs:annotation>
							<xs:documentation>Вскрытие помещений, емкостей и других мест,  где находятся или могут находиться товары</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DivisionConsignment" type="reqop:OperationsType">
						<xs:annotation>
							<xs:documentation>Разделение товарной партии по отдельным видам и (или) наименованиям товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TermDate" type="clt_ru:DateTimeCustType">
						<xs:annotation>
							<xs:documentation>Срок исполнения требования</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsPerson" type="reqop:CustomsPersonType">
						<xs:annotation>
							<xs:documentation>Должностное лицо таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PersonSignature" type="reqop:PersonSignatureType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Подпись лица, получившего требование</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DirectionRequirement" type="reqop:DirectionRequirementType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>При направлении требования по почте или иным способом</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006135E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="CustomsPersonType">
		<xs:annotation>
			<xs:documentation>Должностное лицо таможенного органа</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="reqop:PersonBaseType">
				<xs:sequence>
					<xs:element name="SigningDateTime" type="clt_ru:DateTimeCustType">
						<xs:annotation>
							<xs:documentation>Дата и время направления требования</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeclarantType">
		<xs:annotation>
			<xs:documentation>Сведения о декларанте, ином лице, обладающем полномочиями в отношении товаров и (или) транспортных средств, и их представителей.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrganizationName" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Наименование организации / ФИО физического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="RFOrganizationFeatures" type="cat_ru:RFOrganizationFeaturesType">
					<xs:annotation>
						<xs:documentation>Сведения об организации. Особенности Российской Федерации</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RKOrganizationFeatures" type="cat_ru:RKOrganizationFeaturesType">
					<xs:annotation>
						<xs:documentation>Сведения об организации. Особенности Республики Казахстан</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RBOrganizationFeatures" type="cat_ru:RBOrganizationFeaturesType">
					<xs:annotation>
						<xs:documentation>Сведения об организации. Особенности Республики Беларусь</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RAOrganizationFeatures" type="cat_ru:RAOrganizationFeaturesType">
					<xs:annotation>
						<xs:documentation>Сведения об организации. Особенности Республики Армения</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="KGOrganizationFeatures" type="cat_ru:KGOrganizationFeaturesType">
					<xs:annotation>
						<xs:documentation>Сведения об организации. Особенности Кыргызской Республики</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="Representative" type="cat_ru:OrganizationBaseType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Представитель</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DirectionRequirementType">
		<xs:annotation>
			<xs:documentation>При направлении требования по почте или иным способом</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MethodDirection" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Способ направления требования</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateDirection" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата направления требования</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsPerson" type="reqop:PersonBaseType">
				<xs:annotation>
					<xs:documentation>Должностное лицо, направившее требование</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="cat_ru:AddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OperationsType">
		<xs:annotation>
			<xs:documentation>Перечень операций в отношении товаров и транспортных средств</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="clt_ru:IndicatorType">
				<xs:annotation>
					<xs:documentation>Значение: 0 или false - нет, 1 или true - да</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Remark" type="clt_ru:FreeText500Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Пояснение к проводимым операциям и/или детальное описание конкретных действий, которые требуется провести</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonBaseType">
		<xs:annotation>
			<xs:documentation>Базовый класс для указания сведений о должностном лице. ФИО, должность</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PersonSurname" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Фамилия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonName" type="clt_ru:NameType">
				<xs:annotation>
					<xs:documentation>Имя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonMiddleName" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отчество</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonSignatureType">
		<xs:annotation>
			<xs:documentation>Подпись</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="reqop:PersonBaseType">
				<xs:sequence>
					<xs:element name="IssueDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата подписания (получения требования)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
