XsltProcessor/xsd/5.27.0/STZ_Migrant_NotifReg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Приказ Минфина России от 30.11.2023 № 190н "Об утверждении порядка подачи физическими лицами, ранее постоянно проживавшими на территории Магаданской области или территориях Южно-Курильского, Курильского и Северо-Курильского городских округов Сахалинской области и переселившимися с территории Магаданской области или территорий Южно-Курильского, Курильского и Северо-Курильского городских округов Сахалинской области на постоянное место жительства на остальную часть территории Российской Федерации или в иное государство - член Евразийского экономического союза, а также военнослужащими и должностными лицами федеральных органов исполнительной власти Российской Федерации, убывающими с территории Магаданской области или территорий Южно-Курильского, Курильского и Северо-Курильского городских округов Сахалинской области на новое место службы, заявления о завершении действия таможенной процедуры свободной таможенной зоны в отношении товаров, указанных в пункте 1 статьи 65'1 Федерального закона от 31 мая 1999 г. №104-ФЗ «Об Особой экономической зоне в Магаданской области и на территориях Южно-Курильского, Курильского и Северо-Курильского городских округов Сахалинской области», формы такого заявления, а также формы решения таможенного органа о приобретении такими товарами статуса товаров Евразийского экономического союза и порядка их заполнения" -->
<!--Приказ Минфина России от 30.11.2023 № 191н «Об утверждении порядка подачи физическими лицами, ранее постоянно проживавшими на территории Калининградской области и переселившимися с территории Калининградской области на постоянное место жительства на остальную часть территории Российской Федерации или в иное государство - член Евразийского экономического союза, а также военнослужащими и должностными лицами федеральных органов исполнительной власти Российской Федерации, убывающими с территории Калининградской области на новое место службы, заявления о завершении действия таможенной процедуры свободной таможенной зоны в отношении товаров, указанных в части 1 статьи 16.4 Федерального закона от 10 января 2006 г. № 16-ФЗ "Об Особой экономической зоне в Калининградской области и о внесении изменений в некоторые законодательные акты Российской Федерации", формы такого заявления, а также формы решения таможенного органа о приобретении такими товарами статуса товаров Евразийского экономического союза и порядка их заполнения» -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:stzm_nr="urn:customs.ru:Information:ExchangeDocuments:STZ_Migrant_NotifReg:5.24.0" targetNamespace="urn:customs.ru:Information:ExchangeDocuments:STZ_Migrant_NotifReg:5.24.0" elementFormDefault="qualified" version="5.24.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Сведения о регистрации Заявления о завершении действия таможенной процедуры СТЗ в отношении товаров и ТС в связи с переселением лица на постоянное место жительства на остальную часть территории Российской Федерации или в иное государство-член Евразийского экономического союза</xs:documentation>
	</xs:annotation>
	<xs:element name="STZ_Migrant_NotifReg" type="stzm_nr:STZ_Migrant_NotifRegType">
		<xs:annotation>
			<xs:documentation>Сведения о регистрации Заявления о завершении действия таможенной процедуры СТЗ в отношении товаров и ТС в связи с переселением лица на постоянное место жительства на остальную часть территории Российской Федерации или в иное государство-член Евразийского экономического союза</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="STZ_Migrant_NotifRegType">
		<xs:annotation>
			<xs:documentation>Сведения о регистрации Заявления о завершении действия таможенной процедуры СТЗ в отношении товаров и ТС в связи с переселением лица на постоянное место жительства на остальную часть территории Российской Федерации или в иное государство-член Евразийского экономического союза</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="RegDateTime" type="clt_ru:DateTimeCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата и время регистрации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="STZ_AppRegNumber" type="stzm_nr:RegistrationNumberType">
						<xs:annotation>
							<xs:documentation>Регистрационные реквизиты Заявления о завершении действия таможенной процедуры СТЗ в отношении товаров и ТС в связи с переселением на ПМЖ (Магадан, Курилы, Калининград)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Customs" type="cat_ru:CustomsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Таможенный орган</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1060030E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы.</xs:documentation>
	</xs:annotation>
	<xs:complexType name="RegistrationNumberType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер документа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата регистрации документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="clt_ru:CodeVariable10Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocKind" type="clt_ru:CodeVariable5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Четвертая часть регистрационного номера документа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
