XsltProcessor/xsd/5.27.0/STZ_DecisionProlongOrCancelPermit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Приказ Минфина России № 37н от 01.04.2024 "Об утверждении форм заявлений, форм разрешений таможенного органа на совершение операций, предусмотренных подпунктами 1, 2 и 5 пункта 4 статьи 205 Таможенного кодекса Евразийского экономического союза, а также формы уведомления об отказе в выдаче разрешения на совершение операций, предусмотренных подпунктом 5 пункта 4 статьи 205 Таможенного кодекса Евразийского экономического союза"-->
<!--Приказ Минфина России № 42н от 11.04.2024 "Об утверждении форм заявлений, форм разрешений, формы уведомления об отказе в выдаче разрешения на совершение операций, предусмотренных подпунктами 1, 2 и 5 пункта 4 статьи 205 Таможенного кодекса Евразийского экономического союза, и порядков заполнения указанных форм"-->
<!--Приказ Минфина России № 102н от 29.06.2023 "Об утверждении форм заявлений на совершение операций, форм разрешений таможенного органа на проведение операций, форм уведомлений об отказе в выдаче разрешения, предусмотренных частями 25 - 30 и 35 статьи 20 Федерального закона от 24 июня 2023 г. № 266-ФЗ "О свободной экономической зоне на территориях Донецкой Народной Республики, Луганской Народной Республики, Запорожской области и Херсонской области", и порядков заполнения указанных форм"-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:RUScat_ru="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" xmlns:stz_dpcp="urn:customs.ru:Information:ExchangeDocuments:STZ_DecisionProlongOrCancelPermit:5.27.0" targetNamespace="urn:customs.ru:Information:ExchangeDocuments:STZ_DecisionProlongOrCancelPermit:5.27.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.27.0.0">
	<xs:import namespace="urn:customs.ru:RUSCommonAggregateTypes:5.24.0" schemaLocation="RUSCommonAggregateTypes.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Сообщение о продлении срока или аннулировании  разрешения таможенного органа на совершение операций, предусмотренных подпунктами 1, 2 и 5 пункта 4 статьи 205 Таможенного кодекса Евразийского экономического союза</xs:documentation>
	</xs:annotation>
	<xs:element name="STZ_DecisionProlongOrCancelPermit" type="stz_dpcp:STZ_DecisionProlongOrCancelPermitType">
		<xs:annotation>
			<xs:documentation>Сообщение о продлении срока или аннулировании  разрешения таможенного органа на совершение операций, предусмотренных подпунктами 1, 2 и 5 пункта 4 статьи 205 Таможенного кодекса Евразийского экономического союза</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="STZ_DecisionProlongOrCancelPermitType">
		<xs:annotation>
			<xs:documentation>Сообщение о продлении срока или аннулировании  разрешения таможенного органа на совершение операций, предусмотренных подпунктами 1, 2 и 5 пункта 4 статьи 205 Таможенного кодекса Евразийского экономического союза</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="Customs" type="cat_ru:CustomsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о таможенном органе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Resident" type="stz_dpcp:ResidentType">
						<xs:annotation>
							<xs:documentation>Сведения о лице, которому направляется сообщение</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Operation" type="clt_ru:LetterIndicatorType">
						<xs:annotation>
							<xs:documentation>Тип операции: 1 - аннулирование разрешения; 2 - продление срока действия разрешения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AppRegNumber" type="stz_dpcp:RegistrationNumberType">
						<xs:annotation>
							<xs:documentation>Номер поданного заявления на совершение операций</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PermitRegNumber" type="stz_dpcp:RegistrationNumberType">
						<xs:annotation>
							<xs:documentation>Регистрационный номер полученного Разрешения таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaperSign" type="clt_ru:IndicatorType">
						<xs:annotation>
							<xs:documentation>Основание для решения: 0 - ЭД заявление; 1 - заявление на бумаге</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:choice>
						<xs:element name="CancelPermit" type="stz_dpcp:CancelPermitType">
							<xs:annotation>
								<xs:documentation>Решение по аннулированию</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Prolong" type="stz_dpcp:ProlongType">
							<xs:annotation>
								<xs:documentation>Решение по продлению</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:element name="Notes" type="clt_ru:FreeText500Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Примечание</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsPerson" type="cat_ru:PersonSignatureType" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Должностное лицо таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1060058E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="CancelPermitType">
		<xs:annotation>
			<xs:documentation>Решение по аннулированию</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DecisionCancelPermit" type="clt_ru:IndicatorType">
				<xs:annotation>
					<xs:documentation>Решение: 0- аннулирование разрешено; 1 - в аннулировании отказано</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CancelReasonRefus" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Причина отказа в аннулировании</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProlongType">
		<xs:annotation>
			<xs:documentation>Решение по продлению</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DecisionProlong" type="clt_ru:IndicatorType">
				<xs:annotation>
					<xs:documentation>Решение: 0- продление разрешено; 1 - в продлении отказано</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtImpTerm" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Срок, до которого продляется срок вывоза товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProlongReasonRefus" type="clt_ru:FreeText500Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Причина отказа в продлении срока</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegistrationNumberType">
		<xs:annotation>
			<xs:documentation>Регистрационный номер документа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата регистрации документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="clt_ru:CodeVariable10Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocKind" type="clt_ru:CodeVariable5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Четвертая часть регистрационного номера документа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResidentCertificateType">
		<xs:annotation>
			<xs:documentation>Сведения о включении в реестр резидентов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CertificateNumber" type="clt_ru:DocumentNumberType">
				<xs:annotation>
					<xs:documentation>Номер свидетельства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата выдачи свидетельства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateValidity" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Срок действия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateAgency" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование органа, выдавшего свидетельство</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResidentType">
		<xs:annotation>
			<xs:documentation>Сведения о резиденте</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RUScat_ru:SubjectDetailsType">
				<xs:sequence>
					<xs:element name="ResidentCertificate" type="stz_dpcp:ResidentCertificateType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Cвидетельство о включении в реестр резидентов</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
