XsltProcessor/xsd/5.27.0/TROISIntellectualPropertyReq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Приказ ФТС России № 131 от 28 января 2019 года Об утверждении Административного регламента Федеральной таможенной службы по предоставлению государственной услуги по ведению таможенного реестра объектов интеллектуальной собственности -->
<xs:schema xmlns:iprq="urn:customs.ru:TROISIntellectualPropertyReq:5.25.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" targetNamespace="urn:customs.ru:TROISIntellectualPropertyReq:5.25.0" elementFormDefault="qualified" version="5.25.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Запрос актуальных данных из реестра «ТРОИС»</xs:documentation>
	</xs:annotation>
	<xs:element name="TROISIntellectualPropertyReq" type="iprq:TROISIntellectualPropertyReqType">
		<xs:annotation>
			<xs:documentation>Запрос актуальных данных из реестра «ТРОИС»</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="TROISIntellectualPropertyReqType">
		<xs:annotation>
			<xs:documentation>Запрос актуальных данных из реестра «ТРОИС»</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="OISRegNum" type="iprq:stringMaxLength-25" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Регистрационный номер ОИС по ТРОИС</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ApplicationRegNumber" type="iprq:stringMaxLength-50" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер заявления на включение</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReqOrganization" type="cat_ru:OrganizationBaseType" minOccurs="1">
						<xs:annotation>
							<xs:documentation>Сведения об организации, сформировавшей запрос</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReqPerson" type="cat_ru:PersonBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о лице, сформировавшем запрос</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReqDate" type="clt_ru:DateTimeCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата и время направления запроса</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006374E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные комплексные типы</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="stringMaxLength-25">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringMaxLength-50">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
