XsltProcessor/xsd/5.27.0/VeterinaryCertificate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.24.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.10.0" xmlns:verc="urn:customs.ru:Information:SertifDocuments:VeterinaryCertificate:5.25.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:SertifDocuments:VeterinaryCertificate:5.25.0" elementFormDefault="qualified" version="5.25.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.10.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.24.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Ветеринарный сертификат</xs:documentation>
	</xs:annotation>
	<xs:element name="VeterinaryCertificate" type="verc:VeterinaryCertificateType">
		<xs:annotation>
			<xs:documentation>Ветеринарный сертификат</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="VeterinaryCertificateType">
		<xs:annotation>
			<xs:documentation>Ветеринарный сертификат</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="UUID" type="clt_ru:DocumentIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор цепочки обмена сообщениями</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SpecialNotes" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Особые отметки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DateCertf" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата составления сертификата</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NumberForm" type="clt_ru:CodeVariable3Type">
						<xs:annotation>
							<xs:documentation>Номер формы </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Route" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Маршрут следования</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProductOrigin" type="clt_ru:Text50Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Происхождение продукции (Страна происхождения)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DateManufactur" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата выработки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DeemedFit" type="clt_ru:Numeric1Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признано годным для : 1- реализации без ограничений; 2- реализации с ограничением; 3- переработки; 4-  использование без ограничений; 5 - использование с ограничением</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CauseRestrictions" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Причина ограничения при реализации или использовании</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Examination" type="clt_ru:DigitalIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Проведение экспертизы: 0 - подвергнута ветеринарно-санитарной экспертизе в полном объеме, 1 - изготовлена из сырья, прошедшего ветеринарно-санитарную экспертизу</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ImportingCountry" type="clt_ru:CountryNameType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Страна - импортер</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReasonSending" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о причине отправки животных (для откорма, разведения, убоя и т.д)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LocationCU" type="clt_ru:Numeric1Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Животные находились на територрии ТС: 1- с рождения, 2- не менее 6 месяцев, 3 - более 6 месяцев</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TimeLocation" type="clt_ru:Count2Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Время нахождения в месяцах</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BorderOffice" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Пункт пропуска через таможенную границу</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExportTerrAuthority" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Административно-территориальная единица страны-экспортера</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IssueOrganization" type="verc:IssueOrganizationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Наименование юридического лица или ф.и.о. физического лица, которому выдали сертификат</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProductInfo" type="verc:ProductInfoType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о продукции/животном</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Manufacturer" type="verc:ManufacturerType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Производитель продукции</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Sender" type="cat_ru:OrganizationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Отправитель</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Location" type="verc:LocationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Местонахождение продукции/животного/Место составления сертификата</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Receiver" type="cat_ru:OrganizationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Получатель</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ShippingDocuments" type="cat_ru:DocumentBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Транспортные документы</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Quarantine" type="verc:QuarantineType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Карантинирование</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ResearchLaboratory" type="verc:ResearchLaboratoryType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Исследование в лаборатории</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Immunization" type="verc:ProcessingType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Иммунизация</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProcessingParasites" type="verc:ProcessingType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Обработка против паразитов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PersonSignature" type="cat_ru:PersonSignatureType">
						<xs:annotation>
							<xs:documentation>Подпись лица, выдавшего сертификат</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MarkInspection" type="verc:MarkInspectionType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Отметки о ветеринарно-санитарном осмотре при погрузке, в пути следования и на месте назначения</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransportInfo" type="verc:TransportInfoType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о транспорте</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WellBeingInfo" type="verc:WellBeingInfoType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о благополучии (местности, хозяйства)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RegistrationInfo" type="verc:RegistrationInfoType">
						<xs:annotation>
							<xs:documentation>Сведения о регистрации</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1009012E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="DescriptionType">
		<xs:annotation>
			<xs:documentation>Описание</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Quantity" type="clt_ru:QuantityBasisType">
				<xs:annotation>
					<xs:documentation>Мест(штук)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Weight" type="clt_ru:WeighQuantityType">
				<xs:annotation>
					<xs:documentation>Вес</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LocationType">
		<xs:annotation>
			<xs:documentation>Местонахождение продукции/животного/Место составления сертификата</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PlaceLocation" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Местонахождение  продукции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="cat_ru:AddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IssueOrganizationType">
		<xs:annotation>
			<xs:documentation>Производитель продукции</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:OrganizationBaseType">
				<xs:sequence>
					<xs:element name="IssueGuid" type="clt_ru:DocumentIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор заявителя в реестре РСХН</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ManufacturerType">
		<xs:annotation>
			<xs:documentation>Производитель продукции</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:OrganizationType">
				<xs:sequence>
					<xs:element name="OwnersManufacturer" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Ф.И.О. владельца предприятия выработки</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MarkInspectionType">
		<xs:annotation>
			<xs:documentation>Отметки о ветеринарно-санитарном осмотре при погрузке, в пути следования и на месте назначения</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DateInspection" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата осмотра</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NamePlace" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Наименование пункта, где проводился ветеринарный осмотр (изъятие)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ViewedProducts" type="verc:DescriptionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Осмотрено продуктов,сырья</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QuantitySeized" type="verc:DescriptionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество изъятых продуктов, сырья, в т.ч. из-за недоброкачественности, порчи и др.           </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QuantityPermitted" type="verc:DescriptionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество продуктов, сырья, разрешенных к дальнейшему следованию </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonSignatureInspection" type="cat_ru:PersonSignatureType">
				<xs:annotation>
					<xs:documentation>Подпись должностного лица, производившего осмотр</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProcessingType">
		<xs:annotation>
			<xs:documentation>Обработка</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NameProcessing" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Наименование обработки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateProcessing" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата обработки</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о продукции/животном</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ProductName" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Наименование продукции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductMark" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Маркировка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductPacking" type="clt_ru:Text50Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Упаковка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sex" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Пол</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Breed" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Порода</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Age" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Возраст</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IDNumber" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификационный номер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Brand" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Клеймо (номер, форма)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NickName" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Кличка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Weight" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес, кг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductQuantity" type="cat_ru:SupplementaryQuantityType">
				<xs:annotation>
					<xs:documentation>Количество продукции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodeWithinPermit" type="clt_ru:Text4Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Шифр груза</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductType" type="clt_ru:Numeric1Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Тип продукции: 1 - Мясо и мясопродукты; 2 - Корма и кормовые добавки; 3 - Живые животные; 4 - Лекарственные средства; 5 - Пищевые продукты; 6 - Непищевые продукты и другое; 7 - Рыба и морепродукты; 8 - Продукция, не требующая разрешения</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QuarantineType">
		<xs:annotation>
			<xs:documentation>Карантинирование</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PlaseQuarantine" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Место карантинирование</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumberDays" type="clt_ru:Count2Type">
				<xs:annotation>
					<xs:documentation>Количество дней</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegistrationInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о регистрации</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PermitUUID" type="clt_ru:DocumentIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор ветеринарного разрешения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationNumber" type="clt_ru:DocumentIDType">
				<xs:annotation>
					<xs:documentation>Регистрационный номер</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IssueDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дату выдачи сертификата</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TerritorialAuthority" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Наименование территориального органа Россельхознадзора / Учреждение страны - экспортера, выдавшее сертификат</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompetentAuthority" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Компетентное ведомство страны - экспортера</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IssueCountry" type="clt_ru:CountryNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Страна, выдавшая сертификат</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IssueCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код alpha-2 страны, выдавшей сертификат</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResearchLaboratoryType">
		<xs:annotation>
			<xs:documentation>Исследование в лаборатории</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NameLaboratory" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Наименование лаборатории</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumberExamination" type="clt_ru:Count5Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер экспертизы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateExamination" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата экспертизы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MethodExamination" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Метод исследования</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SickName" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование болезни</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResultExamination" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Результат экспертизы</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransportInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о транспорте</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TransportName" type="clt_ru:TransportNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование вида транспортного средства.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportNumber" type="clt_ru:TransportMeansIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер транспортного средства, название судна, номер авиарейса, номер вагона.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportModeCode" type="clt_ru:TransportModeCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код вида транспортного средства по классификатору видов транспорта и транспортировки товаров.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportMeansNationalityCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Буквенный код страны принадлежности транспортного средства по общероссийскому классификатору стран мира.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WellBeingInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о благополучии (местности, хозяйства)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TermWellBeing" type="clt_ru:Count2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Срок благополучия.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnitTermWellBeing" type="clt_ru:Text10Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Единица измерения срока благополучия.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DescriptionWellBeing" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Описание благополучия</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
